[2017-03-16 14:35] khenderick commented on #1530
If we created a namespace, we don't have to set the role to slave for that namespace on that client. So better keep track of "fresh" namespaces so we can prevent having to set the role.

[2017-03-16 14:39] redlicha commented on #1530
`get_role` should not take long either, i.e. it does not have to wait for the background task.

[2017-03-16 15:06] jeroenmaelbrancke opened #1531 "KeyError operation when running vpool.statistics"
When running vpool.statistics with the famous statsmonkey i received the following error.
This is on the OVH env with following patch #1486

[code]

On the Webapp-api service i saw the same error:

[code]

[2017-03-16 15:12] JeffreyDevloo commented on #1219
### Validation
Test: https://github.com/openvstorage/integrationtests/pull/460
### Observations
- Failover occurs within the same domain
- Configs :
[code]

### Test result
Matches with the description of the ticket.
Test passed.
[code]

[2017-03-16 15:12] #1219 closed, assigned to nobody

[2017-03-20 09:07] jeroenmaelbrancke opened #1533 "storagrouter is not part of vpool error"
On OVH we received this error for the last 3 vpool installation.

packages (some scripts are manually patched:
[code]

ovs worker error:
[code]

[2017-03-20 10:27] saelbrec opened #1534 "Multi-snapshot-deletion support for /api/vpools/<vpool_guid>/remove_snapshots/"
Request to support the deletion of multiple snapshots for a vdisk in 1 call.
The mandatory param in other words becomes:
`snapshot_mapping`: A dict where the key is a vDisk guid and the value is a list of snapshot_id's to be deleted.

[2017-03-20 13:03] JeffreyDevloo opened #1536 "Attribute error of paramiko after ovs setup"
### Problem description
After the setup had been fully completed on my last node of the 3 node setup, I got the following exception:
[code]
Other than that I have no idea why it went wrong. I've done the setup many times over and over using my VMs snapshots and it is the first time I have seen it.

The install was complete, asd manager aswell.
The error just seems to scare me as it had no impact.

[2017-03-20 13:16] wimpers commented on #1533
fixed in 2.7.13-ish

[2017-03-20 13:16] #1533 closed, assigned to nobody

[2017-03-20 13:24] wimpers commented on #1511
Add API to cleanup directory or a parameter

[2017-03-20 13:30] wimpers commented on #1506
Discussion from the BAM: show warning and expose as API

[2017-03-20 13:35] wimpers commented on #1496
Hi @horakmar, thank you for the patch. The hardware you have is too old to support/patch the code in that way. Hence the decision to close with won't fix. Also we don't have that type of hardware in our lab which makes it hard for us to make sure it would keep working down the line.  Maybe an option is to create a udev rule?

[2017-03-20 13:38] wimpers commented on #1490
@khenderick please make sure there is an escalation path in place.

[2017-03-20 13:46] wimpers commented on #1466
We don't want to offer an APi to setup external Arakoons.

[2017-03-20 13:51] #1496 closed, assigned to nobody

[2017-03-20 13:51] #1466 closed, assigned to JeffreyDevloo

[2017-03-20 15:21] saelbrec opened #1539 "Set default values for vpool trigger and backoff gaps according to configured global buffer size"
Currently these gap settings don't scale upwards. Vpools with large(r) write buffers should get better protection against running full by being triggered to clean up earlier and more agressive.
To accomplish this we could use a % of the configured global writebuffer with upper boundaries:
* `trigger_gap`: 8%
* `backoff_gap`: 10%
* where the `upper_boundaries` is the % equivalent of a 500GB global

[2017-03-20 16:18] khenderick commented on #1534
#1537 -> openvstorage-2.7.14
#1538 -> openvstorage-2.8.0-dev.1490021732.46a050c

[2017-03-20 16:18] khenderick commented on #1539
#1540 -> openvstorage-2.7.14
#1541 -> openvstorage-2.8.0-dev.1490025857.b17e3de

[2017-03-20 17:02] JeffreyDevloo opened #1542 "Ovs remove node gave 'Failed to forget RabbitMQ cluster node'"
### Problem description
Removing a master node from my cluster was successful however some issues got logged along the way.
The most unfamiliar to me: Failed to forget RabbitMQ cluster node

#### What happened
- Started with a 3 master node cluster, nothing was configured on it (just ran ovs setup on 3 machines)
- Selected a random one to be removed
- Encountered the error as shown above

**All no

[2017-03-21 02:00] hoannv46 opened #1543 "Creating backends concurrently sometimes fails"
Hi all.
I install openvstorage on ubuntu 16.04.01 LTS  wtih kernel :

ii openvstorage-backend 1.7.10.1-1 amd64 openvStorage Backend plugin
ii openvstorage-backend-core 1.7.10.1-1 amd64 openvStorage Backend plugin core
ii openvstorage-backend-webapps 1.7.10.1-1 amd64 openvStorage Backend plugin Web Applications
ii openvstorage-core 2.7.10.1-1 amd64 openvStorage core
ii openvstorage-hc 1.7.10.1-1 am

[2017-03-21 09:50] kvanhijf commented on #1513
@openvstorage/qa : Timeout has been removed for create_clone_from_template

https://github.com/openvstorage/framework/pull/1544 --> openvstorage-2.8.0-dev.1490089007.e2e4906

[2017-03-21 12:34] kvanhijf commented on #1507
@openvstorage/qa :
Only places for which there was room for optimizations were:
* VDiskController.create_snapshots
* VDiskController.delete_snapshots
A long running environment should have a lot less of the snapshotInfo calls in the logging after applying this fix.

https://github.com/openvstorage/framework/pull/1545 --> openvstorage-2.8.0-dev.1490098833.9bf7619

[2017-03-21 13:01] wimpers commented on #1495
@JeffreyDevloo , @khenderick do we want to keep this one open as I believe we haven't seen this lately right? I suggest we close it and re-open if needed.

[2017-03-21 13:07] JeffreyDevloo commented on #1495
Last incident of the same issue was yesterday. But I agree to reopen with more input.

[2017-03-21 13:09] wimpers commented on #1495
Well in that case, let's keep it open and update with the necessary info.

[2017-03-21 13:14] JeffreyDevloo commented on #1495
Hehe, the keyword was yesterday as in I lost the info :)

[2017-03-21 13:53] kvanhijf commented on #1531
@openvstorage/qa :
Creating a vPool using the GUI and keeping the developer tools console open always showed this KeyError, so this should no longer show any issues

https://github.com/openvstorage/framework/pull/1546 --> openvstorage-2.8.0-dev.1490103650.b2ff39b

[2017-03-21 15:26] khenderick commented on #1449
Naming:
* Repo name: `hprm-manager`
* Package name: `hprm-manager`
* Service name: `hprm@vpool_name`
* Folder: `/etc/hprm/...`

[2017-03-21 16:20] kvanhijf commented on #1449
Note to self:
https://github.com/openvstorage/alba_ee/pull/5/files#diff-b53421daab15a979ab25d71014c66f62
For information about pracc config

[2017-03-23 13:45] jeroenmaelbrancke opened #1553 "vPool in installing state when unable to find requested nr of free ports"
When installing a vPool and there are no free ports the vPool is still in installing status.
Can you please check this before installing the vPool and return an error to the gui with the issue?

[code]

[2017-03-23 14:04] jeroenmaelbrancke commented on #1553
Check also the free ports for the proxies before creating the vpool.
https://github.com/openvstorage/framework/blob/2.7.10.1/ovs/lib/storagerouter.py#L623

Maybe you can lock the ports when you install the vpool to prevent other processes taking the ports.

[2017-03-24 03:50] hoannv46 opened #1554 "Config abm cluster authentication failed , worng parameter."
Hi all.
I config cluster ABM use guide https://openvstorage.gitbooks.io/administration/content/Installation/geoscalegettingstarted.html#creating-cluster-abm-optional
My ipython command.

If i run ipython ovs by root user.

    326             raise ValueError('Cluster type {0} is not supported. Please choose from {1}'.format(cluster_type, ', '.join(ServiceType.ARAKOON_CLUSTER_TYPES)))
    327

[2017-03-24 07:23] kvanhijf commented on #1554
Hi,

First of all 'plugins' should be a dictionary instead of a list, so it
should become {'albamgr_plugin': ''}
The value in the dictionary is useless for you, its something we require
for ourselves internally

And secondly, the fact that the code manages to be executed by 'ovs' user
and not by 'root', suggest that the SSH keys for the root user, have not
been exchanged properly?

Hope this helps

[2017-03-24 08:05] hoannv46 commented on #1554
Hi @kvanhijf
I sure ssh key added to /opt/OpenvStorage/.ssh/authorized_keys in each server.
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDYdBDt0BDFw3Z8C8DdC4Gj0aPa1ThCiLYBbpWTfMmdqw== ovs@ovs-performance-1

(I removed some text because it too long)

[2017-03-24 08:23] hoannv46 commented on #1554
I recheck. It is my mistake, i recreate keygen.
This command is running.
Thanks @kvanhijf .

[2017-03-24 08:23] #1554 closed, assigned to nobody

[2017-03-24 15:42] matthiasdeblock commented on #1511
For your information:

When GIG is executing their tests they create / remove / create / ... a lot of vdisks. As they create the vdisks with a directory structure and just remove the vdisk and not the directory, you get, after some time, a large filesystem metadata DB which can cause a freeze of a 'ls' of the mountpoint (and maybe other issues as well).

This week, a GIG environment had around 65k

[2017-03-24 15:45] jeroenmaelbrancke opened #1555 "DTL status is not correct"
There is a problem with the dtl_status.
The DTL status on different components are differents.

volumedriver status:
[code]

framework status:
[code]
while healthcheck reported checkup_required (same method as above)
VDisk nvmecor3-disk6s DTL has an unknown status: checkup_required

GUI status:
[code]

[2017-03-25 01:46] hoannv46 opened #1556 "Extend cluster abm failed"
Hi all.
After change parameter to fix error in [https://github.com/openvstorage/framework/issues/1554](url) (should update document install cluster),
i run extend cluster. It has error

I

Thanks.

[2017-03-27 06:40] kvanhijf commented on #1556
Hi,

In the previous ticket you created, you specified following IP:
ip = "10.3.105.132"

In your current parameters you specified 10.3.105.137 as your master IP and
not 10.3.105.132.
Is this correct?

The master IP should be the IP on which you have created the arakoon
cluster.

Hope this helps

On Sat, Mar 25, 2017 at 2:47 AM, hoanhdo <notifications@github.com> wrote:

[2017-03-27 07:17] matthiasdeblock commented on #1513
Create_new is also suffering on this:
[code]

[2017-03-27 07:17] jeroenmaelbrancke commented on #1513
ovs-workers:
[code]

volumedriver logging:
[code]

[2017-03-27 07:20] kvanhijf commented on #1513
An older comment of @openvstorage/operations was:

But this can't be the case for `create_volume` right? So i'd assume the reason for the timeout being reached is something else?

[2017-03-27 07:27] hoannv46 commented on #1556
Hi.
It correct because i reinstall this cluster. Ip cluster changed.
I installed openvstorage in cloud server to test feature.
Thanks

[2017-03-27 07:32] khenderick commented on #1513
@matthiasdeblock, @jeroenmaelbrancke, if this is an issue and you want it to be fixed, better create a new ticket as this one is already completed. Just adding comments about possible other issues on an already implemented ticket can cause confusion.

[2017-03-27 07:35] khenderick commented on #1556
@hoanhdo, please note that it's not advised to use the `ArakoonInstaller` directly. It's internal code and might change between versions without notice or backwards compatibility. Please only use the API for integrations. If you would need specific functionality you can always file feature requests to expose certain functionality via the API.

[2017-03-27 07:37] khenderick commented on #1400
openvstorage-2.8.0

[2017-03-27 07:37] khenderick commented on #1507
openvstorage-2.8.0

[2017-03-27 07:38] khenderick commented on #1513
openvstorage-2.8.0

[2017-03-27 07:38] khenderick commented on #1516
openvstorage-2.8.0

[2017-03-27 07:38] khenderick commented on #1522
openvstorage-2.8.0

[2017-03-27 07:39] khenderick commented on #1531
openvstorage-2.8.0

[2017-03-27 07:40] khenderick commented on #1472
openvstorage-2.7.13

[2017-03-27 07:43] hoannv46 commented on #1556
@khenderick
I install following guide [https://openvstorage.gitbooks.io/administration/content/Installation/geoscalegettingstarted.html#creating-cluster-abm-optional](url).
I will use api.
Thanks

[2017-03-27 08:11] JeffreyDevloo commented on #1390
### Validation
Test introduced by https://github.com/openvstorage/integrationtests/pull/421 no longer fails on
- Fargo
- Unstable
- Development
- Staging

Therefore I am closing this ticket

### Test result
Test passed.

[2017-03-27 08:11] #1390 closed, assigned to kinvaris, JeffreyDevloo

[2017-03-27 09:29] jeroenmaelbrancke opened #1557 "XMLRPC timeout when creating new volume"
Same issue as #1513 but now for creating a new volume.

Code:
[code]

ovs-workers logging:
[code]

volumedriver logging:
[code]

[2017-03-27 09:40] hoannv46 commented on #1556
I run swagger-ui-2.2.10.
I don't see api to create asm and nsm cluster like following guide.
[https://openvstorage.gitbooks.io/administration/content/Installation/geoscalegettingstarted.html#creating-cluster-abm-optional](url)

[https://openvstorage.gitbooks.io/administration/content/Installation/geoscalegettingstarted.html#creating-cluster-nsm-optional](url)

[2017-03-27 09:49] wimpers commented on #1556
client.post(api='alba/backends', data=json.dumps({'backend_guid':
<backend_guid>, 'scaling': 'LOCAL', 'abm_cluster':
'external-abm-cluster-2', 'nsm_clusters':
['external-nsm-cluster-1']}))

On Mon, Mar 27, 2017 at 11:40 AM, hoanhdo <notifications@github.com> wrote:

--
Kind regards,
Wim Provoost
Product Manager Open vStorage

[2017-03-27 10:14] kvanhijf commented on #1556
@hoanhdo : We actually don't expose the functionality to create / extend Arakoon clusters via the APIs.
If you create a Backend using the API, we deploy and extend the required Arakoon clusters for you, on the master nodes having a DB role. You can then deploy additional NSM clusters using the 'alba/backends/expand_nsm_clusters' API.
If you want to create/extend your own Arakoonclusters, as @khend

[2017-03-27 10:20] redlicha commented on #1557
VolumeDriver issue: cancellation of the MDS slave (started on volume creation) as part of promoting it to master takes long: https://github.com/openvstorage/volumedriver/issues/298

[2017-03-27 10:25] wimpers commented on #1557
Still to be discussed in BAM if anything on the framework needs top happen.

[2017-03-27 11:01] hoannv46 commented on #1556
@kvanhijf
How i can test this feature :(.
I don't want  create many routers

[2017-03-27 16:48] saelbrec opened #1559 "Scrub enhancements"
- [x] Allow and correctly handle scrubbing multiple vdisks(of the same or different vpool) on the same storagerouter simultaneously. Code inspection revealed that we need to further investigate and fix potential issue in the proxy cleanup section of scrub job where the first one upon completion kills the proxy for all other remaining instances.

Depending on the work involved, we can do following

[2017-03-28 09:41] khenderick opened #1560 "Update can't handle EE package names"
Update can't handle EE package names

[2017-03-28 10:37] khenderick commented on #1560
Related change to be implemented: The framework packages should not ship the release name, shifting the responsibility of naming a release up the chain.

[2017-03-29 10:33] khenderick commented on #1559
At this point, all disks to be scrubbed are put in a queue. A number of "stacks" are created (a "stack" being a combination of vPool/StorageRouter) and they are processing this same queue simultaneously. Every stack sets up its Proxy and removes it once the queue is empty. The issue is that if a given stack is executed multiple times, they will conflict each other.

What look to me like the safe o

[2017-03-29 10:40] kvanhijf commented on #1449
@openvstorage/qa : Once the volumedriver team delivers a pracc'able package, you can test the following:
* Create a (or more) vPool(s)
* On vPool detail page --> mgmt tab, click the middle button (Generate HPRM config files)
* Follow the guidelines in the wizard (Copy the .tgz file to the node running qemu)
* Once the pracc service is up and running, ask the volumedriver what to do next :)

PS: Ni

[2017-03-29 13:27] kvanhijf opened #1563 "Extend ensure single decorator in DEDUPED mode with max parallel jobs counter"
Our ensure single decorator in DEDUPED mode ensures that jobs with identical parameters are executed serially. But when these jobs are executed with different parameters, the jobs are executed in parallel, making it possible to exhaust certain resources.
Eg: We have a 'scrub_single_vdisk' job, which could in theory be launched for every vDisk in parallel, probably causing an overload on the Storag

[2017-03-30 08:51] wimpers commented on #1559
@khenderick will this be part of RC4?

[2017-03-30 08:53] khenderick commented on #1559
No, it will be part of Gilbert 2.8.1.

[2017-03-30 09:25] khenderick commented on #1560
#1561 -> openvstorage-2.8.1-dev.1490864871.094dd12
openvstorage/framework-alba-plugin#390 -> openvstorage-backend-1.8.1-dev.1490864954.3893e93
openvstorage/alba-asdmanager#237 -> openvstorage-sdm-1.7.1-dev.1490865036.92b2713

[2017-03-30 09:27] khenderick commented on #1560
@openvstorage/qa The release name as displayed in `Administration -> Support` is fetched from the package sources. If the repo is called `foo`, the displayed release name will be `Foo`. It can be manually changed by creating the file `/opt/OpenvStorage/config/release_name`. If it exists, its content will be used instead.

[2017-03-30 09:28] khenderick commented on #1560
It is not possible to automatically install e.g. an available `volumedriver-ee-server` if `volumedriver-no-dedup-server` is installed. The framework's updater won't "see" that update.

[2017-03-31 11:21] JeffreyDevloo commented on #1495
Happened once more:

Got these logs

[code]

[2017-03-31 12:19] JeffreyDevloo commented on #1495
Closing as it was a fault on our end and we made wrong assumption.

[2017-03-31 12:43] khenderick commented on #1495
Opening up again, as this issue isn't resolved yet.

[2017-03-31 12:47] khenderick commented on #1495
From @wimpers

Sorry, closing again.

[2017-03-31 12:47] #1495 closed, assigned to kinvaris, JeffreyDevloo

[2017-03-31 13:59] kvanhijf commented on #1559
openvstorage-2.8.1-dev.1490966663.561c40e

@openvstorage/qa :
New API call on vPools: scrub_multiple_vdisks. Takes a list of vdisk_guids as parameter and the vpool they belong to. This allows a user to scrub multiple vdisks simultaneously.

Also the amount of simultaneous scrub jobs per SCRUB partition can now be configured (default 2)
This could proof useful for dedicated SCRUB nodes
To configure

[2017-03-31 14:12] khenderick opened #1568 "Watcher do not restart workers after failure"
As reported by @dejonghb, we saw an environment where none of the RMQ nodes were available from one node. The watcher detected that and stopped all framework services. After a while, one of the RMQ nodes came back, and the watcher started again. However, it seems it did not start the workers again (but it did start all other services).

[2017-03-31 14:20] khenderick commented on #1568
Also saw this but with ovs-webapp-api. Maybe systemd doesn't always do the restart dependencies?

[2017-04-03 09:52] wimpers commented on #1327
Maybe per vDisk?

[2017-04-03 09:58] JeffreyDevloo opened #1569 "Only update to a specific version"
### Enhancement description
The version to update to should be determined and  this version should be the one that will be installed on all nodes.
In this way we can avoid version mismatches.

[2017-04-03 12:01] khenderick commented on #1559
openvstorage-2.8.1

[2017-04-03 12:04] khenderick commented on #1560
openvstorage-2.8.1
openvstorage-backend-1.8.1
openvstorage-sdm-1.7.1

[2017-04-03 12:58] JeffreyDevloo commented on #1021
### Summary
Validated together with https://github.com/openvstorage/framework/issues/1134
### Test result
Test passed.

[2017-04-03 12:58] #1021 closed, assigned to nobody

[2017-04-03 15:43] kvanhijf commented on #1484
@openvstorage/qa :
Partitions with WRITE role will be excluded if:
* Available space is < 1 GiB
* Available space < 5% of largest WRITE partition

Examples:
* Example1:
  * Partition 1: 100 GiB
  * Partition 2: 50 GiB
  * Partition 3: 500 MiB
  * Partitions 1 and 2 will be used for SCO caches, partition 3 is not used because smaller than 1 GiB
* Example 2:
  * Partition 1: 500 GiB
  * Partition 2:

[2017-04-04 07:34] pploegaert opened #1573 "Integrate statsmonkey into framework"
As discussed and agreed upon, statsmonkey should be moved from the operations monitoring repo to the framework repo

This will allow:
- to avoid update issues as observed on ovh
- to pre-validate / test statsmonkey/framework combination before installation
- recycle/optimize  stats data already available via the framework

[2017-04-04 07:38] pploegaert opened #1574 "Transfer healthcheck to framework team"
As agreed upon:

Healthcheck logic/maintenance to be transferred to framework team.
- investigate/review code/repo
- keep separate repo/pkg?
- concerns? code changes required?

[2017-04-04 07:40] khenderick commented on #1574
When we start on this migration, we need to make sure we free up a few weeks to check/review code, split up content, change dependencies (or move them to packages), deduplicate code and streamline the workflow.

[2017-04-04 07:55] kvanhijf commented on #1511
As discussed with @redlicha, this is an issue which should be addressed by letting the framework use the voldrv API, but due to lack of any exposed functionality in the volumedriver to do these kind of actions, we need to wait for the volumedriver to expose this.
@redlicha please notify us when it has been exposed (unlink in the FileSystemMetadataClient)

[2017-04-04 07:59] JeffreyDevloo opened #1575 "Do allow concurrent vpool jobs"
### Problem description
Vpool jobs can be run concurrently and can lead to potential problems (similar to the backend ticket - the vpool being in installing mode forever)

[2017-04-04 08:46] pploegaert opened #1576 "Provide an optional tools pkg useful for debugging environments"
Placeholder for further discussion, not necessarily part of the fwk itself.

Possible solution: create new openvstorage-tools pkg with dependencies on:

- gdb
- vim
- smartmontools
- htop
- iotop
- lsscsi
- iperf
- sysstat

[2017-04-04 08:48] redlicha commented on #1576
* perf: comes with the linux-tools-* packages (common + matching one for the kernel)

[2017-04-04 11:19] kvanhijf commented on #1490
@openvstorage/qa :
Sync job has been scheduled to run every hour 24/7/365 at half past the hour
When a vDisk is created or removed due to inconsistencies, we report: OVS_WARNING: \<message\>

https://github.com/openvstorage/framework/pull/1577 --> openvstorage-2.8.2-dev.1491303859.9ee8628

[2017-04-04 11:32] wimpers commented on #1490
@matthiasdeblock @jeroenmaelbrancke  please create the necessary rules to monitor this event in check_MK(?) so this doesn't go below the radar.

[2017-04-04 11:33] kvanhijf commented on #1490
Already created a ticket in monitoring repository, but forgot to link it, so here it is
https://github.com/openvstorage/openvstorage-monitoring/issues/129

PS: Code is still on our develop branch

[2017-04-04 13:38] kvanhijf commented on #1524
@openvstorage/qa :
vDisk detail page now displays both server and client IPs + port
vDisk overview page also has edge information (tooltip on edge client column), but here we still kept the client info only

https://github.com/openvstorage/framework/pull/1578 --> openvstorage-2.8.2-dev.1491312226.16a8369

[2017-04-04 14:08] wimpers opened #1579 "vDisk cache management"
Currently the fragment cache and cache settings (cache on write, read, write/read) are set per storage router. With this ticket we want to allow to set the cache settings per vdisk and define the amount/% of fragment cache a vDisk can occupy.

[2017-04-05 07:07] openvstorage-ci commented on #1543
This issue was moved to openvstorage/framework-alba-plugin#394

[2017-04-05 07:07] #1543 closed, assigned to nobody

[2017-04-05 15:38] kvanhijf opened #1580 "API rate limitation on certain (or all) API calls"
We have API rate limitation available in our code, but we hardly apply it on any API calls. In order for users not to abuse our product or protect themselves against errors in their scripts, we should apply rate limitation to most or all API calls

[2017-04-06 07:36] wimpers commented on #1573
Should also tackle https://github.com/openvstorage/openvstorage-monitoring/issues/132 turning the statsmonkey service into a celery task.

[2017-04-06 09:18] redlicha commented on #1511
StorageRouterClient.unlink now also allows the removal of empty directories. Available in the latest dev build on the 16.04 repo's unstable, with flavours to follow.

[2017-04-07 13:30] kvanhijf opened #1582 "DAL doesn't always catch up right away"
I've managed to reproduce this issue a couple of times now, but i have no idea when it will happen.
The problem is the following: I create 20 vPools simultaneously using the API. Once all vPools have status RUNNING, i delete all vPools again using the API (simultaneously).
Once all vPools have been cleaned up i start over again and when creating the vPools, sometimes i don't see the created vPools

[2017-04-07 13:52] jeroenmaelbrancke opened #1583 "Url redirection not correct in GUI from vpool to backend"
On OVH the redirection to the backend is on the storage ip instead of the public ip.
![url](https://cloud.githubusercontent.com/assets/2900612/24802969/06b7c1fe-1baa-11e7-84de-6d08cec1a716.png)

[2017-04-10 08:35] kvanhijf commented on #1575
@openvstorage/qa : As the title states, its obviously now possible to create multiple vPools simultaneously (GUI and API)

https://github.com/openvstorage/framework/pull/1581 --> openvstorage-2.8.2-dev.1491812208.82c2ec2
https://github.com/openvstorage/alba-asdmanager/pull/242 --> openvstorage-sdm-1.7.2-dev.1491812394.1e2c22b
https://github.com/openvstorage/framework-alba-plugin/pull/397 --> openv

[2017-04-11 09:53] JeffreyDevloo opened #1584 "Removing vpools concurrently failed with EOFError"
### Problem description
While removing two vpools at the same time I received the same exception for both of them:
[code]

The services have been removed.
[code]
[code]
On a side note: shrinking another vpool down from 4 storagedrivers to 1 gave no issues. Removing it finally gave of the same error again.

Vpools were in running state when they got removed.
Gui logged something along the lines of

[2017-04-11 11:20] kvanhijf commented on #1584
@JeffreyDevloo : Inspecting the code shows that its normal that the volumedriver service had already been stopped and removed at that point in the code
@redlicha : Any idea when `LocalStorageRouterClient.destroy_filesystem` can throw an EOFError?

[2017-04-11 11:54] JeffreyDevloo commented on #1584
### Update
Including proxy logs as the volumedriver one will not give us anymore insight.

[proxies.zip](https://github.com/openvstorage/framework/files/913057/proxies.zip)

[2017-04-11 12:08] redlicha commented on #1584
@kvanhijf : seeing that this involves RPyC: could the `EOFError` come from that?

[2017-04-11 12:29] kvanhijf commented on #1584
Executing this in a local context:
[code]

[2017-04-11 13:04] kvanhijf commented on #1584
Problem is in volumedriver. Related ticket: https://github.com/openvstorage/volumedriver/issues/309

[2017-04-11 15:32] jeroenmaelbrancke opened #1586 "multiple arakoon collapse tasks running on same node"
After restarting the ovs-workers we see multiple arakoon collapse tasks running on a node.
[code]

[2017-04-11 15:35] khenderick commented on #1586
Issue is that our `_ensure_single` doesn't survive a restart of the workers. The ensure single adds a key in arakoon to "lock" the task, but if for some reason the worker would be killed, this lock would not be removed. That is why a start of the workers will wipe out this key. This however is an issue if the workers on only one node are restarted since this might result in a task running twice af

[2017-04-11 15:36] khenderick commented on #1586
This will not only happen to the arakoon collapses, but can happen to all (scheduled) tasks: scrubbing, snapshotting, creating arakoon clusters, ...

[2017-04-12 09:59] khenderick commented on #1521
Fixed by #1587, packaged in openvstorage-2.8.2-dev.1491990304.58cff50

Implemented as a `features` dynamic property on `StorageRouter`. Upstream code can use these to make decisions.

Example outputs:

`{'alba': {'edition': 'enterprise', 'features': ['cache-quota']}}`

`{'alba': {'edition': 'community', 'features': []}}`

[2017-04-12 14:06] JeffreyDevloo commented on #1584
Fixed in the latest OSE 6.16.

[2017-04-12 14:06] #1584 closed, assigned to nobody

[2017-04-14 07:10] openvstorage-ci commented on #1449
This issue was moved to openvstorage/hprm-manager#5

[2017-04-14 07:10] #1449 closed, assigned to nobody

[2017-04-19 08:59] JeffreyDevloo opened #1589 "Hooks for integration tests"
### Feature description
To reproduce certain issue, it would useful to disable certain code paths.
We could use a configuration file to disable certain hooks.
For instance: being able to disable ensure_safety for vdisks to trigger an mds failover as working around is alot more work and more room for error

#### Hooks to be disabled
- ensure_single
- mds_checkup

[2017-04-19 09:08] kvanhijf commented on #1579
@openvstorage/qa :
Important!!!!!  This is not yet final, integration in framework has been completed, but integration with ALBA has NOT BEEN DONE yet

TODO: Add unittest for the monitoring part

Things to know:
* DAL changes:
  * vdisk.cache_quota is a new property, which is default None. When manually overriding the quota for this vDisk (using set_config_params), the property will be set (in Byt

[2017-04-19 13:39] kvanhijf commented on #1342
After discussion with @domsj , we should perhaps introduce functionality which detects an Arakoon node has been offline for too long and replacing it. When Arakoon clusters only have 2/3 nodes available for a long time, this might become dangerous.
However when a node is in maintenance mode, we could perhaps refrain from automatically recreating an optimal Arakoon cluster.... to be discussed?

Que

[2017-04-19 15:39] jeroenmaelbrancke opened #1590 "Add timeout parameter to the SSHClient"
Can you add a timeout parameter in SSHClient?
We use the SShClient run command to verify some stuff for the external arakoons but if one node is down we receive a timeout error.

It takes 248 sec before the timeout error appears.
[code]

[code]

[2017-04-19 15:52] matthiasdeblock opened #1591 "Removing a non-available ASD failed"
While removing a disk on OVH environment I received the following error message:
[code]

On both NVME nodes I've ran the nvmebackend maintenancer to initialize the disk but while running the nvmebackend maintenancer, the disk couldn't get removed (see the above error).

After some research it looked like all the maintenancers had to be started before I could remove the disks.

[2017-04-20 07:10] kvanhijf commented on #1590
Important remark:  Endpoint specified is an IP and not a StorageRouter

[2017-04-20 07:12] kvanhijf commented on #1591
Question is actually, do we need to block on this?  Can we assume the disk can safely be removed even though not all disks are marked as 'available'?

[2017-04-20 09:10] kvanhijf commented on #1511
@openvstorage/qa :
No API as requested has been provided, instead the framework does the cleaning
Eg:
/mnt/vpool1/map/submap/vd1.raw
/mnt/vpool1/map/vd2.raw
/mnt/vpool1/map/vd3.raw

When deleting vd1.raw, `submap` directory will be removed too, because its the last vdisk in that directory
When deleting vd2.raw, `map` directory will not be removed, because another vdisk is still in the directory

h

[2017-04-20 09:53] khenderick commented on #1586
#1594 -> openvstorage-2.8.2-dev.1492681177.e9d9c3a

[2017-04-20 10:08] JeffreyDevloo commented on #1456
### Validation
Attended setups are currently all passing since this change.
We have recently removed the downgrade to validate: https://github.com/openvstorage/setups/commit/52949ab6a25c13df28e496edeb761547addd34d3

### Test result
Test passed.

[2017-04-20 10:08] #1456 closed, assigned to pploegaert

[2017-04-20 12:04] khenderick commented on #1591
This is a safeguard against deleting ASDs that might belong to another backend, so I'd rather keep that in place. And at this point, we query alba for information about that ASD, so we can see whether it's available or not. We can always remove safety checks, but it will obviously less safe then.

@wimpers, @saelbrec, can you make a decision here?

[2017-04-20 12:05] khenderick commented on #1591
Removing the `type_bug` label as it's not a bug but a designed safety feature.

[2017-04-20 12:07] khenderick commented on #1590
Already available. Added by #1476 for openvstorage/alba-asdmanager#224 and packaged from openvstorage 2.7.13.

```def run(self, command, debug=False, suppress_logging=False, allow_nonzero=False, allow_insecure=False, return_stderr=False, timeout=None)```

[2017-04-20 12:19] domsj commented on #1591
I don't see how assuming the asd might belong to another backend when that backend explicitly tells you it doesn't know about this particular asd adds any safety?

[2017-04-20 12:21] khenderick commented on #1591
If we notice there are ASDs on a disk, and we can't figure out whether they belong to some backend, we don't want to wipe that disk.

[2017-04-20 12:27] khenderick commented on #1591
Let's keep this as a `type_enhancement`. Since alba 1.3.7 we can ask the ASD directly. Then we don't rely on the maintenance processes for this safety feature.

[2017-04-20 14:30] jeroenmaelbrancke commented on #1590
It's not the run method that timed out but the creation of the SSHClient.

[code]

[2017-04-20 14:30] khenderick commented on #1590
Sorry, I misunderstood the ticket.

[2017-04-21 08:40] wimpers opened #1596 "Automatically replace a broken Arakoon node"
Continuation of https://github.com/openvstorage/framework/issues/1342#issuecomment-295273509

from @kvanhijf

[2017-04-21 08:40] wimpers commented on #1342
@kvanhijf I will continue your thought in https://github.com/openvstorage/framework/issues/1596

[2017-04-21 09:19] wimpers commented on #1596
Some remarks:

- This will only work for Arakoons managed by OVS (not for external Arakoons)
- Maybe we can extend Arakoon so next to the 3 nodes there are 'empty nodes' which only catchup after X amount of time. These nodes could already be in the Arakoon config (this way we can use it for external Arakoons also).
- Automatically repairing the Arakoon should put a clear message in the logs

[2017-04-21 13:52] kvanhijf commented on #1349
Issue can actually still occur when a node is offline and removal is being postponed. In such case shrinking the vPool will still render the vPool unusable

Edit: Removing an online node, should indeed check whether the policies can still be satisfied

[2017-04-24 11:40] kvanhijf commented on #1536
https://github.com/paramiko/paramiko/issues/17
On the 8th of May 2015 @Kenneth replied to above issue and apparently its still not fixed.

[2017-04-24 14:57] openvstorage-ci commented on #1591
This issue was moved to openvstorage/framework-alba-plugin#401

[2017-04-24 14:57] #1591 closed, assigned to nobody

[2017-04-25 06:59] khenderick opened #1601 "Integrate block cache (quick integration)"
Urgent integration of block cache.

Assumptions that have to be made:
* Only be used with Enterprise Edition
* Backwards incompatible API
* No too much testing

We should ASAP make a better integration!

[2017-04-25 07:28] khenderick opened #1603 "Integrate block cache (full integration)"
Continuation of #1601. Now completely integrated.

[2017-04-25 08:21] khenderick commented on #1601
openvstorage-2.9.0

[2017-04-25 13:15] khenderick opened #1607 "Change some default values"
Change some default values

[code]

[2017-04-25 13:16] khenderick commented on #1607
openvstorage-2.8.2

[2017-04-25 14:27] khenderick commented on #1583
Is this a duplicate of #1416?

[2017-04-25 14:44] jeroenmaelbrancke commented on #1583
Yep, closing ticket.

[2017-04-25 14:44] #1583 closed, assigned to nobody

[2017-04-26 07:50] kvanhijf commented on #1536
Putting this in state question for now, so its no longer in our 'Open issues', because we're depending on a fix in paramiko

[2017-04-26 09:09] matthiasdeblock opened #1610 "Wrong output 'ovs monitor services'"
When running 'ovs monitor services' I get this output:
[code]

When running the code in the python shell I get this:
[code]

The second output is the correct one. The scrub process is running:
[code]

[2017-04-26 09:18] wimpers opened #1611 "Add vpool skips 3rd tab in the GUI"
When creating a new vPool through the GUI the 3rd tab is immediately skipped and you are presented with the  overview. Means you can't define default DTL mode or write buffer.

[2017-04-26 09:27] #1607 closed, assigned to nobody

[2017-04-26 09:45] jeroenmaelbrancke opened #1612 "Unable to create a backend with external arakoons"
I tried to created a Backend with external Arakoons and registered the nsms already on the ABM.
Before we create a backend, all the Arakoons were installed on the env.

Error ovs-workers:
[code]

example output:
[code]

[2017-04-26 09:48] jtorreke opened #1613 "Possibility to have the sshclient return the command's exit code"
The framework's sshclient does currently not return the exit code of the executed command. sshclient.run() accepts allow_nonzero=False, but there is no way to fetch the exit code when you set allow_nonzero to True. As the method itself has the exit code internally, should be fairly easy to return it in the results as well.

[2017-04-26 09:55] kvanhijf commented on #1612
As witnessed in the example output above, the problem exists in the fact that no backends can be created with a name shorter than any other already existing backend

Eg: Create backend 'backend1'
It will be impossible to create a backend with name 'backend' for example

[2017-04-26 10:11] kvanhijf commented on #1612
@openvstorage/qa : Execute code from 'example output' above to verify

https://github.com/openvstorage/framework/pull/1614 --> openvstorage-2.9.1-dev.1493276801.219a741
https://github.com/openvstorage/alba-asdmanager/pull/247 --> openvstorage-sdm-1.9.0-dev.1493276594.c2db63f

[2017-04-26 12:17] kvanhijf commented on #1557
Putting in state question for reason @wimpers said

[2017-04-26 12:23] kvanhijf commented on #1556
@hoanhdo : We do not expose any functionality, neither through API, nor through GUI to be able to determine where your ABM/NSM Arakoon clusters should reside.
Default its like this: Setting up 3 or more nodes will result in the first 3 nodes being MASTER nodes. Assigning a DB role (achieved via GUI or API) to any of the partitions on these nodes, will result in us deploying the Arakoon clusters on

[2017-04-26 14:27] saelbrec opened #1615 "Extend arakoonInstaller functionality with preferred_master capability"
In a setup where multi-dc vpools with global backends are used, it is for 1 dc fail safety recommended to spread your metadata server cluster across these datacenters as well.
But in most cases you still want 1 of these datacenter to be your primary one where as a consequence you want your arakoon master to be located.

[2017-04-26 15:52] matthiasdeblock opened #1616 "2 scrub proxies with the same ports assigned"
Version: 2.7.10.1-1 (RC3)

1 of the 2 scrub proxies aren't working.

[code]

[2017-04-27 07:20] #1612 closed, assigned to nobody

[2017-04-27 07:30] khenderick commented on #1611
It's not even merged in, you should not validate stuff on a dev env.

[2017-04-27 07:30] #1611 closed, assigned to nobody

[2017-04-27 07:55] wimpers commented on #1579
The vDisk cache quota is only integrated in the Open vStorage Enterprise Edition (EE). feature detection should detect if it is an EE or OSE version. In case it is an OSE version leave the fields in the GUI greyed out so people can see there is something but they can't use it.

Add a (?) Only  available in the Open vStorage Enterprise  Edition.

[2017-04-27 16:14] jtorreke opened #1617 "ArakoonClient does not report new master after re-election but still reports old one"
I found this whilst fiddling with the arakoon support tools part. The ArakoonClient does not report the current/new master after a re-election. The situation at the start:

In [68]: arakoonclient.whoMaster()
Out[68]: 'Zuaq8gS2erJqNM0N'

2017-04-27 17:59:41 026184 +0200 - ovs-node03-1604 - 6961/0000 - arakoon - 1467 - info - Zuaq8gS2erJqNM0N is master

After using the --drop-master functionality of

[2017-04-28 06:49] kvanhijf commented on #1617
[code]

In above snippet you can see that `determine_master` is only executed `if self.master_id is None`. So once you've determined the master, the same client instance will always return the same `whoMaster` output.
@toolslive , @khenderick : Don't know if this is by design or a bug

[2017-04-28 07:09] khenderick commented on #1617
After some discussions with @kvanhijf, he'd love to get to know pyrakoon a bit better.

[2017-04-28 07:12] kvanhijf commented on #1617
@khenderick , i think you misunderstood me, assigning to @domsj

[2017-04-28 07:52] toolslive commented on #1617
It can happen a client thinks the wrong node is master.
The next call that uses that assumed master node and needs it to be master will fail on server side,
and that exception should be picked up by the client which should then correct its inner state.
Thus far, the reported behaviour does not look like a bug.

https://github.com/openvstorage/pyrakoon/blob/0adf7aecef833a0fd85e6529d1a8d6188d1fecaa/

[2017-04-28 12:45] khenderick commented on #1616
Please re-try with >= 2.8.1 Version 2.7.10 is almost 4 months old, and there have been quite some changes to various parts of the scrubber distribution logic. Feel free to re-open the ticket if you can reproduce.

[2017-04-28 12:45] #1616 closed, assigned to nobody

[2017-04-28 12:51] khenderick commented on #1610
@matthiasdeblock, a few questions:
* Can you give the exact command you executed in the python shell
* Did you ran both at the same time?

`ovs monitor services` executes `from ovs.extensions.services.service import ServiceManager; ServiceManager.monitor_services()`, so I wonder where the difference is.

[2017-04-28 15:07] JeffreyDevloo commented on #1239
Closing it down as we are currently tackling bigger features than buttons that fetch a config.

[2017-04-28 15:07] #1239 closed, assigned to nobody

[2017-04-28 15:11] JeffreyDevloo commented on #1251
Closing it down as the linked ticket has also been solved.
Suspected that the healthcheck (burn it at the stake!) was also behind the issue which was the cause of #1390

[2017-04-28 15:11] #1251 closed, assigned to kinvaris

[2017-04-28 15:18] JeffreyDevloo commented on #1197
Specified behavior is covered by https://github.com/openvstorage/integrationtests/issues/493
Stealing should not occur but IO should be redirected instead.

[2017-04-28 15:18] #1197 closed, assigned to nobody

[2017-04-28 15:23] JeffreyDevloo commented on #1399
### Test result
Pretty picture and a peek to the future! oh wait, I'm just late...
![selection_133](https://cloud.githubusercontent.com/assets/17570109/25535417/438fa46e-2c37-11e7-9667-bce0f5257178.png)

[2017-04-28 15:23] #1399 closed, assigned to khenderick

[2017-05-02 08:05] JeffreyDevloo commented on #1427
### Test description
Adding, extending and shrinking the vpool.
Put some load on the vpool.
https://github.com/openvstorage/integrationtests/blob/master/ci/scenarios/vPool/add_remove_alba_vpool_test/main.py

This test has been running for a while and we did not encounter this issue any longer.

[2017-05-02 08:05] #1427 closed, assigned to khenderick

[2017-05-02 09:27] matthiasdeblock commented on #1610
@khenderick, these are the 2 lines I used:
[code]

[2017-05-02 09:31] khenderick commented on #1610
You should never use the `systemd` or `upstart` directly, but always go through the `ServiceManager`.

[2017-05-02 09:52] toolslive commented on #1617
note that `master_id` is a public attribute, and can be set to `None` prior to a `whoMaster()` call

[2017-05-02 09:53] wimpers commented on #1579
How does this relate to https://github.com/openvstorage/framework/issues/1603 ?

The block cache can be on a different ALBA backend (or even a directory).  Since the framework configures the block cache and the fragment cache on the same  backend and namespace. Does the vDisk quota than sets a limit on both the fragment + block cache together? Is there a way to set the quota on  block and fragment

[2017-05-02 11:31] kvanhijf commented on #1615
@openvstorage/qa :

Rename:
* /opt/OpenvStorage/ovs/extensions/db/arakoon/ArakoonInstaller.py --> /opt/OpenvStorage/ovs/extensions/db/arakoon/arakooninstaller.py

ArakoonNodeConfig class
* Initialization of an ArakoonNodeConfig instance has been extended with
  * fsync
  * log_level
  * tlog_compression
  * preferred_master

ArakoonClusterConfig class
* method `read_config`
  * param `contents` is

[2017-05-02 12:25] wimpers opened #1619 "Use a different namespace for fragment cache and block cache"
Use a different namespace for fragment cache and block cache even if you select the same backend for both.

[2017-05-02 12:26] wimpers commented on #1579
After discussion with @domsj @saelbrec @toolslive

please allow to set a quota for block cache and for the fragment cache. This should be tackled with https://github.com/openvstorage/framework/issues/1619

[2017-05-02 12:30] khenderick commented on #1619
@domsj, we don't set a namespace for any of these. Is this something we have to change?

[2017-05-02 12:33] domsj commented on #1619
namespace name is based on the prefix. the fwk chooses the same prefix for both block & fragment cache, which results in the same namespace being used for both.

[2017-05-02 12:38] wimpers opened #1620 "Allow a different nsm maxload for fragment/block namespaces"
Currently the limit of namespaces per NSM cluster is 75.  for block cache and fragment cache name namspaces this limit could be higher as they typically contain less fragments.

[2017-05-02 13:06] khenderick commented on #1619
Fixed in #1621, packaged in openvstorage-2.9.1 and openvstorage-2.9.2-dev.1493729927.7055282

[2017-05-03 13:47] kvanhijf opened #1623 "Make DTL assignment independent of vPool"
Currently the StorageRouter to which the DTL points for a vDisk, is always selected within the vPool to which the vDisk belongs.
According to @redlicha this is not a requirement.

voldrv doesn't care

We are maintaining this principle in the framework, because of the chance that 1 cluster can be used for several customers each owning their vPool in a specific vLAN.

PS: This ticket was created sol

[2017-05-04 08:02] jtorreke commented on #1617
Aha! This is useful information. Thanks, Romain!
I'll try to test this somewhere today.

[2017-05-04 11:41] matthiasdeblock opened #1624 "2 Scrub roles got assigned by using the API"
Version: openvstorage 2.8.2-1

2 Scrub roles got assigned by using the API.

[2017-05-05 10:11] JeffreyDevloo opened #1626 "Block linking a local backend with invalid preset on the API"
### Problem description
Linking a local backend to a global backend with a unsatisfied preset via the GUI will give off a false impression of the environment.
The linking will continue and be good but logs will show:
[code]

The GUI also performs this check:
![selection_136](https://cloud.githubusercontent.com/assets/17570109/25741636/d7c3cc6a-318b-11e7-867f-85e31946fbab.png)

### Packages
[code]

[2017-05-05 11:58] wimpers commented on #1617
@jtorreke  please close if validated

[2017-05-05 12:02] wimpers commented on #993
Related to https://github.com/openvstorage/framework/issues/1623 (Make DTL assignment independent of vPool )

[2017-05-05 12:40] jtorreke commented on #1617
For completeness' sake: self._client.master_id = None
But it seems to work. Thanks Romain!

[2017-05-05 12:40] #1617 closed, assigned to nobody

[2017-05-08 13:10] jeroenmaelbrancke opened #1630 "messagequeue overwritten by the ovs setup"
We tested the external Rabbitmq installation and this failed because the messagequeue we inserted was overwitten by the ovs setup.
https://github.com/openvstorage/framework/blob/develop/ovs/extensions/generic/configuration.py#L279

[code]

[2017-05-08 13:11] khenderick commented on #1630
Fixed by #1629, packaged in openvstorage-2.9.2

[2017-05-09 10:18] jeroenmaelbrancke opened #1632 "ignore nsm cluster if already present in the abm"
Readding a backend (delete, add) with external Arakoons ends up with errors:

[code]

You can fix this with checking the list-nsm-hosts on the abm and if not present register else return
[code]

[2017-05-09 12:37] pploegaert opened #1633 "Adding a preset with numbers only is allowed but causes a TypeError: expected string or buffer"
[code]

![screen shot 2017-05-09 at 14 33 14](https://cloud.githubusercontent.com/assets/8393135/25851112/bd80a490-34c4-11e7-88fc-1f93b4ce078d.png)

[2017-05-09 12:38] khenderick commented on #1633
The API does auto parameter resolving, so it sees the value is a number, so it converts it to a number.

[2017-05-09 15:53] kvanhijf commented on #1555
@openvstorage/qa : No idea how to reproduce this specific scenario, but we did make changes to DTL allocation
DTL allocation rules:
* First priority to StorageRouters located in the vDisk's StorageRouter's Recovery Domain
* Second priority to StorageRouters located in the vDisk's StorageRouter's Regular Domain
* If Domains configured, but no StorageRouters are found matching any of the Domains on

[2017-05-10 09:28] jeroenmaelbrancke opened #1635 "missing package openvstorage-sdm on a controller node"
When installing a controller node with openvstorage-backend (not openvstorage-hc) the refresh_package_information tasks error with missing package openvstorage-sdm...
This is normal because we are not using this node as a hc node.

packages:
[code]
[code]

[2017-05-10 10:05] jeroenmaelbrancke opened #1636 "browser cache not cleaned after entering the remote hosts credentials (linked backends)"
When i link a remote backend and fill in the form the next time the backends are shown as local backends.

remote backends:
![link_remote_backend](https://cloud.githubusercontent.com/assets/2900612/25893569/9d8851ba-3578-11e7-9cb7-4ac0af812346.png)

Canceled the form and try to link a backend again.
![link_local_backend](https://cloud.githubusercontent.com/assets/2900612/25893608/bd8ca3a8-3578-11e

[2017-05-15 11:33] khenderick commented on #1579
Fixed by #1637, packaged in openvstorage-2.9.3-dev.1494846888.b15c594

[2017-05-15 11:35] khenderick commented on #1603
Is codecomplete in the mean time.

[2017-05-15 12:46] JeffreyDevloo commented on #1372
### Information
The DTL role has been a prerequisite for our vpool test which also deploys a vdisk to write data upon it. DTL has been covered by the basic and advanced dtl test. These have been in the flow with the DTL role.
Changes that have been done on our side for implementing:
- https://github.com/openvstorage/automation-lib/pull/34/
- https://github.com/openvstorage/setups/pull/29

[2017-05-15 12:46] #1372 closed, assigned to nobody

[2017-05-16 09:33] JeffreyDevloo opened #1640 "Support sshconfig file in the sshclient"
### Feature description
When configuring server that have access to multiple other nodes using sshkeys, its mandatory to specify in the .ssh/config file which host is using which indentityfile.
These configs can be something as simple as:
[code]
or specified as:
[code]
I'd prefer the latter to be documented and used if we were to implement this.

This would require some reconfiguration to the SSHC

[2017-05-18 15:46] JeffreyDevloo opened #1645 "Create vdisks in bulk using API"
### Feature description
Allow the user to create multiple vdisks at once.

[2017-05-19 07:31] wimpers commented on #1645
@JeffreyDevloo do you have a specific use case in mind (needed for automated testing)?

[2017-05-22 08:31] JeffreyDevloo commented on #1645
Both for the Nuvolat setup as for our testing preparation this can be handy.
Nuvolat is currently preallocating x amount of disks, would be nice to do without a for loop :)

[2017-05-23 13:06] JeffreyDevloo opened #1646 "Move vdisks in bulk using API"
### Feature description
Relocate multiple vdisks at once using the api. Currently only one vdisk can be scheduled to be moved.

### Realistic use cases
- Volumedriver update requires all vdisks to be migrated to another volumedriver
- Maintenance requires a node to go down which has vdisks on it and those should be moved to another node

[2017-05-23 13:21] wimpers commented on #1646
@JeffreyDevloo how do you define where to move to? Randomly? A list of storage drivers? You might want to have more control over this.

We have played with the idea before when thinking about https://github.com/openvstorage/framework/issues/1342 .

[2017-05-23 13:24] kvanhijf commented on #1646
Could be a list of storagedrivers. If none selected, divide all disks over
possible storagedrivers. Otherwise distribute over selected storagedrivers

On Tue, May 23, 2017 at 3:21 PM, Wim Provoost <notifications@github.com>
wrote:

[2017-05-23 13:28] wimpers commented on #1646
Ok, let's say you define a list of SD. Maybe you want to take the amount of vDisks already being served into account or the amount of free write buffer.

Currently I'm more tending towards a list of vDisks and a single Storage Driver as to keep the flexibility.

[2017-05-23 13:39] kvanhijf commented on #1646
True, but isn't a good implementation always for 'later' ?

[2017-05-23 14:27] JeffreyDevloo commented on #1646
I was not leaning on any implementation as of yet. I was just requesting the possibility of such a call :)

[2017-05-23 14:51] jeroenmaelbrancke opened #1647 "dm-0 crypt device not recognized"
On the ovs gui we saw one node with 79 "disks" (most of them were md-0 devices)
We used a template with LVM and encryption to deploy all those nodes.
The encrypted partition called sda5_crypt and is used in /dev/disk/by-id (this is not a unique id).
Renaming this partition to an unique name solved the problem.

by-id output:
[code]

Changing the sda5_crypt name to a unique id solved the problem:
[

[2017-05-24 07:09] wimpers opened #1648 "Allow to update the fragment size of a preset through the GUI"
Allow to update the fragment size of a preset through the GUI.

[2017-05-24 12:24] jeroenmaelbrancke opened #1649 "API call /api/messages/6138427831... took 56.80 sec"
On the Nuvolat setup with  nodes the call https://172.17.16.22/api/messages/6138427831/wait/?message_id=6154&timestamp=1495627923608 took 56.80 sec

![dev_tools](https://cloud.githubusercontent.com/assets/2900612/26402755/d3f986f6-408b-11e7-900b-e3cd7223b9c1.png)

[2017-05-29 07:16] khenderick commented on #1649
That's long polling and takes between 0 and 60 seconds, that's perfectly normal.

[2017-05-29 07:16] #1649 closed, assigned to nobody

[2017-05-29 08:16] jeroenmaelbrancke opened #1650 "5 minutes to load the backend page"
On Nuvolat it takes 5 minutes to load one backend (asd/presets).

Please have a look at 172.17.16.22.

[2017-05-29 13:47] wimpers commented on #1650
When did you first notice this? # backends? # ASDs?

[2017-05-29 13:58] wimpers commented on #1636
@khenderick BAM aasumes it is a small fix. revert if not.

[2017-05-29 14:01] wimpers commented on #1635
@jeroenmaelbrancke  what is failing because of this? HC?

[2017-05-29 14:05] wimpers commented on #1633
Fix by disabling giving a number only name or if alba allows, change the API  parameter resolving.

[2017-05-29 14:13] wimpers commented on #1626
@khenderick did you end up with a usable backend. Since there are  "no satisfiable policy" messages probably not so the status success is wrong. We should add the check in the API also.

[2017-05-29 14:14] wimpers commented on #1624
@matthiasdeblock on the same disk? What does this break?

[2017-05-30 06:31] kvanhijf commented on #1624
@wimpers : Scrubbing won't start. The scrubbing process doesn't expect this and doesn't know where to execute the actual scrubbing.
And i think it was on the same StorageRouter, not on the same disk/partition

[2017-05-30 06:34] kvanhijf commented on #1635
@wimpers : The only thing that will fail because of this is retrieving the latest update information (and most likely the actual update too)

[2017-05-30 07:31] saelbrec commented on #1635
Next to fixing we need to document the steps/patches required to be able to execute an update.
@wimpers, I think we want to have this fixed in the upcoming update.

[2017-05-30 07:32] wimpers opened #1651 "Remove Remote Access functionality"
Since the Remote Access no longer is working/needed:
- Remove  Remote Access code
- Remove "Remote Access enabled" in the GUI

[2017-05-30 07:36] khenderick commented on #1651
It is working. But if not needed, we can indeed remove it.

[2017-05-30 07:45] jeroenmaelbrancke commented on #1650
On the nuvolat setup with +500 asds spread around 8 backends.

[2017-05-30 07:47] saelbrec commented on #1651
Let's give this some more thought before removing, it's not because we think it is useless for a certain type of installs tomorrow that the day after another opportunity is around the corner where we need to put it back in.
What's wrong with keeping it in and disabled for the installs that don't want to make use of it ?

[2017-05-30 08:09] matthiasdeblock commented on #1624
This was indeed on the same storagerouter but on 2 different disks.

[2017-05-30 08:45] saelbrec commented on #1624
In a setup where dedicated scrub nodes are used and can run multiple scrub jobs simultaneously it would make sense that we can use multiple devices(read: allow for multiple roles to be assigned and used).

[2017-05-30 09:23] khenderick commented on #1632
I'd rather not "fix" this, as our code should be in charge of registering nsm clusters with the abm once required. External clusters can be set up separately, and there are API calls to start using an NSM on a given ABM, and the framework will do all required actions.

[2017-05-30 09:44] khenderick commented on #1632
After some discussions with @wimpers, @jeroenmaelbrancke, @domsj just re-throw the error, but slightly more readable.

In the future, we might want to implement sth where NSMs can be removed again, and we can validate whether an NSM is already in use by some ABM, so we can be a bit smarter here.

[2017-05-30 15:40] jeroenmaelbrancke commented on #1282
Having the same problem on nuvolat setup.

[code]

[2017-05-30 15:48] khenderick commented on #1603
Was merged back by #1602, packaged in 2.9.4

[2017-05-30 15:53] khenderick commented on #1282
Is it possible that you did install something via pip that somehow pulled different versions over?

[2017-05-31 08:47] jeroenmaelbrancke commented on #1282
i was running celery flower, so maybe flower triggered these errors.

[2017-05-31 09:29] JeffreyDevloo commented on #1282
Celery version is 3.1.23-5, identical to all our other environments that are running.
The error shown in the logs is identical to the one that is thrown when trying to fetch some info from the celery commandline:
[code]
It must have been an external tool (like flower) that was asking for this information aswell that caused the errors.

[2017-05-31 10:04] JeffreyDevloo commented on #1521
### Information
We are currently relying on this features dynamic to be able to determine what ovs version we're working with.
We would see it if you would make some changes to this and thus have it covered!
Implementation: https://github.com/openvstorage/automation-lib/pull/40/

[2017-05-31 10:04] #1521 closed, assigned to nobody

[2017-06-01 07:59] JeffreyDevloo commented on #1524
### Information
These changes are purely cosmetic:
On the vdisk detail page: the server info has been added:
![selection_001](https://cloud.githubusercontent.com/assets/17570109/26670159/de1ae1f4-46b0-11e7-9541-0c9d8b3b281f.jpg)
On the popover on the vdisks page, nothing has changed:
![screenshot from 2017-06-01 09-54-50](https://cloud.githubusercontent.com/assets/17570109/26670188/07682f1c-46b1-1

[2017-06-01 07:59] #1524 closed, assigned to nobody

[2017-06-01 08:14] khenderick commented on #1650
The issue is more about the 60+ storagenodes in combination with near real-time status fields.

[2017-06-01 08:17] khenderick commented on #1650
Fixed by
* #1652, packaged in openvstorage-2.9.5
* openvstorage/framework-alba-plugin#412, packaged in openvstorage-backend-1.9.1

[2017-06-01 11:51] wimpers commented on #1620
It would be nice if these  could be a variable in the ovs config DB and make it dynamically reconfigurable.

[2017-06-01 11:57] wimpers commented on #1613
@khenderick how feasible is this request?

[2017-06-01 12:00] wimpers commented on #1610
@khenderick @matthiasdeblock  Can we reproduce this issue or was the scrubber not running.  Please advise what to do with the issue.

[2017-06-01 12:47] khenderick commented on #1613
Very

[2017-06-01 12:52] kvanhijf commented on #1613
This ticket can be closed as it was a very small fix, which has already
been done

On Thu, Jun 1, 2017 at 1:57 PM, Wim Provoost <notifications@github.com>
wrote:

[2017-06-01 12:54] kvanhijf commented on #1613
Nvm me, was confused with `return_stderr` which is already possible

On Thu, Jun 1, 2017 at 2:47 PM, Kenneth Henderick <notifications@github.com>
wrote:

[2017-06-01 13:15] wimpers opened #1654 "Scrubber should be able to work with 2 scrub disks"
This is a continuation from https://github.com/openvstorage/framework/issues/1624

In a setup where dedicated scrub nodes are used and can run multiple scrub jobs simultaneously it would make sense that we can use multiple devices(read: allow for multiple roles to be assigned and used).

[2017-06-01 13:16] wimpers commented on #1624
This ticket is to fix the API issue.

Making sure the scrubber can work with 2 scrubdisks will be picked up in https://github.com/openvstorage/framework/issues/1624

[2017-06-02 13:43] jeroenmaelbrancke opened #1656 "Change fragment/block cache backend on a vpool"
Is there an option to change the fragment/block cache backend via the gui?
If one cache backend is broken, can we move the vpool to another cache backend without removing the vpool?

[2017-06-06 09:11] khenderick opened #1657 "ovs remove nodes doesn't work"
ovs remove nodes doesn't work. It turns out the config arakoon is in a state where the clients can't find the master anymore they need to finish up the shrink sequence.

[2017-06-06 09:11] khenderick commented on #1657
[code]

[2017-06-06 09:25] jeroenmaelbrancke opened #1658 "Change storage router before the ips are loading result in wrong ip (create vpool)"
When changing the storage router while the ips are still loading result in a wrong list of ips.

Before the ips are loaded:
![wrong_ip](https://cloud.githubusercontent.com/assets/2900612/26822563/c430bc5c-4aaa-11e7-9479-ad18efb83464.png)

Waiting until the ips are loaded:

![correct_ip](https://cloud.githubusercontent.com/assets/2900612/26822567/c7021e58-4aaa-11e7-83da-1507d44714aa.png)

[2017-06-06 10:01] JeffreyDevloo commented on #1657
Does not work when downscaling from 2 to 1 master node

Following configurations do work however:
4 -> 3
3 -> 2

[2017-06-06 12:27] wimpers commented on #1624
@matthiasdeblock  can you reproduce this? What was the flow exactly? Did you call the API twice?

[2017-06-06 12:36] wimpers commented on #1582
@kvanhijf were you able to reproduce this for anything else than vPools? Does it also appear when creating vDisks?

[2017-06-06 12:38] wimpers commented on #1580
Would it be possible to allow administrators to do more  calls than 'normal' users?

[2017-06-06 12:41] wimpers commented on #1576
@jeroenmaelbrancke @jtorreke  @matthiasdeblock  aren't some  already part of the https://github.com/openvstorage/support-tools package or isn't that a package? Maybe take this request up there?

[2017-06-06 12:45] jtorreke commented on #1576
Most of those packages are included in the ansible install tools used for production environments. One of the first steps is to install these and then continue with the install of OVS.

[2017-06-06 12:46] wimpers commented on #1569
Should be tackled in the scope of a larger update ticket.

[2017-06-06 12:48] kvanhijf commented on #1582
@wimpers I have not tried reproducing this for anything else besides vPools. Should i?

[2017-06-06 12:49] kvanhijf commented on #1580
This would be a change to block abusive behavior. I don't see why administrators should be able to abuse the product.
Eg: Not being able to create more than 10 vPools within 1 minute should be sufficient for any type of user

[2017-06-06 12:51] wimpers commented on #1568
Might this be because only 1 came back?  QA team can you try to reproduce?

[2017-06-06 12:52] wimpers commented on #1582
No, that would be something QA would need to work upon.

[2017-06-06 14:04] khenderick commented on #1650
Let's leave it on milestone `H` anyway, I have no idea when this "urgent" fix has to be released.

[2017-06-06 14:43] JeffreyDevloo commented on #1590
The timeout has gone up to 9 minutes in certain tests.
Specifying the timeout can now be done with:
[code]
Fixed by: https://github.com/openvstorage/framework/pull/1655
Packaged in: 2.9.6-dev.1496754516.bafd730-1

[2017-06-06 15:15] wimpers commented on #1576
Currently getting installed

[code]

[2017-06-06 15:16] wimpers commented on #1576
To be added:
   - gdb

[2017-06-06 15:21] wimpers commented on #1576
@matthiasdeblock  @jtorreke  can you add gdb to ansible if needed and close this ticket?

[2017-06-06 16:20] JeffreyDevloo commented on #1624
This is still reproducable.

![selection_001](https://user-images.githubusercontent.com/17570109/26839934-c7f64cd2-4ae4-11e7-967e-bdbfa573d291.png)
The api has of course been called twice with different params to select a different disk.

[2017-06-07 07:08] wimpers commented on #1624
So there is no real issue with the API. You just called it twice. In  https://github.com/openvstorage/framework/issues/1654 we will allow to set 2 or more scrub roles. Hence closing this ticket down.

[2017-06-07 07:13] khenderick commented on #1620
@wimpers, that's a bit incorrect. The `maxload` is set to `75`, which means that a new NSM will be set up or requested once more than 75 *percent* of its capacity is used. The capacity can be configured at runtime without any restarts and can be a different value for every NSM cluster. It's stored in the model and the setting is available since our first version.

[2017-06-07 07:21] wimpers commented on #1620
@khenderick basically we can do already what we want (allow more namespaces per NSM in case of an SSD backend )?

[2017-06-07 07:26] khenderick commented on #1620
We can configure the amount of namespaces per NSM cluster and the threshold from which it should already prepare another one.

[2017-06-07 07:27] JeffreyDevloo commented on #1624
I do not agree with your statement.
Since the other implementation is currently not being worked, this should be blocked off as Kevin stated the scrubbing would not work.
Either close this down once #1654 has been addressed or this one.

[2017-06-07 07:30] wimpers commented on #1620
Already part of the product.

[2017-06-07 07:30] #1620 closed, assigned to nobody

[2017-06-07 07:30] #1624 closed, assigned to matthiasdeblock

[2017-06-07 07:34] jtorreke commented on #1576
The other packages in the list might be useful for having on our servers by default. But installing gdb everywhere is a bit overkill. I'd suggest to install gdb when needed. If apt isn't working, there's no need to install gdb as you'll have other fish to fry first.

[2017-06-07 07:53] kvanhijf commented on #1635
@matthiasdeblock just ran into this issue while updating. So confirmed that it breaks the update

[2017-06-07 09:24] wimpers commented on #1284
@pploegaert  @JeffreyDevloo  please let us know if you can reproduce, otherwise best to close it down. Maybe verify on Nuvolat?

[2017-06-07 09:25] wimpers commented on #1556
Back to BAM

[2017-06-08 08:33] JeffreyDevloo commented on #1560
Updating our EE environments has been succeeded for a while now.

[2017-06-08 08:33] #1560 closed, assigned to khenderick

[2017-06-08 08:34] JeffreyDevloo commented on #1536
This no longer occurs.

[2017-06-08 08:34] #1536 closed, assigned to nobody

[2017-06-08 08:42] JeffreyDevloo commented on #1259
### Information
Relying on the unit tests to validate the indexed queries.
[code]

[2017-06-08 08:42] #1259 closed, assigned to nobody

[2017-06-08 08:45] JeffreyDevloo commented on #1603
### Information
Block cache integrations has been added to our testing environments and is being deployed every night.
Pull request: https://github.com/openvstorage/automation-lib/pull/33
The integration part of the framework is therefore tested however the block cache feature itself is not.
Ticket for the block cache feature: https://github.com/openvstorage/integrationtests/issues/511

As we inco

[2017-06-08 08:45] #1603 closed, assigned to khenderick

[2017-06-08 08:45] JeffreyDevloo commented on #1601
### Information
Block cache integrations has been added to our testing environments and is being deployed every night.
Pull request: https://github.com/openvstorage/automation-lib/pull/33
The integration part of the framework is therefore tested however the block cache feature itself is not.
Ticket for the block cache feature: https://github.com/openvstorage/integrationtests/issues/511

As we inco

[2017-06-08 08:45] #1601 closed, assigned to nobody

[2017-06-08 13:03] wimpers commented on #1556
@kvanhijf 's approach is the right approach. Didn't here anything back so closing this one down.

[2017-06-08 13:03] #1556 closed, assigned to nobody

[2017-06-08 13:20] wimpers commented on #1542
@JeffreyDevloo

we are  a bit clueless. All nodes were up but it says

[code]

Can we reproduce this when all nodes are reachable?

[2017-06-09 08:33] JeffreyDevloo commented on #1542
That is the point. The nodes were online but the client could have been cached The nodes were online but the removal says they were not.

[2017-06-09 08:44] JeffreyDevloo commented on #1260
@wimpers
Do you think this ticket has been resolved with upping the timeout?

[2017-06-09 08:51] JeffreyDevloo commented on #832
Closing because the broader scope has been tackled.

[2017-06-09 08:51] #832 closed, assigned to wimpers

[2017-06-09 10:06] wimpers commented on #1260
No as he the osd-timeout is fixed, making it dynamic is why this ticket is open.

[2017-06-09 12:33] matthiasdeblock commented on #1635
@kvanhijf when upgrading nuvolat I first installed sdm to make sure the update did work.

[2017-06-09 12:34] khenderick commented on #1635
@kvanhijf was wrong _again_.

[2017-06-09 12:43] khenderick commented on #1635
Fixed by openvstorage/framework-alba-plugin#417, packaged in openvstorage-backend-1.9.2-dev.1497012086.ac40c70

[2017-06-09 13:39] khenderick commented on #1635
@saelbrec, please note that this is a fix in the update logic, so this will only be resolved _after_ this version is installed so when updating to the version _after_ this one.

[2017-06-12 07:40] jeroenmaelbrancke opened #1664 "unable to link remote backends"
Unable to link remote backend after upgraden the framework.

After checking the calls with the devtools i see incoming backends but one call is canceled.

Request OK:
[code]

Request CANCELED:
[code]

![link_backend](https://user-images.githubusercontent.com/2900612/27023300-3e5f9cae-4f52-11e7-8af1-6abf10c845f3.png)

Openvstorage packages:
[code]

[2017-06-12 08:29] khenderick commented on #1633
Fixed by openvstorage/framework-alba-plugin#419 packaged in openvstorage-backend-1.9.2-dev.1497255983.0bc7ac9

[2017-06-12 08:32] khenderick commented on #1664
Timeout of 30s is a bit on the short side, plus we could reduce the requested data to make it faster.

@wimpers, can you assign a release/milestone?

[2017-06-12 09:46] khenderick commented on #1402
Fixed by:
* openvstorage/alba-asdmanager#254 - openvstorage-sdm-1.9.1-dev.1497260673.833dd50
* #1665 - openvstorage-2.9.6-dev.1497260358.33d4da6
* openvstorage/framework-alba-plugin#420 - openvstorage-backend-1.9.2-dev.1497260447.6355f5b

[2017-06-12 11:48] saelbrec opened #1666 "Wrong config for "alba_connection_rora_manifest_cache_capacity" in volumedriver json"
This value is currently set to '17179869184', which seems to be the manifest_cache_capacity found in ovs/lib/storagerouter.py that is used for the 'fragment_cache and block_cache manifest_cache_capacity' as well as the 'alba_connection_rora_manifest_cache_capacity'

But there is a difference:
in the proxy, it's a size in bytes (sum of the sizes of the serialized entries), while in the C++ client,

[2017-06-12 13:15] jeroenmaelbrancke opened #1667 "claim asd failed but gui alert is claimed"
Unable to claim an asd but gui shows claimed.
After refreshing the page the asds is still available to claim.

![claimed](https://user-images.githubusercontent.com/2900612/27035520-e71d0c30-4f81-11e7-8d3b-3f6891263162.png)

Error in the logging:
[code]

unable to delete the disk:
![unable_to_delete](https://user-images.githubusercontent.com/2900612/27036375-f827ebf0-4f84-11e7-81f6-51f08ca355a5.png

[2017-06-12 14:39] khenderick commented on #1667
@jeroenmaelbrancke can you re-validate once the new Alba package is available?

[2017-06-12 14:45] openvstorage-ci commented on #1667
This issue was moved to openvstorage/alba_ee#52

[2017-06-12 14:50] jeroenmaelbrancke commented on #1667
@khenderick what with the green pop up message?
This should be red with the alert from alba.

[2017-06-12 14:52] khenderick commented on #1667
@jeroenmaelbrancke Do you have some more logging context so I can see where exactly the error was shown?

[2017-06-12 14:56] jeroenmaelbrancke commented on #1667
The framework translate the ERROR into a WARNING state...
Maybe this is the issue why the pop up is not red?
[code]

complete logging:
[code]

[2017-06-12 14:59] khenderick commented on #1626
Fixed by openvstorage/framework-alba-plugin#421, packaged in openvstorage-backend-1.9.2-dev.1497279473.202a5fb

[2017-06-12 15:25] khenderick commented on #1667
Indeed, that's a valid point.

[2017-06-12 15:35] khenderick commented on #1667
Seems we're swallowing failed `claim-osd` calls. We handle "already claimed" errors, but instead of raising the rest, we ignore them.

[2017-06-13 07:34] jeroenmaelbrancke opened #1669 "TypeError features when creating a vpool"
Changing the storagerouter when creating a vpool throws following error in the devtools.
I wasn't able to select a part of the storagerouters.

[code]

[2017-06-13 07:44] jeroenmaelbrancke opened #1670 "Do not logout when someone is active in the OVS gui"
After x hours the session closed even when i'm active on the gui.

Devtools errors:
[code]

[2017-06-13 08:42] saelbrec opened #1671 "Remove cache_quota limitations"
A combination of larger vdisks and a much larger distributed cache than in the past require the ability to configure much larger cache capacities than the currently allowed upper limit of 1TB.

We do not want to enforce these as we don't know all the different use cases/combinations. It's up to the user to make sure he manages and configures this correctly.
So please remove the current implemented

[2017-06-13 09:26] khenderick commented on #1664
Fixes:
* openvstorage/framework-alba-plugin#422 - openvstorage-backend-1.9.2-dev.1497345752.dccd9fb
* #1672 - openvstorage-2.9.6-dev.1497345876.6cf6b16

[2017-06-13 09:35] khenderick commented on #1667
Fixed by
* openvstorage/framework-alba-plugin#423 - openvstorage-backend-1.9.2-dev.1497346402.d18d7ba
* openvstorage/framework-alba-plugin#424 - openvstorage-backend-1.9.2-dev.1497352683.8369585

[2017-06-13 11:47] khenderick commented on #1671
[code]
:thumbsup:

[2017-06-13 12:01] khenderick commented on #1671
Fixed by #1674, packaged in openvstorage-2.9.6-dev.1497355148.5d1277f

[2017-06-13 12:25] saelbrec commented on #1666
Keeping the memory consumption under control gets precedence over the amount of data referenced by cached manifests.
In other words, the number of cached entries will be kept fixed when the SCO size or other parameters change.

The FWK can always configure:
'alba_connection_rora_manifest_cache_capacity' = 5000

[2017-06-13 12:39] JeffreyDevloo opened #1675 "ovs remove node takes a while before prompting questions"
### Problem description
While invoking ovs remove node when a node has just gone down, the time between executing the command and the first responses varied between instantly and up to 9 minutes.

The longest intervals can be traced back to the initialization of the SSHClient as well as the redirect masters from the arakoon client.

### Possible solution
Stricter timeouts on both. Do not rely on t

[2017-06-13 12:40] khenderick commented on #1636
I could not reproduce this. However, I noticed a bit of a delay (about a second) in which the previous values were showed.

[2017-06-13 12:42] khenderick commented on #1636
It might be possible that some race condition would somehow intervene in the reloading process, leaving the old information in place, so let's consider this a bug anyway.

[2017-06-13 12:59] khenderick commented on #1636
Fixed by openvstorage/framework-alba-plugin#425, packaged in openvstorage-backend-1.9.2-dev.1497358569.ba4e853

[2017-06-13 13:44] JeffreyDevloo commented on #1675
SSHClient timeout implementation: https://github.com/openvstorage/framework/pull/1655
Pyrakoon timeout implementation: https://github.com/openvstorage/framework-extensions/pull/7

Tying up both ends:
https://github.com/openvstorage/framework/pull/1677

[2017-06-13 13:57] wimpers commented on #1669
@jeroenmaelbrancke  after a retry it worked, right?

[2017-06-13 14:06] wimpers commented on #1542
@JeffreyDevloo  is this somehow related to the other SSH timeout issues you are seeing?

[2017-06-13 14:12] matthiasdeblock opened #1678 "Re-use connection for fragment cache when extending vpool"
openvstorage 2.9.5-1

When extending a vpool you do not have the opportunity to re-use a connection you have used before on the fragment cache.

The block cache does have this option:
![screenshot_2017-06-09_10-21-38](https://user-images.githubusercontent.com/14923932/27086640-0dd558f6-5053-11e7-8e70-3bc9a830caac.png)

It would be very useful to have this for the fragment cache as well.

[2017-06-13 14:24] wimpers commented on #1678
@matthiasdeblock just to make sure, this is just to make the OPS life easier. You can configure everything correct as needed, right?

[2017-06-13 14:25] matthiasdeblock commented on #1678
Yes, everything works but it's just a lot of copy/paste work...

[2017-06-13 14:43] wimpers commented on #1349
@kvanhijf  what is still open for this ticket? Do we still need to implement the check whether the policies can still be satisfied in case or removing a node?

[2017-06-13 14:44] JeffreyDevloo commented on #1678
ლ(ಠ益ಠლ) use the api client to avoid repetitive tasks :P

[2017-06-13 14:50] JeffreyDevloo commented on #1282
This can be safely ignored. Occurs when fetching the information explicitly from rabbitmq when causes it to parse all URL through an URL parser which does not support comma separated lists.

[2017-06-13 14:50] #1282 closed, assigned to nobody

[2017-06-13 14:56] JeffreyDevloo commented on #958
A fresher ticket has been updated with all necessary information https://github.com/openvstorage/framework/issues/1575
Closing this one.

[2017-06-13 14:56] #958 closed, assigned to nobody

[2017-06-14 07:26] jeroenmaelbrancke commented on #1669
Refreshing the page fixed the problem.

[2017-06-15 08:33] JeffreyDevloo commented on #1675
Packaged in 2.9.6-dev.1497515486.2772e71

[2017-06-15 13:28] #1237 closed, assigned to pploegaert

[2017-06-15 13:28] wimpers commented on #1237
We prefer first to execute the checks so the user can make a sane decision.

[2017-06-16 14:12] dejonghb opened #1680 "ovs monitor services incorrect"
[code]

[code]
[code]

[2017-06-16 14:14] dejonghb commented on #1680
Possible hint:
[code]

[2017-06-16 14:33] JeffreyDevloo commented on #1680
Some testing around has shown that the systemctl list-unit-files is susceptible to screen width. The normal execution of python -c  my_code.py would default it to something which can only handle certain amount of characters, causing the systemctl list-unit-files to shrink the names.

[2017-06-16 14:34] dejonghb commented on #1680
Add --full option to the systemctl list-unit-files command to get rid of ellipsizing things

[2017-06-19 07:06] kvanhijf commented on #1610
Same issue detected by @dejonghb : https://github.com/openvstorage/framework/issues/1680

[2017-06-19 07:16] #1610 closed, assigned to nobody

[2017-06-19 07:16] khenderick commented on #1610
Closing this one, the other one has some more useful information.

[2017-06-21 07:54] jeroenmaelbrancke opened #1683 "high memory usage of the ovs-webapp-api"
Each process of the ovs-webapp-api took +- 3G of memory.
On the nuvolat setup the controllers are vms with each 16GB or memory.

[code]
memory usage:

![image](https://user-images.githubusercontent.com/2900612/27372700-c17a40fc-5665-11e7-8b6f-8d37750354fa.png)

versions:
[code]

Just before i restarted the process i saw some errors in the logging and a huge amount of locks.

logging:
[code]

[2017-06-21 12:08] wimpers commented on #1683
Please at least investigate  root cause for H

[2017-06-21 14:06] jeroenmaelbrancke commented on #1683
@khenderick could this be related to the known issue about the heavy locking?

[2017-06-21 14:26] khenderick commented on #1683
In the log snippet, there are some XMLRPC calls that fail, and lock that take a long time due to slow arakoon calls. Regardless of the fact that this should not cause increased memory usage, was there anything going on in the environment that caused these slow arakoon calls and XMLRPC failures?

[2017-06-21 14:34] jeroenmaelbrancke opened #1684 "ovs-workers/support-agent/scheduled-tasks standard/default log level is debug"
Why are the loglevels of the ovs-workers/support-agent/scheduled-tasks debug?
Can you please change this to info when you release the package?

[2017-06-21 14:39] jeroenmaelbrancke opened #1685 "make it easy to change the loglevel for ovs-workers/support-agent/scheduled-tasks"
Can you make it easier to change the loglevel of all the ovs-workers/support-agent/scheduled-tasks with one config?
Some key in the config arakoon?

At this moment we need to change manually the level in /opt/OpenvStorage/ovs/log/log_handler.py.

[2017-06-22 08:58] JeffreyDevloo opened #1686 "Composite unique keys"
### Problem description
When defining junctions, it would nice to have the relations act as a combined unique key. Similar to the composite unique key from mysql.

[2017-06-23 08:21] saelbrec opened #1687 "Optimize settings for sustainable write throughput"
Tests have shown that the currently configured default settings on a vpool do not allow to guarantee a sustainable write throughput. In certain tests it quickly degrades over a time window of 24hrs.
The following graph shows on the left half test results with the default values, where as the right half shows test results with optimized volumedriver config values for **number_of_scos_in_tlog** and

[2017-06-23 08:33] wimpers commented on #1687
I'd like to propose a suggestion to the above: use an easy mode and an advanced mode?

* Easy mode: user defines the write buffer size. We derive/calculate some sane values based upon the write buffer size.
* Advanced mode: User needs to enter write buffer size , SCO size, number_of_scos_in_tlog and non_disposable_scos_factor. We enforce whatever is needed like we do when creating policies.

[2017-06-26 12:13] khenderick commented on #1687
I kinda like @wimpers his idea. The easy mode asks a few questions and generates a set of works-for-most-setups parameters. The expert mode just exposed (almost) all configuration parameters. This way we can stop changing the default values every month.

[2017-06-27 09:24] domsj opened #1688 "arakoon: prefer copy-db-to-head over (local-)collapse when possible"
@dejonghb noticed on his environment that local collapse (scheduled at 10 past every even hour) results in a temporary performance drop. Doing copy-db-to-head instead however appears to have much less performance impact.

This can actually be expected: copy-db-to-head will make 1 copy of the database, and then throw away a bunch of tlogs. local-collapse on the other hand will make a copy of the da

[2017-06-27 09:32] toolslive commented on #1688
You can also consider to do an `optimize` before you do the `copy-db-to-head`. This `optimize` can be called with a different frequency (as it's not always that useful)

[2017-06-27 12:40] khenderick commented on #1684
Fixed by #1689, packaged in openvstorage-2.9.6-dev.1498565550.85b0437

[2017-06-27 12:41] khenderick commented on #1684
You can add a `"level": "INFO"` entry to the json contents of `/ovs/framework/logging`. If you change the value, you need to restart the services for the new level to take effect.

[2017-06-27 13:34] khenderick commented on #1685
Resolved via #1684.

[2017-06-27 13:35] khenderick commented on #1684
The default is still debug; it's still handy to have debug statements available from our perspective. If you disagree, feel free to update the value on installation.

[2017-06-27 13:54] wimpers commented on #1684
I think the default way should be what we want to use in production (I'm pretty sure this isn't debug) is set as default. I believe we have had this conversation before (see https://github.com/openvstorage/framework/issues/1234  https://github.com/openvstorage/framework/issues/1260 ) where the framework had to overwrite defaults of other teams.

[2017-06-27 13:58] khenderick commented on #1684
In that case, let's set it to `info`.

[2017-06-27 14:05] khenderick commented on #1684
Default level now at `INFO` via #1690, packaged in openvstorage-2.9.6-dev.1498572165.4f6709f

As a remark; if creating a ticket and providing logs, please include debug statements.

[2017-06-28 07:28] khenderick commented on #1666
Fixed by #1691, packaged in openvstorage-2.9.6-dev.1498634424.750c160

[2017-06-28 14:39] khenderick commented on #1654
Currently:
* Per storagerouter/disk there's one proxy and multiple threads scrubbing using the same proxy.

Do we want:
* Per scrubdisk a separate proxy and multiple scrubbing threads per proxy
* Per storagerouter one proxy and then multiple scrubbing threads that use all different disks but the same proxy

[2017-06-28 15:23] khenderick commented on #1654
After discussions with @wimpers and @saelbrec: One proxy per stack. A stack is a combination of storagerouter/disk/vpool. In that stack, we have up to 20 threads.

[2017-06-29 09:09] wimpers commented on #1327
In G milestone we added cache quota for ALBA backends. This issue is still relevant in case a local fragment cache is selected.

[2017-06-29 09:29] wimpers commented on #1651
Re-open if needed.

[2017-06-29 09:29] #1651 closed, assigned to nobody

[2017-06-29 13:51] JeffreyDevloo opened #1692 "VPool overview reports RUNNING but detail page reports SHRINKING"
### Problem description
A screenshot says more than a million words
**vPool overview:**
![selection_016](https://user-images.githubusercontent.com/17570109/27690973-fea463e4-5ce2-11e7-9746-6c9ea02495c4.png)

**vPool detail:**
![selection_017](https://user-images.githubusercontent.com/17570109/27690351-6cad8660-5ce1-11e7-9178-980b2f9b3c1b.png)

API results:
The vpools guid is '6b583521-cf91-4d4a-bb

[2017-06-29 13:51] JeffreyDevloo commented on #1692
Currently gathering more evidence / helpful information

[2017-06-29 14:16] JeffreyDevloo commented on #1692
### API Logs
[code]
### Workers logs off the shrink

[logs.txt](https://github.com/openvstorage/framework/files/1112331/logs.txt)

### What happened
@dejonghb Could you explain what exactly happened?

[2017-06-29 14:22] JeffreyDevloo commented on #1692
### According to @dejonghb
- Created the global vpool on 10.100.186.32 (the storagedriver that was finally removed off the vpool)
- Created a vdisk (dtl was to be configured)
- Extended to 172.22.186.33
- Shrinked away from 10.100.186.33 due to faulty settings
- Extended back to 172.22.186.33
- Extended to 172.22.186.34
- Moved the vdisk to 172.22.186.33
- Shrinked away from 10.100.186.32 due to t

[2017-06-30 07:35] khenderick commented on #1692
Most likely, a memcache node was unresponsive for a short while causing cache invalidations to happen on a different node. We can't protect against that, so we might just reduce cache lifetime.

[2017-06-30 12:42] matthiasdeblock opened #1693 "Error while removing asd from already physically removed disk"
Got the following stacktrace after removing the asd. The disk got replaced before it was removed from the GUI.

[code]

[2017-06-30 12:43] matthiasdeblock opened #1694 "Error while removing disk from already physically removed disk"
Got the following stacktrace after removing the disk. The disk got replaced before it was removed from the GUI.

[code]

[2017-06-30 13:51] khenderick commented on #1654
Fixed by #1695, packaged in openvstorage-2.9.6-dev.1498830540.4e84e0d

[2017-07-04 07:18] pploegaert opened #1697 "Scrubbing fails with RuntimeError: scrubber returned with nonzero exit status 256"
Branch: develop
Env: 10.100.199.191-194
Testrun: http://testrail.openvstorage.com/index.php?/plans/view/38040
Failed test(s):
- check_scrubbing_test
- mds_regression

Scenario:
- create at least 1 vdisk
- run:
[code]

Stacktrace:
[code]

Scrubber.log:
[code]

[2017-07-04 07:23] pploegaert commented on #1697
Input from @redlicha:

The "Not found" looks like an arakoon lookup that didn't return a key / value
and since that's pretty early in the game, it looks like the config key was wrong
arakoon://config/ovs/vpools/2aedec2c-2c90-4dfc-a0e8-ad7ed0deeb83/proxies/scrub/backend_config_3644414c-e12d-4f08-8b74-2933e7233246?ini=%2Fopt%2FOpenvStorage%2Fconfig%2Farakoon_cacc.ini

^^^ that looks odd (the "proxie

[2017-07-04 07:30] khenderick commented on #1697
Fixed by #1698, packaged in openvstorage-2.9.6-dev.1499153279.7a2b4ab

[2017-07-04 08:17] dejonghb opened #1699 "ovs-workers gone missing on 2 nodes?!"
On 2 of the 3 nodes of the 10.100.186.3[234] environment, the ovs-workers have somehow disappeared from journalctl...

Only on 10.100.186.33 the service is still known and present, on the 2 other nodes it's gone.

[2017-07-04 08:23] dejonghb commented on #1699
After a closer/better look the service file was still present and restarting the service also brought back journalctl info.

[2017-07-04 08:23] #1699 closed, assigned to nobody

[2017-07-04 12:57] matthiasdeblock opened #1700 "Add filter in the GUI"
On the nuvolat setup it is quite hard to search (through the GUI) for a vdisk as there are +1000 vdisks already on that environment.

It can come in handy to create sort of filter on the vdisks tab. Examples:
* search on guid
* search on volume id
* search on name
* list of vdisks on certain storagerouter and vpool

[2017-07-04 13:11] wimpers commented on #1700
@khenderick might  be able to give some pointers as he worked upon this long time ago see http://jira.cloudfounders.com/browse/OVS-4313

One item which might be worthwhile to pick up is to introduce the sorting on more fields see http://jira.cloudfounders.com/browse/OVS-4317

[2017-07-04 13:18] khenderick commented on #1700
@wimpers, sorting is already supported for a long time and it's just a matter of defining on which field we do want to allow users to sort (e.g. sorting on a dynamic property is quite costly and we'd rather not do that). So far, we just never got to making a decision on that.

Searching was never implemented so that's something we need to build from scratch.

[2017-07-05 13:13] dejonghb opened #1701 "add "DefaultEnvironment=TZ=:/etc/localtime" to /etc/systemd/system.conf"
An strace on an alba proxy shows excessive stat(/etc/localtime) calls, for example:
[code]
...
[code]

According to https://hungryadmin.com/setting-the-tz-variable-for-systemd.html this can be avoided by setting "DefaultEnvironment=TZ=:/etc/localtime" in /etc/systemd/system.conf so that all services started via systemd pick this up.

**`CAVEAT`**: this does not seem to work (for alba) but http://k

[2017-07-05 14:33] dejonghb commented on #1701
Testcode from https://blog.packagecloud.io/eng/2017/02/21/set-environment-variable-save-thousands-of-system-calls/ using "TZ=:/etc/localtime" works fine.
[code]
versus
[code]
Indeed runs with 9 fewer system calls all because of a single environment variable

[2017-07-11 03:47] hoannv46 opened #1703 "cannot do anything after initialize disk"
Hi all.

After i create backend, router for performance nodes.
I add disk to capacity nodes, after initialize i cannot claim disk or remove disk.

![selection_068](https://user-images.githubusercontent.com/5550425/28050135-f2c8e652-6625-11e7-83d6-8215b51cc2fc.png)

This all my backend.
![selection_069](https://user-images.githubusercontent.com/5550425/28050164-2c27a442-6626-11e7-8714-77bba6583d60.

[2017-07-11 14:32] JeffreyDevloo commented on #1697
openvstorage_2.9.6-1_amd64.deb

[2017-07-11 14:32] JeffreyDevloo commented on #1685
Packaged in: openvstorage_2.9.6-1_amd64.deb

[2017-07-11 14:35] JeffreyDevloo commented on #1684
Packaged in: openvstorage_2.9.6-1_amd64.deb

[2017-07-11 14:35] JeffreyDevloo commented on #1680
Packaged in: openvstorage_2.9.6-1_amd64.deb

[2017-07-11 14:36] JeffreyDevloo commented on #1675
Packaged in: openvstorage_2.9.6-1_amd64.deb

[2017-07-11 14:36] JeffreyDevloo commented on #1671
Packaged in: openvstorage_2.9.6-1_amd64.deb

[2017-07-11 14:37] JeffreyDevloo commented on #1667
Packaged in openvstorage-backend_1.9.2-1_amd64.deb

[2017-07-11 14:40] JeffreyDevloo commented on #1666
Packaged in openvstorage_2.9.6-1_amd64.deb

[2017-07-11 14:41] JeffreyDevloo commented on #1664
Packaged in
- openvstorage-backend_1.9.2-1_amd64.deb
- openvstorage_2.9.6-1_amd64.deb

[2017-07-11 14:41] JeffreyDevloo commented on #1654
Packaged in openvstorage_2.9.6-1_amd64.deb

[2017-07-11 14:42] JeffreyDevloo commented on #1636
Packaged in openvstorage-backend_1.9.2-1_amd64.deb

[2017-07-11 14:42] JeffreyDevloo commented on #1635
Packaged in openvstorage-backend_1.9.2-1_amd64.deb

[2017-07-11 14:42] JeffreyDevloo commented on #1633
Packaged in openvstorage-backend_1.9.2-1_amd64.deb

[2017-07-11 14:43] JeffreyDevloo commented on #1626
Packaged in openvstorage-backend_1.9.2-1_amd64.deb

[2017-07-11 14:43] JeffreyDevloo commented on #1590
Packaged in openvstorage_2.9.6-1_amd64.deb

[2017-07-11 14:43] JeffreyDevloo commented on #1402
Packaged in
- openvstorage_2.9.6-1_amd64.deb
- openvstorage-sdm_1.9.1-1_amd64.deb
- openvstorage-backend_1.9.2-1_amd64.deb

[2017-07-11 14:53] wimpers commented on #1683
@khenderick @jeroenmaelbrancke
Any update on this one? Did we encounter it again? Do we have any clue? Please advise.

CC: @saelbrec

[2017-07-11 15:18] khenderick commented on #1683
Didn't take a look at it yet.

[2017-07-12 11:11] matthiasdeblock commented on #1506
Can be useful as well on the Nuvolat setup as India want this in their SIMF to check before deploying volumes.

[2017-07-12 13:12] jeroenmaelbrancke commented on #1683
We saw on different nodes 100% utilization on the root partitions by journal. Now we are shipping the logs immediately to a remote syslog server.

Maybe this triggered the high memory on the webapp...

[2017-07-14 12:38] dejonghb opened #1709 "ovs-workers and ovs-webapp-api not restarted after being killed via ovs-watcher-framework going down"
On serveral occasions, for some (yet unknown) reason the ovs-watcher-framework goes down (memcache?) which takes along ovs-workers and ovs-webapp-api

After some retries ovs-watcher-framework gets restarted (ovs-watcher-framework.service: Service hold-off time over, scheduling restart) but the ovs-workers and ovs-webapp-api remain inactive.

Filtered syslog attached (hope there's still enough info

[2017-07-14 12:39] dejonghb commented on #1709
[code]

[2017-07-14 12:41] khenderick commented on #1709
Maybe the watcher goes down because one service is missing (as designed) and takes along all framework services (as designed). However, based on the logging, it looks like the workers don't stop fast enough? Maybe that's the cause why they don't start again once the wacher is restarted.

[2017-07-14 12:50] dejonghb commented on #1709
[code]
--> trying to restart workers

[2017-07-14 13:07] khenderick commented on #1709
After discussions with @dejonghb we figured following possible solution:
* Before self-exiting with e.g. `sys.exit(1)`, we touch a temp file, e.g. `/tmp/watcher`.
* On pre-start
 * If the file exist, we first wait (max 15 minutes) for all depending services to be in a halted state. Else, we just continue
 * We wait for the master services to be up again
* Then the usual flow continues.

This shoul

[2017-07-14 13:10] dejonghb commented on #1709
Also remove the temp file when startup succeeds ;-)
Maybe also check timestamps on the tempfile so leftovers can be ignored?

[2017-07-14 13:14] khenderick commented on #1709
Makes sense, an automatic restart shouldn't take more than a few seconds.

[2017-07-17 15:14] pploegaert commented on #1697
Validated ok:
http://testrail.openvstorage.com/index.php?/plans/view/38218

[2017-07-17 15:14] #1697 closed, assigned to khenderick

[2017-07-18 02:16] sks126 commented on #1687
@wimpers  The following formula in 256 MB is what mean？
                     "256MiB/SCOSizeInMiB=number_of_scos_in_tlog".

[2017-07-19 01:14] ngugc commented on #1687
@saelbrec ，what's the meaning of 256MiB in (256MiB/SCOSizeInMiB=number_of_scos_in_tlog)? Is it just a empiric value? Can I use it in any case?
Thanks!

[2017-07-19 08:28] saelbrec commented on #1687
The 256MiB in this case is basically the amount of data we address in 1
tlog, how many entries this ends up being depends on the chosen block size.
So it is not that I am too concerned with values bigger than 256MiB, it can
be used and will work. It's just that other factors like memory
consumption, metadata write-out times, write buffer disposability barriers,
etc. need to be taken into account.

[2017-07-20 08:47] toolslive opened #1710 "apply garbage collection configration for alba processes."
augment your environment with
[code]

before you launch an alba service.
The alba cli calls are slightly better off not having this setting

[2017-07-20 10:45] toolslive commented on #1710
for systemd it's
[code]

[2017-08-03 12:33] kvanhijf opened #1711 "Make it possible to assign externally managed Arakoon clusters to dedicated Backend"
Our NSM checkup currently claims any Arakoon cluster which has the 'in_use' flag set to False when a Backend needs more NSM clusters.
This behavior is not optimal and should be improved

Possible solutions:
1) We could add a flag in the Arakoon cluster's metadata called: 'backend_name'. This flag could then be used to check for which backend the cluster was created. Our NSM checkup should then che

[2017-08-03 12:34] JeffreyDevloo commented on #1711
Shouldn't we just start moving away from internal and external arakoons and just leave it up to customer where he wants his arakoons?

[2017-08-03 13:13] kvanhijf opened #1712 "Arakoon deployment configurable via GUI/framework"
The use of external Arakoons has cost OPS and framework team a lot of work and has lots of disadvantages
The user (customer / OPS / ...) should be able to determine where each and every Arakoon cluster should be deployed by using the GUI and/or the API calls delivered by the framework team

[2017-08-03 13:14] kvanhijf commented on #1711
Yes we definitely should, but that would be a whole lot more work
This is an enhancement which shouldn't take too much time and allows our OPS boys to have more control

PS: created a ticket (FR) for it: see https://github.com/openvstorage/framework/issues/1712

[2017-08-04 08:36] JeffreyDevloo opened #1713 "Allow more configuration for all components"
### Feature description
We are currently having to reconfigure proxies/volumes manually on the Nuvolat environment.
The framework should allow more configuration options for all components.

#### Configurations that should happen:
- Reconfigure volumedrivers through the gui: disabling both caches on the proxy configs and schedule their restarts https://github.com/openvstorage/framework/issues/1331

[2017-08-09 07:59] jtorreke opened #1715 "Add ability to search for a vdisk based on the name and vpool"
Currently we only have a limited number of ways to search for vdisks. An awesome, additional way would be to be able to search with the name and vpool of a vdisk. Now we have to loop over all vdisks and compare the name to find the matching disk.

[2017-08-09 08:03] jtorreke opened #1716 "ovs config edit/list/get but no delete"
Can a delete option be added to the ovs cli tool?

[2017-08-09 08:26] domsj opened #1717 "ovs config edit/list/... for externally managed config arakoons"
It would be nice if one could specify which config arakoon you want to list/edit/... config values from

[2017-08-10 08:04] JeffreyDevloo commented on #1626
Verified while retesting AD

[2017-08-10 08:04] #1626 closed, assigned to nobody

[2017-08-10 08:04] #1412 closed, assigned to khenderick

[2017-08-10 08:04] #1409 closed, assigned to khenderick

[2017-08-10 08:04] #1408 closed, assigned to khenderick

[2017-08-10 08:04] #1403 closed, assigned to nobody

[2017-08-10 08:05] #1402 closed, assigned to khenderick

[2017-08-10 08:05] #1401 closed, assigned to nobody

[2017-08-10 08:05] #1400 closed, assigned to khenderick

[2017-08-10 08:05] #1398 closed, assigned to nobody

[2017-08-10 08:05] #1395 closed, assigned to khenderick

[2017-08-10 08:05] #1389 closed, assigned to nobody

[2017-08-10 08:05] #1382 closed, assigned to nobody

[2017-08-10 08:05] #1375 closed, assigned to nobody

[2017-08-10 08:05] #1371 closed, assigned to nobody

[2017-08-10 08:05] #1366 closed, assigned to nobody

[2017-08-10 08:05] #1357 closed, assigned to nobody

[2017-08-10 08:05] #1351 closed, assigned to nobody

[2017-08-10 08:05] #1332 closed, assigned to kinvaris

[2017-08-10 08:06] #1079 closed, assigned to nobody

[2017-08-10 08:06] #1288 closed, assigned to nobody

[2017-08-10 08:06] #1233 closed, assigned to nobody

[2017-08-10 08:06] #1198 closed, assigned to nobody

[2017-08-10 08:06] #999 closed, assigned to nobody

[2017-08-10 08:08] #1516 closed, assigned to nobody

[2017-08-10 08:08] #1513 closed, assigned to nobody

[2017-08-10 08:08] #1455 closed, assigned to nobody

[2017-08-10 08:08] #1511 closed, assigned to nobody

[2017-08-10 08:08] #1507 closed, assigned to nobody

[2017-08-10 08:08] #1500 closed, assigned to nobody

[2017-08-10 08:08] #1491 closed, assigned to nobody

[2017-08-10 08:08] #1490 closed, assigned to nobody

[2017-08-10 08:08] #1487 closed, assigned to nobody

[2017-08-10 08:08] #1486 closed, assigned to nobody

[2017-08-10 08:08] #1484 closed, assigned to nobody

[2017-08-10 08:08] #1475 closed, assigned to nobody

[2017-08-10 08:08] #1472 closed, assigned to nobody

[2017-08-10 08:08] #1461 closed, assigned to nobody

[2017-08-10 08:10] #1424 closed, assigned to nobody

[2017-08-10 08:11] #1417 closed, assigned to nobody

[2017-08-10 08:12] #1430 closed, assigned to nobody

[2017-08-10 08:12] #1444 closed, assigned to nobody

[2017-08-10 08:12] #1448 closed, assigned to nobody

[2017-08-10 08:13] #1630 closed, assigned to nobody

[2017-08-10 08:13] #1633 closed, assigned to khenderick

[2017-08-10 08:13] #1635 closed, assigned to khenderick

[2017-08-10 08:13] #1636 closed, assigned to khenderick

[2017-08-10 08:13] #1650 closed, assigned to nobody

[2017-08-10 08:13] #1654 closed, assigned to khenderick

[2017-08-10 08:13] #1664 closed, assigned to khenderick

[2017-08-10 08:13] #1666 closed, assigned to khenderick

[2017-08-10 08:13] #1457 closed, assigned to nobody

[2017-08-10 08:13] #1667 closed, assigned to khenderick

[2017-08-10 08:13] #1671 closed, assigned to khenderick

[2017-08-10 08:13] #1675 closed, assigned to nobody

[2017-08-10 08:13] #1684 closed, assigned to nobody

[2017-08-10 08:13] #1685 closed, assigned to nobody

[2017-08-10 08:14] #1452 closed, assigned to khenderick

[2017-08-10 08:14] #1458 closed, assigned to pploegaert

[2017-08-10 08:14] #1464 closed, assigned to khenderick

[2017-08-10 08:14] #1522 closed, assigned to nobody

[2017-08-10 08:14] #1531 closed, assigned to nobody

[2017-08-10 08:14] #1534 closed, assigned to khenderick

[2017-08-10 08:14] #1555 closed, assigned to nobody

[2017-08-10 08:14] #1559 closed, assigned to nobody

[2017-08-10 08:14] #1575 closed, assigned to nobody

[2017-08-10 08:14] #1539 closed, assigned to khenderick

[2017-08-10 08:14] #1579 closed, assigned to nobody

[2017-08-10 08:14] #1586 closed, assigned to khenderick

[2017-08-10 08:15] #1590 closed, assigned to nobody

[2017-08-10 08:15] #1615 closed, assigned to nobody

[2017-08-10 08:15] #1619 closed, assigned to khenderick

[2017-08-10 08:28] JeffreyDevloo commented on #1715
We can introduce such a call but the vdisk name is not guaranteed to be unique. You can have multiple vdisks called test whereas one test is located in /mnt/myvpool/test.raw and the other in /mnt/myvpool/testdir/test.raw
The new call would return all found entries with their device names and leave it up to the user to further query (same query you can do at the moment)?

[2017-08-11 09:30] kvanhijf opened #1719 "Fix framework logging"
The logging module for python is completely misconfigured in the framework
Normal workflow should be that each process instantiates its own logger. Then the process itself should be responsible to add a handler to it (Which in most cases should be our LogHandler module) and then it can log. Depending on the handler and the configurations of the handler, it then logs to console, file or redis

A go

[2017-08-14 04:23] hoannv46 opened #1720 "cannot start ovs-watcher-volumedriver after start"
Hi all.

My dc lost power, all server shutdown.
I start all server but some service cannot start.
this is log ovs-watcher-volumedriver process.

Aug 14 11:12:54 ovs-r1-controller python[10122]: Traceback (most recent call last):
Aug 14 11:12:54 ovs-r1-controller python[10122]:   File "/opt/OpenvStorage/ovs/extensions/db/arakoon/pyrakoon/pyrakoon/compat.py", line 1262, in connect
Aug 14 11:12:54 ov

[2017-08-14 08:02] JeffreyDevloo commented on #1720
Hello Hoanhdo

Could you log the output of ovs monitor services? I have the suspicion that certain arakoon nodes are unable to restart.

[2017-08-14 08:26] hoannv46 commented on #1720
@JeffreyDevloo

This is my ovs monitor services

[2017-08-14 09:15] JeffreyDevloo commented on #1720
The volumedriver needs the information which is stored within the Arakoons.

Now we should figure out why these Arakoons refuse to start. Could you provide me with some logging from these Arakoons that are unactive?

[2017-08-14 09:19] hoannv46 commented on #1720
@JeffreyDevloo

this is my log when run start arakoon manually.
https://github.com/openvstorage/arakoon/issues/196

[2017-08-15 07:56] hoannv46 opened #1721 "backend install loop , cannot create more backend"
Hi all.

I install openstorage on 2 dc.

I create many backends, sometime i cannot create more backend because one backend installing loop.
![selection_074](https://user-images.githubusercontent.com/5550425/29306805-615ec280-81c9-11e7-94c5-ef2a9b887924.png)

backend global-capacity in installing state. But it  not in ovs monitor services  in openvstorage master node.

![selection_075](https://user

[2017-08-15 09:41] hoannv46 commented on #1721
I find in ovs-r1-controller node still some config exist

root@ovs-r1-controller:/# find -name '*global-capacity*'
./sys/fs/cgroup/devices/system.slice/ovs-arakoon-global-capacity-nsm_0.service
./sys/fs/cgroup/devices/system.slice/ovs-arakoon-global-capacity-abm.service
./sys/fs/cgroup/memory/system.slice/ovs-arakoon-global-capacity-nsm_0.service
./sys/fs/cgroup/memory/system.slice/ovs-arakoon-glo

[2017-08-16 06:53] kvanhijf commented on #1721
Can you look through the 'ovs-workers.service' log and search for 'global-capacity' and see if you can find anything related please. The logging regarding this specific backend can occur on any node in your cluster running the 'ovs-workers.service'

[2017-08-16 06:54] kvanhijf commented on #1721
Another thing i just thought of. Did you create these backends simultaneously? Cause in older versions this is not supported.
And which version are you using?

[2017-08-16 07:13] hoannv46 commented on #1721
@kvanhijf

I installed lastest stable version : fargo. I think because i don't clear 2 disk DB,TL,Srub, and Cache .
My cluster was reinstalled without clear OS.

Thanks

[2017-08-16 08:49] #1721 closed, assigned to nobody

[2017-08-16 12:02] JeffreyDevloo commented on #1692
The data versions were also mismatching (_data._version on the dataobject).
Restarting memcached has resolved this problem.

[2017-08-16 12:11] JeffreyDevloo commented on #851
With the introduction of Active Drive: I dont see that the name disk backend would be a good one as AD backend would be in the same class as a disk backend causing over more confusion.

[2017-08-16 12:13] #1692 closed, assigned to nobody

[2017-08-16 14:50] kvanhijf opened #1723 "Create MDS unittest for specific scenario"
We assume the following scenario can result in a bad behavior when running the 'ensure_safety' check for a vdisk

* Safety is configured on 2
* Volume V has master on node1, slave on node2
* Master node dies, HA kicks in, volume gets moved by volumedriver to node2
* Volumedriver sends owner_changed event and fwk runs ensure_safety for said volume
* The logging indicated 2 reasons for reconfigurati

[2017-08-17 09:37] wimpers commented on #1715
I believe this duplicates https://github.com/openvstorage/framework/issues/1700 hence closing. If I would be mistaken, please re-open.

[2017-08-17 09:37] #1715 closed, assigned to nobody

[2017-08-17 10:51] JeffreyDevloo commented on #1715
Not a duplicate really. I think it was ment more for the vdisklist itself.

[2017-08-17 12:54] wimpers commented on #1715
@JeffreyDevloo  which vdisklist command are you exactly talking about? The one in the DAL I assume as it isn't the GUI/API one?

[2017-08-17 14:27] wimpers commented on #1703
Hi @hoanhdo

is this still an issue? Can you click the icon next to that green one?
is this a fresh install?

[2017-08-17 15:16] wimpers commented on #1693
Duplicates https://github.com/openvstorage/framework/issues/1694

[2017-08-17 15:23] JeffreyDevloo commented on #1693
Not a duplicate. This ticket handles about the asds not the disks
The error raised is the same, code path is slightly different

[2017-08-17 15:40] wimpers commented on #1709
@dejonghb Doesn't this duplicate https://github.com/openvstorage/framework/issues/1568 ?

[2017-08-17 15:59] wimpers commented on #1683
@jeroenmaelbrancke do we still run into this issue now that we ship the logs top the remote syslog server? If so which frequency?

[2017-08-18 07:02] dejonghb commented on #1709
#1568 is indeed related but more logging and info on what could be the problem + workaround in here, so guess #1568 can be closed.

[2017-08-18 07:04] dejonghb commented on #1568
same problem as in #1709

[2017-08-18 07:04] #1568 closed, assigned to pploegaert, JeffreyDevloo

[2017-08-18 09:43] jeroenmaelbrancke opened #1725 "Unable to change the storagerouter when creating a vpool"
I'm trying to create a new vpool with another storagerouter but i'm not able to click on 3 other storagerouters.

The error we found:

[code]

[2017-08-18 16:42] redlicha commented on #1723
The scenario was slightly different:
* volume V has MDS master table on node1, slave on node2
* node1 is down: *node3* takes ownership of V (at this point the framework is notified of owner change)
* as part of starting V on node3, V promotes the MDS table on node2 to the master role
* the framework spins up a new MDS slave table for V on node2
* the framework reconfigures V with MDS [ node2, node

[2017-08-19 02:47] hoannv46 commented on #1703
@wimpers
I must remove other backends. After that backend configure is right ( disk  init, not claim)
No, i can't click this icon.
This is fresh install.

I think ít happen when i execute claim all disk simultaneously.

[2017-08-21 06:21] kvanhijf commented on #1723
@Arne: Should we wonder too why node3 takes ownership in your 2nd bulletpoint, i/o node2. Because node2 is currently a slave and node3 doesn't know anything yet?

[2017-08-21 07:35] redlicha commented on #1723
@kvanhijf it's something I was wondering as well. Voldrv / edge don't use the MDS config at the moment for the HA preferences (this might be worth an FR). @saelbrec mentioned that "the FWK uses the distance maps for its domain implementation, and those are already taken into account for MDS placements", but I suppose that's at another granularity (DC, not individual voldrv's)?

[2017-08-21 07:56] JeffreyDevloo opened #1726 "Give user feedback on background migration jobs"
### Problem description
Updating your environment will do the most necessary tasks first while the services are down but afterwards a background job is scheduled.
The only way to see if this background job has failed is parsing the logs.
The problem is that the user has no direct feedback whether his environment has been fully updated or not.

We should create a page and steps to display the full

[2017-08-21 07:58] JeffreyDevloo commented on #1725
Refreshing has probably resolved this issue?
Seeing a pattern here with https://github.com/openvstorage/framework/issues/1669

EDIT: the error is completely the same as #1669

[2017-08-21 07:59] #1725 closed, assigned to nobody

[2017-08-21 08:06] kvanhijf opened #1727 "Update should not be able to downgrade"
Our update code is not smart enough when it comes down to comparing versions
It is possible to have it update from version 1.9 --> version 1.8 for example.
We should prevent this from happening

[2017-08-21 08:15] JeffreyDevloo commented on #1290
@wimpers
Any plans with this in the future?

[2017-08-21 08:20] wimpers commented on #1290
Not for the near future (hence assigned to Roadmap milestone)

[2017-08-21 08:46] wimpers commented on #1703
@hoanhdo

I believe the status of the ASD is `Unknown/external`. Can you check the logs to see if the initialize went ok? Is the ASD mounted?

[2017-08-21 08:47] JeffreyDevloo commented on #1703
Hi Hoanhdo

I suspect that there was an error while initializing your disks.
Do you still have the logs on these nodes? I would check the asd-manager log (journalctl -u asd-manager) on your asd-nodes (being 10.5.8.24, 30, 31, 36) and also the workers logs (journalctl -u ovs-workers) on your storage nodes

[2017-08-21 09:00] wimpers commented on #1726
Any reason why we would need a new page or can we add this information to the Update page under Administration?

[2017-08-21 09:01] JeffreyDevloo commented on #1726
It might get too cluttered in the future

[2017-08-21 12:42] kvanhijf commented on #1723
@redlicha : The distance mapping we use is based on how the primary and secondary domains have been configured by the customer, so the customer can decide which storagerouters belong in which domain/datacenter/...

This distance mapping we calculate, is then passed on to the clusterRegistryClient --> set_node_configs
and has a structure as follows:
[code]

[2017-08-23 07:29] JeffreyDevloo opened #1728 "Switch over to http2"
### Problem description
HTTP1.1 is rather subawesome in serving many files, hence why many chose to bundle their resources to get all the file in go.
HTTTP2.0 has a better implementation for fetching many smaller files, which the framework is currently serving with nginx.

[2017-08-23 07:38] domsj opened #1730 "Allow browser to cache certain resources"
Besides #1728 it also makes a lot of sense to allow the browser to cache javascript, images, and html templates, as these are all resources that don't change (for a specific version).
(Note: during development you may want to allow disabling the cache.)

[2017-08-23 11:40] matthiasdeblock commented on #1726
Why not creating a job logger like we have on CMC on VCPE? This will also make life as OPS easier to figure out on which node the job got triggered... For example, on Nuvolat we have +- 20 worker nodes...

[2017-08-23 13:59] wimpers commented on #1727
@kvanhijf

how can you get in this scenario? apt-get only allows to install higher package nrs (unless you force)?

[2017-08-23 14:06] wimpers commented on #1726
@ops can  you investigate (if time permits) if there is a tool that might help. Writing this from scratch might be out of scope for a long time.

[2017-08-23 14:15] matthiasdeblock commented on #1726
The only thing I can come up with is http://flower.readthedocs.io/en/latest/. But actually I'm not sure if this is the tool that we want and if it is detailed enough as this is only for Celery.

[2017-08-23 14:30] wimpers commented on #1720
Nothing to be fixed on the framework side as Arakoon needs to be up.

[2017-08-23 14:36] #1720 closed, assigned to nobody

[2017-08-23 14:44] wimpers commented on #1717
@domsj so you want something like `asd config list/edit` or what is the reason for this request?

[2017-08-23 14:55] wimpers commented on #1712
@saelbrec please discuss with Kevin

@kvanhijf  why is this critical?

[2017-08-23 15:21] domsj commented on #1717
Not sure what `asd config ...` would be about, but no.
Context: on nuvolat there are multiple config arakoons.
Currently the following can happen: you're on some node, looking at a process, and you want to edit its config ... now this config can be in another config arakoon and you can't edit it from this node using `ovs config edit`, which is inconvenient.

A solution to this could be an optional

[2017-08-23 15:29] JeffreyDevloo commented on #1726
I don't think that this is the kind of tool you want.
It's just the framework that should be storing the result of the scheduled tasks (the ones that are cronned to run) somewhere for the last x schedules
This way, we won't lose the information within the logging heap

[2017-08-24 09:23] wimpers commented on #1711
* Implement option 2.
* extend https://github.com/openvstorage/framework-alba-plugin/issues/284  so it also registers the services in the model.

[2017-08-24 09:24] wimpers opened #1733 "Role based nodes"
Currently a host can have many roles (run the framework, arakoon , asds, voldrv) but assigning these roles isn't very flexible. With this feature request we want to be assign roles more flexible.

This feature should tackle a few items:
- Don't automatically deploy the GUI on all master nodes. We could f.e. run the GUI in a container which can be moved or deployed across the cluster.
  -  Use a ke

[2017-08-24 12:34] wimpers commented on #1733
@saelbrec feel free to add your input

[2017-08-24 13:33] domsj commented on #1733
[code]
What is the granularity of these roles?
Is there 1 role for all arakoon clusters? Or subdivided by type of arakoon clusters (e.g. ovsdb/voldrv/abm/nsms)? Or for the alba specific ones it can depend on which backend the abm/nsm belongs too?

Placement of maintenance processes is one to add to your list too.

[2017-08-24 13:57] wimpers commented on #1733
I would allow this to be as specific as possible even up the the NSM backend level.  It should allow you  to have full control over where which Arakoon cluster lives so the external Arakoon cluster 'hack' is no longer needed.

[2017-08-24 14:15] JeffreyDevloo commented on #1733
I might have misclicked

[2017-08-25 07:29] wimpers opened #1735 "Opening remote tunnel should always be possible"
Opening remote tunnel should always be possible even in case Arakoon or RabbitMQ or the GUI is down.

As a last resort having to run a manual command or a set of command is acceptable.  In that case these need to be documented clearly.

[2017-08-25 12:08] matthiasdeblock commented on #1331
Suggestion:
Allow the user to dynamically change the voldrv settings in normal mode (no voldrv restart required).
Allow the user to change the non dynamically voldrv settings (and the dynamic settings) in maintenance mode  https://github.com/openvstorage/framework/issues/1342  (voldrv restart required).

user to change == At their own risk...

[2017-08-25 12:11] wimpers commented on #515
Re-open if we have a good use case for it.

[2017-08-25 12:25] wimpers commented on #1235
To be picked up when doing https://github.com/openvstorage/home/issues/28 . Re-open if we would really need it before that.

[2017-08-25 12:25] #1235 closed, assigned to wimpers

[2017-08-28 11:51] #515 closed, assigned to nobody

[2017-08-28 11:59] wimpers commented on #1576
After discussion with @jtorreke set to closed. Re-open if you would disagree and provide a reason.

[2017-08-28 11:59] #1576 closed, assigned to nobody

[2017-08-28 12:32] jeroenmaelbrancke commented on #1683
@wimpers

I will monitor each process separated on checkmk and see if memory increases or not.
[code]

The total memory of the vm is still increasing:

![image](https://user-images.githubusercontent.com/2900612/29773429-c4d7141e-8bfd-11e7-8157-e56289a07920.png)

[2017-08-28 15:03] JeffreyDevloo commented on #1656
No option to reconfigure as of yet.
The only fwk supported action would be: shrinking, extending via api with the new params

[2017-08-29 08:05] kvanhijf commented on #1719
https://github.com/openvstorage/framework/pull/1737 --> openvstorage-2.10.0-dev.1504526476.8d0cc72
https://github.com/openvstorage/iscsi-manager/pull/20 --> iscsi-manager-0.2.0-dev.1504522775.23bcb15
https://github.com/openvstorage/alba-asdmanager/pull/273 --> openvstorage-sdm-1.10.0-dev.1504523753.9071916
https://github.com/openvstorage/framework-extensions/pull/21 --> openvstorage-extensions-0.2

[2017-08-29 15:12] JeffreyDevloo opened #1738 "Do not continue shrinking a vpool when the mds cannot be removed"
### Problem description
On gig we saw an issue where ensuring the safety for certain disks failed because `vdisk.storagedriver_client.update_metadata_backend_config` took longer than 5 seconds.
Due to this the junction from the mds_service still has entries but the shrinking will continue.

Later in the code (mds checkup), the mds_services are fetched again (this service did not get removed becaus

[2017-08-29 15:14] JeffreyDevloo commented on #1728
Fixed by https://github.com/openvstorage/framework/pull/1732

[2017-08-29 15:33] wimpers commented on #1738
Is this related to  https://github.com/openvstorage/framework/issues/1530 or is this another area where the shrink vPool might get stuck.

[2017-08-30 06:40] kvanhijf commented on #1738
Its a different path in the MDS configuration. So we need both tickets, but they can be fixed in 1 go obviously

[2017-08-30 12:40] jeroenmaelbrancke opened #1740 "sync with reality before shrinking a vpool"
We have a case that the volume is not registered in the framework but is running on the volumedriver.
After shrinking the vpool the volume went down and is not able to do a local restart as the failovercache of this volume is not running...

[code]

So before shrinking a Vpool please check if all the volumes are registered in the framework.

[2017-08-30 12:59] matthiasdeblock commented on #1738
GIG and Nuvolat are running into this issue. There is workaround but there should be a fix ASAP.

[2017-08-30 15:29] kvanhijf opened #1743 "Introduce tab-completion for cmdline config management"

[2017-08-30 15:31] kvanhijf commented on #1743
https://github.com/openvstorage/framework/pull/1741 --> openvstorage-2.10.0-dev.1504105400.4efd1a5
https://github.com/openvstorage/framework-extensions/pull/23 --> openvstorage-extensions-0.2.0-dev.1504105003.bee6d72

[2017-08-30 16:03] wimpers opened #1744 "Api to retrieve PRACC socket path"
Api to retrieve PRACC socket path (uds path from config) so applications above like SIMF can easily retrieve the socket path.

[2017-09-04 09:19] kvanhijf opened #1747 "Delete snapshot(s) should wait longer when retrieving the snapshots from volumedriver"
When invalidating the 'snapshot_ids' on a vDisk, we only wait 2 seconds for the volumedriver to return
If this timeout is reached we assume the vDisk not having any snapshots. This then results in an errormessage saying 'Snapshot <id> does not belong to vDisk', which is incorrect since we just dont wait long enough

[code]
Above is piece of code being executed when invalidating the `snapshot_ids`

[2017-09-04 13:26] JeffreyDevloo opened #1748 "Handle cursors better"
### Problem description
[code]
The above is currently making our css very messy, it overrules any inheritance of every kind for cursors making a pain to make the HTML a bit more pretty.

[2017-09-04 14:34] wimpers commented on #1748
Hi  @JeffreyDevloo  do we know what needs to be done? If so fix between soup and potatoes or will this take too long (+1h)?

[2017-09-04 14:45] wimpers commented on #1747
Can we check the logs in Nuvolat to see what the average and max values for list snapshots are?

[2017-09-04 14:57] wimpers commented on #1740
We consider this to be a small one. revert if not the case.

[2017-09-05 07:47] redlicha commented on #1747
Can you please also check how many snapshots there are for these volumes by running `list_snapshots` with a bigger / no timeout.

[2017-09-05 10:55] dejonghb opened #1751 "GUI should not show green status and 0 size storage use if it has no clue"
The GUI incorrectly shows green status for 2 vdisks and 0 bytes of stored data:
![gui](https://user-images.githubusercontent.com/15377625/30057939-1c6d77b8-9239-11e7-9b4b-d5598ceb94e1.png)

In this case yad1 does not start (due to backward compat problem) and both disk do have stored data as can be seen once things are correct again:
![gui2](https://user-images.githubusercontent.com/15377625/30057

[2017-09-05 15:45] kvanhijf opened #1752 "openvstorage-extensions should be explicitly installed during update"
Our update is currently broken, since openvstorage-extensions is not being installed during an update scenario. This is because 'apt' does not upgrade dependencies when its requirements have already been met.
Eg: Our current control files contain `openvstorage-extensions ( >= 0.2.0)`
When an update is launched `openvstorage` will be updated, but the extensions will not since the prerequisites have

[2017-09-07 09:04] kvanhijf commented on #1752
https://github.com/openvstorage/framework/pull/1754 --> openvstorage-2.10.0-dev.1504776224.d90a791
https://github.com/openvstorage/iscsi-manager/pull/22 --> iscsi-manager-0.2.0-dev.1504776263.2359dd9
https://github.com/openvstorage/alba-asdmanager/pull/276 --> openvstorage-sdm-1.10.0-dev.1504776280.b392ff4
https://github.com/openvstorage/framework-extensions/pull/25 --> openvstorage-extensions-0.2

[2017-09-07 13:47] matthiasdeblock opened #1755 "Volume MDS master is not moving to the new local node"
After moving away volumes from NY1SRV0012 (172.17.16.15) to other storagerouters (move is always to a mds slave), I've noticed that there are still mds masters living on the node. I've tried an ensure safety on the volumes but that did not work. Below you can find the logs of a worker who have treated a volume ensure safety as well as the volumedriver who received the task.

In the volumedriver lo

[2017-09-07 14:00] kvanhijf opened #1756 "Fix update issues"
With Travis having been a trouble internally, we had to postpone merges and were not able to test update logic completely. This ticket is merely to make commits on regarding the update

[2017-09-07 14:13] kvanhijf commented on #1756
https://github.com/openvstorage/framework/pull/1757
https://github.com/openvstorage/framework/pull/1759
https://github.com/openvstorage/framework/pull/1760

https://github.com/openvstorage/iscsi-manager/pull/23
https://github.com/openvstorage/iscsi-manager/pull/24
https://github.com/openvstorage/iscsi-manager/pull/25
https://github.com/openvstorage/iscsi-manager/pull/26

https://github.com/openvst

[2017-09-07 15:34] JeffreyDevloo opened #1758 "Alba implementations are in the alba plugin but the alba proxies is hardcoded within this repo"
### Problem description
All of our effort to make the alba package optional for potentially other backends in the future are actually useless as setting up a vpool always requires alba to be there as we set up the alba proxies there and not in the alba plugin

[2017-09-11 03:42] hoannv46 commented on #1703
@JeffreyDevloo

I reinstall this cluster this is my cluster.

I have an backend error by these step.

- create 2 backend dc-1-performance and dc-2-performance.

On dc-1-performance  backend.
- initialize all disk on ovs-r1-performance-1 and ovs-r1-performance-2
- claim all disk on ovs-r1-performance-1 and ovs-r1-performance-2.

On dc-2-performance  backend.
- initialize all disk on ovs-r2-performa

[2017-09-11 08:05] JeffreyDevloo commented on #1748
This will take much longer. Its a general cleanup of our frontends html

[2017-09-11 11:41] kvanhijf commented on #1727
@wimpers : Its was a cosmetic matter. We sometimes witnessed this when updating from develop to experimental when not all packages had been synced to experimental yet. Then the GUI mentioned an update was available for eg: arakoon from 1.9.8 --> 1.9.3

Has been fixed anyway by https://github.com/openvstorage/framework/issues/1756

[2017-09-11 11:41] #1727 closed, assigned to nobody

[2017-09-11 11:44] kvanhijf commented on #1716
I think this is too dangerous to implement.
@jtorreke : Is this really necessary?

[2017-09-11 11:57] kvanhijf commented on #1755
https://github.com/openvstorage/framework/pull/1762 --> openvstorage-2.10.0-dev.1505205363.8328138
https://github.com/openvstorage/framework/pull/1770 --> openvstorage-2.10.0-dev.1505915598.43fd02a

[2017-09-11 11:58] JeffreyDevloo commented on #1703
Hi Hoan
I suspect that the node, that is facing the issues, has issues with multicasting.
You could verify this by manually starting the maintenance on ovs-r2-performance2.
Starting the maintenance manually can be done like so:
- Fetch the maintenance from another storagerouter (ps -aux | grep maintenance)
![image](https://user-images.githubusercontent.com/17570109/30273379-0a1806a4-96f9-11e7-998f

[2017-09-11 12:17] jtorreke commented on #1716
Real live scenario:
We have to reconfigure an alba proxy and need to remove the block cache. We can strip the block cache config section from the proxy config, but the abm_bc config is also still available in the config arakoon. How should we clean that up?

Also: vdisk.delete() is just as dangerous imho ;-)

[2017-09-11 12:52] kvanhijf commented on #1397
@wimpers : Changing the mds safety behind the scenes isn't a good solution imo. Instead i'd make it configurable in the GUI with a default of 3
Once we start implementing the 'Advanced configurations' for a vPool, this should go into that section. For now it'll be in the current configuration section where SCO cache and such can be configured

[2017-09-11 14:57] kvanhijf commented on #1397
https://github.com/openvstorage/framework/pull/1763 --> openvstorage-2.10.0-dev.1505202385.ca2d1eb

[2017-09-11 15:44] JeffreyDevloo opened #1764 "Keep a track of object creation/update times"
### Feature description
Keep a timestamp for when the object got:
- Created
- Last modified
It is possible to get a history of certain things this way through the framework

[2017-09-11 16:10] JeffreyDevloo commented on #1701
Was looking into this but apparently Alba processes do not like this setting?
I figure we should not implement this then?

[2017-09-11 16:12] JeffreyDevloo commented on #1701
[code]
Is the result, so I wont be implementing this.
Open if needed

[2017-09-11 16:37] toolslive commented on #1701
whatever solution you pick, the `TZ` environment variable needs to be set to a valid timezone
[code]
if it isn't you get a zillion calls like this:
`stat("/etc/localtime", {st_mode=S_IFREG|0644, st_size=2970, ...}) = 0`

it's `glibc` that behaves in a subawesome way if you don't.
Btw, it's not only alba that suffers from this, but everything that logs

[code]

[2017-09-12 02:24] hoannv46 commented on #1703
@JeffreyDevloo
I compared alba process in 3 node,
![selection_079](https://user-images.githubusercontent.com/5550425/30305049-fc36062e-979a-11e7-8101-52160f54678a.png)
![selection_080](https://user-images.githubusercontent.com/5550425/30305050-fc3aeeb4-979a-11e7-840e-ebacbb24c64c.png)
![selection_082](https://user-images.githubusercontent.com/5550425/30305051-fc3ceafc-979a-11e7-9d36-a5ade3838c7f.p

[2017-09-12 03:56] hoannv46 opened #1765 "create vpool failed on GeoScale cluster"
Hi all.

ovs version :
ii  openvstorage                         2.9.5-1                            amd64        openvStorage
ii  openvstorage-backend                 1.9.1-1                            amd64        openvStorage Backend plugin
ii  openvstorage-backend-core            1.9.1-1                            amd64        openvStorage Backend plugin core
ii  openvstorage-backend-webapps

[2017-09-12 06:57] dejonghb commented on #1701
According to https://hungryadmin.com/setting-the-tz-variable-for-systemd.html (and glibc info as pasted above) the timezone can be set to 'TZ=:/etc/localtime' but if you do this, alba doesn't start (other programs do work).

[2017-09-12 07:04] toolslive commented on #1701
after you do this, what's the value of `TZ` in the environment?
[code]
`:/etc/localtime` is not a valid timezone. It seems the evaluation/interpretation is not happening.

[2017-09-12 07:22] dejonghb commented on #1701
Cfr the comment above with "Testcode from https://blog.packagecloud.io/eng/2017/02/21/set-environment-variable-save-thousands-of-system-calls/ using "TZ=:/etc/localtime" works fine."

[2017-09-12 07:35] JeffreyDevloo commented on #1703
The framework will deploy a maintenance agent once a backend has been made on a node. Afterwards, each time an asd has been claimed, a maintenance will be running on that node.
Now that you have claimed the asds on ovs-r2-performance-2, the maintenance agent will be running there and you do not need manually intervene anymore.

It is not a bug, it more of an issue with our multi casting decision.

[2017-09-12 07:36] wimpers commented on #1764
@JeffreyDevloo  which objects do you mean? ALBA objects? In that case why would the framework be needed to store this information. Would it make more sense to store it in alba directly together with the object?

[2017-09-12 07:40] JeffreyDevloo commented on #1764
All of them. Storagerouters, storagedrivers, vdisks, osds, backends ...
It's some minor metadata that almost all databases keep track off, so why wouldn't we.

[2017-09-12 07:47] JeffreyDevloo commented on #1765
Hi Hoanhdo

Could you provide us the workers logs from all three nodes so we can deduce what went wrong here? The ARP command could be in it but it could also be misleading us.
You can fetch the logs by doing: journalctl -u ovs-workers.service and look for the add_vpool job

[2017-09-12 07:57] wimpers commented on #1764
Makes sense  to add this for what the Framework stores. Maybe pick it up during https://github.com/openvstorage/framework/issues/1179 ?

For ALBA objects I believe ALBA would be best suited to store that info. https://github.com/openvstorage/alba/issues/814

[2017-09-12 08:17] hoannv46 commented on #1765
Hi JeffreyDevloo

 This is log woker on  ovs-r1-controller  node add_vpool job
[log_worker.zip](https://github.com/openvstorage/framework/files/1295164/log_worker.zip)

This is log ovs-r1-controller'
[log_ovs_worker_ovs-r1-controller.zip](https://github.com/openvstorage/framework/files/1295196/log_ovs_worker_ovs-r1-controller.zip)

This is log ovs-r2-controller'
[log_ovs_worker_ovs-r2-controller.z

[2017-09-12 08:22] kvanhijf commented on #1397
MDS Safety can now be configured via GUI and API (default safety is 3)
GUI: In configuration page, on the bottom the MDS safety can be set
API: An additional dict can be passed (its optional), eg: 'mds_config_params': {'mds_safety': 3}

Through the GUI its not possible to overrule the MDS safety when extending a vPool
Through the API it is possible to overrule the MDS safety when extending a vPool

[2017-09-12 08:59] JeffreyDevloo commented on #1765
Hi Hoanhdo

Your loggin shows a lot of entries containing `Waiting for the StorageDriver to start up for vPool test-vpool-1 on StorageRouter ovs-r1-controller ...`
This could mean that the service can not be started.
Could you run ovs-monitor services on all those nodes? This will show the services that are not running.

If there are services that are non-running, please provide me with some logs

[2017-09-12 09:12] JeffreyDevloo commented on #1703
Closing as the ticket was resolved.

[2017-09-12 09:12] #1703 closed, assigned to nobody

[2017-09-12 09:53] JeffreyDevloo commented on #1710
Fixed by
- https://github.com/openvstorage/alba-asdmanager/pull/281 -> openvstorage-sdm_1.10.0-dev.1505209734.6db5eda-1_amd64
- https://github.com/openvstorage/framework/pull/1766 -> openvstorage_2.10.0-dev.1505209696.c179dea-1_amd64

[2017-09-12 10:00] JeffreyDevloo commented on #1701
What is the approach here? Detect which timezone it is and set it in the system.conf or wait for alba to determine it themselves?

[2017-09-12 10:04] wimpers commented on #1657
@saelbrec is this  a use case we want to support, shrink from 2 to 1? I tend to say to not fix this one.

[2017-09-12 12:50] JeffreyDevloo commented on #1744
Pretty impossible as of now. The framework provides an interface to generate such configs but after that, it's up to the customer who is managing his compute nodes.

An alternative route we could take is: integrate the hprm manager in the framework by doing a setup on it (similar to asd-manager and iscsi-manager) and add it to the fwk inventory of hrpm nodes.
Afterwards we could communicate with t

[2017-09-12 12:53] wimpers commented on #1744
Based upon @JeffreyDevloo suggestion (integrate the hprm manager) moved to Roadmap.

[2017-09-12 13:00] wimpers opened #1768 "Move HPRM config to vPool level"
Since the HPRM config is per vPool and not per Storage Driver, move the action which generates the  HPRM config to the vPool Actions level. This way there is no confusion and only one config per vPool generated.

Also don't propose a port for the pracc as this can be different per compute host.

[2017-09-12 13:51] JeffreyDevloo commented on #1740
Fixed by: https://github.com/openvstorage/framework/pull/1767 -> openvstorage_2.10.0-dev.1505223836.d38ad32-1_amd64

[2017-09-12 15:00] wimpers commented on #1656
In case we allow to update the fragment/block cache for a Storage Router, please check mockups as part of https://docs.google.com/document/d/1A5atdDML4W5Oao7G7L0Jhh7PfRx6i911LWGIqiuJHEA/edit#

[2017-09-13 01:58] hoannv46 commented on #1765
Hi JeffreyDevloo.

My cluster has 3 master nodes.
ovs monitor services : ovs-r1-controller

OVS running processes
=====================

ovs monitor services : ovs-r2-controller

ovs monitor services : ovs-r1-performance-1

all service running.
But vpool service can't run on all master nodes.

Thanks.

[2017-09-13 08:48] wimpers commented on #1048
vDisksMoveBack() is not needed. For mockups & details  check https://docs.google.com/document/d/1A5atdDML4W5Oao7G7L0Jhh7PfRx6i911LWGIqiuJHEA/edit .

[2017-09-13 09:21] wimpers commented on #1284
Since Philippe is no longer with us, assigning to @JeffreyDevloo

[2017-09-13 11:46] JeffreyDevloo commented on #1284
I find it odd that a global backend could claim asds or that a local backend would be marked as global. Either something is wrong with the description or picture?
Either way, I'm closing this issue down as neither cases could be reproduced

[2017-09-13 11:46] #1284 closed, assigned to nobody

[2017-09-13 12:43] JeffreyDevloo commented on #1768
Fixed by https://github.com/openvstorage/framework/pull/1769 -> openvstorage-2.10.0-dev.1505306178.9624847

[2017-09-13 13:33] wimpers commented on #1656
After discussion with @JeffreyDevloo following items will be picked up:
On the vPool details page:
- [x] Make the Storage Drivers collapsable (http://fontawesome.io/icon/plus-square-o/)
- [x] Replace the Nr. of proxies by a view which displays the status of the different proxies
- [x]   Add Edge port and IP info
- [ ]   Add restart all proxies (http://fontawesome.io/icon/bullseye/)
- [x]   Add edi

[2017-09-13 13:35] wimpers commented on #1656
To be on the same page, following items are out of scope and will not be tackled:
- [ ] Individually restart proxies
- [ ] edit voldrv config
- [ ] set maintenance mode

[2017-09-13 15:19] wimpers commented on #1454
https://docs.google.com/document/d/1RcmApWue5bKS1QFA0kkOMhMz5kWHa1b0r9TUrhjJ454

[2017-09-14 12:17] kvanhijf opened #1771 "volumedriver logging is broken"
The volumedriver doesn't log anymore in journalctl. This is because the logsink for a voldrv process was changed due to changes in update related code by setting the OVS_LOGTYPE_OVERRIDE env variable incorrectly

[2017-09-14 12:21] kvanhijf commented on #1771
https://github.com/openvstorage/framework/pull/1772 --> openvstorage-2.10.0-dev.1505391680.bada816
https://github.com/openvstorage/iscsi-manager/pull/27 --> iscsi-manager-0.2.0-dev.1505391722.f4fbf1f
https://github.com/openvstorage/alba-asdmanager/pull/282 --> openvstorage-sdm-1.10.0-dev.1505391743.70f2716
https://github.com/openvstorage/framework-iscsi-plugin/pull/21 --> openvstorage-iscsi-plugin

[2017-09-14 15:43] wimpers opened #1773 "Create a scheduled task for the Arakoon optimize DB call"
On our production clusters we schedule this every week. Hence it is better to create a scheduled task for the Arakoon optimize DB call

[2017-09-14 15:46] wimpers opened #1774 "Use all Storage Routers with the DB role for ABM and NSM clusters"
Currently ABM and NSM clusters are only deployed to master nodes, this ticket is to include all nodes with a DB role for NSM and ABM clusters.

Special attention is required to cover the case where a node is offline/removed as this might cause the arakoon clusters to break if nodes are removed to rapidly.

[2017-09-15 04:54] hoannv46 commented on #1765
Version of openvtorage component not newest
I reinstall my cluster, it work.
Seem my cluster has some conflicts.

Thanks

[2017-09-15 04:54] #1765 closed, assigned to nobody

[2017-09-15 07:17] matthiasdeblock opened #1775 "NoneType error while creating backend with API"
[code]

[2017-09-15 07:38] matthiasdeblock commented on #1775
Wrong repo

[2017-09-15 07:38] #1775 closed, assigned to nobody

[2017-09-15 09:11] wimpers opened #1776 "Retention policy mgmt"
Plugin which allows to manage the retention period of automatic snapshots of vDisks.
- Set a default retention for a vPool
- Option to overwrite the default retention per vDisk

[2017-09-15 09:11] wimpers commented on #1776
Detailed specs https://docs.google.com/document/d/1HiSimt4HfiW977YBOmTBbYsXGoSgracKEXqnjKYLZVM/

[2017-09-18 08:21] JeffreyDevloo opened #1777 "Framework set logging to file produces some errors"
### Problem description
Specifically setting the framework logging to file, so that all components log to a file instead of stdout, causes a bug that backends can no longer be made

[code]

[2017-09-18 08:45] wimpers commented on #1774
Should we only use nodes which have vPools that use the backend? What if you shrink a vPool?

[2017-09-18 09:21] domsj commented on #1656
FYI adding/removing block/fragment cache may (besides restarting the proxies) currently also require a restart of the volumedriver for the reads to happen via the fast path there

[2017-09-20 13:37] kvanhijf opened #1778 "MDS checkup should add X amount of services instead of only 1"
When for whatever reason the MDS checkup would have been disabled for a period of time OR a major amount of vDisks have been created on a single StorageRouter, the MDS checkup will always only create 1 MDS service each iteration.

Eg:
max load is at 75%, capacity is 100
74 vdisks have been created (load is at 74%) and mds checkup runs --> no additional mds service will be created
Now 152 vDisks ge

[2017-09-20 14:08] kvanhijf commented on #1755
MDS checkup and ensure_safety have been rewritten. Some issues had been detected and fixed, however i did not manage to reproduce this issue due to lack of evidence. The new code does however contain lots more logging telling us why certain actions have (not) been taken, allowing us to debug this scenario in case it would ever re-occur.
The 3 most important log statements added are:
* The configur

[2017-09-20 15:46] kvanhijf commented on #1778
https://github.com/openvstorage/framework/pull/1779 --> openvstorage-2.10.0-dev.1505922157.ae6ac3c

[2017-09-21 08:53] kvanhijf commented on #1738
https://github.com/openvstorage/framework/pull/1780 --> openvstorage-2.10.0-dev.1505983462.2b7be45

The MDS checkup and ensure_safety have been rewritten a bit. Less errors should be raised now. However in the case it would still occur, the shrinking of the vPool is stopped before anything is actually done. The vPool will also be automatically be put back in RUNNING status. This is purely because

[2017-09-21 13:35] kvanhijf commented on #1530
https://github.com/openvstorage/framework/pull/1781 --> openvstorage-2.10.0-dev.1506000428.be2e052

[2017-09-21 13:49] kvanhijf commented on #1530
* create_namespace
  * If this would fail, no changes will be propagated to the volumedriver, thus this should result in no changes anywhere (not voldr, not in model)
  * Now we only perform a create_namespace when a vDisk will be served by a MDS, which it wasn't served by previously
  * In case this fails, all previously created namespaces will be deleted to prevent from storage leaks

* set_role

[2017-09-21 13:59] wimpers opened #1782 "ASDs which don't belong to the backend should not be labelled green but grey"
ASDs which don't belong to the backend should not be labelled green but grey.

![2017-09-21_15-56-42](https://user-images.githubusercontent.com/8392927/30699744-d83d78fe-9ee5-11e7-8c81-1cdf781e9cab.jpg)

[2017-09-21 14:02] JeffreyDevloo commented on #1782
The gray color is used for marking osds that we know nothing about (unable to query to information)
Should we still mark it as gray?
Also this is for the current development build, not yet released so we should tackle this quite quickly

[2017-09-21 14:04] wimpers commented on #1782
Yes, please as having them being green should only be used for disks which belong to that backend

[2017-09-21 14:12] kvanhijf commented on #1782
We should be able to distinguish the difference between grey disks
belonging to the current Backend (for whatever reaons they are grye) and
grey disks belonging to another Backend, no?

On Thu, Sep 21, 2017 at 4:07 PM Wim Provoost <notifications@github.com>
wrote:

[2017-09-21 15:14] dejonghb opened #1783 "dpkg-query every 10s"
[code]
gets logged/executed every 10 seconds; which is certainly an overkill...

[code]
[code]

[2017-09-21 15:17] JeffreyDevloo commented on #1783
The heartbeat is currently firing off a script to check the installed packages.
https://github.com/openvstorage/framework/blob/develop/ovs/extensions/support/agent.py#L71
The list of packages contain both ee and non-ee versions causing dpkg -s to spew the dpkg-query info

[2017-09-21 15:36] dejonghb commented on #1783
Apart from those log statements, dpkg is also quite heavy to run and checking for changes in package version every 10 seconds is overkill....

[2017-09-22 10:09] kvanhijf commented on #1723
https://github.com/openvstorage/framework/pull/1785 -->

[2017-09-22 12:55] dejonghb opened #1786 "unreachable repo lets check for updates hang without timeout"
with apt-ee being unavailable, the check for updates remains hanging around and prevents newer checks (even when the repo is available again).

There should be some timeout to make sure these tasks are removed from the queue (now had to restart the workers service to force it to forget)

[2017-09-22 13:51] kvanhijf opened #1787 "Remove obsolete log entries about hybrids"
2017-09-22 15:18:55 21300 +0200 - kvh195-1 - 2760/139712841451264 - dal/helpers.py - __init__ - 0 - INFO - Received object type <type 'str'> is not a hybrid

This log message gets printed quite often also during 'ovs setup'

[2017-09-22 14:21] dejonghb commented on #1701
"Detect which timezone it is and set it in the system.conf" results in a duplicate config of the timezone to use; which really shouldn't be done.
No idea why alba bails out on the 'TZ=:/etc/localtime' as other code does seem to function without problems using that setting.

[2017-09-22 14:27] kvanhijf commented on #1747
@wimpers : The logs have been rotated in the meantime
i tried the following, but no results
[code]

[2017-09-22 14:32] kvanhijf commented on #1747
@redlicha
[code]
So a maximum of 66 snapshots for a single vDisk, thats reasonable i guess

[2017-09-22 14:49] kvanhijf opened #1789 "Implement new ClusterNotReachableException by VolumeDriver"
A new exeption has been introduced by the volumedriver in case a storagedriver client request times out: ClusterNotReachableException
Currently this new exception has not been released yet (on dev branch)

We should implement this and act accordingly in many parts of our codebase
Most importantly the ensure_safety in the MDSServiceController

Related ticket https://github.com/openvstorage/volumedr

[2017-09-22 15:30] toolslive commented on #1701
https://github.com/janestreet/core/blob/ead946f995d74f1d134a705af25615713a37af1c/src/core_time.ml#L192

[code]

[2017-09-23 08:42] toolslive commented on #1701
janestreet/core#96

[2017-09-25 07:58] kvanhijf commented on #1787
https://github.com/openvstorage/framework/pull/1788 --> openvstorage-2.10.0-dev.1506325818.45a2519

[2017-09-25 09:08] kvanhijf commented on #1747
* Timeout to retrieve snapshots has been increased from 2 to 10 seconds
* If retrieving the snapshots fails for whatever reason (timeout, ...), the error message returned by delete_snapshots will be the one the volumedriver itself throws.

https://github.com/openvstorage/framework/pull/1790 --> openvstorage-2.10.0-dev.1506329589.863e663

[2017-09-25 13:06] #1787 closed, assigned to nobody

[2017-09-25 13:06] #1778 closed, assigned to nobody

[2017-09-25 13:06] #1771 closed, assigned to nobody

[2017-09-25 13:06] #1768 closed, assigned to nobody

[2017-09-25 13:06] #1530 closed, assigned to nobody

[2017-09-25 13:07] #1710 closed, assigned to nobody

[2017-09-25 13:07] #1397 closed, assigned to nobody

[2017-09-25 13:07] #1719 closed, assigned to nobody

[2017-09-25 13:07] #1728 closed, assigned to nobody

[2017-09-25 13:07] #1738 closed, assigned to nobody

[2017-09-25 13:07] #1740 closed, assigned to nobody

[2017-09-25 13:07] #1743 closed, assigned to nobody

[2017-09-25 13:07] #1747 closed, assigned to nobody

[2017-09-25 13:07] #1752 closed, assigned to nobody

[2017-09-25 13:07] #1755 closed, assigned to nobody

[2017-09-25 13:07] #1756 closed, assigned to nobody

[2017-09-25 13:26] kvanhijf commented on #1723
Waiting for the volumedriver to port the changes (related to max tlogs behind) to EE

[2017-09-25 13:33] redlicha commented on #1723
The relevant changes are already present in the ee-6.17.0 release packages (volumedriver-ee-release-ubuntu-16.04 on jenkins).
These were not published to the EE apt repos yet due to a fwd compat issue https://github.com/openvstorage/volumedriver/issues/346 but the fix for this will not cause changes to the newly introduced config options / API changes. The corresponding OSE packages (6.17.1) have

[2017-09-25 14:43] saelbrec opened #1795 "Free/Used space on Active Drive backend detail page incorrect"
A new backend consisting out of 96 8TB drives with only a little data written to it shows 50% used/free space!?

See following screenshot
![screen shot 2017-09-25 at 16 42 18](https://user-images.githubusercontent.com/12733895/30814455-8c9bfd2a-a210-11e7-91df-2f38444c882e.png)

[2017-09-26 15:18] wimpers commented on #1795
@JeffreyDevloo  this should be fixed since you are no longer using asd-statistics. Can you
confirm and close?

[2017-09-26 19:36] toolslive commented on #1795
it's alba that lists it as 50%. Framework's not to blame (anymore)

[2017-09-27 12:53] kvanhijf commented on #1711
This issue was moved to openvstorage/framework-alba-plugin#490

[2017-09-27 12:54] kvanhijf commented on #1711
Reopened issue because the fix also includes changes in this repo

[2017-09-27 12:57] kvanhijf commented on #1711
https://github.com/openvstorage/framework/pull/1797 --> openvstorage-2.11.0-dev.1506520895.af0293a
https://github.com/openvstorage/framework-alba-plugin/pull/491 --> openvstorage-backend-1.11.0-dev.1506522259.f180102

[2017-09-27 12:59] kvanhijf opened #1798 "Installed packages not displaying on support page"

[2017-09-27 13:00] kvanhijf commented on #1798
https://github.com/openvstorage/framework/pull/1799 --> openvstorage-2.11.0-dev.1506520745.3a95802

[2017-09-27 13:03] kvanhijf opened #1800 "Change 'Maintainer' in package content"

[2017-09-27 13:07] kvanhijf commented on #1800
https://github.com/openvstorage/framework/pull/1801 --> openvstorage-2.11.0-dev.1506519053.ec0880c
https://github.com/openvstorage/hprm-manager/pull/11 --> hprm-manager-1.1.0-dev.1506519289.93dcc74
https://github.com/openvstorage/alba-asdmanager/pull/288 --> openvstorage-sdm-1.11.0-dev.1506519169.739bd15
https://github.com/openvstorage/framework-alba-plugin/pull/492 --> openvstorage-backend-1.11.0

[2017-09-27 14:43] kvanhijf commented on #1711
Version bump of the API from 9 to 10 was necessary for this. Because 'amount' in 'expand_nsm_clusters' ('alba/backends') was obsoleted

[2017-09-27 16:08] dejonghb opened #1802 "global remote backend not available in add vpool"
Only be1 & be2 are available when adding a new vpool
![screenshot from 2017-09-27 18-05-14](https://user-images.githubusercontent.com/15377625/30924267-8a1a02aa-a3ae-11e7-9539-772010265747.png)
while there should also be a global backend available...
![screenshot from 2017-09-27 18-06-39](https://user-images.githubusercontent.com/15377625/30924327-ba21b182-a3ae-11e7-9614-054e2802f821.png)

@kvanhi

[2017-09-28 09:53] kvanhijf commented on #1802
This issue is only applicable in the following case:
Environment on which the vPool is being created/extended has the latest unstable code (2.10.0 atm)
Environment from which a GLOBAL Backend is being retrieved runs older code (2.9.6 or lower)

The reason for this issue is because the latest code (2.10.0) retrieves the information of the remote GLOBAL backend and verifies if its size > 0. The remo

[2017-09-28 10:18] dejonghb opened #1803 "ExecStopPost in ovs-volumedriver service can kill all others"
Inside the systemd service file for the volumedriver following ExecStopPost gem is hidden:
[code]
(.../config/templates/systemd/ovs-volumedriver.service)

For gbe-vpool-pre1111 this translates to:
[code]

The crucial part is the
[code]
which finds all volumedriver_fs processes (all other vpools included) and proceeds to kill them...

Btw, awk can "grep" itself, so those extra grep calls are overhe

[2017-09-28 10:37] domsj commented on #1802
Sounds like a user issue? @dejonghb should've just updated all nodes of all his clusters to the same version at the same time?!? :smile:

[2017-09-28 10:53] kvanhijf commented on #1802
https://github.com/openvstorage/framework/pull/1804 --> openvstorage-2.11.0-dev.1506597359.f602de3

[2017-09-28 12:08] kvanhijf commented on #1573
Added priority critical to it because the presence of the statsmonkey on an environment WILL BREAK the update.
When statsmonkey relies on imports which have been changed in a new release and the update is started, re-loading the statsmonkey module will result in the update failing.
When the statsmonkey would no longer be a stand-alone file, this would no longer be an issue, since the update would

[2017-09-28 13:39] JeffreyDevloo opened #1805 "Updating with plugins could crash the update"
### Problem descriptions
Plugins which shoot tasks within celery can break our update if they are not updated at the same time.
Given the nature of plugins, they will always be a few steps behind and could cause issues when updating

### Proposed solution
Plugins should be given their own directory on which we can check if they are valid with the current code. If not, the plugin should not be allo

[2017-09-28 14:59] JeffreyDevloo commented on #1795
As mentioned by @toolslive
The statistics alba reported are currently hard-coded so the framework will show these hard-coded ones

[2017-09-28 14:59] #1795 closed, assigned to nobody

[2017-09-28 15:09] JeffreyDevloo opened #1806 "Loading in plugins into the front-end can fail after a webapp restarts"
### Problem description
When restarting the ovs-webapps, I've noticed that the plugin code for our front-end sometimes fails to load.
This can be fixed by a refresh of the gui

![image](https://user-images.githubusercontent.com/17570109/30974382-d5c4f842-a46f-11e7-9a2e-b86e653f9703.png)
Backends-tab is missing here

[2017-10-02 11:11] #1711 closed, assigned to nobody

[2017-10-02 11:11] #1798 closed, assigned to nobody

[2017-10-02 11:12] kvanhijf commented on #1711
Included in release https://github.com/openvstorage/framework/releases/tag/2.10.1

[2017-10-02 11:12] kvanhijf commented on #1798
Included in release https://github.com/openvstorage/framework/releases/tag/2.10.1

[2017-10-02 11:12] kvanhijf commented on #1802
Included in release https://github.com/openvstorage/framework/releases/tag/2.10.1

[2017-10-02 11:12] #1802 closed, assigned to nobody

[2017-10-02 13:09] wimpers commented on #1647
@jeroenmaelbrancke

I believe this ticket is composed of 1 issues and a question:
- Issue:  the fact that the disks are attached to a single node (https://github.com/openvstorage/framework/issues/1231)
- Question: Should we remove this type of partition/block device from being claimed. wdyt?

[2017-10-03 14:42] jeroenmaelbrancke opened #1813 "[External Arakoon] Running ovs setup with wrong external arakoon info results in the creation of a locally managed arakoon"
I made a mistake in my test environment with the external managed rabbitmq ('/ovs/framework/messagequeue')

After fixing the issue i tried to run the ovs setup again and ended up with an error ovsdb already exists...

I do not understand why the framework try to create an ovsdb arakoon that:
1) already have been deployed by us
2) creating a new one (remember arakoons are externally managed...)

I

[2017-10-04 09:55] JeffreyDevloo commented on #1813
The mistake was that the metadata property was a string instead of a dict.
When the setup was run again, the framework created an internally managed arakoon instead of using the externally one which was requested

[2017-10-04 12:28] jeroenmaelbrancke commented on #1813
@JeffreyDevloo This error was not caused by a wrong external arakoon config but a rabbitmq config.

[2017-10-04 14:28] dejonghb opened #1814 "size versus usage mismatch"
As someone already claimed: screenshot says it all... (hint: size versus usage)
![screenshot from 2017-10-04 16-26-01](https://user-images.githubusercontent.com/15377625/31181127-d1394048-a920-11e7-8516-490b589d8a52.png)

[2017-10-04 14:31] kvanhijf commented on #1814
Values come from alba

[2017-10-04 14:35] dejonghb commented on #1814
[code]

[2017-10-04 14:56] kvanhijf opened #1815 "Logger.get_sink_path should not take OVS_LOGTYPE_OVERRIDE into account"

[2017-10-04 15:38] JeffreyDevloo commented on #1814
Okay, the usage is based upon the asd their reported size and their reported usage
The issue is that the size of the asd is not correct/possible?

[2017-10-04 15:42] dejonghb commented on #1814
There are 2 things:
- "capacity": 202451916800 verus 100.00 GiB size (in model)
- usage & total size exceed modelled 100.00 GiB as well

Guess df -B 1 is used on the mountpoint to find out about used / full size, not what asd/alba reports

(Note: running in lxd container and using directories on a disk, not a total device for itself)

[2017-10-04 15:50] kvanhijf commented on #1815
This issue was moved to openvstorage/framework-extensions#37

[2017-10-04 15:50] #1815 closed, assigned to kvanhijf

[2017-10-04 16:05] kvanhijf opened #1817 "ArakoonInstaller should not chown and chmod its logsinks directories recursively"
ArakoonInstaller does a recursive chown ovs:ovs and chmod 0755 for all of its directories:
* tlog dir
* home dir
* log sinks
* crash log sinks

The latter 2 will cause much side effects in case a user decides to switch to 'file' logging instead of the default 'console:'
This is because in this case the log sink directories are /var/log/ovs, which contains all of our logfiles

[2017-10-05 09:50] wimpers opened #1818 "Allow to turn HPRM on/off per vDisk"
The HPRM offers flexibility we are not using today:
- When adding the vPool, allow to set HPRM On/off as default for the vPool (updateable afterwards).
- vDisks inherit the vPool default on creation
- Allow to turn HPRM on/off per vDisk on the vDisk detail page

[2017-10-05 13:40] jeroenmaelbrancke opened #1820 "none interactive issues with ovs setup launching the asd-manager setup"
On node x i want to install the volumedriver of a global setup with the asd-manager from another setup (see Nuvolat env).

What we do is installing openvstorage-backend (volumedriver global setup) and openvstorage-sdm (asds from another setup) separated.
When we launched the ovs setup, the setup check if /opt/asd-manager exists.
If so the ovs setup automatically launched the asd-manager setup.
Thi

[2017-10-06 08:38] JeffreyDevloo commented on #1818
This requires HPRM to be a fully managed solution and not the responsibility of the consumer.
or the volumedriver/alba should support disabling this for a volume / namespace

[2017-10-06 08:59] wimpers commented on #1818
Icon http://fontawesome.io/icon/random/ (or http://fontawesome.io/icon/space-shuttle :D )

[2017-10-10 14:25] jeroenmaelbrancke opened #1822 "Scrubber deletes parent directory"
The scrubber clean up the scrubber directory even if other scrubber are running using this parent directory:

for example:
root@NY1SRV1000:~# ls /mnt/hdd2/scrub_work_ss-ny1-01_NY1SRV1000/
1d73f7e6-52af-40e1-903d-26b0f89e12af  56873b39-3a4e-4847-b7ba-e4c9d3fee23f  5ee9e5ca-8d3e-4bf4-9e1a-8f2cb0b9250c

if scrubber for vdisk 1d73f7e6-52af-40e1-903d-26b0f89e12af finished he will remove the complete di

[2017-10-11 08:44] wimpers commented on #1818
I was hoping not to create an HPRM manager but to piggy back on the edge/voldrv communication like we  do for the voldrv ownership. The edge could periodically check the voldrv for the hprm status.

Maybe extend the on/off with the amount of manifest data to cache (in GB).

[2017-10-11 09:05] wimpers opened #1823 "Move vDisk - add hint where MDS slave is running"
In the Move vDisk wizard,  add a hint where MDS slaves are running and select by default one where an MDS slave is running (keep domain in mind).

[2017-10-11 09:07] wimpers commented on #1823
![2017-10-11_11-00-52](https://user-images.githubusercontent.com/8392927/31431565-66cbaf9e-ae74-11e7-8af4-044ace1925cf.jpg)

Add http://fontawesome.io/icon/map-marker/ behind the SR where the slave MDS are running.

[2017-10-11 09:12] wimpers commented on #1700
Also requested by GIG

[2017-10-11 10:14] wimpers opened #1824 "Resize vDisk management action"
Edit button  on the vDisk detail page (similar to edit vPool). If clicked, Size becomes a text field. Only allow to put a higher nr for size as shrinking isn't allowed.

[2017-10-11 13:32] kvanhijf commented on #1573
https://github.com/openvstorage/framework/pull/1825 --> openvstorage-2.11.1-dev.1508761354.9c74fe5
https://github.com/openvstorage/alba-asdmanager/pull/296 --> openvstorage-sdm-1.11.0-dev.1508761294.96200d1
https://github.com/openvstorage/framework-alba-plugin/pull/512 --> openvstorage-backend-1.11.0-dev.1508761150.9969129
https://github.com/openvstorage/framework-extensions/pull/41 --> openvstora

[2017-10-11 14:38] wimpers commented on #1824
Some thoughts while we are at it:
- Can we change the name of a vDisk without breaking things (not the .raw)?
- Maybe we should at the same time remove the move vdisk icon (making the forest of icons smaller) and allow the SR to be changed when edit is clicked (dropdown).

[2017-10-11 15:17] kvanhijf commented on #1822
Included in release 2.10.2

[2017-10-11 15:26] matthiasdeblock commented on #1680
Wrong action

[2017-10-11 15:26] #1680 closed, assigned to nobody

[2017-10-11 15:55] #1822 closed, assigned to nobody

[2017-10-11 15:56] kvanhijf commented on #1800
Included in release 2.10.1

[2017-10-11 15:56] #1800 closed, assigned to nobody

[2017-10-11 17:13] JeffreyDevloo commented on #1658
Taking this up with my edit-vpool changes. Have to change certain aspects about the add, might as well take this up.

[2017-10-12 08:00] wimpers commented on #954
@saelbrec , I'm tend to close this one down as it is already possible to use more than 1 disk for the Arakoons by setting up external arakoons.

I also don't see a use case for spreading the vol metadata across 2 separate (non-raid 1 disks). 1GB of SSD space can address 1TB of data (8KB blocksize).

If you would disagree, feel free to re-open.

[2017-10-12 08:01] #954 closed, assigned to nobody

[2017-10-12 08:39] wimpers commented on #1813
After discussion with @jeroenmaelbrancke : this one can be closed as it should be tackled when taking up https://github.com/openvstorage/framework/issues/1370 (allow actions to be rolled back/rerun)

[2017-10-12 08:40] #1813 closed, assigned to nobody

[2017-10-12 08:41] wimpers commented on #1370
In case of a rollback of ovs setup,  make sure the DBs are removed or released  in case of externally managed Arakoons.

[2017-10-12 13:53] wimpers commented on #1688
See operations script as doing it for nsm isn't always  a good thing so only do it for abm|config|voldrv|ovsdb .

[2017-10-13 08:20] kvanhijf opened #1833 "Updater doesn't 'see' updates anymore when services need a restart"
We have a run version file for many of our services
eg: /opt/OpenvStorage/run/ovs-albaproxy_vpool1.version

This file contains the version of the binary which is used by this service. During migration code we sometimes edit the service file and then we add a '-reboot' entry in the version file indicating this service needs a restart. The 'Refresh Package Information' should pick this up, so so-cal

[2017-10-13 08:44] kvanhijf commented on #1833
Merging in the code closed the ticket

[2017-10-13 08:46] kvanhijf commented on #1833
openvstorage-2.10.3-dev.1507883754.892ffa8

[2017-10-16 09:04] kvanhijf opened #1835 "API should allow for generic calls"
Our current implementation does not allow to add generic calls which can be used for an entire cluster for example. Eg: client.get('get_cluster_status')

This is currently impossible, because we require a DAL object to be passed in the API, like this
client.get('storagerouters/' + storagerouter.guid + '/get_cluster_status')

This is a very sub-awesome implementation for an API

[2017-10-16 09:13] kvanhijf opened #1836 "Implement 'scrub_all_vdisks' API call"

[2017-10-16 09:34] kvanhijf commented on #1836
https://github.com/openvstorage/framework/pull/1837 --> openvstorage-2.10.3 (unstable)
https://github.com/openvstorage/framework/pull/1838 --> openvstorage-2.10.4-dev.1508145746.3739fed (fwk-develop)

[2017-10-16 13:39] JeffreyDevloo commented on #1835
Taking this up as I need for another ticket.

[2017-10-16 14:24] JeffreyDevloo commented on #1835
This would require a update from the Django-rest-framework.
http://www.django-rest-framework.org/api-guide/viewsets/#marking-extra-methods-for-routing or we could test https://github.com/chibisov/drf-extensions which does the same for older Django versions.
I'd opt for an update

[2017-10-16 15:00] JeffreyDevloo opened #1839 "Update our core dependencies"
### Problem description
While looking around for certain bugs/annoyances in our libraries, I discovered that we are 4.5 years behind on updates on our core dependencies:

#### Front-end
- Knockout:
  - Installed: 3.3.0
  - Candidate: 3.4.2
- Durandal:
  - Installed: 2.0.1
  - Candidate: 2.2.0
- JQuery:
   - Installed: 1.9.1
   - Candidate: 2.1

##### Back-end
- Celery:
  - Installed: 3.1.23-5
  -

[2017-10-19 07:51] wimpers commented on #1514
The edge client should be made aware of the status of the Storage Driver so it doesn't select the a Storage Driver which is not in status RUNNING. Every 5 minutes the egde client shoeld get a refreshed status.

PS. Another status could be MAINTENANCE.

[2017-10-19 07:55] wimpers commented on #1379
There are no plans for ZFS support in the backend so closing this one down. If we get the request we can re-open or create a new ticket.

[2017-10-19 09:04] JeffreyDevloo opened #1840 "Update JQuery"
### Problem description
The current JQuery versoin (1.9.1)  is built for older browsers and contains polyfill code which we do not really need.

The candidate to be installed is JQuery 3.2.1

[2017-10-19 09:05] JeffreyDevloo commented on #1341
Updating Durandal also caused Knockout to be updated.

[2017-10-19 09:06] JeffreyDevloo commented on #1840
Updating JQuery required a patch in the Durandal code. (https://github.com/BlueSpire/Durandal/issues/695)

[2017-10-19 09:07] JeffreyDevloo commented on #1839
Reworking certain GUI aspects for https://github.com/openvstorage/framework/issues/1656

Picked up the following tickets:
- https://github.com/openvstorage/framework/issues/1341
- https://github.com/openvstorage/framework/issues/1840

[2017-10-19 10:30] #1379 closed, assigned to nobody

[2017-10-19 12:59] wimpers opened #1841 "Call a backend sync as last step of the clone process"
As workaround for https://github.com/openvstorage/volumedriver/issues/148  call a backend sync as last step of the clone process so we have at least a TLOG on the backend.

[2017-10-19 15:11] JeffreyDevloo commented on #1341
Fixed by: https://github.com/openvstorage/framework/pull/1842
Packaged in: openvstorage_2.11.0-dev.1508425646.3f58fa3-1_amd64.deb

[2017-10-19 15:11] JeffreyDevloo commented on #1840
Fixed by: https://github.com/openvstorage/framework/pull/1842
Packaged in:  openvstorage_2.11.0-dev.1508425646.3f58fa3-1_amd64.deb

[2017-10-23 07:36] kvanhijf commented on #1841
Included in release openvstorage-2.9.9

[2017-10-23 07:36] #1841 closed, assigned to nobody

[2017-10-23 08:39] wimpers commented on #1574
@saelbrec  after our last discussion in the BAM there was some doubt whether this should be integrated in the framework or not. Please lay your egg.

[2017-10-23 11:36] kvanhijf commented on #1574
The least that should be done is including the healthcheck in our update logic
If we decide not to integrate in the framework, the update should be aware of the healthcheck having an update available.
If we do decide to integrate in the framework, we don't have to care about this problem.

For simplicity sake it would be nice to integrate this in the framework
Also the framework can benefit from t

[2017-10-23 12:18] kvanhijf opened #1846 "Remote support code should make use of the service manager"
The remote support agent makes use of `check_output`, which can be used for bash code injection
Also the services being started and stopped are done by using systemctl commands, but the service manager should be used instead

[2017-10-23 12:34] kvanhijf commented on #1573
Statsmonkey can be configured via
'Administration dropdown' --> 'Support' page --> 'Support Settings' section

When enabling statsmonkey, credentials and other information will be prompted for regarding where/how the stats need to be stored

[2017-10-23 13:33] kvanhijf commented on #1783
Fixed by https://github.com/openvstorage/framework/pull/1825

[2017-10-23 13:33] kvanhijf commented on #1783
Too soon

[2017-10-24 12:39] jeroenmaelbrancke opened #1848 "watcher-framework went down due to extending the ovsdb arakoon"
After extending the ovsdb from 4 Arakoon nodes to 5 Arakoon nodes with the ArakoonInstaller module.

For some reason the ovs-watcher-framework, ovs-workers and ovs-webapp-api went down during the extension. The ovs-watcher-framework recovered but not the workers and webapp-api. I thought the watcher-framework monitored those processes and try to restart them x times...

I think the way the framewo

[2017-10-24 13:10] wimpers commented on #1848
Is this somehow related to https://github.com/openvstorage/framework/issues/1709 ?

[2017-10-24 13:14] jeroenmaelbrancke commented on #1848
@wimpers I did not verify this but it looks the same issue.
@domsj The way they extend is this the correct way or not?
If so we can close the ticket.

[2017-10-24 13:59] JeffreyDevloo commented on #1848
The #1709 does not show this Arakoon exception

[2017-10-24 14:13] domsj commented on #1848
The way to extend looks correct.

The problem inside the ovs-watcher-framework looks like it is due to the old ovsdb config there still being cached.
The caching is fine, but upon detecting that the config is outdated (here it does so with the key error - admittedly not the most elegant way), this process should reload the config and just try again.
What happened instead is that the process went d

[2017-10-25 08:43] JeffreyDevloo commented on #1613
Fixed by: https://github.com/openvstorage/framework-extensions/pull/47
Packaged in: openvstorage-extensions_0.3.0-dev.1508940072.3fe3325-1_amd64

Added a `return_exit_code` param for SSHClient.run

[2017-10-25 12:31] kvanhijf opened #1849 "Impossible to link a backend with ASDs to 2 different GLOBAL backends"
Unique constraint violation when adding a backend with ASDs to a global backend, when the ASD Backend was previously already linked to another global backend.
![linking-backends](https://user-images.githubusercontent.com/13535590/31998797-57d1fbc4-b991-11e7-9069-73e31349e9af.png)

[2017-10-25 12:47] wimpers commented on #1849
Did you unlink the local backend first or do you try to link the same local backend to 2 different global backends at the same time?

[2017-10-25 13:11] kvanhijf commented on #1849
i did not unlink, nor did i link them at the same time

[2017-10-25 13:12] kvanhijf commented on #1849
create backend1 (LOCAL)
create global1 (GLOBAL)
create global2 (GLOBAL)

link backend1 to global1
wait for them to be linked
link backend1 to global2 --> ERROR

[2017-10-25 18:29] JeffreyDevloo opened #1850 "Vdisk should have an unknown state"
### Problem description
When an XMLRPC error is raised, the info property will return RUNNING for live status. This is sub awesome and might lead to more issues

[2017-10-26 07:13] wimpers commented on #1850
@JeffreyDevloo

what are the current possible states? Why UNKNOWN and not ERROR ? If we receive that XMLRPC error  are there cases where the vDisk is actually running or is it always stopped? What do you as a user need to do next ?

[2017-10-26 11:48] wimpers commented on #1646
The current OPS move script has as input a list of vdisks and moves these towards an MDS slave is living (preferrable the one in the same domain). See https://github.com/openvstorage/operations/blob/master/scripts/move_vdisk_advanced.py

In case no mds slave ... randomly move the vdisk to a SR in the same domain/Vpool.

[2017-10-26 13:25] JeffreyDevloo commented on #1646
That is not really the point of this api.
This api should make it possible to give a list of guids as arguments to move to a certain storagerouter. (It would not care about mds location, similar to the current move)

[2017-10-26 13:32] wimpers commented on #1646
There are 2 ways you could see this API
* move_to: post with list of vdisk executed on Storage Driver guid where to move to (your use case)
* move_away: post with list of vdisk executed on Storage Driver guid where the disks need to be moved away from  (my use case f.e. when doing maintenance)

Do you have a use case in mind where you want to move a list of vDisks (from different Storage Routers?)

[2017-10-26 13:47] JeffreyDevloo commented on #1646
Yes, the move vdisk advanced current implementation for example. Instead of every volume one by one, you could supply the list to move to that particular storagedriver. (We would use a similar call internally so we might as well expose it)

[2017-10-26 13:49] JeffreyDevloo commented on #1850
Current statusses: 'HALTED', 'NON_RUNNING', 'RUNNING'

The reason behind the unknown is that management calls could be blocked and no information can be fetched from the volumedriver while the volume is still running.
 There is no current ERROR state (should be different query to see if a volume could not be started or sth)

[2017-10-30 16:00] sjovdnbos opened #1852 "Block multiple db roles in one storagerouter"
after configuring a first partition in a disk with write, scrub, DB, DTL functionality, i quickly started a second wizard to assign a second partition with DB role.

- n>1 partitions with DB (and DTL) role should not be allowed

- i still could not create a backend, (error warning: need at least one partition with db role), despite having 2 disks with DB role assigned visually

[2017-10-31 10:32] sjovdnbos opened #1853 "integration of edition in config management"

[2017-10-31 10:42] wimpers commented on #1853
@simonOpenV  please elaborate what this issue exactly does. Is this a bug , feature, improvement?

[2017-10-31 10:47] sjovdnbos commented on #1853
https://github.com/openvstorage/iscsi-manager/pull/40 --> iscsi-manager-0.3.0-dev.1509380867.4db9b09
https://github.com/openvstorage/framework/pull/1851 --> openvstorage-2.11.1-dev.1509380766.6af120a
https://github.com/openvstorage/alba-asdmanager/pull/297 --> openvstorage-sdm-1.11.0-dev.1509380829.b18bda9

[2017-10-31 10:52] kvanhijf commented on #1853
Issue was created by me as an example for Simon
This issue was required to make life easier in the healthcheck and will also prove useful in the framework's package manager

[2017-10-31 10:54] wimpers commented on #1853
What is the content of the change? You now store the edition (OSE or EE) in the config mgmt Arakoon?

[2017-10-31 10:56] JeffreyDevloo commented on #1853
Yes

[2017-10-31 15:46] wimpers commented on #1852
Since https://github.com/openvstorage/framework/issues/954 is closed, we should limit the amount of DB roles that can be set to 1.

[2017-10-31 16:33] JeffreyDevloo commented on #1852
That is indeed the reason for this ticket

[2017-11-02 08:47] JeffreyDevloo opened #1854 "Fix dropdown menu in scrollable modal"
### Problem description
Scroll bar appears in modals when the dropdown would go out of bounds

This is caused by the max-viewheight css and the fact that the dropdown position is absolute.

#### First attempt to fix:
Introduced: widget-dropdown

[code]
Also:
![image](https://user-images.githubusercontent.com/17570109/32317506-49afb22e-bfb4-11e7-9a86-be430eb4b553.png)

Introduced by: https://github

[2017-11-02 10:31] wimpers opened #1855 "Extend heartbeat info"
Extend the heartbeat info with

- Nr. of vDisks
- Nr. of vPools
- Nr. of backends (+type)
- Nr. of ASDs in each backednd
- Nr. of disks and type,size  in SR and their different roles
- hostname of the SR (?)

[2017-11-02 13:08] JeffreyDevloo commented on #1855
Any reason as to why this has to be shared via a heartbeat internally?

[2017-11-02 13:32] wimpers commented on #1855
A better understanding of how people are using OVS.

[2017-11-07 09:26] kvanhijf opened #1856 "Update broken on fwk-develop"
Since the introduction of the /ovs/framework/edition configuration key, the update is broken.
For the moment we cannot test the migration code and other update paths

[2017-11-07 10:24] JeffreyDevloo commented on #1687
Will be picked up after merging the initial changes to add vpool to keep it re-viewable.

[2017-11-07 10:24] JeffreyDevloo commented on #1656
Will be picked up after merging the initial changes to add vpool to keep it re-viewable.

[2017-11-07 10:26] JeffreyDevloo opened #1857 "Unit test the add vpool code"
### Problem description
With the upcoming changes to add vpool, the code will be chopped up into pieces. This would be the ideal time to also provide unit tests.

[2017-11-07 11:20] JeffreyDevloo commented on #1670
Must have been bad luck. The token that is provided stays for 24hours.
A decision should be made whether
 - our API should automatically refresh the tokens in the client side (this will be some more work as a new persistent key has to be made and stored and writing up some client code)
 - The token expiration can be edited and will fallback to 12hours (this means logging in every day will be cover

[2017-11-07 14:23] wimpers commented on #1670
After discussion with @JeffreyDevloo :
* option 2 will not fundamentally fix the issue (currently the value is set at 24h  but OPS can set it to anythingthey like)
* I believe a more fundamental approach is to use shot-lived - auto refresh tokens which can be revoked.

@JeffreyDevloo could you add a ballpark estimate for that latest option? In the mean time setting it to Roadmap.

[2017-11-07 15:36] saelbrec opened #1859 "New API call to get vdisk_params in bulk"
Currently it's only possible to request this info for a single disk while for some use cases(eg: writebuffer or cache quota management) it is required to get to know this for all vdisks in a vpool or per storagerouter.

[2017-11-07 16:16] JeffreyDevloo commented on #1670
Things to be done:
**Server side:**
 - Add a new type of token which is persistent (should never be removed automatically): the refreshing token (4h with refactoring other token logic)
 - Add a view which only the refreshing token can have access too (this view should contain the logic to fetch a new token) (4h with rights testing)
- Optionally: build in this refreshing logic in the ovs client to

[2017-11-07 16:35] JeffreyDevloo opened #1860 "Make api token expiration configurable"
### Problem description
https://github.com/openvstorage/framework/issues/1670
The requested fix would take a little bit more work than really needed here.

This is a quick way to delay the issue

[2017-11-07 16:38] JeffreyDevloo opened #1861 "Build something generic to expose python code to the cli"
### Problem description
All cli calls have to manually added to a bash file and it is becoming a bit dirty.
There should be something more generic to use to make our life a bit easier.

(potential inspiration: https://github.com/openvstorage/openvstorage-health-check/blob/master/ovs/extensions/healthcheck/expose_to_cli.py#L57 + https://github.com/openvstorage/openvstorage-health-check/blob/master/

[2017-11-07 16:47] wimpers commented on #1861
Can't we leverage Swagger (and its toolset) for this? Also see https://github.com/openvstorage/home/issues/28.

Exposing python code should always be done through the API.

[2017-11-07 16:55] JeffreyDevloo commented on #1861
Swagger is a just a description for our API. None of the CLI calls do something that the current API is capable of.
All current CLI calls execute some python code in the background (ovs config get returns Configuration.get etc)
The idea is just decorating these methods and allow the cli to provide the functions arguments.

[2017-11-07 17:08] wimpers commented on #1861
Eventually we will want to turn our API into a CLI also. So for the long run it might be an option to turn the current CLI options into an action that can be executed by the API.

[2017-11-08 07:21] JeffreyDevloo commented on #1861
Yes, that would be nice to have, but there should still be something to expose additional, non-api stuff through the cli

[2017-11-08 08:34] wimpers commented on #1861
What do you see as use case for calls which should be doable through CLI but not through the API?

[2017-11-08 08:36] JeffreyDevloo commented on #1861
Most of these: https://github.com/openvstorage/framework/blob/develop/scripts/system/ovs#L24

[2017-11-09 09:58] JeffreyDevloo commented on #1735
### Changes to the support agent:
The support agent is able to run in all failure cases (Arakoon, DAL failures, RabbitMQ) and has a minimal amount of dependencies on other Framework code.

When Arakoon/DAL would be down, all user made setting can no longer be fetched and will revert to defaults. These defaults enable everything by default so support from OVS would be possible.

The only case in wh

[2017-11-09 10:03] wimpers commented on #1735
@saelbrec

I believe this will lead to issues with compliance. Can we think of something so the default is no support and a user needs to do `something` to enable it?

[2017-11-09 10:14] JeffreyDevloo commented on #1860
Fixed by: https://github.com/openvstorage/framework/pull/1858
Packaged in: openvstorage-2.11.1-dev.1510221779.33616f2

[2017-11-10 10:01] JeffreyDevloo commented on #1735
Changes surrounding the support agent can be found here:
https://github.com/openvstorage/framework/blob/develop/docs/support_agent.md
Fixed by: https://github.com/openvstorage/framework/pull/1862
Packaged in: openvstorage-2.11.1-dev.1510307398.e5a5235

[2017-11-10 10:07] #1693 closed, assigned to nobody

[2017-11-10 10:07] #1694 closed, assigned to nobody

[2017-11-10 10:25] JeffreyDevloo commented on #1694
This issue was moved to openvstorage/framework-alba-plugin#521

[2017-11-10 10:25] JeffreyDevloo commented on #1693
This issue was moved to openvstorage/framework-alba-plugin#522

[2017-11-13 09:38] wimpers commented on #1700
To be discussed:
What do we want exactly?
server client?
Timing?

[2017-11-13 11:11] jeroenmaelbrancke opened #1863 "Old asd node still available on backend page"
When removing an ASD node on the backend page and reinstall the ASD node the old ASD node with id x is still present on the backend page.

After we reinstall the asd-manager this node will have a new id while the old id is still present on the backend page after refreshing the asd nodes.

For example:
Old asd node:
![image](https://user-images.githubusercontent.com/2900612/32722812-65f5f456-c86b-1

[2017-11-13 14:17] JeffreyDevloo opened #1864 "Introduce a task manager"
### Problem description
While looking for a solution for https://github.com/openvstorage/framework-alba-plugin/issues/522, I stumbled across some code which would fail, get caught and just resume what it was doing without paying to much attention to the failure.
It could be that certain items are offline during the removal (like a disk is no longer responding) but that does not mean we can complet

[2017-11-14 09:55] wimpers commented on #1700
https://docs.google.com/document/d/11xzRi239QdhlpEwamGEAknYyMgRPro4VL-GtuhswNmg

[2017-11-14 10:06] sjovdnbos opened #1865 "DB role persists after removal of all vpools"
When trying to revert an installation, the DB role persists, crashing the revert.
This is due to the voldrv arakoon that is not removed after deletion of all vpools.

[2017-11-14 10:43] sjovdnbos opened #1866 "DB role refresh bug in gui"
after creation of first partition with all roles, i tried to create a backend. An error message was visible that a DB role should be available on a partition.
After refreshing the page, the DB role was recognized, the error message did not appear and the backend could be created.

[2017-11-14 15:22] sjovdnbos opened #1867 "Arakoon cleanup after last vpool removal"
Removal of the last vpool does not remove the arakoon voldrv cluster.
If the storagerouter no longer has linked storagedrivers, the watcher-volumedriver is not removed.

[2017-11-14 16:15] sjovdnbos commented on #1867
package openvstorage-2.11.1-dev.1510675299.e88a327

[2017-11-14 16:19] wimpers commented on #1818
This is now set in the edge context and doesn't need integration in the framework for *all* vDisks.

Meaning for iSCSI manager we could integrate this in the GUI so it gets set.

[2017-11-16 12:27] JeffreyDevloo opened #1871 "Allow unittests to be filtered by prefix"
### Feature description
Allow ovs unittest --prefix 'test_alba' to only test files which match this prefix.
Would make it easier for Travis unittesting (we now specify the files manually)

[2017-11-16 12:32] JeffreyDevloo commented on #1783
Not actually fixed by the linked PR. So putting this back inside the queue.
The support agent is still querying the packages every 10seconds, the change here is that nothing gets logged about the dpkg -S.
We should have some sort of object that is cached that has the package information and refresh this every hour or so instead of the heartbeat collecting all of this info again

[2017-11-16 12:37] JeffreyDevloo opened #1872 "Keep track of celery task timings"
### Feature description
With the issue that certain task results are disappearing due to Memcached (current resultbackend) being volatile, it might be useful for the framework to keep track of certain tasks itself. We would still leverage on celery and the resultbackend for result but would be able to add more information about the task like timings, state, ... by capturing the events

Might prove

[2017-11-17 15:39] jeroenmaelbrancke opened #1874 "ovs-worker consumer lost connection to broker"
For some reason the celelry consumer lost his connection to rabbitmq and was not able to re-established the connection. Yesterday i added the statsmonkey again on the global environment.
This is the second time on this storagerouter.
Not observed on other nodes.

[code]

[2017-11-21 09:55] wimpers opened #1875 "Investigate parameters for auto healing of RabbitMQ."
Investigate parameters for auto healing of RabbitMQ.
@saelbrec please add content you want to have investigated.

[2017-11-21 10:31] wimpers commented on #1386
Also requested by GIG

[2017-11-21 13:00] kvanhijf commented on #1856
https://github.com/openvstorage/framework/pull/1873
https://github.com/openvstorage/alba-asdmanager/pull/304
https://github.com/openvstorage/framework-alba-plugin/pull/529
https://github.com/openvstorage/framework-iscsi-plugin/pull/32
https://github.com/openvstorage/framework-extensions/pull/53
https://github.com/openvstorage/iscsi-manager/pull/41

[2017-11-21 17:55] wimpers commented on #1306
@simonOpenV  is this related to https://github.com/openvstorage/automation-lib/issues/65

[2017-11-22 07:53] sjovdnbos commented on #1306
@wimpers This is a first step towards this kind of setup, but we still need to be able to execute the setup remotely to make this feature happen.

[2017-11-22 10:02] kvanhijf opened #1876 "Update improvements"
Our update logic has too much logic spread over several repositories. We also restart services when its unnecessary sometimes. It would be much better and more maintainable to have gather ALL update related information during the scheduled task and perform the update according to the model. Instead of gathering information in every separate piece in the update code.

[2017-11-22 16:18] kvanhijf commented on #1876
https://github.com/openvstorage/iscsi-manager/pull/42 --> iscsi-manager-0.3.0-dev.1512461178.705abd4
https://github.com/openvstorage/framework/pull/1877 --> openvstorage-2.11.1-dev.1512462328.2f7b322
https://github.com/openvstorage/framework-alba-plugin/pull/530 --> openvstorage-backend-1.11.0-dev.1512462379.c50a4f3
https://github.com/openvstorage/alba-asdmanager/pull/305 --> openvstorage-sdm-1.11

[2017-11-23 10:47] JeffreyDevloo commented on #1854
Fixed by: https://github.com/openvstorage/framework/pull/1878
Packaged in: openvstorage_2.11.1-dev.1511432194.763c7a7-1_amd64.deb

[2017-11-23 15:24] matthiasdeblock opened #1879 "Workers stopped working and let the RabbitMQ queue fill up"
# Description of the situation
On a GIG environment all the workers stopped accepting tasks. They have received the tasks but not accepted / succeeded them. RabbitMQ itself didn't had any issues. After restarting the workers, it got in the same state (not accepting and succeeding) after handling some of the queued tasks. To fully clear the queue, I had to restart the workers multiple times. As the

[2017-11-27 13:07] saelbrec commented on #1386
Input for planning: ballpark guesstimate for implementation on volumedriver is 2 days

[2017-11-27 14:15] wimpers commented on #1751
Status should be Unknown and Stored Data should be ´-´

[2017-11-27 14:26] wimpers commented on #1758
This is indeed not clean. We will tackle this when we come to the point when adding more backends. For now ALBA is mandotary.

[2017-11-27 14:26] wimpers commented on #1758
This is indeed not clean. We will tackle this when we come to the point when adding more backends. For now ALBA is mandotary.

[2017-11-27 14:26] #1758 closed, assigned to nobody

[2017-11-28 08:05] wimpers commented on #1723
@kvanhijf anything left todo? This is in state_inprogress for 2 months.

[2017-11-28 08:29] kvanhijf commented on #1723
@wimpers : Well this PR relies on changes in the volumedriver to be able to set the max tlogs behind in the config
As far as i can tell has this been fixed and published in the OSE release of the volumedriver, but not in the EE release of the volumedriver. Since the framework doesn't make difference between EE and OSE for this specific change, i think we cannot merge this in as long as this hasn't

[2017-11-28 08:33] kvanhijf commented on #1349
Yes
Shrinking a vPool with unsatisfiable policies should still be tested / verified
Removing an online node which would result in unsatisfiable policies should be tested

PS: Perhaps integration tests should be written too?
Cause i'm not really confident about our code currently with regards removing online/offline nodes in a cluster, since the fwk doesn't test this frequently

[2017-11-28 08:41] wimpers commented on #1723
tlog limit for MDS replay is in ee-6.17.0 (currently not yet on unstable)

[2017-11-28 15:58] wimpers commented on #1853
@simonOpenV  @JeffreyDevloo will this version also be displayed on the https://ip/#full/support page?

[2017-11-28 16:10] JeffreyDevloo commented on #1853
@wimpers That is currently not the case but could be added

[2017-11-28 16:12] wimpers commented on #1853
Please add. Otherwise the version might be different depending on where you look.

[2017-11-30 10:27] JeffreyDevloo commented on #1700
### Changes
API side changes:
https://github.com/openvstorage/framework/pull/1882

### Phase 2
- Enable filtering on properties of a relation
- Enable filtering on a subset of a dict property (like iops)
- Enable conversion of MiB and GiB to numeric values

[2017-11-30 12:28] JeffreyDevloo opened #1883 "Phase 2: filtering the gui"
### Feature description
- Enable filtering on properties of a relation (left over from phase 1) fe. SR name
- Enable filtering on a subset of a dict property (like iops)
- Enable conversion of MiB and GiB to numeric values (left over from phase 1)
- Range query for vDisks size (size:xx..yy)

This ticket serves as a continuation of https://github.com/openvstorage/framework/issues/1700

[2017-11-30 12:33] JeffreyDevloo commented on #1454
My estimation:
 - Introducing some ownership on a DataObject (to reflect who can view a particular item) ( 2 days )
 - Filtering based on the api callee (can be done in return-list, get_object decorators) ( 3 days )
 - Implement the GUI stuff ( 2 - 3 weeks )
 - Unit test the first two items: 2 days

This estimation is based on the manual defining of junctions between users and an object
Creating t

[2017-11-30 12:54] wimpers commented on #1700
Phase 2 will be covered in https://github.com/openvstorage/framework/issues/1883

[2017-11-30 14:23] JeffreyDevloo commented on #1776
### Current estimation:

#### Plugin route
- Extra work for creating a new plugin (1 day)
- Implementing snapshotting hooks (4 weeks)
- API + front-end work (4 weeks)
   - Hooking into the front-end wizards
    - Hooking the api into the plugin
- Testing (2 weeks)

#### Non-plugin route
- Implementing snapshotting hooks (4 weeks)
- API + front-end work (2 weeks)
- Testing (2 weeks)

[2017-11-30 16:55] wimpers commented on #1883
Maybe we can  pick some more outstanding items up from https://docs.google.com/document/d/11xzRi239QdhlpEwamGEAknYyMgRPro4VL-GtuhswNmg

[2017-12-01 08:28] wimpers commented on #1683
@jeroenmaelbrancke any update on this? Is this (still) an issue as I haven't heard any complaints on the memory consumption of ovs-web-app on  Nuvolat.

[2017-12-04 08:24] jeroenmaelbrancke commented on #1683
I'll reopen the ticket if i see this memory consumption again. At this moment everything looks good on the Nuvolat environment.

[2017-12-04 08:24] #1683 closed, assigned to jeroenmaelbrancke

[2017-12-04 09:36] wimpers commented on #1855
As a clarification, this is the heartbeat towards the support portal. Not sure if you, @JeffreyDevloo are talking about the one.

[2017-12-04 10:52] wimpers opened #1885 "block of the removal of a node in case it would lead to an unsatisfiable policy."
This is a continuation of #1349 Currently you can remove a node from a cluster even if it means the policy will become unsatisfiable. The removal of a node should not be possible in case it would leave the cluster with an unsatisfiable policy.

[2017-12-04 10:52] wimpers commented on #1349
Let's use this ticket to add a check in the shrink vPool to first check if  policy can be satisfied, if not don't allow to shrink.  The check should be added in the wizard after you click the delete button (we don't want to  execute the check on the vPool details page for every storage router)

We will create a different ticket for block of the removal of a node in case it would lead to an unsatis

[2017-12-04 11:16] wimpers commented on #1782
It would be best if we can make the distinction  (2 types of gray, also do it it on the node detail if you expand).

Before starting with this best solution, can we estimate the simple solution (just adding the ASDs which don't belong to the backend to grey/unknown) and the best solution?

[2017-12-04 11:20] wimpers commented on #1700
@JeffreyDevloo can you investigate the performance impact of the implementation on the DAL

[2017-12-05 10:34] wimpers commented on #1789
@kvanhijf  Which are the use cases and  please specify the 'in many parts'  in a bit more detail so we can asses where this will have impact and add a time estimate. Is this a  day work, a week, a month?

[2017-12-05 10:48] wimpers commented on #1805
@JeffreyDevloo
is this a hypothetical issue or did you run into this during testing? Can you add a time  estimate of how much this would be to fix.

[2017-12-05 10:56] wimpers commented on #1814
Currently LXD containers for ASDs are not supported. Something to tackle when we want to support this use case.

[2017-12-05 15:26] JeffreyDevloo opened #1888 "Regenerate alba services to apply garbage collection to running service files"
### Problem description
https://github.com/openvstorage/framework/pull/1766 did not introduce update code, should be done

[2017-12-07 10:45] wimpers opened #1892 "Integrate DTL space reservation"
This is the Framework integration work for https://github.com/openvstorage/volumedriver/issues/251