[2016-09-15 08:14] openvstorage-ci commented on #906
This issue was moved to openvstorage/framework-alba-plugin#205

[2016-09-15 08:14] #906 closed, assigned to nobody

[2016-09-15 08:14] JeffreyDevloo commented on #906
TLDR: there is a key: cluster_id missing that is required in AlbaController.nsm_checkup. (Line 888
![selection_076](https://cloud.githubusercontent.com/assets/17570109/18542823/21b14160-7b2d-11e6-8851-be32c6e1486e.png))

[2016-09-15 09:02] openvstorage-ci commented on #899
This issue was moved to openvstorage/alba-asdmanager#109

[2016-09-15 09:02] #899 closed, assigned to nobody

[2016-09-15 09:35] openvstorage-ci opened #907 "Two contradicting log entries for nsm_checkup: succesful and failed"
_From @JeffreyDevloo on September 15, 2016 9:15_
## Problem description

Executed AlbaController.nsm_checkup(backend_guid=guid, min_nsms=3)
Found in /var/log/ovs/lib.log:

[code]

The ids of the task are identical. The job ran (as far as I know) successfully.
### Setup

Geoscale setup
### Package information
- openvstorage                       2.7.3-rev.3956.a9861c0-1

[2016-09-15 09:39] wimpers opened #909 "Remove statistics page from under Administration"
Remove statistics page from under Administration as this has become a meaningless page.

[2016-09-15 09:43] kvanhijf commented on #907
openvstorage-2.7.3-rev.3958.1b99beb

[2016-09-15 11:46] wimpers commented on #904
If required earlier, please create a PR.

[2016-09-15 12:23] kinvaris opened #910 "Messy error if unattended setup wrongly installs first node as second node"
During setup of `openvstorage-backend` we've seen this error when providing a wrong `master-ip`:

[code]

[2016-09-15 12:24] wimpers commented on #762
@kvanhijf if we can't reproduce the issue, what should be checked by QA to verify your code changes.

[2016-09-15 12:27] khenderick commented on #910
While this was a user mistake (first node was being set up as a second node, joining itself), we can use this ticket to clean up the error message a bit.

[2016-09-15 12:45] khenderick opened #911 "Volumename incorrect"
Reported via @grimpy:

Using qemu-convert over edge, following volume is created: `openvstorage+tcp://ip:port/templates/Ubuntu.1604.uefi.x64`

This will cause a fuse-visible disk on `/mnt/vpool_name/templates/Ubuntu.1604.uefi.x64.raw`.

It is however reported that the displayed name is "Ubuntu", which isn't very informative (there could be multiple versions etc), and ideally, it should be called "

[2016-09-15 12:46] khenderick opened #912 "Creating disk containing a dot (.) incomplete"
Creating disk containing a dot (.) doesn't work as expected, according @grimpy. It will be visible in de GUI, but not available through other means (fuse, edge, ...)

[2016-09-15 13:11] khenderick commented on #912
When in the GUI a vDisk name is entered, we allow the customer to use any name, and try to convert it to a reasonable filename that can be used by the volumedriver. However, it "detects" extensions (name ending in a dot and 3 or 4 characters), and will then use that exact filename. However, the volumedriver only accepts `.raw` files.

We need to change the code so it always ends with `.raw`.

[2016-09-15 13:17] khenderick commented on #911
Line of interest: https://github.com/openvstorage/framework/blob/master/ovs/lib/vdisk.py#L168

Something like `volume_path.rsplit('/', 1)[-1].rsplit('.', 1)[0]` would be better I think.

[2016-09-15 13:18] wimpers commented on #631
Since we moved to Arakoon as config mgmt, is the process still so  cumbersome?

[2016-09-15 13:24] khenderick commented on #896
A few issues here:
- GUI messages related to snapshot rollback are not translated (probably moved in the translation file but not correctly reflected in code)
- The GUI passes the snapshot-to-revert's timestamp as integer, but internally it's stored as string. And that obviously doesn't match.

Shouldn't be more than 15 minutes of work to fix the above.

@FastGeert, it's not "unavailable", it just

[2016-09-15 13:58] JeffreyDevloo opened #913 "Can't create partitions/set roles - permission denied"
## Problem description

When trying to configure the disks on the OVH setup, certain roles/partitions weren't set.

Choosing any different disk results in the same error.
Stacktrace :(http://pastebin.com/QVSrF0sm)

[code]
## Additional information
### Setup

Geoscale setup: ovh
### Package information
- openvstorage                       2.7.3-rev.3958.1b99beb-1                                 amd

[2016-09-15 14:16] khenderick commented on #913
Most likely not fixed in previous attempt #833 for #674

[2016-09-15 14:18] khenderick commented on #888
Fixed by #914, packaged in openvstorage-2.7.3-rev.3962.304ec6e

[2016-09-15 14:19] khenderick commented on #888
Implemented as:
- `ovs config edit some/key` to edit that key in your `$EDITOR`. If it doesn't exist, it is created
- `ovs config list some` to list all keys with the given prefix
- `ovs config get some/key` print the contents of the given key

[2016-09-15 14:29] khenderick commented on #913
Fixed by #915, packaged in openvstorage-2.7.3-rev.3964.4c54f7e

[2016-09-15 14:41] JeffreyDevloo commented on #913
The PR mentions the hostfix that was applied to resolve this issue.
Verified.

[2016-09-15 14:41] #913 closed, assigned to nobody

[2016-09-15 14:44] kinvaris opened #916 "ovs setup failed: NotFoundException: Not_found"
When trying to add a new `master` node with packages `openvstorage-backend`:

[code]

[2016-09-15 15:17] khenderick commented on #916
16.129% chance of hitting this bug. So I'd say "can you please try to reproduce?" ;)

[2016-09-15 15:44] khenderick commented on #916
Fixed by #917, packaged in openvstorage-2.7.3-rev.3967.95cd245

[2016-09-15 15:52] kvanhijf commented on #762
@wimpers : good question :)   Nothing i guess, cause its quite impossible to reproduce, if possible at all

[2016-09-15 15:59] khenderick commented on #569
Resolved by #177.

[2016-09-15 17:07] saelbrec commented on #762
But code changes were done, what for? Should these be reverted ?

[2016-09-16 07:08] kvanhijf commented on #762
Code changes have been done to prevent the index out of range, instead a TimeoutError will be thrown IF we ever manage to get into the path again. This means the initial job will never get launched and should be retried by customer.
In order to reproduce, the assumption is that it has something to do with starting a configure_disk job, restarting the workers on some node and trigger another config

[2016-09-16 07:44] khenderick commented on #762
@wimpers, @saelbrec, It's a racecondition with tasks on celery, and indeed almost impossible to reproduce. But the code showed a path that could cause the racecondition, which is now handled more correctly.

[2016-09-16 08:17] hofkensj commented on #857
In which release will this be fixed ?

[2016-09-16 08:23] khenderick commented on #884
It's possible to create 64TiB volumes, but I could not test beyond about 5TiB due to limited amount of memory on my environment. The 50TiB test volume did require about 100GiB of memory. Since I don't have that much memory, I/O errors were returned and the volume was halted.

[2016-09-16 08:24] wimpers commented on #857
openvstorage 2.7.3 (it is already fixed on unstable)

[2016-09-16 08:33] khenderick commented on #884
At this point, the framework does configure the number of pages per volume, depending on it's size:

[code]

On my env, a page was 2KiB, so for a 64TiB volume it would require 67108864 pages, or 128GiB of memory.

@wimpers, @saelbrec, I assume that for large volumes to be usable, we need to adapt the above formula. A suggestion would be to limit the number of pages to the amount needed for a 2TiB

[2016-09-16 08:41] khenderick commented on #884
Volumedriver ticket wrt the volume going offline when not enough memory is available: openvstorage/volumedriver#115

[2016-09-16 08:43] wimpers commented on #884
We will create 64TB vols with 32KB a s block size. It would be nice if we can keep that in mem.  So limit the size to 4 times whats used for 2TB vols (4K block)?

[2016-09-16 08:45] khenderick commented on #884
This means a (default) maximum memory requirement of 16GiB per volume:
- 2TiB: 4GiB
- 4TiB: 8GiB
- 8TiB: 16GiB
- 16TiB: 16GiB
- 64TiB: 16GiB

[2016-09-16 09:15] wimpers commented on #559
Probably the same code path as https://github.com/openvstorage/framework/issues/626

[2016-09-16 09:25] khenderick opened #919 "Integrate LRU cache"
Integrate LRU cache.
- Setup a redis cluster instead of separate redis nodes
- Configure every backend to use LRU in case it would be used as a fragment cache

[2016-09-16 12:44] JeffreyDevloo opened #920 "High amount of maintenance agents"
## Problem description

On a geoscale cluster with 15 nodes, we found that there are 15 maintenance agents for each backend

[code]

This amount will cause some load and would be harder to maintain.
## Possible solution

Default it to a lower number ( 3 would be fine)
## Additional information
### Setup

Geoscale setup
### Package information
- openvstorage                       2.7.3-rev.3958.1b9

[2016-09-16 12:50] openvstorage-ci commented on #920
This issue was moved to openvstorage/framework-alba-plugin#213

[2016-09-16 12:50] #920 closed, assigned to nobody

[2016-09-16 14:34] kinvaris opened #921 "vpool can be extended to node with no DB role."
As seen in this error:

[code]

The GUI did not stop me from extending this vpool to the node in question without a DB disk

[2016-09-16 14:38] wimpers commented on #921
Duplicate of https://github.com/openvstorage/framework/issues/790 ?

[2016-09-16 14:51] khenderick commented on #921
Indeed a duplicate

[2016-09-16 14:51] #921 closed, assigned to nobody

[2016-09-16 14:56] khenderick commented on #919
Fixed by #922 and openvstorage/framework-alba-plugin#214, packaged in openvstorage-2.7.3-rev.3971.6debc60 and openvstorage-backend-1.7.3-rev.709.5bb94c8

[2016-09-19 08:34] JeffreyDevloo commented on #907
### Steps

During the reinstallation of OVH with the latest package, I could not find the same log entries as stated above.
Instead found the expected outcome:

[code]

### Test result

Test passed.

[2016-09-19 08:34] #907 closed, assigned to nobody

[2016-09-19 08:39] JeffreyDevloo commented on #916
### Info

We ran into this issue three times in a row which means that our luck ran out (16.129%^3)

### Steps
- Installed OVH twice more
- Didn't encounter this error
- Verified logic with the developer

### Test result

Test passed.

[2016-09-19 08:39] #916 closed, assigned to nobody

[2016-09-19 08:41] kvanhijf commented on #623
openvstorage-2.7.3-rev.3978.4f93e02
Delete vPool should be re-entrant as of now
It is however impossible to delete a vPool which has still vDisks attached to it. This because shortly we will introduce a feature to be able to migrate vDisks from within the GUI

If an error occured while removing the vPool, it's advised to look in /var/log/upstart/ovs-workers.log or journalctl -u ovs-workers and see

[2016-09-19 08:45] kvanhijf commented on #891
openvstorage-2.7.3-rev.3978.4f93e02
Delete vPool should be re-entrant as of now
It is however impossible to delete a vPool which has still vDisks attached to it. This because shortly we will introduce a feature to be able to migrate vDisks from within the GUI

If an error occured while removing the vPool, it's advised to look in /var/log/upstart/ovs-workers.log or journalctl -u ovs-workers and see

[2016-09-19 09:28] JeffreyDevloo commented on #674
### Information

We encountered this error during OVH setup. The proposed fix was to execute the parted commands as root.
The code should have been update.

### Steps
- Installation of OVH setup
- Setup disk roles
- Got no issues (when command was executed as root)

### Test result

Test passed.
Issue has been fixed for openvstorage-2.7.3-rev.3964.4c54f7e
Other similar tickets affected by the chan

[2016-09-19 09:28] #674 closed, assigned to wimpers, pploegaert

[2016-09-19 09:30] JeffreyDevloo commented on #619
### Information

Similar to #674 and #913

### Test result

Test passed.
Test logic in #913

[2016-09-19 09:30] #619 closed, assigned to nobody

[2016-09-19 09:35] kinvaris opened #923 "Port ranges for vpools should be reserved"
If you have vpool A and vpool B and 2 storagerouters.

Situation:
Setting up vpool A then vpool B on storagerouter 1
Setting up vpool B then vpool A on storagerouter 2

As seen from compute node perspective, the ports for vpool A will be different on storagerouter 1 compared with storagerouter 2.

As a solution, you could reserve some ports only for a certain vpool on a whole cluster.
E.g.

vpool

[2016-09-19 09:47] khenderick commented on #923
This is (more or less) like it used to be in the past. It was changed to the current flow because:
- It requires (as @kinvaris states) a pre-reservation of ports on all nodes that might in the future want to run the vpool.
- It's more work when a vPool is created since only ports free on all nodes can be selected)
- More prone to failure (ports are determined upfront, now the ports are selected ri

[2016-09-19 10:24] JeffreyDevloo commented on #623
### Steps
- Installed latest OVS packages
- Setup a hyperconverged setup
- Added disk roles
- Setup backends
- Added Vpool
- Extended vpool

### Test scenarios
- Delete vpool on node that is down (succeeded)
- Delete vpool on node that has vdisk (GUI greyed out, intended)
- Delete vpool on running node (succeeded)

### Test result

Test passed.

Hyperconverged setup
- Three nodes with each three d

[2016-09-19 10:24] #623 closed, assigned to nobody

[2016-09-19 10:34] khenderick commented on #631
Slightly less; in case of a hyperconverged setup, it will try to find and copy over the correct arakoon configuration file automatically. If not found, or a non-hyperconverged setup, the setup will ask for a file to copy.

[2016-09-19 11:51] JeffreyDevloo commented on #892
### Steps
- Installed OVH
- Setup disk roles
- Setup backend
- Setup vpool
- Added vdisk
- Used postman to send api call
  ![selection_081](https://cloud.githubusercontent.com/assets/17570109/18630891/49780fae-7e6f-11e6-9bd6-9f74c75fe414.png)
  ### Output
  Tested two cases: a smaller volume and a bigger volume

**Smaller volume:**
Fetching task details:

[code]

**Bigger volume:**
Fetching task d

[2016-09-19 12:00] #892 closed, assigned to nobody

[2016-09-19 12:02] JeffreyDevloo opened #924 "Vdiskcontroller extend does not display on GUI"
### Steps

Found during verification of https://github.com/openvstorage/framework/issues/892
- Installed OVH
- Setup disk roles
- Setup backend
- Setup vpool
- Added vdisk
- Used postman to send api call
  ![selection_081](https://cloud.githubusercontent.com/assets/17570109/18630891/49780fae-7e6f-11e6-9bd6-9f74c75fe414.png)
### Output

Tested two cases: a smaller volume and a bigger volume

**Smal

[2016-09-19 12:04] khenderick commented on #924
Probably the volumedriver doesn't send the resize event when a voldrv client truncate is executed.

[2016-09-19 12:30] JeffreyDevloo commented on #888
### Steps
- Installed latest OVS
- Setup diskroles
- Added backend
- Tried all ovs config command

### Output

[code]

[code]

![selection_084](https://cloud.githubusercontent.com/assets/17570109/18631718/ebe27582-7e73-11e6-9bd2-e175e0e7159f.png)

[code]

![selection_085](https://cloud.githubusercontent.com/assets/17570109/18631812/824b49ae-7e74-11e6-931f-e76d25cb035d.png)

[code]

### Test result

[2016-09-19 12:30] #888 closed, assigned to nobody

[2016-09-19 12:33] saelbrec commented on #924
To my knowledge the events are only triggered when passing through the filesystem layer. Why doesn't the Framework vDiskController update the size in the model upon successful completion of the storageDriverClient.truncate call ?

[2016-09-19 12:34] khenderick commented on #924
That's indeed exactly what needs to happen. Just too much assumptions during the move to using the volumedriver API.

[2016-09-19 12:38] khenderick commented on #884
Fixed by #886, packaged in openvstorage-2.7.3-rev.3986.da6d32c

[2016-09-19 12:44] kinvaris opened #925 "EOFError during request to 127.0.0.1"
Some requests are throwing `not authenticated` or `EOFError` exceptions due the problem that `127.0.0.1` or `localhost` is not known to the system in `.ssh/known_hosts`:

[code]

As seen in `/var/log/auth.log`

[code]

As proven here:

[code]

[2016-09-19 12:46] khenderick commented on #925
Apparently we shouldn't use `127.0.0.1` but we should figure out the effective ip address. Probably the test env was too small to hit this issue.

[2016-09-19 13:12] khenderick commented on #924
Fixed by #926, packaged in openvstorage-2.7.3-rev.3988.2d9eb6a

[2016-09-19 13:16] JeffreyDevloo commented on #788
### Steps
- Setup a cluster with latest packages
- Setup some vdisk
- Let it run overnight

### Output

![selection_087](https://cloud.githubusercontent.com/assets/17570109/18633330/0d54620e-7e7c-11e6-8e5e-532ae0f973d5.png)

### Test result

Test passed.

### Setup

Hyperconverged setup
- Three nodes with each three disks for the back-end

### Package information
- openvstorage

[2016-09-19 13:16] #788 closed, assigned to nobody

[2016-09-19 13:19] kinvaris opened #927 ""ArakoonSockSendError: Error while sending data on socket" during fetch config"
Many tasks are failing because of the following error during a fetch of a config file:

[code]

[2016-09-19 14:19] khenderick commented on #927
We work around this in our `PyrakoonStore` wrapper, but not in our configuration client. I'll move some code around so we work around this everywhere.

[2016-09-19 14:36] JeffreyDevloo commented on #569
### Steps
- Setup 3 node cluster
- Executed AlbaController.checkup_maintenance_agents() when a node was down

### Output

[code]

**After restarting the node that was down and checking the agents again:**

[code]

We see that the candidates for removal that were added during the downtime are removed again.

### Test result

Test passed.

### Setup

Hyperconverged setup
- Three nodes with each thre

[2016-09-19 14:36] #569 closed, assigned to nobody

[2016-09-19 15:23] JeffreyDevloo commented on #924
I like to point out that when I upgraded my ovs, the volume was **NOT** changed on the GUI. I had to resize it once more to get the value to update.

### Steps
- Upgraded the environment where the issue took place
- Sent a similar postman package
  ![selection_088](https://cloud.githubusercontent.com/assets/17570109/18637615/446ea414-7e8d-11e6-804e-6829279d8623.png)

### Output

![selection_089](h

[2016-09-19 15:23] #924 closed, assigned to nobody

[2016-09-19 15:47] kinvaris commented on #927
Also seen during creation of a vpool:
TASK DETAILS:

Received 2016-09-19 15:13:18.085910
Started 2016-09-19 15:13:18.088244
Failed  2016-09-19 15:44:26.453361

#

Seen this failure during create vpool:

[code]

Errors seen in the volumedriver:

[code]

As seen in the volumedriver, config it is indeed missing: (compared with other, working vpool)

[code]

The required event is only 1.5 hours late:

[2016-09-19 16:17] nhonnavar opened #928 "Create new disk from GUI with name uppercase letter, changes its device name to lowercase."
Issue:
Created a disk with name “win2008R2”  and in the vpool it shows device name as  win2008r2.raw, uppercase R changed to lowercase.  This is causing an issue when I connect the vdisk on ISCSI target (kernsafe) server as device name of the vdisk is different than name in the GUI.

Possible fix I tried
Removed lower() function at line number 1170 of /opt/OpenvStorage/ovs/lib/vdisk.py
name = name

[2016-09-19 16:30] khenderick commented on #928
Removing the lower/uppercase should not introduce any issues, so it might be a good idea.

[2016-09-19 16:30] saelbrec opened #929 "/dev/disk/by-id/wwn-xxx device links break the FWK device discovery"
The are rules in /lib/udev/rules.d/60-persistent-storage.rules which generate wwn-\* symlinks under /dev/disk/by-id/ to certain devices. On some systems these links got created for a subset of the scsi devices. Not sure why that happened and we never saw this before on others.
But the Open vStorage Framework code used to identify the scsi devices by its id is apparently tripping on these.
For now

[2016-09-20 07:29] dejonghb commented on #929
The WWN (World Wide Name) or World Wide Identifier (WWID) is, iirc, certainly used with fibre channel so if we want to support that we probably will need to allow these WWN as well...
Links are created if an ID_WWN_WITH_EXTENSION is found by one of probing utils used in the rules (scsi_id / ata_id ) so it depends on what the device (firmware) is reporting.

[2016-09-20 07:37] khenderick commented on #927
Fixed by #930 and openvstorage/alba-asdmanager#113, packaged in openvstorage-2.7.3-rev.3990.68491c4 and openvstorage-sdm-1.6.3-rev.359.418f656

[2016-09-20 07:40] dejonghb commented on #929
Note: it should be checked problem wasn't caused by underlying hardware reporting the same WWN for several disks (cfr. we've seen certain ssds reporting the same serial number on multiple devices)

[2016-09-20 08:04] JeffreyDevloo commented on #843
### Steps
- Setup a 3 node cluster
- All nodes have a single NIC

[code]
- Setup diskroles
- Added backend
- Added vpool

### Output

[code]

### Test result

Did not bump into the error described in the ticket.
Test passed.

Hyperconverged setup
- Three nodes with each three disks for the back-end

### Package information
- openvstorage                       2.7.3-rev.3990.68491c4-1

[2016-09-20 08:04] #843 closed, assigned to nobody

[2016-09-20 08:24] JeffreyDevloo commented on #927
### Steps
- Setup 3 nodes
- Set disk roles
- Added backend
- Added vpool
- Added vdisk

Seeing as the faliure on ovh happend on about 4/24 snapshots every day, the ratio of failure is 1/6. This means that taking 36 snapshots would guarantee (statistically) on a failure.
- Created 36 snapshots of a disk

### Output

All snapshots were taken without a single error.

### Test result

Test passed.

##

[2016-09-20 09:03] JeffreyDevloo commented on #927
Tested with wrong packages, reopening.
Could potentially be a latency issue and must be tested on a bigger scaled environment.

[2016-09-20 09:38] khenderick commented on #925
Fixed by #931 and openvstorage/alba-asdmanager#114, packaged in openvstorage-2.7.3-rev.3992.df37d92 and openvstorage-sdm-1.6.3-rev.361.e7bf658

[2016-09-20 09:54] khenderick commented on #923
The usecase for this request is quasi obsolete: #895 introduces edge HA.

[2016-09-20 11:21] khenderick commented on #895
Fixed by #932, packaged in openvstorage-2.7.3-rev.3994.ff019dc

[2016-09-20 14:04] khenderick commented on #768
Fixed by #933, packaged in openvstorage-2.7.3-rev.4009.e4c1b59

[2016-09-20 14:12] khenderick commented on #749
Celery is upgraded from `3.1.18` to `3.1.23-5`. Please validate.

[2016-09-20 14:12] khenderick commented on #593
Celery is upgraded from `3.1.18` to `3.1.23-5`. Please validate.

[2016-09-20 14:30] khenderick commented on #667
The "remove vPool"-logic has been cleaned up to be more resilient to challenging situations. Please reopen/verify if still an issue.

[2016-09-20 14:49] kinvaris opened #936 "vdisk size not present for some disks in GUI"
Vdisk `jonas11` with volume_guid `9cbf286e-2d48-4800-973f-7d1cf09e62ee` has no `size`

[code]

But it has a size in the volumedriver:

[code]

We've seen this problem in multiple disks, these disks where deployed with `for i in {1..16}; do truncate -s 10G jonas${i}.raw; done`
![](http://i.imgur.com/Xr91aHG.png)

[2016-09-20 15:18] kinvaris commented on #727
Adding label SRP at command of @saelbrec

[2016-09-21 08:40] kvanhijf commented on #806
OVS can now be installed on Ubuntu16.04
Apt repository on which the OVS packages suited for 16.04 are present:  apt.openvstorage.com

1 VERY IMPORTANT REMARK:
Before actually being able to install the packages on the ubuntu, the correct djangorestframework version must be installed prior to the ovs packages

apt-get update
apt-get install -y --allow-unauthenticated python-djangorestframework=2.3.1

[2016-09-21 08:40] #806 closed, assigned to nobody

[2016-09-21 08:46] kvanhijf commented on #806
openvstorage_2.7.3-rev.4011.a41bbc3
openvstorage-sdm-1.6.3-rev.367.5996435
openvstorage-backend_1.7.3-rev.713.f2fab03

[2016-09-21 12:11] kvanhijf commented on #727
As i have understood from talking to @redlicha . We should implement the following.
On the node where the scrubbing will be executed, a proxy for each vpool with vdisks to scrub has to be present.
Eg:
node1 - vpool1 - no scrub role
node2 - vpool1 - scrub role
node3 - vpool2 - no scrub role
Scrubbing vDisks of vPool1 on node2 does not require any changes, since we deploy a proxy on every node where

[2016-09-21 15:58] kinvaris opened #938 "Post upgrade action failed with error: type object 'Upstart' has no attribute 'list_service_files'"
[code]

[2016-09-21 16:00] kinvaris opened #939 "Errors while upgrading openvstorage-sdm package"
[code]

[2016-09-21 16:17] kinvaris opened #940 "Upgrade framework does not continue after `read timeout`"
As seen in this error, upgrade framework stops after it cannot reach 1 sdm node. It should skip it:

[code]

[2016-09-21 16:20] kinvaris commented on #938
Also seeing this problem during method: `ovs.storagerouter.get_update_status`

[code]

[2016-09-21 16:20] kinvaris commented on #939
maybe related to https://github.com/openvstorage/framework/issues/938 ?

[2016-09-21 16:26] kinvaris opened #941 "openvstorage-sdm is upgraded during StorageDriver upgrade in GUI."
While upgrading the storagedriver, it seems like `openvstorage-sdm` is also upgraded, shouldn't this be upgraded by the framework?

[2016-09-22 07:08] khenderick commented on #941
No, we consider that part of the storage/volumedriver layer, since restarting ASDs might have impact on the volumes running. The framework is framework-only and can be updated without impact.

[2016-09-22 07:08] #941 closed, assigned to nobody

[2016-09-22 07:11] khenderick commented on #938
Duplicates openvstorage/alba-asdmanager#109 (which is already fixed)

[2016-09-22 07:11] #938 closed, assigned to nobody

[2016-09-22 07:13] khenderick commented on #939
Might indeed be related. Since #938 is already fixed, I suspect this installation had an older sdm still installed. Please verify updating from a more recent sdm package.

[2016-09-22 07:35] khenderick commented on #936
I just created 16 disks with the same command and their sizes show up correctly. Please provide some logs to see what went wrong on your env. Interesting logs are in this case `/var/log/upstart/ovs-volumerouter-consumer.log` and `/var/log/upstart/ovs-workers.log`

[2016-09-22 07:35] khenderick opened #942 "It seems pyrakoon also raises ArakoonSockRecvError these days"
It seems pyrakoon also raises `ArakoonSockRecvError` these days. We should also incorporate the retry for that error.

[2016-09-22 08:28] khenderick commented on #942
Logging of a few threads/processes running at the same time, all suffering from some issue.

[code]

[2016-09-22 10:54] khenderick commented on #942
So apparently the client used for configuration wasn't cleared when a process was forked, so the socket was used by multiple processes at the same time, causing various issues

[2016-09-22 10:59] khenderick opened #944 "Close all FD's when forking"
Initiated with the issues that one of the Arakoon clients wasn't properly cleaned up on forking, a few thoughts where exchanged. @toolslive came up with the idea to just close all possible filedescriptors when forking.

Dummy code:

[code]

[2016-09-22 11:05] khenderick commented on #942
Fixed by #943, packaged in openvstorage-2.7.3-rev.4013.c4ac0a4

[2016-09-22 11:07] toolslive commented on #944
basically: close all fds you're not explicitly planning to use.

[2016-09-22 11:26] domsj commented on #944
This might help, but it's not enough to prevent accidents.

E.g. there's a singleton pyrakoon client. Process fork, close all fds. Next in the forked process you open a few extra fds, one of which has the same value as the fd for the pyrakoon client. Now when using the pyrakoon client it will suddenly be using another socket!

(Btw there's also the close-on-exec bit for fds, but that probably has

[2016-09-22 12:40] khenderick commented on #896
Fixed by #934, packaged in openvstorage-2.7.3-rev.4016.ea03de8

[2016-09-22 15:09] kinvaris opened #945 "Add_vpool failed because of 0GB writecache size"
Related to: http://tickets.openvstorage.com/browse/OVSSUP-115

The `add_vpool` call was executed via the OVS GUI.

[code]

[code]

Volumedriver settings:

[code]

CHECKED ON TESTCLUSTER:

[code]

Checking the workers for parameters:

[code]

Seeing this: `u'writecache_size': 0`

[2016-09-22 15:59] kinvaris commented on #945
Saw it a second time, with same problems

[2016-09-22 18:16] kinvaris opened #946 "Add_vpool extend failed `ArakoonException: Unknown error code 0x20200a7b, server said: {"volatile": "memcache", "persistent": "pyrakoon"}`"
During vpool extending I observed this exception on the setup.
This exception caused the vPool status to be stuck in `EXTENDING`.
https://github.com/openvstorage/framework/blob/master/ovs/lib/storagerouter.py#L1009

[code]

[2016-09-22 21:43] khenderick commented on #946
The high error code seems like the client received data that should have been send to another client. That kinda sounds like this env is running < openvstorage-2.7.3-rev.4013.c4ac0a4 or that there's some bug related to #942 left where the client is still sharing some socket.

[2016-09-23 05:09] khenderick commented on #946
After discussion with @saelbrec, it turns out that `2.7.3-rev.4011.a41bbc3-1` was installed, which did not contains the fix of #942, so most likely this duplicates that ticket. I'll just put it in state_verification anyway.

[2016-09-23 06:47] khenderick opened #947 "A capacity should be configured for MDS services"
A capacity should be configured for MDS services. At this moment, they default to "infinite capacity", but that causes slaves to be unevenly spread across services, since infinite capacity means the load on all mds slaves is considered qual. Adding a reasonable capacity will cause the services to rebalance automatically. We could also re-calculate the capacity based on e.g. disk usage to make sure

[2016-09-23 06:49] khenderick commented on #947
A snippet from an environment in the field:

[code]

[2016-09-23 08:13] kinvaris opened #948 "Add `env ALBA_LWT_ENGINE=libev` to all alba processes when no RDMA is used"
Like in the example, requested by @domsj awaiting for another fix in oRDMA library.

[code]

[2016-09-23 13:43] khenderick opened #950 "MDS server configuration is plain wrong"
MDS server configuration is plain wrong

[2016-09-23 13:45] khenderick commented on #567
Issue find while validating changes for this ticket: #950.

[2016-09-23 13:49] dejonghb opened #951 "increase number of file descriptors for ovs-dtl services"
Please add
"limit nofile 4096 4096"
to the upstart / systemd service scripts for the ovs-dtl (failovercache)

Increases allowed number of open files to 4096 (from 1024)

[2016-09-23 14:06] kinvaris opened #952 "Failed to accept new connection: accept Too many open files (24) on DTL"
Seeing this on many nodes with DTL process:

[code]

[2016-09-23 14:06] kinvaris commented on #951
related to: https://github.com/openvstorage/framework/issues/952

[2016-09-23 14:08] saelbrec commented on #952
This should actually be an issue on the volumedriver repo.

[2016-09-23 14:08] khenderick commented on #567
Implemented by #949, packaged in openvstorage-2.7.3-rev.4020.bdebc7c

[2016-09-23 14:23] khenderick commented on #947
Default capacity set to 100 to enable load balancing by default in #953, packaged in openvstorage-2.7.3-rev.4022.59fbd9b

[2016-09-23 15:16] kinvaris opened #954 "Make it possible to add more than 1 DB disk"
If its possible to add more than 1 DB disk you will be able to spread your arakoons across those disks. When a DB disk would fail, only a part of the arakoons fail.

[2016-09-23 18:49] JeffreyDevloo opened #955 "RuntimeError: got fault response volumeCreate during creation of vdisk"
## Problem description

During creation of a vdisk I encountered the following error for **_every vdisk_** I was trying to create.
Stacktrace:

[code]

The vdisk were made in the model but not on the mountpoints of the vpool.
## Temporary solution

Removed all vdisks from the model

[code]

Truncuated the volumes manually:

[code]
## Additional information
### Setup

Hyperconverged setup
- 10 vpoo

[2016-09-23 18:55] JeffreyDevloo commented on #955
The output of the manual truncuate was truncate: cannot open ‘/mnt/myvpool01/jonas1.raw’ for writing: Input/output error.
Not the fault of framework.

[2016-09-23 18:55] #955 closed, assigned to nobody

[2016-09-26 07:15] openvstorage-ci commented on #952
This issue was moved to openvstorage/volumedriver#124

[2016-09-26 07:15] #952 closed, assigned to nobody

[2016-09-26 08:48] khenderick opened #956 "DTL logic wrongly detects a manual DTL configuration as "disabled""
DTL logic wrongly detects a manual DTL configuration as "disabled". It also can't cope well with volumes not existing in the volumedriver.

[2016-09-26 09:02] khenderick commented on #956
[code]

Raises an `ObjectNotFoundException` which should also be catched.

[2016-09-26 09:03] khenderick commented on #956
[code]

Also check whether the host equals `''`

[2016-09-26 13:17] khenderick commented on #950
Fixed by #957, packaged in openvstorage-2.7.3-rev.4024.f6b9324

[2016-09-26 13:22] khenderick commented on #940
A random thought here; what if the framework is performing an update and for whatever reason (node unavailability, bug, ...) a part of the framework or a part of the "storage set" (volumedriver, alba, asds, ...) is not updatable? Do we want the framework to just skip that part or do we want to make sure everything is running as expected before we continue the update? If it doesn't run as expected,

[2016-09-26 16:25] kinvaris opened #958 "The add_vpool logic cannot be executed in parallel"
Propable race condition when creating first 2 vpools really quick makes `add_vpool` crash:

[code]

[2016-09-27 06:59] khenderick commented on #777
Ticket openvstorage/volumedriver#113 has been resolved for further integration.

Implementation:
- (re)configure volumedrivers to have a circular manual DTL setup
- Adapt the code so it configures the correct information in the ClusterRegistry
- Fix the initial bug so the framework can handle unexpected ip addresses.

[2016-09-27 08:00] wimpers commented on #958
@kinvaris can you remove the vPools or are you stuck with non-working vPools?

[2016-09-27 12:47] kvanhijf commented on #727
In the new implementation, we deploy an ALBA proxy on each StorageRouter if they have a SCRUB role regardless if they already run a proxy for the vPool

Example:
node1 - vpool1 - scrub role
node2 - vpool1 + vpool2 - no scrub role
node3 - vpool1 + vpool3 - scrub role
node4 - vpool3 - no scrub role

Scrub vdisk of vpool1 on node1 -->a proxy will be deployed
Scrub vdisk of vpool2 --> can be executed

[2016-09-27 15:06] saelbrec opened #961 "API storagerouter.markNodeOffline fails in case of multiple storagedrivers(vpools)"
Error from ovs-workers

[code]

Apparently the markOfflineNode calls for the different storagedrivers end up on the same vpool although they belong to a different one. Resulting in the following logs and error in the volumedriver

[code]

[2016-09-27 15:42] saelbrec commented on #948
@domsj ,
I thought you mentioned that you ran into a maintenance daemon where setting this environment variable did not have any effect?

[2016-09-27 15:58] wimpers commented on #940
Maybe an idea is to set the config of that component in maintenance so it can't start. only after updating allow to start.

[2016-09-27 15:58] wimpers commented on #940
To be defined how we will tackle.

[2016-09-27 16:00] wimpers commented on #928
@khenderick  should be a small one?

[2016-09-27 16:03] wimpers commented on #929
We don't support devices with the same serial nr. To be re-opened if it would be caused by another issue.

[2016-09-27 16:03] #929 closed, assigned to nobody

[2016-09-27 16:07] wimpers commented on #923
It was decided from the beginning that we would not require the same ports across all nodes.

[2016-09-27 16:07] #923 closed, assigned to nobody

[2016-09-27 16:13] wimpers commented on #911
please fix together with #912

[2016-09-27 18:15] domsj commented on #948
I indeed ran into this... not sure where the problem is. I think alba behaves correctly when it sees the env variable, so I think there must've been some problem with passing the env var towards the maintenance process?

[2016-09-28 07:33] khenderick commented on #961
Fixed by #962, packaged in openvstorage-2.7.3-rev.4029.63e298f

[2016-09-29 07:01] kvanhijf opened #964 "Finetune fragment cache settings of the ALBA proxies used for scrubbing"
Comment from @domsj on issue: https://github.com/openvstorage/framework/issues/727
Just a quick note here:
Currently the scrubber doesn't use partial reads, so this is fine.
If the scrubber were to ever start using partial reads this could be painful (in case of an hdd backend).
Most awesome fragment cache for the scrubber proxy would be, for a fragment cache (on the related storage drivers) of ty

[2016-09-29 07:28] kvanhijf commented on #727
openvstorage-2.7.3-rev.4036.2154ffe

[2016-09-29 07:34] kvanhijf commented on #727
@QA: To generate scrub work for vDisks, you can use a command like this on a .raw vdisk
`dd if=/dev/zero of=/mnt/vpool/disk1.raw bs=1M count=20 conv=notrunc`
After a 'dd' create a snapshot --> This should already be enough to have generated scrub work

Then have random number of SCRUB roles and invoke scrubbing (ScheduledTaskController.execute_scrub() and verify through the logging (/var/log/ovs/l

[2016-09-29 09:56] kvanhijf commented on #858
Fixed by https://github.com/openvstorage/framework/issues/831

[2016-09-29 09:57] kvanhijf commented on #858
Moved to Fargo since issue was fixed while fixing another issue on Fargo

[2016-09-29 09:58] kvanhijf commented on #831
https://github.com/openvstorage/framework/pull/965
https://github.com/openvstorage/framework-alba-plugin/pull/218

[2016-09-29 10:20] kvanhijf commented on #831
openvstorage-2.7.3-rev.4038.f9a177d
openvstorage-backend-1.7.3-rev.715.7636787

[2016-09-29 11:27] kvanhijf commented on #831
@QA: Install single vPool on storagerouter with a DB role on a partition < 40GB
Install multiple vPools on the same storagerouter, this should have no effect on available sizes (unless READ cache is used)
Install single vPool with a huge backend (of several TBs) and claim all available Global Write Buffer space suggested --> no issue should be raised about more requested than available

[2016-09-29 11:46] kvanhijf opened #966 "Setup dedicated environment to continuously test upgrade"
We should setup an environment (1 node, 3 nodes, 4 nodes, sdm-nodes only?) on which we deploy some vPools, backends, vDisks (or run integrationtests) and use this, every time a new package is created, to test the upgrade
This way we will detect issues much faster when upgrading
To verify the upgrade actually did its job, we should run integrationtests and have a set of scripts which checks various

[2016-09-29 14:27] matthiasdeblock opened #967 "'NoneType' object has no attribute 'storagedriver'"
Install: Unstable

After clicking upgrade 'storage driver' in the GUI, we get the following error:

[code]

[2016-09-29 20:39] kinvaris opened #968 "ADD_VPOOL failed: mkdir: cannot create directory /mnt/geo-accel-alba: File exists'"
During a extend of a vpool we saw this:
Exception: `UnicodeDecodeError('ascii', 'mkdir: cannot create directory \xe2\x80\x98/mnt/geo-accel-alba\xe2\x80\x99: File exists', 31, 32, 'ordinal not in range(128)')`

Extended exception:

[code]

[2016-09-29 20:58] kinvaris commented on #968
Looking further it seemed like the mountpoint was not unmounted from fuse.

[2016-09-30 08:04] khenderick opened #970 "Integrate volumedriver fencing"
Integrate volumedriver fencing: https://github.com/openvstorage/volumedriver/pull/120

[2016-09-30 08:05] khenderick commented on #970
Remark: check for compatible alba version to be integrated at the same time.

[2016-09-30 08:08] khenderick commented on #968
Todo:
- Check for free mountpoint `/mnt/<vpool name>` in wizard + API prechecks
- Figure out this new shitty unicode character

[2016-09-30 10:56] khenderick opened #971 "A master should be set to slave only after the MDS config has been updated"
Assume following scenario for a given vDisk.

[code]

if for some reason we want to swap 1 and 2 so 2 becomes the new master following scenario is followed:

[code]

This causes the current master `1` to become slave while it's still supposed to be master. So in an ideal flow, it should be sth like

[code]

[2016-09-30 11:10] kvanhijf commented on #956
openvstorage-2.7.3-rev.4047.aa8ef29

[2016-09-30 11:31] kvanhijf commented on #956
@QA: Set up a vPool with DTL enabled (Synchronously or Asynchronously), deploy some vDisks and verify through logging that DTL is set up correctly (ovs-workers.log)
Also check the GUI and hover the DTL tooltip

Then overrule the dtl_config_mode flag and the host in the volumedriver config
from ovs.extensions.storageserver.storagedriver import StorageDriverConfiguration
from ovs.extensions.generic.

[2016-09-30 13:23] kvanhijf opened #972 "Set_config_params incorrectly assumes a DTL location should be provided"
When the storagerouters of an environment have been assigned to domains and a vdisk volumedrivers details are changed (without specifying a DTL location), the call will fail
ValueError: If DTL mode is Asynchronous or Synchronous, a Domain guid should always be specified

Afaik when 'Nothing Selected' is visible in the GUI for a vDisk, this implies that the DTL location can be chosen by the framewo

[2016-09-30 13:30] JeffreyDevloo opened #974 "Blacklist 'vrouter_id' from arakoon volume_router for changes"
# Problem description

I was reconfiguring the timeouts in the arakoon config using StorageDriverConfiguration(). I used a part of a running arakoon config and I only changed the timeout values. (Unaware that the vrouter_id had to be changed for every storagedriver).
This resulted in the volumedriver pointing to the wrong storagedriver after reloading.

In short: the vrouter_id can be rewriten in

[2016-09-30 14:07] khenderick commented on #967
Caused by an incorrect manual "cleanup"

[2016-09-30 14:20] kvanhijf commented on #952
openvstorage-2.7.3-rev.4052.81d14d5
Fixed by https://github.com/openvstorage/framework/issues/951

[2016-09-30 14:23] kvanhijf commented on #951
openvstorage-2.7.3-rev.4052.81d14d5

@QA:
Retrieve PID of DTL service
Both on systemd and upstart check /proc/<PID>/limits and verify the max open files
Both hard and soft limit should be on 4096

root@Ubuntu-16-04:~# cat /proc/32281/limits
Max open files            4096                 4096                 files

[2016-09-30 14:48] kvanhijf commented on #948
openvstorage-2.7.3-rev.4054.a1f9f0e

[2016-10-03 08:12] khenderick commented on #971
Fixed by #979, packaged in openvstorage-2.7.3-rev.4059.6d404af

[2016-10-03 08:29] wimpers opened #981 "Integrate the ALBA Archive tier"
Integrate the ALBA Archive Tier

[2016-10-03 09:42] openvstorage-ci commented on #981
This issue was moved to openvstorage/framework-alba-plugin#222

[2016-10-03 09:42] #981 closed, assigned to nobody

[2016-10-03 09:48] wimpers commented on #968
Partly duplicates https://github.com/openvstorage/framework/issues/626 ?

[2016-10-03 10:17] khenderick commented on #968
Yes, this only has this unicode thingy as extra

[2016-10-03 10:19] khenderick commented on #911
Fixed by #982, packaged in openvstorage-2.7.3-rev.4061.083329a

[2016-10-03 10:19] khenderick commented on #912
Fixed by #982, packaged in openvstorage-2.7.3-rev.4061.083329a

[2016-10-03 10:19] khenderick commented on #928
Fixed by #982, packaged in openvstorage-2.7.3-rev.4061.083329a

[2016-10-03 11:39] openvstorage-ci commented on #966
This issue was moved to openvstorage/org_quality#31

[2016-10-03 11:39] #966 closed, assigned to nobody

[2016-10-03 11:40] khenderick opened #985 "Scrubber should skip templates"
Scrubber should skip templates

[code]

[2016-10-03 12:43] khenderick commented on #883
Fixed by #986, packaged in openvstorage-2.7.3-rev.4067.4d6888b

[2016-10-03 12:56] khenderick commented on #805
Fixed by #987, packaged in openvstorage-2.7.3-rev.4070.5141207

[2016-10-03 13:02] wimpers commented on #972
Might be good to fix https://github.com/openvstorage/framework/issues/849 at the same go

[2016-10-03 13:04] khenderick commented on #803
@redlicha, any idea what the `MaxRedirectsExceededException` would mean?

[2016-10-03 13:28] wimpers commented on #816
Haven't seen this one for a while now.

[2016-10-03 13:30] pploegaert commented on #816
It's still an issue... I notice this a few times a week at least ...

[2016-10-03 13:30] wimpers commented on #816
Which version of Chrome?

[2016-10-03 13:31] pploegaert commented on #816
53.0.2785.116 (64-bit)

[2016-10-03 13:45] kvanhijf commented on #856
openvstorage-2.7.3-rev.4074.c43bba5

@QA: It should now be possible to move a volume through the GUI and through the API

[2016-10-03 13:49] khenderick commented on #832
Actually, I'm not sure whether this can or should be resolved as such; if a disk is in use by a vPool and for some reason that disk breaks, we have currently no functionality in place that can cope with the failed disk (we don't have disk replacements on a StorageRouter yet). Any thoughts?

[2016-10-03 14:33] kvanhijf commented on #792
As agreed with @khenderick , we will rework the `sync_with_reality` code and the `configure_disk` code in order to prevent these errors from happening again
Since we no longer have access to this environment, we cannot verify the logs anymore

[2016-10-03 14:39] wimpers commented on #832
After discussion with @khenderick : this should be tackled in a broader scope where we monitor the disks used by storage routers https://github.com/openvstorage/framework/issues/775

[2016-10-03 14:42] khenderick commented on #889
After some discussions with @JeffreyDevloo, this might have been a side-effect from #857. Please validate and re-open if required.

[2016-10-03 14:51] openvstorage-ci commented on #869
This issue was moved to openvstorage/framework-alba-plugin#223

[2016-10-03 14:51] #869 closed, assigned to nobody

[2016-10-03 15:55] khenderick commented on #789
Fixed by #989, packaged in openvstorage-2.7.3-rev.4076.66ee246

[2016-10-04 07:31] khenderick commented on #890
Created internal ticket with reference IT-2334

[2016-10-04 09:33] khenderick commented on #864
Create a vPool over 4 nodes, and the configuration didn't change after the extend to the last node.

Please re-validate and if still an issue, please give some more info (e.g. all the volumedriver's config files before the 4th node was added, and after).

[2016-10-04 10:01] khenderick commented on #803
We need volumedriver logs to see why it raised this `MaxRedirectsExceededException`. The maximum is set to 2 by default (not customisable) which should be sufficient (if we ask it to the wrong volumedriver, it should redirect it to the correct one). An offline node should raise an `NodeNotReachableException`.

Suggest to close and re-open if reproduced.

[2016-10-04 10:07] wimpers commented on #803
Assigning to @redlicha for answers

[2016-10-04 10:15] wimpers commented on #803
After discussion with @khenderick set to can't reproduce. If this happens again, please re-open and add the relevant voldrv logs.

[2016-10-04 10:15] #803 closed, assigned to nobody

[2016-10-04 11:25] khenderick commented on #798
After discussion with @JeffreyDevloo, setting this one again on state_verification. This issue was created at the time a lot of `ovs remove node` related bugs were fixed, so it's likely to be resolved in the process, or being caused by side effects of these bugs. I removed nodes from a 4-node setup and did not encounter the reported issue.

[2016-10-04 13:17] khenderick opened #993 "Setup and configure DTL nodes"
Setup and configure DTL nodes

[2016-10-04 13:17] khenderick commented on #777
After discussion with @saelbrec, the circular manual DTL will be postponed. Issue #993 will take this up.

[2016-10-04 15:50] khenderick commented on #970
We can only enable this flag when used with an Alba backend.

[2016-10-05 08:11] kvanhijf opened #994 "Physical Disks can be in state MISSING, but we have no way to recover from it"
A disk (or partition) can become MISSING if 'lsblk' does not report the disk (or partition) and a role is assigned to it. In this case, the role is still modeled, but the customer might not be able to remove this role or add another of the same role (for DB, SCRUB)
We should investigate the consequences of MISSING or ERRONEOUS disks in the model

[2016-10-05 08:34] khenderick commented on #777
Fixed by #995, packaged in openvstorage-2.7.4-rev.4082.7183343

[2016-10-05 09:24] khenderick commented on #970
Fixed by #996, packaged in openvstorage-2.7.4-rev.4084.68cc098

[2016-10-06 08:21] khenderick commented on #985
Fixed by #997, packaged by openvstorage-2.7.4-rev.4086.a89c9cc

[2016-10-06 08:24] #967 closed, assigned to nobody

[2016-10-06 08:29] openvstorage-ci commented on #860
This issue was moved to openvstorage/org_quality#33

[2016-10-06 08:29] #860 closed, assigned to pploegaert

[2016-10-06 08:30] kinvaris opened #998 "Provide more information on vPool page about linked backends"
Currently we get not much information about what backend is linked to what vPool. Only the preset.
Maybe the vPool page should provide more information about:
- (Possible) Alba Accalerated Alba backend and used preset
- Linked backend and used preset

[2016-10-06 08:39] kinvaris opened #999 "Domain with existing name can be added via API"
When performing a `set_domain` via the API, we can add domains that already exist with the same name.
This can cause problems in some cases when filtering by `name`.

[2016-10-06 08:46] wimpers commented on #631
I'd like to keep this one open since the Arakoon as config mgmt has already solved the main issues (setting up the whole ETCD shebang).

Still copying over a file isn't really user friendly. Therefore an enhancement would be to ask for the IP of one of the master nodes and fetch the file from there. (Assuming the SSH keys have been generated in advance)

[2016-10-06 08:51] wimpers commented on #998
can we close this one and add the comments to https://github.com/openvstorage/framework/issues/735 ?

[2016-10-06 08:52] #998 closed, assigned to nobody

[2016-10-06 08:53] khenderick commented on #735
From #998 by @kinvaris:

[2016-10-06 08:54] wimpers commented on #559
Set to duplicate after discussion with @khenderick .

[2016-10-06 08:54] #559 closed, assigned to nobody

[2016-10-06 08:59] wimpers opened #1000 "Display accelerated ALBA instance per vPool on Storage Router Detail page."
Based upon https://github.com/openvstorage/framework/issues/735 it was made clear that there is no way to see which accelerated ALBA instance is used.  Add this to the Storage Router detail page next to vPool.

[2016-10-06 08:59] wimpers commented on #735
Since the accelerated ALBA is depending on the Storage Router, I don't see how we can add that to the vPool page. I created https://github.com/openvstorage/framework/issues/1000 to tackle that.

[2016-10-06 09:02] kinvaris opened #1001 "Always expecting data when performing a process call in api_client"
This line always expects data when performing a call like `post`. During the `process` the output is parsed and when its `None` a exception is raised.

https://github.com/openvstorage/framework/blob/master/ovs/extensions/api/client.py#L140

Calls like `set_domains` can return `None` when performed in a `post` call.

[2016-10-06 09:25] khenderick commented on #678
Fixed by #1002, packaged in openvstorage-2.7.4-rev.4088.62c4f94

[2016-10-06 09:36] khenderick commented on #753
Put to verification since it might have been fixed by #820

[2016-10-06 09:49] kinvaris commented on #735
@wimpers : don't you mean storagedriver?
When looking at the `extending` page you can add the accelerated ALBA there. And display the underlying backend on the main vpool page.

[2016-10-06 09:54] wimpers commented on #735
Good point by @kinvaris

Add the Accelerated ALBA to the Storage Routers serving this vPool part under the Management actions tab. Updated https://github.com/openvstorage/framework/issues/852 with the same

[2016-10-06 10:00] khenderick commented on #775
Fixed by #1003, packaged in openvstorage-2.7.4-rev.4090.0b617c3

[2016-10-06 10:09] khenderick commented on #783
Seems to be already fixed.

[2016-10-06 11:51] khenderick commented on #719
Fixed by #1004, packaged in openvstorage-2.7.4-rev.4092.7a6ff12

[2016-10-06 11:58] JeffreyDevloo commented on #549
### Information

Seeing as this error has been fixed on 25 May and we no longer encountered it during our ETCD setups, the issue has been resolved.

_Default installation steps_

### Steps:
- Installed ovs on three nodes

### Output:

All nodes were installed without error

### Package information:
- ii  openvstorage                       2.7.1-fargo.2-1                                          am

[2016-10-06 11:58] #549 closed, assigned to nobody

[2016-10-06 12:14] JeffreyDevloo commented on #927
### Information

This issue was found on our OVH environment.
As of now this environment has been updated.
Checking the status of its snapshots would provide enough information whether this issue has been resolved or not

### Steps:

_OVH setup_
- Installed all nodes
- Set disk roles
- Setup external arakoons
- Setup backends (sequentially with arakoons)
- Added vpools
- Added vdisks
- Checking sn

[2016-10-06 12:14] #927 closed, assigned to nobody

[2016-10-07 12:09] khenderick commented on #532
Fixed by #1006 and openvstorage/framework-alba-plugin#232, packaged in openvstorage-2.7.4-rev.4098.8eb858f and openvstorage-backend-1.7.4-rev.734.a19c024

[2016-10-07 12:22] pploegaert opened #1007 "Shrink vpool fails with RuntimeError: got fault response updateClusterNodeConfigs"
[code]

[2016-10-07 13:37] khenderick commented on #1007
Fixed by #1010, packaged in openvstorage-2.7.4-rev.4104.4a05d69

[2016-10-07 14:29] khenderick commented on #844
Most likely be fixed by #792

[2016-10-07 15:11] khenderick commented on #834
Some feedback:
- Aborting the requests upon page navigation doesn't matter too much for server-side, since the requests are being processed anyway
- The backend overview page doesn't load non-required data

[2016-10-08 09:31] grimpy opened #1011 "Failed to create vpool on distributed filesystemd"
[code]

[2016-10-10 09:20] pploegaert opened #1012 "unable to create a backend with the same name after deletion"
constraint logic does not remove constraint on delete - pls fix

[2016-10-10 10:21] khenderick commented on #1012
Fixed by #1013, #1014 and openvstorage/framework-alba-plugin#234, packaged in openvstorage-2.7.4-rev.4110.61da5ac and openvstorage-backend-1.7.4-rev.738.c050b22

[2016-10-10 15:05] pploegaert opened #1015 "Shrink vpool fails with Exception: Reconfiguring volumedriver arakoon cluster failed"
[code]

[2016-10-10 15:09] khenderick commented on #1015
When the `cluster_node_config` has been cached, it turns to unicode, which the volumedriver can't handle. So we'll have to think about some automatic deunicodification (triple letter score) when properties are retrieved from cache.

[2016-10-11 06:51] khenderick commented on #1015
Apparently duplicates #1011

[2016-10-11 06:51] #1015 closed, assigned to khenderick

[2016-10-11 08:07] khenderick commented on #1011
Fixed by #1016, packaged in openvstorage-2.7.4-rev.4113.d04e948

[2016-10-11 08:39] JeffreyDevloo commented on #1012
### Steps
- Installed latest ovs
- Assigned roles
- Added backend 'mybackend'
- Removed backend 'mybackend'
- Added backend 'mybackend'

### Output

Backend created succesfully both times.

### Test result

Test passed.

### Package information
- openvstorage                          2.7.4-rev.4110.61da5ac-1                                 amd64        openvStorage
- openvstorage-backend

[2016-10-11 08:39] #1012 closed, assigned to khenderick

[2016-10-11 09:41] khenderick commented on #834
Fixed by openvstorage/framework-alba-plugin#235, packaged in openvstorage-backend-1.7.4-rev.743.af3422d

[2016-10-11 09:42] khenderick commented on #837
Fixed by openvstorage/framework-alba-plugin#235, packaged in openvstorage-backend-1.7.4-rev.743.af3422d

[2016-10-11 11:33] khenderick commented on #848
Seems this one was fixed by openvstorage/framework-alba-plugin#219

[2016-10-11 12:11] khenderick commented on #816
Fixed by #1017, packaged in openvstorage-2.7.4-rev.4115.c0dda6a

[2016-10-11 13:24] JeffreyDevloo opened #1018 "Albanodecontroller purges before safety checking"
## Problem description

When running some benchmark tests I encountered the following error:

[code]

This caused my asd to be unavailable and leaving me with a broken disk that could no longer be re-initialized.

The logs tell us that the purge (removal of the alba entry) is happening before the check whether the disk may be purged has been concluded. This means that my data would be discarded wh

[2016-10-11 13:27] khenderick commented on #1018
First, check for safety, then purge the OSD.

[2016-10-11 13:28] JeffreyDevloo opened #1019 "Suppress RuntimeError: (Failure "unknown osd XXX")"
## Problem description

When the runtime error occurs whilest purging the asd, it could be that the sync to the DAL is disturbed, leading to inconsistent data
## Possible root of the problem

Albanodecontroller is not catching this exception.
## Possible solution

Catch the exception
## Temporary solution

None
## Additional information
### Setup

Hyperconverged setup
- Two nodes with each six dis

[2016-10-11 13:52] khenderick commented on #1019
Fixed by openvstorage/framework-alba-plugin#238, packaged in openvstorage-backend-1.7.4-rev.748.59bc937

[2016-10-11 13:52] khenderick commented on #1018
Fixed by openvstorage/framework-alba-plugin#238, packaged in openvstorage-backend-1.7.4-rev.748.59bc937

[2016-10-11 14:38] wimpers commented on #954
Allow to define multiple DB roles per host. No sharding of a single Arakoon across multiple SSDs.
Multiple Arakoon DBs must be stored across the SSDs in a round robin fashion.

[2016-10-11 15:15] wimpers opened #1020 "Flexible scrubber"
Currently the scrubber runs every day which might be too often in large scale deployments as it can be quite aggressive. This ticket is to add more flexibility around the scrubber.
- [x] Add a new API call to scrub a volume on demand (parameters: voldrv where to scrub)
- [x] Add the new scrub call to the GUI on the vdisk detail page (icon http://fontawesome.io/icon/cogs/)
- [x]  Disable the daily

[2016-10-11 15:18] wimpers commented on #1020
@khenderick is this something you see doable fro Fargo?

[2016-10-11 15:20] khenderick commented on #1020
At least, the current implementation lasted 14 days

[2016-10-11 15:37] JeffreyDevloo commented on #939
### Steps
-  Reverted back to snapshot with older packages (see package information)
- Updated ovs framework to latest one to avoid https://github.com/openvstorage/alba-asdmanager/issues/126
- Updated SDM

### Output

All updates were successful.

### Test result

Test passed.

### Setup

Hyperconverged setup
- Three nodes with each three disks for the back-end

### Package information
- openvstor

[2016-10-11 15:37] #939 closed, assigned to nobody

[2016-10-11 15:51] wimpers opened #1021 "Automatic API generation + documentation"
Make the framework API automatic and self-describing.

A suggestion for this might be [Swagger](http://swagger.io/) as https://github.com/swagger-api/swagger-ui/issues/807 is being fixed.

[2016-10-12 07:07] khenderick commented on #1020
@wimpers, I can start and see when it lands.

[2016-10-12 07:16] khenderick commented on #1020
On hold until linked volumedriver ticket is resolved.

[2016-10-12 07:16] wimpers commented on #1020
@saelbrec, maybe it would be a better idea to leave the scheduled task on by default? Just to be on the safe side.

[2016-10-12 07:28] khenderick commented on #1020
So, the requirements changed so the "up to a given snapshot" requirement is postponed. Let's start.

[2016-10-12 07:29] wimpers opened #1022 "Scrub upto a certain a snapshot"
This ticket is a continuation of https://github.com/openvstorage/framework/issues/1020. The api/gui needs to be extended so you can select a snapshot upto which to scrub. This requires  https://github.com/openvstorage/volumedriver/issues/143 to be delivered by the voldrv team.

[2016-10-12 08:02] khenderick commented on #1020
Just for the record: an imo better idea would be to make the scrubber configurable via the GUI. E.g. allow users to define times when the scrubber can run. This also allows flexibility, but can make sure that volumes need to be scrubbed e.g. at least once a week.

[2016-10-12 08:49] tvlerick commented on #890
I've set up a new server which is signed from the start. All the current data has been imported on the new repo.

The same dns is available: apt.openvstorage.com pointing to 172.20.3.29 (instead of .28) (available internal only at the moment)
Usernames and passwords are the same. You probably have to add the upload user to the jenkins server.

On the servers you wish to use the apt on, exec this c

[2016-10-12 08:51] wimpers commented on #890
I assume "apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 4EFFB1E7" is a step to add to add to the documentation?

Isn't apt.ovs.com not used for 16.04 packages?

[2016-10-12 08:52] kvanhijf commented on #890
apt.openvstorage.com for 16.04
apt.openvstorage.org for 14.04
afaik

On Wed, Oct 12, 2016 at 10:51 AM, Wim Provoost notifications@github.com
wrote:

##

_Kevin Van Hijfte, Software Engineer_

www.openvstorage.com http://www.cloudfounders.com/ |
kevin.vanhijfte@openvstorage.com kevin.vanhijfte@cloudfounders.com

_Tel: +32 9 324 25 70_

_Open vStorage, Storage for the Cloudscale Datacenter_

Disclai

[2016-10-12 12:05] wimpers opened #1023 "Integrate Encryption per namespace"
The integration part of the new ALBA version which allows encryption per namespace.

To be defined what is exactly needed.

[2016-10-12 12:19] kinvaris opened #1024 "Configuration.list does not give result when last character is /"
As seen in example:

[code]

[2016-10-12 12:33] wimpers commented on #1024
@kinvaris , if you need this can you create a PR which removed the trailing slash

I believe the trick is to replace in https://github.com/openvstorage/framework/blob/d5086cf0fd9c36e0708f45ffacd559549dd407b4/ovs/extensions/generic/configuration.py#L215

`return Configuration._list(key)`
with
`return Configuration._list(key.rstrip("/"))`

We might want to the same for dir_exists(key):

Note, might

[2016-10-12 12:50] wimpers commented on #993
@khenderick can you please elaborate on this?

[2016-10-12 12:51] jeroenmaelbrancke opened #1025 "use arakoon local collapse instead of remote collapse"
It would be better to trigger a local collapse of the Arakoons.

1) local collapse will use another process to collapse --> no extra load on the running Arakoon process and will not trigger nomasterlookup issues

2) in the remote collapse we received an error failure("success"), restarting the Arakoon process helps to solve this issue... @toolslive is already checking the issue

@matthiasdeblock c

[2016-10-12 12:53] matthiasdeblock commented on #1025
ovs-workers:

[code]

Executing collapse-remote:

[code]

[2016-10-12 13:00] khenderick commented on #993
This was a request from @saelbrec and serves as an entrypoint for further brainstorming. The idea is that we might want to configure some kind of DTL role to nodes, so we can specify which nodes host a DTL service for a given vPool. This way, we allow more finegraded DTL layouts.

[2016-10-12 13:07] wimpers commented on #1025
Was also requested by one of the main stakeholders.

[2016-10-12 13:12] wimpers commented on #1024
Might have impact on Configuration.list('/') we sometimes use.

[2016-10-12 13:14] wimpers commented on #1024
Also check if input validation is done on the key.

[2016-10-12 13:25] kvanhijf commented on #1024
@wimpers : Perhaps QA should do their job and framework should do their job too ;)
Framework: Fix bugs rapported by QA (thus opening PRs)
QA: Find bugs introduced by Framework

[2016-10-12 13:31] wimpers commented on #1024
@kvanhijf A feel a lot of job protection there? A great 'Make engineering great again'-feeling :p

@kinvaris which config mgmt tool is this Arakoon/ETCD or is this happening on both?

[2016-10-12 13:37] kvanhijf commented on #1024
@wimpers : Not so much really
1. It's more that QA knows a lot less of the possible impact a change can have, which in the end causes more time lost because we have to put time in the reviews or 'holding their hand'.
So QA loses time trying to fix it, we lose time telling QA how to fix it and reviewing it
2. From time to time it can be pleasant for the framework to fix some easier things, a nice d

[2016-10-12 13:57] wimpers commented on #881
Set to Roadmap as it is located in the FUSE path of the code. Please raise complaints with me in case you would disagree.

[2016-10-13 09:22] kvanhijf commented on #792
https://github.com/openvstorage/framework/pull/1005  --> openvstorage-2.7.4-rev.4123.ef930a7
https://github.com/openvstorage/alba-asdmanager/pull/127 --> openvstorage-backend-1.7.4-rev.756.088c2ee
https://github.com/openvstorage/framework-alba-plugin/pull/231 --> openvstorage-sdm-1.6.4-rev.386.8590475

All kind of devices should now be detected properly when hitting the 'Rescan' button in the GUI

[2016-10-13 12:22] kvanhijf commented on #844
Fixed by https://github.com/openvstorage/framework/issues/792

[2016-10-13 12:24] kvanhijf commented on #815
Most likely fixed by https://github.com/openvstorage/framework/issues/792

[2016-10-13 12:25] kvanhijf commented on #764
Most likely fixed by https://github.com/openvstorage/framework/issues/792

[2016-10-13 12:27] khenderick commented on #1024
@wimpers, @kinvaris, @kvanhijf; A lot of these things were implemented to keep the exact same behavior as with Etcd which means that you could not do a list on `/ovs/arakoon/` as far as I know. An rstrip could resolve this for the arakoon implementation but might introduce issues in the etcd implementation. There's already a ton of awkward code in the configuration wrapper to keep the two compatib

[2016-10-13 13:09] pploegaert opened #1028 "after upgrade ovs-workers were not running on 3th node"
ovs-workers.log shows:

[code]

[2016-10-13 13:28] khenderick commented on #1020
Fixed by #1027, packaged in openvstorage-backend-1.7.4-rev.760.c681183

[2016-10-13 13:30] khenderick commented on #1028
Fixed by #1029, packaged in openvstorage-2.7.4-rev.4130.36eeced

[2016-10-13 14:54] khenderick commented on #1025
Fixed by #1030, packaged in openvstorage-2.7.4-rev.4132.83baaea

[2016-10-13 15:36] khenderick commented on #1024
Fixed by #1031, packaged in openvstorage-2.7.4-rev.4136.8d34d87

[2016-10-13 15:39] kvanhijf commented on #604
https://github.com/openvstorage/framework/pull/1032 --> openvstorage-2.7.4-rev.4136.8d34d87
https://github.com/openvstorage/alba-asdmanager/pull/128 --> openvstorage-sdm-1.6.4-rev.388.1f4375d

[2016-10-14 07:46] khenderick commented on #1001
Fixed by #1033, packaged in openvstorage-2.7.4-rev.4139.df50495

@grimpy, I've added a `delete` call, and I somehow remember you once needed one.

[2016-10-14 07:56] khenderick commented on #994
@pploegaert ran into that, and it basically causes various issues where our system assumes every disk with a role is OK;
- We expect a mountpoint to be available
- We might just give the supposed mountpoint to services that won't start
- ...

[2016-10-14 08:07] wimpers commented on #1020
@khenderick  What should be documented? Which flag to set to disable/enable the daily task?

[2016-10-14 08:10] khenderick commented on #1020
@wimpers, right, forgot about that. Setting the `/ovs/framework/auto_scrub` key to `false` will disable the automatic scrubbing.

[2016-10-14 08:31] khenderick commented on #958
Reverted change chaining the tasks, as it turns out running these tasks in parallel should be supported. To be checked/locked:
- Data usage or free space
- Services start/stop
- Getting free ports

In the meantime, I'd advise to be careful when running them in parallel, @kinvaris.

[2016-10-14 08:38] khenderick commented on #936
Back to `state_verification` so it gets back to QA's task list to reproduce the issue (and close the issue if it works - or provide more information if it doesn't work). Nobody is looking at this `state_question`.

[2016-10-14 08:42] khenderick commented on #890
Ubuntu 16.04 repo is signed, this ticket can be considered finished.

[2016-10-14 08:49] wimpers commented on #958
QA requires support for multiple vPools being deployed at the same time.  They are currently already doing so and are afraid that not running them in parallel will atke to much time.

@kinvaris do you have a timing of how long the vPool creation takes in your tests?

[2016-10-14 09:02] khenderick commented on #822
@kinvaris, please re-validate due to changes in the disk management and the various fixes in the ASD removal logic.

[2016-10-14 09:08] khenderick commented on #904
Supported formats for `logging_target`:

In case of logging to console:

[code]

In case of redis logging:

[code]

In case of logging to file

[code]

[2016-10-14 09:15] khenderick commented on #904
Fixed by #1036, packaged in openvstorage-2.7.4-rev.4145.680473f

[2016-10-14 09:23] khenderick commented on #684
I still don't think this ticket makes much sense:
- The volumedriver and alba proxy must share a filesystem, so they must run on the same node
- When scrubbing a separate scrub-only proxy is deployed (and cleaned up afterwards).

What's the usecase of a running alba proxy without a volumedriver using it?

[2016-10-14 09:38] wimpers commented on #684
After discussion with @khenderick : having the voldrv not on the same box as the proxy isn't supported atm. if this scenario should be supported , more actions will be required (https://github.com/openvstorage/volumedriver/issues/150).

Hence closing this ticket down with won't fix. If you ( @kinvaris , @saelbrec ) disagree, please re-open and provide a use case.

[2016-10-14 09:38] #684 closed, assigned to wimpers

[2016-10-14 09:44] khenderick commented on #790
In the meantime, the code will check for the DB role before starting extending/adding the vPool.

[2016-10-14 11:18] khenderick opened #1037 "Start using mypy (type annotations in python2)"
http://blog.zulip.org/2016/10/13/static-types-in-python-oh-mypy/

[2016-10-14 12:52] khenderick opened #1039 "UnicodeDecodeError: 'ascii' codec can't decode byte 0xe2 in position 31: ordinal not in range(128)"
[code]

[2016-10-14 12:52] khenderick commented on #626
Fixed by #1038, packaged in openvstorage-2.7.4-rev.4147.6f02d53

[2016-10-14 12:52] khenderick commented on #817
Fixed by #1038, packaged in openvstorage-2.7.4-rev.4147.6f02d53

[2016-10-14 12:52] khenderick commented on #968
Fixed by #1038, packaged in openvstorage-2.7.4-rev.4147.6f02d53

[2016-10-14 12:53] khenderick commented on #790
Fixed by #1038, packaged in openvstorage-2.7.4-rev.4147.6f02d53

[2016-10-14 12:53] khenderick commented on #793
Fixed by #1038, packaged in openvstorage-2.7.4-rev.4147.6f02d53

[2016-10-14 13:17] khenderick commented on #778
Fixed by #1040, packaged in openvstorage-2.7.4-rev.4149.6a15e4f

[2016-10-14 13:18] kinvaris commented on #778
PASSED:

[code]

[2016-10-14 13:18] #778 closed, assigned to nobody

[2016-10-14 15:58] khenderick commented on #823
Fixed by #1042, packaged in openvstorage-2.7.4-rev.4153.4979e95

[2016-10-17 07:56] khenderick commented on #909
Fixed by #1043, packaged in openvstorage-2.7.4-rev.4155.42b2f87

[2016-10-17 08:02] kvanhijf commented on #868
openvstorage-2.7.4-rev.4157.09b9e2c -- > https://github.com/openvstorage/framework/pull/1044

[2016-10-17 08:31] kvanhijf opened #1045 "Add tooltip to physical disk overview for smaller partitions"
Smaller partitions cannot show all of the information we have about it, such as mountpoint and filesystem
It would be nice to be able to see why a partition cannot be used to assign roles for example

[2016-10-17 08:37] matthiasdeblock opened #1046 "Error role assignment NVME - Disk with guid '098d8066-d47a-466d-8f7c-a28ac2ef8e1a' could not be found"
root@stor-01:~# apt-cache policy openvstorage
openvstorage:
  Installed: 2.7.4-rev.4153.4979e95-1
  Candidate: 2.7.4-rev.4153.4979e95-1
  Version table:
 **\* 2.7.4-rev.4153.4979e95-1 0
        500 http://apt.openvstorage.org/ unstable/main amd64 Packages
        100 /var/lib/dpkg/status

Error while assigning write role to NVME. In all 4 nodes there is an NVME present. On all 4 nodes i'm getting

[2016-10-17 08:42] JeffreyDevloo commented on #1019
### Steps
- Ran the same benchmark which caused the issue to arrise
- Parsed log files to search for the runtime errors
- Found no runtime error instead got:

[code]

### Test result

Test passed.

### Packages
- openvstorage                          2.7.4-rev.4115.c0dda6a-1                                 amd64        openvStorage
- openvstorage-backend                  1.7.4-rev.748.59bc937-1

[2016-10-17 08:42] #1019 closed, assigned to nobody

[2016-10-17 08:50] khenderick commented on #866
That one is fixed to by some of the latest changes (but I can't remember anymore which ones)

[2016-10-17 09:01] JeffreyDevloo commented on #1018
### Steps
- Updated the environment where the issue occurred
- Ran the same benchmark suite
- Parsed log for safety errors

### Output

Found the following entry:

[code]

There is no log indicating a purge like in the issue report.

### Test result

Test passed.

[2016-10-17 09:01] #1018 closed, assigned to nobody

[2016-10-17 09:51] kvanhijf commented on #1046
openvstorage-2.7.4-rev.4159.0707c77 --> https://github.com/openvstorage/framework/pull/1047

[2016-10-17 11:22] wimpers commented on #1045
@kvanhijf how much time do you think this will take to implement?

[2016-10-17 11:34] kvanhijf commented on #1045
Hard to estimate, @khenderick already tried this in the past during the initial implementation
It might be impossible with the current implementation (the visualization of the diskpartitions is done using progressbars on which it might be impossible to add a tooltip). So a completely new implementation might be better here

[2016-10-17 11:44] wimpers commented on #1039
What is the context? When does this happen? Which use case? Maybe voldrv related?

[2016-10-17 11:46] khenderick commented on #1039
I don't remember when it happens, it's just a general remark that output containing special quotes are messing up our code. It's not volumedriver related.

[2016-10-17 11:47] wimpers commented on #1037
@khenderick Do you want to tackle this while tackling the Swagger API stuff?

[2016-10-17 11:49] khenderick commented on #1037
No, I want to tackle this when we have some spare time left, it might (or might not) take lots of time to get this right. It's an unknown beast.

[2016-10-17 12:01] wimpers commented on #999
Does the GUI block the creation of duplicates?

[2016-10-17 12:07] JeffreyDevloo commented on #848
### Steps
- Setup a cluster
- Added diskroles
- Added backend
- Initialized disk

### Output

Initialization took longer than the timeout time before https://github.com/openvstorage/framework-alba-plugin/pull/219 (which was 60s).

### Additional information

The timeout in https://github.com/openvstorage/framework-alba-plugin/pull/219 was a hot fix for this particular problem as well

### Test res

[2016-10-17 12:07] #848 closed, assigned to nobody

[2016-10-17 12:11] kvanhijf commented on #999
@wimpers : yes

[2016-10-17 12:20] wimpers commented on #994
From the BAM: we should be able to work with this state of disks.

[2016-10-17 12:22] khenderick commented on #994
@wimpers, so you mean that we have to implement support for removed disks that might be in use by arakoons, volumedrivers, ...?

[2016-10-17 12:28] wimpers opened #1048 "Evacuate storage router per vpool"
As part of Fargo we added the option to move volumes away from a node/storagedriver to another node.

If you want to update or remove a node with a storagedriver it can be quite a task to move all volumes. hence let's introduce a maintenance mode
- API
  - vdisksMoveAway()
    - on storagedriver, moves the vDisks away to other storage drivers
    - parameters
      - dict of storage drivers where

[2016-10-17 12:30] wimpers commented on #974
As this is caused by  a picnic: wo'nt fix. BAM thinks blacklisting items isn't a good idea.

[2016-10-17 12:30] #974 closed, assigned to nobody

[2016-10-17 12:33] wimpers commented on #964
@domsj why would the scrubber start doing partial reads? Do you see this as an use case?

[2016-10-17 12:37] domsj commented on #964
@redlicha considered it a possible use case
I think it comes down to this: if only a very small part of a SCO is still relevant after scrubbing then it is probably more efficient to partially read only the relevant parts (instead of the entire SCO).

[2016-10-17 12:40] domsj commented on #964
Actually configuring the fragment cache for the scrub proxy as per my original comment could even make sense when the scrubber doesn't use partial reads.
In case of an accelerated geo scale alba it could avoid reads going to another datacenter.

[2016-10-17 12:42] JeffreyDevloo commented on #831
### Steps
- Installed latest packages
- Setup cluster
- Added disk roles to 5GB disks
- Added backend
- Initialized disk and claimed asd
- Added (1,1,1,1) preset to work for my limited test environment
- Added two vpools
- Claimed all space for Global Write Buffer on the second vpool

### Output

![selection_109](https://cloud.githubusercontent.com/assets/17570109/19437913/b69624cc-9477-11e6-8e46-

[2016-10-17 12:42] #831 closed, assigned to nobody

[2016-10-17 12:46] wimpers commented on #994
Proposed to fix this during https://github.com/openvstorage/framework/issues/954

[2016-10-17 12:49] JeffreyDevloo commented on #783
### Steps
- Installed latest packages
- Installed cluster
- Added roles to disks
- Added backend
- Initialized disks and claimed asds
- Added usable preset
- Added vpool

### Output

The proposed name has been implemented.
![selection_112](https://cloud.githubusercontent.com/assets/17570109/19438181/e62ad4ca-9478-11e6-8b50-748987a6bb02.png)
Edit: forgot to add a screenshot for the last tab:
![sele

[2016-10-17 12:49] #783 closed, assigned to nobody

[2016-10-17 12:53] JeffreyDevloo commented on #816
### Steps

### Steps
- Installed latest packages
- Installed cluster
- Added roles to disks
- Added backend
- Initialized disks and claimed asds
- Added usable preset
- Added vpool

Cluster has been setup.
Reproduction for the viewmodel error (as I reported above):
Did the reproduction tactic (that guaranteed the error) 5x for every node.

### Output

All pages loaded without a single viewmodel er

[2016-10-17 12:53] #816 closed, assigned to nobody

[2016-10-17 12:57] JeffreyDevloo commented on #753
### Information

Found zombieprocesses on the Fargo environment that I installed for testing purposes right after the install (lingering SSH just as in described in the issue).
Could not find the same zombie processes since #820 had been packaged.

### Steps
- Fresh install of a cluster
- Checked for zombie processes

### Output

Found no zombie processes for the three installs that I did

### Tes

[2016-10-17 12:57] #753 closed, assigned to pploegaert

[2016-10-17 13:00] wimpers commented on #1037
in that case set to roadmap

[2016-10-17 13:07] khenderick commented on #1039
Fixed by #1049, packaged in openvstorage-2.7.4-rev.4161.5f26491

[2016-10-17 13:14] wimpers commented on #783
@JeffreyDevloo it is on the validation step (last screen of the wiward). The screenshot is pre-validation.

[2016-10-17 13:32] JeffreyDevloo commented on #719
### Steps
- Installed latest packages
- Installed cluster
- Added roles to disks
- Added backend
- Initialized disks and claimed asds
- Added usable preset
- Added vpool

Testing the commands and verifying using the GUI:
- Executed 'ovs help' to get the entry
- Executed 'ovs stop framework'
- Verified that ovs was down (checking ovs-watcher-framework and gui)
- ...

### Output

**ovs stop framewor

[2016-10-17 13:32] #719 closed, assigned to nobody

[2016-10-17 13:42] JeffreyDevloo commented on #817
### Steps
- Installed latest packages
- Installed cluster
- Added roles to disks of node 1
- Added backend
- Initialized disks and claimed asds
- Added usable preset
- Added vpool on node 1
- Tried to add vpool on node 2

### Output

Received the following error:
![selection_111](https://cloud.githubusercontent.com/assets/17570109/19439869/06443a1a-9480-11e6-9e27-4a6bab7986e7.png)

Write role is n

[2016-10-17 13:42] #817 closed, assigned to nobody

[2016-10-17 13:48] JeffreyDevloo commented on #762
### Information

We no longer encountered the error anymore during two and half month of installations and assigning of disk roles on our nightly builds and on our manual setups
Therefore I am inclined to close this due to the nature of not being able to reproduce.

### Packages

Latest packages of the time of writing this:
- openvstorage                       2.7.4-rev.4159.0707c77-1

[2016-10-17 13:48] #762 closed, assigned to nobody

[2016-10-17 13:56] JeffreyDevloo commented on #909
### Steps
- Setup cluster
- Browsed to GUI
- Tried to access statistics via menu (I couldn't)
- Tried to access statistics via the url (I couldn't)

### Output

![selection_117](https://cloud.githubusercontent.com/assets/17570109/19440447/4227970a-9482-11e6-80cc-3cc7a004dd79.png)

### Test result

Test passed.

[2016-10-17 13:56] #909 closed, assigned to nobody

[2016-10-17 14:04] JeffreyDevloo commented on #912
### Steps
- Installed latest packages
- Installed cluster
- Added roles to disks
- Added backend
- Initialized disks and claimed asds
- Added usable preset
- Added vpool on node 1
- Added vdisks with dots in their name

### Output

**All disks have the .raw extension**

[code]

**Detailed view**
![selection_001](https://cloud.githubusercontent.com/assets/17570109/19440763/63b58be2-9483-11e6-9b0a-b

[2016-10-17 14:04] #912 closed, assigned to khenderick

[2016-10-17 14:21] wimpers opened #1050 "Config parameters for entries per page in the vol metadata"
- default should be 64 (METADATASTORE_BITS = 6).
- Make sure MD cache size calculation is taking this into account.

in case of questions ... check with @saelbrec

[2016-10-17 15:03] JeffreyDevloo commented on #928
### Steps
- Installed latest packages
- Installed cluster
- Added roles to disks
- Added backend
- Initialized disks and claimed asds
- Added usable preset
- Added vpool on node 1
- Added vdisk with uppercase name

### Output

The name is no longer lowercased:
![selection_002](https://cloud.githubusercontent.com/assets/17570109/19442949/6ccfd9a0-948b-11e6-9ab3-8ca901a58005.png)

### Packages
- ope

[2016-10-17 15:03] #928 closed, assigned to khenderick

[2016-10-17 15:23] JeffreyDevloo commented on #948
### Steps
- Installed latest packages
- Installed cluster
- Added roles to disks
- Added backend
- Initialized disks and claimed asds
- Added usable preset
- Added vpool on node 1
- Checked alba init files

Files that must contain this line (got info from @domsj):
- ovs-albaproxy-*
- alba-albamaintenance-*

### Output

Found 'env ALBA_LWT_ENGINE=libev' for
- ovs-albaproxy-*

Did not find entry in:

[2016-10-17 15:42] JeffreyDevloo commented on #925
### Information

We encountered this error on OVH and it was hot fixed when we reported the problem.
Since the patch, we did not encounter this error anymore on the same environment.

This problem was not reported on our testing builds as well.

### Steps
- Installed latest packages
- Installed cluster
- Added roles to disks
- Added backend
- Initialized disks and claimed asds
- Added usable prese

[2016-10-17 15:42] #925 closed, assigned to nobody

[2016-10-17 16:39] kinvaris opened #1051 "vPool creation failed: `Please check the logs for more information` but no logging"
When performing a shrink of a vpool, I got this error in `ovs-workers`:

[code]

When trying to search the logs as said in the code: https://github.com/openvstorage/framework/blob/6f02d53ebd8a472840fca68e57f3303f16d7c510/ovs/lib/storagerouter.py#L70

We cannot find anything in `/var/log/ovs/lib.log`

[2016-10-17 16:41] JeffreyDevloo commented on #951
### Steps
- Installed latest packages
- Installed cluster
- Added roles to disks
- Added backend
- Initialized disks and claimed asds
- Added usable preset
- Added vpool on node 1

Executed:

[code]

### Output

[code]

Manual:

[code]

### Test result

Test passed.

### Packages
- openvstorage                       2.7.4-rev.4159.0707c77-1                                 amd64        openvStorage

[2016-10-17 16:41] #951 closed, assigned to nobody

[2016-10-18 07:37] kvanhijf commented on #948
https://github.com/openvstorage/alba-asdmanager/pull/129 -- > openvstorage-sdm-1.6.4-rev.390.89e2ad4

[2016-10-18 08:25] JeffreyDevloo opened #1052 "OVS update - SDM updated on 'Update Framework'"
## Problem description

The SDM package was updated when 'Update Framework' was started in the GUI.
Before the update, there was no indication that there was a new Storage Driver package.

Packages before updating:
- openvstorage                       2.7.4-rev.4161.5f26491-1                                 amd64        openvStorage
- openvstorage-sdm                   1.6.4-rev.388.1f4375d-1

[2016-10-18 08:53] JeffreyDevloo commented on #948
Updating to the latest package does NOT fix this issue.

## After update

### Steps
- Installed latest packages
- Installed cluster
- Added roles to disks
- Added backend
- Initialized disks and claimed asds
- Added usable preset
- Added vpool on node 1
- Checked alba init files

Files that must contain this line (got info from @domsj):
- ovs-albaproxy-*
- alba-albamaintenance-*

### Output

Found

[2016-10-18 11:59] khenderick commented on #1050
`METADATASTORE_BITS` is an env variable, should be set to 6 iso 8.
metadata_page_capacity = capacity of X bits.

[2016-10-18 12:25] JeffreyDevloo opened #1053 "Backend wizard - reloads when enter is pressed"
## Problem description

When the modal opens and you press enter, the page will reload for the first and only time in the current session.
## Possible root of the problem

After some investigation, I have concluded the following:
**The core of the issue is determining the behaviour of the keypress**
The sequence of events is the following: Keydown - keyup - submit
Before the submit event is trigge

[2016-10-18 12:48] JeffreyDevloo commented on #961
### Steps
- Installed latest OVS packages
- Installed cluster
- Added roles to disks
- Added backend
- Added two vpools (myvpool01 and myvpool02)
- Extended both vpools to a second node
- Marked the first node as offline
- Parsed log files to see if the mark call has been added to the right SDM

### Output

Only expecting logging on the remaining online nodes:
On node 2:
/var/log/upstart/ovs-volum

[2016-10-18 12:48] #961 closed, assigned to khenderick

[2016-10-18 13:12] JeffreyDevloo commented on #1028
### Information

In terms of upgrading and race conditions, a regression test should be implemented instead of manual verification.
Manually verifying a delicate subject such as the upgrade is based on some flawed logic.
Added the regression test to my todo's.

### Steps
- Upgraded a recent ovs cluster

Upgraded from
- openvstorage                       2.7.4-rev.4161.5f26491-1

[2016-10-18 13:12] #1028 closed, assigned to nobody

[2016-10-18 13:29] JeffreyDevloo commented on #1024
### Information

Seeing as the 'fix' both mentions the starting and trailing '/', I will test both for both cases.
The fix is only applied to ArakoonConfiguration, no changes have been made to EtcdConfiguration.

### Steps
- Installed ovs cluster
- Added roles to disks
- Added backends (gwgw, gwgwgwg, gwwg, hehehe, mybackend, test)
- Initialized disks
- Claimed ASDS
- Started vpool
- Added vdisk
-

[2016-10-18 13:29] #1024 closed, assigned to nobody

[2016-10-18 13:36] JeffreyDevloo commented on #783
The last tab was also checked, forgot to include a screenshot. Fixed.

[2016-10-18 13:51] JeffreyDevloo commented on #1007
### Information

This test is covered by our autotests.

### Steps
- Installed ovs cluster
- Added roles to disks
- Added backends (mybackend)
- Initialized disks
- Claimed ASDS
- Add vpool on node 1
- Extended vpool to node 2
- Added vdisk
- Shrinked vpool (removal of node 2)

### Output

The shrinking was successful:

[code]

Full output can be found below.

### Test result

Test passed.

### Fu

[2016-10-18 13:51] #1007 closed, assigned to khenderick

[2016-10-18 14:04] saelbrec opened #1054 "Ability to scrub in self-defined regions when using API"
People scrubbing their volumes using the API might want to have control over the amount of data(regions) they scrub at once hence the request to add this capability to the API.

[2016-10-18 14:06] wimpers commented on #1054
This is coming out of https://github.com/openvstorage/framework/issues/830

[2016-10-18 14:13] JeffreyDevloo commented on #883
### Steps
- Installed ovs cluster
- Added roles to disks
- Added backends (mybackend)
- Initialized disks
- Claimed ASDS
- Add vpool on node 1
- Extended vpool to node 2
- Added vdisks (myvtemplate01, myvdisk01) to myvpool01
- Added myvtemplate01 to vtemplates

### Output

**Vtemplate page:**
![selection_009](https://cloud.githubusercontent.com/assets/17570109/19481106/214675f8-954d-11e6-9043-eadb

[2016-10-18 14:13] #883 closed, assigned to nobody

[2016-10-18 15:41] JeffreyDevloo commented on #889
### Steps
- Installed latest packages
- Setup disk roles
- Added backend
- Initialized disks
- Claimed asds
- Create vpool
- Added vdisks (myvdisk01, myvtemplate01)

Verification:
- Set myvtemplate01 as template on node 1
- Switched to different GUI
- Forced node 1 off
- Cloned from myvtemplate01 to node 2 as myvclone01

### Output

Both vdisks were created without the issue described in the issue

[2016-10-18 15:41] #889 closed, assigned to khenderick

[2016-10-19 07:24] khenderick commented on #1050
Finally fixed by #1055, packaged in openvstorage-2.7.4-rev.4164.e5fcb6d

[2016-10-19 07:54] khenderick commented on #1051
That's most likely because we log to stdout by default, which causes the logs to be collected by upstart in `/var/log/upstart/ovs-*`. So `the logs` we refer to, is in that case the logs in `/var/log/upstart/ovs-*`.

The log location `/var/log/ovs/*` is only used as a fallback when the ovs shell (and ovs \* commands) is (are) used (since otherwise log entries would flood the shell's output if logge

[2016-10-19 08:19] khenderick commented on #910
Fixed by #1056, packaged in openvstorage-2.7.4-rev.4166.b187912

[2016-10-19 08:33] wimpers commented on #696
Duplicates https://github.com/openvstorage/framework/issues/514 ?

[2016-10-19 08:34] khenderick commented on #696
@wimpers, indeed.

[2016-10-19 08:37] JeffreyDevloo commented on #626
### Information

Seeing as the GUI should now also load metadata on the vpool page, I will provide feedback whether this visual indication is working.

### Steps
- Setup new cluster
- Added disk roles
- Added backend
- Added vpool
- Created new directory 'test-check' in /mnt
- Tried adding new vpool

### Output

Metadata being loaded in wizard (as mentioned in the information section):
![selection

[2016-10-19 08:42] #514 closed, assigned to pploegaert

[2016-10-19 08:42] wimpers commented on #514
Duplicates https://github.com/openvstorage/framework/issues/696 so closing this one down.

[2016-10-19 08:57] JeffreyDevloo commented on #532
### Information

Trusting unit tests for this feature. The reason being is that a manual test-case could skip multiple scenario's where issues could occur. Unit tests will however test the core functionality, thus covering a wider range of scenario's

If you deem a manual test required, you could execute one as:

[code]

### Steps
- Setup cluster
- Ran unit test for hybrids and basics (DAL)

### O

[2016-10-19 08:57] #532 closed, assigned to khenderick

[2016-10-19 09:12] JeffreyDevloo opened #1058 "Unit tests could not load certain modules"
### Problem description

During listing and execution of the unittests via the CLI, I receive the error that certain modules cannot be loaded

[code]

[2016-10-19 09:17] JeffreyDevloo commented on #626
### Information

Reopening due to shortsighted testing of the just the GUI.
Should be tested within a flow using the Web API to see if the call also returns the error.

[2016-10-19 09:35] khenderick commented on #626
Makes sense, I think the `add_vpool` logic might not verify the mountpoint itself. So it could fail if the GUI is bypassed.

[2016-10-19 09:45] matthiasdeblock opened #1060 "Feature to mark disk as defect / to replace."
When removing a disk (f.e. due to disk failures) the disk is set back as blank in the GUI. In this case, the disk can be re-assigned by someone else who does not know the status of the disk.

This can be prevented by marking the disk as 'defect' or 'to replace'.

[2016-10-19 10:08] kinvaris opened #1062 "FusionIO can't be claimed as backend disk"
When trying to claim a fusion IO device for the backend:

[code]

When trying to claim a NVMe for the backend: works but the disk is not visible in the flexible disk layout as claimed disk.

But this can be related to sync_with_reality not working:

[code]

Looking at another backend SSD, I see that it has been claimed for an ASD but we can still assign roles to it.

[2016-10-19 10:19] khenderick commented on #1058
Made a few fixes here:
- Removed cinder dependency: #1057
- Made sure plugins' extensions can have tests too: #1059
- Enabled unittest in `framework-alba-plugin`'s travis job: openvstorage/framework-alba-plugin#246
- Made sure our `ovs unittest` command fails by default when a test file cannot be loaded: #1061

Relevant packages: openvstorage-2.7.4-rev.4172.d7471dc and openvstorage-backend-1.7.4-r

[2016-10-19 10:35] JeffreyDevloo commented on #626
### Information

The GUI now performs a post to check_mtpt for the chosen vpool name.
When you take this new check into account and perform it yourself, you are in the safe zone.
However if this check has not been included, it will not be executed with the add_vpool call.

### Steps
- Setup new cluster
- Added disk roles
- Added backend
- Added vpool
- Created new directory 'test-check' in /mnt
-

[2016-10-19 10:46] JeffreyDevloo commented on #626
### Information

To test my conclusion I conducted another test: adding a file to the directory.

### Steps
- Setup new cluster
- Added disk roles
- Added backend
- Added vpool
- Created new directory 'test-check' in /mnt
- Touched a file 'test' in the directory
- Tried adding new vpool via webapi (old way)

The code used is the identical the code posted above.

### Output

[code]

Volumedriver lo

[2016-10-19 10:53] JeffreyDevloo opened #1063 "Add vpool api should check if the mountpoint is empty"
### Problem

In reference to https://github.com/openvstorage/framework/issues/626, I found out that the api call for add vpool does not validate the contents or the existence of a directory in under /mnt (the check_mtpt call does though)
### Possible solution

Call check_mtpt during add_vpool to post the correct feedback to the user as to why the vpool creation failed.

[2016-10-19 10:53] JeffreyDevloo commented on #626
### Information

Actually closing this ticket as it assumed that the directory was at fault.
With further testing we have pinpointed that files within the leftover directory were the true culprit.

(see reference ticket)

[2016-10-19 10:53] #626 closed, assigned to nobody

[2016-10-19 10:54] khenderick commented on #1063
So, to summarize:
- both wizard AND add_vpool pre-validation logic should use check_mtpt.
- check_mtpt should validate whether the directory exists or not
- We want the directory to be non-existing

[2016-10-19 13:08] kvanhijf commented on #1062
https://github.com/openvstorage/framework/pull/1064  --> openvstorage-2.7.4-rev.4174.367a607
https://github.com/openvstorage/alba-asdmanager/pull/130 -->openvstorage-sdm-1.6.4-rev.392.1bf9d4b
https://github.com/openvstorage/framework-alba-plugin/pull/247 --> openvstorage-backend 1.7.4-rev.774.c3fdeb0

[2016-10-19 13:30] JeffreyDevloo commented on #678
### Steps
- Installed ovs packages
- Installed ovs cluster

Checked the following files:
- /opt/OpenvStorage/config/templates/upstart/ovs-snmp
- /opt/OpenvStorage/juju/charms/trusty/openvstorage/*
- /opt/OpenvStorage/ovs/extensions/snmp/*
- /etc/init/ovs-snmp.conf

Checked if python-snmp is installed:
Package:
- python-pysnmp4
- python-pysnmp4-apps
- python-pysnmp4-mibs

### Output

init file remo

[2016-10-19 13:30] #678 closed, assigned to khenderick

[2016-10-19 14:13] kinvaris commented on #1062
PASSED:

Claimed as backend disk:
![](https://i.imagebanana.com/img/eohdco1e/Selection_004.png)

Claimed as role disk:
![](https://i.imagebanana.com/img/qt5vbsu7/Selection_005.png)

[2016-10-19 14:14] #1062 closed, assigned to nobody

[2016-10-19 14:15] matthiasdeblock opened #1065 "Error when upgrading openvstorage-sdm"
Upgrade openvstorage-sdm did not work. Received the following error message in lib.log:

[code]

[2016-10-19 14:45] kvanhijf commented on #1065
https://github.com/openvstorage/framework/pull/1066 --> openvstorage-2.7.4-rev.4178.f4f3317

[2016-10-19 15:03] saelbrec opened #1067 "ovs/framework config key to toggle automated hourly snapshots"
In the Nuvolat deployments the upper management layers want to orchestrate the snapshot creation/deletion. In these case it does not make sense to have a scheduled task that automatically creates snapshosts of all vdisks every hour. Hence the requirement for an easy way to disable this scheduled task.

[2016-10-19 15:21] wimpers commented on #1067
I propose we use the same logic as for the scrubber and store this in an arakoon key. Default is to  leave it on and disable it in the devops see scripts https://github.com/openvstorage/dev_ops/issues/32

[2016-10-20 10:08] JeffreyDevloo commented on #1046
### Steps
- Setup cluster
- Added Read and write roles to NVME drive:

### Output

Roles were assigned to the NVME drive:

Logs:

[code]

GUI:
![selection_018](https://cloud.githubusercontent.com/assets/17570109/19555612/e0f86ebc-96bd-11e6-82d3-8aa6560f40fb.png)

## Test result

Roles were assigned correctly.
Test passed.

## Packages
- openvstorage                          2.7.4-rev.4178.f4f3317-

[2016-10-20 10:08] #1046 closed, assigned to nobody

[2016-10-20 11:30] kinvaris opened #1068 "Avahi reports: Failed to add service, but setup is completed with success."
When trying to setup my second node, I got the problem that the cluster was not visible. When looking deeper into avahi. It seemed like the character limit was reached for the avahi service.

`Oct 20 13:21:14 ovs-node01-1604 avahi-daemon[26250]: Failed to add service 'ovs_cluster_jonas-test-20okt-1604_ovs-node01-1604`

The character limit for avahi is 65 characters.

This should be checked when tr

[2016-10-20 11:36] wimpers commented on #1068
Let's limit the names of the cluster and hostname.

[2016-10-20 11:48] wimpers commented on #1052
SDM is part of framework.

[2016-10-20 11:53] wimpers commented on #1060
To be decided how to be tackled. Checkbox 'mark as defect'? Auto mark based on status before removal?

[2016-10-20 11:55] #1052 closed, assigned to nobody

[2016-10-20 12:15] domsj commented on #1060
Another (more general) option would be to allow associating some (free form) text with a certain disk?

[2016-10-20 12:19] wimpers commented on #1060
@domsj what do you see as use case for this text field besides marking it defect? Date it was added? Vendor?

[2016-10-20 12:24] domsj commented on #1060
Date it was added would indeed be interesting.
Or for a disk that had some issues, but for which you're not sure it's really bad or not you could describe the situation in the text field and give the disk another try?
(Just thinking out loud here...)

[2016-10-20 12:45] wimpers commented on #1068
Was earlier reported also http://jira.cloudfounders.com/browse/OVS-4099

[2016-10-20 12:50] domsj opened #1069 "Empty /opt/OpenvStorage/config/arakoon_cacc.ini"
Our dear friend @JeffreyDevloo had an ovs env with 3 nodes on which the root partition was filled up.
After freeing up space some services failed to start. A small investigation later I noticed that /opt/OpenvStorage/config/arakoon_cacc.ini was empty.

This is probably due to the way this file is refreshed and rewritten. It seems the file is updated in place, which can lead to these sort of situat

[2016-10-20 13:22] kinvaris commented on #1068
@wimpers, we should also need to cut down on `ovs_cluster` part because it takes up 20% of the string

[2016-10-20 13:23] khenderick commented on #1067
From now on, every scheduled task can be:
- Reconfigured
- Disabled

An optional new key is introduced in the Configuration management: `/ovs/framework/scheduling/celery` which contains a JSON dictionary where the key is the task's name, and the value is:
- `null` in case the task should be disabled (not automatic executed)
- A dict containing [crontab](http://docs.celeryproject.org/en/latest/refe

[2016-10-20 13:55] khenderick commented on #1067
Fixed by #1070 and openvstorage/framework-alba-plugin#248, packaged in openvstorage-2.7.4-rev.4183.ad12557 and openvstorage-backend-1.7.4-rev.778.5332f4c

[2016-10-20 14:01] khenderick commented on #1067
@JeffreyDevloo, when verifying this ticket: The easiest way to reload the schedules is to restart `ovs-watcher-framework`. You will want to check the output of `/var/log/upstart/ovs-scheduled-tasks.log`.

Example logging:

[code]

You can see here the different options:
- `scheduled from code`: This means the schedule is from the hard-coded decorator on the task
- `disabled by configuration`: This

[2016-10-21 08:46] domsj opened #1072 "Dropdown in add vpool wizard keeps on loading presets when using alba backend that has no presets with satisfiable policy"
The dropdown keeps on showing that it's loading the presets, while it should say there are no presets available that can currently be used to write new data with. (Or maybe that there are no presets at all, and some hint to go create one on the backend page.)

This came out of @khenderick testing what the impact of having no default preset in alba would be, but is applicable even when there are pr

[2016-10-21 08:52] khenderick commented on #1063
Fixed by #1071, packaged in openvstorage-2.7.4-rev.4185.1ded339

[2016-10-21 09:21] khenderick commented on #1072
Fixed by #1073 and openvstorage/framework-alba-plugin#249, packaged in openvstorage-2.7.4-rev.4188.eb2ed2f and openvstorage-backend-1.7.4-rev.780.3c3a382

[2016-10-21 11:39] khenderick commented on #1048
If the volumedriver should block creating new vDisks, I think the flag should be supported by it.

[2016-10-21 12:26] JeffreyDevloo commented on #1067
## Steps
- Updated cluster to newest revision
- Restarted ovs-watcher-framework on all my nodes

### Test scenarios

**Original startsequence**

[code]

**Restart after update**
The configuration should be the same as before, no changes have been made.

**Normal use-case - custom scheduling for certain checks**
Rescheduling a task by changing the variables in the config.
Expected the 'scheduled fr

[2016-10-21 12:26] #1067 closed, assigned to khenderick

[2016-10-21 13:01] JeffreyDevloo commented on #1063
### Steps
- Setup new cluster
- Added disk roles
- Added backend
- Added vpool
- Created new directory 'test-check' in /mnt
- Tried adding new vpool via webapi

Code to test:

[code]

### Output

[code]

### Test result

Test passed.

[2016-10-21 13:01] #1063 closed, assigned to khenderick

[2016-10-21 13:48] JeffreyDevloo opened #1075 "volume_id is empty for vdisk"
## Problem description

The volume_id property of my vdisks is empty.

[code]

Both volumes were added using the API (using the gui)

Workers log:

[code]

Volumedriver log

[code]

The volumedriver has logged an error (as did framework) whilest creating a vdisk, but the vdisk remains.
## Possible solution

When errors occur during the creation of a vdisk, remove them physically and from the model

[2016-10-21 14:35] kvanhijf opened #1077 "Durandal activate triggers twice for all wizards"
The 'activate' code in our wizards, which is supposed to only happen once on launch of a wizard, gets always triggered twice. This causes a bunch of APIs to be executed twice upon opening a wizard and thus causing unnecessary load and delay

[2016-10-24 07:23] saelbrec commented on #1048
Volumedriver indeed needs to know the maintenance state as well, as actions coming in via the Edge client(create of empty disk, qemu import image, HA, ...)  are not controlled by the FWK and these need to be blocked also.

[2016-10-24 08:15] wimpers opened #1079 "Expose force migrate call in API"
Follow up from https://github.com/openvstorage/volumedriver/issues/158 : expose force migrate call in API. Default should be false.

[2016-10-24 09:41] JeffreyDevloo commented on #1072
### Information

I never encountered this error before. When there was no satisfiable policy, I'd get a error remark on the vpool wizard.

### Steps

**Test case 1**
- Installed latest cluster
- Added roles to disks
- Added backend
- Claimed 1 disk and 1 asd so default preset would be unsatisfied
- Tried to add vpool

**Test case 2**
- Installed latest cluster
- Added roles to disks
- Added backen

[2016-10-24 09:41] #1072 closed, assigned to nobody

[2016-10-24 09:51] JeffreyDevloo commented on #1072
### Information

Forgot to validate using the web api directly.

### Steps
- Installed latest cluster
- Added roles to disks
- Added backend
- Claimed 1 disk and 1 asd
- Removed alba preset
- Tried to add vpool via webapi

Code:

[code]

### Output

[code]

### Test result

A preset must be given for the API to create a vpool.
Test passed.

[2016-10-24 09:54] JeffreyDevloo commented on #1075
### Information

This was an operator error.
The fragment_size for alba backend was set to 1 byte, causing Alba to loop.
Due to the loop, the volumedriver couldn't fetch the necessary information.

Alba team is tackling the issue:
https://github.com/openvstorage/alba/issues/413

[2016-10-24 09:54] #1075 closed, assigned to nobody

[2016-10-24 12:07] kinvaris opened #1080 "vPool creation failed: The mountpoint for vPool already exists"
During the integration testing we saw this problem:

**In short:** a vpool was being created on node02, while it was being executed on node03. When checking node02, the vpool was not yet created.

After looking further in the code we saw that this check was performed: https://github.com/openvstorage/framework/blob/1ded3395fcf08e4e1c21fcd39658d2d0e7724ea9/ovs/lib/storagerouter.py#L1420

**Problem:*

[2016-10-24 12:32] redlicha commented on #1048
@khenderick: when preparing maintenance mode, the `volume_router/vrouter_*_threshold`s should be set to 0 to prevent automigration back to that node.

[2016-10-25 08:08] kvanhijf commented on #812
https://github.com/openvstorage/framework/pull/1078 --> openvstorage-2.7.4-rev.4193.aa0ed1c
https://github.com/openvstorage/alba-asdmanager/pull/131 --> openvstorage-sdm-1.6.4-rev.394.22c93f2
https://github.com/openvstorage/framework-alba-plugin/pull/250 --> openvstorage-backend-1.7.4-rev.784.647dd17

[2016-10-25 08:10] kvanhijf commented on #1080
https://github.com/openvstorage/framework/pull/1078 --> openvstorage-2.7.4-rev.4193.aa0ed1c
https://github.com/openvstorage/alba-asdmanager/pull/131 --> openvstorage-sdm-1.6.4-rev.394.22c93f2
https://github.com/openvstorage/framework-alba-plugin/pull/250 --> openvstorage-backend-1.7.4-rev.784.647dd17

[2016-10-25 08:11] kvanhijf commented on #1080
This issue was fixed while making changes regarding the removal of nodes, because i ran into the same issue during my tests

[2016-10-25 08:11] kvanhijf commented on #862
https://github.com/openvstorage/framework/pull/1078 --> openvstorage-2.7.4-rev.4193.aa0ed1c
https://github.com/openvstorage/alba-asdmanager/pull/131 --> openvstorage-sdm-1.6.4-rev.394.22c93f2
https://github.com/openvstorage/framework-alba-plugin/pull/250 --> openvstorage-backend-1.7.4-rev.784.647dd17

[2016-10-25 08:11] kvanhijf commented on #813
https://github.com/openvstorage/framework/pull/1078 --> openvstorage-2.7.4-rev.4193.aa0ed1c
https://github.com/openvstorage/alba-asdmanager/pull/131 --> openvstorage-sdm-1.6.4-rev.394.22c93f2
https://github.com/openvstorage/framework-alba-plugin/pull/250 --> openvstorage-backend-1.7.4-rev.784.647dd17

[2016-10-25 08:42] kinvaris opened #1081 "ImportError: Fleet python client is not installed."
While performing a clean install of OVS & ASD MANAGERS:

[code]

[2016-10-25 08:43] wimpers commented on #1081
Anything special you did? Is this coming out of the nightly builds?

[2016-10-25 08:45] khenderick commented on #1081
It's just logging nothing that is "wrong".

Let's remove this fleet stuff; nobody is using it anyway, and if at one time in the far far future somebody actually wants to use it, we can re-implement it properly.

[2016-10-25 12:05] wimpers commented on #847
After discussion with @jtorreke , nothing is required as they can get stats from the monitoring tools.

[2016-10-25 13:14] kvanhijf commented on #849
Referenced issue (https://github.com/openvstorage/framework/issues/972) has been fixed, but i could not manage to reproduce this issue, nor could i find a way in code which could cause this. An environment on which this is reproducable would be handy

[2016-10-25 13:25] jeroenmaelbrancke opened #1083 "extend the amount of maintenance agent for global backends"
At this moment we are not able to deploy more than 3 maintenance agent for 1 global backend.
It would be great if we can overwrite this with following config (/ovs/alba/backends/{0}/maintenance/nr_of_agents)?
And give us the option to deploy multiple maintenance agents on 1 backend server (not only one per backend).

We (OPS) should have the option to deploy as many maintenance agents as we want a

[2016-10-25 14:01] kvanhijf commented on #972
https://github.com/openvstorage/framework/pull/1082 --> openvstorage-2.7.4-rev.4195.998359c

[2016-10-25 14:02] kvanhijf commented on #972
The ticket linked by @wimpers (https://github.com/openvstorage/framework/issues/849) has not been fixed by this fix

[2016-10-25 14:20] kinvaris opened #1084 "ovs monitor services do not display dead services on 16.04"
When checking `ovs monitor services` for dead, activating or inactive services we see that none of those services are present in the section `non-running ovs services`.

Maybe its best to grep for `systemctl -a | grep ovs- | grep "dead\|activating\|inactive"` instead of just `loaded inactive`

[2016-10-25 14:26] #1084 closed, assigned to kinvaris

[2016-10-25 14:27] khenderick commented on #1084
Fixed by #1085, packaged in openvstorage-2.7.4-rev.4197.3e7b233

[2016-10-25 14:57] JeffreyDevloo commented on #1080
### Information

This error occurred when extending a vpool to a different node. The code would check locally if the mountpoint was in use. Due to the nature of extending (that the vpool is present on the creator node) the code would fail.
Verifying if vpool can now extend.

### Steps
- Installed latest cluster
- Ran latest setup suite

### Output

Found

[code]

Meaning that the vpools can be ext

[2016-10-25 14:57] #1080 closed, assigned to nobody

[2016-10-26 08:00] kinvaris commented on #948
The following issue occurs when there are more than 1024 file descriptors open by the process. By default the ASD is configured to have max. 1024 file descriptors open at the same time. But if this would increase to more by e.g. a tweak or something. It would be recommended to add it by default to the ASDs too.

[2016-10-26 08:19] toolslive commented on #948
It's not an ASD configuration, but an operating system configuration (`$ ulimit -n => 1024`).
However: the ASD could protect itself and use only a certain amount of fds (see [alba/#372](https://github.com/openvstorage/alba/issues/372) )

[2016-10-26 08:30] toolslive commented on #948
Also, there was an issue with RORA where certain errors on rora-server side would leak a file descriptor.

[2016-10-26 11:35] kinvaris opened #1086 "Scrubbing fails with error when a volume is unreachable from the volumedriver:"
This occured on a environment with ubuntu 16.04

When a volume is unreachable, e.g. it is not started from the backend. The scrubbing is throwing this error:

[code]

[2016-10-26 11:36] kinvaris opened #1087 "Scrubbing service stays present after scrubbing is done on 16.04"
Scrubbing service stays present after scrubbing is done:

[code]

[2016-10-26 11:37] kinvaris opened #1088 "Ensure MDS vdisk safety fails when a vdisk is unreachable on the volumedriver:"
This occured on a environment with ubuntu 16.04

Ensure MDS vdisk safety fails when a vdisk is unreachable on the volumedriver:

[code]

[2016-10-26 11:37] kinvaris opened #1089 "DTL checkup fails when a volume is unreachable on the volumedriver:"
This occured on a environment with ubuntu 16.04

DTL checkup fails when a volume is unreachable on the volumedriver:

[code]

[2016-10-26 12:33] wimpers commented on #1089
Linked with https://github.com/openvstorage/framework/issues/1088

[2016-10-26 12:34] wimpers commented on #1089
@khenderick  maybe this also caused https://github.com/openvstorage/framework/issues/803 ?

[2016-10-26 12:35] wimpers commented on #1089
Linked with  https://github.com/openvstorage/framework/issues/1086

[2016-10-26 12:37] wimpers commented on #1083
@khenderick  any reason why we limited the amount of maintenance agents to be deployed on a global backend.

[2016-10-26 12:39] khenderick commented on #1086
The important thing here is that apparently the scrub proxy was not cleaned up.

[2016-10-26 12:46] #847 closed, assigned to wimpers

[2016-10-26 12:49] wimpers commented on #1081
If not giving issues, let's remove in Gilbert

[2016-10-26 12:53] wimpers commented on #1048
@saelbrec  Please advice if ok for you

[2016-10-26 12:56] wimpers commented on #1079
Do we want to put this in our gui?

[2016-10-27 09:07] kinvaris opened #1090 "Could not acquire lock ovs_lock_ovs_dataversion during set_domain"
While performing our regular CI tests, we saw this problem:

[code]

[2016-10-27 09:11] JeffreyDevloo opened #1091 "vdisk created on vpool with unsatisfiable policy is present in model but not in reality"
### TLDR

A minified version of the ticket.

Vdisk fails when created on a vpool that has unsatisfied preset.

Two options to fix it:
- Do not let the vpool be made with the unsatisfied policy

or
- Report the correct problem back to the user (instead of the 'Failed to create'
- Remove the Vdisk from the DAL when the issue occurred.
### Problem description

When a vdisk has been created through GU

[2016-10-27 09:12] kvanhijf commented on #1088
In this specific case its logic that the MDS check fails because the volume is unavailable on the volumedriver
The error thrown has been adjusted and is more clear
Fixed by https://github.com/openvstorage/framework/issues/1089

[2016-10-27 09:13] kvanhijf commented on #803
This error can occur when a volume is stopped, but has not been restarted. Why the volume was stopped is obviously impossible to check without logs
The errormessage however will from now on be more meaningful
Improved by https://github.com/openvstorage/framework/issues/1089

[2016-10-27 09:16] khenderick commented on #1091
@wimpers, @saelbrec, do we still want to allow customers to create a vPool when we know the selected preset will cause issues?

[2016-10-27 09:17] wimpers commented on #1091
It is not because the policy can be satisfied when creating the vPool, that it will also be satisfied when creating the first vDisk. Hence the proposed solution to block the vPool wizard is not a viable fix.

[2016-10-27 09:29] kvanhijf commented on #1089
https://github.com/openvstorage/framework/pull/1092 --> openvstorage-2.7.4-rev.4204.f4c4cb8

[2016-10-27 09:31] kvanhijf commented on #1089
@QA: vdisk.storagedriver_client.stop_object(str(vdisk.volume_id), False)
This causes the MaxRedirectsExceededException to be thrown and thus easy to verify whether DTL checkup continues with the next disks when such error is thrown

[2016-10-27 09:50] kvanhijf commented on #1086
Stacktrace is completely unrelated to title of issue
The error in the stacktrace is something which does not need changes
The scheduled task will try to create snapshots for all vDisks and if 1 or more fails, it'll continue with the other vDisks and throw an error for the failed vDisks
So no changes needed here

Edit: The actual problem with the scrubbing is reported here: https://github.com/openv

[2016-10-27 09:52] #1086 closed, assigned to nobody

[2016-10-27 09:56] jeroenmaelbrancke opened #1093 "add serial number to disk object"
Can you add the disk serial number to the Disk object?

[code]

If a disk is missing in the kernel, we would be able to retrieve the disk information via the model.

for example:
Disk /dev/sdd is missing in the kernel

[code]

We can filter, via the Disk object, the disk and retrieve the serial number of the disk.

[2016-10-27 10:00] wimpers commented on #1091
Yes, as you can always add more disks or the policy can be unstisfiable after the vPool creation. The no satisfiable policy should be tacked when the disk is created.
- In the create disk API, check for a policy and catch the error and cleanup if you would still run into it (f.e. after check, some disks die)
- in the GUI: block the create disk when no satisfiable policy is available for the vPool.

[2016-10-27 10:01] wimpers commented on #1093
@khenderick how much work would this be?

[2016-10-27 10:03] khenderick commented on #1091
@wimpers, that would mean we always have to call to the remote backend-hosting cluster to validate the policies over there. I don't think that will be feasible.

[2016-10-27 11:00] khenderick commented on #1093
Most likely it won't be reliable, since serial numbers tend to be stored all over the place. But I don't think it will be much work.

[2016-10-27 11:02] kvanhijf commented on #1087
https://github.com/openvstorage/framework/pull/1094 --> openvstorage-2.7.4-rev.4206.ee90361
https://github.com/openvstorage/alba-asdmanager/pull/135 --> openvstorage-sdm-1.6.4-rev.396.650816d

[2016-10-27 11:05] kvanhijf commented on #1087
@QA: Can be tested by deploying 1 vDisk and running ScheduledTaskController.execute_scrub(). The scrub proxy will be deployed and should be properly removed once done, regardless of actual scrubbing is required for the vDisk
ovs monitor services should no longer show anything related to scrub proxy services, nor should 'systemctl -a' have any entries for this service

[2016-10-27 11:32] kvanhijf commented on #948
https://github.com/openvstorage/alba-asdmanager/pull/136 --> openvstorage-sdm-1.6.4-rev.398.77e981d

[2016-10-27 11:43] wimpers commented on #1091
@khenderick that is only in case you use an external backend right? Maybe add an api  call for satisfiable policies?

[2016-10-27 11:44] wimpers commented on #1093
@kinvaris and rest of OPS:
please advise on  how to reliable retrieve the serial nr.

[2016-10-27 12:39] JeffreyDevloo opened #1095 "Wrong offset calculation for partitioning"
### Problem description

On one of our environments I found a wrong offset calculation proposed by the GUI.
Prior to the reinstall, the environment was installed around 11-10 (did not log the packages before reinstalling)

The disk I was trying to configure was a ssd.

**Screenshot before the reinstall**
![screenshot from 2016-10-27 11-45-31](https://cloud.githubusercontent.com/assets/17570109/197

[2016-10-27 12:48] jeroenmaelbrancke commented on #1093
Smartctl will cover the most of the physical hardware (nvme, ata, ssd,....)

[code]

[2016-10-27 13:02] dejonghb commented on #1093
newer lsblk (16.04) might also be nice:

[code]

[2016-10-27 13:53] kinvaris opened #1096 "'ascii' codec can't encode character u'\u25cf' during SSHClient.run"
When performing a SSHClient.run call I encountered this problem on one of our 16.04 CI environments:

[code]

The exception is probably referring to this ascii icon: http://www.fileformat.info/info/unicode/char/25CF/index.htm

[2016-10-27 14:49] kinvaris commented on #1087
Failed:

During one of our CI tests we observed this problem during remove_vpool:

[code]

[2016-10-27 15:01] khenderick commented on #1091
It is available, but I don't feel comfortable calling to the other end too often. Besides the fact that we still don't cover all scenarios (e.g. edge and fuse).

[2016-10-27 15:41] kvanhijf commented on #1087
https://github.com/openvstorage/framework/pull/1098 --> openvstorage-2.7.4-rev.4208.4e2f3a1
https://github.com/openvstorage/alba-asdmanager/pull/138 --> openvstorage-sdm-1.6.4-rev.402.30d13fc

2nd attempt was necessary because already disabled services gave errors during removal of service

[2016-10-28 08:43] #1053 closed, assigned to JeffreyDevloo

[2016-10-28 11:15] khenderick commented on #1021
Partial implementation:
- Documentation
- `swagger.json` is generated

Is not yet usable, since the correct oauth2 flow is not yet supported.

openvstorage/framework#1097 and openvstorage/framework-alba-plugin#255, packaged in openvstorage-2.7.4-rev.4223.88b2c61 and openvstorage-backend-1.7.4-rev.795.3f4f094

[2016-10-28 11:16] khenderick commented on #1021
QA (@JeffreyDevloo, @kinvaris), feel free to give give some extra love to API related tests, since various decorators have been changed so there might be some (unintended) impact.

[2016-10-28 13:14] khenderick opened #1104 "Wizard "loading" icon is positioned wrong"
Introduced by #1053, the loading icon is positioned wrong.

[2016-10-31 08:09] khenderick commented on #1090
Fixed by #1106, packaged in openvstorage-2.7.4-rev.4230.a30de27

[2016-10-31 08:12] khenderick commented on #1104
@JeffreyDevloo fixed this by #1105, packaged in openvstorage-2.7.4-rev.4232.a5868f8

[2016-10-31 08:15] khenderick commented on #1091
Fixed by #1102, packaged in openvstorage-2.7.4-rev.4238.98a1f23

What is implemented:
- Customers can always create/clone/... vDisks as the framework does not call the remote backend every time to check whether the policy allows new namespaces to be created, since it's quite some work, might be slow, might be blocking vDisk creation, can't prevent vDisks from being created through edge, fuse, ...

[2016-10-31 08:35] khenderick commented on #1083
Current implementation:
- Only nodes that have a claimed asd for that backend are considered to be "valid" nodes for deploying maintenance agents for that backend.
- There should be only one maintenance agent for a particular backend on a node
- The configuration key `/ovs/alba/backends/<guid>/maintenance/nr_of_agents` (defaults to 3) contains the amount of maintenance agents that should be deploy

[2016-10-31 09:08] khenderick commented on #1083
New implementation:
- The configuration key `.../nr_of_agents` will also be used as the minimum for a global backend.
- However, it won't be able to deploy more maintenance agents than there are nodes.

[2016-10-31 09:33] wimpers opened #1108 "Delete vDisk from GUI"
Add the option to delete a vDisk to the GUI. We have a delete API available.

[2016-10-31 09:52] khenderick commented on #1083
Fixed by openvstorage/framework-alba-plugin#259, packaged in openvstorage-backend-1.7.4-rev.801.33cbb60

[2016-10-31 10:34] wimpers commented on #852
Some clarification around vPool overview page. The result should be following columns:

 status|name|backend (preset)|stored data|IOPS

[2016-10-31 10:43] wimpers commented on #851
@khenderick has some more suggestions
- Disk backends: These only contain ASDs and are currently called "local backends"
- Clustered backend: These contain one or more Disk backends (and might in the future be a mix of Disk backends and other Clustered Backends), and are currently called "global backends"
  And then, when indicating where certain backends are running/managed:
- Local backends: The

[2016-10-31 10:45] khenderick commented on #1096
Python, y u so annoying...

[2016-10-31 12:02] kvanhijf commented on #854
https://github.com/openvstorage/framework/pull/1109 --> openvstorage-2.7.4-rev.4243.1b1eb26

[2016-10-31 12:03] kvanhijf commented on #854
@QA: VDiskController.get_config_params should no longer return any information regarding caching: Caching strategy, caching behavior, readcache limit

In the GUI, on the management actions tab, all 'caching' information should be gone

[2016-10-31 13:40] khenderick commented on #1096
Fixed by #1110, packaged in openvstorage-2.7.4-rev.4246.ac6497b

[2016-10-31 14:58] kvanhijf commented on #1108
https://github.com/openvstorage/framework/pull/1111 --> openvstorage-2.7.4-rev.4251.b3a026a

[2016-10-31 15:01] kvanhijf commented on #1108
@QA: It should now be possible to delete a vDisk from within the vDisk detail page

Important:
GUI should not allow to delete a vDisk when it has clones
GUI should not allow to convert a vDisk into vTemplate when it has clones

API should not allow to delete a vDisk when it has clones
API should not allow to convert a vDisk into vTemplate when it has clones

Controllers should not allow to delete

[2016-11-02 08:58] JeffreyDevloo commented on #1104
### Steps
- Setup latest cluster
- Added disk roles
- Added backend
- Checked vpool wizard

### Output

Loading icon is now displayed to the left of the buttons instead of the right. (The latter caused the buttons to shift when the loading popped up)

![screenshot from 2016-11-02 09-56-26](https://cloud.githubusercontent.com/assets/17570109/19922423/d5e94dd2-a0e2-11e6-8114-7ec317ac7eab.png)

### T

[2016-11-02 08:58] #1104 closed, assigned to nobody

[2016-11-02 08:59] dejonghb opened #1112 "GUI - backends - asd nodes: display disksize of available disks"
In an environment with a mix of different disks, it would be nice to get a clue how big the disks are to decide how many asd's to put on them.
At present you have to login to the nodes and check manually for this information.

[2016-11-02 09:09] wimpers commented on #1112
I'm a bit curious, why would you put more asds on a bigger disk? I assumed you only put more asds on a disk to improve the IOPS the disk can give (1 asd = 140k iops max).

[2016-11-02 09:24] dejonghb commented on #1112
If you have 800GB disks next to 100GB ones, there might also be a difference in the IOPS such a disk can do or maybe you'd want to create equal size ASDs?
Also for excluding the smaller disks so that they can be used for other purposes (whatever these are) having the information visible could be a plus.

[2016-11-02 09:29] wimpers commented on #1112
Why would you want to create equal size ASDs? ALBA autobalances data between the disks so they are automagically filled equally to the same %.

Do note that adding the size of the disk to the popup of the disk is a good idea.

[2016-11-02 09:36] dejonghb commented on #1112
ALBA autobalances data between the disks so they are automagically filled equally to the same %. --> small disks will be used less so these IOPS are less used? Yes, once these disk are full they cannot be used any more either but untill then and for some benchmarking setups that don't fill up everything it might be a plus?

[2016-11-02 10:49] JeffreyDevloo commented on #854
### Steps
- Setup latest cluster
- Added disk roles
- Added backend
- Initialized disks
- Claimed ASDs (default preset was satisfied)
- Added vpool
- Added vdisk
- Checked the vdisk pages and API

### API test code

Test the fetching of the information (as mentioned in the ticket) and the changing of the caching (editing the values of the cache - test for backwards compatibility eg. old api still

[2016-11-02 10:56] #1108 closed, assigned to pploegaert

[2016-11-02 10:58] pploegaert commented on #1108
GUI part validated OK
- add vdisk - appears on fs - OK
- create a clone - can no longer be removed - OK
- cannot be converted into vtemplate - OK

[2016-11-02 11:17] kvanhijf commented on #854
https://github.com/openvstorage/framework/pull/1113 --> openvstorage-2.7.4-rev.4254.b181bf9

This fixes the API backwards incompatibility

[2016-11-02 12:49] pploegaert commented on #1090
Validated manually:
- code present
- error is logged
- NoLockAvailableException raised

[2016-11-02 12:50] #1090 closed, assigned to khenderick

[2016-11-02 15:09] kinvaris opened #1114 "Fast create & delete of vdisk via api causes leftover data"
When we looked at the CI tests this morning we saw that although `VDiskController.delete` had not given an error, there was still leftover data in the model of a vdisk.

You can easily reproduce it via this piece of code (on a environment where CI is installed):
[code]

As seen here:
![](https://i.imagebanana.com/img/4sqi66aa/Selection_008.png)

[2016-11-02 15:41] kinvaris commented on #538
PASSED:

Setup 4 nodes:
- 3 nodes held a vpool with scrub partition
- 1 node only held the scrub partition

Executed scrub: `ScheduledTaskController.execute_scrub()`

Saw this on the node with scrub partition:

[code]

After the scrubwork was done, the service was deleted again.

[2016-11-02 16:03] kinvaris commented on #727
PASSED: Verified in CI tests & https://github.com/openvstorage/framework/issues/538

[2016-11-02 16:04] kinvaris commented on #1087
validated in https://github.com/openvstorage/framework/issues/538

[2016-11-02 16:14] kinvaris commented on #1020
- Scrubbing validated in https://github.com/openvstorage/framework/issues/538: PASSED
- Scrub a single volume on a certain machine with SCRUB disks validated: PASSED

![](https://i.imagebanana.com/img/8neckua9/Selection_010.png)

![](https://i.imagebanana.com/img/fkv8gv0c/Selection_009.png)

[2016-11-02 16:14] #538 closed, assigned to kinvaris

[2016-11-02 16:14] #1087 closed, assigned to nobody

[2016-11-02 16:14] #727 closed, assigned to nobody

[2016-11-02 16:15] #1020 closed, assigned to nobody

[2016-11-02 16:26] kinvaris commented on #985
PASSED:
- Created a vdisk
- Wrote some data on it
- Made it a vTemplate
- Cloned 1 disk
- Started scrubbing
- Result

[2016-11-02 16:26] #985 closed, assigned to nobody

[2016-11-02 16:43] kinvaris commented on #884
PASSED:

[code]

[2016-11-02 16:43] #884 closed, assigned to khenderick

[2016-11-03 06:58] kinvaris commented on #1114
After a second look I saw this:

Deletion occured, disk is not found anymore as seen here:

[code]

But when looking at the vdisk guid, we see it is now different than previously seen in the model! It should be: `5c6afef6-a3c2-4d59-ad22-c50e58a219f0` but now its:

[code]

[2016-11-03 09:10] kinvaris commented on #671
PASSED: validated in https://github.com/openvstorage/framework/issues/1062

[2016-11-03 09:10] #671 closed, assigned to kinvaris

[2016-11-03 09:11] kinvaris commented on #942
PASSED: We've not seen the error in CI tests since the bug report

[2016-11-03 09:11] #942 closed, assigned to nobody

[2016-11-03 09:36] khenderick commented on #1081
Fixed by #1115 and openvstorage/alba-asdmanager#145, packaged in openvstorage-2.7.4-rev.4256.dbf93f5 and openvstorage-sdm-1.6.4-rev.417.4458c4c

[2016-11-03 10:13] JeffreyDevloo commented on #1065
### Information

Bug was introduced due to the change of https://github.com/openvstorage/alba-asdmanager/pull/127.
The DAL disk objects got a new property called 'alias'.
This correct repository for this issue should have been alba-asdmanager repository.

### Steps
- Reverted an environment back to a snapshot running unstable of 26-09
- Added disk roles
- Added backend
- Added vpool
- Added vdisk

[2016-11-03 10:13] #1065 closed, assigned to JeffreyDevloo

[2016-11-03 11:00] JeffreyDevloo commented on #854
### Information

Backwards compatible fix has been implemented.

### Steps
- Updated cluster
- Ran same testing code

### Output

[code]

### Test result

Test passed.

[2016-11-03 11:00] #854 closed, assigned to JeffreyDevloo

[2016-11-03 13:05] kinvaris commented on #919
- Currently this is by default enabled for every backend, you cannot configure this in the GUI nor during the setup.
- At setup time the redis service for LRU is setup on every node although 1 is only used, this would mean manual reconfiguration if 1 master node would die. This can easily be solved by implementing a `keepalived` ip address.

FYI This keepalived address would also solve the memcach

[2016-11-03 13:28] wimpers commented on #919
For QA:
- Decision was made not to set up a cluster but use one of the nodes.
- Was not requested to be in the GUI.
- Manual reconfiguration in case the redis goes down.

[2016-11-03 13:42] kinvaris commented on #919
@wimpers: should it be able to add a external redis server during setup?

[2016-11-03 13:43] wimpers commented on #919
No, if needed create a separate ticket for this as discussed.

[2016-11-03 13:51] kinvaris opened #1116 "Integrate keepalived IP address during setup"
For the geoscale story it should be good to implement a `keepalived` ip address in case a master node would die.

This would be much easier during setup and during production hours:
* No memcache reconfiguration (in case of OVH).
* The GUI would stay 24/7 available without need of manual reconfiguration.
* ...

Source: http://www.keepalived.org/

[2016-11-03 13:52] JeffreyDevloo commented on #971
### Information

Conducting this flow manually is hard labor where surely a lot of numerous amount of details wouldn't be checked.
Therefore I will rely on the unit testing provided by Engineer to test this.
The unit tests will ensure that future changes will incorporate this flow of demote/promote.
Solely testing whether the unit tests do not fail on a fresh environment that has this fix:

### St

[2016-11-03 13:52] #971 closed, assigned to khenderick

[2016-11-03 14:40] khenderick commented on #1114
Fixed by #1117, packaged in openvstorage-2.7.4-rev.4258.c9df8b4

[2016-11-03 16:04] JeffreyDevloo commented on #717
### Feedback

My first iteration to test was using cgroups. These groups allow you to set policies on system resources.
I have used the following code to throttle all ovs processes:

[code]

However, running a fio has showed me that this throttling did not work. I have insufficient knowledge about cgroups to spot where I went wrong.

My second approach is virtualizing an environment and limiting t

[2016-11-03 16:22] khenderick opened #1118 "Background (model) migration job"
At this moment, the upgrade supports immediate migration that takes place during the upgrade. If it would fail, so would the upgrade.

However, there might be stuff that might be possible after an upgrade that is not blocking if it fails, but adds value to the system. A few examples:
* When a certain setting is migrated from volumedriver config file to cluster registry
* When an additional field i

[2016-11-04 08:00] wimpers opened #1119 "Allow external redis cluster for LRU tracking"
This  ticket is an extension of  https://github.com/openvstorage/framework/issues/919  In that ticket  it was noted that the option to add an external redis cluster for LRU tracking would be wishful.

[2016-11-04 08:02] wimpers commented on #919
Created https://github.com/openvstorage/framework/issues/1119 for the external redis enhancement. Closing this one down. Re-open if needed.

[2016-11-04 08:02] #919 closed, assigned to wimpers

[2016-11-04 08:03] wimpers commented on #717
Removing milestone and setting to state_question awaiting @JeffreyDevloo 's input

[2016-11-04 08:36] kvanhijf opened #1120 "Relayed API does not coop well with versions"
Initiating a relayed API call from 1 environment to another where the source had API version 6 and the destination had API version 5, resulted in API errors
[code]

This means that newer installs can never communicate with older installs over the relayed API

[2016-11-04 08:37] khenderick commented on #1120
The relay should pass raw version instead of translating from the relay's point of view.

tl;du: shouldn't be hard to fix, an hour or two should be sufficient.

[2016-11-04 08:51] JeffreyDevloo commented on #717
### Information

Afther throttling the disks to 2.2mb/s and cloning a volume of 4.55GB after I queued the snapshot I have run into the expected 'Snapshot myshapshot01 of volume myvdisk01 still not synced to backend, not waiting any longer'

### Steps
- Added a new vdisk mydisk01
- Wrote 5GB of data using fio to the volume
- Started throttling all backend disks to 2.2mb/s
- Manually made a snapshot

[2016-11-04 08:51] #717 closed, assigned to JeffreyDevloo

[2016-11-04 10:40] pploegaert opened #1121 "Scrubbing fails during mds_checkup fase - unmatched C++ signature"
[code]

[2016-11-04 10:45] pploegaert commented on #1121
Related QA test:
http://testrail.openvstorage.com/index.php?/tests/view/1104673&group_by=cases:section_id&group_order=asc&group_id=29866

[2016-11-04 11:01] khenderick commented on #1121
Fixed by #1122, packaged in openvstorage-2.7.4-rev.4260.a10eba3

[2016-11-04 11:04] khenderick commented on #1121
Information for QA: The issue occurred when a vDisk was scrubbed that has its MDS master on a different node than the one assigned by the scrubbing. This triggers an MDS master switch and caused this particular bug. The issue was that remoted structures/classes from two nodes were used in the same flow, and the volumedriver's python client's type checking didn't allow this.

[2016-11-04 11:12] JeffreyDevloo commented on #948
Updating to the latest package does NOT fix this issue. A manual patch must be done

## After update

### Steps
- Installed latest packages
- Installed cluster
- Added roles to disks
- Added backend
- Initialized disks and claimed asds
- Added usable preset
- Added vpool on node 1
- Checked alba init files

Files that must contain this line:
- ovs-albaproxy-*
- alba-albamaintenance-*
- alba-asd-*

[2016-11-04 11:12] #948 closed, assigned to nobody

[2016-11-04 11:18] pploegaert opened #1123 "Noticed updates page does not allows show all pkgs that can be updated"
On 3 node env, noticed updates for node 1 and 2 but not for node 3.
However when browsing to the updates page again alle expected pkgs were shown for all 3 nodes.

This can be confusing.

[2016-11-04 11:47] dejonghb opened #1124 "update functionality uses "at" command; but this is not installed by default on 16.04 systems"
/usr/bin/ovs internally uses "at -f /tmp/update now" to get an updat rolling, but the at command is not installed by default on 16.04 systems.

[code]

As "at" is used, the "at" package is a dependency and should be included as such

[2016-11-04 12:55] khenderick commented on #1120
Fixed by #1125, packaged in openvstorage-2.7.4-rev.4263.5c2ada6

[2016-11-04 13:04] khenderick commented on #1124
Odd, which ISO did you use? My installation from a few days back has `at` installed by default.

[code]

[code]

[2016-11-04 13:26] JeffreyDevloo commented on #856
### Test cases
- Do a move when there are no other storagedrivers (normal case 1)
- Do a move when there are other storagedrivers (normal case 2)
- Do a move to the same storagedriver (normal case 3)
- Do a move to a storagedriver that will be down when move has started (destructive case 1)

### Normal case 1

Normal moving case.
Api will be using None as a target.

#### Steps
- Setup latest clust

[2016-11-04 13:26] #856 closed, assigned to nobody

[2016-11-04 14:58] JeffreyDevloo commented on #1120
### Information

The issue is that the relaying api version was older than the one we started on. The original client we post to builds up his own client to relay the requested information back through him. This client was however built up using the originals client api version instead of the relaying api's version, resulting in a version mismatch.
Testing using Postman to send api calls.

### Ste

[2016-11-04 14:58] #1120 closed, assigned to khenderick

[2016-11-07 07:09] pploegaert commented on #1121
PASSED: http://testrail.openvstorage.com/index.php?/tests/view/1106213
UPDATE TEST: https://github.com/openvstorage/integrationtests/issues/338

[2016-11-07 07:09] #1121 closed, assigned to khenderick, pploegaert

[2016-11-07 09:27] khenderick commented on #1124
@dejonghb, can you take a look at the above information on your node? I wonder where the difference would be.

[2016-11-07 10:28] dejonghb commented on #1124
The nodes were installed via PXE & network install (no ISO install)

[code]

[code]

[code]

[code]

Note that _ubuntu-server_ is not installed....

[code]

[2016-11-07 12:00] khenderick commented on #1124
Fixed by #1129, packaged in openvstorage-2.7.5-rev.4269.07eb240

[2016-11-07 13:45] wimpers commented on #1119
To be checked if the redis client inside ALBA supports this. ( @domsj any idea)

[2016-11-07 13:51] wimpers commented on #1118
We should also put the services in some kind of maintenance in case the autoupdate doesn't work .

[2016-11-07 13:54] wimpers commented on #1116
This will probably not work for the public IP as specified for OVH (you can't failover all IPs from DC to DC)

[2016-11-07 13:54] wimpers commented on #1116
to be further investigated

[2016-11-07 13:58] wimpers commented on #1112
@khenderick any idea how much work this would be?

[2016-11-07 14:06] wimpers commented on #1093
@khenderick can we use Bert's suggestion?

[2016-11-07 14:10] khenderick commented on #1093
@wimpers, no idea, I guess so. In any case, it will be a "best effort" solution, not a works-for-all-possible-disks solution.

[2016-11-07 14:12] wimpers commented on #1093
@jeroenmaelbrancke  would this be ok for you?

[2016-11-07 14:13] khenderick commented on #1112
@wimpers, 1 day

[2016-11-07 14:17] kvanhijf commented on #852
https://github.com/openvstorage/framework/pull/1130 --> openvstorage-2.7.5-rev.4273.d9bb7fb
https://github.com/openvstorage/framework-alba-plugin/pull/267 --> openvstorage-backend-1.7.5-rev.811.c1b83e6

[2016-11-07 14:17] kvanhijf commented on #735
https://github.com/openvstorage/framework/pull/1130 --> openvstorage-2.7.5-rev.4273.d9bb7fb
https://github.com/openvstorage/framework-alba-plugin/pull/267 --> openvstorage-backend-1.7.5-rev.811.c1b83e6

[2016-11-07 14:17] domsj commented on #1119
As far as alba is concerned any redis you configure it with is 'external' (as in: not managed by alba).
So, yes, alba supports an 'external' redis cluster to use for the lru tracking.

[2016-11-07 14:18] kvanhijf commented on #1000
https://github.com/openvstorage/framework/pull/1130 --> openvstorage-2.7.5-rev.4273.d9bb7fb
https://github.com/openvstorage/framework-alba-plugin/pull/267 --> openvstorage-backend-1.7.5-rev.811.c1b83e6

[2016-11-07 14:24] jeroenmaelbrancke commented on #1093
Sure

[2016-11-07 16:27] wimpers commented on #750
Or maybe better would be to tackle https://github.com/openvstorage/framework/issues/696 and allow role assignment in parrallel

[2016-11-08 09:09] kinvaris opened #1131 "RabbitMQ cluster down after master node reboot"
After rebooting a master node with command `reboot` the rabbitMQ cluster is totally dead:
[code]

[2016-11-08 10:05] kvanhijf commented on #735
vPool overview page, shows information on the backend used
vPool detail page, shows information on the backend used
vPool detail page --> management actions shows information on the accelerated backend used / storagerouter

[2016-11-08 10:13] kvanhijf commented on #1000
vPool overview page, shows information on the backend used
vPool detail page, shows information on the backend used
vPool detail page --> management actions shows information on the accelerated backend used / storagerouter

[2016-11-08 10:16] kvanhijf opened #1132 "Re-introduce volumedriver dependency"

[2016-11-08 10:28] kvanhijf commented on #1132
https://github.com/openvstorage/framework/pull/1133 --> openvstorage-2.7.5-rev.4275.5102c56

[2016-11-08 10:31] JeffreyDevloo commented on #1081
### Information

Did not encounter this error anymore during our automated setups.

### Steps
- Installation of a fresh cluster

### Output
- Ovs installed succesfully
- Asd-manager installed succesfully

No longer got the logging which could be ignored.

### Test result

Test passed.

[2016-11-08 10:31] #1081 closed, assigned to khenderick

[2016-11-08 10:36] wimpers opened #1134 "Remove swagger.json restriction"
As discussed with @khenderick , remove/lower swagger.json restrictions so it can be used from a webbrowser.

[2016-11-08 10:38] khenderick commented on #1134
Allow CORS

[2016-11-08 10:48] JeffreyDevloo commented on #1000
### Information

The vpool section has received a massive overhaul including the removal of certain parameters and a disk role.
Certain test cases should be thoroughly tested before we can close this ticket and #735

##### Changes
- Removal of read role
- Vpool wizard automatically resolves backends (removal of reload button)
- vpool - backendtype relation removed
- vpool configuration changes

##

[2016-11-08 10:56] kinvaris commented on #1131
After further investigation we've seen that this is caused due to a test (suspects: `arakoon_installer` & `logrotate_test`)
Although it is caused by a test, we only use controller/api commands.

[2016-11-08 11:00] kvanhijf commented on #1000
@JeffreyDevloo : Just to be clear regarding the API, it should indeed still be possible to add a vpool using the old parameter layout, but ONLY FOR 2 <= API VERSION <= 5
As of API version 6, the new parameter layout is expected

[2016-11-08 11:10] JeffreyDevloo commented on #950
### Steps
- Installed latest cluster
- Ran testing code

#### Testing code

The following code will test for:
- Duplicate paths (issue)
- Files that aren't present
- Amount of mds that are deployed

[code]

### Output

[code]

### Test result

Test passed.

[2016-11-08 11:10] #950 closed, assigned to JeffreyDevloo

[2016-11-08 13:10] khenderick commented on #1134
Fixed by #1135, packaged in openvstorage-2.7.5-rev.4278.8ed7f19

[2016-11-08 13:13] kvanhijf commented on #852
Additional commit for update fixes:
https://github.com/openvstorage/framework/pull/1136 --> openvstorage-2.7.5-rev.4281.6612d8c

[2016-11-08 14:44] JeffreyDevloo commented on #1021
Since all of our autotests depends on the API for 90%, I can conclude that the current changes have not yet impacted any of our tests.
In short: love given.

[2016-11-08 15:35] wimpers opened #1138 "Validate apt-purge for framework components"
The ovs remove already cleans up most of the framework components. The apt-purge should do the rest (remove the actual files).  Should fix https://github.com/openvstorage/home/issues/21 from the framework side.

[2016-11-08 15:57] kinvaris commented on #1114
PASSED: the healthcheck and integration tests are not producing any empty disks anymore on our CI environments.

[2016-11-08 15:57] #1114 closed, assigned to khenderick

[2016-11-08 16:00] kinvaris commented on #1131
This was issue in CI tests, fixed by: https://github.com/openvstorage/integrationtests/commit/492ee7ab5d01f2a6f03887cba2c68c6fed64980e

[2016-11-08 16:00] #1131 closed, assigned to nobody

[2016-11-08 16:09] wimpers commented on #849
@kinvaris  @JeffreyDevloo  can you try to reproduce this one on the latest fargo/unstable?

[2016-11-09 09:08] pploegaert opened #1139 "client_id / client_secret now appears to be mandatory"
[code]

[2016-11-09 09:16] kvanhijf commented on #1139
https://github.com/openvstorage/framework/pull/1140 --> openvstorage-2.7.5-rev.4283.a9965c9

[2016-11-09 09:17] kvanhijf commented on #1139
@QA: Validation can be done by using an API version (2 <= version <= 5) and using the old call_parameters layout

[2016-11-09 15:26] wimpers opened #1142 "Integrate local read preference"
Integrate local read preference ticket of ALBA (https://github.com/openvstorage/alba/issues/301)

[2016-11-09 15:33] wimpers opened #1143 "Integrate Single process on ASD host"
Integrate Single process on ASD host ticket of ALBA (https://github.com/openvstorage/alba/issues/443)

[2016-11-09 15:35] kinvaris commented on #1096
PASSED: We did not encounter this anymore on CI environments

[2016-11-09 15:35] #1096 closed, assigned to khenderick

[2016-11-09 17:14] JeffreyDevloo opened #1144 "More information about Albanode disks"
### Problem description
As QA, we are aiming to automate as much a possible using a standardized json configuration file. In this file, you can specify what disknames (eg sda) you wish to configure for an alba backend.

Due to the lack of information about a disk in the Albanode object, we can't possibly achieve that without implementing a workaround to fetch the information ourselves.

### Propos

[2016-11-10 09:54] kvanhijf opened #1145 "Change logging format for Ubuntu16.04"
The logs in journalctl on Ubuntu16.04 already contain a timestamp and hostname by default. Our logging format also adds a timestamp and hostname, so this information is duplicate

[code]

[2016-11-10 13:41] pploegaert commented on #1139
PASSED on latest unstable:
http://testrail.openvstorage.com/index.php?/plans/view/34600

[2016-11-10 13:41] #1139 closed, assigned to pploegaert

[2016-11-10 14:12] #1132 closed, assigned to pploegaert

[2016-11-10 14:17] pploegaert commented on #1124
PASSED:
root@e192-1:~# apt-cache rdepends --installed at
at
Reverse Depends:
  openvstorage-core
    at:i386
    at:i386
  devscripts
    at:i386
    at:i386
    at:i386
    at:i386
    at:i386
  devscripts
    at:i386

[2016-11-10 14:17] #1124 closed, assigned to khenderick, pploegaert

[2016-11-10 14:37] khenderick opened #1146 "Download logs (and upload) won't work in 16.04"
Download logs (and upload) won't work in 16.04. We need something to extract the logfiles from journald.

[2016-11-10 14:45] domsj commented on #1146
Either that or you need a way to configure 16.04 services to each log to a separate file.
Which would be closer to what I prefer...
Found this http://www.cyberciti.biz/faq/howto-create-cron-log-file-to-log-crontab-logs-in-ubuntu-linux/ example with a bit of googling.
So it seems like you can configure rsyslog to send messages to different files for different services.

[2016-11-10 16:59] kinvaris commented on #884
CI test: https://github.com/openvstorage/integrationtests/commit/588ee98d996ff2feb8d88b721d2248e6989bd01d

[2016-11-10 17:01] kinvaris commented on #749
We've not seen this happening anymore on any of our CI environments.

[2016-11-10 17:01] #749 closed, assigned to khenderick, wimpers

[2016-11-14 08:59] kinvaris opened #1147 "File contains parsing errors: /opt/OpenvStorage/config/arakoon_cacc.ini during extend"
During the setup of the second node on one of our CI environments:
[code]

[2016-11-14 09:08] JeffreyDevloo commented on #1144
The required information can be fetched via the asd-manager api instead of the framework api.

[2016-11-14 09:08] #1144 closed, assigned to nobody

[2016-11-14 09:22] JeffreyDevloo opened #1148 "Apt error during update"
### Problem description
When updating from an environment from 3-11 to the most recent one using GUI, I found the following error in /var/log/ovs/lib.log
[code]

After manually executing the command that gave errors:
[code]

After configuring apt:
[code]
[code]

### Possible root of the problem
It might be due to multiple apts running at the same time.

### Setup
- Ubuntu 16.04
- Hyperconverged se

[2016-11-14 09:42] dejonghb opened #1149 "stopping ovs-albaproxy service shouldn't stop the voldrvr"
After a _**service ovs-albaproxy_vp1 stop**_ it was noted the voldrvr also gets stopped

[code]
Restarting the abla proxy also restarts the voldrvr (if that does not fail due to a stale fuse mount if some other process holds the mountpoint busy) but the voldrvr shouldn't have been bothered.

[2016-11-14 09:47] wimpers commented on #1149
Duplicate of https://github.com/openvstorage/framework/issues/684 ?

[2016-11-14 09:56] dejonghb commented on #1149
The #684 seems to be the other way around where alba proxy suffers if the voldrvr has problems. Here the voldrvr gets stopped when the alba proxy is stopped, which should not happen.

[2016-11-14 10:13] saelbrec commented on #1048
vDisksMoveBack() needs some more thinking, at present we don't keep track of the previous storagedriver owner.

@redlicha,
What about DTL and MDS, is there on the volumedriver side a way to prevent these from being used or is that completely up to the FWK?

[2016-11-14 10:14] wimpers commented on #1147
Is this one related to https://github.com/openvstorage/framework/issues/1069 ?

[2016-11-14 10:24] redlicha commented on #1048
MDS / DTL (unless `DTLConfigMode.Automatic` is configured globally) configuration is completely up to the framework.

[2016-11-14 10:56] saelbrec commented on #940
Being able to perform an update when certain services in the platform have failed will be required as it might in some cases be the only way out.
This has quite some impact:
- Components need to support running mixed versions
- Have an update pre-requisite checker
- Have a mechanism to temporary disable services/nodes from the cluster
- Possibility to post update a single node/component when it re

[2016-11-14 11:00] saelbrec commented on #745
@pploegaert ,
Can you please coordinate the required steps to be taken:
- Troubleshooting or issue identification
- Test or autotest creation

[2016-11-14 11:10] kinvaris commented on #1147
@wimpers, no this is not related. This CI environment is blocked until further investigation what went wrong during the extend. #1069 is related to a full filesystem, resulting in a empty config arakoon file.

[2016-11-14 11:12] kinvaris commented on #1069
Can this get more priority? This is a very critical issue that can really hurt the ovs cluster.

[2016-11-14 11:14] domsj commented on #1147
fwiw #1069 could also be related to e.g. power loss or the sudden death of the relevant process.
(and that might also result in this file being partially written iso completely empty)

[2016-11-14 12:59] JeffreyDevloo opened #1153 "Keyboard support to dropdowns"
### Problem descriptions
Dropdowns cannot be navigated with arrowkeys and enter as you'd expect from other webpages.
This is mainly due to our own implementation of dropsdown.

### Possible solution
A listenener can be added to to dropdown section to listenen for the keyup events of the arrowkeys and thus changed the highlighted value. When enter triggered the keyup event, the highlighted value sh

[2016-11-14 13:09] wimpers commented on #1148
Assigned to @kvanhijf  as he is working on the upgrade path.

[2016-11-14 13:14] wimpers commented on #1147
@khenderick can you have a quick look so we can unblock the CI environment?

[2016-11-14 13:22] khenderick commented on #1147
Wrt this ticket, feel free to re-use the environment. It duplicates #1069 and is a known issue. Like @domsj states, there are tons of cases where configuration files can end up inconsistent.

[2016-11-14 13:23] wimpers commented on #1146
@khenderick is this for the support portal? Or also for populating the Redis queue?

[2016-11-14 13:27] wimpers commented on #1147
After discussion between BAM and @khenderick : All cases for corrupt ini will be covered in https://github.com/openvstorage/framework/issues/1069 .

[2016-11-14 13:30] khenderick commented on #1146
Not related to either the support portal, nor the Redis stuff. It's just that the `ovs collect logs` (which is also used in the "download logs" functionality in the GUI) is not working on systemd

[2016-11-14 13:34] wimpers commented on #1145
What if we don't use journalctl? Is this something Ubuntu specific? @dejonghb any advice?

[2016-11-14 13:34] #1147 closed, assigned to khenderick

[2016-11-14 13:45] dejonghb commented on #1145
journalctl is the systemd way of doing logging and is not ubuntu specific.

They claim

so they also store the timestamp. Now if the logmessage already has some timestamp (in readable text) it will be included in the log and might or might not be displayed the same as how the binary timestamp gets displayed (_journalctl --utc_ will have UTC, not localtime)

Example:

[code]

[2016-11-14 13:46] wimpers opened #1154 "Update should be able to cope with component/node failure"
Being able to perform an update when certain services in the platform have failed will be required as it might in some cases be the only way out.
This has quite some impact:
* Components need to support running mixed versions
* [ ] Have an update pre-requisite checker (https://github.com/openvstorage/framework/issues/1180)
* Have a mechanism to temporary disable services/nodes from the cluster
* P

[2016-11-14 13:46] wimpers commented on #940
As this is part of a bigger story, we will close this one and open a new FR https://github.com/openvstorage/framework/issues/1154

[2016-11-14 13:50] wimpers commented on #1154
Components should not start if they are not updated to a certain version.

[2016-11-14 13:53] #940 closed, assigned to saelbrec

[2016-11-14 14:11] wimpers commented on #1145
So we could use journalctl and not add a timestamp?

[2016-11-14 14:23] dejonghb commented on #1145
If you want to keep the option of direct logging to a file (or make sure on other/external installs a timestamp will be logged) you could retain the info (after all, it's already there so no new code needs to be written)

[2016-11-15 10:42] JeffreyDevloo opened #1155 "Partition information not completely displayed"
### Problem description
I've added two partitions to my /dev/sdd disks:
[code]
And the DAL has picked them up in a rescan:
[code]
However in the GUI only one was displayed:
![selection_057](https://cloud.githubusercontent.com/assets/17570109/20301410/7d992bf2-ab23-11e6-8279-22d153bbc57d.png)

Further debugging points out that the problem is html-based:
[code]
#### Reproduction whilst keeping cache

[2016-11-15 13:50] pploegaert opened #1156 "14.04 ovs setup fails on retrieving status for service 'rabbitmq-server"
on env with new more secure shell functionality

http://jenkins.cloudfounders.com/job/OVS_DEPLOY/857/console

[2016-11-15 14:50] kinvaris opened #1160 "After upgrading a 16.04, no storagerouters or vpools could be loaded."
After upgrading a fargo from previous monday (7/nov) to today (15/nov) I noticed that I could not load my storagerouters nor the vPools anymore.

After some digging I noticed these exceptions:

* Loading the vPools:
[code]

* Loading the storagerouters:
[code]

After some discussion with @khenderick & @kvanhijf, it seemed like the migration code did not run properly.

After @kvanhijf created a hot

[2016-11-15 15:08] khenderick commented on #1160
Fixed by #1159, packaged in openvstorage-2.7.5-fargo.2 and openvstorage-2.7.6-rev.4301.8e25118

[2016-11-15 15:10] khenderick commented on #1156
Fixed by #1158, packaged in openvstorage-2.7.6-rev.4297.8c20ff2

[2016-11-15 15:33] kinvaris commented on #1160
PASSED: executed successfully on a gig environment

[2016-11-15 15:33] #1160 closed, assigned to nobody

[2016-11-15 17:07] khenderick commented on #1069
Seems sth like this should be fairly ok to get a consistent file.

[code]

[2016-11-15 17:31] toolslive commented on #1069
I think that gives a runtime error: `os.fsync` needs an fd arg, and the fd doesn't live outside the `with` scope.

[2016-11-15 18:57] domsj commented on #1069
The docs at https://docs.python.org/2/library/os.html also mention first doing a flush...

[code]

[2016-11-16 09:55] hofkensj commented on #945
@kinvaris will this significantly impact operations in the field ?

[2016-11-16 10:33] pploegaert opened #1162 "During vpool removal: AttributeError: 'int' object has no attribute 'replace'"
[code]

[2016-11-16 13:00] JeffreyDevloo commented on #1162
I suspect that the port you supplied was an integer and not a string.
This can be avoided by casting the integer to a string (like we did previously with .format):
client.run(['alba', 'proxy-statistics', '--host', storage_driver.storage_ip, '--port', str(port)])

[2016-11-16 13:20] kvanhijf commented on #1162
https://github.com/openvstorage/framework/pull/1163 -->
https://github.com/openvstorage/alba-asdmanager/pull/159 -->

[2016-11-16 13:24] JeffreyDevloo commented on #1077
Could be because of https://github.com/BlueSpire/Durandal/pull/437.
Framework uses Durandal 2.0.0. The router is composing all items with the activator.create() call and every component has it's own activate function.

[2016-11-16 13:59] wimpers opened #1165 "Allow to change default behavior in case no DTL can be set"
Feature Request as follow up from https://github.com/openvstorage/volumedriver/issues/179

Currently if no storage routers are available with a DTL service in the domain/recovery domain, no DTL will be configured. This means that you don't have a DTL in a scenario where the DTL is configured to be running in another DC and that DC is unavailable.

Instead of just configuring no DTL we might go for

[2016-11-16 14:28] pploegaert commented on #1156
PASSED:
http://jenkins.cloudfounders.com/job/OVS_DEPLOY/869/console

[2016-11-16 14:28] #1156 closed, assigned to khenderick

[2016-11-16 14:58] JeffreyDevloo commented on #1025
### Steps
- Setup environment
- Configured environment
- Let it run for a while

### Output

[code]

### Test results

Logging previously was Collapsing node: 0lyCLx1w0S2Nn2Sn while now I found Collapsing cluster ovsdb on 10.100.199.152 completed.
Code change has been reflected.

[2016-11-16 14:58] #1025 closed, assigned to khenderick

[2016-11-16 15:04] kinvaris opened #1166 "KeyError: 'fs_dtl_host' after upgrading environment"
After upgrading OVH (installed half-september) we noticed the following problem:
[code]

After some digging we saw that new environments do have that parameter by default:
[code]

But old environments don't have that flag because it was not mandatory at the time:
[code]

[2016-11-16 15:12] JeffreyDevloo commented on #567
### Information

Relying on unit testing to catch this for future releases.
Manually verifying this fix would prove to be difficult and consume a lot of time.

Unit test: test_role_assignment in /opt/OpenvStorage/ovs/lib/tests/mdsservice_tests/test_mdsservice

### Example output

[code]

[2016-11-16 15:12] #567 closed, assigned to khenderick

[2016-11-16 15:58] JeffreyDevloo commented on #768
### Steps
- Setup latest cluster
- Configured latest cluster
- Loaded the config
- Edited the config with an unexpected value
- Save the config

### Output

[code]

### Test result

Test passed. The random key that I added was not thrown out during the save.

### Packages
- openvstorage                         2.7.6-rev.4301.8e25118-1            amd64        openvStorage
- openvstorage-backend

[2016-11-16 15:58] #768 closed, assigned to khenderick

[2016-11-16 16:11] JeffreyDevloo commented on #792
### Steps
- Setup latest cluster
- Checked disks
- Checked if mountpoint was in use

### Output

#### GUI

![selection_059](https://cloud.githubusercontent.com/assets/17570109/20354550/d0b7bc62-ac1e-11e6-9893-4f3c7aca72bc.png)

#### Mountpoint

[code]

### Test result

Root mountpoint was detected without error.
Test passed.

[2016-11-16 16:11] #792 closed, assigned to nobody

[2016-11-17 08:43] wimpers commented on #609
@pploegaert  I believe this ticket is no longer relevant as there is only fragment cache?  Can I close this one?

[2016-11-17 09:38] khenderick commented on #1069
@toolslive, hence the `sth like this`

[2016-11-17 10:08] khenderick commented on #1149
But what should the volumedriver do without running proxy? It will start giving I/O errors anyway.

[2016-11-17 10:11] dejonghb commented on #1149
Should stopping/starting (aka restarting) the proxy also restart the voldrvr?

Restarting the voldrvr will fail if its mountpoint is busy (some shell chdir'd into it) and cannot be unmounted/remounted. No I/O activity on the otherwise idle system...

[2016-11-17 10:54] JeffreyDevloo commented on #1050
### Steps
- Setup latest environment
- Configured latest environment
- Checked etc file for METADATASTORE_BITS
- Checked current

### Output
#### Service file
[code]
#### Cache size test
[code]

### Test result
Test passed.

### Packages
[code]

[2016-11-17 10:54] #1050 closed, assigned to khenderick

[2016-11-17 11:13] JeffreyDevloo opened #1170 "Remove node fails"
### Problem description
Node removal fails near the end while restarting the memcache services.

#### Log
This is but a fraction of the logging containing the errors
[code]

Full log:
[lib.log.zip](https://github.com/openvstorage/framework/files/597169/lib.log.zip)

[2016-11-17 12:18] JeffreyDevloo commented on #890
Apt repo is now signed.

Steps to utilize the repo for 16.014:

[code]

[2016-11-17 12:18] #890 closed, assigned to saelbrec

[2016-11-17 13:04] khenderick commented on #1069
Fixed by #1168 and openvstorage/alba-asdmanager#160, packaged in openvstorage-2.7.6-rev.4309.4de95cf and openvstorage-sdm-1.6.6-rev.443.472a203

[2016-11-17 13:28] khenderick commented on #1077
Latest Durandal unfortunately introduces a whole bunch of issues (most likely because I squeezed quite some stuff out of 2.0.0 which might be changed (or implemented) in 2.1 and onwards)

[2016-11-17 14:29] JeffreyDevloo opened #1171 "Setup fails on second node with "'rabbitmq-server' '-detached'' returned non-zero exit status 1"
### Problem description
Installing the latest packages (openvstorage 2.7.6-rev.4309.4de95cf-1) will fail on the second node.
During the extend I received
[code]
#### Logs
[code]
#### Manual execution
[code]
Could potentially be linked to https://github.com/openvstorage/framework/issues/1170

[2016-11-17 15:33] JeffreyDevloo commented on #1134
### Steps
- Installed latest cluster
- Configured latest cluster
- Fetched swagger via url

### Output

![selection_061](https://cloud.githubusercontent.com/assets/17570109/20395460/4f05abe6-ace3-11e6-85d2-23e60f1a5e51.png)

### Test result

Test passed.

### Packages
- openvstorage                         2.7.5-fargo.2-1                 amd64        openvStorage
- openvstorage-backend

[2016-11-17 16:00] khenderick commented on #1171
The issue is that before we just wrote over the existing files, keeping all its rights, owner, ... Now, we create a new temp file, and rename it to the target file. This results in all rights, owner, ... from the new file, so fairly "default". The solution is copying a possible existing file while preserving rights, owner, ... and then writing over it, and then moving it.

[2016-11-17 16:06] khenderick commented on #1171
Fixed by #1172, openvstorage/alba-asdmanager#161, packaged in openvstorage-2.7.6-rev.4311.9e78cea, openvstorage-sdm-1.6.6-rev.445.4216f7e

[2016-11-17 16:22] khenderick commented on #1095
Might be duplicated by #1164, I'm going to put this one to `state_verification`

[2016-11-17 16:31] JeffreyDevloo commented on #1171
### Steps
- Installed cluster

### Output

Cluster installed perfectly

[code]

### Test result

Test passed.

### Packages
- openvstorage                         2.7.6-rev.4311.9e78cea-1        amd64        openvStorage
- openvstorage-backend                 1.7.6-rev.817.91abb7c-1         amd64        openvStorage Backend plugin
- openvstorage-backend-core            1.7.6-rev.817.91abb7c-1

[2016-11-17 16:31] #1171 closed, assigned to khenderick

[2016-11-17 16:46] JeffreyDevloo commented on #1162
### Steps
- Configured latest cluster
- Added vpool
- Deleted vpool

### Output

[code]

[2016-11-17 16:46] #1162 closed, assigned to kvanhijf

[2016-11-17 16:49] JeffreyDevloo commented on #1095
Edit: had another ticket in my mind.
They most likely are related.

[2016-11-18 07:50] khenderick commented on #868
Needs a bit more love

[2016-11-18 09:09] kinvaris commented on #1095
PASSED: We've upgraded our new OVH environment to Fargo, refreshed the disks.

[2016-11-18 09:09] #1095 closed, assigned to nobody

[2016-11-18 09:19] JeffreyDevloo commented on #1134
Reopening due to a lazy test of myself. I just tested the API on not the cross-origin aspect.
Will simulate domain switch with postman.

[2016-11-18 09:33] kinvaris commented on #1011
Distributed filesystem vPools have been removed by the engineering team as it is not supported anymore.

[2016-11-18 09:33] #1011 closed, assigned to nobody

[2016-11-18 09:44] khenderick commented on #1170
Fixed by #1176, packaged in openvstorage-2.7.6-rev.4320.8c4fb99

[2016-11-18 09:56] redlicha commented on #1149
Expected behaviour:
- start the alba proxy (if not running already) on voldrv start
- optionally stop the alba proxy on voldrv stop
- don't start/stop voldrv on alba proxy start/stop

[2016-11-18 10:49] wimpers commented on #750
Prefer to have parallel role assignment. Re-open if needed.

[2016-11-18 10:49] #750 closed, assigned to nobody

[2016-11-18 10:51] wimpers commented on #625
I've extended this issue in  https://github.com/openvstorage/framework/issues/1165 and hence closing this one down as duplicate.

[2016-11-18 10:53] JeffreyDevloo commented on #1170
### Steps
- Setup cluster
- Configured cluster
- Removed second node in cluster

### Output

Removal was successful. Did not encounter the mentioned error.

[code]

### Test result

Test passed.

### Packages
- openvstorage                         2.7.6-rev.4320.8c4fb99-1        amd64        openvStorage
- openvstorage-backend                 1.7.6-rev.817.91abb7c-1         amd64        openvStora

[2016-11-18 10:53] #1170 closed, assigned to khenderick

[2016-11-18 11:10] matthiasdeblock opened #1177 "Errors while removing a node. The demote did run without any errors."
Node (stor-01) crashed and got reinstalled by GIG. After that they did run a mark as offline in the GUI and tried to remove the node with 'ovs remove node <ip>'. The demote worked fine but the remove afterwards crashed with 'Authentication failed'.

[code]

This problem got solved by shutting down the stor-01 and remove the node.

[2016-11-18 11:27] khenderick commented on #1177
Remove node is supported when:
- A node is offline (means: offline - "mark a node offline" doesn't make the node offline, it's just a confusing name to inform a volumedriver a node won't be used anymore and a volume can be stolen)
- A node is offline and still part of the cluster.

The scenario - where a node was reinstalled and _after_ that removed - is not supported.

However, this ticket was cr

[2016-11-18 12:11] pploegaert opened #1178 "scrubbing fails with: An error occurred deploying ALBA proxy ovs-albaproxy_myvpool02_ovs-node02-1604_scrub"
[code]

[2016-11-18 12:13] khenderick commented on #1178
\u2019 is some kind of single right quote. Most likely the systems used are for whatever reason using fancy markup.

Let's use `.encode('ascii', 'replace')` on unicode after we replaced the most common entries (and let's add \u2019 to that list).

[2016-11-18 15:43] wimpers opened #1179 "Allow to update the framework node per node"
Currently it is required to update the framework in 1 go. In large cluster this might not be possible/desirable as there might be a node down/rebooting/... . this ticket is to allow node based upgrades of the framework.

Some remarks:
* There is a limit to the difference versions that are supported (f.e. version 1.1 and 9.1 can't exists together in the same cluster)
* Some components might not be

[2016-11-18 15:49] wimpers opened #1180 "Update prerequisite checker"
To be defined what needs to be checked before the upgrade can start ...

To check:
* version compatibility
* check if Arakoon is online/has master
* check if all vdisks/DTLs/MDS are moved away
* check network connectivity
*

[2016-11-18 15:56] khenderick commented on #1179
Some quick thoughts:
- Currently there is only 1 version of an object, and every node has one access mapping to that data. When this ticket is implemented, all supported data version mappings should be included and based on the actual version of the data, the correct mapping must be used. Some async process can then increase the version and execute model migrations once all nodes have been updated

[2016-11-18 16:06] wimpers commented on #1179
Based on @khenderick feedback it might be a better idea to in a first phase disable the framework on nodes which could not be updated.

Or maybe all master nodes needs to be updated in 1 go and all extras can be updated one by one?

[2016-11-18 17:05] JeffreyDevloo commented on #956
### Steps
- Configured cluster
- Ran some testing code

#### Test code

This code will all configurations and will verify the dtls

[code]

### Output

Got the following result dict:

[code]

### Test result

All disks that were made had an OK DTL
Test passed.

### Packages
- openvstorage                         2.7.6-rev.4320.8c4fb99-1        amd64        openvStorage
- openvstorage-backend

[2016-11-18 17:05] #956 closed, assigned to nobody

[2016-11-21 08:59] JeffreyDevloo commented on #1091
### Steps
- Installed latest cluster
- Added disk roles
- Added backend (default preset)
- Claimed 1 asd on node
- Added vpool
- Added vdisk

### Output
Found the following error log:

[code]
And nothing was stored in the DAL
![selection_064](https://cloud.githubusercontent.com/assets/17570109/20476407/1bb3f1a8-afd1-11e6-87f8-36f21fcf310f.png)

Edit: The GUI displays an error:
![selection_065](htt

[2016-11-21 09:03] JeffreyDevloo commented on #1001
We did not encounter the issue anymore during our automated setups.

[2016-11-21 09:03] #1001 closed, assigned to nobody

[2016-11-21 09:12] #1091 closed, assigned to khenderick

[2016-11-21 09:32] winglq opened #1183 "Install ovs on centos failed due to lack of package volumedriver-no-dedup-server"
I followed this link to install ovs on centos but it turns to the following package missing error. I see volumedriver-server is install but no volumedriver-no-dedup-server. How could I get volumedriver-no-dedup-server package? Thanks.

https://openvstorage.gitbooks.io/administration/content/Installation/centos.html

Error: Package: openvstorage-core-2.7.5_fargo.3-1.x86_64 (openvstorage)

[2016-11-21 09:54] khenderick commented on #1179
@wimpers, your suggestion also leaves nodes with different versions, which means the above still is mandatory. Disabling the framework on a certain set of nodes will mean loss of certain functionality on these nodes.

[2016-11-21 10:02] wimpers commented on #1179
@khenderick

I'm not sure. Let's say that the master nodes need to be updated all in 1 go. The Framework on all other nodes could be disabled so they are no longer playing along. Maybe that makes things less complicated.

It would be nice of we have  a list of functionality we would lose. I assume things like extend vPool would no longer be possible. But That would be ok. Snapshots?

[2016-11-21 13:30] JeffreyDevloo commented on #775
### Steps
- Setup latest cluster
- Added disk roles
- Removed disk with DB role
- Rescanned disks
- Verified storagerouter status

### Output
![selection_067](https://cloud.githubusercontent.com/assets/17570109/20484299/d877bade-aff6-11e6-85f3-170a796a6440.png)

### Test result
Storagerouter was marked as failure due to the missing disk. Test passed.
### Setup
- Hyperconverged cluster
- 2 vpool (e

[2016-11-21 13:30] #775 closed, assigned to nobody

[2016-11-21 13:49] khenderick commented on #1178
Fixed by #1182, packaged in openvstorage-2.7.6-rev.4323.a37c7f7
Manual code sync by openvstorage/alba-asdmanager#162 packaged in openvstorage-sdm-1.6.6-rev.449.77bd347

[2016-11-21 13:59] wimpers commented on #1183
Hi, the volumedriver-no-dedup-server 6.4.0 rpms are uploaded to unstable. Can you get them from there?

[2016-11-21 14:20] wimpers commented on #1166
@khenderick This will not be an issue in upgrades from Fargo RC1?
Did we patch the env or did we fix this in code?

[2016-11-21 14:21] wimpers commented on #1166
@kinvaris , please make sure OPS knows about what you did to fix this.

[2016-11-21 14:37] wimpers commented on #1145
@kvanhijf If you want to use journalctl for viewing logs we can always use `-o cat` to remove the duplicate timestamps

[2016-11-21 14:37] #1145 closed, assigned to dejonghb

[2016-11-21 14:39] #625 closed, assigned to nobody

[2016-11-21 14:39] #1166 closed, assigned to nobody

[2016-11-21 15:37] khenderick commented on #1166
@wimpers, I have not looked at this issue, so I have no idea about whether this is an issue or not. And since it's closed, I think we'll never know.

[2016-11-22 03:20] winglq commented on #1183
Thanks for the quick response. I got the rpm but met a new issue after running ovs setup. Open a new issue

[2016-11-22 03:20] #1183 closed, assigned to redlicha

[2016-11-22 03:25] winglq opened #1184 "ovs setup failure due to undefined symbol"
After I get volumedriver-no-dedup-server from unstable repo. I could successfully install the openvstorage, but when I ran ovs setup it failed with the following tb:

Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "ovs/lib/setup.py", line 39, in <module>
    from ovs.extensions.storageserver.storagedriver import StorageDriverConfiguration
  File "ovs/extensions/st

[2016-11-22 03:25] winglq commented on #1184
BTW, it's running on Centos7.

[2016-11-22 08:41] JeffreyDevloo commented on #1058
### Steps
- Setup latest cluster
- Configured latest cluster
- Ran unit tests

### Output
#### Test should file with incorrect file
[code]
OK

#### Unit tests should run without errors
[code]
- [x] No cinder plugin
- [x] No more module errors
- [x] New output format

### Test result
Test passed.

### Packages
- openvstorage                         2.7.6-rev.4323.a37c7f7-1        amd64        openv

[2016-11-22 08:41] #1058 closed, assigned to khenderick

[2016-11-22 09:32] JeffreyDevloo commented on #970
### Information
The change in framework introduced a new parameter 'vrouter_use_fencing' in the volumedriver config. This parameter should default to 'false' by the volumedriver but framework will configure it to 'true' by default.

### Steps
- Setup latest cluster
- Configured latest cluster
- Verified that the config parameter was present

### Output
#### Manually
[code]
Found
[code]
#### Code w

[2016-11-22 09:32] #970 closed, assigned to khenderick

[2016-11-22 09:35] JeffreyDevloo commented on #593
### Information
The linked ticket #749 was closed due to not seeing the issue anymore on our testing environments.
We also did not encounter this issue anymore on our testing environments therefore I am closing this one as well.

[2016-11-22 09:35] #593 closed, assigned to nobody

[2016-11-22 09:49] JeffreyDevloo opened #1185 "HTML translation for edge clients is wrong"
### Problem description
The data-i18n is probably set wrong. You receive the key of the file instead of the value.
![screenshot from 2016-11-22 10-42-51](https://cloud.githubusercontent.com/assets/17570109/20518891/1c485052-b0a1-11e6-9f6c-7660783d668d.png)

### Possible solution
Either add the missing key or fix the pointer.

[2016-11-22 10:08] kinvaris commented on #1178
FAILED:

We still see the issue occuring.
[code]

But this time with this error:
[code]

[2016-11-22 10:10] JeffreyDevloo opened #1187 "Add a indication whether or not the cluster is able to resist a node failure"
### Problem description
Consider the following scenario:
- Setup cluster
- Added disk roles
- Setup vpool
- Extended vpool to 2 other nodes
- Removed DB disk on node 1 (where everything originated from)
- Cluster ceased to work (arakoon erorrs)

I was not notified when my cluster that my cluster was NOT able to resist a node failure (removal of DB causes a node to go down basicly). The extending o

[2016-11-22 10:14] wimpers commented on #849
Not fixed in "openvstorage": "2.7.5-fargo.3-1"

@kvanhijf please check current OVH install

[2016-11-22 10:16] JeffreyDevloo commented on #667
### Information
We do not have virsh as a dependency anymore. We are unable to reproduce the issue.

If a similar error occurs, please open up a new ticket with more detailed information.

[2016-11-22 10:16] #667 closed, assigned to nobody

[2016-11-22 10:17] wimpers commented on #849
Werid, after a while it works.

The flow I tried to reproduce:
* Create vDisk -> domain isn't showing
* Check Domain page
* Check vDisks page, domains is showing

Seems like sometimes it is working and sometimes it isn't.

[2016-11-22 10:23] JeffreyDevloo commented on #764
### Information
We did not encounter this issue anymore on our automated testing environments.

[2016-11-22 10:23] #764 closed, assigned to pploegaert

[2016-11-22 10:29] wimpers commented on #609
No longer relevant. Re-open if needed.

[2016-11-22 10:29] #609 closed, assigned to pploegaert

[2016-11-22 10:31] khenderick commented on #1178
Fixed somewhat related-ish issue by #1188, packaged in openvstorage-2.7.6-rev.4327.b5617a3

[2016-11-22 10:52] JeffreyDevloo commented on #812
### Steps
- Installed cluster
- Configured cluster (vpool extended to all nodes)
- Marked node 1 offline
- Removed node 1 via ovs remove node
- Verified that no ovs services were running anymore

### Output
[code]
### Test result
Test passed. No services were running anymore

### Packages
Tested for Ubuntu 16.04.
- openvstorage                                        2.7.6-rev.4323.a37c7f7-1

[2016-11-22 10:52] #812 closed, assigned to nobody

[2016-11-22 12:27] JeffreyDevloo opened #1189 "Sorting disks/asds on backend makes them move every local_stack fetch"
### Problem description
See gif
![ezgif com-ee9656ad15](https://cloud.githubusercontent.com/assets/17570109/20523848/6e104a82-b0b7-11e6-8fe6-a7880a0378e1.gif)

[2016-11-22 12:52] khenderick commented on #1189
Looks like some sorting is a bit off, shouldn't be too hard to fix.

[2016-11-22 14:45] JeffreyDevloo opened #1190 "Block vdisk creation on storagerouter with failed DB disk"
### Problem description
Adding a vdisk to a storagerouter with a failed DB disk is still possible. You can select this storagerouter in the wizard but the creation will fail because the volumedriver will error.
Since we know why the storagerouter failed, it should no longer be visible in the wizard.

My steps:
- Setup cluster
- Added roles to disks
- Added backend
- Added vpools
- Extended vpools

[2016-11-22 14:47] khenderick commented on #1190
Maybe we need to extend this towards more issues that can be foreseen, and not only disk issues.

[2016-11-22 15:27] kinvaris opened #1191 "Increase vrouter_backend_sync_timeout_ms in volumedriver config"
We observed the following on a recent multidatacenter `fargo` environment.

When trying to perform a `move` (between 2 local nodes) of a volume with a active `write` test on it. The `move` of the volume failed every time.

After increasing the `vrouter_backend_sync_timeout_ms` parameter from 5 seconds to 60 seconds in the volumedriver config. The volume moved successfully.

The volume could not be

[2016-11-22 15:40] JeffreyDevloo commented on #1051
### Information
The ticket is first and foremost hard to reproduce as an error occurred that was not known and no information was given about.
Second of all the ticket did not explore all possible options for logging locations.
Closing this one and waiting for more input in case it might have happened again.

[2016-11-22 15:40] #1051 closed, assigned to nobody

[2016-11-22 15:43] JeffreyDevloo commented on #1039
### Information
This error occurs when processing a byte string with characters that cannot be decoded.
Should have been resolved by the referenced pull request and further enhanced by https://github.com/openvstorage/framework/pull/1182.

We did not encounter this error anymore on our testing environments.

This scenario has also been covered by a unit test which expects all sorts of data being pa

[2016-11-22 15:43] #1039 closed, assigned to nobody

[2016-11-22 15:59] JeffreyDevloo commented on #782
### Information
We currently use arakoon as our deploy configuration management. Testing is mainly done with arakoon as configuration management as well.

[2016-11-22 15:59] #782 closed, assigned to nobody

[2016-11-22 16:14] khenderick commented on #1149
Fixed by #1186 and openvstorage/alba-asdmanager#164, packaged in openvstorage-2.7.6-rev.4333.10879df and openvstorage-sdm-1.6.6-rev.451.50f2791

[2016-11-22 16:20] JeffreyDevloo commented on #789
### Information
The issue described in the ticket is currently impossible to reproduce because of the READ role being removed since https://github.com/openvstorage/framework/pull/1130.
The main reason behind this abrupt closing as that we are far behind in validation...
Closing because it handles about a deprecated issue.

### Current Packages
- openvstorage                         2.7.6-rev.4323.

[2016-11-22 16:20] #789 closed, assigned to khenderick

[2016-11-22 16:22] kinvaris commented on #1178
PASSED based on CI tests: http://testrail.cloudfounders.com/index.php?/plans/view/34898

[2016-11-22 16:22] #1178 closed, assigned to kinvaris

[2016-11-22 16:25] JeffreyDevloo commented on #858
### Information
Same steps as the referenced ticket which was behind the issue of this ticket.

### Steps
- Installed latest packages
- Setup cluster
- Added disk roles to 5GB disks
- Added backend
- Initialized disk and claimed asd
- Added (1,1,1,1) preset to work for my limited test environment
- Added two vpools
- Claimed all space for Global Write Buffer on the second vpool

### Output
![selec

[2016-11-22 16:25] #858 closed, assigned to nobody

[2016-11-22 16:52] kinvaris opened #1194 "increase vrouter_migrate_timeout_ms"
In continuation of #1191, we would also increase the value `vrouter_migrate_timeout_ms`

[2016-11-22 17:00] khenderick commented on #1191
Fixed by #1192 and #1193, packaged in openvstorage-2.7.5-fargo.4 and openvstorage-2.7.6-rev.4344.a90a602

[2016-11-23 09:14] khenderick commented on #868
Fixed by #1196, packaged in openvstorage-2.7.6-rev.4346.136e041

[2016-11-23 09:24] khenderick commented on #1194
Please make a suggestion about a better "default" value.

[2016-11-23 09:32] redlicha opened #1197 "Disable auto-migration of volumes"
Edge clients should not be able to trigger volume migration but instead are expected to follow the volume (exception: HA events - there the edge client triggers a failover to a node from a given set). To disable auto-migration, the `vrouter_volume_{read,write}_threshold`s need to be set to 0.

[2016-11-23 09:39] jeroenmaelbrancke opened #1198 "cache not cleaned for global write buffer (extend vpool)"
Problem:
The cached value from global write buffer is not been cleaned when i change the write role.

Version:
[code]

![extend_vpool](https://cloud.githubusercontent.com/assets/2900612/20556706/9147c6d6-b168-11e6-9b28-74f6fce7b6e3.png)

[2016-11-23 09:43] kinvaris opened #1199 "ovs remove node does not work on node that is offline"
While performing the `ovs remove node` on a node that was offline:
[code]

After activating the nodes again, I reran the `ovs remove node` and it worked.

[2016-11-23 09:44] kvanhijf commented on #1198
Issue was caused by first assigning 2 devices with a WRITE role --> In total there was 1043GiB of write buffer space
The wizard was cancelled and 1 WRITE role was removed --> Only 111GiB was left for write buffer space, but the wizard was still showing the previous value (See screenshot)

[2016-11-23 10:03] kinvaris opened #1200 "Failed to remove external local backend from a global backend"
When you have 2 OVS clusters, that share a backend as a linked local backend. You can add the backend, but you cannot remove the external local backend from the global backend.

Steps to reproduce:
* Setup cluster A
* Setup cluster B
* Setup local backend C on cluster A
* Setup global backend D on cluster B
* Link external local backend on cluster B with cluster A
* Try to remove it.

[code]

[2016-11-23 10:20] khenderick commented on #1093
Fixed by #1201, packaged in openvstorage-2.7.6-rev.4348.457b7ba

[2016-11-23 10:38] wimpers commented on #1194
@khenderick who are you looking at for providing that value? @redlicha ? @kinvaris ?

[2016-11-23 10:45] kinvaris commented on #1199
This is the observed output of ovs:
[code]

[2016-11-23 10:46] khenderick commented on #1199
Odd, the code running is kinda "try to do this, but ignore any ```UnableToConnectException``` exception" since that node might be offline, but we don't care in that particular case.

However, the ```NoValidConnectionsError``` is something we've never seen before.

[2016-11-23 10:47] khenderick commented on #1194
@wimpers, whoever that can give me a reasonable value.

[2016-11-23 10:55] kvanhijf commented on #1200
https://github.com/openvstorage/framework-alba-plugin/pull/276 --> openvstorage-backend-1.7.5-fargo.2

[2016-11-23 11:47] kinvaris commented on #1200
PASSED: Updated OVH environment, tried to remove backend. Succes!

[2016-11-23 11:47] #1200 closed, assigned to nobody

[2016-11-23 12:30] kinvaris opened #1202 "Catch/improve "The node to be removed cannot be identical to the node on which the removal is initiated""
We performed a `remove node` on the node that will be removed.

We got this error message:
[code]

[2016-11-23 12:32] wimpers commented on #1202
@kinvaris  what would you expect as behaviour?

[2016-11-23 14:11] kinvaris opened #1203 "Correctly process 'Ensure safety' for vdisks"
This tasks should complete correctly and just report that it did not process it correctly for that vdisk.

Params `ovs.vdisk.migrate_from_voldrv`:
`{'new_owner_id': u'globaljlKIkrmtTHLINeSg', 'volume_id': u'2b45a75c-6a40-4bf3-93c8-087f949f411f'}`

As seen here in the `ovs.vdisk.migrate_from_voldrv` task:
[code]

[2016-11-23 15:45] wimpers commented on #1197
Instead of disabling it at vrouter level why don't we push this  `volume_{read,write}_threshold` value to the vDisk level. By default we leave the value higher than 0 so auto-stealing is supported. In case you execute the move vdisk call on on the API we set the value to 0, move the vdisk to the new voldrv, verify that the edge client is has redirected its connection to the voldrv, update the thre

[2016-11-23 15:59] kinvaris opened #1204 "Rollback the setup corrupts the cluster"
Due to a SSH problem during the installation, our setup crashed and started rolling back the installation. At the end the node was available in the storagerouter list so the cluster is in inconsistent state.

[2016-11-23 16:00] kinvaris commented on #1194
@khenderick 60 seconds has been tested on the OVH setup

[2016-11-23 16:00] wimpers commented on #1204
Can you add  more info. What was exactly available? Any issues in the logs?

[2016-11-24 08:06] khenderick commented on #1203
Please provide full logs.

[2016-11-24 08:13] khenderick commented on #1194
Fixed by #1205, packaged in openvstorage-2.7.6-rev.4350.8f70fdc

[2016-11-24 08:13] khenderick commented on #1194
A wild ```60000``` has appeared in the code.

[2016-11-24 08:30] khenderick commented on #1199
Wrapped exception to expected one

[code]

[2016-11-24 08:37] khenderick commented on #1199
Fixed by #1206, openvstorage-2.7.6-rev.4352.cc448bd

[2016-11-24 09:09] khenderick commented on #1146
Fixed by #1207, packaged in openvstorage-2.7.6-rev.4354.5a1ad95

[2016-11-24 09:22] khenderick commented on #1021
On hold for upstream pull request

[2016-11-24 09:32] kinvaris commented on #1204
Well in this case the logs of why the setup crashed is not important here because it was on purpose. The focus of this scenario was to test the rollback. In general the rollback should just remove anything that it has put in place.

[2016-11-24 10:03] khenderick commented on #1146
As under Ubuntu 16.04 systemd is our service manager, we assume that journald is in charge of the console output. I've implemented some code to extract the logs in the journald buffers to a file which is then included in the log archive.

It's up to the system administrator to make sure that journald is configured to sane values to journald can handle the log outputs of all services.

[2016-11-24 10:26] wimpers commented on #1204
@kinvaris can you please add the logs so @khenderick  has an idea where to start looking what was left.

[2016-11-24 10:52] kinvaris commented on #1204
On hold until further logs

[2016-11-24 11:12] kinvaris commented on #1199
PASSED:
[code]

[2016-11-24 11:12] #1199 closed, assigned to kinvaris

[2016-11-24 12:27] kinvaris commented on #1194
PASSED:
Checked the volumedriver configs on the CI environments

[code]

[2016-11-24 12:27] #1194 closed, assigned to khenderick

[2016-11-24 12:28] wimpers commented on #1048
@saelbrec should this ticket still be in state_question?

[2016-11-24 12:51] wimpers commented on #1197
@redlicha how long does it take for an Edge to be notified that it needs to switch the connection to another voldrv? This is timebased, right?

[2016-11-24 12:56] wimpers commented on #1190
To be discussed further (we have the fuse/edge way of creating disks, maybe put the storage route in maintenance?

[2016-11-24 13:00] redlicha commented on #1197
It's not notified at all. Clients poll the volume location periodically. The poll interval can be configured (via an env var), default is 30 secs at the moment.

[2016-11-24 13:16] kinvaris commented on #1191
PASSED: Checked a vpool config on our CI environments
[code]

[2016-11-24 13:16] #1191 closed, assigned to kinvaris

[2016-11-24 13:18] wimpers opened #1208 "Remove get/puts stats of a backend in GUI"

[2016-11-24 13:22] openvstorage-ci commented on #1208
This issue was moved to openvstorage/framework-alba-plugin#281

[2016-11-24 13:22] #1208 closed, assigned to nobody

[2016-11-24 14:52] kinvaris commented on #1199
Currently this is in master but can this also be merged in `Fargo` ? @khenderick

[2016-11-24 15:06] khenderick commented on #1199
@wimpers, can you confirm we need to cherry-pick this to the fargo branch? If so, can we somehow add an extra milestone or keep using RC1 to indicate where a fix needs to be applied?

[2016-11-24 15:52] wimpers commented on #1199
We are a few days away from a 3rd promote, so no cherry picking is needed.

[2016-11-24 15:54] wimpers opened #1209 "Integrate Edge HA locality knowledge"
Integrate Edge HA locality knowledge

https://github.com/openvstorage/volumedriver/issues/179

[2016-11-24 15:55] wimpers commented on #1209
@khenderick as discussed with @saelbrec after scrum

[2016-11-24 15:59] dejonghb opened #1210 "ubuntu 16.04, systemd and coredumps"
On a setup found 2 segfaults (alba & voldrvr) mentioned in dmesg, but unfortunately on those systems the /proc/sys/kernel/core_pattern just says core and there's no trace of the core files (ulimit claims unlimited core dumps, but of course services may differ there as well).

There appears to be a systemd-coredump package available (containing _coredumpctl_ -- of course) and
[code]
which seems clo

[2016-11-24 16:01] wimpers opened #1211 "Storage Router set preference for (recovery) domains"
Storage Router  set preference for (recovery) domains allow to set multiple domains.  We might want to have an ordering there.

[2016-11-24 16:03] wimpers opened #1212 "Add domains to vPool/StorageRouter combo"
Currently domains are set at an Storage Router level. We could bring it down to the vPool/storage router level on the vpool details page/ management actions (where we are showing the accelerated alba for the storage router)

[2016-11-25 07:57] khenderick commented on #1202
I highly suspect that @kinvaris expects a slightly nicer message to appear; meaning catching the error and printing it without stack trace. I agree with that.

[2016-11-25 08:10] khenderick commented on #1212
Can you elaborate why this would be required? I don't see much benefit because Domains somewhat represents a physical location, and I'm not sure it makes sense to allow a StorageRouter can be part of multiple Domains.

[2016-11-25 08:29] wimpers commented on #1212
Now we define domain and recovery domain on SC level so basically you are saying that all vDisks on that SC need a DTL or MDS in another domain/datacenter. You might want to be able to overrule this on a vPool level so:
* Global vPool: domain = NY, Recovery domain NJ (for SC in NY and vice versa for the ones in NJ)
* Local vPool: domain: rack 1, Recovery domain rack 2

The behaviour is now semi do

[2016-11-25 08:33] wimpers commented on #1212
I would agree if  domains would be (fully connected) graph (with weighted edges) so in that case you can select a leaf: Rack1 (Earth->US->NY->DC1->Cage1->Rack1)

[2016-11-25 08:42] khenderick commented on #1202
Fixed by #1213, packaged in openvstorage-2.7.6-rev.4357.22393a7

[2016-11-25 09:00] khenderick commented on #1212
Hmm, you use case does make a lot of sense, but I'm afraid that making multiple levels of domains "a domain NY" and a domain "rack 1" might make things a lot more confusing. Needs some more thought.

[2016-11-25 13:13] khenderick commented on #1189
Fixed by openvstorage/framework-alba-plugin#283, packaged in openvstorage-backend-1.7.6-rev.824.b6ad731

[2016-11-25 15:04] khenderick commented on #850
An important remark: This means that the code will have to assume that a non-responsive StorageDriver is in fact down (stopped state) as it won't be notified of changes in the cluster and we assume that since it's down, it will reload configuration settings as soon as it's started and will join the cluster again.

[2016-11-28 03:51] hoannv46 opened #1214 "No such file or directory: '/opt/OpenvStorage/config/framework.json'"
I follow this quick install guide : https://openvstorage.gitbooks.io/administration/content/Installation/quickinstall.html
and cluster install guide : https://openvstorage.gitbooks.io/administration/content/Installation/quickinstall.html
In the first config :  ovs setup

ERROR: Failed to setup first node
ERROR: No authentication methods available

+++ Rolling back setup of current node +++

+++  A

[2016-11-28 09:21] wimpers commented on #1142
After discussion with @khenderick decision was to define the 'localness' based upon domains.

To make this working:
* Local backends need to be labelled with a domain. (can already be done)
* External backends which are linked need to be labelled with a domain. (to add)
* Storage routers need to be labelled with a domain. (can already be done)

Notes:
* An external linked backend to a vPool will n

[2016-11-28 10:27] wimpers opened #1218 "Cost tree between nodes/domain"
Voldrv ticket https://github.com/openvstorage/volumedriver/issues/179

Currently there is no way to define the 'cost'  between voldrv. This ticket is to allow to enter the cost. Still to be discussed if we do this on Storage Router level, Domain level, both or if we do something else.

[2016-11-28 10:27] wimpers opened #1219 "Integrate locality for the volumedriver"
Integration of https://github.com/openvstorage/volumedriver/issues/179

Decision was to use Domains & Recovery Domaisn for the cost. Within the same domain the cost is 0, between domain and recovery domain the cost is 10. If the voldrv nodes don't share a domain/recoverydomain then the cost is the max cost 2**32-1.

Some remarks:
* In case of multiple recovery domains, the cost will be the same be