[2016-11-28 10:55] wimpers commented on #1211
Something to check is how this would affect the DTL/MDS code path.  For me it feels logical that we also update that path to take the preference into account.

[2016-11-28 11:13] pploegaert opened #1220 "lsblk reports unknown column: SERIAL on ubuntu 14.04.x"
This causes sync_with_reality to fail leaving no disks modelled

[code]

http://testrail.openvstorage.com/index.php?/plans/view/35029

[2016-11-28 11:20] hoannv46 commented on #1214
Thanks for reply.

I sure i package openvstorage-hc installed correctly. I installed many
times.
how i can check config user ovs user. I only install some package and rung
ovs setup.
Yes. Owner of /opt/OpenvStorage/config is ovs:ovs.
Hoan.

On Mon, Nov 28, 2016 at 3:10 PM, Kevin Van Hijfte <notifications@github.com>
wrote:

--

*Nguyen Van Hoan*

*System Engineer*

*VCCloud - Công ty cổ phần VCCor

[2016-11-28 13:22] wimpers commented on #1219
Note that we currently don't want the volumedriver to move vDisks outside the same datacenter (=domain).

Basically we also need to set `network_interface/network_max_neighbour_distance`  so it is set to 10.

[2016-11-28 13:51] khenderick commented on #1220
Fixed by #1222 and #1221, packaged in openvstorage-2.7.6-fargo.2 and openvstorage-2.7.7-rev.4367.d7725ca

[2016-11-28 14:15] khenderick opened #1224 "Support async update migrations & feature enabling"
Support async update migrations & feature enabling.

At this moment, the framework is upgraded completely or not at all.Even while the framework can be backwards compatible with (some of) its dependencies, it currently cannot detect that one of its dependencies is identical  across the cluster.

For example, dependency X might be version 1 at nodes A and B, and version 2 on nodes C and D. It curre

[2016-11-29 08:28] kvanhijf opened #1225 "Service file regeneration"
Service files are (mostly) part of the framework, but we do not have a way to regenerate these when changes occur to these files

Recently we had some changes to open file descriptors for certain files, runversion changes for other service files, but only changing these templates won't make changes to the actual running service files
So we need a mechanism to be able to achieve this.

Most service

[2016-11-29 08:38] wimpers commented on #1224
Would https://github.com/openvstorage/framework/issues/1118 not this issue or how are these 2 tickets related?

[2016-11-29 11:11] khenderick opened #1226 "Integrate alba return codes"
Integrate alba return codes. It's nicer than just trying to parse the output to json and handle possible exceptions

[2016-11-29 12:07] khenderick commented on #1219
After some more discussions:
* Node has primary domain:
  * Peer in primary domain: cost: ```0```
  * Peer in secondairy domain: cost ```10000```
  * Else: ```20000```
* Else:
  * cost ```0```

The ```network_max_neighbour_distance``` is set to ```9999```

This leaves us some space for future enhancements, and allows a distant StorageRouter to failover by settings it's StorageDriver configurations

[2016-11-29 12:42] wimpers commented on #1219
:thumbsup:

[2016-11-29 12:44] kinvaris commented on #945
@hofkensj: if it occurs, not really. The vPool can just be deleted ...

[2016-11-29 13:42] wimpers commented on #1209
Seems to be a duplicated of https://github.com/openvstorage/framework/issues/1209

[2016-11-29 13:43] wimpers commented on #1209
Re-open if I would be mistaken

[2016-11-29 13:43] #1209 closed, assigned to nobody

[2016-11-29 14:36] wimpers commented on #1226
@domsj  @toolslive let's first make sure ALBA gives returns the right return code. If so , please leave a  comment.

[2016-11-29 14:43] domsj commented on #1226
It should be in the next release. Relevant PR https://github.com/openvstorage/alba/pull/466.

When passing --to-json nothing changes.
Exit code 0 => there should be valid json to parse.
Exit code 1 => something went wrong earlier than expected, probably bad input was given to the cli ... there is no parse-able json outputted.

[2016-11-29 14:55] khenderick commented on #1226
After some more discussions with @domsj and @toolslive, it turned out that when the json flag is passed, everything is like it was before. However, if not passed, the behavior might be different.

So we need to take this up _before_ the mentioned PR lands in unstable.

[2016-11-29 15:07] domsj commented on #1226
Fwiw we are introducing a breaking change when --to-json is not specified.
We can do this differently: add some extra flag --error-should-result-in-non-zero-exit-code (or sth along those lines ;-)), and only change the behavior when this flag is specified.
Although the consensus seems to be that we're fixing a bug, and not that we're breaking backwards compatibility...

[2016-11-29 15:09] wimpers commented on #1225
@kvanhijf why is this feature urgent? Is this something we can't release without?

[2016-11-29 15:15] wimpers commented on #1225
@khenderick maybe we can use some type of  distributed config management for this or maybe something like fleet? :stuck_out_tongue_closed_eyes:

[2016-11-29 15:17] wimpers commented on #1225
Forgot the link to fleet https://github.com/coreos/fleet

[2016-11-29 15:22] wimpers commented on #1226
So Gilbert will not fly? This might have some impact on existing code as we need to check everywhere we use  the error codes I assume?

[2016-11-29 15:22] khenderick commented on #1226
@wimpers, We use this only at one place; our python wrapper.

[2016-11-29 15:29] hofkensj commented on #945
We agreed to make sure documentation of the known issue is there

then we can close

[2016-11-29 15:34] wimpers commented on #1226
So it should be a quick one and you can squeeze it into Fargo RC2 you mean?

[2016-11-29 16:17] khenderick commented on #1209
@wimpers, You did link to this ticket.

[2016-11-29 16:26] kvanhijf commented on #1148
https://github.com/openvstorage/framework/pull/1141 --> openvstorage-2.7.7-rev.4375.355aa3e
https://github.com/openvstorage/alba-asdmanager/pull/165 --> openvstorage-sdm-1.6.7-rev.468.144789e
https://github.com/openvstorage/ovs-documentation/pull/52
https://github.com/openvstorage/framework-alba-plugin/pull/278 --> openvstorage-backend-1.7.7-rev.837.7922150

[2016-11-29 16:26] kvanhijf commented on #1123
https://github.com/openvstorage/framework/pull/1141 --> openvstorage-2.7.7-rev.4375.355aa3e
https://github.com/openvstorage/alba-asdmanager/pull/165 --> openvstorage-sdm-1.6.7-rev.468.144789e
https://github.com/openvstorage/ovs-documentation/pull/52
https://github.com/openvstorage/framework-alba-plugin/pull/278 --> openvstorage-backend-1.7.7-rev.837.7922150

[2016-11-29 16:26] kvanhijf commented on #900
https://github.com/openvstorage/framework/pull/1141 --> openvstorage-2.7.7-rev.4375.355aa3e
https://github.com/openvstorage/alba-asdmanager/pull/165 --> openvstorage-sdm-1.6.7-rev.468.144789e
https://github.com/openvstorage/ovs-documentation/pull/52
https://github.com/openvstorage/framework-alba-plugin/pull/278 --> openvstorage-backend-1.7.7-rev.837.7922150

[2016-11-29 16:28] wimpers commented on #1209
Right, duplicate of https://github.com/openvstorage/framework/issues/1219 of course

[2016-11-29 16:28] khenderick commented on #1224
They are duplicated, sorry.

[2016-11-29 16:28] #1224 closed, assigned to nobody

[2016-11-29 17:03] pploegaert opened #1227 "Investigate possible solution for disk consuming syslog file when using journalctl"
As observed on a partner environment:
http://tickets.openvstorage.com/browse/OVSSUP-118

The issue has already occured a few times we should decide on how to avoid/tackle this.

- reducing logging
- investigate components excessive logging when something goes wrong
- avoid logging to syslog
- ...

[2016-11-30 08:43] dejonghb commented on #1227
As temporary workaround: make sure the filesystem that holds /var/log is large enough to cope with the amount of logging that's being saved? Guess we can estimate this by looking at systems that were up, running and used for some time and adding a safety margin. Requiring a certain amount of diskspace available for a running system is not that unusual.
Of course trying to minimize the required dis

[2016-11-30 09:45] openvstorage-ci commented on #1226
This issue was moved to openvstorage/framework-alba-plugin#288

[2016-11-30 09:45] #1226 closed, assigned to kvanhijf

[2016-11-30 10:21] kvanhijf commented on #1148
Fixed by https://github.com/openvstorage/framework/issues/1123

[2016-11-30 10:21] kvanhijf commented on #900
Fixed by https://github.com/openvstorage/framework/issues/1123

[2016-11-30 11:45] kvanhijf commented on #1123
Scenarios:

Framework update
Storagedriver update
ALBA plugin update
Framework + storagedriver update
Framework + ALBA plugin update
Storagedriver + ALBA plugin update
Framework + storagedriver + ALBA plugin update
Pure Storagenode(s) update
Each time verify whether all corresponding services have been restarted

Attempt an update with 1 or more nodes down
Attempt an update when 'at' binary is cor

[2016-11-30 13:24] wimpers commented on #1197
To be researched for a clear solution as we want to allow auto-migration within the same domain.

[2016-11-30 13:30] wimpers commented on #1184
@pploegaert can you reproduce ?

[2016-11-30 13:35] openvstorage-ci commented on #1210
This issue was moved to openvstorage/dev_ops#36

[2016-11-30 13:35] #1210 closed, assigned to nobody

[2016-11-30 13:41] wimpers commented on #1214
@hoanhdo,

* Could yopou provide the exact code you used to install?
* Could you try again and reproduce this?
* Which OS are you installing on?

Which packages did you install?

[2016-11-30 13:59] wimpers commented on #1227
@pploegaert  please provide input

[2016-11-30 15:02] wimpers commented on #1197
@kenneth , @redlicha After a second pass in the BAM. We still want auto-migration within a datacenter but not when it is across datacenters. How do you see this to be done? The use case is where the edge moves the connection to a new voldrv due to HA but the old voldrv is still online .

[2016-11-30 15:51] hoannv46 commented on #1214
This is my code
`sudo apt-get install kvm libvirt0 python-libvirt virtinst`
`echo 1 > /proc/sys/vm/swappiness`
`echo "vm.swappiness=1" >> /etc/sysctl.conf`
`echo "134217728" > /proc/sys/vm/dirty_background_bytes`
`echo "vm.dirty_background_bytes = 134217728" >> /etc/sysctl.conf`
`echo "deb http://apt.openvstorage.com fargo main" > /etc/apt/sources.list.d/ovsaptrepo.list`
`apt-key adv --keyserver k

[2016-11-30 16:26] saelbrec commented on #1214
@hoanhdo,
Is the ssh service on your systems configured to allow user root to login?

[2016-11-30 16:37] hoannv46 commented on #1214
@saelbrec
yes. server is allowed user root to login.

[2016-12-01 08:16] khenderick commented on #1214
Maybe @saelbrec's comment wasn't specific enough, it the user allows to login using passwords?

[code]

[2016-12-01 08:19] openvstorage-ci commented on #1142
This issue was moved to openvstorage/framework-alba-plugin#292

[2016-12-01 08:19] #1142 closed, assigned to nobody

[2016-12-01 13:22] kinvaris opened #1231 "Label block devices with duplicate ids"
Related to: http://tickets.openvstorage.com/browse/OVSSUP-125

On a customer environment we have seperated storage nodes that have 1 NVMe each. This NVMe is mapped under `/dev/nvme0n1`. But in the OVS GUI we see all the NVMe's being mapped under 1 node.

PS: Maybe its a good idea to test this also with FusionIO drives.

![](https://s12.postimg.org/6e1973pcd/ovs.png)

![](https://s18.postimg.org/ba

[2016-12-01 14:43] khenderick commented on #1231
[code]

[2016-12-01 14:49] khenderick commented on #1231
To be checked whether the udev rules to give the nvme drives a unique identifier is correctly installed. We need a unique way of identifying disks. If not available, the above will be observed.

[2016-12-01 15:12] kinvaris commented on #1231
# Possible workaround

## Symptoms:

### The NVMe had no unique id and theirfor showed weird behavior on in the OVS GUI.

[code]

## Solution:

### Create a udev rule for the nvmes with the following content

* `vim /lib/udev/rules.d/99-ovs-nvme-naming.rules`

[code]

## Perform the following steps:

* `apt-get update`
* `apt-get install nvme-cli`
* `mkdir -p /opt/scripts/`
* `vim /opt/scripts/nvm

[2016-12-01 15:13] kinvaris commented on #1231
@khenderick: to avoid such cases the OVS gui could filter out disks who don't hold a valid serial number as @domsj suggested.

[2016-12-01 15:14] khenderick commented on #1231
It was decided before that the framework should show _all_ blockdevices. @wimpers, does this ticket change this decision?

[2016-12-01 15:17] domsj commented on #1231
@kinvaris I suggested to keep on showing the disk, but add some warning indicator, an explanation of what's wrong and how it can be fixed

[2016-12-01 15:25] khenderick commented on #1231
@domsj, don't agree with the "... and how it can be fixed" since we might not have a clue about that, except for "make sure the block device you're trying to use exposes some kind of serial-ish thingy to the kernel". We happen to have an udev rule and script that works for at least a few types of nvme drives, but ymmv.

[2016-12-01 16:17] khenderick opened #1233 "Regular sync of volumes on StorageDriver and in model"
For some reasons (e.g. missed events due to RabbitMQ glitches) can cause the framework's model to be out of sync with reality. It shouldn't be too hard to write a small scripts that syncs both and runs every hour or so.

[2016-12-02 07:42] hoannv46 commented on #1214
@khenderick
Yes i config PermitRootLogin yes

[2016-12-02 08:02] khenderick commented on #1214
Can you post your ```/etc/ssh/sshd_config``` via a gist and provide us with a link?

[2016-12-02 08:49] JeffreyDevloo commented on #968
### Information
This ticket is a summary of two other issues:
- https://github.com/openvstorage/framework/issues/1039
- https://github.com/openvstorage/framework/issues/626

Both of these are closed, so closing this one

[2016-12-02 08:49] #968 closed, assigned to nobody

[2016-12-02 08:53] JeffreyDevloo commented on #946
### Information
Following the hypothesis that I would be because of Pyrakoons errors and the fact that we have not encountered a similar issue anymore in our automated tests, I am inclined to close this ticket.

[2016-12-02 08:53] #946 closed, assigned to nobody

[2016-12-02 08:59] wimpers commented on #1231
My viewpoint:
* don't block any block devices
* it is up to OPS to make sure the udev script is up to date/adjusted when we see problems.
* in case duplicate id are detected , replace the disk icon on the backend page by a red http://fontawesome.io/icon/question-circle/.
* update documentation that each block device should have a unique id.

[2016-12-02 09:52] khenderick commented on #1219
Fixed by #1228, packaged in openvstorage-2.7.7-rev.4386.67fe8ae

[2016-12-02 10:21] redlicha opened #1234 "Configure DTL timeouts for a volumedriver"
https://github.com/openvstorage/volumedriver/issues/131
https://github.com/openvstorage/volumedriver/pull/132

Proposed default: 1 second ("out of thin air", better informed suggestions / discussion desired!)

[2016-12-02 10:24] khenderick commented on #1234
I don't like to update some volumedriver default value (that's apparently not good for every environment out there) to a framework default value (that won't be good for every environment out there either). It's just adding work that doesn't add value.

Imo, the only reason for the framework to overwrite a volumedriver default value, should be when the framework can calculate a sane value based on

[2016-12-02 10:49] redlicha commented on #1234
I agree. Having the fwk provide a value based on information it has, e.g. DTL type (disk vs. mem based, RDMA vs. TCP) was the motivation for this ticket.

[2016-12-02 11:00] wimpers commented on #1218
Based upon the cost we should set timeouts like https://github.com/openvstorage/framework/issues/1234 . more settings to be discussed. Sane translation of cost into settings must be researched and configurable.

[2016-12-02 11:03] wimpers opened #1235 "ovs cli command to refresh the config of a voldrv"
In order to easy refresh dynamic parameters add an  ovs cli command to refresh the config of a voldrv

[2016-12-02 12:29] JeffreyDevloo opened #1237 "ovs remove node - first ask confirmation before throwing other errors"
### Problem description
If you execute remove node and there are would-be errors for the removal of the node, those errors are displayed first before the confirmation has been asked.

[code]

### Solution
Always ask if the user is sure to remove the node and then proceed to prohibit the removal because of the errors.

### Packages
- openvstorage                         2.7.7-rev.4361.7c05190-1

[2016-12-02 12:29] JeffreyDevloo commented on #823
### Steps
- Setup latest cluster
- Setup disk roles
- Setup backend
- Setup vpools
- Setup vdisks

Test cases:
- Remove node with vdisks attached (expect confirmation first, then error)
- Remove node where removal is started (expect error)
- Remove other node without any error inducing settings (expect confirmation)

### Output
#### Remove node with vdisks attached
[code]

#### Remove node where r

[2016-12-02 12:29] #823 closed, assigned to nobody

[2016-12-02 12:31] JeffreyDevloo commented on #1202
### Steps
- Setup cluster
- Configured cluster
- Removed the node where the removal was executed

### Output
[code]
### Test result
No error message was displayed.
Test passed.

### Packages
- openvstorage                         2.7.7-rev.4361.7c05190-1        amd64        openvStorage
- openvstorage-backend                 1.7.7-rev.828.5e3746c-1         amd64        openvStorage Backend plugin

[2016-12-02 12:31] #1202 closed, assigned to nobody

[2016-12-02 12:54] wimpers commented on #999
Best to cover when executing https://github.com/openvstorage/framework/issues/1218.  Do note that I don't see a problem with having 2 same leaves in that case (as long as the parent is different, f.e. rack1 can be in 2 branches of the tree)

[2016-12-02 14:59] pploegaert opened #1238 "Update from unstable logs ERROR: cannot import name MDSMetaDataBackendConfig"
Full log:

[code]

[2016-12-02 15:15] pploegaert commented on #1238
Unstable version from last night: thu 1/12/2016

[2016-12-02 15:19] khenderick commented on #1238
Versions: ```2.7.7-rev.4379.c7a85f0-1``` --> ```2.7.7-rev.4386.67fe8ae-1```

[2016-12-02 15:43] kinvaris commented on #1149
PASSED:
* Stopped the `ovs-albaproxy_myvpool01` service
* Checked `ovs monitor services`

[code]

[2016-12-02 15:43] #1149 closed, assigned to khenderick

[2016-12-02 15:45] kinvaris commented on #1093
PASSED: Check on one of our CI environments
[code]

[2016-12-02 15:45] #1093 closed, assigned to khenderick

[2016-12-02 15:47] kinvaris commented on #936
Just tried to reproduce it on our CI environments. No results. So failed to reproduce.

[2016-12-02 15:47] #936 closed, assigned to kinvaris

[2016-12-02 15:55] khenderick commented on #850
Fixed by #1232, packaged in openvstorage-2.7.7-rev.4391.7d827d6

[2016-12-05 08:45] khenderick commented on #1235
Is a button in the GUI good as well? That's a bit easier to implement.

[2016-12-05 08:54] wimpers commented on #1235
something like `ovs volumedriver storagerouter vpool reload`

[2016-12-05 08:57] wimpers opened #1239 "Button in GUI to refresh the config of a voldrv"
In order to easy refresh dynamic parameters add a button in the gui to refresh the config of a voldrv

Add this button under vPool details - Management actions
* icon http://fontawesome.io/icon/refresh/

[2016-12-05 08:58] wimpers commented on #1235
@khenderick , lets keep this one for the cli, https://github.com/openvstorage/framework/issues/1239 created for a nice button.

[2016-12-05 09:42] khenderick commented on #1238
```2.7.6-fargo.2``` -> ```2.7.7-rev.4395.5099afe-1``` seems OK

[2016-12-05 09:53] khenderick commented on #1238
```2.7.7-rev.4386.67fe8ae-1``` --> ```2.7.7-rev.4395.5099afe-1``` is OK as well. Going to give it another shot in a few days, maybe I can reproduce it then.

[2016-12-05 10:07] wimpers commented on #1203
@kinvaris After 11 days still no logs? Is this still relevant?

[2016-12-05 10:23] hoannv46 commented on #1214
this is my sshd_config
[https://github.com/hoanhdo/logs/blob/master/sshd_config](https://github.com/hoanhdo/logs/blob/master/sshd_config)

[2016-12-05 10:24] JeffreyDevloo opened #1240 "Linking alba backends requires domain-guid. API code disagrees"
### Problem description
Domain_guid is not a required parameter in the metadata.
Code ovs/lib/alba.py -- line 1185:
[code]
However, if this parameter is not given, the api will return 'domain_guid'.
eg:
[code]
Gave:
[code]

### Packages
[code]

[2016-12-05 10:30] khenderick commented on #1225
We can't use fleet for that as it's completely unrelated and apart from that we just decided to remove all fleet support since it didn't work at all anyway.

This is urgent because without this feature we have a hard time updating services files during future updates. All environments shipped without this feature won't have the data and won't be able to have their service files rewritten.

[2016-12-05 10:33] openvstorage-ci commented on #1240
This issue was moved to openvstorage/framework-alba-plugin#296

[2016-12-05 10:33] #1240 closed, assigned to kvanhijf

[2016-12-05 12:47] wimpers commented on #1234
https://github.com/openvstorage/volumedriver/issues/194 changed the default on voldrv

[2016-12-05 12:54] wimpers commented on #1233
Who knows what is correct? What if the check runs while you are changing things? Do we really want to do this manually?

[2016-12-05 12:57] wimpers commented on #1233
We don't want this to be automatic or scheduled. This should be a support tool for OPS which they can run on demand and confirm before taking actions.

[2016-12-05 13:04] khenderick commented on #1233
@wimpers, why would we not want to do this automatically? The reality is source of truth, so we just make sure that the model is in sync with reality. It does not make sense to not add a volume to the model if it exists in reality (in volumedriver), and it does not make sense to keep a volume in the model if it doesn't exist in reality. The "check" would run locked so we don't introduce sync issue

[2016-12-05 13:05] wimpers commented on #1231
@khenderick what is the impact of this udev patch on the update? Any chance the update resets the changes?

[2016-12-05 13:08] khenderick commented on #1231
No, the framework doesn't care about the udev rules so it won't do any changes to it in any way. We don't know about the files, so we don't change the files.

[2016-12-05 13:08] JeffreyDevloo commented on #1233
I agree with @khenderick with this one. Solely based around the fact that if a user must keep his model in sync himself, that the model would be horribly out of date and thus leading to much more issues than we can anticipate now.
The framework should correct and sync itself automatically.

[2016-12-05 13:32] jtorreke commented on #1233
I too must agree with both gentlemen. If the functionality would exist in a non-automated way, one of the first things I'd do is to add a cronjob to let this run hourly/daily. I agree that there must be a way to run this task manually, but there's no reason why not to automate this.

[2016-12-05 13:44] wimpers commented on #1233
This automatic sync is basically automatically fixing of things that went wrong. It doesn't fix the root cause and even hides that there were ever issues. BAM considers this is not the right approach.

[2016-12-05 13:48] khenderick commented on #1233
@wimpers, as the volumedriver considers sending events to the framework as optional and uses rabbitmq, it might be possible that the volumedriver was sending events before the rabbitmq cluster became active which won't be processed by the framework. Or it might be possible that by a manual intervention the rabbitmq cluster was rebuild losing any events currently on the queue. Or maybe volumes were

[2016-12-05 13:50] kvanhijf commented on #1233
BAM could not be more wrong.
Automatically fixing this should NOT hide that there were issues. This should be logged properly and monitored, so in such an event that issues have occurred, we can manually verify why something went wrong
When clicking a button to sync or issuing such command via CLI, it might already have been too late and logs might have rotated out, while with cronjob or scheduled

[2016-12-05 15:50] wimpers commented on #1197
Use case 1: The hypervisor fails (or vmotion)
In case the hypervisor fails, the hypervisor mgmt will restart the VM on another hypervisor. The VM will talk to the edge client on the new hypervisor which will talk to the old voldrv.

Use case 2: The storage router fails
In that case the edge client will detect the voldr is down and select another voldrv which can steal the volume.

Use case 3: The

[2016-12-06 10:11] kinvaris opened #1244 "Add button to vdisk overview to checkup the DTL of the vdisk"
It would be nice to be able to instantly checkup the DTL of a volume that has a degraded DTL as seen here:
![](http://pix.toile-libre.org/upload/original/1481018882.png)

The code is already in position to execute this per vdisk: https://github.com/openvstorage/framework/blob/5099afe52d67ae72d14286357b7706223c7bfd39/ovs/lib/vdisk.py#L856

[2016-12-06 14:18] kinvaris opened #1247 "VDiskController.create_new fails because of leftover volumes on volumedriver"
Related to: http://tickets.openvstorage.com/browse/OVSSUP-129

Expected behavior on `VDiskController.create_new`:

[code]

Seen result on `VDiskController.create_new`:

[code]

After discussion with @khenderick he thinks the `VDiskController.delete()` has not deleted the VDisk in reality. This because of the following: This exception would occur if the vdisk would be gone in the model but still be

[2016-12-06 14:20] openvstorage-ci opened #1248 "Pyarakoon receives unknown master during master validation"
_From @kinvaris on November 15, 2016 12:30_

I was going to upgrade an environment on gig when I observed the following:
* I could not fetch the updates of a `asd-manager`, I got a `read timeout` error.
* After looking deeper I found the give error in the `asd-manager` log.
* After advice of @khenderick, I restarted the `asd-manager` service an everything was normal again.
[code]

[code]

_Copied

[2016-12-06 14:20] openvstorage-ci commented on #1248
_From @khenderick on December 5, 2016 14:26_

So far the expected cause seems to be validated. To reproduce, setup a single node ovs and make sure to create a backend with some asds on it. Then extend the cluster to a 3 node setup. No need to do anything with the backend.

After the third node is present, you might notice that the asd-manager service did not restart, so it's runtime only knows abo

[2016-12-06 14:21] #1248 closed, assigned to khenderick

[2016-12-06 14:22] openvstorage-ci opened #1249 "Support agent: pyrakoon receives unknown master during master validation"
_From @matthiasdeblock on December 5, 2016 14:54_

Work-around: Restarting the support agent.

Related to: https://github.com/openvstorage/alba-asdmanager/issues/155

[code]
[code]

_Copied from original issue: openvstorage/alba-asdmanager#182_

[2016-12-06 14:22] openvstorage-ci commented on #1249
_From @wimpers on December 5, 2016 14:57_

Related to https://github.com/openvstorage/alba-asdmanager/issues/155 ?

[2016-12-06 14:22] openvstorage-ci commented on #1249
_From @khenderick on December 5, 2016 15:2_

It is indeed the same issue, but another service, and needs a slightly different approach to fix. Hence a separate ticket.

[2016-12-06 14:25] khenderick commented on #1249
Fixed by #1246 and openvstorage/framework-alba-plugin#301, packaged in openvstorage-2.7.8-rev.4405.2aef7e5 and openvstorage-backend-1.7.8-rev.859.0e2b32e

[2016-12-07 08:40] pploegaert commented on #1247
Related to: http://tickets.openvstorage.com/browse/OVSSUP-129

[2016-12-07 08:43] pploegaert commented on #1231
Related to: http://tickets.openvstorage.com/browse/OVSSUP-125

[2016-12-07 08:52] khenderick commented on #1247
After some more checking code, the ```VDiskController.delete``` is most likely not the issue, as it first removes the volume from the volumedriver, and after that succeeds removes the vDisk from the model. While here, the volume is not in the model, but it is in reality.

[2016-12-07 16:49] wimpers commented on #1244
Suggested icon
http://fontawesome.io/icon/random/ or
http://fontawesome.io/icon/refresh/

[2016-12-07 16:50] wimpers commented on #1244
@khenderick  I assume there is no API yet to call ?

[2016-12-07 16:56] wimpers commented on #1021
Swagger issue is fixed

[2016-12-07 17:01] khenderick commented on #1244
@wimpers, no, there is none. There are a lot of actions appearing, maybe we should clean them up or move them to another page?

[2016-12-08 07:29] kinvaris opened #1251 "VDiskController.create_new says the volume is created but sometimes its not."
Behavior: The healthcheck performs a `create_new` for a vdisk, waits 2 seconds then deletes it again.
These calls are all performed synchronously to avoid races.

But on a gig environment we observe the following output:
[code]

![](http://pix.toile-libre.org/upload/original/1481181937.png)

This error is caused by the following call: `VDiskList.get_by_devicename_and_vpool`, in general its telling

[2016-12-08 08:22] khenderick commented on #1251
Can you provide logs of some kind. At this point, it doesn't say that much about what's going on.

[2016-12-08 08:23] khenderick commented on #1238
Unable to reproduce

[2016-12-08 09:39] khenderick opened #1253 "Specify requirements for framework before an update can be started"
Specify requirements for framework before an update can be started. E.g. all nodes should at least have volumedriver version X.

[2016-12-08 09:55] khenderick commented on #1251
I somehow suspect that you get a ```RuntimeError```:

[code]

[2016-12-08 13:09] kvanhijf commented on #1225
https://github.com/openvstorage/framework/pull/1254 --> openvstorage-2.7.8-rev.4421.03dd4d6
https://github.com/openvstorage/alba-asdmanager/pull/186 --> openvstorage-sdm-1.6.8-rev.486.e2ff325
https://github.com/openvstorage/framework-alba-plugin/pull/303 --> openvstorage-backend-1.7.8-rev.863.7835ed9

[2016-12-08 14:14] kvanhijf opened #1255 "Implement a validate removal hook"
When removing a node, we first execute some removal stuff required by the framework (shrink vPools, ...)
Then some code gets executed to remove the plugins and other stuff by the use of so-called 'hooks'.
During the execution of these 'hooks', we sometimes raise errors because some prerequisites were not met.

Instead before actually starting the removal, we should implement another 'hook' which v

[2016-12-08 14:54] saelbrec opened #1256 "Do we need a longer retry period for service restarts?"
What is the time window the current upstart/systemd configuration will retry to restart a service.
I am here referring to the alba proxy issue in https://github.com/openvstorage/alba/issues/384 but it probably counts for others as well

[2016-12-09 10:41] pploegaert opened #1257 "Update of refresh_package_information is not threadsafe"
As observed on OVH environment during update and via code snippet:

[code]

Code snippet:

[code]

[2016-12-09 10:51] khenderick commented on #1257
The code snippet won't work, but I think the issue is that the SSHClient isn't thread-safe, which does make sense. So we should reduce the number of threads used.

[2016-12-09 14:08] kinvaris opened #1259 "Improve speed of non-cached queries"
**Note:** We've observed the following on a customer environment.

**Description:** The customer was creating a lot of vdisks and the API calls to fetch the vdisks became slower. After investigation we can see that the constant creation/deletion is correlated with the slowness of the api calls.

**How?** Everytime a vdisk is created/deleted the cache is invalidated. Therefor the query is re-execut

[2016-12-09 15:15] kinvaris opened #1260 "osd_timeout should be calculated instead of a fixed time"
After noticing twice on customer environments that `osd_timeouts` occur to much in the `alba-proxy` we've decided to create this ticket.

Currently the default is 2 seconds before a osd in a certain proxy is put into timeout. After discussion with @domsj and after testing this on customer environments we've agreed to increase this to 5 seconds.

This should be done on:
* The proxies used for the v

[2016-12-09 15:36] khenderick commented on #1259
In this particular case, to resolve it, we need to add support for field indexes to the DAL. Estimate 10d

[2016-12-11 10:13] saelbrec commented on #1259
@khenderick ,
Customer did not raise this issue in previous tests with double the amount of VM's. Anything changed in the caching or invalidation behavior?

[2016-12-11 11:02] khenderick commented on #1259
No. What happens here is basically that we ask the volumedriver for a list of ```volume_id```s which we then resolve to a list of ```vDisk``` guids. This query is - like all other queries - cached between 5 and 10 minutes, unless invalidated before. In this particular case, the customer was constantly creating and deleting vDisks causing the caches to be invalidated every time. Once they stopped t

[2016-12-12 02:53] hoannv46 commented on #1214
Who have tutorial install openvstorage.
Please send email me : hoannv46@gmail.com.
Thanks.

[2016-12-12 08:04] kvanhijf commented on #1257
Code snippet i used in order to reproduce:
[code]

[2016-12-12 08:06] kvanhijf commented on #1257
[code]

It took me 47 attempts (on a 4-node env) to reproduce it
On environments with more nodes, it should be easier to reproduce

[2016-12-12 08:09] khenderick commented on #1197
@redlicha, can you elaborate what we need to configure to get use case 3 to work?

[2016-12-12 08:33] redlicha commented on #1197
In the current state this use case should work with auto-migration enabled: the edge client E connects after network failure to voldrv B, and B can redirect I/O to A, and after a certain threshold is exceeded the volume is auto-migrated to B. E will still periodically check for the volume location at the same time and attempt to connect to it, which will not interfere while the network between E a

[2016-12-12 09:09] kvanhijf commented on #1257
Executing the same code, but with use of file_mutex lock per StorageRouter, i came down to an average of 21-22 sec per call, which is an increase of +/- 14sec --> not good
Executing the same code without locks and without threads, i came down to an average of 30-31 sec per call, so even worse

Now testing making use of a different SSHClient per function call in the threads, currently i'm at an ave

[2016-12-12 09:27] wimpers commented on #1260
@kinvaris @domsj  why is this something for the Framework? Why don't we update the default directly instead of setting 'a better default through the framework'?

[2016-12-12 09:32] hoannv46 commented on #1214
My wrong. I rung use root account.
I retry with ovs user. It work.

[2016-12-12 10:08] kvanhijf commented on #1257
https://github.com/openvstorage/framework/pull/1261 --> openvstorage-2.7.8-rev.4429.a90f470

@QA: GenericController.refresh_package_information now makes use of a new client instance per thread that is spawned. Executing the code snippet pasted earlier by me, should no longer introduce any issues

[2016-12-12 10:20] kinvaris commented on #1251
@khenderick: I've checked the environment and it appears that this is not the case.
This is a code snippit where it goes wrong:
[code]

The vdisk on this line `vdisk = VDiskList.get_by_devicename_and_vpool('/{0}'.format(vdisk_name), vpool)` returns `None` and we throw a `VDiskNotFoundError`.

When observing this error the `VDiskNotFoundError` is caught by this line: https://github.com/openvstorage

[2016-12-12 10:23] kinvaris commented on #1260
@wimpers because the framework deploys the configuration, this is easily changed and repackaged. As if we would have to change it in alba a recompile would need to take place.

[2016-12-12 10:26] wimpers commented on #1260
I disagree, it is up to alba to set a sane default and not upto the framework to patch every environment. Less chance for errors.

[2016-12-12 10:31] khenderick commented on #1251
When a ```create_vdisk``` is executed, you'll receive the new vDisk's guid back. Can you for testing purposes load the vDisk object with that guid and print it out? I'd like to know it's properties and relation to the vPool. After that, can you give me the exact paramters you pass into the ```get_by_devicename_and_vpool``` call.

You pass in some "vdisk name", while the ```get_by_devicename_and_vp

[2016-12-12 10:35] toolslive commented on #1260
2.0 seconds is a perfectly sane value. whether it's enough or even a good choice depends on other things like for example the fragment size in the preset, or the setup (compare geo to all-flash).
Alba cannot know what you have there.

Mind, It's no issue setting this to 5.0s, but it's an illusion to think that 5.0s is perfect/good/sane/goodenough for every deployment.

[2016-12-12 10:56] saelbrec commented on #1197
The read/write migration threshold settings on a vrouter to be taken into account, are the ones from the vrouter owning the volume or the one receiving the I/O?

[2016-12-12 11:01] redlicha commented on #1197
The one receiving the I/O from a consumer and forwarding it to the owner. IOW:
* volume V lives on voldrv B
* edge client E connects to voldrv A
=> A determines that volume is not local and forwards requests to B. On each such fwd'ed request a counter is incremented and once that reaches the threshold A will request B to transfer the ownership of V to it.

[2016-12-12 11:16] hoannv46 opened #1262 "cannot create vdisk use qemu"
I running openvstorage in ubuntu 16.04.
I create disk use
`qemu-img convert CentOS-6-x86_64-GenericCloud.qcow2 openvstorage+tcp:172.16.86.132:26203/vdiskdemo`
Error log
`qemu-img: openvstorage+tcp:172.16.86.132:26203/vdiskdemo: error while converting raw: cannot create volume: Input/output error`

[2016-12-12 12:34] wimpers commented on #1260
@toolslive I believe the proxy default was updated in https://github.com/openvstorage/alba/commit/0d0c4ab right?

I agree with you a better strategy than a default is to set the time-out based upon fragment size or other (to be defined) parameters. In that case it makes sense to 'calculate' and have the timeout being set by the framework. I'll keep this ticket open for that 'calculated' timeout.

[2016-12-12 12:44] wimpers commented on #1253
When you are in the office can you explain a bit in more detail or provide me a bit more context?

[2016-12-12 12:47] toolslive commented on #1260
No. the relevant value is this:
https://github.com/openvstorage/alba/blob/master/ocaml/src/cli_proxy.ml#L39
which is still 2.0s

[2016-12-12 13:06] khenderick commented on #1253
Let assume the volumedriver exposes call ```awesome``` with argument ```foo```. At a later version, the (optional) parameters ```bar``` could be added.

At this moment, the framework has calls to the volumedriver all over the code. At a lot of places, we might do ```awesome(foo=1)```. If the new feature introducing ```bar``` is integrated, all calls are updated so let's say the framework now calls

[2016-12-12 13:21] wimpers commented on #1259
@khenderick please clarify 'A few versions ago'? Which changes are you talking about?

[2016-12-12 13:28] wimpers commented on #1253
Why can't we handle this through package dependencies? If dependencies are set correctly across the board (so also on ALBA, Arakoon and voldrv) this should be tackled.

[2016-12-12 13:34] khenderick commented on #1253
As stated in the 3rd item; it would lock the framework to a given volumedriver version, so that means that the framework cannot be updated before the volumedriver, and we need extra care to not pull in a newer volumedriver when the framework is updated. This would basically cause a "one big update button" that updates everything at once.

[2016-12-12 13:38] wimpers commented on #1260
@domsj @toolslive do we keep the default now at 2 seconds in ALBA or not?

[2016-12-12 13:41] khenderick commented on #1259
The change was made based on OVS-4431, merged in on April 11 under the topic of speeding up the GUI (or make it usable on large environments) as like previously stated before that change, every single call would take e.g. 10 seconds, whilst it now takes a hit every 5-10 minutes (or when a new disk is added/removed)

[2016-12-12 13:48] wimpers commented on #1244
@khenderick if you save the vdisk (management actions), would that push the save through to the DTL checkup? I know this is a workaround.

[2016-12-12 13:57] wimpers commented on #1203
Please re-open if we have logs or can reproduce.

[2016-12-12 13:58] #1203 closed, assigned to kinvaris

[2016-12-12 14:01] wimpers commented on #1204
@kvanhijf Decided to disable by default the rollback and provide manual command to rollback.

[2016-12-12 14:07] openvstorage-ci commented on #1262
This issue was moved to openvstorage/volumedriver#200

[2016-12-12 14:07] #1262 closed, assigned to nobody

[2016-12-12 14:21] #1214 closed, assigned to nobody

[2016-12-12 14:22] wimpers commented on #1214
Re-open if  needed.

[2016-12-12 14:28] wimpers commented on #1251
@kinvaris please test Kenneth's suggestions.

[2016-12-12 14:33] khenderick commented on #849
Most likely a race condition of some sort where the Domain guids are already loaded, but the displayed text not.

[2016-12-13 04:32] hoannv46 opened #1263 "package dependency centos 7 15.11"
I run install openvstorage in centos 7 15.11
yum install --nogpgcheck --enablerepo=fc22 librbd1 librados2 gcc volumedriver-server -y.
This is my log.

`--> Finished Dependency Resolution
Error: Package: 1:librbd1-0.94.5-1.el7.x86_64 (base)
           Requires: libboost_thread-mt.so.1.53.0()(64bit)
           Available: boost-thread-1.53.0-26.el7.x86_64 (base)
               libboost_thread-mt.so.1

[2016-12-13 08:15] kvanhijf commented on #1244
Currently the DTL checkup is NOT triggered when saving a vDisk via the
management actions of that vDisk

[2016-12-13 08:19] kvanhijf commented on #1204
Ok, manual command to a (semi|non)-working rollback shall be implemented
Another great decision

[2016-12-13 08:25] wimpers commented on #1244
Would that be a possible short term workarouind?

[2016-12-13 08:28] kvanhijf commented on #849
Don't think its a race condition. When going through the code i don't see anything that actually waits for certain fields to be filled out. We just start showing stuff as soon as we have some info. I think we should introduce a general 'everything_is_loading' flag and only start displaying stuff when this flag is false again.
Shouldn't take more than a couple of hundred milliseconds

[2016-12-13 08:34] kvanhijf commented on #1244
Yes, but who would be responsible for triggering such workaround?  If our guys should execute this, we might as well provide them with a codesnippet to trigger the DTL checkup for a single vDisk instead of implementing yet another workaround

[code]

[2016-12-13 08:37] khenderick commented on #1247
I truly have no idea what is going on here. However, I'm sure there is a race condition possible in most of our create methods, so I'll fix that, assuming that the above report is somehow a result of this race condition.

[2016-12-13 09:13] khenderick commented on #849
But the fact that there are three checkboxes let me think that our list observable (```dtlTargets``` I think) would have three entries in it. And the function that process the text shown foreach item would then somehow return nothing (item not yet in the ```domainCache``` map?)

[2016-12-13 09:19] kinvaris commented on #850
### Status
PASSED

### OS:
`Ubuntu 16.04`

### Packages:
[code]

### Steps:
* Stop a volumedriver
* Removed it via the GUI

### Tested on:
* 1 node volumedriver cluster
* 3 node volumedriver cluster

[2016-12-13 09:19] #850 closed, assigned to khenderick

[2016-12-13 09:31] kinvaris commented on #735
### Status
PASSED

### OS
`Ubuntu 16.04`

### Steps
* Go to vPools page
* Go to tab `management actions`

### Result
![](http://i.imgur.com/8OjxWAr.png)

[2016-12-13 09:31] #735 closed, assigned to wimpers

[2016-12-13 09:36] kvanhijf commented on #849
yes, thats my thought as well
The domaincache is populated later in the process

[2016-12-13 10:31] toolslive opened #1264 "ALBA_LWT_ENGINE not set for command line alba calls"
so alba reverts to the default, which is `rselect`. This sometimes hangs, as we observed with `asd-multistatistics` on a rather largish environment (200+ ads)

[2016-12-13 11:39] wimpers opened #1266 "Metadata API - limit amount of metadata gets loaded into memory"
Allow to set the amount of metadata for cache per volume

[2016-12-13 11:50] wimpers commented on #1231
Added message to Essentials page in GitBook

[2016-12-13 12:13] wimpers commented on #1259
Just adding an index might not bring the time down from 30 s to under 1s I guess. So the index solutions might not work.

[2016-12-13 12:31] khenderick commented on #1247
Made a change by #1265, packaged in openvstorage-2.7.8-rev.4433.ad64456

[2016-12-13 13:58] JeffreyDevloo opened #1267 "Translation issue on rollback wizard"
### Problem description
A weird growl message is returned for the rollback wizard

![screenshot from 2016-12-13 14-43-42](https://cloud.githubusercontent.com/assets/17570109/21142906/9d12c632-c144-11e6-9786-e6ce70963c5b.png)
![screenshot from 2016-12-13 14-43-47](https://cloud.githubusercontent.com/assets/17570109/21142907/9e758492-c144-11e6-8b0c-5343d449a0e5.png)

### Packages
[code]

[2016-12-13 14:22] kinvaris commented on #604
### Status
PASSED

### OS
`Ubuntu 16.04`

### Flow
* Added 2 disks to a CI environment
* Created a MD device, added a partition table and added a filesystem
* Mount the MD device
* Check the GUI

### Results
* Top disk is the MD device
* `sdi` & `sdh` are the raid devices

![](http://i.imgur.com/u9vYdfG.png)

[2016-12-13 14:22] #604 closed, assigned to nobody

[2016-12-14 08:17] khenderick opened #1268 "Integrate call timeouts for volumedriver"
Integrate call timeouts for volumedriver

[2016-12-14 08:17] khenderick commented on #1268
Fixed by #1252, packaged in openvstorage-2.7.8-rev.4435.41b4f16

[2016-12-14 08:29] openvstorage-ci commented on #1264
This issue was moved to openvstorage/framework-alba-plugin#306

[2016-12-14 08:29] #1264 closed, assigned to nobody

[2016-12-14 10:47] kinvaris commented on #1227
yesterday @jeroenmaelbrancke & @saelbrec changed some settings on a customer environment to disable syslog forwarding on journald @wimpers

[2016-12-14 10:59] kinvaris opened #1270 "Config gone in config manager of abm arakoon"
**On all our CI test environments** we noticed the following exception:
[code]

After looking into why the exception occurs I noticed the following:
[code]

Apparently the arakoon ABM config is gone from the config manager.

[2016-12-14 11:09] kinvaris commented on #1270
After looking into the issue we saw that the `arakoon` prefix has been deleted from the config param: `/ovs/arakoon/arakoon-mybackend-abm/config` --> `/ovs/arakoon/mybackend-abm/config`

So the config does exists but just under another name

[2016-12-14 12:03] #1270 closed, assigned to nobody

[2016-12-14 13:25] khenderick commented on #849
Fixed by #1271, packaged in openvstorage-2.7.8-rev.4437.ecccd78

[2016-12-14 14:19] wimpers commented on #1227
@jeroenmaelbrancke  please document those changes here ...

[2016-12-14 16:07] kvanhijf commented on #1204
https://github.com/openvstorage/framework/pull/1272 --> openvstorage-2.7.8-rev.4441.ccf8e28

[2016-12-14 16:08] kvanhijf commented on #1204
@QA: Totally unsatisfied with own implementation because its a workaround, not a fix
So test at own risk

[2016-12-15 10:20] khenderick commented on #1259
Some observations on this particular environment:
* There are 4 vPools with a total of 32 StorageDrivers
* Depending on the load, a full non-cached query for the ```vdisks_guids``` for a single StorageDriver might take between 0.3 and 0.9 seconds. This is the time it takes to load data for all 2323 vDisks and filter them one by one to find those related to that StorageDriver
* Getting the cached r

[2016-12-15 14:37] wimpers opened #1274 "Integrate multiple proxies per voldrv"
The framework should setup 8 proxies per voldrv.

[2016-12-15 16:45] wimpers commented on #1266
What should be done if not enough space is available in mem? Should we block the creation of volumes if not enough RAM is available.

[2016-12-16 08:08] jeroenmaelbrancke commented on #1227
We changed the ForwardToSyslog setting to no in the journald config file.
The SystemMaxUse is set to 500M this means journal will limit the size on the journal files.
Turn off the rate limit with RateLimitInterval and RateLimitBurst, set this to 0.

/etc/systemd/journald.conf
[code]

restart journald:
systemctl restart systemd-journald.service

[2016-12-16 09:35] wimpers commented on #1266
Is there a way we can prevent the OOM killer to kill voldrv processes?

[2016-12-19 09:24] khenderick commented on #1274
[code]

[2016-12-19 12:47] openvstorage-ci commented on #1263
This issue was moved to openvstorage/volumedriver#210

[2016-12-19 12:47] #1263 closed, assigned to nobody

[2016-12-19 13:21] khenderick commented on #1256
For most systemd services, a failed services has to wait 100ms before systemd will start it again. Some services are configured to wait 3 seconds, others 5.

However, we use systemd's default rate limit, which should be 5 times per 10 seconds. Systemd should try to restart the service _forever_, but not more than 5 times every 10 seconds. So if e.g. a service immediately fails with a backoff of 10

[2016-12-19 14:30] khenderick commented on #1267
Fixed by #1277, packaged in openvstorage-2.7.8-rev.4448.2d17534

[2016-12-19 15:56] khenderick opened #1281 "Configure scrub proxies to cache-on-write if it has been configured for the vPool"
Configure scrub proxies to cache-on-write if it has been configured for the vPool

[2016-12-19 16:10] domsj commented on #1281
Also have a look at https://github.com/openvstorage/framework/issues/964
(This ticket could just be a comment there?)

[2016-12-19 16:14] khenderick commented on #1281
Not sure, I had the impression that this ticket was quite urgent, while #964 is marked as ```roadmap```.

[2016-12-19 16:23] khenderick commented on #1281
After some more discussion with @domsj, this ticket is a subset of #964 and moreover - since the scrubber has no partial reads - boils down to a duplicate of that ticket.

[2016-12-20 08:58] khenderick commented on #1274
Fixed by #1276, packaged in openvstorage-2.7.9-rev.4457.15529c2

[2016-12-20 09:01] pploegaert opened #1282 "ovs-workers log show invalid literal for int() with base 10 during urlparse of memcache servers"
Environment: OVH
Only occurs on multiple host envs

[code]

[2016-12-20 09:03] khenderick commented on #1282
According to http://docs.celeryproject.org/en/latest/userguide/configuration.html#cache-backend-settings, the result backend should be set to sth like:

```cache+memcached://<ip>:<port>;<ip2>:<port2>/``` which can't be parsed by python's ```urlparse```. It's normal, because it's not a valid url, but the question is why this environment suddenly uses kombu > urlparse to parse the path.

This config

[2016-12-20 09:13] pploegaert opened #1283 "Removing a storage node with disks/asds in error should clean up everything"
Noticed on OVH when several storage nodes were taken offline
The recycle bin icon on the right should not be enabled in this case according to @khenderick
As we will now simply remove the node from the model, while we should in fact remove all asds/disks first.

![screen shot 2016-12-19 at 09 35 06](https://cloud.githubusercontent.com/assets/8393135/21344607/e163d65c-c69c-11e6-9fff-cd2195b333c1.pn

[2016-12-20 09:32] pploegaert opened #1284 "global backend shows asds of local backend as available but they cannot be claimed"
cosmetic error:
global backend:
![screen shot 2016-12-19 at 09 48 23](https://cloud.githubusercontent.com/assets/8393135/21345200/7fad5804-c69f-11e6-9f60-56c585008172.png)

local backend - where asds are claimed:
![screen shot 2016-12-19 at 09 57 19](https://cloud.githubusercontent.com/assets/8393135/21345210/8d11921c-c69f-11e6-8b24-e5c2672a89ba.png)

[2016-12-20 12:27] khenderick commented on #1281
Close as duplicate

[2016-12-20 12:27] #1281 closed, assigned to nobody

[2016-12-20 12:30] khenderick commented on #964
After some discussions, the scrubbers will now use on-write caching in an accelerated alba scenario.

Fixed by #1285, packaged in openvstorage-2.7.9-rev.4461.92dc644

[2016-12-20 13:36] pploegaert opened #1286 "During update warnings were raised about missing version files in /opt/OpenvStorage/run"
On request of @kvanhijf
Noticed on OVH env

[code]

[2016-12-20 13:51] khenderick commented on #755
Relates to #1198

[2016-12-20 14:09] pploegaert commented on #1282
this can also be observed via celery flower in it's config tab
![screen shot 2016-12-20 at 15 09 48](https://cloud.githubusercontent.com/assets/8393135/21353464/6324aa4e-c6c6-11e6-925e-a24ec3a4783b.png)

e.g. http://127.0.0.1:5555/worker/celery@e187-1#tab-config

[2016-12-21 09:49] #1267 closed, assigned to nobody

[2016-12-21 09:54] #1185 closed, assigned to nobody

[2016-12-21 09:58] #837 closed, assigned to nobody

[2016-12-21 10:02] JeffreyDevloo commented on #852
All of these GUI changes have been implemented.

[2016-12-21 10:02] #852 closed, assigned to nobody

[2016-12-21 10:26] JeffreyDevloo commented on #904
### Information
We are using unattended install on a daily basis. We did not encounter this error anymore for the past several months.

[2016-12-21 10:26] #904 closed, assigned to nobody

[2016-12-21 10:46] kinvaris opened #1288 "Extending vPool with accelerated backend B but finishes successfully with accelerated backend A"
On a customer environment we observed the following:
* vPool is extended to node X with accelerated backend A --> successfully deployed with accelerated backend A
* vPool is removed from node X
* vPool is extended to node X with accelerated backend B --> successfully reported vpool_creation but with accelerated backend A

We are unable to change the accelerated backend on node X, even when clearin

[2016-12-21 11:13] JeffreyDevloo commented on #1146
### Steps
- Setup latest cluster
- Downloaded logs

### Output
Archive with:
![selection_103](https://cloud.githubusercontent.com/assets/17570109/21387200/df28c106-c776-11e6-806f-6bd9180684a1.png)

The journald log is added twice

### Test result
Test failed. Duplicate log.

[2016-12-21 12:23] JeffreyDevloo commented on #790
### Steps
- Setup cluster
- Added 1 node with DB role
- Created backend
- Setup vpool
- Tried to extend vpool

### Output
GUI
![selection_102](https://cloud.githubusercontent.com/assets/17570109/21386220/1cd74248-c772-11e6-9d64-68261b45cf97.png)
API
[code]
And my vpool is no longer usable.

### Test result
Test failed.

[2016-12-21 12:26] JeffreyDevloo commented on #790
This ticket handled mostly over the GUI. Therefore closing.

[2016-12-21 12:26] #790 closed, assigned to nobody

[2016-12-21 12:33] JeffreyDevloo opened #1289 "Vpool unusable after extending with wrong params using API"
### Problem description
Linked ticket: https://github.com/openvstorage/framework/issues/790
When using the API and sending the wrong data (or missed some requirements eg. DB role)
You are unable to manage this vpool and you lose the write cache because of the unusable vpool.

This only occurs when extending using the API itself and supplying the wrong information. The vpool immediately starts to s

[2016-12-21 12:45] JeffreyDevloo commented on #793
### Information
Fixed in the GUI but still some issues with API. (https://github.com/openvstorage/framework/issues/1289)

### Test result
Test passed.

### Packages
[code]

[2016-12-21 12:45] #793 closed, assigned to nobody

[2016-12-21 12:46] JeffreyDevloo commented on #798
### Steps
- Setup cluster
- Configured cluster
- Removed 2 of the 3 nodes

### Output
All the nodes were removed.

### Test result
Test passed.

### Packages
[code]

[2016-12-21 12:46] #798 closed, assigned to nobody

[2016-12-21 12:55] JeffreyDevloo commented on #777
### Information
This issue has been covered by both a unittest ( ovs/lib/tests/vdisk_tests/test_dtl_checkup.py ).

[2016-12-21 12:55] #777 closed, assigned to khenderick

[2016-12-21 13:00] JeffreyDevloo commented on #805
### Information
We have not seen issue on any of our environments. This issue basically meant no response from API calls, which we require for our testing.

[2016-12-21 13:00] #805 closed, assigned to nobody

[2016-12-21 13:04] #834 closed, assigned to nobody

[2016-12-21 13:07] JeffreyDevloo commented on #1069
### Information
We did not encounter this error anymore on our testing environments.

[2016-12-21 13:07] #1069 closed, assigned to khenderick

[2016-12-21 13:09] #1189 closed, assigned to khenderick

[2016-12-21 13:21] JeffreyDevloo commented on #815
### Information
Verified when I was verifying https://github.com/openvstorage/framework-alba-plugin/issues/174.
ASDS can be removed from a missing disk.

[2016-12-21 13:21] #815 closed, assigned to nobody

[2016-12-21 13:32] JeffreyDevloo commented on #896
### Information
We use the rollback API call in our automated tests and have not faced any issues with the API call. Then again we are a little bit behind in verification...

[2016-12-21 13:32] #896 closed, assigned to nobody

[2016-12-21 13:34] JeffreyDevloo commented on #911
### Information
The name was being cut up because of the dot splitting. Since the related ticket(:github.com/openvstorage/framework/issues/912) has been closed, I am closing this one too.

[2016-12-21 13:34] #911 closed, assigned to khenderick

[2016-12-21 13:44] khenderick opened #1290 "Multiple StorageDrivers per vPool/StorageRouter"
Multiple StorageDrivers per vPool/StorageRouter.

A few shortcuts:
* Requested cache is shared between instances (we need to inform the user about this in the GUI)
* Non-changeable amount of StorageDrivers
* Amount of StorageDrivers is not configurable (hardcoded to 4).

[2016-12-21 14:09] JeffreyDevloo opened #1291 "Sorting issue with storage nodes on backends"
### Problem description
Context: occurred when I removed a disk from my virtual machine, restarted the virtual machine and automatically got back to backend page
![gifrecord_2016-12-21_150719](https://cloud.githubusercontent.com/assets/17570109/21392296/7f43feea-c78f-11e6-9908-fb6ac4aaeb19.gif)

[2016-12-21 14:49] JeffreyDevloo commented on #947
### Information
Covered by the mds autotest.

[2016-12-21 14:49] #947 closed, assigned to nobody

[2016-12-22 07:56] wimpers commented on #1290
@jeroenmaelbrancke @matthiasdeblock @kinvaris please investigate if this has any consequences on the healthcheck and monitoring. If so create the necessary tickets on the respective repo.

[2016-12-22 09:56] pploegaert opened #1294 "When using external arakoons custom abm/nsm service names can no longer be found after update"
Cause is this change:
https://github.com/openvstorage/framework-alba-plugin/commit/ece00090d3b7be2fe5c63cab2e3577ca1c09eaef
line 139

OVH env was setup with these parameters:
https://github.com/openvstorage/setups/blob/master/openvstorage/production/ovh/files/setup_global.json

When using external arakoon we can safely assume what the arakoon config key will be.
OVH was running fine until update t

[2016-12-22 11:44] openvstorage-ci commented on #1294
This issue was moved to openvstorage/framework-alba-plugin#321

[2016-12-22 11:44] #1294 closed, assigned to nobody

[2016-12-22 12:18] saelbrec opened #1295 "More file descriptors for alba arakoons(abm + nsm)"
Since we implemented https://github.com/openvstorage/framework/issues/1274 there are way more client connections going into the abm and nsm clusters which leads to the necessity to configure higher number of allowed filedescriptors.
2 vpools over 5 nodes with each 8 proxies for example will open 800 client connections into the abm arakoon. Lets set the new limit to 8192(same as alba proxies).

[2016-12-22 12:19] khenderick commented on #1295
Let's not forget the migration code.

[2016-12-22 12:42] openvstorage-ci commented on #1295
This issue was moved to openvstorage/framework-alba-plugin#322

[2016-12-22 12:42] #1295 closed, assigned to nobody

[2016-12-22 12:54] kvanhijf opened #1296 "Open file descriptor inconsistencies"
Our alba-maintenance and alba-proxy service templates have an open file descriptor limit configured, but for systemd this limit is set at 8192, while for upstart its set to 4096

Systemd
```LimitNOFILE=8192```

Upstart
```limit nofile 4096 4096```

The 2 numbers in the upstart config file indicate a hard and a soft limit and the number of open file descriptors is not the sum of the 2 numbers as fa

[2016-12-23 08:35] khenderick commented on #1290
Todos:
* [ ] All folders (mds, caches, ...) need to be somehow prepended with the storagedriver identifier
* [ ] Inform user about the fact that the selected cache will be devided amongst all installed storagedrivers
* [ ] Wait for all storagedrivers to start
* [ ] Cover scenarios where one or more of all storagedrivers cannot be started (clean the other ones up?)
* Migration code:
  * [ ] Move al

[2016-12-23 08:53] kvanhijf commented on #1146
https://github.com/openvstorage/framework/pull/1298 --> openvstorage-2.7.9-rev.4470.263f5e9

@QA: Duplicate file has been renamed from `ovs_journald.log` to `journald.log` and should thus only be present once

[2016-12-23 15:35] openvstorage-ci opened #1300 "Backend role can be overwritten by api"
_From @JeffreyDevloo on November 21, 2016 13:22_

### Problem description
The GUI prohibits the ability to configure a disk, that has been claimed for a backend, with any of the roles.
The API however still allows the disk/partition to be configured to your liking.

#### Testing code
[code]
### Output
[code]
### Possible solution
Return an error when the role is ['BACKEND']

_Copied from original

[2016-12-23 15:45] kvanhijf commented on #1300
https://github.com/openvstorage/framework/pull/1301 --> openvstorage-2.7.9-rev.4474.678a949

[2016-12-23 16:14] wimpers commented on #1197
Currently nothing needs to happen and we will see how it turn out? Ok for you @saelbrec

[2016-12-26 09:05] kvanhijf commented on #1068
https://github.com/openvstorage/framework/pull/1303 --> openvstorage-2.7.9-rev.4476.91633b0

@QA:
Avahi clusternames are limited to 63 characters
Therefore the implementation is now as following:
[code]
For \<node_name\> we take the last 24 characters of the name in case its longer than 24 chars
Eg:
node_name = 'my_ovs_cluster_my_long_node_name' --> would become 'luster_my_long_node_name'

For \<i

[2016-12-27 16:46] pploegaert opened #1304 "Update to ovs setup reorder the questions asked and breaks the interactive setup"
This changes the order of the interactive setup ... pls move the question for the public IP after the cluster_name, as we now can ask to create a new cluster, get a question for the ip and then the question for the cluster_name

This breaks the interactive setup and requires an update of the documentation too ...

[2016-12-28 13:09] JeffreyDevloo opened #1305 "asd-manager puts all nvmes under one node"
### Problem description
We found the following case on a gig environment:
![selection_110](https://cloud.githubusercontent.com/assets/17570109/21522492/4287160a-cd06-11e6-8eb8-872a6c2938a2.png)
This is the first node that has a nvme drive and it appears that all of the other nodes nvmes are put on this node on the backend page

Node 12-17 have 2 nvmes each and node 17-20 have 1 each. So a total of

[2016-12-28 13:18] wimpers commented on #1305
Duplicate of https://github.com/openvstorage/framework/issues/1231 ?

[2016-12-28 13:19] JeffreyDevloo commented on #1305
Duplicate indeed, should have checked. Also wrong repo...

[2016-12-28 13:19] #1305 closed, assigned to nobody

[2016-12-28 15:43] wimpers commented on #1304
@pploegaert @kvanhijf  I believe this one can be closed as we will keep the changes in the framework and update the documentation and integration test?

[2016-12-28 16:02] kvanhijf commented on #1304
If @pploegaert also agrees: yes

[2016-12-29 07:54] wimpers opened #1306 "ovs setup --preconfig some.json"
In the integration tests we now setup roles and backends and claim disks based upon a json. This should be part of the OVS framework so you can do `ovs setup --preconfig some.json `.

Add in the GUI (under Administration) an option to upload a json and run` ovs setup --preconfig some.json` to configure your cluster.

[2016-12-30 11:16] kvanhijf opened #1307 "DTL deployment possible enhancements"
Currently we are implementing the multiple StorageDrivers feature. While doing this, the question arose whether to also deploy multiple DTL services on each node.
In our current setup, we deploy max 1 DTL service on a host and this DTL can be used by any and all vPools

Questions that pop up:
1) Will performance be impacted when a lot more StorageDriver processes make use of a single DTL?
2) Shoul

[2017-01-02 08:32] khenderick commented on #1307
The DTL isn't shared between vPools, and we deploy one DTL per SD. I assume this bug is invalid, @kvanhijf?

[2017-01-02 08:40] kvanhijf commented on #1307
Point 2) in the description is invalid indeed, but we could still verify whether to deploy 1 DTL per voldrv instance per node per vpool OR 1 DTL per node per vpool regardless of the amount of voldrv instances

In the current code, the 2nd is implemented

[2017-01-03 07:04] pploegaert commented on #1304
Issue moved to [openvstorage/integrationtests #394](https://github.com/openvstorage/integrationtests/issues/394) via [**ZenHub**](https://www.zenhub.com/)

[2017-01-03 08:07] #1304 closed, assigned to nobody

[2017-01-03 13:35] openvstorage-ci opened #1308 "Multiple proxies share fragment cache directory"
_From @khenderick on December 23, 2016 8:47_

We seem to have missed the issue that at this moment, all proxies share the same fragment cache directory and the size. This means that proxies will mess up each others cache and the size can grow beyond expected values.

_Copied from original issue: openvstorage/framework-alba-plugin#324_

[2017-01-04 09:10] khenderick opened #1309 "Integrate new rora"
Integrate new rora. From now on, the voldrv needs to use rora if:

no local fragment cache

[2017-01-04 09:13] khenderick commented on #1309
See openvstorage/alba#545

[2017-01-04 16:50] domsj commented on #1309
Now is still the time to come up with something more elaborate?

Enabling rora is actually only useful when the preset that is used for the backend from which the partial reads are supposed to be done (the fragment cache backend if any, or just the backend if no fragment cache was specified) does not use compression.
and does not use encryption. (once https://github.com/openvstorage/alba/issues/44

[2017-01-05 08:25] khenderick commented on #1309
That does make a lot of sense; in the future it could even start to "learn" what gives the best performance by giving all options a try and see what's best.

[2017-01-05 08:44] khenderick commented on #1309
After discussion with @domsj and @wimpers, it was decided that Alba will figure out whether to use rora or not based on the parameters it can detect. The framework will enable it by default.

[2017-01-05 09:26] khenderick commented on #1282
I never saw that on any other environment. @JeffreyDevloo, did you see it on any of your test envs?

[2017-01-05 09:37] JeffreyDevloo commented on #1282
Did not encounter this message on:
- Personal test envir
- Nightly builds

Also I think that OVH is up for some maintenance/reinstall. With the loss of several nodes and the installation that went funky, I'd suggest putting some effort in into making it sane again (preferably by reinstalling)

[2017-01-05 09:39] wimpers commented on #1282
After discussion with @khenderick , closing this ticket. Re-open if we can reproduce.

[2017-01-05 09:42] openvstorage-ci commented on #1227
This issue was moved to openvstorage/dev_ops#45

[2017-01-05 09:42] #1227 closed, assigned to jeroenmaelbrancke

[2017-01-05 09:54] khenderick commented on #1266
What exactly is expected?

[2017-01-05 10:00] wimpers commented on #1266
See https://github.com/openvstorage/framework/issues/884

currently the amount of metadata pages for a volume are fixed:
[code]

We need an API so we can change the number of pages for a volume. The APi should expect a nr between 0 and  100 where 100 means all pages are in mem. if set to 10, 10% of the pages are in mem.

[2017-01-05 10:02] wimpers commented on #1119
The user should be able to add a key in arakoon config which defines a redis endpoint. If nothing specified the default one the framework sets up is used.

[2017-01-05 10:05] wimpers commented on #1119
@khenderick @domsj  how easy would it be to make this updatable? Would ALBA have issues with an update to the redis endpoint?

A new endpoint would of course mean that all data around fragment usage is gone.

[2017-01-05 10:07] domsj commented on #1119
Fyi there's an alba ticket for this: https://github.com/openvstorage/alba/issues/381
Might take half a day or a day or so to implement.

[2017-01-05 10:09] domsj commented on #1119
Hmm, this is about the redis cluster functionality too?
The ocaml redis client currently has no support for that, so implementing that will take some time too...

[2017-01-05 10:36] wimpers commented on #1266
For QA, please do test the scenario of the shrinking the size while a volume is in use.

[2017-01-05 10:41] khenderick commented on #1119
@wimpers, just adding a value from configuration instead of "our own" is a very small change. Making it updatable will obviously be more work since we have to add some API (and GUI interface) to change the value.

[2017-01-05 10:43] khenderick commented on #1266
@redlicha, is there an issue with shrinking the size?

[2017-01-05 10:52] wimpers commented on #1266
This needs to be done on vdisk level. When you create a vdisk you set a percentage and if needed you can update later on (volume restart).

[2017-01-05 13:20] wimpers opened #1312 "Set default amount of proxies per voldrv to 2"
Set default amount of proxies per voldrv to 2 instead of 8

[2017-01-05 15:04] khenderick commented on #1119
Implementation after discussions: A user can configure an external redis endpoint which can be used. The framework still decides the key (`alba_lru_<guid>`).

[2017-01-05 15:05] khenderick commented on #1119
Fixed by openvstorage/framework-alba-plugin#325
Dev package: openvstorage-backend_1.7.9-dev.1483628338.ea9af3f

[2017-01-05 15:10] khenderick commented on #1309
Fixed in #1311
Dev package: openvstorage-2.7.9-dev.1483628517.b61d45a

[2017-01-05 16:17] khenderick commented on #1266
After a lot of discussions and questions:
* The create disk API should get an optional parameter to set the amount of metadata that should be cached (float percent, e.g. 0.5 for 50%)
* A new API must be created to update this value for a given disk (also in percent, so 0.1 for 10%)
* If not specified, 100% is cached
* Increasing and decreasing is supported
* Regardless of requested percentage, the

[2017-01-06 11:00] wimpers commented on #1266
No need to keep the old absolute value. as that didn't work as expected.

[2017-01-06 14:31] khenderick commented on #1266
Fixed by #1313
Dev package: openvstorage-2.7.9-dev.1483712466.c647c26

[2017-01-09 10:44] domsj opened #1314 "delete vdisk from detail page redirects to wrong page"
vpools -> choose vpool -> choose vdisk -> delete vdisk
redirect goes to vdisks page instead of going back to vpool detail page

[2017-01-09 13:50] kvanhijf commented on #1308
https://github.com/openvstorage/framework/pull/1310 --> openvstorage-2.7.9.1
https://github.com/openvstorage/alba-asdmanager/pull/200 --> openvstorage-2.7.9.1

@QA:
ALBA ASDmanager changes:
* Alba ASDs now have 8192 max openfiles
  * Both for systems using Upstart and SystemD
  * Existing ASD processes should be updated from 1024 to 8192 after updating ALBA plugin
  * Can be verified like this: ``

[2017-01-09 13:58] kvanhijf commented on #1312
Fixed by #1308

[2017-01-09 14:09] kvanhijf commented on #1296
Fixed by #1308
ALBA maintenance and ASD processes are fixed using the post-update code executed via the post-installation scripts of the openvstorage-SDM package

Arakoon is fixed by the migration code for the extensions
ALBA proxies are fixed by the migration code for the multiple proxies. Those services are replaced by new services and thus recreated from the new templates (using 8192)

[2017-01-09 14:12] kvanhijf commented on #1291
Fixed by https://github.com/openvstorage/framework-alba-plugin/issues/326

[2017-01-09 15:32] kvanhijf commented on #1289
https://github.com/openvstorage/framework/pull/1318 -- > openvstorage-2.7.9-dev.1483975363.540a29b

[2017-01-09 15:42] khenderick commented on #1289
openvstorage-2.7.9.1

[2017-01-09 15:42] khenderick commented on #1312
openvstorage-2.7.9.1

[2017-01-09 15:42] khenderick commented on #1309
openvstorage-2.7.9.1

[2017-01-09 15:42] khenderick commented on #1308
openvstorage-2.7.9.1

[2017-01-09 15:43] khenderick commented on #1296
openvstorage-2.7.9.1

[2017-01-09 15:43] khenderick commented on #1283
openvstorage-2.7.9.1

[2017-01-09 15:43] khenderick commented on #1266
openvstorage-2.7.9.1

[2017-01-09 15:51] wimpers commented on #1260
Default has been changed to 10s (https://github.com/openvstorage/alba/pull/557)

[2017-01-09 15:55] khenderick opened #1320 "Redis is only listening on 127.0.0.1"
Redis is only listening on 127.0.0.1 iso the public ip address. Do we want to reconfigure it to listen to the public ip address so it can actually be used for Alba's LRU?

[2017-01-09 16:01] wimpers commented on #1320
Yes, please

[2017-01-09 16:35] kvanhijf opened #1323 "Remove Etcd"
We are currently still supporting Etcd to be used for our configuration management, but currently the setup is even broken when using Etcd. Framework doesn't get enough time to implement changes and test both with Etcd and Arakoon, resulting in a broken installation (and most likely a lot more issues).
So we should either make sure that all paths involving Etcd are properly tested or remove Etcd e

[2017-01-09 16:38] kvanhijf commented on #1255
https://github.com/openvstorage/framework/pull/1321 --> openvstorage-2.7.9-dev.1483979402.3f4c326

[2017-01-09 16:44] khenderick commented on #1320
Fixed by #1322
Dev package: openvstorage-2.7.9-dev.1483979756.f1e6532

[2017-01-09 16:50] khenderick commented on #1320
openvstorage-2.7.9.2

[2017-01-09 17:00] khenderick commented on #1255
openvstorage-2.7.9.2

[2017-01-10 08:14] khenderick commented on #945
Fixed by @kvanhijf as side effect from #852 and was packaged in openvstorage-2.7.5-rev.4281.6612d8c

[2017-01-10 09:14] khenderick commented on #1119
openvstorage-backend-1.7.9.1

[2017-01-10 10:45] kinvaris opened #1327 "Fragment cache reservation should be manageable"
Currently when you create a vPool, 10% of the global write buffer is reserved for the fragment cache. Instead of giving the fragment cache 10%, this should be manageable from the GUI/API.
E.g. Reserved amount of global write buffer for fragment cache: 100MB

This request is originating from the fact that our CI environments don't have the min. limit to support the fragment cache. Currently the min

[2017-01-10 11:03] kvanhijf commented on #1327
This request doesn't make much sense imo. Our tests should test whatever the customer can/should expect and in this case, the customer should not be able to make use of a fragmentcache smaller than 1GiB.
Fragment cache (local) smaller than 1GiB will only make the read/write actions slower, thus it has absolutely no benefit making this configurable.

Going by the fact that QA only uses 10GB for wri

[2017-01-10 11:51] wimpers opened #1328 "Force delete of all data of a vdisk"
In some cases it will be mandatory to guarantee that **all** data is removed if a vDisk is removed (backend, cache). This might consist of a procedure before actually wiping the vDisks as a part.

[2017-01-10 11:54] openvstorage-ci commented on #1328
This issue was moved to openvstorage/home#48

[2017-01-10 11:54] #1328 closed, assigned to nobody

[2017-01-10 12:45] kinvaris commented on #1327
@kvanhijf for testing purposes this would be nice to make it smaller than 1GB, because we are limited in our space. For customer purpose this would be good because the customer can then choose if the fragment cache needs to be bigger then 1GB e.g. with a 10G global write buffer

[2017-01-10 13:57] wimpers commented on #1327
The value should be a percentage  and should also allow to do this for a fragment cache across an ssd backend.

[2017-01-10 14:05] kvanhijf commented on #1327
When adding the same calculation for an SSD backend, we would have to dynamically scale the fragment cache size setting, meaning having to restart the ALBA proxies. So every time an additional ASD is claimed / removed we would have to do this. Is this what we want to do?

[2017-01-10 16:07] kvanhijf commented on #1235
Button has been created in the GUI along with an API to accomplish a voldrv config reload. Question is, do we still need a way via the CLI to accomplish the same thing when we have an API call for this?

[2017-01-10 16:59] wimpers commented on #1089
Closed by PM.

[2017-01-10 16:59] #1089 closed, assigned to nobody

[2017-01-10 16:59] wimpers commented on #1088
Closed by PM.

[2017-01-10 16:59] #1088 closed, assigned to nobody

[2017-01-10 17:00] wimpers commented on #1083
Closed by PM.

[2017-01-10 17:00] #1083 closed, assigned to khenderick

[2017-01-10 17:00] wimpers commented on #972
Closed by PM.

[2017-01-10 17:00] #972 closed, assigned to nobody

[2017-01-10 17:00] wimpers commented on #910
Closed by PM.

[2017-01-10 17:00] #910 closed, assigned to nobody

[2017-01-10 17:00] wimpers commented on #895
Closed by PM.

[2017-01-10 17:00] #895 closed, assigned to nobody

[2017-01-10 17:00] wimpers commented on #891
Closed by PM.

[2017-01-10 17:00] #891 closed, assigned to nobody

[2017-01-10 17:01] wimpers commented on #866
Closed by PM.

[2017-01-10 17:01] #866 closed, assigned to nobody

[2017-01-10 17:01] wimpers commented on #864
Closed by PM.

[2017-01-10 17:01] #864 closed, assigned to nobody

[2017-01-10 17:01] wimpers commented on #862
Closed by PM.

[2017-01-10 17:01] #862 closed, assigned to nobody

[2017-01-10 17:01] wimpers commented on #844
Closed by PM.

[2017-01-10 17:01] #844 closed, assigned to nobody

[2017-01-10 17:01] wimpers commented on #830
Closed by PM.

[2017-01-10 17:01] #830 closed, assigned to nobody

[2017-01-10 17:01] wimpers commented on #822
Closed by PM.

[2017-01-10 17:01] #822 closed, assigned to nobody

[2017-01-10 17:02] wimpers commented on #813
Closed by PM.

[2017-01-10 17:02] #813 closed, assigned to JeffreyDevloo

[2017-01-11 08:14] kvanhijf commented on #1239
https://github.com/openvstorage/framework/pull/1329 --> openvstorage-2.7.10-dev.1484121862.5191274

[2017-01-11 08:39] wimpers opened #1331 "Gui to change the voldrv config"
In https://github.com/openvstorage/framework/issues/1239 we introduced a button to reload the config of  a voldrv. Currently this will pass or fail. If it passes it states that new changes have been loaded but not which ones

This ticket is to:
* allow to change the values through the GUI.
* after reloading display a summary of the changed values.

For this to be completed, https://github.com/open

[2017-01-11 08:59] wimpers commented on #1327
@domsj how hard would it be to make the fragment cache settings dynamically reloadable in the proxie?

[2017-01-11 09:20] kvanhijf commented on #1177
https://github.com/openvstorage/framework/pull/1330 --> openvstorage-2.7.10-dev.1484125907.1889922

[2017-01-11 09:50] domsj commented on #1327
@wimpers you're talking about changing the size of a local fragment cache, right?

It's certainly possible, and shouldn't be too hard. We already have a method to evict items from the local fragment cache ... so it's just a matter of calling this method with the right arguments when this part of the config changes.

Regarding @kvanhijf's comment: there seems to have been some confusion... claiming

[2017-01-11 10:03] wimpers commented on #1327
@domsj So there is there a difference between local fragment cache and a distributed one code wise (taht is what I read in your last comment that you can't set a size on the fragment cache in case it is distributed) Since all our setups are now using a distribute cache, we were only thinking in that direction.  The idea was to set a limitation per vPool on the amount of space that a vPool can use

[2017-01-11 10:06] kinvaris opened #1332 "VPool with global write buffer < 2GB is unusable"
# Problem

In continuation of https://github.com/openvstorage/volumedriver/issues/228, the framework allows you to create a vPool with global write buffer smaller than the given `backoff_gap` of 2GB.
[code]

2GB `backoff_gap` is set by default as seen here: https://github.com/openvstorage/framework/blob/68577ee755207a8a4ead758c50c8debc995cd1e4/ovs/lib/storagerouter.py#L762

This results in the vPo

[2017-01-11 10:15] #1289 closed, assigned to nobody

[2017-01-11 10:16] #1312 closed, assigned to nobody

[2017-01-11 10:17] #1268 closed, assigned to nobody

[2017-01-11 10:18] #1238 closed, assigned to khenderick

[2017-01-11 10:18] #1220 closed, assigned to khenderick

[2017-01-11 10:19] #1204 closed, assigned to nobody

[2017-01-11 10:19] domsj commented on #1327
Yes there's a big difference code wise between a local fragment cache vs one of type 'alba' (aka a distributed one).
For a fragment cache of type alba you (at least currently) can't limit how much space will be used for a certain vpool/proxy/whatever.
Adding such a limitation would require more work ... would need to
- have a different prefix (for cache namespaces) per vpool
- periodically refresh

[2017-01-11 10:19] #1148 closed, assigned to nobody

[2017-01-11 10:20] #1123 closed, assigned to nobody

[2017-01-11 10:26] wimpers commented on #1327
Create https://github.com/openvstorage/alba/issues/564 for that as FR

[2017-01-11 10:29] #1068 closed, assigned to nobody

[2017-01-11 10:29] #1000 closed, assigned to nobody

[2017-01-11 15:52] wimpers opened #1333 "Block allowing to set a cloned volume as template"
Block allowing to set a cloned volume as template as this caused https://github.com/openvstorage/volumedriver/issues/229 to appear.

* Block this in the API
* Don't allow it in the GUI by disabling the set as template button

[2017-01-12 10:35] saelbrec opened #1336 "Ability to check if it's safe to take down a storagedriver"
Moving volumes from one storagerouter to another does not necessarily mean that after having completed that action it is safe to turn off the storagedriver on the original storagerouter.
It's not because the original instance does not own any volumes any more that it's MDS is no longer used. Shutting it down while it still would be creates the risk for volumes running on other storagedrivers to su

[2017-01-13 10:25] wimpers commented on #1323
To be discussed with stakeholders

[2017-01-13 14:08] wimpers commented on #1323
After discussion with stakeholders: can be removed.

[2017-01-13 14:09] matthiasdeblock opened #1339 "Extending vpool failed due to an existing directory"
Version: Fargo RC2

Create vpool worked fine, extending failed with the following error:
[code]

[2017-01-13 14:17] matthiasdeblock commented on #1339
Root cause:
[code]

[2017-01-13 15:38] wimpers commented on #828
@kinvaris , @JeffreyDevloo  do we still see issues with creating multiple backends at once now that we use arakoon instead of etcd.

[2017-01-13 15:39] wimpers commented on #755
Fix https://github.com/openvstorage/framework/issues/1332 also when working on this

[2017-01-13 15:44] kvanhijf commented on #1323
https://github.com/openvstorage/framework/pull/1340 --> openvstorage-2.7.10-dev.1484653038.84fddbd
https://github.com/openvstorage/alba-asdmanager/pull/206 --> openvstorage-sdm-1.6.10-dev.1484653188.cc593cb
https://github.com/openvstorage/framework-alba-plugin/pull/333 --> openvstorage-backend-1.7.10-dev.1484653119.dadeb6d

[2017-01-13 15:47] wimpers commented on #600
I understand that this would lead to  issues but on the other hand this causes annoyance when you set the first Storage Router. You first need to assign the domain to another storage router and next you need to update the first one again. Same if you want to config things automatically.

Maybe a better idea is to have the health check check if there are storage routers which have a recovery domain

[2017-01-13 16:00] wimpers commented on #600
The solutions also doesn't protect us if all the storage routers with that primary domain are gone. Health check is the only way to go I believe.

[2017-01-13 16:03] khenderick commented on #600
Why put this in another tool if we can as well and with minimum effort put e.g. an exclamation mark next to such selected domain if it has no primary entry yet. The customers can select what they want, and they immediately are reminded of the fact that they still have to set it as primary somewhere.

[2017-01-16 08:12] wimpers commented on #600
I like the !-idea. The user can still select what he wants but is reminded that there is an issue.
Created https://github.com/openvstorage/openvstorage-health-check/issues/258 for  the health check.

[2017-01-16 09:21] wimpers commented on #828
Moved away from etcd and should not happen anymore.

[2017-01-16 09:25] wimpers commented on #545
We will move to ovs setup.
Working around an existing ovs user will not be tackled as it is in the documentation that no such user may exist.

[2017-01-16 09:28] wimpers commented on #1314
Too much work for RC3.

[2017-01-16 09:38] wimpers commented on #696
This has been made faster. Please re-open this ticket if needed ( and add timings) if this would still be an issue.

[2017-01-16 09:38] #696 closed, assigned to khenderick

[2017-01-16 09:56] wimpers opened #1341 "Update durandal"
There is a newer version of Durandal out (2.1) with more functionality and bug fixes. Let's update the current version we have.

While at it we should also fix https://github.com/openvstorage/framework/issues/1077 .

[2017-01-16 09:56] wimpers commented on #1077
Will be solved as part of a larger ticket (Update durandal)

[2017-01-16 10:11] wimpers opened #1342 "Maintenance mode for the framework"
There are some scenarios where a maintenance mode would be needed for the framework or for a subset of nodes to prevent actions from being executed on these nodes.

An example is removal of a node. There could be some tasks being still executed on that node while the call comes to remove the node. We need to check the open tasks, wait for them to finish, set the maintenance mode and block all inco

[2017-01-16 10:11] wimpers commented on #804
Will be fixed as part of a larger ticket https://github.com/openvstorage/framework/issues/1342

[2017-01-16 10:16] wimpers commented on #1342
Use http://fontawesome.io/icon/life-ring/ as icon in the gui

[2017-01-16 13:53] wimpers commented on #1332
Minimal write buffer should be bigger than trigger_gap and backkoff_gap.

[2017-01-17 08:49] wimpers opened #1345 "Storage Router Disk Management"
Currently we don't manage in any way the disks of a storage router. This leads to various issues & annoyances. Some examples
* https://github.com/openvstorage/framework/issues/832
* https://github.com/openvstorage/framework/issues/705
* https://github.com/openvstorage/framework/issues/905
* https://github.com/openvstorage/framework/issues/954
* https://github.com/openvstorage/framework/issues/994

[2017-01-17 12:33] kvanhijf commented on #1323
@QA:
* Deleted /opt/OpenvStorage/config/templates/systemd/ovs-etcd-proxy.service
* Deleted /opt/OpenvStorage/config/templates/systemd/ovs-etcd.service
* Deleted /opt/OpenvStorage/config/templates/upstart/ovs-etcd-proxy.service
* Deleted /opt/OpenvStorage/config/templates/upstart/ovs-etcd.service
* Deleted /opt/asd-manager/source/tools/configuration/etcd_config.py
* Recursively deleted /opt/OpenvSt

[2017-01-17 12:39] kvanhijf commented on #1333
https://github.com/openvstorage/framework/pull/1338 --> openvstorage-2.7.10-dev.1484656223.e74fe20
@openvstorage/qa : openvstorage-2.7.10.1

[2017-01-17 14:28] kvanhijf opened #1349 "Cannot shrink vPool when ALBA policy has not been satisfied"
Encountered this issue by executing the following:
* 4 node setup with vPool extended over all nodes
* Node 1, 2 and 3 each had 1 ASD initialized and claimed and i used default policy (2, 2, 3, 4) to create a vPool
* Removed node 3 entirely along with the ASD --> Policy was not satisfied anymore
* Shrinking the vPool now failed with below error:
[code]
* This resulted in another error further on
[

[2017-01-17 15:36] pploegaert commented on #660
It's quite easily reproducible ... and the error is shown as reported above ...
It doesn't break anything at first sight ... but I'd fix this ...
- it doesn't give a good impression when setting up a backend already raises an error
- every customer running into this will contact support -> ticket -> engineering ... So we should avoid this ticket roundtrip anyway in favor of a better product impres

[2017-01-17 15:39] JeffreyDevloo opened #1351 "Mark halted volumes in the GUI"
### Problem description
All info about the volumes and vpool are lost when the volume is not running.

![selection_115](https://cloud.githubusercontent.com/assets/17570109/22027219/6f82c654-dcd3-11e6-9b4e-940f98d09c2a.png)
The volume in the screenshot also has 55GB of data stored. However because its down it reports 0.
A result of this is that the vpool reports less data than the backend currently

[2017-01-17 15:40] khenderick commented on #660
Most likely a misunderstanding here. This is the original ticket that was just reported on the wrong repo.

[2017-01-17 15:40] #660 closed, assigned to pploegaert

[2017-01-17 15:41] JeffreyDevloo opened #1352 "Removing a vpool while mountpoint is busy just removes vpool from dal"
### Problem description
When removing a vpool whilest the mountpoint is busy (by being in there in the kernel) results in the vpool being removed from the DAL and killing the vpool.
The vpool however comes back up and can still run.

@todo need to put further proof here.

[2017-01-17 15:43] kvanhijf commented on #800
https://github.com/openvstorage/framework/pull/1350 --> openvstorage-2.7.10-dev.1484667229.0ab83af

[2017-01-17 15:45] khenderick commented on #1259
Fixed by #1344 and openvstorage/framework-alba-plugin#334
Packaged on dev:
* openvstorage-backend-1.7.10-dev.1484667310.2c3bcc1
* openvstorage-2.7.10-dev.1484667229.0ab83af

[2017-01-17 15:45] kvanhijf commented on #800
@QA:
DTL for vDisks in GUI will be grey in following scenarios:
* DTL is globally disabled on the vPool
* DTL has been manually configured to disabled via the vdisk-detail page

The DTL for a vDisk should consistently be correctly displayed on all pages:
* vDisk overview page
* vDisk detail page
* vPool detail page --> vdisks tab
* StorageRouter detail page --> vdisks tab

[2017-01-17 15:57] #1077 closed, assigned to nobody

[2017-01-17 15:57] #828 closed, assigned to nobody

[2017-01-17 15:57] #804 closed, assigned to JeffreyDevloo

[2017-01-17 15:58] kvanhijf commented on #1198
Fixed by https://github.com/openvstorage/framework/issues/1308
While implementing the multiple proxies, an optimization for the add vPool wizard was done which also included this fix.

Included in openvstorage-2.7.9.1

[2017-01-17 16:23] wimpers commented on #1351
I believe the reason why it is zero is because we directly fetch that data from the volumedriver. In case the volume is down the volumedriver returns zero. The framework has no knowledge about the stored data.

Some things we could do:
* Keep a value for the stored data (and other parameters) which gets updated daily. Don't think this is a good idea.
* Indicate clearly that the volume isn't starte

[2017-01-17 17:09] kvanhijf commented on #1339
https://github.com/openvstorage/framework/pull/1355 --> openvstorage-2.7.10-dev.1484727982.9ae03a5

[2017-01-18 08:37] kvanhijf commented on #1339
@openvstorage/qa : While removing or shrinking a vPool make sure to have a shell open in which you 'occupy' the vpool mountpoint or any subdirectory in the vPool mountpoint
The removal should now fail and when leaving the vpool mountpoint directory, you should be able to delete the vPool properly

[2017-01-18 08:45] pploegaert commented on #1184
Volumedriver installation is indeed broken - as we no longer provide support for CentOS - closed
with --skip-broken is does continue however ...
[code]

Installing a recent volumedriver pkg results in dependency problems - to be investigated if still necessary:

[code]

[2017-01-18 08:45] #1184 closed, assigned to nobody

[2017-01-18 08:52] pploegaert commented on #1184
@saelbrec: pls comment if still necessary - thx

[2017-01-18 09:14] khenderick commented on #1259
Another change by #1354. Packaged on dev in openvstorage-2.7.10-dev.1484730133.01fa7e8

[2017-01-18 09:30] wimpers commented on #1235
Yes as now you need to leave the cli to click that  button.  @khenderick considered the button in the GUI to be the fastest way to implement this functionality.

[2017-01-18 09:46] kvanhijf commented on #1235
@wimpers : Sarcastic question: Why don't we create CLI commands to add roles to partitions, create domains, create users, link backends. create vDisks, ... ? Wouldn't that also be beneficial for the customer?

[2017-01-18 09:59] wimpers commented on #1235
The idea to do that is already living for a long time but this should hopefully roll out of  the API (based upon the swagger implmentation https://github.com/openvstorage/framework/issues/1021).

[2017-01-18 10:00] wimpers commented on #1235
There is even a ticket for it https://github.com/openvstorage/home/issues/28

[2017-01-18 11:14] khenderick commented on #999
Fixed by #1356, packaged on dev in openvstorage-2.7.10-dev.1484735440.d43e582

[2017-01-18 13:25] wimpers commented on #1349
Before removing the node, we should check that the policy can still be satisfied for writing new objects and is not leading to dataloss for existing objects. once you are in a status with unsatisfiable policy,  we can't ensure that things still work.

[2017-01-18 13:32] wimpers commented on #1307
We want 1DTL per storage driver. So a 1 to 1 relation for storage drivers and DTLs.

@kvanhijf anything that needs to happen in that case.

[2017-01-18 13:33] kvanhijf commented on #1349
@wimpers : Removing the node? I was shrinking my vPool cluster. The amount of ASDs remained the same at that moment. I'd expect to be able to shrink a vPool cluster regardless of safety? We allow the creation and extension of a vPool too when the policy has not been met, so why not shrinking?

[2017-01-18 13:51] khenderick commented on #1256
@wimpers, as you closed the ticket, does it mean that all configurations are OK?

[2017-01-18 14:01] wimpers commented on #1256
@khenderick systemd restarts forever  x times per 10 sec it ws ok for @saelbrec

[2017-01-18 14:06] wimpers commented on #1184
It seems CentOS is currently broken. I will create a new ticket to gather all tasks around CentOS.

[2017-01-18 14:13] khenderick commented on #1256
Ah, in that case it's OK.

I was under the impression that some services would be restarted too often, or that for some services it was desired that the restarting was stopped after a given amount of time (just as it was the case with Upstart) to prevent flooding the logs with the same error over and over again, and allowing for example the HC to correctly mark the service as not running or failed

[2017-01-18 15:25] wimpers commented on #1349
After discussion with @kvanhijf it was clear that he first removed a node rendering the cluster doomed as too many disks are removed.

Updated https://github.com/openvstorage/framework-alba-plugin/issues/282 to also execute a check when removing a node.

[2017-01-18 15:27] wimpers commented on #1349
The removal of the node should have been blocked. The vPool errors are a logical consequence.

[2017-01-18 15:29] kvanhijf commented on #1349
@wimpers : What do we do when a node is dead / offline?  Obviously we cannot block the removal in such case?

[2017-01-18 15:32] wimpers commented on #1349
First add a new node with ASDs.

[2017-01-18 15:35] matthiasdeblock opened #1357 "RDMA capable is set to False but still able to create vpool with RDMA"
When the flag RDMA capable is set to false it is still possible to create a vpool with RDMA. Extending is not possible.

Had this on a GIG environment. The nodes were not RDMA capable but the integration_test from @openvstorage/qa was able to create a vpool but was unable to extend it.

It has to be impossible to create a RDMA vpool when the nodes are not RDMA capable.

[2017-01-18 15:46] kvanhijf commented on #1357
The 'dtl_transport' entry in the 'config_params' should be validated whether it can be set on the vPool.
When 'dtl_transport' != 'TCP' and rdma_capable flag on the StorageRouter is False, we could potentially first refresh the Storagerouter's hardware. If after this check, the rdma_capable flag is still False, setting up / extending the vPool should raise.

[2017-01-19 09:16] pploegaert commented on #1256
@wimpers: we were going to validate this as part of QA too

[2017-01-19 09:59] khenderick commented on #600
Fixed by #1358, packaged in dev openvstorage-2.7.10-dev.1484819295.b90ca13

[2017-01-19 13:46] wimpers commented on #1357
Lets fix this in the API.

[2017-01-19 13:50] wimpers commented on #1352
We should first try to remove from the voldrv and only when that works remove from the DAL?

[2017-01-19 13:52] kvanhijf commented on #1357
@wimpers : Should be blocked in GUI too

[2017-01-19 13:54] kvanhijf commented on #1352
Issue can be closed since removing a vPool while the mountpoint is kept busy is no longer possible
Has been fixed by https://github.com/openvstorage/framework/issues/1339

[2017-01-19 13:56] wimpers commented on #1351
If volume is halted , mark the volume with a red line in the GUI and put -  for the dynamic properties.

[2017-01-19 13:57] wimpers commented on #1351
The fact that the  vPool doesn't contain the stored amount isn't a problem.

[2017-01-19 14:00] openvstorage-ci commented on #1256
This issue was moved to openvstorage/integrationtests#407

[2017-01-19 14:28] wimpers commented on #1352
@pploegaert fyi maybe good to write a  test for this.

[2017-01-19 14:32] #1352 closed, assigned to nobody

[2017-01-19 14:33] #1256 closed, assigned to pploegaert

[2017-01-19 14:57] khenderick commented on #1288
Fixed by #1360, packaged on dev in openvstorage-2.7.10-dev.1484837266.35ad485

[2017-01-19 15:09] wimpers commented on #1342
The maintenance mode should block:
* create new vDisks on it
* DTLs for vDisks
* have vDisks (?)
* metadataservers on the node

[2017-01-20 08:28] wimpers commented on #1190
This ticket  creates a link between https://github.com/openvstorage/framework/issues/1345 and https://github.com/openvstorage/framework/issues/1342.

Basically if we encouter a broken DB disk or write buffer disk and there is no spare, we put the host in maintenance.

Which means:
* block creation of vdisks
* move vdisks away
* shutdown DTLs and MDS

I also believe we will need https://github.com/

[2017-01-20 08:34] khenderick commented on #1190
It will also need some kind of monitoring as the framework at this point does not monitor itself, so there's no process that on a regular interval checks certain statussen to take the required actions. Even if the code to put nodes in maintenance, we will still have to implement something that checks everything and takes the correct actions (e.g. check the disk state every minute and if issues ari

[2017-01-20 09:19] #1177 closed, assigned to nobody

[2017-01-20 09:19] #1339 closed, assigned to nobody

[2017-01-20 09:23] kvanhijf commented on #1288
@openvstorage/qa : openvstorage-2.7.10.1

[2017-01-20 09:23] kvanhijf commented on #1259
@openvstorage/qa : openvstorage-2.7.10.1

[2017-01-20 09:23] kvanhijf commented on #1239
@openvstorage/qa : openvstorage-2.7.10.1

[2017-01-20 09:24] kvanhijf commented on #1198
@openvstorage/qa : openvstorage-2.7.10.1

[2017-01-20 09:25] kvanhijf commented on #999
@openvstorage/qa : openvstorage-2.7.10.1

[2017-01-20 09:25] kvanhijf commented on #800
@openvstorage/qa : openvstorage-2.7.10.1

[2017-01-20 09:25] kvanhijf commented on #600
@openvstorage/qa : openvstorage-2.7.10.1

[2017-01-20 10:49] openvstorage-ci opened #1366 "Scrubber hangs when logging to stderr"
_From @redlicha on January 17, 2017 9:8_

Possibly caused by a pipe buffer filling up and not being drained via the read end.

_Copied from original issue: openvstorage/volumedriver#230_

[2017-01-20 10:49] openvstorage-ci commented on #1366
_From @redlicha on January 20, 2017 9:36_

Workaround: pass a different log sink to the `scrub` method.

[2017-01-20 10:49] openvstorage-ci commented on #1366
_From @redlicha on January 20, 2017 10:42_

Investigation suggests this is not a problem with the voldrv's scrubbing code:
[code]
results in this for the forked scrubber process:
[code]

However, inspecting an occurence of the hang, stderr is there redirected to a pipe:
[code]
The scrubber process was forked off by rpyc:
[code]
[code]
CC @khenderick: IOW this seems to be a framework issue: the pip

[2017-01-20 12:37] wimpers commented on #954
The DB disk is also used for the metadata servers, do we want to roundrobin these also across the db disks?

[2017-01-20 12:41] wimpers commented on #1336
Can we pick this up when doing https://github.com/openvstorage/framework/issues/1342 ?

[2017-01-20 14:58] khenderick commented on #1366
Should be fixed by #1367, packaged in openvstorage-2.7.11-dev.1484923760.0654d1b

[2017-01-20 15:53] khenderick commented on #1284
I can't reproduce this.

@pploegaert, can you give more information on what exactly was going on, or steps on how to reproduce this?

[2017-01-23 09:22] khenderick commented on #1286
Logging was reduced.

Fixed by:
* #1368
* openvstorage/framework-alba-plugin#343
* openvstorage/alba-asdmanager#213

Packaged on dev:
* openvstorage-2.7.11-dev.1485162662.a8be0b0
* openvstorage-backend-1.7.11-dev.1485162748.288b270
* openvstorage-sdm-1.6.11-dev.1485162819.2f1fb7c

[2017-01-23 09:48] khenderick opened #1369 "Investigate possible slower backend detail page"
Investigate possible slower backend detail page

[2017-01-23 13:52] khenderick opened #1370 "Allow actions to be retried or rolled back"
Allow actions to be re-tried or rolled back.

In case certain services are unavailable during important tasks, we need a way of finishing them as soon as possible, or revert them if there is no way forward.

For example, if the configuration management cluster becomes unavailable, most of the administrative tasks will fail. However, it should be good that the framework can decide whether the task

[2017-01-23 13:53] khenderick commented on #828
This ticket got closed, but one of the last discussions was not yet resolved. I've extracted it into a new ticket: #1370

[2017-01-23 13:53] khenderick commented on #1253
We could use (part) of the work from #1370 to resolve this. Some migrations could be a task that is currently blocked (not all volumedrivers are at version X) and should be continued as soon as this condition is met.

[2017-01-23 14:01] khenderick commented on #1369
Moved to https://github.com/openvstorage/framework-alba-plugin/issues/344

[2017-01-23 14:01] #1369 closed, assigned to khenderick

[2017-01-23 14:14] JeffreyDevloo commented on #1146
### Steps
- Setup cluster
- Downloaded logs

### Output
![screenshot from 2017-01-23 15-13-14](https://cloud.githubusercontent.com/assets/17570109/22207233/9ba8b50e-e17e-11e6-8500-f6783ea0b626.png)

### Test result
Test passed.

[2017-01-23 14:14] #1146 closed, assigned to khenderick

[2017-01-23 14:51] JeffreyDevloo commented on #1225
PR above is used for update purposes.

Actual regeneration in case service files got messed up:
https://github.com/openvstorage/framework/pull/1348

[2017-01-23 14:51] #1225 closed, assigned to nobody

[2017-01-23 15:12] JeffreyDevloo commented on #800
Closing because it solely handles about GUI.

[2017-01-23 15:12] #800 closed, assigned to kvanhijf

[2017-01-23 15:15] JeffreyDevloo commented on #1323
Ever since Arakoon was the default configuration management we never really cared about ETCD anymore.
Like kvanhijf says: even the setup was broken...
Not worth validating the removal of files...

[2017-01-23 15:15] #1323 closed, assigned to wimpers

[2017-01-23 15:49] JeffreyDevloo commented on #1300
### Steps
Identical as above

### Output
[code]

### Test result
Test failed. Could still overwrite the backend role.

### Packages
[code]

[2017-01-23 15:50] JeffreyDevloo commented on #1291
Did not encounter this annoying bug anymore on the affected environment.

[2017-01-23 15:50] #1291 closed, assigned to nobody

[2017-01-23 15:56] JeffreyDevloo commented on #1300
Test was wrong as it overruled a DB role (other issue).

[2017-01-23 15:56] #1300 closed, assigned to nobody

[2017-01-23 15:58] JeffreyDevloo opened #1371 "Disk roles should not be able to be overruled when they are in use"
### Problem description
All roles (except Backend) can be overruled by using the API regardless of whether they are actually being used.

### Packages
[code]

[2017-01-23 16:01] wimpers opened #1372 "DTL role for storage router disk management"
Currently the DTL is on the same disk as the write buffer. Add another role DTL to assign the DTL role to an SSD. There should be 1 and only 1 disk with a DTL role.

[2017-01-23 16:02] wimpers commented on #1372
@kenneth How much work would this be? Can you provide a rough estimate?

[2017-01-24 08:08] domsj commented on #1370
Fwiw rollback doesn't even have to be fully automatic. E.g. in the case of #828 @JeffreyDevloo probably would've been happy already if the delete backend button wasn't disabled and could actually clean up the semi-created backend.

Questions to keep in mind: are you sure the cleanup (or roll forward) code will be executed under all circumstances? What about powerloss or some other unexpected exit

[2017-01-24 09:03] wimpers commented on #1212
Seems the basic use case is already covered:

The DTL also keeps the vPool in mind so if the vPool isn't extended to that node it will not run the DTL. If it can't find any nodes to run in the Recovery domain, it will faalback and try to find one in the primary domain.

[2017-01-24 14:35] khenderick commented on #1079
Awaiting a decision on whether to expose it into the GUI. Current state: exposure over API ready in #1373

[2017-01-24 15:00] khenderick commented on #545
An update on the current state.

In the package pre-install scripts, the `ovs` user is created if it doesn't yet exist. If created, it's home directory will be `/opt/OpenvStorage/`. In the post-install script, SSH keys will be generated in the `ovs` and `root` user's home directory if they don't yet exist.

The setup however exchanges keys between the `ovs` and `root` users on across all nodes bec

[2017-01-24 15:02] khenderick commented on #545
Todo:
* Move key generation to the setup
* Use `~/.ssh/` when keys are being exchanged.

Side effect: it should not matter whether `/opt/OpenvStorage/` is the `ovs` user's home directory or whether an `ovs` user was created beforehand. The fact that it was documented as "the `ovs` user should not exist" was merely a workaround for the pending issue stated in my earlier comment.

[2017-01-24 16:45] wimpers commented on #1079
Not for now.

[2017-01-24 16:46] wimpers commented on #1079
@khenderick I guess your are ready?

[2017-01-24 16:48] khenderick commented on #1079
Still need to wrap up, get it reviewed, ... But I know enough to continue.

[2017-01-24 17:09] wimpers opened #1375 "Configure the DTL over RDMA"
In case there is RDMA hardware, allow to specify that the DTL can run on  RDMA.

[2017-01-25 07:58] khenderick commented on #1079
Packaged on dev: openvstorage-2.7.11-dev.1485330534.68f0d39

[2017-01-25 10:07] wimpers opened #1376 "Improve edge HA node selection"
In case of a HA scenario the Edge doesn't take into account node which are down (marked offline) or in maintenance (https://github.com/openvstorage/volumedriver/issues/236).

The framework should set the distance to max cost 2**32-1 if a node is set to offline.

[2017-01-25 12:44] kinvaris opened #1377 "Enable/disable automigration per volume via API"
In continuation of https://github.com/openvstorage/volumedriver/issues/241, we should be able to enable/disable automigration per volume via a API call.

[2017-01-25 16:19] wimpers commented on #1375
@khenderick , I saw you can already select transport mode under DTL. So this one is covered. Does it do more then setting the transport for the DTL f.e. transport to the ASDs/Edge? The edge transport type gets set on the edge side by `openvstorage+<protocol>:<ip of the performance node>:<vPool port>/<vDisk name>` where the protocol is RDMA.

[2017-01-25 16:19] wimpers commented on #1375
![addvpool](https://cloud.githubusercontent.com/assets/8392927/22298881/65102450-e322-11e6-821a-5c3a7bbaaa79.jpg)

[2017-01-25 16:52] wimpers commented on #1372
Open question:
Should be there be 1 and only 1 disk with a DTL role? Since each vpool has its own DTL process, it might be good to round robin across multiple DTL disks? @saelbrec  wdyt?

[2017-01-25 17:12] saelbrec commented on #1375
@wimpers ,
This DTL selectable transport mode is currently not having any effect as it is configuring the 'distributed_transaction_log' section in the volumedriver config which is overruled via command line options in the systemd service.
So it can indeed be re-purposed to configure the selected protocol for the DTL service being deployed.

@khenderick  ,
Any concerns/questions about this?

[2017-01-25 20:09] khenderick commented on #1375
Assuming that this ticket is only about whether the DTL should or should not use RDMA, I can't see anything that we might be missing as long as the DTL settings is shared on vPool level.

[2017-01-26 07:17] wimpers commented on #1375
Correct. All DTLs need to be on RDMA for a vPool.

[2017-01-26 07:32] khenderick commented on #1375
On a side note, shouldn't we also put some effort in getting rid of the "global RDMA flag" then, and just allow the user to between RDMA and TCP for ASDs and Edge as well? Can be a separate ticket, but isn't much work anyway. This global flag never actually worked as we never got a user that needed all-or-nothing.

[2017-01-26 08:17] wimpers commented on #1190
If we have https://github.com/openvstorage/volumedriver/issues/236 we can at least make sure no new volumes can be created if the voldrv is set into maintenance.

I'm not convinced (for now) that the framework should automatically set this mode when detecting a broken DB disk.

[2017-01-26 08:30] khenderick commented on #1190
So that means "the user should make sure he sees that the disks are broken and should then press the right button".

[2017-01-26 08:37] wimpers commented on #1190
Correct, the OPS monitoring should tell him that a disk is broken. This means that OPS monitoring should be intelligent enough so a user isn't called out of bed for a dead ASD.

[2017-01-26 09:14] saelbrec commented on #1375
Initially we were specifically asked to implement the all or nothing approach, but your suggestion is what it should have been.
As there are use cases where this flexibility in configuration is required. Will be tackled in different issue.

[2017-01-26 10:01] khenderick commented on #545
Fixed in #1374, packaged on dev openvstorage-2.7.11-dev.1485422228.1396dc5

[2017-01-26 12:30] matthiasdeblock opened #1379 "Support for ZFS"
Version: Fargo RC2
POC Vorboss

While assigning the roles, I got the following errors in the workers:
[code]

This was caused due to the ZFS filesystem on the disks:
[code]

Had to remove the partitions first.

[2017-01-26 13:38] wimpers commented on #1376
To be discussed for Gilbert.
How much time would it take?

[2017-01-26 14:28] khenderick commented on #1376
We would need to keep track of whether a StorageDriver is marked offline or not. Either by a fixed property that we set/clear on the API call, or (preferably) a dynamic property so we can ask the StorageDriver whether it's online or offline (@arne, can we somewhere see if a given StorageDriver is marked offline?). Then we can indeed set the distance to max between the offlined StorageDriver and th

[2017-01-26 15:58] wimpers commented on #1351
Original name of this ticket `Show volume information even when volume is down` renamed to `Mark halted volumes in the GUI`

[2017-01-27 08:27] khenderick commented on #1375
Fixed by #1380, packaged on dev in openvstorage-2.7.11-dev.1485505077.b6988cb

The DTL RDMA setting will reflect in the DTL server configuration. The global RDMA flag will be ignored.

[2017-01-27 08:28] khenderick commented on #1379
@matthiasdeblock, where do you see the ZFS information? Can you execute `zpool status` to see the zpool's layout?

[2017-01-27 08:33] khenderick commented on #1372
@wimpers, shouldn't take more than a few days

[2017-01-27 09:34] matthiasdeblock commented on #1379
@khenderick all the disks got wiped...

Also, it looks like I forgot to paste some more info:
[code]

Output you asked for was negative. Module was not loaded.
[code]

Alba did not had any issues to claim the disks. Only assigning the roles did not work.

[2017-01-27 09:44] khenderick commented on #1379
If the zfs modules are not loaded, are you sure it was actually ZFS that was the cause of the issue, or just the lvm-on-top-of-md that we don't support (correctly)?

[2017-01-27 10:38] matthiasdeblock commented on #1379
I'm sure it was this:
[code]

After removing the partitions it worked without any issue.

[2017-01-27 12:44] khenderick commented on #1372
Set to `state_question`. No need to start this one with open questions.

Extra question: Do we want to support extending a vPool to a node without a DTL role (e.g. not having a DTL server at that point)

[2017-01-27 14:13] khenderick commented on #1371
Fixed by #1381, packaged on dev in openvstorage-2.7.11-dev.1485525731.ddd3e51

[2017-01-27 14:26] jeroenmaelbrancke opened #1382 "Error when adding backend"
Problem:
Got following error when creating a backend with the ovs gui. (already created 2 backend without an issues)

Error ovs-workers:
[code]

Version:
[code]

[2017-01-30 10:30] khenderick commented on #1155
Fixed by #1383, packaged on dev in openvstorage-2.7.11-dev.1485771651.d559f2f

[2017-01-30 10:50] khenderick commented on #1379
Odd that `/dev/sdc` wasn't in the `lsblk`.

[2017-01-30 12:33] kvanhijf commented on #755
Cannot reproduce any of above scenarios
Probably due to latest vPool wizard rework

[2017-01-30 12:33] kvanhijf commented on #755
Shouldn't have closed probably

[2017-01-30 13:07] kinvaris opened #1384 "Children vdisks of vtemplate is 0 but in reality its >= 1"
I was in the process of expanding the vtemplate testing. When I hit a strange issue; the amount of children that was displayed on a certain vtemplate was 0 but in reality (and in model) it was 1.

Looking further at the issue with @khenderick, there was a front-end issue.

[2017-01-30 13:15] wimpers commented on #1143
Alba part is no longer being done

[2017-01-30 13:15] #1143 closed, assigned to nobody

[2017-01-30 14:34] matthiasdeblock commented on #1379
Not sure what happened when pasting in GH but it was...

Output from another node that had the same configuration but is not part of the OVS cluster:
[code]

[2017-01-30 14:49] matthiasdeblock opened #1385 "Add the PID to ovs monitor services"
Before systemd the PID was printed when executing 'ovs monitor services'. This was and would useful to check if a component is constantly booting or not.

[2017-01-30 15:01] saelbrec commented on #1372
Q1: Should there be 1 and only 1 disk with a DTL role? Since each vpool has its own DTL process, it might be good to round robin across multiple DTL disks
Agree, it makes sense to support multiple DTL roles from which can be chosen when the vpool is added/extended. Multiple DTL processes for a given vpool on one and the same node is however not required.

Q2: Do we want to support extending a vPoo

[2017-01-30 15:28] khenderick commented on #1372
@saelbrec, while it can be done in theory, it needs more work to actually make it useful. I'd suggest to create a separate ticket once we need it.

[2017-01-31 08:26] saelbrec commented on #1372
k, fine by me.

[2017-01-31 08:42] kvanhijf opened #1386 "Add space reservation for the DTL role"
Once the volumedriver team has implemented space reservation for a DTL role, the framework should also be able to set this limitation in the model (Eg: Similar to what we used to do for the DB role)
If 1 partition gets assigned a WRITE role and a DTL role, we can assign for example 30% of available space to DTL and rest to the WRITE role

[2017-01-31 10:29] wimpers commented on #1386
This duplicates nr 2 of https://github.com/openvstorage/framework/issues/624

[2017-01-31 11:27] kvanhijf commented on #1372
@openvstorage/qa :
A new required DTL role has been introduced. When creating/extending a vPool, the StorageRouter on which you wish to create/extend must have (and can only have) 1 DTL role

https://github.com/openvstorage/framework/pull/1387 --> openvstorage-2.7.11-dev.1485873245.cd485ed

[2017-01-31 13:22] JeffreyDevloo commented on #1247
Currently investigating why this behavior occurs

[2017-01-31 14:09] wimpers opened #1389 "API to restart a volume"
API to restart a volume

[2017-01-31 14:13] kvanhijf commented on #1389
In which cases would we require this?  Shouldn't this type of action be attempted by some sort of monitoring? And raise an alert for OPS in case of failure
Or do we have other scenarios in which we can end up with a bunch of halted volumes?

[2017-01-31 14:27] khenderick commented on #1389
@kvanhijf, it's most likely to be used as a workaround where the volumedriver doesn't keep trying to start it's volumes e.g. after a reboot. It's possible that the backend starts up slower and that the backend is not yet available when the volumedriver process starts.

So most likely, somebody will have to write a tool that checks for volumes that are down, validate whether they should or should n

[2017-01-31 14:30] kvanhijf commented on #1389
@khenderick : aka monitoring?

[2017-01-31 14:37] khenderick commented on #1389
Most likely indeed.

[2017-01-31 15:13] JeffreyDevloo opened #1390 "Creating and deleting a vdisk with the same devicename in a loop is asking for trouble"
### Problem description
Creating and deleting the same vdisk (with identical name and thus identical devicename) is asking for trouble.
The current issues that this flow produces is:
- Stale metadata:
Disks that are present in DAL but not there in reality. You can see this easily when there is no more storage_id or storagerouter information
(![screenshot from 2017-01-31 16-10-42](https://cloud.git

[2017-01-31 15:19] khenderick commented on #1390
Basically creating a vDisk through the API will cause an event from the volumedriver to be processed. If celery can't cope with the amount of tasks, the events will be processed way too late. The thing is that a `devicename/vPool` combination unique is, and we assume that if we find one, we somehow missed a single event. We will then update that data object with all new information (including the

[2017-01-31 15:24] khenderick commented on #1390
@JeffreyDevloo, we might however add this as a test to make sure we can handle this scenario in the future.

[2017-01-31 15:25] kvanhijf commented on #1385
@openvstorage/qa :
Nothing much to add here, PIDs can now be seen for active processes in 'ovs monitor services' and 'asd-manager monitor services'

https://github.com/openvstorage/framework/pull/1391 --> openvstorage-2.7.11-dev.1485875678.f4f16fd
https://github.com/openvstorage/alba-asdmanager/pull/215 --> openvstorage-sdm-1.6.11-dev.1485875758.57ce40e

[2017-01-31 15:49] wimpers commented on #1389
@kvanhijf yes, we now have customer monitoring going into the Framework internals to restart a disk.  Would make more sense to offer them an API

[2017-01-31 16:30] openvstorage-ci commented on #1112
This issue was moved to openvstorage/framework-alba-plugin#350

[2017-01-31 16:30] #1112 closed, assigned to kvanhijf

[2017-01-31 17:06] redlicha commented on #1351
You need to differentiate between a *non-running* volume (restart failed for example, or problems during migration) and a *halted* volume (volume is running but will refuse I/O due to a grave error, e.g. fenced by another instance on another node or other fatal errors - these are signalled via voldrv events):
* non-running: `info_volume` or other calls directed at the volume will not be able to lo

[2017-02-01 08:21] khenderick commented on #1384
Fixed by #1392, packaged on dev in openvstorage-2.7.11-dev.1485936521.c25e423

[2017-02-01 12:50] kinvaris opened #1393 "vPool with 2 proxies fails to deploy with 20+10 GB write disk"
We have a environment that has a 2 write disks (20GB and 10GB). This should be sufficient to deploy 1 vPool with fragment cache enabled on disk:
[code]

* 2 proxies: min. 2 GB fragment cache
* 20GB sco cache

So this should be seperated in 18 GB sco cache and 2 GB fragment cache.

But we get the following error:
[code]

Because the framework favors the biggest disk first instead of load balancing

[2017-02-01 14:00] kvanhijf commented on #1351
@openvstorage/qa :
All volumes will have status field similar to backend and vPools
This status field should be displayed on:
* vDisk overview page,
* vDisk detail page,
* vPool detail page - vDisk tab,
* StorageRouter detail page - vDisk tab

Following colors apply:
* Green: Running volumes
* Orange: Non-running volumes (See comment by Arne what non-running means)
* Red: Halted volumes (See comme

[2017-02-01 16:54] saelbrec opened #1395 "mds_services in model not in sync with reality"
Found this on GiG's be-g8-4 environment(Fargo RC2)

[code]

[code]

[2017-02-02 08:11] khenderick commented on #1395
Only an issue in the model, shouldn't have any real impact since e.g. reconfigurations always start from reality.

[2017-02-02 09:32] wimpers opened #1397 "Configurable MDS safety per vPool"
Currently the MDS safety is a global config parameter set to 3. This makes sense for geoscale vPools  but might not be desirable for vPools which are completely local.

This ticket tackles that:
* Move the MDS safety config to a vPool level.
* Extend the create vPool API with an option to configure the MDS safety.
* In case there is a recovery domain set in the GUI, the amount of mds_safety is 3 o

[2017-02-02 09:36] khenderick opened #1398 "Update should be able to handle certain partial failures"
Update should be able to handle certain partial failures.

If e.g. all components are selected and the install of one of the non-framework packages fails, the update is aborted and the services are restarted. This might reveal a non-working state since e.g. framework migrations have not been executed at that point.

A better approach would be that in such case, it still tries to finish the framewo

[2017-02-02 09:56] wimpers commented on #1398
From @khenderick : ballpark estimate 3-6 days.

[2017-02-02 10:06] JeffreyDevloo opened #1399 "Display number of proxies on the vpool detail page"
### Problem description
Currently you can select the amount of proxies in the GUI but after the creation you can no longer fetch it using the GUI.

[2017-02-02 10:18] kvanhijf commented on #1389
Fixed by https://github.com/openvstorage/framework/issues/1351

https://github.com/openvstorage/framework/pull/1394  --> openvstorage-2.7.11-dev.1485960176.10850d4
https://github.com/openvstorage/framework-alba-plugin/pull/352 --> openvstorage-backend-1.7.11-dev.1485960239.26b33e6

[2017-02-02 10:25] saelbrec commented on #713
The MDS namespace is only removed when the backend namespace is deleted. But if for some reason the MDS master/slaves get reconfigured this will over time result in MDS namespace possibly existing on all storagedriver instances while only a subset (being mds_safety) requires to have them.

IMO when the MDS configuration of a volume gets reconfigured by the Framework, we should also remove the name

[2017-02-02 10:26] wimpers commented on #1399
Add the amount of proxies under  vPool > Configuration. (please remove the s while we are at it)

[2017-02-02 10:34] kinvaris opened #1400 "Config arakoon still logs to console even when logging_target file is selected"
As seen in the preconfig file on this node, the logging should go to file:
[code]

But as seen in the local arakoon config:
[code]

**Note:** this is only seen in the config arakoon on the **first** node

[2017-02-02 10:45] wimpers commented on #1376
After discussion with @saelbrec the decision was not to abuse the framework and have the voldrv do it the right way as part of https://github.com/openvstorage/volumedriver/issues/236 .

[2017-02-02 10:45] #1376 closed, assigned to wimpers

[2017-02-02 10:47] khenderick opened #1401 "Don't start framework services if framework update wasn't successful"
If the framework services are restarted if the framework update wasn't completely successful, code might start to run using mixed old-and-new code. This will cause various issues to be introduced in e.g. the model, preventing future updates to succeed.

[2017-02-02 11:10] kinvaris opened #1402 "Logging target `file` lets components log everything to the same file"
I've put the framework its `logging_target` to a file and I've seen the following problem:All components log to the same log file, this should be seperated with component specific names as in the old days.

As seen:
* Arakoon:
[code]

* Volumedriver: `/var/log/ovs/storagedriver.log`
[code]

* Proxy: `/var/log/ovs/alba_proxy.log`
[code]

* Asd: `/var/log/asd-manager/alba_asd.log`
[code]

* Maintena

[2017-02-02 13:54] kvanhijf opened #1403 "Volumedriver 'backend_connection_manager' section misconfiguration"
According to @redlicha , the framework has been configuring aforementioned section in the volumedriver incorrectly since the introduction of the multiple proxies

[code]

[2017-02-02 15:33] kvanhijf commented on #1403
@openvstorage/qa :
See above comment on how the configuration should be

https://github.com/openvstorage/framework/pull/1405 --> openvstorage-2.7.11-dev.1486048822.cbd1de5

[2017-02-02 15:48] khenderick commented on #1357
After some discussion with @matthiasdeblock and based on a quick test, the GUI is already covered. Only the API allows RDMA transport while the node is not capable of RDMA.

[2017-02-02 22:02] saelbrec opened #1408 "GUI: vdisk management actions page shows wrong values for sco size and write buffer."
Following screenschots show the configured volume write buffer for vpool and the values on the vdisk detail management page for sco size and volume write buffer
![screen shot 2017-02-02 at 22 39 54](https://cloud.githubusercontent.com/assets/12733895/22570323/1f35d1c6-e99b-11e6-9c05-8f7eaaf6caf1.png)
![screen shot 2017-02-02 at 22 40 09](https://cloud.githubusercontent.com/assets/12733895/22570327

[2017-02-03 08:07] khenderick opened #1409 "Password reset form always resets password to "empty""
Password reset form always resets password to "empty"

[2017-02-03 09:11] khenderick commented on #1409
Fixed by #1410, packaged on dev in openvstorage-2.7.11-dev.1486110913.b22908f

[2017-02-03 13:33] wimpers commented on #1284
Back to BAM as @pploegaert is on holiday and this ticket is part of RC4.

[2017-02-03 15:25] dejonghb opened #1412 "set/delete on arakoon for ovs-watcher"
There are quite a lot of set/delete actions on the ovsb arakoon which hammer the (root) filesystem with sync taking rather long (> 30ms/call)... (/opt/OpenvStorage/db/arakoon/ovsdb/tlogs)

Excerpt from the tlog:
[code]

[code]
3x set/get/delete = 9 calls every 5 seconds...

[2017-02-06 08:07] khenderick commented on #1412
If we can't do these calls to check our arakoons, we need to move the responsibility of starting/stopping all services to the customer. Imo, if the root filesystem can't cope "hammering" it with about 2 iops, I think we should foremost get rid of all logging which most likely does a lot more iops.

[2017-02-06 08:26] dejonghb commented on #1412
It's the sync that's the hammer and arakoon needs to do that to ensure all data is persistent. Setting and direct deleting of a key gets you 2 sync calls to achieve nothing... There should be another way to check if arakoon is still ok, setting/deleting stuff and having this persisted all over the cluster every 5 seconds, really?

[2017-02-06 08:32] khenderick commented on #1412
We can switch to only executing a nop instead of a set/get/delete.

Still, I'm not sure whether 2 iops is such a drama for a root filesystem. If somebody actually uses the product, the amount of set/get/deletes on the system might burst to a few hundreds per second. If the root filesystem can't handle the 2 iops, I think we'd be screwed under load.

[2017-02-06 09:30] dejonghb opened #1416 "port forwarded GUI and urls/hrefs"
Using the GUI on gig via portforwarding (ssh -L 8082:stor-01:443 gig@<some_ip>:443) results in some links that use the unreachable IPs.

correct localhost IP used:
![link1](https://cloud.githubusercontent.com/assets/15377625/22641319/876e6d30-ec56-11e6-9a9c-a6d437ad00b5.png)

(unreachable) external IP used:
![link2](https://cloud.githubusercontent.com/assets/15377625/22641320/8776a2d4-ec56-11e6-9e

[2017-02-06 09:33] khenderick commented on #545
openvstorage-2.7.11.1

[2017-02-06 09:34] khenderick commented on #1079
openvstorage-2.7.11.1

[2017-02-06 09:35] khenderick commented on #1155
openvstorage-2.7.11.1

[2017-02-06 09:35] khenderick commented on #1286
openvstorage-2.7.11.1

[2017-02-06 09:35] khenderick commented on #1351
openvstorage-2.7.11.1

[2017-02-06 09:36] khenderick commented on #1366
openvstorage-2.7.11.1

[2017-02-06 09:36] khenderick commented on #1371
openvstorage-2.7.11.1

[2017-02-06 09:36] khenderick commented on #1372
openvstorage-2.7.11.1

[2017-02-06 09:36] khenderick commented on #1375
openvstorage-2.7.11.1

[2017-02-06 09:36] khenderick commented on #1384
openvstorage-2.7.11.1

[2017-02-06 09:37] khenderick commented on #1403
openvstorage-2.7.11.1

[2017-02-06 09:37] khenderick commented on #1389
openvstorage-2.7.11.1

[2017-02-06 09:37] khenderick commented on #1385
openvstorage-2.7.11.1

[2017-02-06 09:38] khenderick commented on #1409
openvstorage-2.7.11.1

[2017-02-06 09:50] khenderick commented on #1390
Fixed by #1396, packaged on dev in openvstorage-2.7.12-dev.1486374024.de8e760

[2017-02-06 09:50] khenderick commented on #1408
Fixed by #1411, packaged on dev openvstorage-2.7.12-dev.1486374024.de8e760

[2017-02-06 09:50] khenderick commented on #1357
Fixed by #1407, packaged on dev in openvstorage-2.7.12-dev.1486374024.de8e760

[2017-02-06 09:50] khenderick commented on #713
Fixed by #1404, packaged on dev in openvstorage-2.7.12-dev.1486374024.de8e760

[2017-02-06 10:34] kinvaris opened #1417 "vPool with 1 storagedriver can configure DTL but it shouldn't"
During one of our autotests in https://github.com/openvstorage/integrationtests/issues/426 we noticed that the following test failed: `Configuring a DTL with only 1 storagedriver to a non existing location`

Steps to reproduce:
- We've setup domains
- Added a vpool on 1 node with storagedriver A
- Created a vdisk
- vdisk DTL went into `to be configured` as expected
- We changed the DTL to Sync and

[2017-02-06 10:36] wimpers commented on #1417
@kinvaris why do you consider this as critical?

[2017-02-06 10:38] khenderick commented on #1417
@wimpers, it's not expected and e.g. the DTL checkup can't cope with it nor correct it. Most likely there's some odd codepath that can cause this scenario and we can't revert it.

[2017-02-06 10:39] kinvaris commented on #1417
@wimpers because the DTL of a vdisk on vPool A is configured on vPool B, this equals guarantee dataloss when a failure would occur. I've currently only tested it with 1 storagedriver but its very plausible that it can occur with multiple storagedrivers

[2017-02-06 10:40] khenderick commented on #1417
Not sure how you get to dataloss @kinvaris.

[2017-02-06 10:49] kinvaris commented on #1417
@khenderick: well currently I've only tested it with 1 storagedriver, but its plausible that this scenario could occur with multiple storagedrivers. If you have a volume its target domain configured where there are no storagedrivers (for that vpool) and a error would occur on that hardware node, you would lose all undisposable SCO's because its somewhere managed by a foreign DTL. This scenario cou

[2017-02-06 13:06] khenderick commented on #1417
Turns out we don't validate whether the selected target can actually be used at all. You ask Roubaix, we configure roubaix. Let's add some checking and validations.

[2017-02-07 08:34] khenderick commented on #1417
Fixed by #1419, packaged on dev in openvstorage-2.7.12-dev.1486455798.ec37992

[2017-02-07 09:46] kvanhijf commented on #1401
@openvstorage/qa :
If any of the following goes wrong, the framework services will not be started again:
* openvstorage package fails to install
* openvstorage-backend package fails to install
* Extensions migration code fails to execute successfully
* DAL migration code fails to execute successfully

IMPORTANT:
In any of the above circumstances its import to first FIGURE OUT exactly WHAT WENT WRO

[2017-02-07 10:44] kvanhijf commented on #1398
Fixed by https://github.com/openvstorage/framework/issues/1401

https://github.com/openvstorage/framework/pull/1418 --> openvstorage-2.7.12-dev.1486462862.1a65dc7
https://github.com/openvstorage/alba-asdmanager/pull/220 --> openvstorage-sdm-1.6.12-dev.1486463014.a549aab
https://github.com/openvstorage/framework-alba-plugin/pull/357 --> openvstorage-backend-1.7.12-dev.1486462938.eabfc67

[2017-02-07 12:19] khenderick commented on #1395
Fixed by #1420, packaged on dev in openvstorage-2.7.12-dev.1486469129.a537168

[2017-02-07 12:53] khenderick commented on #748
Implemented in #1204

[2017-02-07 12:58] khenderick commented on #1233
Closing this ticket off. It was decided by BAM (https://github.com/openvstorage/framework/issues/1233#issuecomment-264857080) that we don't want to automate this in any way. So unfortunately, the only thing left to do with this ticket is closing.

[2017-02-07 13:03] khenderick commented on #1251
High likely that this was caused by the issue resolved in #1390.

[2017-02-07 13:21] openvstorage-ci commented on #745
This issue was moved to openvstorage/volumedriver#258

[2017-02-07 13:21] #745 closed, assigned to nobody

[2017-02-07 13:34] khenderick commented on #1416
We link the user to the only endpoint we know. Which is the location entered at the time the vPool was created. We obviously have no idea on possible routing on top of the clusters.

It's either that, or just remove the link. Any other options you think of, @dejonghb?

[2017-02-07 13:40] khenderick commented on #1399
@wimpers, that doesn't make much sense, as the amount of proxies might be different on every node.

[2017-02-07 14:02] khenderick commented on #1399
Fixed by #1421, packaged on dev in openvstorage-2.7.12-dev.1486475525.bed673f

[2017-02-07 15:30] khenderick commented on #1021
Fixed by #1422, packaged in dev openvstorage-2.7.12-dev.1486480862.4f3d0f5

[2017-02-07 15:31] khenderick commented on #1021
@openvstorage/qa, you need Swagger >= v2.2.10 to use this.

[2017-02-07 16:33] khenderick commented on #1314
#1423 -> openvstorage-2.7.12-dev.1486484498.34f2b88
openvstorage/framework-alba-plugin#358 -> openvstorage-backend-1.7.12-dev.1486484573.dd1a9ac

[2017-02-08 07:50] wimpers commented on #1233
@khenderick I believe there is some confusion. We do want that there a way to fix things if the model and the reality are out of sync. We just don't want it to happen autoamtically

[2017-02-08 08:00] khenderick commented on #1233
After some more discussions with @wimpers, it's clear what to do:

Create an API call that checks vDisk reality vs model and get them in sync. Just like voldrv arakoon sync, mds syncs, dtl syncs, nsm and abm syncs, ... except that for this sync we should *not* run it periodically or when the code suspects something is wrong. It's monitoring that should detect when things are going wrong, and then

[2017-02-08 08:30] khenderick opened #1424 "Integrate new voldrv exception indicating a volume is restarting"
Integrate new voldrv exception indicating a volume is restarting: openvstorage/volumedriver#258

This will allow to wait for a sec and then retry the previous call, e.g. when loading the snapshots.

[2017-02-08 10:58] khenderick commented on #1233
#1425 -> openvstorage-2.7.12-dev.1486550875.6525d9f

[2017-02-08 14:17] wimpers commented on #1190
Closing this one as needs to be tackled in https://github.com/openvstorage/volumedriver/issues/236 an integration of that ticket

[2017-02-08 14:17] #1190 closed, assigned to wimpers, saelbrec

[2017-02-08 14:47] wimpers commented on #1382
@khenderick if this would be a hard one to fix. let me know.

[2017-02-08 14:55] khenderick commented on #1382
@wimpers, I've looked into this one before and I have no sane answer on how this could be possible. It means an nsm checkup fails because there's no nsm yet at this point. That's something that should be created a few lines above. If the first nsm fails, it should stop and remove the backend again (rollback). So I really don't have a clue yet, and I thus have no idea how hard it will be to fix.

[2017-02-08 15:08] wimpers commented on #1382
Can Qa try to reproduce and add somemore logging?

[2017-02-08 15:11] kinvaris opened #1427 "add_vpool failed: RuntimeError: Could not load metadata from environment"
When I tried to add a vPool the status stayed on `INSTALLING`. After investigation we found this in the logs:
[code]

[2017-02-08 15:35] kinvaris commented on #1427
We've observed the following on our environment from node B to node A:
[code]

[2017-02-08 15:49] kinvaris commented on #1427
This SSH key problem is not consistent because other environments do not seem to have the problem.

More details about the setup:
* 3 node setup
=======================
* ovs@A - > ovs@B: ok
* ovs@A - > ovs@C: ok
* ovs@A - > ovs@A: **nok**
=======================
* ovs@B -> ovs@A: **nok**
* ovs@B - > ovs@C: ok
* ovs@B - > ovs@B: ok
=======================
* ovs@C - > ovs@B: ok
* ovs@C - > ovs@A: *

[2017-02-09 08:05] khenderick commented on #1427
I can't reproduce it on my 3-node setup atm, will try a few others.

[2017-02-09 08:53] khenderick commented on #1427
Cannot reproduce it on my 4-node test environment either.

[code]

[2017-02-09 08:54] khenderick commented on #1427
@kinvaris, please try to reproduce on your env and double check there isn't anything else interfering with exchanged keys.

[2017-02-09 09:16] khenderick commented on #1382
Based on the first log snippet, this was _not_ executed when adding a backend. The stacktraces are different and it looks like it was processing multiple backends, something that won't happen in an add_cluster.

This however makes sense. The above error is indeed possible if an nsm checkup was scheduled and running while a given backend is being set up. It might then indeed fail because the backen

[2017-02-09 09:51] khenderick commented on #1382
Reproduced

[code]

[2017-02-09 10:02] khenderick commented on #1382
openvstorage/framework-alba-plugin#360 -> openvstorage-backend-1.7.12-dev.1486633973.896809e

[2017-02-09 10:27] khenderick commented on #1412
#1429 -> openvstorage-2.7.12-dev.1486635440.ff20425

[2017-02-09 11:18] saelbrec opened #1430 "Error when removing disk from backend"
2 ASDs / disk, both ASDs were removed. When trying to remove the disk from the backend following error is encountered.

[code]

Environment = be-g8-3

Open vStorage packages
[code]

[2017-02-09 13:33] wimpers commented on #1416
Letting it sink in and figure out a way to solve.

[2017-02-09 13:38] khenderick commented on #1416
In case the accelerated backend is a local backend, we can add an API to load all local backends and try whether we can make the link relative iso absolute. So an improvement is possible.

[2017-02-09 13:48] kinvaris commented on #1427
We've observed the same problem again today on a CI environment. When looking into it some ssh deamons refused to use the keys in `/opt/OpenvStorage` because the rights were incorrectly configured.

On some nodes it worked with rights `755` on some nodes we had to change them to `700`.
After applying rights `700` for `/opt/OpenvStorage` on every node, it worked again.

@khenderick:
[code]

[2017-02-09 13:50] khenderick commented on #1427
@kinvaris, thanks. Apparently our more recent images had this issue while I had based my changes on my own (slightly older) image.

[2017-02-09 14:12] khenderick opened #1431 "Integrate new FileSystem API of voldrv"
Integrate new FileSystem API:
* The sync logic should use it to update the devicename
* FileRename events should be reintroduced to catch devicename changes

[2017-02-09 14:13] khenderick commented on #1431
See: https://github.com/openvstorage/volumedriver/issues/252

[2017-02-09 14:33] khenderick commented on #1427
#1432 -> openvstorage-2.7.12-dev.1486650333.7687b25

[2017-02-09 14:33] kvanhijf commented on #1430
@openvstorage/qa : No idea how to reproduce, think out of the box ;)

https://github.com/openvstorage/framework-alba-plugin/pull/361 --> openvstorage-backend-1.7.12-dev.1486650204.209a042

[2017-02-09 16:44] matthiasdeblock opened #1433 "Bad MDS configuration"
Scratch_directory and db_directory should not be the same:

[code]

[17:37:31] Arne Redlich: the db directory contains the actual rocksdb database, whereas the scratch directory is a temp directory that the MDS considers as its playground
[17:37:52] Arne Redlich: it could remove it / recreate it... don't know at the moment if it does

[2017-02-10 08:50] khenderick commented on #1431
#1435 -> openvstorage-2.7.12-dev.1486715931.a80d9a3

[2017-02-10 08:51] khenderick commented on #1233
#1435 -> openvstorage-2.7.12-dev.1486715931.a80d9a3

[2017-02-10 08:54] khenderick commented on #1433
I guess it works quite fine as it has always been configured like that. Nevertheless it's a small change.

[2017-02-10 12:24] khenderick commented on #1433
#1436 -> openvstorage-2.7.12-dev.1486728872.31c4445

[2017-02-10 14:19] khenderick commented on #1424
#1438 -> openvstorage-2.7.12-dev.1486735680.8a86e47

[2017-02-10 14:51] kvanhijf commented on #1307
Nope, no changes needed for a 1-to-1 relation

[2017-02-10 14:51] #1307 closed, assigned to nobody

[2017-02-13 12:54] wimpers commented on #1370
Can we make a list of actions we would like to tackle in Gilbert?

[2017-02-13 15:09] khenderick commented on #1370
The "list of actions": see #828 and #1253
This ticket is about making the framework that can process such "list of actions"

[2017-02-14 08:23] khenderick opened #1444 "Abandoned lock fails refresh package after update"
Abandoned lock fails refresh package after update. Depending on the speed of the environment this issue might be hit and a customer needs to refresh the packages manually after the update.

[2017-02-14 08:33] khenderick commented on #1433
openvstorage-2.7.12.1

[2017-02-14 08:34] khenderick commented on #1431
openvstorage-2.7.12.1

[2017-02-14 08:34] khenderick commented on #1430
openvstorage-backend-1.7.12.1

[2017-02-14 08:35] khenderick commented on #1427
openvstorage-2.7.12.1

[2017-02-14 08:36] khenderick commented on #1424
openvstorage-2.7.12.1

[2017-02-14 08:37] khenderick commented on #1417
openvstorage-2.7.12.1

[2017-02-14 08:37] khenderick commented on #1412
openvstorage-2.7.12.1

[2017-02-14 08:38] khenderick commented on #1408
openvstorage-2.7.12.1

[2017-02-14 08:38] khenderick commented on #1401
openvstorage-2.7.12.1
openvstorage-backend-1.7.12.1
openvstorage-sdm-1.6.12.1

[2017-02-14 08:39] khenderick commented on #1399
openvstorage-2.7.12.1

[2017-02-14 08:41] khenderick commented on #1398
openvstorage-2.7.12.1
openvstorage-backend-1.7.12.1
openvstorage-sdm-1.6.12.1

[2017-02-14 08:41] khenderick commented on #1395
openvstorage-2.7.12.1

[2017-02-14 08:42] khenderick commented on #1390
openvstorage-2.7.12.1

[2017-02-14 08:42] khenderick commented on #1382
openvstorage-backend-1.7.12.1

[2017-02-14 08:43] khenderick commented on #1357
openvstorage-2.7.12.1

[2017-02-14 08:43] khenderick commented on #1314
openvstorage-2.7.12.1
openvstorage-backend-1.7.12.1

[2017-02-14 08:45] khenderick commented on #1233
openvstorage-2.7.12.1

[2017-02-14 08:45] khenderick commented on #1021
openvstorage-2.7.12.1

[2017-02-14 08:46] khenderick commented on #713
openvstorage-2.7.12.1

[2017-02-14 14:40] kinvaris opened #1448 "vPool failed to create because some alba disks are not mounted"
I tried to create a vPool and it failed with the following error:
[code]

[2017-02-14 14:51] #545 closed, assigned to khenderick

[2017-02-14 14:53] #713 closed, assigned to khenderick

[2017-02-15 09:00] wimpers opened #1449 "Integrate HPRM"

[2017-02-15 09:13] wimpers opened #1450 "Integrate Cinder with the Edge"
In order to better support OpenStack, we want to integrate OpenStack Cinder with the OVS Edge.

Our of scope is getting CI back up and running.

[2017-02-15 09:22] openvstorage-ci commented on #1450
This issue was moved to openvstorage/framework-cinder-plugin#15

[2017-02-15 09:22] #1450 closed, assigned to nobody

[2017-02-15 09:27] wimpers opened #1451 "iSCSI - LIO/TCMU integration"
iSCSI - LIO/TCMU integration

[2017-02-15 14:18] redlicha opened #1452 "Master and slave tables for a volume in different MDS'es of the same volumedriver instance"
[code]

[code]

Since there were recently fixes regarding the MDS balancing this might be fixed already?

[2017-02-15 14:24] saelbrec commented on #1452
@khenderick , @kvanhijf ,
Do we have a unit test that can tell us if the MDS placement algorithm prevents this from happening?
If so, could this be an old MDS slave ?

[2017-02-15 14:41] khenderick commented on #1452
@saelbrec, we have indeed unittests in place that check all possible MDS movements. However, based on @redlicha's snippets, the master and slave role are each configured to a different MDS server (albeit it is served by the same volumedriver instance). This is something that is according to our logic (and tests) a perfectly possible (yet suboptimal) state that will typically occur during the rebal

[2017-02-15 16:45] redlicha commented on #1452
@khenderick: if you want to take a look at logs: this was observed on g8-3 / stor-03, "vmstor" vpool.

[2017-02-15 16:52] khenderick commented on #1452
@redlicha, is there actually an issue with the observed (apart from the fact that it is obviously not an optimal configuration - it should get better after 4-8 hours)?

[2017-02-15 17:43] redlicha commented on #1452
There is no "issue" in the sense that voldrv could not deal with this setup; it's that this setup does not offer the expected redundancy: with 3 MDSes configured for a volume, the expectation would be that 2 nodes can go down without affecting the volume. However, due to the way the DTL works we currently cannot deal transparently with the loss of 2 *arbitrary* nodes anyway, so if the MDS balancin

[2017-02-15 17:45] redlicha commented on #1452
FWIW, the config has indeed changed in the meantime:
[code]

[2017-02-15 17:59] khenderick commented on #1452
Hmm, we have a [test](https://github.com/openvstorage/framework/blob/master/ovs/lib/tests/mdsservice_tests/test_mdsservice.py#L458) that validates whether a 4th slave will be added when we are rebalancing so that the configured safety of X *nodes* is always met. So that makes me wonder whether we still have some path where this doesn't happen and you're left with only 3 instances on 2 nodes.

I'll

[2017-02-16 13:35] wimpers opened #1454 "Extend user management to disks and vPools"
Currently we have defined user access right on backends. This ticket is to extend that to  vPools and vDiosk level.

- vPool
 - Admin should be able to assign/remove a vPool to a user (user can only see vPools where he has access to)
 - Assign vPool administration role so user can see all vDisks in the vPool and assign vDisks to use
- vDisk
 - VPool admis and general admins must be aable to assign

[2017-02-16 13:40] bazzspeed commented on #1379
I've also had some problems around ZFS. Attempting to add roles to a partition fails.
I ended up using `wipefs -a [partition]` to remove all traces of ZFS and then it worked; created partition and added roles all good.

The issue might just be related to the way that a mount point is setup with a zpool, as they're automounted with some zpool parameter I think ?

[2017-02-16 16:28] jeroenmaelbrancke opened #1455 "Create snapshot on template Runtime error"
In the ovs-workers the create snapshot job throws a Runtime error when the vdisk is a template.

ovs version:
[code]

Error:
[code]

[2017-02-17 07:48] khenderick commented on #1455
@redlicha, is it allowed to take snapshots from a volume which has been set as template? I was always under the impression that this should indeed not be possible as setting a volume as template will delete all but the selected snapshots as far as I understand.

[2017-02-17 07:56] redlicha commented on #1455
@khenderick, you're right. snapshotting on a template is not permitted.

[2017-02-17 08:03] khenderick commented on #1455
All vDisks are snapshotted and all vTemplates fail and are skipped. But let's filter upfront so we don't have the logging overhead.

[2017-02-17 08:12] pploegaert opened #1456 "Recent update of python-crypto breaks ovs setup"
A new version of python-crypto breaks our ovs setup:

new: 2.6.1-6ubuntu0.16.04.1
previous: 2.6.1-6build1

[code]

Workaround: downgrade to previous version:

[code]

[2017-02-17 08:21] khenderick commented on #1456
Upstream: https://bugs.launchpad.net/ubuntu/+source/paramiko/+bug/1665565

[2017-02-17 08:55] khenderick commented on #1456
A workaround for all fresh installs is to run `apt-get install -y python-crypto=2.6.1-6build1` before the usual openvstorage packages installation.

[2017-02-17 10:11] JeffreyDevloo opened #1457 "Albanode not removed from offline node"
### Problem description
Running ovs remove node to remove a node that has been shutdowned will not cause the remove code to prompt the user with removing the asd-manager package, leaving an entry in the dal

[code]
Now in the DAL
[code]
This causes updates to fail aswell.
### Temporary solution
Remove alba node from the GUI on the backend page.
### Proposed solution
If the node is unresponsive on

[2017-02-17 10:13] JeffreyDevloo opened #1458 "Alba update not possible after remove node of a down node"
### Problem description
Due to the DAL entry, the alba update prerequisite is not met.

Also during update of other packages:
[code]
### Proposed solution
Fix the root cause: https://github.com/openvstorage/framework/issues/1457
### Packages
[code]

[2017-02-17 11:08] khenderick commented on #1456
Upstream PR in paramiko repo: paramiko/paramiko#714

[2017-02-18 06:39] khenderick commented on #1456
New upstream package `python-crypto 2.6.1-6ubuntu0.16.04.2` prints a warning instead of raising an error.

This is no longer a blocking issue, but since there's still a warning being printed, I'd either wait for a final fix on `python-paramiko`, or suppress the warning during setup and create a ticket to remove the suppression once a fix is released.

[2017-02-20 07:56] khenderick commented on #1456
New paramiko is on the way

[2017-02-20 08:02] pploegaert commented on #1431
concerns directory renames
unit test example:
https://github.com/openvstorage/framework/blob/develop/ovs/lib/tests/vdisk_tests/test_events.py#L202

[2017-02-20 08:03] pploegaert commented on #1433
validated ok on fresh install, update will not change settings as volumes need to be restarted

[2017-02-20 08:04] #1431 closed, assigned to khenderick

[2017-02-20 08:04] #1433 closed, assigned to khenderick

[2017-02-20 08:17] khenderick commented on #1448
#1459 -> openvstorage-2.7.13-dev.1487578008.d50f5cd

[2017-02-20 08:27] khenderick commented on #1455
#1460 -> openvstorage-2.7.13-dev.1487578550.b6bbc5a

[2017-02-20 10:44] JeffreyDevloo opened #1461 "mds_checkup found no preferred mds"
### Problem description
MDS_checkup fails due to the a mds service that got removed before another error occurred

Flow of what happenend
- Shrink vpool on .194
- Crypto error occurred from paramiko
- Vpool stuck in failure
- Set vpool to running
- Shrank vpool on the remaining nodes: .191, .192, .193
- At the last shrink/delete (.191) got the error in the GUI that certain tasks failed

Current re

[2017-02-20 13:23] khenderick commented on #1444
#1462 -> openvstorage-2.7.13-dev.1487596173.aab5d55

[2017-02-20 13:37] wimpers commented on #1458
please validate once #1457 is fixed.

[2017-02-20 13:38] wimpers commented on #1456
Please keep an eye out for the new package

[2017-02-20 13:42] khenderick commented on #1456
No need for a milestone. We don't have to do any changes, and the issue affects all releases anyway.

[2017-02-20 13:50] wimpers commented on #1456
Please validate once new package is out

[2017-02-20 14:06] khenderick commented on #1461
#1463 -> openvstorage-2.7.13-dev.1487598947.84c36f7

[2017-02-20 15:18] #900 closed, assigned to nobody

[2017-02-20 15:31] #945 closed, assigned to nobody

[2017-02-20 15:37] #964 closed, assigned to nobody

[2017-02-20 15:49] #1119 closed, assigned to khenderick

[2017-02-20 15:51] #1255 closed, assigned to nobody

[2017-02-20 15:52] pploegaert commented on #1320
VALIDATED OK:
root@ub1604:~# cat /etc/redis/redis.conf  | grep -v ^# | grep bind
bind 10.100.131.43

[2017-02-20 15:52] #1320 closed, assigned to nobody

[2017-02-20 15:55] #1309 closed, assigned to khenderick

[2017-02-20 15:58] pploegaert commented on #1296
VALIDATED OK on Fargo RC4:
root@e187-1:~# cat /proc/1472/limits
Limit                     Soft Limit           Hard Limit           Units
...
Max open files            8192                 8192                 files
...

[2017-02-20 15:58] #1296 closed, assigned to nobody

[2017-02-20 16:10] matthiasdeblock opened #1464 "Scrubber process pending"
On different setups (GIG and POCOPS) we noticed that the scrubber wasn't working. It looks like the PID of the last working scrubber stays in a pending state.

[code]

[2017-02-20 16:14] matthiasdeblock commented on #1464
No scrubber is getting started on the 19th of February:
[code]

[2017-02-20 16:27] matthiasdeblock commented on #1464
Did not receive the 'Queue completely processed', 'Removing service' and 'Removed service' log for the 18th February.

[2017-02-20 22:08] khenderick commented on #1464
Please note that the celery task that initiates the scrubbing does not run on all nodes. It uses RPC to start the correct scrubbing processes on the right nodes. The celery task itself is merely coordinating all work. I would need full logging of the complete scrubbing task to see what has been executed or not.

[2017-02-20 22:09] khenderick commented on #1456
Will be fixed in paramiko 1.17.4 and 1.18.2. Now it's waiting to be included in the ubuntu repos.

[2017-02-21 07:36] matthiasdeblock commented on #1464
@khenderick, checked all 4 nodes on these messages. I will provide the logfiles.

[2017-02-21 07:45] khenderick commented on #1464
@matthiasdeblock, my mistake, didn't notice the message about not running on the 192th. This will indeed be caused by the scrubbing that was still running. You should find a message about discarding the task somewhere in the logging.

[2017-02-21 08:13] khenderick commented on #1464
Might be an indication that #1366's fix didn't work after all.

[2017-02-21 08:13] saelbrec commented on #1464
Call stack from the hanging process
[code]

Open fds
[code]

[2017-02-21 08:16] matthiasdeblock commented on #1464
Logging can be find on the logserver 10.100.201.200 (gig/gig) under /LoggingGIG/GH_FW_1464

[2017-02-21 08:49] khenderick commented on #1464
It seems RPyC is configured correctly as I can launch processes and correctly catch output

[code]

A possibility would be that the internal `locked_client.scrub`, which internally launches a processes (`ovs_scrubber`), doesn't properly redirect `stderr` to its own.

[2017-02-21 09:37] #868 closed, assigned to khenderick

[2017-02-21 10:49] redlicha commented on #1464
Related to / duplicates https://github.com/openvstorage/framework/issues/1366

The scrubber process inherits the file descriptors from its parent process (RPyC process) with the exception of stdout (which is used to communicate the scrub result back to the parent process). Example on g8-3 / stor-01:
* `ovs_scrubber_process, relevant open fds (stdin/out/err):
[code]
* parent process: cmdline and re

[2017-02-21 10:53] khenderick commented on #1464
I'll see if I can create a binary that spits out tons of data to a given output and try to run that one over RPyC.

[2017-02-21 10:56] redlicha commented on #1464
@khenderick: you can even use the voldrv's `LockedClient.scrub` method with a chatty script (that eventually exits non-successfully) as that allows you to specify the scrubber binary.

[2017-02-21 13:43] pploegaert commented on #1219
Validation continued in:
https://github.com/openvstorage/integrationtests/issues/435

[2017-02-21 13:56] pploegaert commented on #1247
Related PR: https://github.com/openvstorage/integrationtests/pull/421

[2017-02-21 14:33] pploegaert commented on #1247
@JeffreyDevloo : can you please rerun the test in the PR and update the status ... thx!

[2017-02-21 14:37] JeffreyDevloo opened #1466 "Introduce API to setup external Arakoon"
### Problem descriptions
Setting up your own arakoons can be done yet there is no API to actually do this. Please introduce the api calls.
API should:
- Determine if its add or extend
- Restart_cluster_add so it is usable

[2017-02-21 14:42] khenderick commented on #1466
There is so much wrong with this request to be honest. That kinda sounds like you want to use the framework to setup arakoons that it should not manage afterwards. So most likely, you would use this to create clusters and then force the framework to use these instead of setting up its own clusters.

So the net profit is that you just shifted the responsibility of maintaining these services out of

[2017-02-21 18:48] khenderick commented on #1456
USN-3199-2: https://www.ubuntu.com/usn/usn-3199-2/

[2017-02-22 06:09] #1308 closed, assigned to nobody

[2017-02-22 06:51] pploegaert commented on #1283
@khenderick: I tried validating this on 10.100.187.32 (3 node setup of which node 1 was powered off)
But I still see the recycle bin enabled:
https://10.100.187.32/#full/ovs-backend/053b67c7-e539-41d5-9f16-373a00047ae6

Which code change would have fixed this?

[2017-02-22 06:54] #1274 closed, assigned to khenderick

[2017-02-22 07:03] khenderick commented on #1283
I think that one has been closed by mistake as there's indeed no PR, nor a dev package. Sorry.

[2017-02-22 07:31] pploegaert commented on #1283
Np, env link above is available for non-destructive investigation ;) ... note node1 is kept offline, so only 2 out of 3 nodes are running.

[2017-02-22 07:46] pploegaert commented on #1266
Validation continued in:
https://github.com/openvstorage/integrationtests/issues/437

[2017-02-22 07:46] #1266 closed, assigned to khenderick

[2017-02-22 08:54] JeffreyDevloo opened #1468 "Do not open port 80 and 443 on extra nodes"
### Problem description
Exposing these ports on an extra node means the customer will get a GUI which can do nothing (no webapp-api running)
It seems pointless to even present a gui in this case.

### Packages
[code]

[2017-02-22 08:56] khenderick commented on #1468
At this point, the package just drops the nginx configuration files at the right directory. This means that the GUI is always exposed (as this is nginx-only). The API is only enabled on master nodes.

We might want to move the placement of the nginx configuration files to setup-time where we can only place it on master nodes and add/remove it on promote/demote.

[2017-02-22 09:37] khenderick commented on #1452
After manually double checking all code & unit tests, I can't find anything that would indicate an issue in MDS placements. This means that either load or domains might cause the (temporary) state of reduced safety as we don't actively overload MDS servers. As observed above, these scenarios will eventually be automatically resolved as more MDS servers are deployed and rebalancing happens.

Anyway

[2017-02-22 09:42] JeffreyDevloo commented on #1219
Opening as it has not been validated yet.

[2017-02-22 10:15] pploegaert commented on #1257
VALIDATED OK using code snipper

[2017-02-22 10:15] #1257 closed, assigned to nobody

[2017-02-22 10:43] khenderick commented on #1464
Used test script:

[code]

Verification:

[code]

[2017-02-22 12:23] #1249 closed, assigned to nobody

[2017-02-22 12:58] kvanhijf commented on #1457
@openvstorage/qa :
Shutdown any node in the cluster and remove that node from the cluster, this should now also remove the ALBAnode from the model and all related modeled OSDs and Disks
Verification can be done by just having a look in the GUI, the ALBA node should be gone from the Backend detail page

https://github.com/openvstorage/framework/pull/1470 --> openvstorage-2.7.13-dev.1487779774.2df24

[2017-02-22 13:30] matthiasdeblock opened #1472 "Adding write role causes unmount of existing ssd1 with previously assigned write role"
After adding a write role on the storage router, ssd1 got unmounted and mounted with the new ssd. This caused downtime for the volumedriver.

[2017-02-22 13:46] matthiasdeblock commented on #1472
It's on all the newly claimed disks in the storage router

[2017-02-22 15:56] jtorreke commented on #1472
Another option is to use filesystem labels:

[code]

[2017-02-22 16:52] kvanhijf commented on #1472
https://github.com/openvstorage/framework/pull/1474 --> openvstorage-2.7.13-dev.1487836969.1e44943

[2017-02-23 08:32] khenderick commented on #1464
Following indeed indicates that `stderr` somehow gets lost.

[code]

A test with `check_output` (which only returns `stdout` and just prints `stderr`) reveals following:

[code]

We see that `check_output`, as expected doesn't handle `stderr`, but (i)python catches it and prints it anyway. Once we use RPyC, this side effect is lost and the `stderr` disappears.

A few tests using `Popen` which prov

[2017-02-23 08:34] khenderick commented on #1464
@redlicha, can you check on your end whether the `scrub` method's internal mechanism to launch the `scrubber_binary` correctly captures both `stderr` and `stdout` so they end up in `sys.stderr` and `sys.stdout` respectively?

[2017-02-23 13:51] wimpers commented on #1466
@JeffreyDevloo what is your issue exactly? What do you want to achieve? Where does this request come from?

[2017-02-23 14:05] JeffreyDevloo commented on #1466
Internally for QA we are currently building around the framework with our own framework which utilizes the API that the framework provides. However for the external arakoons (which is a supported case) we need to build this logic from the ground up ourselves. It would be wiser imo to either provide the API (let the fwk team decide how it should be handled) or to not support external arakoon setups

[2017-02-23 15:14] saelbrec opened #1475 "Integrate partial read counters into vdisk statistics"
Volumedriver exposes as of build 6.10.0 (see https://github.com/openvstorage/volumedriver/issues/91) partial read counters in its Statistics.
[code]

These need to be included into the FWK vdisks statistics as well.

[2017-02-23 19:53] redlicha commented on #1464
That's indeed the cause - the DSO does not use `sys.std*` file objects but the actual file descriptors:
https://docs.python.org/2/library/sys.html#sys.stderr

[2017-02-24 08:04] khenderick commented on #1464
Is it possible to change to for example `subprocess.Popen` so the output can be redirected? If not, I assume the only option left is to configure the scrubber to log to file iso to console?

[2017-02-24 08:21] redlicha commented on #1464
Tthe `LockedPythonClient` is implemented in C++ (it uses volumedriver library code to ensure the scrubber (child process) is the only one accessing the namespace / killing it if the lease is lost), so there's no trivial way to move to `Popen` (which has a potential problem of its own as it buffers the complete output until `communicate` is used, AFAIU?).
To allow using `sys.stderr`, the C++ code w

[2017-02-24 08:27] khenderick commented on #1464
@wimpers, @saelbrec, can you let me know whether logging to file iso console is OK?

[2017-02-24 08:34] khenderick commented on #1475
#1477 -> openvstorage-2.7.13-dev.1487924568.debce59

[2017-02-24 08:50] khenderick commented on #1475
Added backwards compatibility for older volumedrivers: #1478 -> openvstorage-2.7.13-dev.1487925554.757201e

[2017-02-24 10:56] pploegaert commented on #849
VALIDATED OK

[2017-02-24 10:56] #849 closed, assigned to nobody

[2017-02-24 11:14] dejonghb opened #1480 "moving vdisk via GUI reports failure but ownership reported does change"
tried to move yavm10 from ftcmp02 to ftcmp04 via GUI reported failure, yet the ownership shown does get changed
![owner](https://cloud.githubusercontent.com/assets/15377625/23301541/b563f556-fa8a-11e6-9d5d-b24b29d332da.png)

[2017-02-24 11:49] dejonghb commented on #1480
before:
![be4](https://cloud.githubusercontent.com/assets/15377625/23302597/9608fda0-fa8f-11e6-9ed4-63dff4256eda.png)
after:
![after](https://cloud.githubusercontent.com/assets/15377625/23302604/9f703d36-fa8f-11e6-8785-57fe196d6e3d.png)

[2017-02-24 12:10] pploegaert commented on #600
VALIDATED OK:
gui shows:
 No StorageRouter found for: two
a domain for which there is indeed no primary set yet

[2017-02-24 12:10] #600 closed, assigned to sjovdnbos

[2017-02-24 14:30] matthiasdeblock opened #1481 "Unsupported label-type detected: loop"
Wanted to select this disk but had the following error:
[code]

We are not supporting this label right now. Shouldn't we support this?

[2017-02-24 14:48] khenderick commented on #1283
To fix this issue correctly we need to keep state on the side of the asd-manager. We're making too much educated guesses at this moment, and it's hitting the limit.

[2017-02-24 15:05] openvstorage-ci commented on #1283
This issue was moved to openvstorage/framework-alba-plugin#377

[2017-02-24 15:05] #1283 closed, assigned to nobody

[2017-02-24 15:42] khenderick commented on #1481
This most likely indicates that the disk is (or was) used by something like LVM or btrfs.

[2017-02-24 15:44] khenderick commented on #1480
Do you have any logging or something like a message that might indicate what went wrong?

[2017-02-27 08:11] wimpers commented on #1480
@dejonghb  see question above

[2017-02-27 08:24] dejonghb commented on #1480
No logging captured; just got the fast disappearing red toast it didn't work.... Someone who knows what to look for in the logs might get an idea of what's going on/wrong by retesting this on tenv186 (10.100.186.32) -- moving to ftcmp04 fails there. Could this be DTL related where trying to move to a node where the sync DTL is bivouacing fails?

[2017-02-27 09:03] dejonghb opened #1484 "bad sco cache (global write buffer) configuration"
On tenv186...
[code]

Results in
[code]

There's a related voldrvr ticket (https://github.com/openvstorage/volumedriver/issues/228) for the voldrvr not accepting such a config but the creating a bad config shouldn't be possible either...

Global Write Buffer was set to 50 GiB via the GUI.

[2017-02-27 09:07] dejonghb commented on #1484
[code]
[code]

[2017-02-27 09:22] pploegaert commented on #1239
Validation in:
https://github.com/openvstorage/integrationtests/issues/440

[2017-02-27 09:22] pploegaert commented on #999
Validation in:
https://github.com/openvstorage/integrationtests/issues/439

[2017-02-27 09:54] pploegaert commented on #1288
Validation continued in:
https://github.com/openvstorage/integrationtests/issues/441

[2017-02-27 12:42] pploegaert commented on #1259
Validation continued in:
https://github.com/openvstorage/integrationtests/issues/443

[2017-02-27 12:44] pploegaert commented on #1333
VALIDATION OK:
- covered in unit-test
- manual validation via GUI: OK

[2017-02-27 12:45] #1333 closed, assigned to nobody

[2017-02-27 12:51] pploegaert commented on #1134
Validation in:
https://github.com/openvstorage/integrationtests/issues/445

[2017-02-27 12:51] pploegaert commented on #1021
Validation in:
https://github.com/openvstorage/integrationtests/issues/445

[2017-02-27 13:33] pploegaert commented on #1079
Validation in:
https://github.com/openvstorage/integrationtests/issues/446

[2017-02-27 14:52] pploegaert commented on #748
seems actual parameter is:
--rollback-on-failure

[2017-02-27 15:30] kvanhijf commented on #1332
@openvstorage/qa :
Implementation has become the following
Default backoff_gap size has become 2GiB io 2GB
Default trigger_gap size has become 1GiB io 1GB

Scenario:
Partition1 with WRITE role of 1GiB
Partition2 with WRITE role of 99GiB
User wants to use 50GiB out of 100GiB available
Partition1 is 1% of total space --> 1% of 50GiB will be assigned to this partition == 0.5GiB
Partition2 is 99% of t

[2017-02-27 15:41] pploegaert commented on #748
validation steps via keeping a port in use (e.g. memcache: 11211)

/etc/init.d/memcached stop
nc -4 -k -l -v localhost 11211 &
ovs setup --rollback-on-failure

[2017-02-28 06:55] pploegaert commented on #748
Seems this task is incomplete
By default no rollback is triggered, option is available, outcome is unpredictable unless we take up
https://github.com/openvstorage/framework/issues/1370

VALIDATION for this ticket is OK

[2017-02-28 06:56] #748 closed, assigned to nobody

[2017-02-28 07:37] pploegaert commented on #1155
VALIDATION OK

[2017-02-28 07:37] #1155 closed, assigned to khenderick

[2017-02-28 08:17] pploegaert commented on #1233
Validation continued in:
https://github.com/openvstorage/integrationtests/issues/448

[2017-02-28 08:40] redlicha opened #1486 "Track volumedriver's latency counters"
The request size counters that are part of the result of `statistics_volume` call are already used to calculate the IOPS AFAIU. Another part of the result are latency counters (`_usecs` suffix below):
[code]

[2017-02-28 08:50] redlicha commented on #1486
NB: the `performance_counters` also offer distribution info as of voldrv 6.10.0, i.e. a `dict` that maps a count of events into ranges `[0,x), [x,y), ...`. E.g.:

[code]

[2017-02-28 09:05] #1286 closed, assigned to nobody

[2017-02-28 09:09] pploegaert commented on #1314
VALIDATION OK

[2017-02-28 09:09] #1314 closed, assigned to nobody

[2017-02-28 09:13] redlicha commented on #1486
While at it: can you please also track the `unaligned` counters.

[2017-02-28 10:21] khenderick commented on #1484
I think this one more or less duplicates #1332

[2017-02-28 10:42] khenderick commented on #1480
Logs are already gone. I'll try to reproduce.

[2017-02-28 10:50] wimpers commented on #1484
Closed as duplicate. Re-open if needed.

[2017-02-28 10:58] khenderick commented on #1480
Can't reproduce. On my env, I can move disks around without issues or errors.

[2017-02-28 11:01] khenderick commented on #1332
@kvanhijf, can you double check above linked ticket to see whether all is covered by this change?

[2017-02-28 12:16] khenderick commented on #1456
I don't think that they'll ship a newer version anytime soon, so let's suppress the warning.
#1483 -> openvstorage-2.7.13-dev.1488283533.76cf794

[2017-02-28 12:17] pploegaert commented on #1351
Validation continued in:
https://github.com/openvstorage/integrationtests/issues/450

[2017-02-28 12:31] pploegaert commented on #1366
Validation continued in:
https://github.com/openvstorage/integrationtests/issues/451

[2017-02-28 12:39] pploegaert commented on #1371
Validation continued in:
https://github.com/openvstorage/integrationtests/issues/453

[2017-02-28 12:40] pploegaert commented on #1372
Validation continued in:
https://github.com/openvstorage/integrationtests/issues/453

[2017-02-28 12:44] pploegaert commented on #1375
Validation continued in:
https://github.com/openvstorage/integrationtests/issues/454

[2017-02-28 12:45] pploegaert commented on #1357
Validation continued in:
https://github.com/openvstorage/integrationtests/issues/454

[2017-02-28 13:06] pploegaert commented on #1389
Validation continued in:
https://github.com/openvstorage/integrationtests/issues/450

[2017-02-28 13:20] pploegaert commented on #1382
Validation continued in:
https://github.com/openvstorage/integrationtests/issues/455

[2017-02-28 13:24] dejonghb commented on #1480
Also cannot reproduce it any more... no clue what could have changed (nothing updated)

[2017-02-28 13:33] dejonghb commented on #1484
Please also check the configured sizes as
[code]
is only 56 MiB what looks rather small to me... It's not that there's no room left on ssd1 (cfr the df above)

[2017-02-28 13:38] pploegaert commented on #755
Cannot reproduce either -> closed

[2017-02-28 13:38] #755 closed, assigned to nobody

[2017-02-28 13:43] pploegaert commented on #1384
Validation OK

[2017-02-28 13:43] #1384 closed, assigned to nobody

[2017-02-28 13:44] pploegaert commented on #1385
Validation OK:

[code]

[2017-02-28 13:44] #1385 closed, assigned to nobody

[2017-02-28 13:47] pploegaert commented on #1390
Validation via:
https://github.com/openvstorage/integrationtests/pull/421

@JeffreyDevloo @kinvaris , pls review and merge this test in pls

[2017-03-01 08:33] kvanhijf opened #1487 "Ensure single decorator enhancement"
Eg: 3 tasks shortly after eachother launched (inline), so executed by 3 workers
Task 1 starts processing, task 2 is put on the queue, task 3 is discarded
However task 3 relies on the changes task 1 or task 2 should do, but since its discarded, it returns immediately
So the fix includes waiting for task 1 & task 2 in case its an inline task

[2017-03-01 08:34] JeffreyDevloo opened #1488 "Ensure single with an optional callback"
### Feature description
The ensure single decorator should be able to take a callback function
Use cases:
- Reporting whether is task is being run an another node
- Extra control as a callback could also return a value for nested functions

[code]
- Update scheduled on 2 nodes
- Node 1 start to update
- Node 2 queues update -> update being run on Node 1 -> node 2 will execute callback
Node 1 outpu

[2017-03-01 08:56] kvanhijf commented on #1484
The related issue (https://github.com/openvstorage/framework/issues/1332) has been fixed and it should no longer be possible to run into this issue. Since we now calculate the backoff_gap based on the smallest WRITE partition, which would have been 56MiB in this case
However the fact that 1 SCO cache's size is 56MiB and the other is +/- 50GiB, this issue is not yet fixed

Question is, should this

[2017-03-01 09:12] saelbrec commented on #1430
Related to https://github.com/openvstorage/framework-alba-plugin/issues/315

[2017-03-01 09:24] kvanhijf commented on #1484
Spoke with @dejonghb about how this issue was detected
1 partition with WRITE role of +/- 260GiB
Created vPool claiming all available space for the global write buffer --> couple of MiBs left
He could not create additional vPools since we require a minimum of 1GiB for the global write buffer.
He added another WRITE role to another disk (+/- 450GiB)
When creating the next vPool, the framework code

[2017-03-01 09:25] kvanhijf commented on #1332
Above ticket is not fully covered by this fix

[2017-03-01 10:08] JeffreyDevloo opened #1490 "Sync of volumes of storagedriver and model periodically"
In continuation of https://github.com/openvstorage/framework/issues/1233
### Problem description
By not letting the framework schedule this sync as a task, we keep on dividing the team and push them to make their own framework around the flaws of another one

For example Ops is now required too:
- Parse output from the healthcheck (as it previously was the only way to detect stale metadata)
- Call

[2017-03-01 10:11] khenderick commented on #1486
#1489 -> openvstorage-2.7.13-dev.1488362020.e9e3284

[2017-03-01 10:23] khenderick commented on #1486
Example output:

[code]

[2017-03-01 13:42] kvanhijf commented on #1487
@openvstorage/qa :
Ensure single decorator has been merged into the ovs_task decorator
`from ovs.lib.helpers.decorators import ovs_task`
To be able to make use of the ensure_single decorator, you have to add 'ensure_single_info'
[code]

Additionally a callback function pointer can be specified. This function will be executed in case other similar functions are in progress. Important, this function

[2017-03-01 14:44] openvstorage-ci opened #1491 "enable systemctl reload albaproxy (service)"
_From @jeroenmaelbrancke on February 14, 2017 13:18_

If we need to reload the albaproxy config file we need to use the kill command with flag -SIGUSR1.

To simplify this we can use the build-in reload option from systemctl (EXECRELOAD) defined in [Service].

Maybe other services could use this also or is this not supported by the framework?

[code]

For example:
[code]

_Copied from original issu

[2017-03-01 15:01] kvanhijf commented on #1491
@openvstorage/qa :
Reload functionality has been introduced for
* ovs-alba-proxy
* alba-asd
* alba-maintenance

Only for Ubuntu 16.04 (SystemD) because 14.04 (Upstart) does not support reload of configuration changes. A stop / start sequence is required in this case

To test: A simple 'systemctl reload <service_name>' suffices and verify that the logging of the service mentions the reload was succ

[2017-03-02 08:56] kvanhijf commented on #1456
@openvstorage/qa : Previous fix introduced DeprecatedWarnings elsewhere
Below fix should both not show the Crypto warning, nor the DeprecatedWarnings

https://github.com/openvstorage/framework/pull/1493 --> openvstorage-2.7.13-dev.1488441582.ddfb5fd

[2017-03-02 12:59] kvanhijf opened #1494 "Ensure single decorator should raise when discarding tasks"
The ensure single decorator currently returns None if a task is being discarded because of other similar tasks already being executed.
The user could be mislead in 2 ways:
* When he gets a return value of None, he could assume the job was successful, while it actually did not start/execute at all.
* When he gets a return value of None, while he expected some specific value, the code could raise or

[2017-03-02 14:26] kvanhijf commented on #1488
Issue fixed by https://github.com/openvstorage/framework/issues/1487

[2017-03-02 14:26] #1488 closed, assigned to nobody

[2017-03-03 12:44] kinvaris opened #1495 "add_vpool times out because of due to alba.get_arakoon_config call"
We are seeing vpool creations sporadic failing (on node 2) in the field  and during the autotests with the following error:
[code]

after inspection of the logs we've seen this call being executed on node 1:
[code]

[2017-03-03 13:26] horakmar opened #1496 "Disks are not detected on systems running cciss driver (older HP ProLiant)"
On systems running cciss disk driver for smart disk arrays the disks are not detected. The detection routine ends with the exception: 'Failed to retrieve the device information for current partition'.

## Some analysis
OVS runs lsblk to get device names:
[code]
In /sys the links look like:
[code]
Code doesn't count with such names.
## Patch
Following patch helps to discover devices, but I'm not su

[2017-03-03 13:48] kvanhijf commented on #1496
Could you please attempt the same patch, but instead of using KNAME, use NAME instead and see if that works too
So instead of this:
`lsblk --pairs --bytes --noheadings --exclude 1,2,11 --output=KNAME,SIZE,MODEL,STATE,MAJ:MIN,FSTYPE,TYPE,ROTA,MOUNTPOINT,LOG-SEC,SERIAL`
Try this:
`lsblk --pairs --bytes --noheadings --exclude 1,2,11 --output=NAME,SIZE,MODEL,STATE,MAJ:MIN,FSTYPE,TYPE,ROTA,MOUNTPOINT,L

[2017-03-03 14:12] horakmar commented on #1496
No help, NAME and KNAME are the same string:
[code]

[2017-03-03 14:42] wimpers commented on #1490
@JeffreyDevloo I'm really sorry but this makes no sense. Instead of fixing possible root causes, we will wipe it under the carpet . I don't see why OPS would need to build their own framework around it. What they shouldn't do is, take the output of the healthcheck parse it and call the sync button automatically and be done.  We need to make sure these out of sync model events don't happen!

I don'

[2017-03-03 15:39] wimpers opened #1497 "Update RabbitMQ"
Since the 3.5.x release is no longer maintained it might be advised to
* Go to Rabbitmq 3.6.x
* Find something else

[2017-03-03 15:40] wimpers commented on #1497
If there is a reason to go for something else, please link the relevant tickets in GH

[2017-03-03 15:49] khenderick commented on #1497
Ubuntu 16.04 only ships `3.5.7-1`. Do you want us to manually maintain a set of packages fetched from other sources?

[2017-03-06 08:18] khenderick commented on #1495
Added some more logging. Let's see if that will give some more information why an apparently normal executing/finished task was not noticed.

#1499 -> openvstorage-2.7.13-dev.1488787577.f17e206

[2017-03-07 14:14] redlicha opened #1500 "Framework tries to configure a metadata cache capacity of 0 pages"
VolumeDriver does not permit this value (it needs to be at least 1) and throws an exception instead, leaving the previous value in effect:
[code]

[2017-03-07 14:16] khenderick commented on #1500
Issue due to the current implementation together with very small volumes (in this case a size of 8KiB)

[2017-03-07 14:41] khenderick commented on #1500
#1501 -> openvstorage-2.7.13-dev.1488897006.1611b4e

[2017-03-07 15:46] saelbrec commented on #1464
By means of workaround it's OK.

[2017-03-07 15:54] khenderick commented on #1464
Workaround implementation: #1502 -> openvstorage-2.7.13-dev.1488901364.c1d1467

[2017-03-08 16:15] wimpers commented on #1497
@saelbrec points out that setting up 3 RabbitMQs isn't ideal. (I believe @kinvaris  did some research about that)

The BAM isn't favor of maintaining our own set of packages or changing to something else .

Maybe we should start listing the issues OPS/ framework has with the current version of RabbitMQ.  ( @khenderick @jeroenmaelbrancke @jtorreke @matthiasdeblock  )

[2017-03-08 16:20] jeroenmaelbrancke commented on #1486
@khenderick can you also add sync_request_usecs?

[2017-03-08 16:32] wimpers commented on #1494
@khenderick if you would see an important use case to fix in Gilbert, please raise your voice

[2017-03-08 17:02] wimpers commented on #1481
@matthiasdeblock can you shed some light on the environment where you saw this (ping me on skype about it.)

[2017-03-08 17:03] wimpers commented on #1480
Please re-open if we can reproduce or have shiny logs

[2017-03-08 17:03] #1480 closed, assigned to khenderick

[2017-03-08 17:10] wimpers commented on #1484
Bam assumes it is a small one. revert if not

[2017-03-08 17:15] wimpers commented on #1466
Can't you use the framework controller to install that Arakoon? If not maybe remove the blocking stuff there. Why does it need to be an API.

We don't want to extend our API to setup an external managed Arakoon. The definition of external is exactly that the Framework should not care about that Arakoon.

[2017-03-08 17:19] wimpers commented on #1490
Possible consensus: have the framework automatic fix the issue but raise an error in the log for monitoring. This way it is fixed fast and OPS can still investigate.

[2017-03-08 17:20] wimpers commented on #1490
See questions in my long comment. #times it happens etc ...

[2017-03-08 17:25] khenderick commented on #1494
@wimpers, no, we can leave it to roadmap.

[2017-03-09 07:56] khenderick commented on #1497
There is #860 which was moved to internal openvstorage/org_quality#33
There was also this pre GitHub era ticket OVS-4469

[2017-03-09 08:20] khenderick commented on #1486
#1505 -> openvstorage-2.7.13-dev.1489046881.03dcac9

[code]

[2017-03-09 08:30] khenderick commented on #1484
No, it's not.

[2017-03-09 08:49] wimpers commented on #1484
@dejonghb what happens in the below scenario

does the vPool creation work or does it fail if it selects that partition smaller than 1GB?

[2017-03-09 08:52] wimpers opened #1506 "Expose volume potential"
Continuation of https://github.com/openvstorage/openvstorage-health-check/issues/293
* Expose the volume potential in the api
* Adjust vDisks creation, cloning, move vdisk so it takes the volume potential into account.

[2017-03-09 09:05] kvanhijf commented on #1484
@wimpers : question not addressed to me, but answering anyway.
The vPool creation will work, however there will be 2 SCO caches (1 with a very small size and 1 with an expected size) resulting in a very small backoff gap (because based on smallest SCO cache), thus perhaps introducing unexpected behavior

[2017-03-09 09:09] wimpers commented on #1484
Wild idea: Claim small left over amount when creating the vpool so we don't end up in a scenario where you have less than 1GB left as partition.

since it doesn't fail, not that urgent to fix for RC4

[2017-03-09 09:17] khenderick commented on #1506
Exposing it over the API is fairly easy, but keep in mind that blocking certain actions (move, creation, ...) can still fail due to race conditions (we check the potential which is e.g. 1, and by the time the move is executed some other volume was moved so it fails anyway)

[2017-03-09 09:20] khenderick commented on #1506
We might also only add some kind of warning-ish thing when a volume is moved to a node that is low on capacity. We might also always show this number in the GUI for example.

[2017-03-09 10:11] dejonghb commented on #1484
Fine as long as the throttling ingest and choking isn't a performance stopper?

[code]

[2017-03-09 10:13] kinvaris commented on #1497
@wimpers a few months ago we did some testing with a 3 node master setup. Here we saw that when shutting down 1 node the whole rabbitMQ cluster went down. Then I did some research about this and some forums pointed out you should at least have 4 nodes.

But a week ago we did some testing with 3 master nodes and the rabbitMQ cluster kept on going.

Although observing these results, I think it is re

[2017-03-09 13:38] redlicha opened #1507 "Reduce number of mgmt calls during snapshot creation"
Observed on an env where automatic snapshots are taken each hour:
[code]
"arbitrary" sample outside this interval:
[code]

Zooming in yields the following distribution of mgmt calls during the former of the above two intervals:
[code]

Since querying snapshot info involves acquiring a snapshot mgmt mutex per volume that impacts the data path and the lookup is expensive, the number of these calls s

[2017-03-09 13:48] khenderick commented on #1507
After discussions with @redlicha, it was made clear to me that the list of `list_snapshots` is ordered by an internal incrementing per-volume snapshot counter. So we can rely on the `list_snapshots` output immediately.

I guess it will only need a day or so to fix this.

[2017-03-10 07:52] jeroenmaelbrancke opened #1511 "/mnt/vmstore cleanup after vm system removal"
On a new testing environment under /mnt/vmstor/ the directories are not deleted when the vm are destroyed.
This is causing a slow response on the directory even on basic commands
root@stor-01:/mnt/vmstor# time ls -Fal | wc -l
2176
real	0m5.874s
user	0m0.040s
sys	0m0.096s
root@stor-01:/mnt/vmstor#
Could the api interface of ovs delete the directory as well when the virtual machine is destroyed ?

[2017-03-10 10:00] matthiasdeblock opened #1513 "XMLRPC timeout when creating clone from template"
GIG was complaining about an XMLRPC timeout on create_clone_from_template. This was due to some network issues and the fact that the tlogs had to be fetched from the hdd backend instead of the cache backend which was unreachable (network issue).

But what we did see was that the code from the create_clone and create_clone_from_template is different in a way that there is no timeout on create_clone

[2017-03-10 10:10] kvanhijf commented on #1495
@kinvaris : Can you validate whether this is still an issue? And if you can find anything more using the new logs

[2017-03-10 10:14] kvanhijf commented on #1449
@khenderick : Please provide input on what needs to be done for this

[2017-03-10 10:19] khenderick commented on #1500
openvstorage-2.7.13.1

[2017-03-10 10:19] khenderick commented on #1491
openvstorage-2.7.13.1
openvstorage-sdm-1.6.13.1

[2017-03-10 10:19] khenderick commented on #1487
openvstorage-2.7.13.1
openvstorage-backend-1.7.13.1

[2017-03-10 10:20] khenderick commented on #1486
openvstorage-2.7.13.1

[2017-03-10 10:20] khenderick commented on #1475
openvstorage-2.7.13.1

[2017-03-10 10:20] khenderick commented on #1464
openvstorage-2.7.13.1

[2017-03-10 10:20] khenderick commented on #1461
openvstorage-2.7.13.1

[2017-03-10 10:21] khenderick commented on #1457
openvstorage-2.7.13.1
openvstorage-backend-1.7.13.1

[2017-03-10 10:21] khenderick commented on #1456
openvstorage-2.7.13.1

[2017-03-10 10:22] khenderick commented on #1455
openvstorage-2.7.13.1

[2017-03-10 10:22] khenderick commented on #1448
openvstorage-2.7.13.1

[2017-03-10 10:22] khenderick commented on #1444
openvstorage-2.7.13.1

[2017-03-10 10:23] khenderick commented on #1332
openvstorage-2.7.13.1

[2017-03-10 10:24] khenderick commented on #1495
Logging in openvstorage-2.7.13.1

[2017-03-10 10:30] khenderick commented on #1449
HPRM is the same as PRACC.
Current requirements:
* New package that has dependency towards alba package
* Provide systemd service that has the systemd templating, so a customer can enable the service via `systemctl enable pracc@some_vpool` which will setup the service
* In the framework, a pracc config file should be downloadable int he StorageDriver overview.

Framework part might be a pracc-spec

[2017-03-10 12:14] kvanhijf opened #1514 "Introduce 'status' field for StorageDrivers"
StorageDrivers should get a status (dynamic) property. This could be used to determine whether a vDisk can be added / deleted / migrated / ... to/from this StorageDriver. Currently we always allow this unless the corresponding StorageRouter is offline. The status of a StorageDriver could be RUNNING, INSTALLING, REMOVING, FAILURE, ...

[2017-03-10 13:15] wimpers commented on #1449
Open question(s) to be answered by @saelbrec , @redlicha and @cnanakos :
* How can we provide statistics from the edge (read, write, latency counters) to the framework.  We rather not have the framework go directly to the edge.
* How will the edge know to which pracc it needs to connect. (the current idea is that the edge akss teh voldrv for the vpoolname and with that name connects to the right s

[2017-03-10 13:54] kvanhijf opened #1516 "Incorrect SCO cache calculation when no fragment caching is used"
We always take 88% of the requested SCO cache size on the WRITE partition on which the fragment caching is configured. But when no fragment caching is used, we should take the usual 98%. So without fragment caching, we currently have a decreased amount of expected SCO cache size.

[2017-03-10 14:01] kvanhijf commented on #1516
@openvstorage/qa :
To easily verify this, have 1 WRITE role, create a vPool and choose 'No Caching' for the fragment cache
Choose all available Global Write Buffer size.
Once vpool has been created, check the volumedriver logfile and search for the "scocache" section.
Verify whether the configured "size" in that section is 98% of the requested Global Write Buffer size

https://github.com/openvstor

[2017-03-10 14:15] khenderick commented on #944
I'm going to suggest to close this ticket. We haven't seen any issues lately and I think making assumptions might - like @domsj states - introduce other possible issues.

[2017-03-10 14:22] wimpers commented on #944
after discussion with @khenderick , set to closed reopen if needed.

cc @saelbrec

[2017-03-10 14:22] #944 closed, assigned to nobody

[2017-03-13 09:30] khenderick commented on #1400
#1520 -> openvstorage-2.8.0-dev.1489396698.db9085e

[2017-03-13 09:45] khenderick commented on #1342
Depending on:
* openvstorage/volumedriver-ee#4
* openvstorage/framework#1521

[2017-03-13 09:47] khenderick opened #1521 "Feature detection"
Since we cannot predict what exact versions of other components will be installed, we should have some feature detection.

Example for volumedriver:
* `features` property on storagedriver (does instance X has feature Y)
* `features` property on vpool (do all storagedrivers of vPool X have feature Y)

New code (and oob migration) can then query these features.

[2017-03-13 15:34] kvanhijf opened #1522 "Additional plugin information ignored by the ArakoonInstaller"
The framework makes use of 'run' files to validate the running version vs the installed version for certain binaries. One of these examples is the Arakoon binary, which also depends on the ALBA binary. When an Arakoon cluster is created / extended, we provide additional plugin information, in order to know these running binary versions at any given moment. But in the current implementation, this i

[2017-03-14 10:18] kvanhijf commented on #1522
@openvstorage/qa :
Should be verified in 2 ways after creating an ALBA Backend:
* Check /opt/OpenvStorage/run/arakoon-<backendname>-abm.version contains information about arakoon + alba
* ovs config get /ovs/framework/hosts/<host_id>/services/arakoon-<backendname>-abm should have an entry in the 'EXTRA_VERSION_CMD'

This should be the case after extending and shrinking the cluster on the relevant

[2017-03-14 10:30] dejonghb opened #1524 "add storagerouter IP to vdisk edge client info"
If possible it would be nice to also display the storage router IP (+ port?) used by the edge client to connect to a vdisk.
At present only the IP of the client itself is displayed. Normally the connection should go via the storage router hosting the vdisk, but if this is not the case (eg. failover/HA) it is very useful to have this info available/visible.

[2017-03-15 14:35] saelbrec commented on #1197
Testing HA, we encounter too much cases in which the volume owner is not deterministic because with  the current settings 2 decision making mechanisms are racing.
Therefor it was decided to leave the following volumedriver configuration parameters to their default values.
[code]
Which means that for an out of the box install the automigration feature is disabled.

[2017-03-16 10:46] kvanhijf commented on #1197
master --> openvstorage-2.7.13.2
develop --> openvstorage-2.8.0-dev.1489660745.93b705f

[2017-03-16 13:18] khenderick opened #1530 "vPool shrink failed due to "Operation canceled" on MDS client(s)"
On the OVH environment, we saw a vPool shrink fail:
1. For every vDisk that has an MDS entry (either master or slave) on the to be removed StorageDriver, the MDS is reconfigured (if required) blacklisting that StorageDriver;
2. The MDS service(s) are cleaned up

A few vDisks in step (1) did fail due to an `Operation canceled` error, causing step (2) to fail. Step 2 is considered "critical" and wil

[2017-03-16 13:19] JeffreyDevloo commented on #1490
When the healthcheck still created volumes in the most brute way, the DAL got out of sync quite fast. When Ops is running this check every 5 mins and 1/10-1/20 had failed (just saw the remnants, not the actual cause), this can escalate fast and a sync would but optimal.

[2017-03-16 13:27] JeffreyDevloo commented on #1466
The reason for our request for an API is so that we are constantly in sync with the framework with minimal effort.
This way we maximize our QA time instead of fixing our implementations of our controllers as we have done in the past
Changes that we currently need to follow the FWK:
- https://github.com/openvstorage/framework/pull/1465

[2017-03-16 13:27] pploegaert commented on #1524
During maintenance on node A this is very useful information as we're able to verify the volume is not only moved to node B but all edge clients also connect to node B.
Note that a manual dtl_checkup will still be needed to move the MDS master away from node A too.

[2017-03-16 13:28] JeffreyDevloo commented on #1495
This happened periodically with our setup and extend/ shrink test. First results do not show this error but it only happened sometimes. When we see the same issue again, I will freeze the environment to investigate.

[2017-03-16 13:29] khenderick commented on #1530
@redlicha, do you know what might be the cause of this?

[2017-03-16 13:29] wimpers commented on #1466
I see.  I believe a better solution would be that if the framework breaks the test, they fix the tests also (and not only their unit test).

[2017-03-16 13:30] kvanhijf commented on #1466
The framework doesn't break tests, we optimize them

On Thu, Mar 16, 2017 at 2:29 PM, Wim Provoost <notifications@github.com>
wrote:

[2017-03-16 13:31] JeffreyDevloo commented on #1247
### Validation
All current builds are no longer failing on the specified test.
Classifying this as resolved

A little sidenote: the healthcheck should not bump into this anymore aswell.

[2017-03-16 13:31] #1247 closed, assigned to JeffreyDevloo

[2017-03-16 13:34] wimpers commented on #1466
Thats is alternative QA-ing. If it the test turns from green to red you broke it, not optimised it.

[2017-03-16 14:11] redlicha commented on #1530
`Operation canceled` indicates a timeout on the client side (configurable in the `MDSClient` ctor, default value is 20 secs). For the `set_role` call this is expected behaviour if a volume's namespace with many TLogs is specified as the periodic background task that replays TLogs has to finish first.
For the `create_namespace` this is however unexpected - https://github.com/openvstorage/volumedriv

[2017-03-16 14:29] JeffreyDevloo commented on #1134
### Steps
 - Identical to above
 - Tested cross origin with CURL
 - Tested with swagger ui
### Output
#### CURL
[code]
#### Swagger UI
![selection_121](https://cloud.githubusercontent.com/assets/17570109/24001029/43501444-0a5d-11e7-8744-6d6b11904e65.png)

### Test result
Test passed.

[2017-03-16 14:29] #1134 closed, assigned to JeffreyDevloo

[2017-03-16 14:32] khenderick commented on #1466
@wimpers, we don't care about anyone except the framework team for any backwards incompatible changes to controllers. That's internal framework logic and not meant to be used by any other party or team. We have a backwards compatible API for any third party integration just to make sure that we don't have to fix the code for anybody else (code that we might not even know about).