[2015-07-16 11:30] wimpers opened #1 "Test"
test

[2015-07-17 11:56] wimpers opened #2 "test 2"
links to #1

[2015-07-17 11:59] wimpers commented on #1
ok now integrate #2

[2015-11-17 15:08] zhouyuan opened #189 "conflict on python-six dependency with devstack"
Installing ovs on ubuntu 14.04 will install python-six 1.5.2. The python lib will be at /usr/lib/python2.7/dist-packages
While Openstack Kilo needs some newer version of six (1.9). With pip it will be at /usr/local/lib/python2.7/dist-packages

By default python will select the 1.5.2 version first, this results some Openstakc module not working.

rm /usr/lib/python2.7/dist-packages/six\* will fix t

[2015-11-18 14:12] tomzo commented on #189
I had related problem when installing on ubuntu, with openstack Juno. I had to install six and suds with explicit versions.

[code]

[2015-12-07 16:21] wimpers commented on #189
We have added it to our bug tracker.

[2016-01-29 19:45] sjkeerthi opened #387 "Xenserver Support"
Hi

Will there is support for xenserver / docker or any future paln.

[2016-02-08 12:13] wimpers commented on #387
Hi,

we have support for docker. See
https://openvstorage.gitbooks.io/openvstorage/content/Administration/createvdisk.html#docker

For XenServer you should be able to use the blktap interface we added:
https://openvstorage.gitbooks.io/openvstorage/content/Administration/createvdisk.html#block

[2016-02-12 13:14] #387 closed, assigned to nobody

[2016-02-19 05:44] despiegk opened #410 "home page improvements requested"
- need to explain role of each github repo/component on home page
- licensing info is not up to date (vol driver, alba, has different licensing)

[2016-02-19 06:11] despiegk opened #411 "git repo structure cleanup"
todo
- move framework to separate repo
- the openvstorage main repo (this one) should only be used for documentation & milestones & stories !!!
- the stories on openvstorage main repo should link to Feature Requests or Bugs on the other repo's
- make sure each repo has a well chosen name
- move all documentation to this repo & make sure gitbook follows this  change

[2016-02-19 06:14] despiegk opened #412 "docker build env for arakoon"
in https://github.com/openvstorage/docker_arakoon

get inspiration from e.g.
https://github.com/Jumpscale/docker_influxdb

what
- start from ubuntu 15.10 SSH supported docker
- build using https://hub.docker.com/
- create documentation to explain where binaries are

steps to do
- install all build requirements
- download required sourcecode
- build server & client components
- build python client

[2016-02-19 06:29] despiegk opened #414 "milestone management OS"
create OS milestone on all relevant repo's
best to create a script for  it which can be used many times in future

otherwise we cannot group bugs/feature requests on project level

[2016-02-19 06:31] despiegk opened #415 "docker build env for alba"
see #412

[2016-02-19 06:32] despiegk opened #416 "docker build env for volume driver"
see #412

additional remarks
- make sure client for python is build as well (python 2.x & 3.5 support)

[2016-02-19 06:35] despiegk opened #417 "logging & eco's to redis"
todo org
- create Feature Request (ISSUE) on each relevant repo
- link the FR's to this story

todo work
- send all logging info to local redis
- make sure there is a config setting for each component to define which redis to use & port, if not specified do not log or keep on logging to files
- when logging to redis do not log to files
  -also send all ECO's to redis
- document the behaviour

ECO=

[2016-02-19 06:35] despiegk opened #418 "stats to redis"
todo org
- create Feature Request (ISSUE) on each relevant repo
- link the FR's to this story

todo work
- send all stats info to local redis
- make sure there is a config setting for each component to define which redis to use & port, if not specified do not send stats
- define in config file  (ETCD) what stats to send and at what interval
- document the behaviour & used stat counters

example
-

[2016-02-19 06:40] despiegk opened #419 "all configuration info comes from ETCD"
todo org
- create Feature Request (ISSUE) on each relevant repo
- link the FR's to this story

todo
- make sure that all config settings for each component are in ETCD
- properly document these config settings in our main doc repo
- ETCD connection param should be defined on command line when starting the daemons
- explain how to use ETCD as backend and how to startup each component while  using E

[2016-02-19 06:44] despiegk opened #420 "minimal environment running in docker"
- create dockerfile which installs alba

[2016-02-20 17:47] toolslive commented on #412
Both Arakoon and Alba have been using docker on jenkins for continuous integration since Q3 2015.

The recipes can be found here
- Arakoon: https://github.com/openvstorage/arakoon/blob/1.9/docker/arakoon_debian/Dockerfile
- Alba : https://github.com/openvstorage/alba/blob/master/docker/alba_debian_jenkins/Dockerfile

However, these do way more than just build Arakoon or Alba. For example, they als

[2016-03-15 08:23] saelbrec commented on #420
Closing issue, moved to openvstorage/home#5

[2016-03-15 08:23] #420 closed, assigned to nobody

[2016-04-22 11:51] kinvaris opened #514 "disk/role configuration should happen in parallel"
Currently when you configure roles on your cluster, every configuration happens in serial mode.

This means for even small clusters like 4 nodes, you configure at least 12 - 16 disks that takes each 1.5 - 2 minutes to complete.

Worst case scenario, you lost 30 minutes for 4 nodes.

[2016-04-22 11:57] kinvaris opened #515 "Display overview of storage nodes connected to a cluster similar to storage routers."
If you install your cluster, you only see your storage nodes when you create a backend.

Wouldn't it be sane to add a page similar to that of the storage routers to the GUI?

[2016-04-25 09:14] khenderick opened #516 "Add functionality to support new alba-plugin feature"
Add functionality to support new alba-plugin feature.

Story: openvstorage/home#6

[2016-04-25 12:00] despiegk opened #518 "redundant docker cluster for framework on ubuntu 16.04"
inside components
- etcd
- rabbitmq
- memcache

outside components are
- arakoon
- alba
- vol driver
- ...

use weave to connect the dockers
- create procedure how to build it & install it
- and connecting the 3 dockers to each other over weave

[2016-04-26 07:42] khenderick opened #520 "Possible stale cache of hybrid objects"
Possible stale cache of hybrid objects. Following was observed (please note that there's only one vpool on that env)

[code]

[2016-05-04 07:04] khenderick commented on #516
Closed by #519

[2016-05-04 07:04] #516 closed, assigned to khenderick

[2016-05-17 09:22] eduardBM opened #529 "Update license headers in Framework repo"
Story: https://github.com/ovs-projects/org_development/issues/12

[2016-05-18 09:21] #529 closed, assigned to eduardBM

[2016-05-18 12:14] wimpers opened #531 "Add None as fragment cache option"
In case of an All Flash Backend (without an HDD backend) we need to be able to select None as fragment cache mode of the ALBA proxy. This allows partial fetching of the SSDs.

[2016-05-19 07:13] khenderick opened #532 "Add support for (unique) constraints in DAL"
Add support for (unique) constraints in DAL. I estimate this to be about 1-3 days of work.

[2016-05-19 07:21] wimpers opened #533 "Add Snapshot and Set as vTemplate as possible actions for a vDisk"
Add Snapshot and Set as vTemplate as possible actions for a vDisk. This is currently available for vMachines but not for vDisks.

[2016-05-19 11:31] kvanhijf opened #535 "Multi-DC GUI"
multidcgui

The multiple datacenter implementation for the GUI

[2016-05-19 11:49] #535 closed, assigned to nobody

[2016-05-20 14:42] kinvaris opened #538 "Any node should be able to SCRUB, currently only storagedrivers are able to scrub locally."
In a previous ticket it is defined:

[code]

Although defined in the code it is only possible for storagedrivers to SCRUB: https://github.com/openvstorage/framework/blame/master/ovs/lib/scheduledtask.py#L220

This means that the framework accepts that on a non-compute node a SCRUB role is defined. But It never uses it.

This leads to: (and all volumes are never scrubbed)

[code]

[2016-05-23 08:13] wimpers opened #540 "Remove Rollback from GUI"
Remove rollback vDisk and vMachine from the GUI. Users should use the clone functionality to accomplish the same result.

[2016-05-25 10:34] dejonghb opened #545 "public/private key pair locations & generation"
Around https://github.com/openvstorage/framework/blob/master/ovs/lib/setup.py#L305 the code expects to find keys in the hardcoded '/opt/OpenvStorage/.ssh' path.

This /opt/OpenvStorage path is expected to be the homedir of the ovs user in https://github.com/openvstorage/framework/blob/master/scripts/install/openvstorage-core.postinst.py#L107 which user might have been created (if not present on th

[2016-05-25 11:57] khenderick opened #546 "Update etcd"
Update etcd to latest version. Then validate whether etcdctl still executes dirty reads.

[code]

[2016-05-25 12:12] domsj commented on #546
Quorum reads were added to etcdctl in this commit: https://github.com/coreos/etcd/commit/11f49a09605b7590fe1b3e7892ff8cc3c66dbe71
As you can see there it should be available as of v2.3.0.
Once you've updated etcdctl to this version we can make a new version of alba & arakoon which adds the --quorum flag to do consistent reads.

[2016-05-25 12:34] khenderick commented on #546
@domsj I've just updated etcd to 2.3.5 on unstable. Can you check out the new `--quorum` option in etcdctl and if possible start using it?

[2016-05-25 12:34] #546 closed, assigned to nobody

[2016-05-25 12:45] khenderick commented on #417
Integrated and documented at [gitbooks](https://openvstorage.gitbooks.io/framework/content/docs/log.html)

[2016-05-25 12:45] #417 closed, assigned to nobody

[2016-05-25 13:00] khenderick opened #547 "Make sure that the quorum flag is passed using etcdctl"
Make sure that the quorum flag is passed using etcdctl

[2016-05-25 13:19] #547 closed, assigned to khenderick

[2016-05-25 14:22] kvanhijf opened #549 "Setting up GRID fails because of new Etcd version"
2016-05-25 16:08:17 87400 +0200 - OVS-2 - 17375/139777810417472 - lib/setup - 12 - INFO - Extending Etcd cluster to this node
2016-05-25 16:08:18 39700 +0200 - OVS-2 - 17375/139777810417472 - lib/setup - 14 - ERROR - Failed to setup extra node
Traceback (most recent call last):
  File "ovs/lib/setup.py", line 467, in setup_node
    hypervisor_info=hypervisor_info)
  File "ovs/lib/setup.py", line 1

[2016-05-25 14:50] kvanhijf commented on #549
https://github.com/openvstorage/framework/pull/550

[2016-05-26 11:41] kvanhijf opened #551 "Add vDisk not working for VMWare"
`2016-05-26 13:39:36 72900 +0200 - OVS-1 - 23171/140722815354688 - celery/celery.worker.job - 226 - ERROR - Task ovs.vdisk.create_new[dff66fdc-aa3b-41cf-81f2-25f6e51e3f43] raised unexpected: RuntimeError('Could not find datastore',)
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/celery/app/trace.py", line 240, in trace_task
    R = retval = fun(*args, **kwargs)
  File

[2016-05-26 14:45] kinvaris opened #552 "'avahi-daemon --reload' fails during setup"
You reload avahi and then restart it as seen here:
https://github.com/openvstorage/framework/blob/master/ovs/lib/setup.py#L1595
Why not just restart it, because sometimes avahi gives problems after installation:

[code]

[2016-05-27 07:29] kinvaris opened #553 "Make DTL configurable as a role."
Currently the DTL is always configured to run on the disk with the WRITE role.
This means that you always have performance loss due to the DTL on your WRITE disk. Also there is some space reserved for the DTL so if this feature is added it gives the customer some more flexibility to configure where to run the DTL.

[2016-05-27 08:11] khenderick opened #554 "Watcher doesn't log because console is set to none"
Watcher doesn't log because console is set to none

[2016-05-27 08:18] #554 closed, assigned to khenderick

[2016-05-27 14:06] khenderick opened #556 "Reduce Etcd reads by the watcher"
Reduce Etcd reads by the watcher

[2016-05-27 14:26] khenderick commented on #556
Closed by #557

[2016-05-27 14:26] #556 closed, assigned to nobody

[2016-05-30 12:45] jeroenmaelbrancke opened #558 "rabbitmq warning reports connection_closed_abruptly due to celery ping heartbeat"
ovs version:

[code]

Every minute we received a warning report from rabbitmq:

[code]

the celery inspect ping is the problem (connection to rabbitmq is not properly closed):

[code]

[Celery ping](https://github.com/openvstorage/framework/blob/master/ovs/extensions/generic/heartbeat.py#L54)

Solution:

[code]

output:

[code]

[2016-05-31 08:59] wimpers commented on #558
@jeroenmaelbrancke can you create a PR for this one?

[2016-05-31 09:04] wimpers commented on #552
@kinvaris please create a PR to restart.

[2016-05-31 09:23] #415 closed, assigned to nobody

[2016-05-31 09:23] #416 closed, assigned to nobody

[2016-05-31 09:23] #412 closed, assigned to nobody

[2016-05-31 09:28] wimpers commented on #419
@khenderick is there anything left open for this FR?

[2016-05-31 09:31] khenderick commented on #419
@wimpers, for the framework everything is implemented and documented.

[2016-05-31 09:31] #419 closed, assigned to nobody

[2016-05-31 09:55] delandtj commented on #518
Hmmm.. I figure with all our networking in place to properly connect dockers over an openvswitch bridge, I would omit the weave part and connect the dockers to backplane1 , so that all the difficulties of ip assignments for etcd, arakoon... would simply vanish.

Also, I dont know what the repercussions might be of a weave setup running on an already set-up openvswitch env like we have in place. We

[2016-05-31 11:22] kinvaris opened #559 "Extending vpool does nothing in GUI when directory with same name is already present in /mnt"
When a directory is present in `/mnt` with the same name as the vPool, you cannot extend the vpool to the that node. The frontent just does nothing when trying to extend it.

[code]

[2016-05-31 11:36] eduardBM opened #560 "Implement cache settings"
Story: https://github.com/ovs-projects/org_development/issues/25

[2016-05-31 14:50] #410 closed, assigned to nobody

[2016-05-31 14:51] wimpers commented on #411
Documentation piece will be picked up in https://github.com/openvstorage/home/issues/3

[2016-05-31 14:51] #411 closed, assigned to nobody

[2016-05-31 15:50] domsj opened #562 "Set up alba cache-eviction service for a backend when it's used as a cache"
Some process will need to evict items from the cache ... towards this end we added `alba cache-eviction`.
You should set up a (bunch of) service(s) for this when a backend is configured to be used as a cache (when setting up a vpool / extending it to a node). You probably want multiple of these services for HA, much like how you do it for maintenance.

`alba cache-eviction --help`
`alba cache-evic

[2016-06-01 09:59] #560 closed, assigned to eduardBM

[2016-06-01 11:14] #552 closed, assigned to kinvaris

[2016-06-01 13:44] wimpers commented on #558
@jeroenmaelbrancke  does https://github.com/openvstorage/framework/commit/dccecbc76f17bf7187e16d680bf6bc9768e7a62f fix this issue? If yes, please put the ticket to closed.

[2016-06-01 15:56] jeroenmaelbrancke opened #566 "/ovs/framework/messagequeue endpoints contains only one rabbitmq ip"
Not all the ips of the rabbitmq cluster are added to the endpoints variable.

[code]

[2016-06-01 16:20] saelbrec commented on #531
If not None, we should propose by default to enable Cache on Write.

[2016-06-02 10:53] redlicha opened #567 "Set voldrv MDS slave state after a reconfiguration / failover"
Scenario: volume uses MDS1 (master) and MDS2 (slave). A failover or on reconfigurations that swap the order MDS2 will be used by voldrv and promoted to master and MDS1 is left in a master role. This means it will not update itself from the backend anymore. In case of another swap of the configuration MDS1 will have to fetch too many TLogs from the backend. To make MDS1 update itself from the backe

[2016-06-02 16:18] khenderick opened #569 "Maintenance agents cannot be reconfigured when node is down that runs such agent"
Maintenance agents cannot be reconfigured when node is down that runs such agent

[2016-06-03 08:00] jeroenmaelbrancke commented on #558
Investigation, testing, approaching 2 different methods, create PR (2d)
@Wim celery inspect ping doesn't allow multiple brokers in the connection string.
If the first node is down the celery ping gets a connection refused error.
Fixed this by creating a task on every worker to update his own timestamp.

[2016-06-03 13:20] khenderick commented on #566
Fixed by #570

[2016-06-03 13:20] #566 closed, assigned to nobody

[2016-06-03 14:02] khenderick commented on #558
Fixed by #565

[2016-06-03 14:02] #558 closed, assigned to jeroenmaelbrancke

[2016-06-07 08:08] jeroenmaelbrancke opened #576 "Racecondition when two ends of a relation are updated at the same time"
Version:

[code]

env:
ctl/cmp nodes: 10.100.199.1-4

When deleting a VM via KVM manager the Vdisk is still available via the GUI.

![vdisk](https://cloud.githubusercontent.com/assets/2900612/15849959/8c1bcbce-2c95-11e6-8734-bc0a251fea17.png)

Vdiks has been removed on the vpool:

[code]

Vdisk object still exists in the model:

[code]

Exception i found on cmp01:
[ovs-volumedriver_be-vpool.txt](h

[2016-06-07 09:00] khenderick commented on #576
Also reported by internal ticket OVS-4549

[2016-06-07 09:03] khenderick commented on #576
As requested by @wimpers in the internal ticket, it's not related to multiple vDisk deletions at the same time, but related to deleting the vMachine at the same time.

[2016-06-07 11:59] #576 closed, assigned to khenderick

[2016-06-07 12:03] saelbrec opened #578 "Storagerouter EdgeServer port can not be retrieved from the GUI"
The port is auto-generated and stored in ovsdb and etcd but not displayed in the GUI.

[2016-06-07 12:44] kvanhijf opened #579 "AlbaCLI wrapper should not ignore errors when executing the command locally"
if client is None:
    try:
        output = check_output(cmd, shell=True).strip()
    except CalledProcessError as ex:
        output = ex.output

This piece of code makes sure the potential errors are ignored, which we should not do

[2016-06-07 12:48] kvanhijf opened #580 "Alba verify_namespaces not working as expected"
The scheduled task AlbaScheduledTaskController.verify_namespaces calls for 'verify-namespace' to the ALBA CLI.

AlbaCLI.run('verify-namespace {0} --factor={1}'.format(namespace['name'], verification_factor))

However the 'verify-namespace' requires a namespace AND a jobname as additional arguments
The jobname is in this case not provided and thus the call can never pass

Due to https://github.com/

[2016-06-07 15:02] #578 closed, assigned to khenderick

[2016-06-08 07:08] khenderick commented on #551
Above stacktrace was due to not adding the vPool as a datastore on the ESXi node. However, it doesn't work anyway, with following stacktrace:

[code]

[2016-06-08 08:23] #551 closed, assigned to khenderick

[2016-06-08 08:51] khenderick opened #585 "Clean up upgrade logic"
Clean up the upgrade logic.

Our current approach (running through all versions: 0 > 1 > 2 > 3 > 4) does not work anymore. To fix this, we should make the upgrade logic smarter so it just handles all changes without going through all versions (0 > 4, 1 > 4, 2 > 4, 3 > 4).

As there is currently no version which can be upgraded to Fargo, we can remove a lot of upgrade logic for dal migrations (only

[2016-06-08 11:47] eduardBM opened #587 "Cannot add local alba backend"
Issue introduced by #542

Error ... albaBackend.totalSize is not a function, in gather_config.js

[2016-06-08 12:04] #587 closed, assigned to eduardBM

[2016-06-08 12:09] eduardBM commented on #587
openvstorage 2.7.0-rev.3574.6815b75

[2016-06-08 15:37] wimpers opened #589 "Changes made in #582 are not documented"
Changes made in #582 are not documented. Please get the documentation inline with reality.

[2016-06-08 16:44] saelbrec commented on #576
@khenderick ,
Does the same problem exist in the Eugene-updates code base?

[2016-06-08 17:46] khenderick commented on #576
@saelbrec, no, it was introduced in the major DAL refactoring on master. The eugene-updates branch uses extensive (slower) locking.

[2016-06-09 06:44] eduardBM opened #591 "Cannot extend vpool"
Openvstorage 2.7.0-rev.3574.6815b75, 3 nodes setup, added vpool on first node (10.130.11.201)

Trying to extend vpool to second node (10.130.11.202):
(error in add_vpool wizard)
Following errors were found:
Required Storage IP 10.130.11.201 could not be found

[2016-06-09 06:50] eduardBM opened #592 "Add vpool wizard: space calculation is incorrect"
Openvstorage 2.7.0-rev.3574.6815b75, 3 nodes setup, 2 SSDs - 59 GB each(1: DB+Write, 2: Read+Scrub) 5 ASDs per node, initialized and claimed 15 ASDs in backend, adding vpool with local alba backend.
Wizard shows available read cache as 15Gib, accepted default, clicked next.
Ovs-workers logs error:
Too much space requested for WRITE cache. Available: 9.24 GiB, Requested: 15.00 GiB

After discussion

[2016-06-09 06:51] eduardBM commented on #592
Worked around it by changing the SSD roles (1: DB+SCRUB, 2:READ+WRITE) so the overhead calculation reduces the scrub partition not the read/write cache

[2016-06-09 12:23] wimpers commented on #589
See @pploegaert 's  PR.

[2016-06-09 12:48] wimpers commented on #567
@redlicha why can't the volumedriver tackle this?

[2016-06-09 12:52] wimpers commented on #562
@domsj reopen if still required but I believe this will be fixed in https://github.com/ovs-projects/org_development/issues/18 by allow the maintenance agents to do cache eviction

[2016-06-09 12:53] #562 closed, assigned to nobody

[2016-06-09 12:54] wimpers commented on #559
At least an error should be created in this case.

@kinvaris  did something previously went wrong with the cleanup?

[2016-06-09 13:03] wimpers commented on #414
Will be tackled by the cockpit script

[2016-06-09 13:03] #414 closed, assigned to nobody

[2016-06-09 14:19] jeroenmaelbrancke opened #593 "celery crashes sometimes when creating a filesystem"
When we reinstall the env and configure the roles on the nodes,
celery worker received a warm shutdown from the main process and killed all the running tasks.
Roles are not added to the disk and sometimes the disk doesn't have a filesystem.

@khenderick Can we have look tomorrow and see why the celery restart?
We cannot afford to lose a running task due to a warm shutdown...

[code]

![disks](http

[2016-06-09 14:34] eduardBM commented on #591
Investigating, testing (1d)

[2016-06-09 14:58] matthiasdeblock opened #594 "No relation between vmachine and vdisk after creating virtual machine on KVM (virt-install)"
After creating a virtual machine with KVM (virt-install) there is no relation between vmachine and vdisk.

[code]

[code]

**Workaround**
Change the code in /opt/OpenvStorage/ovs/lib/vmachine.py from:
`datastores = dict([('{0}:{1}'.format(storagedriver.storage_ip, storagedriver.mountpoint), storagedriver) for storagedriver in storagedrivers])`
To:
`datastores = dict([('127.0.0.1:{0}'.format(storag

[2016-06-09 14:59] jeroenmaelbrancke opened #595 "use the standard ovs log format"
Not all the logs have the standard ovs format. [log format](https://openvstorage.gitbooks.io/framework/content/docs/log.html)

ovs-workers.log

[code]

ovs-webapp-api.log

[code]

[2016-06-09 15:02] wimpers commented on #594
I believe this might be related to code @khenderick is tackling atm. It should use the storage IP not 127.0.0.1

[2016-06-09 15:27] #589 closed, assigned to wimpers

[2016-06-10 11:51] #594 closed, assigned to eduardBM

[2016-06-10 11:51] #591 closed, assigned to nobody

[2016-06-10 11:52] eduardBM commented on #591
Testing fix (0.5d)

[2016-06-10 11:52] eduardBM commented on #594
Testing Fix (1.5 h)

[2016-06-10 11:55] eduardBM commented on #591
openvstorage-2.7.0_rev.3582.80636a4-1

[2016-06-10 11:55] eduardBM commented on #594
openvstorage-2.7.0_rev.3582.80636a4-1

[2016-06-13 08:35] wimpers opened #599 "Dedupe can be selected even if the correct package isn't installed"
When creating a  vPool () it is possible to select deduplication while this feature might not be available in the voldrv package of the storage router. We should capture/block this so if the voldrv package without dedupe is installed that you can't select dedupe.

Same issues plays for editing vDisks.

[2016-06-13 08:57] khenderick commented on #531
Fixed by #598

[2016-06-13 08:57] #531 closed, assigned to nobody

[2016-06-13 10:01] khenderick commented on #599
It was previously decided that this would not be required. However, it still makes a lot of sense to do this, but shouldn't we then also check whether the volumedriver is installed at all and block creation of a vpool if not?

[2016-06-13 10:01] khenderick opened #600 "Prevent selecting a domain as recovery domain if it's not primary anywhere"
Prevent selecting a domain as recovery domain if it's not primary anywhere

[2016-06-13 10:04] wimpers commented on #599
For a first version this is ok, for GA we want to fix this.

[2016-06-13 10:12] khenderick opened #601 "Backwards compatibility for creating backend"
Backwards compatibility for creating backend

[2016-06-13 11:34] pploegaert opened #602 "Retrieving updates on env where no vpool was setup yet raises KeyError: 'voldrv'"
Clean install
Add backend only
GUI -> Administration -> Updates -> spinner does not disappear

ovs-workers.log shows:

[code]

[2016-06-13 12:07] khenderick commented on #601
Fixed by #143

[2016-06-13 12:07] #601 closed, assigned to nobody

[2016-06-13 12:11] khenderick opened #603 "Integrate RDMA (for StorageDriver and ALBA)"
Integrate RDMA (for StorageDriver and ALBA)

[2016-06-13 12:31] kinvaris opened #604 "RAID partition with / on it is seen as empty raw disk."
![](http://s32.postimg.org/5mr2xjal1/md_bug_partitions.png)

[2016-06-13 15:43] jeroenmaelbrancke opened #605 "logging printed on console when using ovs methods"
ovs version:

[code]

Examples:

[code]

and health_check:

[code]

[2016-06-14 07:21] khenderick commented on #605
It seems the healthcheck overwrites /usr/bin/ovs, and after that it doesn't configure the log override anymore.

[2016-06-14 07:21] #605 closed, assigned to nobody

[2016-06-14 08:51] jeroenmaelbrancke opened #606 "Vdisk still present in the model when deleting the VM via VMM"
When deleting a vm via VMM (virtual machine manager) the vdisk is still present in the model.
The raw disk has been deleted by the volumedriver.

ovs version:

[code]

ovs-workers.log

[code]

volumedriver.log

[code]

vpool:

[code]

![vdisk](https://cloud.githubusercontent.com/assets/2900612/16036778/b18cf2ba-321d-11e6-958b-e646e7dbd00f.png)

[2016-06-14 09:06] wimpers opened #607 "Remove cache hits from GUI"
Remove cache hit ratio from:
- Storage Router Detail page
- vPool list
- vPool detail page
- vMachine list
- vMachine detail page
- vDisk list
- vDisk detail page

[2016-06-14 09:59] wimpers opened #608 "Move status on vPool list to front"
The status of the vPool is now shown as last column of the vPool list page. We should bring the layout inline with the storage router list page and move the status column to the front.

Same for Backend status on the Backends page.

[2016-06-14 10:01] wimpers opened #609 "vDisk mgmt actions: bring cache options inline with vPool"
On a vPool level the cache options are read, write, read/write and no caching. on vdisk level you have read, write  and no caching. We should bring both inline and add read/write to the vDisks caching options.

[2016-06-15 06:17] pploegaert opened #613 "Missing config in albascheduledtask controller for verify_namespace"
'''
!export LD_LIBRARY_PATH=/usr/lib/alba; /usr/bin/alba verify-namespace --factor=10 fd-vpool1-0ce58ff1-eb4a-4b19-b024-291109a50411 marie_fd-vpool1-0ce58ff1-eb4a-4b19-b024-291109a50
alba: required option --config is missing
Usage: alba verify-namespace [OPTION]... NAMESPACE JOB_NAME
Try `alba verify-namespace --help' or`alba --help' for more information.
\\

[2016-06-15 06:21] #613 closed, assigned to pploegaert

[2016-06-15 11:07] jeroenmaelbrancke opened #615 "Too much space requested for DB/WRITE cache"
When creating a vpool i got following errors:

The available Write cache and the requested cache are the same (why do we get an error for this?):

[code]

The DB available space and the requested space are the same (why do we get an error for this?):

[code]

[2016-06-16 09:33] #603 closed, assigned to khenderick

[2016-06-16 09:33] khenderick commented on #602
Was resolved by #617

[2016-06-16 09:33] #602 closed, assigned to khenderick

[2016-06-16 09:38] khenderick commented on #595
This is the component's logging, we cannot change that.

[2016-06-16 09:38] #595 closed, assigned to nobody

[2016-06-16 09:52] #580 closed, assigned to nobody

[2016-06-16 13:03] kinvaris opened #619 "Permission denied during partitioning disks"
[code]

[2016-06-16 13:07] kinvaris commented on #619
[code]

[2016-06-16 13:09] khenderick commented on #619
Duplicates internal ticket OVS-4531

[2016-06-16 15:56] matthiasdeblock commented on #615
Having the same issue:

[code]

[2016-06-17 09:01] kinvaris opened #621 "Add hostname and FQDN to ALLOWED_HOSTS"
When setting up a system one should be able to login via the server its hostname or FQDN.
This is located here: `/opt/OpenvStorage/webapps/api/settings.py +56`

If this file is changed one should restart `ovs-watcher-framework`

[2016-06-17 09:04] kinvaris opened #622 "ovs should check dependencies before being able to install / deploy anything."
When trying to create a vpool, it failed because the KVM dependency is not checked:

[code]

[2016-06-17 09:37] wimpers commented on #621
I created https://github.com/openvstorage/home/issues/22 as FR. Initial investigation showed there was more work todo than just adding the hostname to allowed hosts.

[2016-06-17 09:50] #540 closed, assigned to nobody

[2016-06-17 10:58] wimpers commented on #622
For Fargo it should be able to install without having KVM installed as you can connect with the edge.
Just checking for the depenency and blocking is not the way to go, You should be able to extend a vPool even if KVM or VMware isn't there.

[2016-06-17 11:15] kvanhijf commented on #622
For Fargo, this is - to my knowledge - not the case
Creating a vPool will not work even when using Edge
I cannot remember reviewing anything from @khenderick which allowed this

[2016-06-17 11:36] wimpers opened #623 "Harden delete vPool"
Follow up of https://github.com/openvstorage/framework/issues/622

In case you expand a vPool to a node where no KVM is running, you can't delete the vPool.

[2016-06-17 12:13] khenderick commented on #622
Correct, at this moment KVM or VMWare is a requirement, and we never got a request to change this so a vpool could be extended to a non-hypervisor backed node. There were a few tickets in the past for allowing non-hypervisor backed nodes, but these were postponed.

[2016-06-17 12:53] khenderick commented on #622
It also seems that @kvanhijf did add a check that raises a more informative error when virsh is not installed in Fargo.

[2016-06-17 13:03] wimpers commented on #622
Any idea why we decided to ask for the hypervisor type in the OVS setup step? Could we remove that step and on a vpool extend check for the hypervisor? If we detect KVM (or should we ask) the user, we could use the code path which uses virsh. I'm aware this doesn't solve the issue for the Edge.

[2016-06-17 13:09] khenderick commented on #622
Because back then every StorageRouter had to be on a Hypervisor, either (bare metal on) KVM or (VSA on) VMWare. What you suggest could indeed be part of the "remove hypervisor requirement" storycard implementation.

And the report itself (the thing @kinvaris mentions) is already fixed in Fargo.

Edit: well, not perfectly fixed, a nicer error is raised, but it's not covered before the wizard finish

[2016-06-17 14:00] kvanhijf opened #625 "Allow possibility for customer to decide between performance and data protection regarding the DTL"
We can prioritize to configure the DTL for vDisks on the recovery domain(s) specified or on the regular domain(s) specified
With the regular domains prioritized, we have better performance, but could potentially have some data loss
With the recovery domains prioritized, we have a bit less performance, but are better protected from data loss

[2016-06-17 14:26] wimpers commented on #623
See https://groups.google.com/forum/#!topic/open-vstorage/TLv9wkQTSVQ for errors

[2016-06-17 14:31] wimpers commented on #623
@pploegaert acccording to @kvanhijf the delete vPool is hardened in Fargo so this issue might be already fixed. Can we test?

[2016-06-17 14:34] kvanhijf commented on #623
@wimpers : you asked me if an offline node could be removed from a vpool
The issue described here is not yet fixed apparently in Fargo

[2016-06-18 06:50] kinvaris opened #626 "vPools fails to create when the directory already exists in /mnt"
When looking in `/mnt`, we see this:

[code]

A leftover directory managed to fail the vpool creation: (as seen in `/var/log/upstart/ovs-volumedriver-vpool-40.log`)

[code]

[2016-06-20 07:44] pploegaert opened #627 "Unable to create VM from template"
VPN tunnel  10.0.1.74 via 172.20.3.25

Cluster ID: vJvGFWHxdtWDy3UB

StorageRouters:
Storagerouter1: 54d6fsdTSPoaHCKZ
Storagerouter2: feGHzX9DPnUdQoFZ
Storagerouter3: 5yoL2lzwheSwwpkw

ESXi details:-

HOST
192.168.17.201
192.168.17.202
192.168.17.203

OVSVSA
192.168.17.101
192.168.17.102
192.168.17.103

Versions:-
            "openvstorage-backend-core": "1.7.0-fargo.1-1",
            "alba": "0.9

[2016-06-20 08:03] khenderick opened #628 "Remove cache hit ratio"
Remove cache hit ratio
- Remove CHR panel and CHR from vDisk stats on dashboard.
- Remove CHR on VPool, vmachines and vdisks both on detail and list pages.
- Remove footer

[2016-06-20 08:04] khenderick opened #629 "Add Snapshot and Set as vTemplate as possible actions for a vDisk"
Add Snapshot and Set as vTemplate as possible actions for a vDisk

[2016-06-20 08:04] khenderick commented on #629
Story: ovs-projects/org_development#30

[2016-06-20 08:04] khenderick commented on #628
Story: ovs-projects/org_development#30

[2016-06-20 08:17] kinvaris opened #630 "RAMdisk should be visible as `raw disk` when assigning roles to disks"
When creating a RAMdisk, it should be visible when rescanning your disks when assigning roles to disks.

[2016-06-20 08:21] kinvaris opened #631 "Seperated storage nodes: ask IP to copy arakoon config file/etcd config"
Currently, when trying to setup a HyperScale or GeoScale setup you have to execute these steps before trying the setup `asd-manager setup`:

[code]

Template:

[code]

This should be implemented easier.

[2016-06-20 08:24] khenderick commented on #631
Marked as feature as this semi-manual setup for non hyperconverged nodes was explicitly requested.

[2016-06-20 08:38] wimpers commented on #631
@kinvaris please tackle in your ansible cookbook for now.
Is this already added to the documentation?

[2016-06-20 08:43] wimpers commented on #630
Will be tackled in https://github.com/openvstorage/home/issues/20

Add feedback if needed to that spec.

[2016-06-20 08:43] #630 closed, assigned to nobody

[2016-06-20 08:54] wimpers commented on #619
Workaround;

Make sure the partition table is correct before assigning the roles:
- parted /dev/sd[x]
  - Partition Table: loop
- fdisk /dev/sd[x]
  - d / n / p / enter / enter / enter / w
- parted /dev/sd[x]
  - Partition Table: msdos

[2016-06-20 09:07] wimpers commented on #609
@khenderick what happens if you set to no cache on vPool level and on vDisk level you override this setting with cache on read?

[2016-06-20 09:16] khenderick commented on #607
Duplicate #628

[2016-06-20 09:16] #607 closed, assigned to khenderick

[2016-06-20 09:20] kinvaris opened #632 "Storage nodes should be visible without a backend"
Like the storage routers, the storage layer should get a page where you can see the details of the added storage nodes.

[2016-06-20 09:25] wimpers commented on #632
@kinvaris  Doesn't this duplicate https://github.com/openvstorage/framework/issues/515 ?

[2016-06-20 09:33] kvanhijf commented on #609
According to the code, the vDisk should use this new setting and will
ignore the global vPool setting

On Mon, Jun 20, 2016 at 11:07 AM, Wim Provoost notifications@github.com
wrote:

##

_Kevin Van Hijfte, Software Engineer_

www.openvstorage.com http://www.cloudfounders.com/ |
kevin.vanhijfte@openvstorage.com kevin.vanhijfte@cloudfounders.com

_Tel: +32 9 324 25 70_

_Open vStorage, Storage for t

[2016-06-20 09:37] wimpers commented on #609
I see.

This is probably not what we want as this will configure voldrv caching while you want to configure ALBA proxy caching.

@domsj can you configure the alba proxy cache per namespace or is that a global setting per proxy?

[2016-06-20 09:54] kvanhijf opened #633 "DTL checkup improvements for manually overruled DTL targets"
The DTL checkup code contains some issues when the DTL target for a vDisk has been overruled
1) When a DTL target for a vDisk has 2 domains, but 1 domain is removed, the DTL checkup will not make sure the target is switched to the remaining domain
2) When reconfiguration is required, we ALWAYS set the DTL config to ASYNC even when it was overruled with SYNC

Issue is present in FARGO

[2016-06-20 11:24] domsj commented on #609
The type of cache and cache-on-read/write/read&write is currently configured per proxy.

The proxy read_object_rfs  call has a should_cache argument, but I think it only influences caching of the metadata (manifest), while the actual data will be cached anyway (but I have to verify).
The partial read call, which is used to fetch the actual volume data, and write_object_fs - used to write scos/obje

[2016-06-20 11:47] khenderick commented on #628
Fixed by #637

[2016-06-20 11:47] #628 closed, assigned to khenderick

[2016-06-20 12:20] #633 closed, assigned to nobody

[2016-06-20 12:35] deepshirsath commented on #627
Detailed steps : -
- Created fresh vm 'Win2k8R2-tmpl' on host 192.168.17.201 using Windows 2008 R2 ISO.
- Attached 2nd vDisk of 10 GB to the VM via vsphare client
- Installed VMware tools and basic software’s in the VM.
- After successful setup of the VM, did graceful shutdown of vm 'Win2k8R2-tmpl'
- From OVS gui, set vm as template.
- Navigated to template section on OVS gui and attempted to crea

[2016-06-20 13:17] kinvaris opened #638 "Loading information from storage routers takes a long time, except when refreshing the page."
When looking at the information on a storage driver, or when one wants to change the `domains` &/or `failure domains` of that storagedriver. It takes a long time to load the information except when just hitting `F5` to refresh the page.

Bug: https://s31.postimg.org/ath5dzlx7/bug_ovs_1_sr.png

When hitting `F5`, it successfully loads: https://s32.postimg.org/4vz180m45/bug_ovs_2_sr.png

[2016-06-20 13:19] kinvaris commented on #632
@wimpers: indeed

[2016-06-20 13:19] #632 closed, assigned to nobody

[2016-06-20 13:21] kinvaris commented on #631
@wimpers: this has already been tackled by the Ansible setup. Also I don't think this has already been added to the documentation.

[2016-06-20 13:23] wimpers commented on #631
@kinvaris please add where you believe it should be added and create a PR.

[2016-06-20 14:39] wimpers commented on #609
@kvanhijf if you overrule at vdisk level, does it create a file for the cache (if previously set to none)?

[2016-06-20 14:46] wimpers commented on #579
@kvanhijf can you asses the impact of changing this?

[2016-06-20 14:49] wimpers commented on #553
Will be covered in https://github.com/openvstorage/home/issues/20

[2016-06-20 14:49] #553 closed, assigned to nobody

[2016-06-20 14:56] wimpers commented on #533
@khenderick aren't you working on this one? I believe this is a duplicate?

[2016-06-20 14:57] kvanhijf commented on #579
@Wimpers: this has already been fixed actually, since it was a minor thing to fix
Forgot to close this issue

[2016-06-20 14:57] #579 closed, assigned to nobody

[2016-06-20 15:01] khenderick commented on #533
This is indeed a duplicate of more recently created #629 because I just can't manage to find anything in this huge pile of tickets at various repositories. Adding to the confusion; it also wasn't linked to it's storycard.

[2016-06-20 15:01] #533 closed, assigned to nobody

[2016-06-20 15:02] wimpers commented on #518
@dejonghb what is the status of this ticket?

[2016-06-20 15:08] wimpers commented on #532
@khenderick can we summarize the benefits and the issues we will be vulnerable for when not tackling this so we can build a case for the stakeholders.

[2016-06-20 15:12] khenderick commented on #532
It's not required at all, it's a feature that might prevent or reveal some bugs sooner (e.g. getting in situations where multiple almost identical objects are stored while the logic expects only one to be in there). It was a request from @pploegaert that I registered in github while working on investigating such bug (which is at this moment still in there - we have no idea what is adding these dup

[2016-06-20 15:17] dejonghb commented on #518
https://github.com/openvstorage/docker-tools/tree/master/framework had a working setup but meanwhile development moved along and this got probably outdated faster that I can type.

The framework is dockerised, but documentation on external components and the interactions between the framework inside the container to/from those external components is very scarce to non-existing and ever changing wi

[2016-06-20 15:17] khenderick opened #640 "DTL not displayed correctly on single node"
DTL not displayed correctly on single node. Issue present on Fargo and Unstable.

[2016-06-20 15:21] wimpers commented on #640
@khenderick what is displayed? what does it break

[2016-06-20 15:23] khenderick commented on #640
The DTL status is reported as `unknown` and the vMachine name is not immediately shown on the vPool detail page.

[2016-06-20 15:24] wimpers commented on #189
No longer an issue on

Openstack 9.0.0 (Newton)
Openvstorage 2.7.0
Package python-six is installed by openstack.

[2016-06-20 15:25] #189 closed, assigned to nobody

[2016-06-20 15:26] wimpers commented on #514
@pploegaert please investigate why it takes so long.

[2016-06-20 15:55] #627 closed, assigned to pploegaert

[2016-06-20 15:55] kvanhijf commented on #627
Code failed when no domains were present
Create from template should always have worked with Domains in place

[2016-06-21 09:03] khenderick commented on #585
Whoops, this is already fixed

[2016-06-21 09:03] #585 closed, assigned to nobody

[2016-06-21 09:38] khenderick commented on #629
I need to add the remark that this will make it hard(er) for the user to understand correctly what the expected behaviour is. vTemplates are removed out of the normal overviews and do not allow a detail to be viewed. If a vDisk is set as template that belongs to a vMachine, the vDisk won't be displayed anymore in the vMachine detail page, but the vMachine might (on the hypervisor) still see the di

[2016-06-21 11:38] pploegaert opened #643 "Check whether libvirt-qemu user is in ovs group while adding vPool"
Environment:
172.20.52.252-250 - 3 node GRID - Fargo

Scenario:
- create backend + init + claim all disks on node 1
- add vpool
- create vm + set as template
- extend vpool on node 2 and node 3
- clone vm to 3 clones, one on each node

Result:
- only one succeeded (node 1), other 2 failed:

'''
2016-06-21 11:15:08 39200 +0200 - ovs52n251 - 84596/139692232316736 - extensions/sshclient - 2517 - ERRO

[2016-06-21 11:49] khenderick commented on #643
The `domain` in this stacktrace is about kvm/qemu's domain, not the framework domain. The permission denied points towards the `libvirt-qemu` user not being in the `ovs` group. This is documented at https://openvstorage.gitbooks.io/openvstorage/content/Installation/kvm.html.

Can you verify this settings?

Further information received indicate everything looks ok at the vPool mountpoint:

[code]

[2016-06-21 12:14] kinvaris opened #644 "NVMe can't be claimed as alba disk although available to claim as role"
I have a NVMe on my environment that I want to claim as alba backend disk but I can't. Although this is not possible on the `backend` page, it is possible to claim it for a role.

[2016-06-21 12:16] khenderick commented on #644
Extra information: The requirement for a disk as being usable as a plain disk (to be used as a cache disk, db disk, ...) is completely different from the requirements for it to be used as a backend disk.

[2016-06-21 12:20] khenderick commented on #644
Current requirement for a disk to be available as backend disk:

Should be listed in `/dev/disk/by-id/`, starting with `scsi-`, `ata-` or `virtio-` and should be a symlink pointing to `/dev/sd*` or `/dev/vd*`.

Can you please add some information about the disks to this ticket (e.g. as what are they listed under `/dev/disk/by-id/`), so we can add support for these nvme drives?

[2016-06-21 12:57] khenderick commented on #643
After some discussions, this was caused by not following the docs, so the above user was indeed not added to the `ovs` group. A ticket will be created (or this one will be altered) to reflect the feature request to have the framework validate this.

[2016-06-21 14:02] wimpers commented on #418
@jeroenmaelbrancke  since you are working on this, assigned to you

Documentation can be put here
 https://www.gitbook.com/book/openvstorage/ovs-monitoring/details

[2016-06-22 08:01] kvanhijf opened #646 "Fix SNMP server"
By @khenderick 's request. An issue to fix the SNMP server code

Certain codepaths should fail, but i have no prove. Found out by looking in the code

eg:  self._register_dal_model(0, vm, 'hypervisorid', "7")  --> vmachine does not have attribute hypervisorid, but hypervisor_id instead

[2016-06-22 08:02] khenderick commented on #646
A bunch of error are spit out when trying to walk through the data:

[code]

Apart from that, almost nothing of the expected values is returned.

Command used: `snmpwalk -Os -c public -v 1 10.100.169.100:161 1.3.6.1.4.1.29961`

[2016-06-22 08:15] domsj opened #647 "Store json configs in pretty printed format"
Having a nicely formatted json config would be much nicer than the current json one-liners...

[2016-06-22 08:52] domsj opened #648 "Wrong prefix for alba fragment cache"
While investigating an issue I noticed this in the config of a proxy:

[code]

As you can see there's a fragment cache of type alba configured (to be used for flash acceleration).
The prefix used for the cache however is the name of the flash backend, while I expected it to be the name of the backend (or some other identifier related to the backend) that is being accelerated.
This choice of prefix

[2016-06-22 13:04] matthiasdeblock opened #649 "dpkg-query: package 'volumedriver-server' is not installed and no information is available"
root@ovs01:~/dev_ops/Ansible/traffic_shaping# apt-cache policy openvstorage
openvstorage:
  Installed: 2.7.0-rev.3624.ec9cec4-1
  Candidate: 2.7.1-rev.3669.10063a2-1
  Version table:
     2.7.1-rev.3669.10063a2-1 0
        500 http://apt.openvstorage.org/ unstable/main amd64 Packages
 **\* 2.7.0-rev.3624.ec9cec4-1 0
        100 /var/lib/dpkg/status

2016-06-22 14:56:07 68100 +0200 - ovs03 - 42181/

[2016-06-22 13:29] kinvaris opened #650 "vPool fails to remove from storage router without reason"
I removed my vPool and it failed, checked the logs and it failed at this point:
https://github.com/openvstorage/framework/blob/master/ovs/lib/storagerouter.py#L1484

When checking the `lib.log`, it contained no errors.

When checking some nodes, I saw that the albaproxy services where not cleaned up. Which leaded to the failure of creation of another vPool with the same name.

[2016-06-22 14:07] domsj opened #651 "the framework should require omniorb to be installed"
The volumedriver doesn't require this package / service to be present and running, but it does need it when configured to use shared memory.
By default the framework configures the voldrv to use shared memory, so it's the frameworks responsibility to ensure the package gets installed and that the omniorb service is running (when the voldrv is started).

[2016-06-22 14:42] matthiasdeblock opened #652 ""ovs remove nodes 10.100.197.4" not working"
**Setup**
Hyper-converged (4 nodes)

**OVS version**
Installed: 2.7.0-rev.3624.ec9cec4-1

**Issue**
After shutting down a node (ovs04), the storage routers are no longer shown in the GUI.  Tried to remove that node (ovs04) with the command "ovs remove nodes 10.100.197.4" without any success. Received the output below.

Output after running that command the first time:

[code]

Output after running

[2016-06-22 14:56] khenderick opened #653 "Remove vPool doesn't work anymore"
Remove vPool doesn't work anymore

[2016-06-22 15:30] #653 closed, assigned to nobody

[2016-06-23 07:39] redlicha commented on #651
The service that is needed is called 'omniNames' and comes with the omniorb-nameserver package.

[2016-06-23 14:56] khenderick opened #659 "Make sure errors in GUI display correctly"
Make sure errors in GUI display correctly. Now we use `error` and/or `error.responseText` and only one of both works, depending on when the error occurs.

[2016-06-23 15:40] khenderick commented on #629
Fixed by #658

[2016-06-23 15:40] #629 closed, assigned to khenderick

[2016-06-23 15:46] kvanhijf opened #660 "Claiming ASDs previously claimed by another backend throws unclear error"
Scenario:

Backend 1, backend 2 --> both 0 ASDs initialized
On backend 1 initialize some ASDs and claim a subset of them
Go to backend 2 detail page. Here you'll see the same amount of initialized ASDs, but the fact that some of them had been claimed takes a while for the code to 'see'
When clicking the claim all button on backend 2 detail page, i'd expect the unclaimed ASDs to be claimed and a cl

[2016-06-24 07:24] khenderick commented on #649
Fixed by #661

[2016-06-24 07:24] #649 closed, assigned to khenderick

[2016-06-24 07:38] saelbrec opened #662 "vDisk cloning does not assign the new Vdisk to the requested storage router"
In a GeoScale setup where a vpool across multiple datacenters on top of a geospread backend I tried to clone a vDisk from DC3 into DC1. The clone operation succeeded but the cloned vDisk was assigned to the same storagerouter in DC3 as where the original vDisk was running.
Triggering the migration into DC1 manually after creation worked fine.

[2016-06-24 09:01] pploegaert opened #663 "Provide basic FW rules to allow only SSH/HTTPS inbound"
Only allow:
Inbound from public IPs:
- SSH / HTTPS + apply rate limiting
- disallow password authentication

Allow all between grid members

Drop all other port connection attempts

Provide this as a separate action on the ovs.sh script
To be run when your setup is complete

E.g.
ovs lockdown {optional node ip}

[2016-06-24 09:35] dejonghb commented on #663
Nice to have but more part of the linux OS setup itself, I think.

We do need to provide guidelines on what ports are used, but adding/changing firewall setups on the nodes feels as not our job and might even break things that are already in place...

Of course, there's no excuse for just putting systems wide open on the internet; that's something else.

[2016-06-24 09:36] kinvaris opened #665 "Disable SHM by default"
When running multiple vPools, SHM is currently having problems:

[code]

Here we see that the volumedriver does not want to shutdown because it is waiting for SHM (from another vPool).

Best case scenario, you don't know how many vPools you will create so switch it off by default.
`"fs_enable_shm_interface": "1",` --> `"fs_enable_shm_interface": "0",`

[2016-06-24 09:39] wimpers commented on #665
I believe @redlicha has a patch?

[2016-06-24 09:46] redlicha commented on #665
The required changesets are still on a branch - https://github.com/openvstorage/volumedriver/tree/feature/shm-support-for-multiple-instances . They do require modification of the users of the shm interface as now the vpool + voldrv ID need to be specified, IOW blktap / qmu / tgt / ... need to be adapted to this in a user-visible way as these IDs need to be passed in by them.

[2016-06-24 09:49] wimpers opened #666 "Remove hypervisor dependencies"
Currently we are relying on the hypervisor for some actions. With the Edge there will no longer be a hypervisor on the host.

Specs: https://github.com/openvstorage/framework/pull/668

Fixes also https://github.com/openvstorage/framework/issues/622

[2016-06-24 09:55] matthiasdeblock opened #667 "Error aftere deleting a bad storage router from the vpool configuration page"
Vpool status went in failure state due to a missing package (virsh). After resetting the vpool status to 'RUNNING' i removed the storage router in the vpool configuration page and tried to delete the infected storage router. The delete failed with the following output:

[code]

[2016-06-24 12:12] wimpers commented on #666
@kvanhijf @khenderick , please check spec

[2016-06-24 12:21] kvanhijf commented on #666
We did, there's nothing in it ;)

[2016-06-24 12:29] kvanhijf opened #669 "vPool Cache investigation / enhancements"
This issue is 2-fold:
1. If the readcache is disabled for a vPool, will there be a file created on the filesystem or not?  This might be required when readcache behavior is overruled for a specific vDisk
2. When readcache is disabled for a vPool, the GUI still asks for a size to provide for the readcache. This becomes obviously obsolete in such scenario

[2016-06-24 13:37] pploegaert opened #670 "On nvme devices: DiskController.sync_with_reality() fails with: CalledProcessError: Command 'blkid -o value -s UUID /dev/nvme0n1' returned non-zero exit status 2"
[code]

[2016-06-24 13:38] pploegaert commented on #670
you could run blkid as is, this is a single client.run call, and parse the output
if the device is missing, there is no blkid anyway
On systems with a large amount of disks you avoid multiple calls for each disk/partition

[2016-06-24 13:40] saelbrec commented on #665
@khenderick , @kvanhijf ,
I don't think disabling this for a while should be a big deal, right ?

[2016-06-24 13:49] khenderick commented on #665
Nope, shouldn't be too hard.

[2016-06-24 14:05] wimpers commented on #665
If we change the default please create a ticket to reverse.

[2016-06-24 14:50] pploegaert opened #671 "Partitioning fails on nvme devices"
[code]

[2016-06-27 11:38] pploegaert commented on #644
Not present in /dev/disk/by-id/

Present in /dev/ as nvm*

[code]

Partitioned but no filesystem present yet:

[code]

[2016-06-27 11:45] wimpers commented on #671
Duplicate of 644 ?

[2016-06-27 11:52] khenderick commented on #644
A quick fix that might be possible (instead of rewriting how disks are identified) is adding a symlink, e.g. `/dev/disk/by-id/nvme-something -> ../../nvme0n1` and `/dev/disk/by-id/nvm-something-part1 -> ../../nvme0n1p1`, and then making a small patch in the code to accept this (that should be quite easy).

The only downside of this temporarily fix is that you have to add the symlinks beforehand, b

[2016-06-27 11:54] pploegaert commented on #671
No, this is triggered in storagerouters -> disks, fixing this will not solve #644 either
While #644 is on backend detail level ...

[2016-06-27 12:49] kvanhijf opened #673 "Add vDisk should take 'max_volume_size' into account"
Currently we do not allow configuration of the parameter 'max_volume_size' in the 'volume_manager' section through any API or controller, but in case we do allow this or the customer overrules this entry when configuring his storagedriver, the GUI (and API) code should take this value into account and not allow to exceed it

[2016-06-27 12:58] kvanhijf commented on #673
As discussed with @redlicha , this option is not an official configuration option

Proof:

[code]

So if we ever want to implement this, storagedriver changes will be required

Question:
Do we want this to be configurable?
--> Yes: StorageDriver team needs to make it configurable
--> No: StorageDriver team needs to be expose the value for the framework to be able to take into account

[2016-06-27 15:03] khenderick commented on #662
Provided an intermediate patch. I'd like to resolve that by #672

[2016-06-27 15:53] kinvaris opened #674 "Failed to put role on disk: `Error opening /dev/sda: Permission denied`"
While trying to put a role on this disk:

[code]

This command is executed by the `ovs` user, but when executing with `root` it works.

[code]

[2016-06-28 07:48] kinvaris opened #675 "Main page doesn't show backends anymore although the backend page does."
When loading the main front page we see can't see local or global backends. But when loading the backends page we can see the backends.

As seen here: https://s31.postimg.org/bqzm43juz/backends_fp_ns.png

**NOTE:** We saw this when a storage & compute node where offline.

[2016-06-28 08:57] kinvaris commented on #675
This was caused because 1 arakoon did not return a master:

[code]

[2016-06-28 08:57] kinvaris commented on #675
After restoring the problem on that arakoon, everything went back to normal

[2016-06-28 09:13] wimpers commented on #675
Hence this one can be closed?

[2016-06-28 11:37] pploegaert opened #676 "Provide more details when an Internal Server error occurs"
Autotest logs:

[code]

While actual exception in ovs-webapp-api.log shows:

[code]

[2016-06-28 11:40] pploegaert opened #677 "Add vpool wizard skips step when Fragment cache is marked as disabled and user clicks on previous"
Scenario:
Add vpool wizard
- fill out name + choose local alba backend
- Fragment Cache: No caching
- click Next
- click Previous
  -> Wizard ends up in first screen io Fragment cache screen

[2016-06-28 11:48] khenderick commented on #676
Won't fix the actual bug (caused by bad backwards compatibility - but since the hypervisor removal is such a huge change we can't keep them backwards compatible anyway), but this is a request to raise a more meaningful error to the client.

The error (500, internal server error) in the above snippet is correct and should be kept but I highly suspect that the returned content is `<h1>Internal Serve

[2016-06-28 12:29] wimpers commented on #675
Arakoon issue https://github.com/openvstorage/alba/issues/264

[2016-06-28 12:29] #675 closed, assigned to nobody

[2016-06-28 12:34] wimpers commented on #674
@kinvaris which release was this? Is this during automated install? Most likely an issue on the ansible side.

 This needs to be run as root (not as OVS user).

[2016-06-28 12:42] wimpers commented on #670
@pploegaert  please create pull request

[2016-06-28 12:50] kinvaris commented on #674
No this is not during setup. This is when assigning the roles (DB, SCRUB, WRITE & READ), a task is launched by the framework to format and partition the disk. During one of its subroutines it stops because this command is executed by the user `ovs` and it should be executed by `root`.

[2016-06-28 12:51] wimpers commented on #667
@matthiasdeblock  I believe there was a node wiped (but still accessible by IP)? Did you try to put the Storage router offline?

@khenderick  I believe in this case the 'putting the storage router offline' fixes this kind of scenarios?

[2016-06-28 12:57] wimpers commented on #663
@jtorreke please provide list of ports and suggested firewall rules in the documentation (https://github.com/openvstorage/ovs-documentation -> essentials).

[2016-06-28 13:00] wimpers commented on #660
@pploegaert can you see if this breaks anything?

[2016-06-28 13:01] wimpers commented on #659
Assigned to you as you seem to know the exact issue.

[2016-06-28 13:03] wimpers commented on #652
What if we shutdown the node first or afterwards?

[2016-06-28 13:06] wimpers commented on #650
Duplicates https://github.com/openvstorage/framework/issues/623

[2016-06-28 13:06] #650 closed, assigned to nobody

[2016-06-28 13:10] wimpers commented on #647
@domsj which json files are you talking about? Please clarify.

[2016-06-28 13:13] wimpers opened #678 "Remove SNMP path"
Since the SNMP path isn't working and we are pushing stats to Redis.

[2016-06-28 13:13] wimpers commented on #678
@khenderick any idea how much work this would be

[2016-06-28 13:14] wimpers commented on #646
Won't fix but we will remove in https://github.com/openvstorage/framework/issues/678

[2016-06-28 13:14] #646 closed, assigned to nobody

[2016-06-28 13:18] khenderick commented on #667
@wimpers, no the "putting the storage router offline" (assuming you mean the button "Mark this node Offline") won't help, the remove vPool logic required all storagedriver processes to be online as it needs to inform them about the changed configuration. The only solution here is getting the process started and try again (ymmv here) or remove the StorageRouter from the cluster completely (executin

[2016-06-28 13:19] khenderick commented on #678
@wimpers, shouldn't take more than a few hours.

[2016-06-28 13:19] wimpers commented on #518
Awaiting input of @saelbrec

[2016-06-28 13:32] domsj commented on #647
All of them. E.g. the config of the alba proxy, the asds, ...

[2016-06-28 13:38] matthiasdeblock commented on #652
@wimpers Maybe i wasn't clear enough but the node went down and wasn't reachable anymore.

[2016-06-28 13:56] wimpers commented on #609
cc @pploegaert you are working on a similar ticket.

[2016-06-29 09:05] kinvaris opened #679 "Storagerouter offline results in backend not loadable"
**INFO:** The storage router that is offline contains a (part of a) local flash backend.

When looking at the GUI I see this: https://s32.postimg.org/huv0gd639/volumedrivernode_offline_backend_offline.png

When trying to load the backends, I see this in `ovs-webapp-api` log:

[code]

[code]

[2016-06-29 09:58] jeroenmaelbrancke opened #681 "ovs setup crashed when disk is broken"
When a disk is broken on an ovs node. The ovs setup crashed with error:

[code]

This error doesn't tell us what is wrong and which disk has this issue.

I think the setup should not crash by broken disks.
ovs setup needs only the root partitions to install all the packages, not the disks where we will install the roles.
We will see 1 missing disk on the ovs node when we want to add the roles.
We

[2016-06-29 14:42] kvanhijf opened #682 "Create snapshot in the vdisk controller should give more info when it fails to create a new snapshot"
As discussed with @saelbrec , we will for now implement a check to verify whether the previous created snapshot has been synced to backend. If this is not the case a clear error will be thrown

However in the future we might want to provide the user with some more information: How much outstanding data still needs to be synced to backend and/or how long this could take
or we could schedule a backe

[2016-06-30 13:39] pploegaert opened #683 "Specifying No cache strategy during vpool creation still forces 1GB as Read Cache and allocates a file of 1GB"
vpool creation wizard summary:

[code]

After creation read cache file is still allocated while No cache strategy was requested

[code]

[2016-06-30 14:59] kinvaris opened #684 "Albaproxy is killed by upstart if volumedriver can't start"
This should be removed from every `albaproxy`:
`stop on stopped ovs-volumedriver_all-flash-local-roub`

[2016-06-30 18:57] saelbrec commented on #667
@khenderick ,
I think @wimpers means if 'ova remove nodes <ip>' would work if the node is shutdown.

[2016-06-30 19:06] saelbrec commented on #662
@khenderick ,
Did you provide this patch to @kinvaris so it can be applied to our GeoScale PoC setup ?

[2016-06-30 19:23] khenderick commented on #662
@saelbrec, yes, I patched one node on the environment and provided @kinvaris with instructions on how to distribute it across the environment.

[2016-06-30 19:24] khenderick commented on #667
@saelbrec, this should also work but there's a ticket open that this is currently broken.

[2016-07-01 08:38] khenderick commented on #684
Why should this be removed? It's a runtime dependency for the volumedriver and should not be running if the volumedriver process is not running.

[2016-07-01 09:19] khenderick commented on #679
Duplicates internal ticket OVS-4557. This is because the framework can't request information about volumes that are on a storagedriver that is offline.

[2016-07-01 09:21] khenderick commented on #674
The sync is executed as the user `ovs` and there's one path in the sync that needs `root`. This duplicates some internal ticket that's been open for quite some time.

[2016-07-01 09:27] khenderick commented on #663
Like @dejonghb suggested, I think firewalling should be something the customer/user running OVS should take care of, but we should indeed document it and urge the customer/user to do this.

The API does already have rate limiting build-in. It's already implemented for the authentication (as per RFC) and is also implemented for some other calls. It very easy to add limits to individual calls.

[2016-07-01 09:28] khenderick commented on #651
Doesn't this conflict with #665 where we disable SHM by default?

[2016-07-01 09:32] khenderick commented on #626
@kinvaris, @wimpers, what's the suggested behavior if the framework logic notices that it can't mount the fuse onto `/mnt/<vpool_name>`?

[2016-07-01 09:32] khenderick commented on #643
This ticket looks obsolete to me since we've decided that OVS won't handle/support hypervisors anymore.

[2016-07-01 09:33] wimpers commented on #643
Re-open if required.

[2016-07-01 09:33] #643 closed, assigned to wimpers

[2016-07-01 09:36] wimpers commented on #626
Fail but return a meaningful error to the user. In this case I would assume it fails with /mnt/vpool name already exists.

[2016-07-01 09:38] khenderick commented on #626
Suggested fix: `add_vpool` logic should pre-validate that the directory does not exist, the wizard should also validate this and block the wizard if the directory exists.

[2016-07-01 09:48] wimpers commented on #626
OK.

[2016-07-01 10:23] redlicha opened #685 "Only one crash dump per application is preserved"
Together with this volumedriver bug https://github.com/openvstorage/volumedriver/issues/51 this prevents investigating the root cause of said bug (there's of course a tradeoff to be made of keeping enough history vs. filling the system up with crash dumps).

[2016-07-01 11:23] khenderick commented on #662
Closed by 672

[2016-07-01 11:23] #662 closed, assigned to nobody

[2016-07-01 11:26] khenderick commented on #651
After discussion with @saelbrec, wait for this ticket until SHM needs to be enabled (by default) again.

[2016-07-01 12:31] khenderick commented on #660
This issue was moved to openvstorage/framework-alba-plugin#154

[2016-07-01 12:32] khenderick commented on #644
This issue was moved to openvstorage/framework-alba-plugin#155

[2016-07-01 12:32] #644 closed, assigned to nobody

[2016-07-01 14:26] khenderick commented on #685
@redlicha, what's expected on the framework? Is this a volumedriver settng we need to change?

[2016-07-01 14:53] redlicha commented on #685
@khenderick, my fuzzy, high level expectation is that the operating system (or more specifically apport) is configured to preserve a bigger number of core dumps.

[2016-07-01 15:30] khenderick commented on #685
@wimpers, I assume that is a request for documentation? Do we need a ticket here, or on some docs repo?

[2016-07-01 15:36] wimpers commented on #685
This issue was moved to openvstorage/ovs-documentation#14

[2016-07-01 15:36] #685 closed, assigned to wimpers

[2016-07-01 16:01] khenderick commented on #647
Fixed by #686

[2016-07-01 17:59] khenderick commented on #681
Totally forgot the verification setup.

[2016-07-01 18:00] khenderick commented on #647
Forgot about the verification.

[2016-07-01 18:01] khenderick commented on #648
Forgot the verification step

[2016-07-04 08:16] mnuca opened #689 "ovs-albaproxy service remains in stop/waiting at vpool shrink"
used the following scenario:

3 node grid
created an alba backend spread on all 3 nodes
created a vpool on the main node
extended the vpool to the other two nodes
vpool creation ok
tried shrinking the vpool back to one node
ovs-albaproxy service remains in stop/waiting on the two nodes that were just shrinked
when removing the vpool from the 3rd node ovs-albaproxy service gets deleted but the remn

[2016-07-04 08:18] khenderick commented on #606
@jeroenmaelbrancke, can you try to reproduce this on the latest unstable? Since the Hypervisor and vMachine removal this code had a major rework and this issue should thus be resolved.

[2016-07-04 15:20] khenderick opened #691 "GUI could handle errors with more context"
GUI could handle errors with more context. E.g. a certain error code could be translated different for multiple usecases.

[2016-07-04 16:06] khenderick commented on #659
Resolved by #690

[2016-07-04 16:07] khenderick commented on #676
Resolved by #690

[2016-07-04 16:08] kinvaris opened #692 "Sync vPool with reality does not remove discrepancies from ovsdb"
We have some vdisks that are not anymore in the volumedriver. When trying a `sync vpool with reality` it does not remove the discrepancies from the ovsdb.

[2016-07-04 16:14] kinvaris opened #693 "vdisk.delete is not executed when volume is removed faster then added."
The healthcheck truncates a volume on a vpool to test the flow. Then it deletes it again.
This can happen very fast and sometimes the DAL objects are not deleted.
Due to this we get DAL vdisk objects with no name, broken objects, ...

[code]

This is noticed on Fargo, but I will retest this on Unstable to confirm

[2016-07-05 06:34] kinvaris opened #694 "When configuring a role on a disk when another role is being configured, you get only one role."
When configuring a role on a disk, it is possible to assign another role on that disk. But If you do that when another role is being configured it overwrites the amount of roles.

[2016-07-05 08:06] kinvaris opened #695 "RDMA flag in pre-configuration not working"
When trying to deploy OVS with RDMA through the pre-configuration. It gives this result:
`Errors found while verifying pre-configuration:\r\n - Key rdma is not supported by OpenvStorage to be used in the pre-configuration JSON`

[2016-07-05 08:19] kinvaris opened #696 "Allow role assignment in parrallel"
When assigning a role to a disk. The disk in question is format at first then the filesystem is added and then the role is added. This happens in a sequential way, thus it takes a long time if you have 50 + nodes.

This should happen in parallel so we can make the general setup faster.

[2016-07-05 09:00] khenderick commented on #695
Resolved by #697

[2016-07-05 09:02] kinvaris opened #698 "Disk: none when rapidly initializing disks in the backend one by one"
When trying to initialize alba disks, we see errors like `disk:none` showing up. The disks is green but not claimable. We have to remove the disk again before we can claim it again

[2016-07-05 09:10] khenderick commented on #667
@wimpers, you assigned the `type_bug` label; can you explain how you see this as a bug? The framework can't reliably shrink a vPool if not all StorageDrivers are running since they all need to be informed about the change.

[2016-07-05 09:14] wimpers commented on #663
This issue was moved to openvstorage/ovs-documentation#16

[2016-07-05 09:14] #663 closed, assigned to dejonghb, jtorreke

[2016-07-05 09:21] wimpers commented on #667
There should always be an option to get out of this deadlock kind of scenario. A force remove should be possible like we do with the "Mark this node Offline".  If you invoke the force remove, you better make sure it doesn't come back.

[2016-07-05 12:09] wimpers commented on #698
@kinvaris any issues in the ASD manager log?

[2016-07-05 12:12] wimpers commented on #696
@khenderick  any reason why we do this sequential and not in parallel?

[2016-07-05 12:13] khenderick commented on #696
There were issues in the past and back then we choose the easy solution of executing them sequential. Most likely some actions can be executed in parallel but we'll have to test and see what's possible there.

[2016-07-05 12:15] wimpers commented on #693
@kinvaris  first you should also  address this in your healthchcheck. Only delete once the disk is in the model.

next to be fixed also as user might create and delete fast after each other.

[2016-07-05 12:17] wimpers commented on #692
Consequence of https://github.com/openvstorage/framework/issues/693

[2016-07-05 12:28] wimpers commented on #684
Maybe we should revisit this in the light of RDMA and the scrubber that can use a remote proxy.

[2016-07-05 12:31] wimpers commented on #683
- change the wizard so no read cache has to be specified if no cache was selected in the previous step
- on vdisk level don't allow to overrule

[2016-07-05 12:46] wimpers commented on #674
@khenderick @kinvaris how come the assigning roles doesn't always fail in this case?  You would expect that or it works or it doesn't work. What is the scenario when it doesn't work.

[2016-07-05 12:49] wimpers commented on #652
@matthiasdeblock was this on Fargo or Eugene?

[2016-07-06 13:22] matthiasdeblock commented on #652
@wimpers Fargo, like I've mentioned in the description:

[code]

[2016-07-07 09:32] khenderick opened #700 "Implement new calls with ObjectRegistryClient"
Implement new calls with ObjectRegistryClient.

Implementation of openvstorage/volumedriver#56

[2016-07-07 09:32] khenderick commented on #700
This works around openvstorage/volumedriver#55's behavior.

[2016-07-07 12:02] kinvaris opened #701 "Setup hangs when it is not able to SSH keyscan to other nodes"
When a node is not able to ssh to another node via a certain IP or subnet, the setup hangs at SSH keyscan.

The command is executed on these lines: https://github.com/openvstorage/framework/blob/master/ovs/lib/setup.py#L350 & https://github.com/openvstorage/framework/blob/master/ovs/lib/setup.py#L351.

A timeout should be introduced so if it is not able to SSH, the setup fails with a decent and cl

[2016-07-07 14:28] khenderick opened #703 "If session was expired, then auto-logout did not work"
If session was expired, then auto-logout did not work

[2016-07-07 14:28] khenderick commented on #703
Fixed by #702

[2016-07-07 14:46] matthiasdeblock opened #704 "remove ovs-volumerouter-consumer process from ovs monitor services on non-master nodes"
ovs-volumerouter-consumer is not implemented anymore but is still a "running" process.

[2016-07-07 16:49] kinvaris opened #705 "unmount role disk without roles"
You will have to unmount a disk that has been used for roles if it does not contain any roles. Because we cannot claim it for alba anymore.

[2016-07-07 17:18] kinvaris opened #706 "Cannot allocate memory" socket during ASD claim on RDMA"
[code]

[2016-07-07 17:18] kinvaris opened #707 ""Too many open files" connect during ASD claim on RDMA"
[code]

[2016-07-07 17:19] kinvaris commented on #707
Sometimes it works, sometimes it gives this error

[2016-07-07 17:20] kinvaris commented on #706
Sometimes it works, sometimes it gives this error

[2016-07-08 10:53] openvstorage-ci commented on #707
This issue was moved to openvstorage/alba#276

[2016-07-08 10:53] #707 closed, assigned to nobody

[2016-07-08 10:53] openvstorage-ci commented on #706
This issue was moved to openvstorage/alba#277

[2016-07-08 10:53] #706 closed, assigned to nobody

[2016-07-08 10:57] khenderick commented on #705
This is by design: The "roles" logic is just about assigning roles and marking partitions for a certain usage. The "backend" logic will wipe the disk and create its own filesystem.

That's why the "backend" logic requires a non-mounted disk, as every disk that is mounted is considered in use and thus it prevents the customer from accidentally wiping an wrong disk as he now has to manually unmount

[2016-07-08 11:00] khenderick commented on #704
Since the vMachine removal this service doesn't have a use on non-master nodes so it should not be deployed on these nodes. At this point, it terminates itself, but is then restarted by upstart (and this repeats)

[2016-07-08 12:57] kinvaris opened #708 "IndexError: list index out of range when initializing ASDs"
[code]

[2016-07-12 08:13] khenderick commented on #708
Based on the very minimal logging snippet above, this should only happen if `DiskController.sync_with_reality(...)` would have failed, but I'm missing relevant logging for giving any more clues on what actually went wrong here. We'll only be able to fix it if we can somehow reproduce it.

[2016-07-12 10:14] khenderick opened #713 "Framework should cleanup MDS slaves of removed volumes"
Framework should cleanup MDS slaves of removed (non-existing) volumes.

[2016-07-12 10:22] khenderick commented on #704
Resolved by #712

[2016-07-12 11:16] khenderick commented on #701
Resolved by #714

[2016-07-12 12:53] redlicha commented on #713
These can be removed with the `MDSClient` API:

[code]

This should be used for volumes that were removed completely or after removing an MDS instance from a volume's list of MDSes.

[2016-07-12 13:25] deepshirsath commented on #703
Cluster ID: R4AGIzjN0LyULKqj

Storage Routers:
ubuntu1: TLEcQFNOPSrQaGbt
ubuntu2: 3M4N4clQ4cL3ZADM
ubuntu3: YDJJdnMx7hLHtHHv

Open vStorage: 2.7.1-rev.3756.f2510a0-1
Open vStorage - Backend: 1.7.1-rev.635.b81d605-1
Open vStorage - SDM: 1.6.1-rev.327.9490bc3-1
Storage Driver - Base: 6.0.1-dev.201607041405.f07e34a
Storage Driver - Server: 6.0.1-dev.201607041405.f07e34a
Alba: 0.9.13
Arakoon 1.9.7
- I

[2016-07-12 13:29] #703 closed, assigned to nobody

[2016-07-12 15:28] khenderick commented on #679
Solution: Implement new calls with ObjectRegistryClient
Implementation of openvstorage/volumedriver#56
This works around openvstorage/volumedriver#55's behavior

[2016-07-12 15:29] khenderick commented on #700
Duplicates #679

[2016-07-12 15:29] #700 closed, assigned to nobody

[2016-07-12 15:35] redlicha commented on #567
@wimpers: The main problem to solve is the failover case - in such a scenario volumedriver cannot notify / demote the previous master anymore obviously, so it would have to keep track of this "TODO-item" and try at a later point, once the instance can be reached again. In addition to that, the framework can also reconfigure the list of MDSes of a volume / force a failover to move the metadata clos

[2016-07-13 07:47] wimpers opened #716 "Create vPool wizard times out on ALBA backend fetching"
In case you have many backends, the create vPool wiward will not load the ALBA backend due to a timeout.

[2016-07-13 07:53] wimpers opened #717 "Clone vDisk fails"
Clone vDisk fails on the OVH setup (probably an issue with the create snapshot step in the clone flow)

[2016-07-13 08:37] kvanhijf commented on #717
Failed to reproduce this issue

Successfully cloned an empty disk with a new snapshot on same storagerouter
Successfully cloned an empty disk with an existing snapshot on same storagerouter
Successfully cloned an empty disk with a new snapshot on different storagerouter
Successfully cloned an empty disk with an existing snapshot on different storagerouter

Started cloning a disk with 250GB of stor

[2016-07-13 12:51] wimpers opened #719 "Easy way to restart OVS services"
Currently there is no easy way to restart all OVS services on a node. A command line might be useful.
We can later integrate this in the support portal if needed.

[2016-07-13 14:01] pploegaert commented on #719
there is a quick hack ovs stop services, but you might have to run it twice ... to be improved ...

[2016-07-13 14:09] wimpers commented on #719
This one is for @kvanhijf ;-)

[2016-07-13 14:55] kvanhijf commented on #716
vPool wizard has been updated to only load the relevant ALBA backend data. Still, loading the 'presets' information can take quite some time and perhaps we should finetune this in another ticket

[2016-07-14 12:10] kvanhijf commented on #615
Calculation done in the GUI was identical to calculation in controllers, but issue was introduced when the 'enhancedPresets' functionality in the GUI was removed
Re-introduced this, thus fixing this issue

[2016-07-14 16:02] khenderick commented on #719
@wimpers, what features do you want? Only the framework services or truly all services on a given node (e.g. volumedriver, dtls, proxies, asds, ...). Restarting all ovs services on a given node might be risky for e.g. running volumes or backend availability.

Restarting only framework services is already possible by just restarting `ovs-watcher-framework` (or starting or stopping it for that matte

[2016-07-14 16:05] khenderick commented on #717
As a general remark here: When creating a clone, the snapshot from which to clone (can be an existing or a new one) needs to be synced to the backend. If e.g. a new volume of tens of gigabytes is created and immediately after that cloned, it might take too long for the snapshot to be synced to the backend as the framework currently only waits for about 5 minutes.

We might want to tweak this timeo

[2016-07-14 16:08] khenderick commented on #692
This ticket is obsolete as this functionality is removed with the vMachine cleanup. Nevertheless I found a small remaining piece of (not working) code related to that removed sync. I'll use this ticket to clean this up.

[2016-07-14 16:14] khenderick commented on #692
Fixed by #722

For QA: There should be nothing in the GUI, API or controllers to sync a vPool.

[2016-07-14 20:49] wimpers commented on #719
I've created this one as @kvanhijf had to write a script to stop (all?) services. The reason I created this bug FR is to tackle this kind of scenario's where  people have to write their own script.

@kvanhijf can you list the services which you had to stop?

[2016-07-14 20:51] wimpers commented on #717
If you hit that timeout I assume you see this in the logs? Just to be clear we didn't even see the snapshot call coming through.

[2016-07-14 20:52] wimpers commented on #717
I also can't reproduce it alas :(

[2016-07-15 04:13] khenderick commented on #719
He wrote a script to stop `ovs-watcher-framework` on all nodes. We can write such shortcut (e.g. `ovs stop framework` or whatever. The important question is whether you want to stop _all_ services or only the framework services.

[2016-07-15 04:14] khenderick commented on #717
It will be in the logs. More specific it should be in `/var/log/upstart/ovs-workers.log` on one of the nodes. But unfortunately, I didn't receive any logs from any of the occurrences except that _it didn't work_.

[2016-07-15 06:26] wimpers commented on #717
That is it, there was nothing in the logs. I'll close this one as we can't reproduce.

[2016-07-15 06:42] pploegaert commented on #717
Note that India reported the same issue yesterday - during their kernsafe demo preparations

[2016-07-15 06:44] wimpers commented on #717
@pploegaert please try to find the exact steps in order to reproduce. Assigning to you

[2016-07-15 07:02] khenderick commented on #717
@pploegaert, basically you want to search in the `ovs-workers.log` for `Snapshot XYZ of volume ABC still not synced to backend, not waiting any longer`. This indicates a snapshot could not be synced to backend in 5 minutes. If this is the case, please report size of volume, how many snapshots were already taken and information of the backend to be able to discuss whether we need to increase the ti

[2016-07-15 07:13] khenderick commented on #719
After discussion with @wimpers:
- ovs start/stop services: remove
- ovs start/stop/restart framework: alias for start/stop/restart ovs-watcher-framework
- ovs start/stop/restart framework _ip_: see above, on the given node
- ovs start/stop/restart framework all: see above, on all nodes (requires framework to be up-and-running)

For now, no alternatives for other services (arakoons, etcds, volumedr

[2016-07-15 07:18] wimpers commented on #719
After discussion with @khenderick

Restarting (proxies, volumedrivers, arakoons, etcd, ...) is tricky so we will start with the basics

[code]

Same goes for restart and start of course.

Full cli will be picked up as part of https://github.com/openvstorage/home/issues/28

[2016-07-15 07:57] kvanhijf opened #723 "Disabling DTL optimized"
The framework's way of disabling the DTL for a vPool is not correct
We set None as value, but due to json parsing and volumedriver parsing, this ends up as a string "null" in the volumedriver's config, resulting in the volumedriver trying to connect to this IP, but failing obviously

Question now arises for @redlicha : Why don't we get a DEGRADED dtl status when configuring the IP as "null"?

The

[2016-07-15 08:07] khenderick commented on #674
@wimpers, the error occurs when there are partitions on the disk, but it can't load the partition number from udev. In that case it fall back to another method with requires root access.

This issue has been reported numerous times and it was always decided to not fix it. But as it keeps being reported and because it's quite an easy fix anyway, it might be a good idea to fix it.

[2016-07-15 08:15] khenderick commented on #694
If I understand it correctly, you did the following:
- Assign role X to disk A, partition B
- Assign role Y to disk A, partition B

And disk A, partition B ended up with only role Y

Isn't that expected, as the second time, you explicitly selected only Y out of the possibilities X, Y and Z. If you would expect both X and Y to be assigned, I'd expect that you selected both X and Y the second time.

[2016-07-15 08:31] khenderick commented on #694
Technical information: The task to assign roles to a disk runs in chained mode; it can only process one disk role assignment task after one other (resulted in another ticket to speed things up). In the above case (assumed on the small amount of info we got in the report) it handled both requests subsequently and when the second task was processed (assign role Y to disk A, partition B) it did exact

[2016-07-15 08:45] wimpers opened #725 "Storage Router Detail page: add vDisk tab"
Currently it is hard to find out which vDisks are attached to which Storage Router. With the fact that we allows vDisks to migrate between datacenters it only become more complicated. Hence adding the vDisk tab to the Storage Router Detail page would make things easier to find out.

Use same layout as on the vpool detail page. Icon can be the vDisks icon as used on the vPool detail page. Use http:

[2016-07-15 09:28] khenderick commented on #689
Fixed by #726

[2016-07-15 09:32] khenderick commented on #705
@wimpers, I'd think this is a won't fix (as by design)

[2016-07-15 09:55] redlicha commented on #723
The volumedriver's parsing does not play a role here: it receives a json config with the value of `fs_dtl_host` set to the string `"null"`, which it then happily interprets as the address (hostname) of the DTL.
WRT the state: it's `OK_STANDALONE`, to be investigated - https://github.com/openvstorage/volumedriver/issues/68

[2016-07-15 12:19] khenderick opened #727 "Integrate new scrubber workflow"
Integrate new scrubber workflow, see openvstorage/volumedriver#53

[2016-07-15 12:36] khenderick commented on #693
[code]

[2016-07-15 13:18] khenderick commented on #693
Fixed by #728:

Info for QA: Reproduced and validated this with snippet `for i in {1..100}; do truncate -s 10G /mnt/vpool/test-$i.raw; rm -rf /mnt/vpool/test-$i.raw; done`

[2016-07-15 13:54] khenderick commented on #684
@wimpers, this ticket was apparently qualified (milestone set to Fargo), so what needs to be done here? What's the issue we want to fix here in the first place? We need at least a benefit that justifies the extra work.

[2016-07-15 13:56] khenderick commented on #674
Technical implementation details; We're running in a remote context in this code, so we can just switch to a remote for the DiskTools as well

[2016-07-15 14:10] wimpers commented on #684
I had a discussion with @saelbrec about this. In the old days we could take the decision to shoot the albaproxy if the voldrv wouldn't start as they were on the same node but we see cases where the voldrv. So having this dependency doesn't hold anymore. Do check with Stefaan for details.

[2016-07-15 14:14] pploegaert commented on #674
indeed, I already have a partly fix for that in code, still needs to be tested

[2016-07-15 14:42] redlicha commented on #713
Not an issue after all, the MDS slaves clean up after themselves if the backend namespace is gone:

[code]

I obviously misremembered that / got mislead by an env where the namespaces were not removed from the backend - sorry for the noise.

[2016-07-15 14:46] wimpers commented on #713
See last comment of @redlicha , re-open if required.

[2016-07-18 06:48] khenderick commented on #727
Labels and milestone set from openvstorage/volumedriver#53

[2016-07-19 13:29] khenderick commented on #669
After implementation, the vPool wizard will not ask for read cache size if no cache is being configured. Moreover, a partition with READ role is not required. In the mean time, the vPool wizard was restructured again so the entire flow is more logical, makes more sense and validation is executed when expected.

If no read cache was requested, no `read.dat` will be created.

[2016-07-19 15:29] khenderick commented on #669
Resolved by #729

[2016-07-20 07:05] matthiasdeblock opened #731 "Typo: Gloabl write buffer"
![gloabl_bug](https://cloud.githubusercontent.com/assets/14923932/16977867/09528436-4e59-11e6-94a9-b68615e75915.png)

[2016-07-20 07:51] pploegaert opened #732 "add vpool wizard reports unrelated error"
When adding vpool with local alba backend, 2nd screen shows:

![image](https://cloud.githubusercontent.com/assets/8393135/16979007/33f5bacc-4e5f-11e6-9173-5e4e052f608b.png)

[2016-07-20 08:56] pploegaert opened #733 "backend cannot be deleted when asds are in use by another backend"
Delete button is grayed out ...

![image](https://cloud.githubusercontent.com/assets/8393135/16979827/81485c7c-4e63-11e6-8453-28701a685ec7.png)

[2016-07-20 09:28] pploegaert opened #734 "Update code with references to correct logfile instead of /var/log/ovs/lib.log"

[2016-07-21 09:22] openvstorage-ci commented on #733
This issue was moved to openvstorage/framework-alba-plugin#168

[2016-07-21 09:22] #733 closed, assigned to nobody

[2016-07-21 16:11] deepshirsath opened #735 "vPool should show info about its backend!"
**Please consider this is as a feature request.**
- When we add backend and assign vpool for that backend...no information is being displayed anywhere which vpool belongs to which backend.
- On backend or on vpool no where we can point...which vpool is configured for which backend.
- Means backend also does not show any info related to vpool and Vpool properties also does not show any info related

[2016-07-21 17:13] khenderick commented on #735
It was requested to be removed from the backend page. On the vPool detail page, we can indeed show some more information since we have it available anyway.

[2016-07-21 17:13] khenderick commented on #735
It's relatively easy; few hours of work

[2016-07-22 07:19] khenderick commented on #734
Resolved by #736

[2016-07-22 08:00] khenderick commented on #732
Some more information on reproducing; add a vpool with only a single backend available on the local node which is used as primary backend.

[2016-07-22 08:38] khenderick commented on #732
Resolved by #737

[2016-07-22 08:38] khenderick commented on #732
In the future, please provide some more information on how to reproduce, that can save me some time.

[2016-07-22 09:19] khenderick commented on #731
Fixed by #738

[2016-07-25 08:59] khenderick opened #739 "Implement Edge in GUI"
Implement Edge in GUI

Story: ovs-projects/org_development#35

[2016-07-25 09:20] khenderick commented on #739
Fixed by #730

[2016-07-25 09:20] khenderick commented on #608
Fixed by #730

[2016-07-25 09:46] khenderick commented on #683
Resolved by #729

[2016-07-25 09:48] khenderick commented on #677
Can't reproduce this anymore, so it must have been resolved by #729

[2016-07-25 13:29] khenderick commented on #679
Fixed by #740

[2016-07-25 13:34] khenderick commented on #640
Most likely already solved, cannot reproduce

[2016-07-25 15:10] khenderick commented on #652
Just tested on unstable, and the etcd cluster fails

[code]

Full logs:

[code]

[code]

[2016-07-25 15:23] kinvaris opened #741 "Docker gives problems on OVS node"
I had to delete a docker bridge on my system because ovs cannot communicate through other nodes via docker.

Then got this error during partitioning:

[code]

Cannot sync with reality, same problem.

Saw this:
`/dev/disk/by-uuid/45f0a981-6de7-403d-b3ca-cc972dfccf13 on /var/lib/docker/aufs type ext4 (rw,noatime,errors=remount-ro,data=ordered)`

umounted and stopped docker service:

[code]

Then it

[2016-07-26 08:36] khenderick commented on #638
Fixed by #742

[2016-07-26 08:37] khenderick commented on #651
Removed milestone and priority because it's on hold anyway.

[2016-07-26 09:33] kinvaris opened #743 "OVS framework should keep the disk UID in case it fails."
It would convenient if the framework could store the disks there UID. If a disk would fail, it is very easy to replace it.

[2016-07-26 13:03] khenderick commented on #520
Fixed by #744

[2016-07-26 13:13] khenderick commented on #599
Seems this one was also fixed by #729

[2016-07-26 14:48] wimpers opened #745 "After vDisk migration the snapshot list is empty"
If you have a vDisk with snapshots and you move the vDisk to another Voldrv, for some time the snapshot list will be empty.

[2016-07-27 12:42] kinvaris opened #746 "After creating a vpool, we cannot change the DTL of a vdisk"
When trying to change the vdisk its settings after initializing a vpool:

[code]

When I put the DTL settings on `disabled`, I can change the settings again.

Is this error referring to `domains` and `recovery domains`? Because if so, we should be notified during the vpool creation.

[2016-07-28 05:40] khenderick commented on #746
It is referring to Domains en RecoveryDomains, but it's more likely the check that's incorrect as without domains it should assume to not work with domains at all.

[2016-07-28 05:42] openvstorage-ci commented on #743
This issue was moved to openvstorage/framework-alba-plugin#170

[2016-07-28 05:42] #743 closed, assigned to nobody

[2016-07-28 14:49] khenderick commented on #652
`AttributeError: 'AlbaOSD' object has no attribute 'alba_node'` got fixed before, so it's about the etcd now.

[2016-07-28 15:01] khenderick commented on #652
The etcd thingy is fixed by #747 and I was able to remove one out of 2 nodes. This combined with @pploegaert's tests with more nodes leaves this one fixed.

If new issues pop up (some other scenario's I didn't think of), please create a new ticket.

[2016-07-28 15:09] khenderick commented on #741
@kinvaris if you happen to see another occurrence of this issue, can you please check the access rights on `/var/lib/docker/aufs`? I wonder how readable that directory is for non-root users.

[2016-07-28 15:38] kinvaris opened #748 "setup rollback should be optional"
When a exception occurs during the setup a rollback is performed.
A rollback is good but it deletes all evidence to repair or investigate any problems during the setup.
It would be good to make this rollback optional with a flag like: `ovs setup --no-rollback`

[2016-07-28 15:40] khenderick commented on #748
Generally speaking, the logging should be sufficient to see what went wrong, and the rollback should not mess up the environment even more.

I like the `--no-rollback` idea.

[2016-07-28 15:45] kinvaris commented on #748
Indeed logging should normally be sufficient to go further but it is always good to have the system in that failed state so you can test stuff for yourself eventually to improve the software.

[2016-07-28 15:45] wimpers commented on #748
What do you think about the following: by default we ask the question whether we need to rollback [y/n]? Optional add a `--rollback`  for automated installs where you don't care and just want go on and try again.

[2016-07-28 15:49] khenderick commented on #748
I'd rather not ask that question, generally speaking you want a rollback, so just another question just makes the setup more cumbersome.

[2016-07-28 15:57] kinvaris opened #749 "ovs-workers sometimes get stuck without reason"
We've observed `ovs-workers` getting stuck without reason like in the past. We solved this by upgrading `celery`.

This is the last logging that a worker did during his run:

[code]

After restarting `ovs-workers` it worked again...

[2016-07-29 07:23] khenderick commented on #723
To be clear here, inside the volumedriver's configuration file, in the `filesystem` section, we do not set `fs_dtl_host` to `"null"`, but to `null`, so it's not set to a string. It must thus be the volumedriver's json parser which cannot handle null values and somehow casts this as a string.

[code]

In the volumedriver's logs:

[code]

[2016-07-29 07:33] khenderick commented on #723
On the other hand, I don't see any `"null"` values show up anywhere. It seems that if I call `get_dtl_config(...)` it returns a `None` as expected, I never saw a `DTLConfig` object where the host was `null`, `"null"` or `None`.

@kvanhijf, any idea how you got to this point where you reported the ticket?

[2016-07-29 08:43] kinvaris commented on #705
This works indeed as designed. After a talk with @khenderick, we discussed that it can be interesting to add a button or checkbox with `unmount`.

[2016-07-29 08:45] kinvaris commented on #708
Will reopen when reproduced.

[2016-07-29 08:45] #708 closed, assigned to kinvaris

[2016-07-29 08:48] kinvaris commented on #698
Not enough logging, will reopen when reproduced.

[2016-07-29 08:48] #698 closed, assigned to nobody

[2016-07-29 08:58] kinvaris opened #750 "Disable role assignment button when a role is being assigned"
In continuation of #694 it would be interesting to disable the role assignment button when a role is already being assigned to a partition.

[2016-07-29 08:58] #694 closed, assigned to kinvaris

[2016-07-29 09:04] khenderick commented on #514
@wimpers, I don't think the point is that assigning a role to a disk can take 1.5 to 2 minutes (we're starting an async task on celery, wait for it to get picked up, it partitions the disk, makes a filesystem, then assign roles, makes sure everything is back in sync in the model, ...).

I think the issue here is that all disks are processed sequentially, while we most likely can figure out a way t

[2016-08-01 09:29] PeterNashaat opened #753 "Zombie processes"
Every now and then we get an ovs module warning about one or more zombie processes ,sometimes it goes away and other times we have to kill the parent process to get rid of the zombie processes

[2016-08-01 10:02] wimpers commented on #753
Hi Peter,

can you provide some more info? Which processes, can you add relevant logs?

[2016-08-01 11:38] kvanhijf commented on #748
Suggestion: Only when a preconfig is used, one can decide whether rollback
should be done or not
rollback : true/false

[2016-08-01 12:52] PeterNashaat commented on #753
Hi wim
like now in cpu-05 be-scale-3

[code]

and for the parent Processe

[code]

[2016-08-01 13:36] kvanhijf opened #755 "'Add vPool'-wizard still not good enough"
On the StorageDriver configuration page, the global write buffer size can be specified, but is overwritten each time when clicking Next or Previous. Eg: I select 100GiB, click next, click previous --> Size is overruled again to 1500GiB

Another issue is the over-allocation errormessage is displayed by default
This can be reproduced on 10.100.193.154 by setting following roles on node1:
- /dev/sdb:

[2016-08-01 15:16] kvanhijf commented on #723
@redlicha : Can you please confirm whether we should configure None or empty string for 'fs_dtl_host' parameter in the filesystem section of the StorageDriver?
I have tested with both and from our side, they both seem to be working fine

[2016-08-02 07:35] kvanhijf commented on #592
Was fixed some time ago when working on the 'Add vPool'-wizard

[2016-08-02 08:18] wimpers opened #758 "Restrict usage of external backends"
If you are a provider of external backends you can atm not limit the backends that are exposed and to who. This feature request is to allow this:
- In the GUI:
  - Allow to define which users & clients has access to which backends.
  - Create a new group 'Backends', which only has access to the backends page.
- IN the api: list backends call should check which backends the user & clinet have acces

[2016-08-02 08:51] saelbrec commented on #758
What's the reason for only doing this on backends? Or is the FR to do the same on vpool, vdisk and vTemplate in different issue? We need the same functionality on those levels.

[2016-08-02 09:47] kinvaris opened #759 "Nginx already configured before setup"
When you install the packages of openvstorage on a node, the nginx configuration is already in place before the setup is ran.

We noticed this when trying to access the GUI before the installation is ran or when you try to access the GUI on a EXTRA node.

[2016-08-02 11:12] jeroenmaelbrancke opened #760 "Eugene-updates celery ping issue with FQDN"
When the celery process is register with the FQDN the heartbeat doesn't work anymore.

example:

[code]

The if 'celery@{0}: OK'.format(node.name) in worker_states is not working.
Using a regex would solve this issue.

/opt/OpenvStorage/ovs/extensions/generic/heartbeat.py:

[code]

[2016-08-02 12:03] JeffreyDevloo opened #762 "configure_disk failed IndexError: list index out of range"
We saw this on a hyperconverged node during role configuration:

[code]

[2016-08-02 12:08] JeffreyDevloo opened #763 "Ovs-watcher-framework kills himself due to `Raft Internal Error : etcdserver: request timed out`"
We saw some problems with ETCD in `ovs-watcher-framework`

[code]

[2016-08-03 07:43] pploegaert commented on #532
unstable grid setup intermittently has multiple ASD nodes registered for a single IP:
http://testrail.openvstorage.com/index.php?/tests/view/1072652&group_by=cases:section_id&group_order=asc&group_id=29858

[code]

[2016-08-03 08:38] wimpers commented on #760
@kvanhijf did we package this already? If packaged please close

[2016-08-03 08:42] wimpers commented on #759
Decided by the BAM not to fix.

[2016-08-03 08:43] #759 closed, assigned to nobody

[2016-08-03 08:49] wimpers commented on #753
@PeterNashaat do you know which action triggered it  or is able to reproduce this? Is this Fargo or Eugene?

[2016-08-03 08:58] wimpers commented on #749
@kinvaris how are you sure that upgrading Celery fixes this. Any link to a bugfix on the celery side?

[2016-08-03 09:14] PeterNashaat commented on #753
It keeps happening in all environments ,and it's on du-conv-3 right now ,and this is a Eugene env
but we don't know how to reproduce it

[code]

and the Parent

[code]

[2016-08-03 09:42] kvanhijf commented on #760
Not yet packaged because there are currently permission issues when trying to package
Will need @khenderick for this

[2016-08-03 12:53] JeffreyDevloo opened #764 "Configure_disk failed to partition disk"
[code]

We solved the error by re-adding a gpt label to the disk: `parted /dev/sdX -s mklabel gpt`

[2016-08-03 13:14] kinvaris commented on #763
During configure_disk we saw some problems and starting investigating. Apparently the ovs-watcher-framework is having etcd problems again and it shuts the whole thing down.

[code]

...

[code]

---

/var/log/syslog

[code]

---

/var/log/upstart/ovs-watcher-framework.log

[code]

[2016-08-04 09:00] kvanhijf opened #768 "Bring volumedriver config sections and fields inline with framework config sections and fields"
The volumedriver on the Gig environment apparently has a field unknown to the framework being the 'average_entries_per_bin' in the 'content_addressed_cache'
This is a known field for the storagedriver, but the framework does not know of this field. Now when mds_checkup for example is executed, the storagedriver configuration file is cleaned, meaning all unknown fields (to the framework) are remove

[2016-08-04 09:13] domsj commented on #768
I think you should take a step back and look at why the framework cleans these unknown keys in the first place.
This is due to the fact the volumedriver can't handle old config files. So the framework has to clean up any keys the volumedriver may no longer know.
I think it would be better if the volumedriver would not trip over when it receives an old config file.
With the current situation you ge

[2016-08-04 09:19] kvanhijf commented on #760
Packaged by @khenderick after having fixed the packaging problem

[2016-08-04 09:42] jeroenmaelbrancke opened #773 "Unable to remove node when node already marked as offline"
version: Eugene-updates (maybe Fargo also)

We are unable to remove a node when the node is already marked as offline.

command:

[code]

voldrv log:

[code]

ovs ipython output:

[code]

[2016-08-04 09:45] redlicha commented on #768
This key is neither new nor deprecated. There are a number of such private configurables. Why GIG uses that one is beyond my knowledge at this moment, but if their use of it is legitimate then the param should be made public.

[2016-08-04 09:55] redlicha commented on #723
"null" is not supported. An empty string has to be used in the json config.

[2016-08-04 10:23] cnanakos commented on #768
@redlicha A problem raised on the Gig environment when trying to create new volumes, truncation lasted almost 1min. Gig is using location based caching all the way and on creation the volume gets its own hash table which is preallocated in that case. The default value for the average entries per spine-entry is 2 and with a very large read cache the allocation results on lengthy truncation times.
A

[2016-08-04 12:01] wimpers opened #775 "Extend the storage router status to incorporate disk status"
Currently a disk which is having the DB role might be dead but the Storage Router will still show green (as Arakoon runs distributed and the slave metadata server will pick up). It would be handy that if the DB role  or another disk fails in the storage router that it would be shown in the GUI (storage router orange, phusical disk red).

Note that both OVS healthcheck and OVS monitoring would pick

[2016-08-04 14:10] JeffreyDevloo opened #776 "ovs remove nodes failed: There are 2 items left in self.domains"
We encountered the following error during a 'ovs remove nodes' execution on our Hyperscale setup using:
- 3 controller nodes
- 1 computing node
- 2 storage nodes

[code]

[2016-08-05 09:41] pploegaert commented on #731
PASSED on 2.7.1-fargo.1-1

[2016-08-05 09:41] #731 closed, assigned to khenderick

[2016-08-05 10:05] pploegaert opened #777 "Noticed list index out of range on ovs.vdisk.dtl_checkup in ovs_workers.log"
2016-08-05 11:36:56 35800 +0200 - ovs52n252 - 125179/140635645032256 - celery/celery.worker.job - 977 - ERROR - Task ovs.vdisk.dtl_checkup[61e2e1d9-cc37-40a7-b68d-0361671f41d7] raised unexpected: IndexError('list index out of range',)
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/celery/app/trace.py", line 240, in trace_task
    R = retval = fun(_args, *_kwargs)
  Fil

[2016-08-05 10:08] pploegaert opened #778 "get_version_info should be updated to be aware of new voldrv naming (deduped/non-deduped)"
2016-08-05 11:42:02 49100 +0200 - ovs52n252 - 125179/140635645032256 - celery/celery.worker.job - 1294 - INFO - Task ovs.storagerouter.get_support_info[93c0ac06-d98d-4076-8c9f-89193fdd0828] succeeded in 1.245151471s: {'enabled': True, 'enablesupport': False, 'clusterid': u'uO8JiRQaLdOqcw9D', 'nodeid': 'Ut6KtRhuKTp4CjVd',...
dpkg-query: package 'volumedriver-server' is not installed and no informat

[2016-08-05 10:40] wimpers commented on #778
@khenderick isn't this a duplicate of https://github.com/openvstorage/framework/issues/649 which is set to closed.

[2016-08-05 10:44] khenderick commented on #778
@wimpers, the previous ticket added support for the various flavors of volumedriver, but left the dirty looking messages in the logging. However, I would use this ticket to cleanup the messy log entries.

[2016-08-05 11:37] pploegaert commented on #732
PASSED on 2.7.1-fargo.1-1

[2016-08-05 11:37] #732 closed, assigned to khenderick

[2016-08-05 14:39] khenderick commented on #763
This is not an issue with the framework nor ovs-watcher-framework. The watcher is designed to monitor the services we depend on, and in case it detects an issue with one of them, shuts down the framework to make sure not every task starts to fail at random places. As soon as the services are running again, the watcher will automatically start the framework again.

[2016-08-05 14:40] khenderick commented on #763
As discussed with @pploegaert, increasing the timeouts of Etcd itself might make it suck less. Feel free to update this ticket with a more reasonable timeout (that manages to get through the tests), then we can make that a default value.

[2016-08-06 12:01] pploegaert commented on #763
openvstorage-2.7.2-rev.3835.9f486e5

[2016-08-08 08:13] khenderick opened #782 "Allow configuration from arakoon"
Allow configuration from arakoon. Story: ovs-projects/org_development#44
- [x] Support Etcd and Arakoon for configuration
- [x] Change setup to be able to setup a filesystem backed arakoon for configuration management
- [x] Single entry volumedriver config
- [x] Update volumedriver config code to work with Etcd and Arakoon
- [x] Update all service file generating code to work with Etcd and Arakoon

[2016-08-08 08:27] wimpers opened #783 "Add vPool, small inconsistency"
Small inconsistency on 4th tab

Validate whether the required cache sizes are correct.

Should be "Global write buffer"

[2016-08-08 08:33] kinvaris commented on #776
Detailed error:

[code]

[2016-08-08 08:50] pploegaert commented on #704
PASSED - env 10.100.131.6x - 4th node output

<img width="368" alt="screen shot 2016-08-08 at 10 48 17" src="https://cloud.githubusercontent.com/assets/8393135/17474380/dbf90bca-5d55-11e6-94ef-d751a9f64a59.png">

[2016-08-08 08:50] #704 closed, assigned to pploegaert

[2016-08-08 09:22] matthiasdeblock commented on #773
@jeroenmaelbrancke , had the same issue on Fargo: https://github.com/openvstorage/framework/issues/652

[2016-08-08 09:27] matthiasdeblock commented on #776
Also had an issue when removing a node: https://github.com/openvstorage/framework/issues/652

[2016-08-08 09:52] khenderick commented on #758
Fixed by #780

[2016-08-08 11:02] pploegaert commented on #725
PASSED - 2.7.1-fargo.1-1
![screen shot 2016-08-08 at 12 59 52](https://cloud.githubusercontent.com/assets/8393135/17477890/35c4814a-5d68-11e6-83f6-ce7303e030b1.png)
![screen shot 2016-08-08 at 12 59 41](https://cloud.githubusercontent.com/assets/8393135/17477888/35c28228-5d68-11e6-9168-6e0993efbbab.png)
![screen shot 2016-08-08 at 12 59 20](https://cloud.githubusercontent.com/assets/8393135/174778

[2016-08-08 11:02] #725 closed, assigned to khenderick, pploegaert

[2016-08-08 11:46] kinvaris opened #786 "Timeout during setup because we have 7+ nodes."
Apparently this `for` loop takes too long to respond because we have more than 7+ nodes. https://github.com/openvstorage/framework/blob/master/ovs/lib/setup.py#L348.

Wouldn't it be better to set the timeout / iteration?

[2016-08-08 11:48] khenderick commented on #786
Fixed by #785

[2016-08-08 12:37] wimpers commented on #783
@kvanhijf  should be a small one to fix

[2016-08-08 12:39] deepshirsath commented on #640
- Installed single node with ovs build :- Open vStorage: 2.7.1-fargo.1-1
- Imported ubuntuos disk as raw in the vpool.
- Checked status on ovs gui for that disk under 'vDisks' which showed Healthy (Standalone) (screenshot attached)

![dtl-healthy-640](https://cloud.githubusercontent.com/assets/14201912/17479976/45c29ad4-5d93-11e6-9082-f78b2a178034.png)

[2016-08-08 12:39] #640 closed, assigned to deepshirsath

[2016-08-08 13:00] wimpers commented on #768
**Decision from BAM:**
@kvanhijf we should make sure that the MDS checkup doesn't update or remove any  parameters of the config.  Please update the code so this logic is removed. It is up to the voldrv to fail if the config is invalid.

[2016-08-08 13:10] wimpers commented on #748
**Decision from BAM:**
- By default no rollback
- Add option `ovs setup --rollback`

[2016-08-08 13:17] wimpers commented on #753
@pploegaert can you check if this also happens on our autotest env? Can we keep a eye on this on the OVH env?

[2016-08-08 13:22] wimpers commented on #745
To be investigated what the issue exactly was

[2016-08-08 13:24] khenderick commented on #768
Some extra information/remarks:
- It's not the MDS checkup that does the removal, but in general any action that updates a volumedriver configuration file. It makes sure that the configuration file does not contain any entry that the volumedriver cannot understand
- It will reduce backwards compatibility and add some overhead when the framework needs to implement updates for the volumedriver as it

[2016-08-08 13:25] khenderick commented on #768
Based on @wimpers's comments:
- Remove parameter cleanup (so basically we don't care what's in the configuration file)

[2016-08-08 13:32] wimpers commented on #741
Doesn't Docker require Weave to communicate between nodes? Maybe @dejonghb  can help.

[2016-08-08 13:34] wimpers commented on #735
Please provide mockups/specs.

[2016-08-08 13:43] wimpers commented on #651
The dependency should be on the voldrv package. The voldrv can be used without the framework.

[2016-08-08 13:45] khenderick commented on #651
@wimpers, it's an optional requirement for the volumedriver as the shared memory is by default enabled. In any case, if it should be a dependency, please move the ticket to the volumedriver repository.

[2016-08-08 13:49] openvstorage-ci commented on #651
This issue was moved to openvstorage/volumedriver#78

[2016-08-08 13:49] #651 closed, assigned to nobody

[2016-08-08 14:10] pploegaert commented on #746
scenario:
- 3 node setup
- create backend / vpool / vdisk on each node member
- change setting of vdisk + click save
- add 2 domains
- assign 1st domain as domain / 2nd as shown in screenshot:
  ![screen shot 2016-08-08 at 14 06 42](https://cloud.githubusercontent.com/assets/8393135/17479511/3a0ad654-5d73-11e6-86a3-1798a495d161.png)
- change setting of vdisk + click save
- change DTL setting of vd

[2016-08-08 14:10] #746 closed, assigned to nobody

[2016-08-08 14:25] openvstorage-ci opened #788 "Remove snapshot time limitations"
_From @wimpers on May 18, 2016 12:29_

@redlicha , @khenderick ,  @saelbrec ,

do you see any issue with removing the snapshot time limitation on the following line
https://github.com/openvstorage/framework/blob/453a0e7778add8d4c8a44ceaf74c771c2a5cefdc/ovs/lib/scheduledtask.py#L62

@celery.task(name='ovs.scheduled.snapshot_all_vms', schedule=crontab(minute='0', hour='2-22'))

_Copied from original

[2016-08-09 09:51] kinvaris opened #789 "Read role is required with AAA and no-cache strat on volumedriver"
We've tried to setup a vPool with Alba Accelerated Alba as READ cache. With volumedriver strategy `no-cache`. But we still need a READ role as seen here:

[code]

[2016-08-09 10:33] khenderick commented on #789
Seems it's indeed some leftover and apparently I validated all my changed with actually a READ role assigned to one of my partitions. However, the read partition itself won't be used in that case, so you can just - while awaiting this fix - assign it to whatever partition.

[2016-08-09 10:53] pploegaert opened #790 "List index out of range when adding vpool on KLONE cluster 3"
Note that there is no DB role assigned on a compute node, only on the controller node

diskpartition_info content =

[code]

[code]

[2016-08-09 11:12] khenderick commented on #790
A DB role is mandatory on every node.

The wizard should validate this (so that's a todo - why didn't the wizard complain here)
The add_vpool logic also checks this, but it tries to run all checks before raising a list of all issues found, and the above stacktrace is on one of these subsequent checks.

[2016-08-09 11:28] wimpers opened #791 "Domain and recovery domain need an MDS"
In case a domain and recovery domain is added, the mds amout should be 3 so there is a master and slave in the domain and a slave in the recovery domain (as initially implemented).

[2016-08-09 11:28] matthiasdeblock commented on #773
This one is on eugene updates.

[2016-08-09 11:37] deepshirsath commented on #599
Open vStorage: 2.7.1-fargo.1-1

root@ubuntu1:~# dpkg -l | grep volume
ii  volumedriver-no-dedup-base         6.0.3-dev.201607191821.0758481                           amd64        VolumeDriver common infrastructure
ii  volumedriver-no-dedup-server       6.0.3-dev.201607191821.0758481                           amd64        VolumeDriver daemon and helpers

When correct voldrv package i.e without dedu

[2016-08-09 11:37] #599 closed, assigned to nobody

[2016-08-09 12:08] deepshirsath commented on #608
**Open vStorage: 2.7.1-fargo.1-1**

Status of the vPool is now shown  before the vPool name on 'vPools' list page. (see screenshot)

![vpool-status](https://cloud.githubusercontent.com/assets/14201912/17515758/e7162058-5e57-11e6-8a61-45607b627254.png)

Also status of the backend is now shown before the backend name on 'Backends' list page. (see screenshot)

![backend-status](https://cloud.githubus

[2016-08-09 12:08] #608 closed, assigned to khenderick

[2016-08-09 12:11] pploegaert opened #792 "In some cases, the framework doesn't "see" the root mountpoint"
env: KLONE - cluster3

ovs-workers.log

[code]

[2016-08-09 12:32] khenderick commented on #792
Some observations:
- When a partition is mounted and has a role assigned, and the partition would be for whatever reason unmounted, a sync won't set the mountpoint to None again. The assign role won't in turn re-mount the partition because it thinks it's already mounted.
- Yet unknown; why isn't that partition mounted? The mountpoint in the model can only be filled if it was mounted at the end of

[2016-08-09 12:45] khenderick commented on #792
Might have to do with blkid causing the code to not see the mounted root. Collected information:

cmp03 (has the issue)

[code]

cmp05 (doesn't have an issue)

[code]

[2016-08-09 13:00] kinvaris opened #793 "extend vpool does not check requirements"
When trying to extend a vpool, we tried to extend it to a node without WRITE role.
When starting the wizard it was possible to extend the vpool although it should not be.

[2016-08-09 13:02] JeffreyDevloo opened #794 "Invalid URL u'https://:/api/oauth2/token/': No host supplied"
# Problem description

Cannot extend a vpool beyond the master node (node where the vpool was spawned)
# Possible root of the problem

User management?
# Possible solution

None
### Additional information

Used a Hyperconverged setup:
- 3 nodes
- Each node has 3 Backend disks
- Running unstable 2.7.2-rev.3849.a0ed527-1
### Stacktrace

[code]

---

[2016-08-09 13:29] kinvaris opened #795 "Frontpage overview of global backends should be listed as backends/ASDs not ASDs only."
![](http://i.imgur.com/pZr0jf1.png)

Instead of only `ASD`, this should be: `Backend/ASD`
![](http://i.imgur.com/gq2SBNh.png)

[2016-08-09 13:53] khenderick commented on #794
I'll give this some priority since this blocks quite soms tests

[2016-08-10 07:16] khenderick commented on #794
Fixed by #796, available in openvstorage-2.7.2-rev.3857.71749e3

[2016-08-10 07:19] khenderick commented on #795
Feel free to do pull requests for text changes; all translations are in https://github.com/openvstorage/framework/blob/master/webapps/frontend/locales/en-US/ovs.json.

Other options: just call it OSDs (then it's correct either way), or call it ASDs in case of "Local Backends" and "Backends" in case of "Global Backends". But I'd rather call it just "OSDs", so it's always correct, even if we start u

[2016-08-10 07:20] khenderick commented on #793
Observation: It looked like the error message about a missing write role was briefly displayed, but removed as soon as the ip address was loaded.

[2016-08-10 07:23] khenderick commented on #791
Can already be configured in `/ovs/framework/storagedriver|mds_safety`. Todo: set the default to 3.

[2016-08-10 13:01] JeffreyDevloo opened #797 "Remove node: local variable 'osd' referenced before assignment"
# Problem description

Got 'local variable 'osd' referenced before assignment' when invoking ovs remove node.
# Possible root of the problem

There weren't any ASDs claimed for the back-end. Perhaps there is no check on the existence of ASDs?
# Possible solution

Add a check.
# Temporary solution

None
# Additional information

Happend on the remove hook:
Stacktracing:

[code]
## Setup

Hyperconve

[2016-08-10 13:12] JeffreyDevloo opened #798 "Remove node: Could not acquire lock"
# Problem description

Got 'Could not acquire lock' when running ovs remove node
# Possible root of the problem

Memcache?
# Possible solution

None
# Temporary solution

None
# Additional information

Stacktrace:
The 39a27a50-5aac-408b-92c5-47b2640eb1b8 in   ovs_lock_ovs_dataversion_storagerouter_39a27a50-5aac-408b-92c5-47b2640eb1b8 is the GUID of the storage router that was going to be removed.

[2016-08-10 13:47] #786 closed, assigned to nobody

[2016-08-10 14:05] JeffreyDevloo commented on #794
Verified, extending works for unstable 2.7.2-rev.3857.71749e3-1 .

[2016-08-10 14:07] #794 closed, assigned to khenderick

[2016-08-10 14:48] JeffreyDevloo opened #799 "2 master node setup can't remove another master"
# Problem description

There is no check on 'ovs remove nodes' that prohibits from removing the majority of the nodes and therefore corrupting your cluster
# Possible root of the problem

No check on number of nodes that are needed to survive before executing remove node
# Possible solution

Add this check
# Temporary solution

None
# Additional information
## Setup

Hyperconverged setup
- Three n

[2016-08-10 15:27] deepshirsath commented on #681
PASSED on **Open vStorage: 2.7.1-fargo.2-1**

**_Prepared single node setup for replicating the ovs setup crash due to broken disk._**
- SDA SATA disk having I/O error on it.

![smartclt-sda](https://cloud.githubusercontent.com/assets/14201912/17559652/a3e59a62-5f3c-11e6-8191-83627346c31d.PNG)
- dmesg also reporting errors for SDA

![sda-error](https://cloud.githubusercontent.com/assets/14201912/1

[2016-08-10 15:27] #681 closed, assigned to khenderick, deepshirsath

[2016-08-10 16:12] deepshirsath opened #800 "DTL status shows healthy for vDisk in DTL disabled case."
**_Open vStorage: 2.7.1-fargo.1-1_**
- When we disable the DTL while creating the vPool and then import the vDisk in to vPool, still its DTL status shows 'healthy standalone'

![dtl-disabled-1](https://cloud.githubusercontent.com/assets/14201912/17561287/f6e1dc98-5f42-11e6-9645-ec00e5b3e636.png)

![dtl-disabled](https://cloud.githubusercontent.com/assets/14201912/17561298/00135058-5f43-11e6-8ef2-1

[2016-08-11 06:17] khenderick commented on #799
Not sure what's the issue reported: if a customer wants to remove one out of a two node setup, that's perfectly fine, nothing will go wrong. If a node has - for some reason - crashed, we can't prohibit a customer from removing that crashed node out of the cluster. And with a non-reachable node in a cluster the customer can't do anything (most of the functionality is blocked at that point)

[2016-08-11 06:19] openvstorage-ci commented on #797
This issue was moved to openvstorage/framework-alba-plugin#183

[2016-08-11 06:19] #797 closed, assigned to nobody

[2016-08-11 06:24] openvstorage-ci commented on #795
This issue was moved to openvstorage/framework-alba-plugin#185

[2016-08-11 06:24] #795 closed, assigned to nobody

[2016-08-11 07:08] khenderick commented on #800
The volumedriver reports - in this case - the status as `ok_standalone`, which is in the GUI translated to the message reported. An option could be to add some code that returns some other status when the status is `ok_standalone` and the DTL is disabled.

[2016-08-11 07:14] khenderick commented on #776
Fixed by #801 in openvstorage-2.7.2-rev.3859.42b3488

[2016-08-11 08:21] wimpers commented on #800
I would use a grey color instead of green if no DTL configured.

[2016-08-11 08:32] wimpers commented on #799
I don't consider going from 3 nodes gracefully to 1 something we need to tackle in the code (atm). From 3 to 2 and back to 3 is something which should of course be covered. Going from 2 to 1 should **NOT** lead to corruption, if that is the case we need to fix that and re-open this ticket.

[2016-08-11 08:32] #799 closed, assigned to nobody

[2016-08-11 08:38] khenderick commented on #799
@wimpers, it is supported in the code to go from 3 to 1 as far as I know, and if that is not possible, it is indeed considered separate issue.

[2016-08-11 08:50] wimpers commented on #788
please assign to QA asap as we need to QA the hell out of it

[2016-08-11 09:12] wimpers commented on #799
@JeffreyDevloo were both nodes up when you executed the ovs remove? Any chance you still have the logs to see why the cluster shrink didn't execute correctly?

[2016-08-11 09:48] JeffreyDevloo opened #802 "Missing ssh files are reported incorrectly"
# Problem description

Received the following message when only /opt/OpenvStorage/.ssh/ files were missing.

[code]
# Possible root of the problem

The check is only happening on one file instead of the file in the loop.
Framework.ovs.lib.setup.py

[code]
# Possible solution

Change the if condition:

[code]

[2016-08-11 09:52] khenderick commented on #802
To be added here: the actual cause of the message was that the `ovs` user was created with a wrong home directory, that caused the package installation scripts to not created the key pairs in the expected location.

However, this problem will cause that the setup doesn't validate other files (e.g. root's keypair).

[2016-08-11 14:19] domsj opened #803 "MaxRedirectsExceededException: snapshotInfo"
Saw this error in api.log on OVH

[code]

Version: 2.7.1-fargo.2-1

[2016-08-11 14:20] JeffreyDevloo opened #804 "Creating back-end during the removal of a node will freeze the back-end on the installing status"
# Problem description

Creating back-end during the removal of a node will freeze the back-end on the installing status
I suspect that it will generally break anything when the setup changes.

Also I found that when I added a new back-end, while the other was stuck on installing, that the newly installing one disappears from the GUI.
# Possible root of the problem

Workers restart during the remov

[2016-08-11 14:20] domsj opened #805 "'NoneType' object is not iterable"
Saw this error in api.log on OVH

[code]

Version: 2.7.1-fargo.2-1

[2016-08-11 15:23] deepshirsath commented on #677
Re-tested and **PASSED** on **_Open vStorage: 2.7.1-fargo.2-1_**

**Steps performed :-**
- Navigated to add new vPool wizard & filled out vPool name + selected local alba backend

![add-new-pool](https://cloud.githubusercontent.com/assets/14201912/17593883/03d7d48a-6005-11e6-81c3-0200fc3d2975.PNG)
- Next screen, selected Fragment Cache: **No caching**

![frag](https://cloud.githubusercontent.com/a

[2016-08-11 15:23] #677 closed, assigned to nobody

[2016-08-12 07:38] khenderick opened #806 "Support Ubuntu 16.04"
Add support for Ubuntu 16.04.

First tests from QA revealed issues with Etcd (connection refused).

Installation snippet provided by QA:

[code]

The wgets is for downloading Ubuntu 16.04 enabled volumedriver builds; gdebi is a local deb installer that fetches dependencies.

[2016-08-12 07:42] khenderick commented on #806
Alba and arakoon packages also need to be a specific build. So first install the special packages (voldrv, arakoon, alba), then install openvstorage.

https://github.com/openvstorage/alba/releases/ and https://github.com/openvstorage/arakoon/releases (see the release names)

[2016-08-12 08:13] wimpers commented on #804
@JeffreyDevloo did you manage in the end to deleted that backend? Did the remove node complete as planned?

[2016-08-12 08:31] wimpers commented on #802
@khenderick how can it be that the ovs user was created with the wrong home directory. Is it a bug in the code or should we tackle this with documentation?

[2016-08-12 08:37] wimpers commented on #802
nevermind, the ovs user was created before (waffle didn't show the referenced issue).

[2016-08-12 08:38] khenderick commented on #802
@wimpers, In this case @JeffreyDevloo just installed a fresh Ubuntu and when the Ubuntu setup asks for a non-privileged user, Jeffrey just entered "ovs" as it's username. The Ubuntu installation then creates a user with that username which will gets it home directory created under /home/ovs.

I remember that back in the days the documentation mentioned this since back then the Ubuntu installation

[2016-08-12 08:39] khenderick commented on #802
@wimpers, there's still an issue in the code reported here that must be fixed.

[2016-08-12 08:42] wimpers commented on #802
Set to won't fix as if the ovs user isn't previously created, you don't run into the issue.

[2016-08-12 08:43] wimpers commented on #802
Not having an ovs user before starting the install will be covered by documentation.

[2016-08-12 08:51] JeffreyDevloo commented on #804
The node was removed successfully. I couldn't the delete the back-end on the GUI as it was still installing.

[2016-08-12 08:54] JeffreyDevloo commented on #776
I have not encountered the error during the removal on a similar test setup.
The issue on 'openvstorage-2.7.2-rev.3859.42b3488' seems to be fixed. Closing.

[2016-08-12 08:54] #776 closed, assigned to nobody

[2016-08-12 09:25] khenderick commented on #798
Due to the amount of reproductions by @JeffreyDevloo, I suspect that during service restart memcached stays unavailable for slightly too long, so we should build in some wait after restarting the services before we proceed.

[2016-08-12 11:04] deepshirsath commented on #683
**PASSED** on **_Open vStorage: 2.7.1-fargo.2-1_**
- vPool creation wizard summary:

![frag](https://cloud.githubusercontent.com/assets/14201912/17620507/6edd53c2-60aa-11e6-881d-6105b321bebb.PNG)

![no-cache](https://cloud.githubusercontent.com/assets/14201912/17620422/e28d20f0-60a9-11e6-9fff-611a90364893.PNG)

![no-cache-1](https://cloud.githubusercontent.com/assets/14201912/17620432/e9d2ea2a-60a

[2016-08-12 11:04] #683 closed, assigned to khenderick

[2016-08-12 11:11] kinvaris opened #811 "vPool re-creation failed: StorageDriver service failed to start"
Steps to reproduce:
1. Create vPool.
2. Delete it.
3. Recreate with same name.
4. result

[code]

[code]

[2016-08-12 11:16] JeffreyDevloo opened #812 "ovs remove nodes only removes the node from Models"
## Problem description

ovs remove nodes only removes the node from Models when the removed node was removed when it was online.
When you use the wiper after the removal, you will remove your etcd configs on all nodes therefore rendering the cluster corrupt.

These services were still running after the node was removed:

[code]
## Possible root of the problem

The remove node doesn't stop the runn

[2016-08-12 11:23] JeffreyDevloo opened #813 "mark_node_offline resulting in ClusterNotReachableException during node removal"
## Problem description

While running ovs remove nodes I found the following error:

[code]
## Possible root of the problem

The cluster might not have been initialized when I ran ovs remove nodes.
## Possible solution

Check if the cluster is initialized during the 'Mark offline' process of remove_node
## Temporary solution

Wait till the cluster is initialized.
## Additional information
### Setu

[2016-08-12 11:37] kinvaris commented on #811
After some digging it appeared to be that the vpool directory under `/mnt` was not properly removed.

[2016-08-12 11:54] wimpers commented on #812
@JeffreyDevloo isn't it logic that if a node is marked offline we don't remove anything on the node. From OVS standpoint the node should not be accessible anymore (up to the user to make it doesn't come back and make it is dead by f.e. removing the power ).

can you elaborate on this? Isn't this a bug in the wiper (and not in the framework)?

[2016-08-12 12:17] wimpers commented on #802
Re-opening as fixed so put into state verification for QA.

[2016-08-12 12:47] kinvaris opened #815 "`Disk None is not yet initialized` when removing ASD from missing disk"
[code]

After the error the ASD in question is gone.

[2016-08-12 13:10] matthiasdeblock commented on #619
Blocker on GIG's environment:

[code]

[2016-08-12 13:19] matthiasdeblock commented on #619
Workaround isn't working as tried it on a gig environment. Needs to be executed as root.

[2016-08-12 13:20] kinvaris commented on #619
Even when applying the workaround that @wimpers suggested, it did not work. The problem here is not partition tables but read rights via `parted` command. The command in-code should be executed by `root` when performing `sync-with-reality` not user `ovs` as stated in the initial ticket description.

[2016-08-12 14:30] deepshirsath commented on #689
**PASSED** on **Open vStorage: 2.7.1-fargo.3-1**
- Setup 3 node grid
- Created an alba backend spread on all 3 nodes
- Created a vpool on the main node
  ![pool-created](https://cloud.githubusercontent.com/assets/14201912/17625485/b9c48132-60c6-11e6-97e1-452d997f020a.PNG)
- Extended the vpool to the other two nodes

![pool1-extended](https://cloud.githubusercontent.com/assets/14201912/17625504/d5e

[2016-08-12 14:30] #689 closed, assigned to khenderick

[2016-08-12 15:07] wimpers opened #816 "View Not Found. Searched for "viewmodels/shell" via path "text!viewmodels/shell.html"."
When first going to the GUI, it sometimes show "View Not Found. Searched for "viewmodels/shell" via path "text!viewmodels/shell.html"." a refresh fixes it.
![2016-08-12_17-05-04](https://cloud.githubusercontent.com/assets/8392927/17626797/1874e554-60af-11e6-92b2-e4d972386ed8.png)

[2016-08-13 13:42] deepshirsath commented on #679
**PASSED** on **'Open vStorage: 2.7.1-fargo.3-1'**

Open vStorage: 2.7.1-fargo.3-1
Open vStorage - Backend: 1.7.1-fargo.1-1
Open vStorage - SDM: 1.6.1-fargo.1-1
Storage Driver - Base: 6.0.3-dev.201607191821.0758481
Storage Driver - Server: 6.0.3-dev.201607191821.0758481
Alba: 0.9.14
Arakoon 1.9.8
- Storage router info on OVS gui was showing without any issues even though 'ovs-volumedriver_pool1' w

[2016-08-13 13:42] #679 closed, assigned to nobody

[2016-08-16 07:47] kinvaris commented on #741
@wimpers: Docker needs weave indeed to communicate between nodes but this is irrelevant in this situation because we use Open vStorage in docker. In this case its a bare metal Open vStorage with docker problems.

[2016-08-16 07:48] kinvaris commented on #749
@wimpers: in the past we did upgraded `celery` and the problems were gone. Maybe test it?

[2016-08-16 07:54] dejonghb commented on #741
Isn't this because all IP's were selected to use for communication between nodes? During setup there's those questions about which IP's to use which allows choosing 'all' to exclude private things (like docker).

With regards to weave: there's also a macvlan option since docker 1.12 that is a better mechanism now.

[2016-08-16 09:04] dejonghb commented on #802
If there's already an (unexpected) ovs user on the system (with an "incorrect home directory" -- whatever that may be); shouldn't the setup warn about it?

[2016-08-16 10:13] kinvaris commented on #592
When trying to allocate more read cache than possible an error in the GUI is displayed: `Over allocation detected`.

PASSED: `2.7.2-rev.3867.ec9d46d-1`

[2016-08-16 10:14] #592 closed, assigned to nobody

[2016-08-16 11:03] kinvaris commented on #701
PASSED: `2.7.2-rev.3867.ec9d46d-1`. When the setup cannot ssh to other nodes via a certain IP address it will time out and give an error: `Timeout during ssh keyscan, please check node interconnectivity`

[2016-08-16 11:03] #701 closed, assigned to nobody

[2016-08-16 11:07] kinvaris commented on #739
PASSED: This is now visible in front of every vdisk. When no edge clients are connected: `No Edge Clients Connected`. When there are edge clients connected it will give the IP address of the connected clients. `2.7.2-rev.3867.ec9d46d-1`

[2016-08-16 11:07] #739 closed, assigned to khenderick

[2016-08-16 12:01] kinvaris opened #817 "vPool creation can be done on other nodes if 1 node has only read/write role."
During some testing I had created a vpool on 1 node. On that node all the roles where set on disks.
When I try to create a second vpool on the second node (where the roles are not set) it also works.

**INFO:** If you go through with the installation, you cannot create a vpool because you are blocked at step 3 (allocating read and/or write cache)

[2016-08-16 14:26] deepshirsath commented on #669
**_Open vStorage: 2.7.1-fargo.2-1_**
- The vPool wizard now not asking for read cache size if no cache is being configured/selected.
- If no read cache was requested, no read.dat will be created. (fixed in #683 )

Also

Read role is required with AAA and no-cache strat on volumedriver #789 (https://github.com/openvstorage/framework/issues/789) is raised and open for still read role check is presen

[2016-08-16 14:26] #669 closed, assigned to nobody

[2016-08-16 15:18] kinvaris commented on #615
PASSED: duplicate of https://github.com/openvstorage/framework/issues/592

[2016-08-16 15:18] #615 closed, assigned to nobody

[2016-08-17 14:09] matthiasdeblock opened #818 "ArgumentError while executing the rollback"
On GIG's environment we had the following error while executing the rollback:

Version: 2.7.1-fargo.2-1

**Error:**

[code]

**Fix:**
/opt/OpenvStorage/ovs/lib/vdisk.py +397
- from

[code]
- to:

[code]

[2016-08-18 09:33] kinvaris opened #819 "Make fragment size of preset configurable through GUI"
Currently we have to create a preset through the CLi if we want another fragment size.
In the GeoScale perspective, it would be interesting to make the fragment size of the preset configurable during creation/update.

[2016-08-18 09:43] domsj commented on #819
FYI: updating the fragment size of an existing preset is currently not supported by alba.
If you need that (and maybe allow updating compression/encryption/name and others(?) too while at it): please file a ticket for alba too.

[2016-08-18 13:17] kinvaris opened #822 "unknown osd but still claimed in GUI"
- Unclaimed ASD, took a long time.
- Refreshed.
- ASD is still present but in `unavailable`
- ASD process is still present

[code]
- Stopped the ASD process, was able to remove it via GUI. But disk safety was being calculated. Then saw this error:

[code]

Delete of ASD is seen here:

[code]

After that:

[code]

Config seems available in ETCD:

[code]

[2016-08-18 13:33] kinvaris commented on #822
Removed the ASD by the following steps:
- Remove from Etcd:

[code]
- Search OSD in ovsdb model and delete the object. Now you can removed the disk.

[code]
- Remove it in the GUI
- stop process: `stop alba-asd-MJm8UJ1LUbyemRWh8gvi2GToCZ0XSB1B`
- unmount it on the storage node: `umount /mnt/alba-asd/I6NBxeQNgYibtJnY`
- remove `/etc/init/alba-asd-MJm8UJ1LUbyemRWh8gvi2GToCZ0XSB.conf`
- remove from `

[2016-08-18 14:29] pploegaert commented on #652
[code]

[2016-08-18 14:31] pploegaert commented on #652
OVS gui was very slow/not responsive anymore when after marking 4th node offline
After completion of ovs remove node ... the GUI was responsive and useable again.

[2016-08-18 14:31] #652 closed, assigned to nobody

[2016-08-19 07:50] pploegaert commented on #670
PASSED - 2.7.2-rev.3867.ec9d46d-1

[2016-08-19 07:50] #670 closed, assigned to pploegaert

[2016-08-19 08:03] pploegaert commented on #647
PASSED on 2.7.1-fargo.3-1

[code]

[2016-08-19 08:03] #647 closed, assigned to pploegaert

[2016-08-19 09:09] kinvaris commented on #693
PASSED:
- Execute this command: `for i in {1..1000}; do truncate -s 10G /mnt/myvpool/test-$i.raw; rm -rf /mnt/myvpool/test-$i.raw; done` (PASSED)
- Setup Celery flower to see tasks flowing through the cluster: (This is the flow for volume `3263cfc6-847e-4f07-9c57-abb32ae83345` aka `test-608.raw`) (PASSED)
  ![](http://i.imgur.com/eBtUwFy.png)
- Installed Health-Check: This checks discrepancies ovs

[2016-08-19 09:09] #693 closed, assigned to kinvaris

[2016-08-19 09:18] kinvaris commented on #802
@dejonghb makes a very good point, @wimpers.

[2016-08-19 09:25] pploegaert commented on #665
PASSED on 2.7.1-fargo.3-1:

[code]

[2016-08-19 09:25] #665 closed, assigned to khenderick, pploegaert

[2016-08-19 09:52] kinvaris commented on #692
PASSED:
- Visually Checked GUI on pages: (PASSED)
  - vDisks
  - vPools

[code]

[2016-08-19 09:52] #692 closed, assigned to kinvaris

[2016-08-19 09:53] JeffreyDevloo commented on #763
## Reproduction of the issue

Could reproduce the issue on 2.7.2-rev.3833.69ff307-1 with:
 exec etcd -name SHxPMGoM0OZ5swLd -heartbeat-interval=1000 -election-timeout=5000 and saw Raft Internal Error on multiple nodes.

## Validated possible fix

Could not reproduce the issue on 2.7.2-rev.3867.ec9d46d-1 with :
exec etcd -name 8IABN2BZLuJPFj06 -snapshot-count=2500 -heartbeat-interval=2500 -election

[2016-08-19 09:53] #763 closed, assigned to nobody

[2016-08-19 10:12] pploegaert commented on #734
PASSED on 2.7.1-fargo.3-1

no entries found in log files after nightly build runs

[2016-08-19 10:12] #734 closed, assigned to khenderick, pploegaert

[2016-08-19 10:28] deepshirsath opened #823 "'ovs remove nodes' should ask for confirmation while removal."
**Description:**
- When we execute the command 'ovs remove nodes 192.168.x.x' it directly starts removing node without prompting.
- It can be dangerous in live production envs, there should be some confirmation prompt.

**Current workflow:**

[code]

**Current version:**

[code]

[2016-08-19 11:14] JeffreyDevloo commented on #816
You can also reproduce this error by going into the menu and click on 'API' and then go back with the 'back' arrow.
If you can't reproduce it on a certain node, repeat the same steps on a different node.
Edit: I get the most success rate when I start from the vTemplates page.

[2016-08-19 11:36] JeffreyDevloo opened #824 "User Mgmt: add a better indication that the OAuth 2 Clients are for a user group"
## Problem description

The only indication that the OAuth 2 Client is for a specific user group is the blue bar on the top of the screen.
![selection_023](https://cloud.githubusercontent.com/assets/17570109/17808657/9113ff88-6611-11e6-8fc0-ecfbfb9a690b.png)
## Proposed solution

Add a small indicator in the title aswell.
![selection_024](https://cloud.githubusercontent.com/assets/17570109/1780871

[2016-08-19 11:57] kinvaris commented on #812
@wimpers: this is a bug in the framework. In some cases your node is not down and you just want to remove it to use it for something else. In the future remove node should make an attempt to login in the node and execute these tasks to terminate any connections to the node:

**If it can login:**
- Terminate any access to ETCD
- Stop all services

**If it cannot login:** you can assume that the nod

[2016-08-19 12:04] pploegaert commented on #723
PASSED on 2.7.1-fargo.3-1:
vp1 with DTL disabled:

[code]

[2016-08-19 12:04] #723 closed, assigned to pploegaert

[2016-08-19 12:30] JeffreyDevloo opened #825 "Clients cannot be deleted if they have still rights assigned (e.g. towards a backend)"
## Problem description

The problem in /var/log/upstart/ovs-webapp-api.log:

[code]
## Possible root of the problem
### Steps to reproduce the issue
- Add a OAuth 2 Client to a user
- Give this client rights on a backend
- Try to remove client / user
## Possible solution

Disable the deletion when the access rights have been set for the user/client.
## Additional information
### Setup

Hyperconver

[2016-08-19 13:11] JeffreyDevloo opened #826 "User Mgmt: viewers can't see a single list"
## Problem description

In the documentation it states : 'Viewers can only see the dashboard and the detail pages but can not launch any actions' (Source: https://github.com/openvstorage/ovs-documentation/blob/master/Administration/usingthegui/administration.md)
When I logged in as a member of the viewers group, I couldn't see any information except for the pages within the menu.
**Accessed the us

[2016-08-19 13:30] JeffreyDevloo opened #827 "User Mgmt: admin can lock himself out of back-end page"
## Problem description

The currently logged in administrator can lock himself out of a back-end page by explicitly denying himself.
## Temporary solution
- Unlock the administrator by creating a new administrator under user management
- Log in as the newly made administrator
- Go to the back-end page
- Grant the other admin or implicitly deny him
  ## Additional information
### Setup

Hyperconver

[2016-08-19 13:31] JeffreyDevloo commented on #758
Cannot close this issue due to other issues that arose with this feature:
Validation failed:
- #827 (Done)
- #826 (Done)
- #825 (Done)

[2016-08-19 14:15] JeffreyDevloo opened #828 "Creating multiple backends at once causes them all to fail"
## Problem description

I was adding multiple backends at once and after a while only the first was installed. I investigated the issue and found the following:
In /var/log/upstart/ovs-workers.log:

[code]

Due to this error I am left with a list of backends that are stuck on the installing status. You cannot remove these from your list. (Deleting them via Albabackend.delete() doensn't help aswell

[2016-08-19 14:46] JeffreyDevloo commented on #418
The following aspects (related to this ticket) are not included in the 'Statsmonkey':
- config setting for each component
- config file (ETCD) what stats to send and at what interval

There are however global configuration files to specify  redis to use & port & the interval.
@despiegk is the option to define what stats will be reported at configurable intervals necessary? Grafana is ideal to get

[2016-08-22 07:32] openvstorage-ci commented on #826
This issue was moved to openvstorage/ovs-documentation#23

[2016-08-22 07:32] #826 closed, assigned to nobody

[2016-08-22 07:49] khenderick commented on #827
To be honest, I didn't implement this because I don't actually care too much if an admin wants to explicitly lock himself out. It might be possible that he created a backend for another admin user, and then - correctly - denies himself access. I don't see too much issues in this.

[2016-08-22 07:52] khenderick commented on #828
Can we rename this ticket to "Etcd issue number 1.329.461.222" or something similar? Basically anything can fail if etcd doesn't work, so it doesn't make much sense to report - eventually if we use etcd long enough - every single line of code where we do a call to etcd.

[2016-08-22 08:00] khenderick commented on #827
Except if a single admin locks himself out by accident, but then he can create a new admin user to grant himself access again. I'll leave this up to @wimpers to decide.

[2016-08-22 08:07] dejonghb commented on #827
Isn't that the same problem as a user removing [him|her]self from users allowed to use sudo or changing [his|her] password to some unknown random thingy and then being unable to login?

[2016-08-22 08:14] wimpers commented on #818
@matthiasdeblock can you create a PR for this one?

[2016-08-22 08:22] wimpers commented on #749
Back to BAM.

[2016-08-22 08:25] khenderick commented on #802
@dejonghb, @kinvaris, it basically does this already by complaining the expected files could not be found. But maybe the message could be enhanced a bit more.

[2016-08-22 08:45] openvstorage-ci opened #829 "Virsh tries to autostart vms before volume driver has started"
_From @JeffreyDevloo on August 12, 2016 15:33_
## Problem description

Virsh tries to autostart vms before volume driver has started
virsh log:

[code]

Volumedriver log:

[code]

As you can see, virsh logged its error a second before the volume driver has started.
## Possible root of the problem

The libvirtd service doesnt wait for the volumedriver to finish. (The startup condition cant be modif

[2016-08-22 08:45] openvstorage-ci commented on #829
_From @redlicha on August 12, 2016 17:16_

The order in which services are started is not something volumedriver is concerned with.
@wimpers, can you please move this to an appropriate place?

[2016-08-22 08:47] khenderick commented on #829
@wimpers, this can be closed, virtual machine management is nothing we support anymore, so it's up to the customer to configure his stack to make sure vms are only started after the storage stack is started.

[2016-08-22 08:51] JeffreyDevloo commented on #827
Working as intended, could be used for multiple use cases (for instance a setup admin who restricts himself access afterwards)
Closing.

[2016-08-22 08:51] #827 closed, assigned to nobody

[2016-08-22 08:53] JeffreyDevloo commented on #829
Closing

[2016-08-22 08:53] #829 closed, assigned to nobody

[2016-08-22 09:13] wimpers opened #830 "Scrub in clusters"
To aid in the scrubbing of large volumes we divide the volume up in regions which we then scrub. The size of such a region is configurable. This is set when the framework triggers a scrubbing job. Let's put the region size to 128GB.

[2016-08-22 09:20] wimpers commented on #830
This is exposed through the API. @redlicha can you point to the exact parameter?

[2016-08-22 09:26] redlicha commented on #830
[code]

It's the `region_size_exponent` that defines the size of a region: `cluster_size << region_size_exponent`

[2016-08-22 10:03] wimpers opened #831 "Remove 40GB reservation for the metadata DB per vPool"
Currently we reserve 40GB per vPool for the metadata DB per vPool. This means a lot of space gets reserved without being used.

Proposal don't reverse any space. One should have monitoring to keep an eye on the used space and make you don't run into a full disk.

[2016-08-22 11:37] pploegaert commented on #760
validated by @jeroenmaelbrancke on gig setup

[2016-08-22 11:37] #760 closed, assigned to pploegaert

[2016-08-22 12:01] JeffreyDevloo opened #832 "Missing/broken disk used by vPool causes error during rescan"
## Problem description

I've added disks to my node and got 'An error occurred while rescanning.
![selection_036](https://cloud.githubusercontent.com/assets/17570109/17854044/462d6430-6870-11e6-809c-e4de2c82c0a3.png)

/var/log/upstart/ovs-workers.log :

[code]
## Possible root of the problem

A disk/ partition seems to be missing. OVS will attempt to fix this in the model (by removing the informat

[2016-08-22 12:09] JeffreyDevloo commented on #832
Related: https://github.com/openvstorage/framework-alba-plugin/issues/169

[2016-08-22 12:28] wimpers commented on #828
We should block the creation of a backend when another backend is  being created.

We will not fix the underlying problem so you can create multiple backends concurrently.

[2016-08-22 12:33] khenderick commented on #828
@wimpers, concurrent backend creation should (already) be possible; it's just that sometimes etcd can't cope with the load and fails. But this is identical for almost all code that uses etcd.

[2016-08-22 12:34] wimpers commented on #825
To be tackled in broader FR: https://github.com/openvstorage/framework/issues/836

[2016-08-22 12:38] wimpers commented on #824
@JeffreyDevloo  is this something you can pick up?

[2016-08-22 12:39] wimpers commented on #823
Decision by BAM as should be a small one: Add yes/no question. -y  for automation.

[2016-08-22 12:55] wimpers commented on #813
@JeffreyDevloo do you mean that the ovs setup was not yet finished when you tried to remove the node? Did the  ovs setup finish correctly? Was the cluster usable?

[2016-08-22 12:59] wimpers commented on #811
@kinvaris QA does this scenario almost daily and they don't see this issue. We assume that the delete wasn't finished correctly. Do you have any logs available? Can you consistently reproduce this somehow?

[2016-08-22 13:01] wimpers commented on #749
@khenderick  please advice if you want to/can upgrade.

[2016-08-22 13:10] khenderick commented on #749
@wimpers, sure, I don't see an issue why we could not test that.

[2016-08-22 13:10] wimpers commented on #741
@kinvaris can you explain the use case and setup/scenario as we are confused what you are trying to reach. Is this a docker issue or an ovs issue?

[2016-08-22 13:12] wimpers commented on #749
Can we do this as quickly  as possible so this has some exposure, please.

[2016-08-22 13:12] domsj commented on #828
The way I understand this ticket it has nothing fundamentally to do with creating multiple backends concurrently, so blocking that is besides the point.

The problem is that once in a while some operations might temporarily fail (such as storing something in etcd, or in alba or in arakoon or ...).
The question is what do you do in case of this sort of failure/unavailability?
- fail, and leave what

[2016-08-22 13:29] wimpers commented on #593
Maybe recheck once https://github.com/openvstorage/framework/issues/749 is closed and a new celery was added?

[2016-08-22 14:11] wimpers commented on #830
Since the default is already at 128GB (region size of 25). Put to verification as this needs QA.

[2016-08-22 14:27] JeffreyDevloo opened #834 "Backend detail page load"
## Problem description

Fetching the detail page of a backend puts alot of strain of the cpu (More noticable the more backends you have with initialized and claimed disks). This is being problematic when you quickly hop from one page to another as the API calls queue and get resolved asynchronously.

![selection_038](https://cloud.githubusercontent.com/assets/17570109/17856941/216bee90-6880-11e6-8

[2016-08-22 14:30] khenderick commented on #834
Short: for the "other" backends we should not request `_dynamics` nor `_relations`, as that should be the only thing we need anyway for these backends.

[2016-08-22 15:41] matthiasdeblock opened #835 "Traceback when arakoon collapse failed"
Traceback in ovs-workers when arakoon collapse failed.

openvstorage: 2.7.1-rev.3769.d0e7b4e-1
arakoon: version: 1.9.8

[code]

[code]

[2016-08-23 07:42] wimpers opened #836 "Before deleting a user we should check if all permissions are revoked"
This ticket is created to tackle the issue raised in https://github.com/openvstorage/framework/issues/825.

When you delete a user/client from the OVS model as a first check we should check if their are still permissions left:
- vPool
- Backend
- vDisk
- ...

In case there are still permission left, we should in the wizard notify the user that these permission are not yet removed. if the user cont

[2016-08-23 07:44] #825 closed, assigned to wimpers

[2016-08-23 07:45] JeffreyDevloo opened #837 "vPool wizard: loading backends load"
## Problem description

It takes a while to  (re)load the backend information in the vpool wizard. This is mainly due to the local_stack query that happens on the API to get the necessary information.
![selection_048](https://cloud.githubusercontent.com/assets/17570109/17883984/f12ad6d8-6915-11e6-8d38-667b673109a3.png)
## Possible solution

Cache the local_stack information for every node in the c

[2016-08-23 07:46] JeffreyDevloo commented on #716
### Steps
- Installed a 3 node setup
- Added 25 backends (preset 1,1,1,1)
- Initialized 50 disks
- Claimed 2 for each backend
- Initialized vPool wizard and looked at the networking happening

### Output

Got all backend information necessary

### Test result

The wizard does not timeout any longer but it is still not optimized.
See: https://github.com/openvstorage/framework/issues/837
Closing.

#

[2016-08-23 07:46] #716 closed, assigned to nobody

[2016-08-23 08:19] JeffreyDevloo commented on #802
Reproduction of the issue gave me the expected output this time:

### Steps
- Installed a fresh Ubuntu 14.04
- Configured a ovs user
- ran ovs setup

### Output

[code]

### Test result

Test passed.
The missing files are now reported correctly.
Closing

### Package information
- openvstorage                       2.7.2-rev.3859.42b3488-1   amd64        openvStorage
- openvstorage-backend

[2016-08-23 08:19] #802 closed, assigned to nobody

[2016-08-23 09:36] wimpers commented on #735
On the vPool Detail page (under Backend):
- If an OVS backend, name + link to the backend; next line: preset name
- If an external OVS backend or S3: login and next line connection info
- Write speed
- Read speed

[2016-08-23 10:58] JeffreyDevloo commented on #824
Fixed in openvstorage-2.7.2-rev.3880.93db3d4

[2016-08-23 10:58] #824 closed, assigned to nobody

[2016-08-23 11:09] JeffreyDevloo commented on #638
### Steps
- 3 node setup
- Added backend, vpool
- Added a domain 'vm-vpool-test'
- Added all nodes and backend to domain
- Checked if the domain would load when clicking on the entries in the lists

### Output

All domain information loaded instantaneously.

### Test result

Could not reproduce the issue. The information seems to load in an instant.
Closing.

### Package information
- openvstorage

[2016-08-23 11:09] #638 closed, assigned to JeffreyDevloo

[2016-08-23 11:22] matthiasdeblock commented on #818
@wimpers, created PR on this one.

[2016-08-23 11:36] JeffreyDevloo commented on #666
### Steps
- Checked the spec file
- Fixed some issues
  ### Test result
  Test passed (after merging)
  Closing.

[2016-08-23 11:36] #666 closed, assigned to JeffreyDevloo

[2016-08-23 13:48] JeffreyDevloo opened #843 "No available IP addresses found suitable for Storage Router storage IP"
## Problem description

I was setting up a single node cluster with only one NIC (and so only one IP) without installing KVM and libvirt.
The installation was successful but I received the following error when adding a vpool:

[code]

It turns out that installing my kvm and libvirt packages created a virtualbridge with an ip. Due to this added entry in my network I could add vpools without a probl

[2016-08-23 13:54] khenderick commented on #843
Most likely it's just the check that can be removed, but we should take a look in the surrounding code to see whether there are more leftovers.

This assuming that we do actually want customers to be able to use a single ip for both management and storage network. If we don't want that, we should make sure everything is checked in the wizards as well.

[2016-08-23 15:04] JeffreyDevloo commented on #622
### Steps
- Install OVS (no libvirt, qemu, ..)
- Add backend
- Initialize and claim disks
- Add vPool

### Output

vPool succesfully created

### Test result

Test passed.
Could not reproduce the issue specified in this ticket. If a similar error occurs once more, we should create a more general ticket as this one only handles one issue (qemu-dependency)

### Package information
- openvstorage

[2016-08-23 15:04] #622 closed, assigned to nobody

[2016-08-23 15:19] kinvaris commented on #741
After a dicussion with @dejonghb, we decided to split this ticket in 2 seperate tickets.
- OVS framework should ignore `Permission denied` and just skip those mount points.
- OVS framework should not ssh-keyscan on all ip addresses. Instead, ip addresses should be given.

[2016-08-23 15:23] JeffreyDevloo commented on #520
Some more information around this issue that I got when talking to khenderick:
- A one time error
- Occurred on the creation of a vpool
- Can occur when both save and load happen in a small time window

In the last three weeks I've setup over a hundred vpools without ever bumping into this issue.
After reviewing the code I can state that the rate of encountering this one once more is nullable.
We

[2016-08-23 15:23] #520 closed, assigned to khenderick, pploegaert

[2016-08-23 15:41] kinvaris opened #844 "Ignore `Permission denied` during sync with reality"
In continuation of #741: OVS framework should ignore `Permission denied` and just skip the mount points during `sync with reality` or `configure_disk`. This because its possible that you experience these problems not only with Docker but also with other side applications.

[code]

[2016-08-23 15:44] kinvaris opened #845 "Setup should not ssh-keyscan on all ip addresses"
In continuation of #741: The setup should not ssh-keyscan on all ip addresses, but only on given during setup. In general it is possible that some interface are the frontend for exposing the storage and cannot connect to other servers except some loadbalancers (for example).

https://github.com/openvstorage/framework/blob/master/ovs/lib/setup.py#L352

[2016-08-23 15:49] kinvaris commented on #811
@wimpers: Will retest this to verify the issue.

[2016-08-24 11:43] deepshirsath commented on #659
**_Open vStorage 2.7.1-fargo.3-1_**
- Error shows exact issue (see the screenshot)

![errorclear](https://cloud.githubusercontent.com/assets/14201912/17929401/f2dadd12-6a1d-11e6-8f6d-3bcbdebccc75.png)

[2016-08-24 11:43] #659 closed, assigned to khenderick

[2016-08-24 11:49] JeffreyDevloo opened #846 "SSHClient can't handle large output from executed command"
## Problem description

The SSHClient.run can and will hang forever on large outputs.
## Possible root of the problem

The run method in SSHClient reads the whole stdout in a single go. The issue is, is that this buffer can overflow if a large output from a command is expected.

[code]
## Possible solution

Read stdout partially.

[code]
## Additional information
### Setup

Hyperconverged setup
-

[2016-08-24 13:39] kinvaris opened #847 "Increase amount of alba statistics in GUI to make it more transparent"
Currently you see the preset in use and policy in use.
But this is too little information to keep the system rolling.
A vital part to know if your backend is still ok, is to know:
- How much data has been written in a certain policy
- How healthy is my policy? (e.g. policy is will stop working after 6 disks or 2 nodes stop working)
- ...

[2016-08-24 14:12] kinvaris opened #848 "albanode.initialize_disk ReadTimeout: disk is initialized but cannot claimed."
While performing a setup on the GIG environment, we saw this error.
It appears that `node.client.add_disk` times out. The disk is initialized & mounted but no ASD is available...

This is pretty annoying because we have to remove the disk and re-add it again to try again.

[code]

[2016-08-24 14:47] saelbrec opened #849 "vDisk configuration missing domain names when trying to configure a target domain"
![screen shot 2016-08-24 at 16 40 27](https://cloud.githubusercontent.com/assets/12733895/17934953/09c14754-6a1a-11e6-8877-53ba6abd7cb7.png)

Encountered on OVH

"versions": {
            "openvstorage-backend-core": "1.7.1-fargo.1-1",
            "volumedriver-no-dedup-base": "6.0.3-dev.201607191821.0758481",
            "alba": "0.9.17",
            "openvstorage-webapps": "2.7.1-fargo.2-1",

[2016-08-24 15:32] kinvaris opened #850 "Remove the vpool if the volumedriver is not running"
We should be able to remove the vpool if the vpool is not running. We experienced this error during a test:

[code]

[2016-08-25 15:04] wimpers commented on #847
@kinvaris

I'd rather take this up under the Open vStorage Monitoring project (https://github.com/openvstorage/openvstorage-monitoring/issues/53). Do you have a use case/reason why this would not be a good idea?

[2016-08-26 06:33] khenderick commented on #818
Fixed by #841, packaged in openvstorage-2.7.2-rev.3884.42ef467

[2016-08-26 07:32] wimpers opened #851 "" Use local Open vStorage backend" is misleading"
When you create a vPool, you can indicate " Use local Open vStorage backend". This is misleading as you can select a backend which is in another datacenter.

To make this option more clear: Label the field " Use external Open vStorage backend". By default this should be unselected. (Basically reverse what we have now).

[2016-08-26 08:15] JeffreyDevloo commented on #606
### Steps
- Installed hyperconverged setup
- Ran a VM on node 1 (vdisk was named generic.raw)
- Removed VM via VMM

### Output

[code]

Also deleted form the GUI:

![selection_050](https://cloud.githubusercontent.com/assets/17570109/17998645/c715f064-6b75-11e6-8de0-8b4637101d56.png)
 And from the vpool

[code]

### Test result

Test passed. Could not reproduce the issue.
Closing.

[2016-08-26 08:15] #606 closed, assigned to nobody

[2016-08-26 11:59] wimpers opened #852 "vPool GUI work"
- Add vPool wizard - Step 1
  - [x]  Remove backend type selection
    -Add vPool wizard - Step 2
  - [x] "Fragment Cache" should become "Cache"
  - [x] "Place Fragment Cache on disk" should be "Use local disk"
  - [x] "Use another ALBA Backend as Fragment Cache" should be "Use another Backend Cache"
- Add vPool wizard - Step 3
  - [x] Replace "StorageDriver Caching Information" by "Storage Driver

[2016-08-26 13:39] JeffreyDevloo commented on #717
Will try to reproduce by throttling the disk on which the asds are configured.

[2016-08-26 13:44] khenderick commented on #717
@JeffreyDevloo, to be clear on this one; if you can indeed reproduce the issue (and see the expected error) like we discussed, the only thing we can do is increase the timeout. So in that case you might try to figure out what would be a reasonable timeout to wait for a snapshot to sync to the backend (currently it's 5 minutes).

/cc @wimpers for timeout input.

[2016-08-26 14:20] wimpers opened #854 "vDisk gui work"
On a vDisk detail page remove the caching section (strategy, dedupe, read cache limit)

[2016-08-26 14:22] wimpers commented on #846
Can your create a PR for this?

[2016-08-26 14:34] wimpers commented on #418
Closing this ticket. If additional features are required a new ticket will be created.

[2016-08-26 14:34] #418 closed, assigned to jeroenmaelbrancke

[2016-08-29 08:08] jeroenmaelbrancke opened #855 "big log file: libvirtd.log"
Can you change the logrotate config for libvirtd to daily?
Why would you delay the compress of a rotated file?

[code]

![photo_2016-08-28_19-25-34](https://cloud.githubusercontent.com/assets/2900612/18045181/d7a97532-6dd1-11e6-8844-0fa4950be14f.jpg)

libvirt package:

[code]

log file input:

[code]

Unable to put libvirt on log_level:3

[2016-08-29 09:08] wimpers opened #856 "Expose move volume call in the GUI and API"
Volume driver has a call to explicitly move volumes between volume drivers.

This ticket is to expose this call in the framework as API call.

In the GUI (vDisk detail page):
- Add a new action button (http://fontawesome.io/icon/share/).
- Wizard list all storage routers (excluding the one where the volume is running now) which expose the vPool of the vDisk.

[2016-08-29 10:36] jeroenmaelbrancke opened #857 "cannot clone from template when the owner node is down"
We are unable to clone a template when the owner node from that template is down.

Error:
![vdisk](https://cloud.githubusercontent.com/assets/2900612/18048900/36335330-6de5-11e6-9253-e77441b58260.png)

ovs version:

[code]

OVS ticket: OVSSUP-78

[2016-08-29 10:53] matthiasdeblock opened #858 "Vpool creation/extending: too much space requested for WRITE cache"
openvstorage: 2.7.2-rev.3884.42ef467-1 (unstable)

HC setup with 3 nodes. Write and DB role on the same disk.

[code]

[2016-08-29 11:16] wimpers commented on #741
@kinvaris this one can be closed?

[2016-08-29 11:37] matthiasdeblock commented on #858
![issue_858_1](https://cloud.githubusercontent.com/assets/14923932/18050231/ac48be18-6ded-11e6-904e-1bc16fcc9465.png)
![issue_858_2](https://cloud.githubusercontent.com/assets/14923932/18050232/ac4cab4a-6ded-11e6-95e8-ad109bdf07e5.png)

[2016-08-29 14:08] JeffreyDevloo commented on #857
### Steps
- Added a vdisk to node 1
- Set this vdisk as vtemplate
- Moved GUI from node 1 to node 2
- Cloned vTemplate to node 2
- Found the following on node 1 in /var/log/upstart/ovs-workers.log:

[code]
- Forcefully shutdowned node 1
- Cloned from vTemplate
- Found no record of any call in all log files of the remaining online nodes

## Additional information
- When node 1 was down (and the clo

[2016-08-30 08:14] jeroenmaelbrancke opened #860 "Rabbitmq partitions problems"
On the OVH setup we had a partition issues on rabbitmq.
All the ovs-workers got stuck and didn't process any task anymore.
on the webgui you were not able to see the backend, vpools, vdisk,....

Output form the rabbitmq cluster

[code]

To fix this issue i tried to restart the rabbitmq one by one and got stuck on one node.

[code]

Reset the node and join the node back to the cluster (for 2 nodes)

[2016-08-30 10:53] saelbrec opened #861 "API to create/delete snapshots of multiple vDisks at once."
Nuvolat/Skystor needs this to lower the amount of API calls/roundtrips.

Proposal:
API/VPOOL/GUID/create_snapshots
Creates a snapshot for multiple vDisks at once
        :param vdisks: List of Guids of the virtual disks to create a snapshot for
        :param name: Name of the snapshot (label)
        :param version: Client version
        :param timestamp: Timestamp of the snapshot - integer

[2016-08-30 14:26] khenderick commented on #857
Makes a lot of sense; the `vTemplate` is a dynamic property that checks whether the vDisk's `info_volume('object_type')` equals `TEMPLATE`. When a volume is down this information cannot be fetched and we have no idea whether the vDisk is a template or not.

[2016-08-30 14:31] khenderick commented on #857
@redlicha, while I can remove this check - seems the volumedriver can protect itself in this scenario - how can I figure out whether it's a vTemplate or not? It would be nice if info_volume would return (some) data in case a volumedriver is down.

[2016-08-30 14:36] kinvaris opened #862 "Ovs remove node takes a long time to complete"
When performing a `ovs remove node` on a gig environment we saw some performance problems when the cluster has a lot of vdisks at these parts:
https://github.com/openvstorage/framework/blob/71749e3459d816c4d67ed01b8bde903798460661/ovs/lib/setup.py#L652

https://github.com/openvstorage/framework/blob/71749e3459d816c4d67ed01b8bde903798460661/ovs/lib/storagerouter.py#L1117

To test and reproduce this

[2016-08-30 14:38] kinvaris commented on #860
If this problem only occurs for a short time the VMs should not experience downtime or slowness because this is purely framework handling.
What will happen is:
- Scheduled tasks will not be executed anymore:
  - Arakoon will not collapse
  - No periodical snapshots will be taken from the vdisks

[2016-08-30 14:39] redlicha commented on #857
@khenderick, you could use the `ObjectRegistryClient` of the volumedriver's Python API - `ObjectRegistration.object_type` of template volumes is `ObjectType.TEMPLATE`.
Cf. also the documentation in https://github.com/openvstorage/volumedriver/pull/56

[2016-08-30 14:40] kinvaris commented on #860
Also the healthcheck will detect if there are any problems with rabbitmq or celery (ovs-workers)

[2016-08-30 16:39] khenderick commented on #857
@redlicha, can I use the ``ObjectRegistration` APIs as a replacement of the `info_volume` call?

[2016-08-30 17:01] redlicha commented on #857
@khenderick: an `ObjectRegistration` offers the following:

[code]

[2016-08-31 07:33] #818 closed, assigned to matthiasdeblock

[2016-08-31 07:47] JeffreyDevloo commented on #813
The issue was that I was too impatient with my environment. When the servers were up I instantly invoked 'ovs remove node'.
The setup finished flawlessly.
The cluster was still usable after I tried the removal and after I got the error.

[2016-08-31 11:36] kinvaris commented on #858
Maybe roundup mistake?

[2016-08-31 11:40] kinvaris opened #864 "vPool configuration changed after adding 4th node"
After extending the vpool to the 4th node, suddenly the vPool configuration changed (Dedupe, Cache on Read, write buffer 960, ...). When removing the node, it changed back to normal settings.

Version: `unstable`

[code]

[2016-08-31 12:11] jeroenmaelbrancke commented on #864
Got the same issue on another test env.
Skype chat between @kvanhijf and myself.

[code]

[2016-08-31 14:17] wimpers opened #866 "Write role check is incorrect"
When you create a new vPool on OVH I get an error the name is missing and a write role is missing. When I enter a name, the write role message disappears also.

![2016-08-31_16-11-21](https://cloud.githubusercontent.com/assets/8392927/18132274/795e3a64-6f96-11e6-957b-ce23365f724c.jpg)
![2016-08-31_16-11-51](https://cloud.githubusercontent.com/assets/8392927/18132279/7e1e2064-6f96-11e6-83d7-867b443

[2016-09-01 07:08] khenderick commented on #762
I wonder why that list is empty in the first place, we need to make sure that we understand the usecase before we can handle this situation.

[2016-09-01 12:28] wimpers commented on #860
To be validated by QA once we have 16.04 and its newer version of RabbitMQ

[2016-09-01 12:46] #741 closed, assigned to kinvaris

[2016-09-01 15:16] kinvaris commented on #811
Issue failed to reproduce

[2016-09-01 15:16] #811 closed, assigned to kinvaris

[2016-09-01 15:36] kinvaris commented on #695
PASSED: RDMA setup completed without problems while always using the RDMA key in the pre-config.
`{"setup": {"cluster_ip": "10.100.199.161", "master_password": "rooter", "enable_heartbeats": true, "master_ip": "10.100.199.161", "node_type": "master", "rdma": false}, "asdmanager": {"api_ip": "10.100.199.161", "asd_ips": ["10.100.199.161"], "api_port": 8500}}`

[2016-09-01 15:36] #695 closed, assigned to khenderick

[2016-09-01 15:43] khenderick opened #868 "Demote can fail if host is running single-node voldrv arakoon cluster"
Demote can fail if host is running single-node voldrv arakoon cluster. To be correct, we should not raise, but leave the node running after which the checkup should move the arakoon node to another master node.

[2016-09-02 08:02] khenderick commented on #791
Fixed by #859 packaged in openvstorage-2.7.2-rev.3911.91eb1ed by @wimpers

[2016-09-02 12:25] wimpers commented on #868
Since single node issue moved to gilbert.

[2016-09-02 12:33] wimpers commented on #857
@redlicha , @khenderick is there a manual work around possible where OPS sets the new owner?

[2016-09-02 12:39] wimpers commented on #855
Can you create a PR for this please?

[2016-09-02 12:50] wimpers commented on #849
If you select  the name gets show so there is a workaround. Probably a very stupid issue in the wizard.

[2016-09-02 12:53] kinvaris opened #869 "`list index out of range` during `albanode.initialize_disk`"
While trying to initialize the alba disks we got this error: (happens alot)

[code]

[2016-09-02 13:08] kinvaris commented on #648
PASSED:

The vPool guid is provided instead of the name

[code]

As seen here:

[code]

[2016-09-02 13:08] #648 closed, assigned to nobody

[2016-09-02 13:12] jeroenmaelbrancke commented on #855
@wimpers
Unable to find this package on Github. I think this is a clone from a Ubuntu repo and is via Jenkins added to the ovs repo.
I will create a ticket on the dev_ops repo to add this to the ansible scripts when ovs is installed.

[2016-09-02 13:14] kinvaris commented on #676
PASSED:
- Stopped a arakoon cluster so it got no master anymore.
- Visited the backend page
- Copied a 500 request and executed it via `curl`:

[code]

[2016-09-02 13:14] #676 closed, assigned to nobody

[2016-09-02 13:33] wimpers commented on #855
back to BAM

[2016-09-02 14:40] kinvaris commented on #791
PASSED

Disk `test` is present on node WTjYf6j4St2hbfMy

[code]

No domains or recovery domains are registered yet:

[code]

[code]

Added 2 Domains, DC1 & DC2.
- DC1: Node1, Node2 & Node3 (Recovery domain DC2)
- DC2: Node4

[code]

As proven here, we can see that one slave has moved to datacenter 2 after creating the domains & recovery domains,
while 1 slave has stayed behind in the datacenter wh

[2016-09-02 14:40] #791 closed, assigned to nobody

[2016-09-05 09:53] #773 closed, assigned to nobody

[2016-09-05 11:49] wimpers commented on #835
@matthiasdeblock  why did you create this ticket? The arakoon exception is 'unknown failure'.  What should the framework do?

[2016-09-05 11:58] wimpers commented on #843
@JeffreyDevloo please create a PR to remove the check. Do check surrounding code.

[2016-09-05 12:13] wimpers commented on #671
@pploegaert  can you validate if still an issue

[2016-09-05 13:30] matthiasdeblock commented on #835
@wimpers The collapse (that failed) was triggered by the Framework. This trace was the output and this should be fixed.

[2016-09-05 14:08] wimpers commented on #855
What is still to do from the Framework side?

[2016-09-05 14:12] wimpers commented on #749
@jeroenmaelbrancke have we seen celery issues on OVH since we upgraded the installed version?

[2016-09-05 14:22] saelbrec commented on #855
Issue most likely caused by a left over from a previous install. We stopped the libvirtd service on this node as it was not supposed to run there anyway.
Nothing to do or FWK, the storage system should in theory not get involved with the hypervisor mgmt tool its log files but still we discussed to mitigate best-effort-wise by https://github.com/openvstorage/dev_ops/issues/28

[2016-09-05 14:26] #855 closed, assigned to nobody

[2016-09-06 11:28] kinvaris opened #873 "Hyperconverged setup should be simpler with arakoon as configuration manager"
Currently we get this on a setup:

[code]

When performing a setup it should be checked that this file exists `/opt/OpenvStorage/config/arakoon_cacc.ini` and perform the copy itself.

[2016-09-06 13:21] khenderick opened #875 "Mixed transport"
Mixed transport

[2016-09-06 13:32] khenderick commented on #875
Fixed by #874, packaged in openvstorage-2.7.3-rev.3933.d183251

[2016-09-06 13:46] khenderick opened #877 "Re-enable upgrades"
Re-enable upgrades

[2016-09-06 13:54] khenderick commented on #877
Fixed by #876, packaged in openvstorage-2.7.3-rev.3935.ca8dbd4

[2016-09-06 13:55] khenderick commented on #877
Please note that the upgrade will work from the above package onwards. Upgrading to that package won't work.

[2016-09-06 14:09] khenderick commented on #861
You don't need to pass in `version`, that's an internal field (the client passes this through the accept-header)

[2016-09-06 14:49] kinvaris commented on #875
PASSED:

Enabled RDMA

volumedriver:

[code]

proxy:

[code]

[2016-09-06 14:49] #875 closed, assigned to nobody

[2016-09-06 14:52] JeffreyDevloo commented on #758
Can be closed as the other issues have been tackled.

[2016-09-06 14:52] #758 closed, assigned to nobody

[2016-09-06 15:06] khenderick commented on #861
Create snapshots:
- POST `/api/vpools/<vpool_guid>/create_snapshots/`
- mandatory parameters:
  - `vdisk_guids`: list of vDisk guids
  - `name`: name of all snapshots
- optional parameters:
  - `timestamp`: unix timestamp on which the snapshot is taken
  - `consistent`: True/False, indicates whether the snapshots are consistent
  - `automatic`: True/False, indicates whether the snapshots were take

[2016-09-06 15:13] khenderick commented on #861
Fixed by #878, packaged in openvstorage-2.7.3-rev.3941.ea3d176

[2016-09-06 15:27] khenderick commented on #674
This was apperently fixed by #833 but the ticket's status wasn't updated

[2016-09-06 15:27] khenderick commented on #619
This was apperently fixed by #833 but the ticket's status wasn't updated

[2016-09-07 09:25] kinvaris opened #881 "Missing volumedriver parameter"
When creating a vpool a upstart file is generated, in this upstart file a volumedriver parameter seems to be missing: `-o async_dio`

After the change:

[code]

[2016-09-07 11:26] saelbrec commented on #881
@redlicha ,
This only affects the fuse data path?

[2016-09-07 11:29] redlicha commented on #881
@saelbrec: correct.

[2016-09-07 11:49] redlicha commented on #881
FWIW, testing on a system with that option added leads to a kernel oops due to a failed assertion when dd'ing with `O_DIRECT` to a volume. At the moment it's not clear if this is a direct consequence of this param but since we've not seen it before, further testing before enabling that option is needed.

[code]

[code]

[2016-09-07 12:06] wimpers commented on #869
@kinvaris is there a workaround?

[2016-09-07 12:23] wimpers commented on #835
Nothing to be done on the Framework as it displays the error as presented by Arakoon. This has been tackled on the Arakoon side.

[2016-09-07 12:23] #835 closed, assigned to matthiasdeblock

[2016-09-07 13:17] matthiasdeblock commented on #777
Also, lot of these messages on GIG's env. (unstable)

[code]

[2016-09-07 13:22] matthiasdeblock commented on #777
After creating a vpool on GIG's env. (same as mentioned earlier - unstable) we received the following as well.

[code]

[2016-09-07 13:24] wimpers commented on #777
There is a PR still open for this one https://github.com/openvstorage/framework/pull/863

[2016-09-08 08:41] khenderick commented on #857
Fixed by #879, packaged in openvstorage-2.7.3-rev.3945.833fb96

[2016-09-08 08:50] khenderick commented on #837
The `local_stack` contains slightly different information per backend. However, parts of the data uses can be cached/shared across backends/nodes which should speed up these calls.

[2016-09-08 08:53] khenderick commented on #828
@wimpers, as you scheduled this ticket for the Gilbert release and that one doesn't use Etcd, I assume that you want @domsj's comment (which is basically a full featured rollback) implemented?

[2016-09-08 08:54] jtorreke opened #882 "Change auto-decommission policy"
I just had a chat with Stefaan and apparently the default auto-decommission policy is set to 15 minutes. If we had done this on the current live environments, we'd no longer have environments. I would propose to disable auto-decommissioning by default or set the timer to 1-2 months or something.

An example (similarities with real life situations are purely based on coincidence):
- You have a fail

[2016-09-08 08:55] khenderick commented on #817
@kinvaris, can you explain what's wrong here?

You had no roles at all on the 2nd node so:
- A DB role isn't mandatory (as the voldrv cluster can run on other nodes)
- A read and/or write role are mandatory so the step where you configure everything related to caches will inform you about this and block the wizard.

[2016-09-08 08:57] khenderick commented on #816
Something I noticed recently is that with a newer browser it tends to be harder to reproduce. With Chrome 52 I could reproduce it every now and then, while I could never reproduce it with 54.

[2016-09-08 09:02] khenderick opened #883 "vTemplates are visible in the vPool detail page in the vDisk section"
vTemplates are visible in the vPool detail page in the vDisk section. They can be clicked and go to the detail page which loads and then immediately redirect to the overview page again since a vTemplate's details cannot be viewed. The vTemplates should not be shown on the vPool detail page.

[2016-09-08 09:03] khenderick commented on #792
Increased to urgent as this basically allows you to mess up your root partition.

[2016-09-08 09:14] khenderick opened #884 "Allow volumes up to 64TiB"
Allow volumes up to 64TiB

[2016-09-08 09:38] domsj commented on #882
It seems there's been some confusion.
Alba has an auto-repair feature, which kicks in after 15 minutes.
As long as the failure detector thinks the osd is unavailable we'll keep on repairing any objects that were on the disk. Soon after the disk becomes available we'll stop repairing objects that had fragments on it, and we'll use the disk just as before.
Alba never auto decommissions osds... so I'

[2016-09-08 09:38] #882 closed, assigned to nobody

[2016-09-08 09:43] khenderick commented on #884
On hold for now, waiting for a new voldrv build that allows 64TiB volumes.

[2016-09-08 09:55] khenderick commented on #788
Fixed by #885, packaged in openvstorage-2.7.3-rev.3947.f6124e7

[2016-09-08 11:23] khenderick commented on #782
Fixed by #810

[2016-09-08 12:07] wimpers opened #887 "Maintenance agent for global backens in case of remote backends"
Ticket as extension of https://github.com/openvstorage/framework-alba-plugin/issues/177#issuecomment-245541422 . The approach taken in that case has an issue in case a global backend has only remote backends. In that case there are no nodes known to put the maintenance agents on. In this special case the maintenance agent should run on the same nodes as the proxy or nodes that can be configured wi

[2016-09-08 12:08] openvstorage-ci commented on #887
This issue was moved to openvstorage/framework-alba-plugin#200

[2016-09-08 12:08] #887 closed, assigned to nobody

[2016-09-08 13:17] khenderick commented on #873
Fixed in openvstorage/alba-asdmanager#108, packaged in openvstorage-sdm-1.6.3-rev.352.76af109, fix by @JeffreyDevloo

[2016-09-08 13:20] wimpers opened #888 "ovs get-key key"
Add to the ovs cli an option to easiliy set/get/list configuration keys

`ovs list key-prefix` : lists  all keys starting with key-prefix
`ovs set key value` : set key/value
`ovs get key` : get the key

The above options should work for all configuration mgmt systems.

[2016-09-08 14:23] JeffreyDevloo commented on #877
### Steps
- Used ovs upgrade framework command on my nodes who were running openvstorage                       2.7.3-rev.3945.833fb96-1
- Saw in the logs that they were done
- Verified state of backend, vpool and vdisk

##

Similar testscenario:
- Used ovs upgrade framework command on my nodes who were running openvstorage                       2.7.3-rev.3945.833fb96-1
- Saw in the logs that they

[2016-09-08 14:23] #877 closed, assigned to nobody

[2016-09-08 14:29] JeffreyDevloo commented on #846
### Steps
- Installed OVS using the improved SSHClient
- Started Ipython
- ran:

[code]

The lsof was one of the commands that always hung when started.

### Output

Got the output from command as expected.

[code]

### Test result

Test passed.

[2016-09-08 14:29] #846 closed, assigned to nobody

[2016-09-08 14:32] JeffreyDevloo commented on #873
### Steps
- Got the packages on a fresh Ubuntu install using:

[code]
- Installed ovs via ovs setup
- Did not get the prompt

### Test result

Test passed.

[2016-09-08 14:32] #873 closed, assigned to nobody

[2016-09-09 08:55] JeffreyDevloo commented on #857
### Steps
- Installed latest packages
- Created a vdisk on node 1
- Set vdisk as vtemplate on node 1
- Cloned a disk from vtemplate on node 2 (to verify normal cloning)
- Forced node 1 to go down
- Cloned vtemplate from node 1 on node 2
  - Sometimes the API call wasn't posted (front-end issue)
  - Sometimes the call went through and the template was cloned succesfully
- Via API:

[code]

### Summ

[2016-09-09 08:55] #857 closed, assigned to khenderick

[2016-09-09 09:25] JeffreyDevloo opened #889 "GUI can hang on cloning from template"
## Problem description

When you clone from a vtemplate of which the host is down (for instance a vtemplate hosted on node 1 and node 1 is offline), the GUI will sometimes not process your cloning.

![selection_067](https://cloud.githubusercontent.com/assets/17570109/18382074/be8dc3f8-767f-11e6-9eca-fc880aadb0d3.png)
What happens is that when you click 'Finish', the button will grey out and the mo

[2016-09-09 09:27] khenderick commented on #889
Most likely a check that doesn't display a correct warning.

[2016-09-09 09:28] JeffreyDevloo commented on #889
I'd like to add that there is no indication on the front-end that displays if something went wrong during this process.

[2016-09-09 10:37] despiegk commented on #623
it's important we can remove a vpool otherwise testing & updating is hard
also for a failed install, you need to be able to remove a vpool & restart

[2016-09-09 10:40] wimpers commented on #623
maybe something to do with https://github.com/openvstorage/volumedriver/issues/110

[2016-09-09 12:54] JeffreyDevloo commented on #861
### Steps
- Setup nodes
- Setup Postman
- Logged in to get a token
- Did the following call:

![selection_071](https://cloud.githubusercontent.com/assets/17570109/18387445/0344fe7c-769d-11e6-9ce7-784d52fddeda.png)
- Received a task id: 173b9ea7-3217-4c3a-89f6-d8c4e87b0a8d
- Checked its status:
  ![selection_072](https://cloud.githubusercontent.com/assets/17570109/18387482/25c9cbee-769d-11e6-803d-d

[2016-09-09 12:54] #861 closed, assigned to nobody

[2016-09-09 14:14] matthiasdeblock commented on #623
Had some issues while deleting vpool on GIG's env. Apparently there were some broken disks:

[code]

[2016-09-09 15:54] wimpers commented on #623
Same issue as https://github.com/openvstorage/framework-alba-plugin/issues/174 ?

[2016-09-12 08:31] matthiasdeblock commented on #623
@wimpers , in my opinion i think it's related to the issue you've mentioned.

In the attachment you can find the executed steps on GIG's environment that could help.
[Executed_steps.txt](https://github.com/openvstorage/framework/files/466862/Executed_steps.txt)

[2016-09-12 08:36] kvanhijf opened #890 "Our apt repository is unsigned"
On Ubuntu 16.04, a message is shown when updating the packages

apt-get update
...
Reading package lists... Done
W: The repository 'http://apt.openvstorage.org unstable Release' is not signed.
N: Data from such a repository can't be authenticated and is therefore potentially dangerous to use.
N: See apt-secure(8) manpage for repository creation and user configuration details.

[2016-09-13 08:13] kinvaris opened #891 "Able to delete vpool with stale metadata / mds services"
Apparently there was still stale vdisk metadata in the vpool, because of this stale metadata there were still undeleted mds services. Nevertheless the GUI displayed we were able to delete the vpool.  During vpool removal we encountered this error:

[code]

As seen here:

[code]

[2016-09-13 09:11] khenderick opened #892 "VDiskController.extend uses truncate"
VDiskController.extend uses truncate. It should use a volumedriver API

[2016-09-13 09:11] khenderick commented on #892
Also expose it over the API.

[2016-09-13 10:30] kvanhijf commented on #843
https://github.com/openvstorage/framework/pull/893
openvstorage-2.7.3-rev.3949.f0378dc

[2016-09-13 10:41] khenderick commented on #892
Fixed by #894, packaged in openvstorage-2.7.3-rev.3953.edd2b11

[2016-09-13 12:35] khenderick commented on #777
On @matthiasdeblock's environment, I noticed that the `dtl_config.host` for all disks was returning management ips (172.19.21.x) instead of storage ips (172.19.22.x). However, in the code configuring the dtl we only use the storage_ips.

[2016-09-13 12:56] khenderick commented on #777
After some investigation, it seems that we ask the volumedriver to do automatic DTL configuration when a volume is created, and afterwards, we change it to a more appropriate location (taking things like domains into account). The volumedriver gets the ip address from its ClusterRegistry which the framework initially configures.

However, the framework can specify an identifier, an ip address and

[2016-09-13 12:57] khenderick commented on #777
@wimpers, what solution from the above list is preferred?

[2016-09-13 12:58] khenderick opened #895 "Integrate Edge server configuration in ClusterRegistry"
Integrate Edge server configuration in ClusterRegistry. Info in openvstorage/volumedriver#95

[2016-09-13 13:56] FastGeert opened #896 "Rollback to a snapshot"
Rollback to a snapshot is currently not available in Fargo.

The proposed method is to create a clone from the snapshot and continue using this.

Technically this is a perfect solution, but for the client of the OVS API it creates a lot of complexity as the client needs to continue with another disk with a different id.
Deleting a disk becomes more complex because maybe the client needs to delete

[2016-09-13 14:41] kinvaris opened #897 "Rescan not possible if a volumedriver disk is broken"
When losing a write role and trying to replace it we get this problem:

[code]

[2016-09-13 14:44] kinvaris commented on #897
This happens when a disk goes down but and the volumedriver fails to steal the volumes because the 'broken' node is still online

[2016-09-14 07:42] wimpers commented on #897
Duplicate of https://github.com/openvstorage/framework/issues/832  ?

[2016-09-14 09:17] kinvaris opened #898 "KeyError during alba.checkup_maintenance_agents"
Backend seemed to be added but we cannot claim disks due to no maintenance agents present.
After looking in the logs we saw these:

[code]

Apparently a known bug: https://github.com/openvstorage/framework-alba-plugin/pull/203

[2016-09-14 09:18] kinvaris commented on #898
PASSED:

After patching the code and re-running:

[code]

They seemed to be present: `alba-maintenance_mybackend-hdd-P6Hof4myrotRLT0b start/running, process 12676`

Also restarted the `ovs-watcher-framework`, just to be sure.

Also as seen in the logs:

[code]

[2016-09-14 09:18] #898 closed, assigned to nobody

[2016-09-14 09:23] JeffreyDevloo opened #899 "Post upgrade action failed with error: 'version'"
## Problem description

I executed a framework update on our OVH Geoscale env. I started the update from the GUI, it started on 10:10:11 and finished on 10:19:39. The update was succesful but I found the following entries in /var/log/ovs/lib.log:

[code]

This entry repeats itself for every node in my cluster.
Edit: Note that the '172.20.20.201 - /var/log/ovs/lib.log:' is from my log parser and no

[2016-09-14 09:36] JeffreyDevloo opened #900 "Ovs update framework - add log to specify the revision you are updating to and from"
### Enchancement description

Add a log entry that says what revision you are updating from and what revision you are updating to. EG. : 2016-09-14 10:10:09 18200 +0200 - ctrl-stras-03 - 185941/140202909386560 - lib/update - 1 - INFO - Updating from 1.7.3-rev.694.f9f958c-1 to 1.7.3-rev.696.90408c4-1

[2016-09-14 12:47] wimpers commented on #900
If urgently needed , please create a PR.

[2016-09-14 12:52] #897 closed, assigned to nobody

[2016-09-14 12:54] wimpers commented on #896
To be discussed how to tackle.

[2016-09-14 13:05] wimpers commented on #891
@kvanhijf  Should be tackled as part of https://github.com/openvstorage/framework/issues/623

[2016-09-14 13:05] wimpers commented on #623
Please close #891 if tackled

[2016-09-14 13:21] wimpers commented on #847
Decision from BAM, add more alba health stats to the GUI.  @wimpers to define specs with OPS

[2016-09-14 14:05] kvanhijf commented on #762
Issue is NOT FIXED, by above commit
I could not reproduce the issue, nor could i theoretically find a way to get in this situation where the index error is raised
I've added additional logging to be able to find out where the problem is situated if ever manage to reproduce this

[2016-09-14 14:40] kinvaris opened #903 "edit fragment size of preset"
Make it possible to edit the fragment size of a preset when adding a preset, the current default is 1MB.

[2016-09-14 14:42] kvanhijf commented on #891
Reason for being able to delete the vPool is because we check whether the StorageDriver to be removed has any vDisks linked to it. In this case the vDisks were stale and no longer had a StorageDriver linked to them ==> the framework assumes its safe to remove the StorageDriver.
From framework side we currently have no other way to verify whether certain vDisks had been attached to the StorageDrive

[2016-09-14 14:49] khenderick commented on #891
@kvanhijf, I do agree (and this was also discussed with @saelbrec).

The only things we (still) need to do if not yet so:
- If the status is set to RUNNING again, it should be possible to re-run the removal code. It should not raise on other parts (e.g. it should be able to cope with a partial removed storagedriver). However, it's fine if it raises on the same error again if it was not yet resolve

[2016-09-14 14:54] wimpers commented on #903
Duplicates https://github.com/openvstorage/framework/issues/819 ?

[2016-09-14 15:05] domsj commented on #903
It's indeed a duplicate

[2016-09-14 15:05] #903 closed, assigned to nobody

[2016-09-14 15:06] domsj commented on #819
This is important for global backends: you definitely want a bigger fragment size there.

[2016-09-14 15:06] openvstorage-ci commented on #819
This issue was moved to openvstorage/framework-alba-plugin#204

[2016-09-14 15:06] #819 closed, assigned to nobody

[2016-09-14 15:22] kinvaris opened #904 "logging_target is not allowed during unattended installation but is used in code"
[code]

used in code as seen here: https://github.com/openvstorage/framework/blob/master/ovs/lib/setup.py#L96

[2016-09-14 16:55] saelbrec commented on #777
@khenderick ,
First option sounds as the correct one, but option 3 could also be a possibility, but can you be more precise on "a (short) time" ?

@redlicha ,
For the "short time" that the DTL is configured over the management network it will impact performance - as that network might be bandwidth limited - or will it give up if it can't follow and go into a degraded state(which on its turn will t

[2016-09-14 17:05] khenderick commented on #777
@saelbrec, basically every time there is the need for reconfiguration (after a disk create event, after a disk migrate event, ...), we launch the dtl reconfiguration. However, due to celery's nature, there might be an undefined amount of time between the moment that the event is put on the queue and the moment it gets processed. Usually it will only take a matter of minutes, but obviously, it can'

[2016-09-14 17:20] redlicha commented on #777
It will throttle, either immediately (synchronous mode) or once the client's buffer capacity is reached / a sync is requested (asynchronous mode).

FWIW, voldrv does not consider this a mgmt network - the traffic between voldrvs (redirected I/O) also uses that interface at the moment, so technically the XMLRPC one should be moved away.
While at it it makes however most sense to make it completely

[2016-09-15 07:50] kvanhijf opened #905 "While assigning/unassigning disk roles, user should be able to chose to wipe the disk"
When assigning diskroles to a diskpartition, the user should be able to determine whether the current contents of the diskpartition can be wiped or not
When unassigning all diskroles, the user should also be able using the same checkbox to unmount the diskpartition, so the disk can be claimed by a backend

Important note: When a role is already assigned and roles are added, the checkbox should be

[2016-09-15 08:05] JeffreyDevloo opened #906 "'dict' object has no attribute 'cluster_id'"
## Problem description

Executed the following scripts:

[code]

Got the following error during AlbaController.nsm_checkup(backend_guid=guid, min_nsms=3):  'dict' object has no attribute 'cluster_id'

Logfile:

[code]

Stacktrace:

[code]
## Possible root of the problem

A new step was required with the Arakoon as config manager:
ArakoonInstaller.unclaim_cluster(cluster_name=cluster_name, master_i

[2016-09-15 08:05] wimpers commented on #905
We might want to add an `unmount`-button at the same time https://github.com/openvstorage/framework/issues/705

[2016-09-15 08:09] khenderick commented on #891
@wimpers, should not be tackled in #623 (see comment above), nevertheless we will throw a better exception message here (and make sure all disks are processed)