[2017-12-07 15:28] wimpers commented on #1892
* In extend vPool wizard with request space for DTL
  * Verify that space of all configured DTLs fits on the disk with role DTL.
  * Startup the DTL for that vPool with the max DTL size as  a command line parameter
* When deploying a vDisks, on the node where the DTL of that vDisk is running add the write buffer space to the used DTL space of that vPool.
   * When selecting a node to deploy the DT

[2017-12-12 08:31] run283092610 commented on #1184
i also running on centos7, when I ran ovs setup it failed

[root@localhost site-packages]# ovs setup
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "ovs/lib/nodeinstallation.py", line 38, in <module>
    from ovs.lib.nodetype import NodeTypeController
  File "ovs/lib/nodetype.py", line 36, in <module>
    from ovs.extensions.storageserver.storagedriver import Stor

[2017-12-13 09:26] run283092610 opened #1896 "Could not determine the Arakoon master node"
hi
 when i first run ovs setup error

[root@localhost OpenvStorage]# ovs setup
+++++++++++++++++++++++++++++
+++  Open vStorage Setup  +++
+++++++++++++++++++++++++++++

+++ Setting up connections +++

+++ Collecting cluster information +++

Avahi installed
  [127.0.0.1] dbus already running
  [127.0.0.1] avahi-daemon already running
No clusters found. Make a selection please:
    1: Create a new

[2017-12-13 09:32] wimpers commented on #1896
Hi,

What did you select here

Did you select to use an external arakoon? In that case you need to pre-create the arakoon cluster.

[2017-12-13 09:40] kvanhijf commented on #1896
Hi,

Is this your very first installation?  Or did you previously install OVS on
the same node and/or other nodes? Because previous installs, which haven't
been cleaned up properly or other nodes which are still pointing to this
failing node could potentially cause this issue

Kr,
Kevin

On Wed, Dec 13, 2017 at 10:32 AM Wim Provoost <notifications@github.com>
wrote:

[2017-12-13 09:46] kvanhijf commented on #1896
Hi,

I also noticed that there are some logging entries missing

2017-12-13 17:21:15 24400 +0800 - localhost.localdomain -
20039/140322542499648 - lib/toolbox.py - log - 11 - INFO - Setting up
configuration Arakoon
2017-12-13 17:21:22 45200 +0800 - localhost.localdomain -
20039/140322542499648 - lib/toolbox.py - log - 25 - ERROR - Failed to setup
first node

Log entry goes from 11 to 25 in above s

[2017-12-13 09:51] run283092610 commented on #1896
i choose N when is run ovs setup
and i found the  ovs-arakoon-ovsdb not running

[root@localhost config]# systemctl status ovs-arakoon-ovsdb
● ovs-arakoon-ovsdb.service - Arakoon service for cluster ovsdb
   Loaded: loaded (/usr/lib/systemd/system/ovs-arakoon-ovsdb.service; enabled; vendor preset: disabled)
   Active: inactive (dead) (Result: exit-code) since 三 2017-12-13 17:28:18 CST; 1min 9s ago

[2017-12-13 10:02] kvanhijf commented on #1896
Can you check the ovs-arakoon-ovsdb logging perhaps to see if you can find
the culprit there?
"journalctl -u ovs-arakoon-ovsdb" to see that logging

On Wed, Dec 13, 2017 at 10:51 AM run283092610 <notifications@github.com>
wrote:

[2017-12-13 10:12] run283092610 commented on #1896
when i run journalctl -u ovs-arakoon-ovsdb found some unlink error
whether tihs cause ovs-arakoon-ovsdb not running

12月 13 16:56:51 localhost.localdomain systemd[1]: Starting Arakoon service for cluster ovsdb...
12月 13 16:56:51 localhost.localdomain systemd[1]: Started Arakoon service for cluster ovsdb.
12月 13 16:56:51 localhost.localdomain arakoon[14245]: 2017-12-13 16:56:51 338755 +0800 - local

[2017-12-13 16:22] JeffreyDevloo opened #1897 "Avoid mutating the python path"
### Problem description
Looking into a conflict with openvswitch packages, I found at the we mutate the python path very often in our code to make everything work as expected
However this is the subawesome way of tackling this issue.

I propose to use https://docs.python.org/2.7/library/site.html instead

Script to include in postinstall
[code]

[2017-12-14 08:15] run283092610 commented on #1896
now i have sovle cannot ovs setup problems,but i met a new problem  when i finished ovs setup
i use web to configure ovs clutser
the storage router cannot join cluster

![1](https://user-images.githubusercontent.com/22004669/33981893-8f094172-e0e9-11e7-93fc-6a8b519bb784.png)

and the message log
=================================
Dec 14 15:56:51 localhost arakoon: 2017-12-14 15:56:51 652037 +0800 -

[2017-12-14 10:15] wimpers commented on #1817
Related to https://github.com/openvstorage/framework/issues/1777 ?

[2017-12-14 10:18] wimpers commented on #1820
Proposal: in the preconfig we should have the option to set to execute the asd manager setup yes or no.

[2017-12-14 10:19] wimpers commented on #1820
@jeroenmaelbrancke  is this a beauty error or does this break things?

[2017-12-14 10:26] wimpers opened #1898 "Change move vDisk API"

[2017-12-14 10:26] wimpers commented on #1823
releated to https://github.com/openvstorage/framework/issues/1898

[2017-12-14 10:29] wimpers commented on #1835
@JeffreyDevloo  what is the status of this ticket? Did you  pick it up? Why is this urgent?

[2017-12-14 10:32] wimpers commented on #1839
@JeffreyDevloo  can you add an estimate for the update of  Celery, rabbitmq and Django . What would be the impact on the code? Maybe we can update to the latest minor version of the one we are currently on instead of the latest latest?

Update to Python 3 would be out of scope.

[2017-12-14 10:41] wimpers commented on #1846
Maybe the systemctl is on purpose as the systemctl works even in case the framework is down.  Maybe this was changed in the context of making the support agent always work.

[2017-12-14 11:04] wimpers commented on #1852
BAM assumes this is a small one to fix, revert if not the case.

[2017-12-14 12:51] JeffreyDevloo commented on #1835
This is still pending, to be picked up. I did not require it so far (as the reconfigure storagedriver was put on hold for reviewing)

[2017-12-14 13:29] wimpers commented on #1835
@JeffreyDevloo so you need it for finishing the reconfigure storagedriver ticket?

[2017-12-14 13:34] JeffreyDevloo commented on #1835
Not really, but it would mean that an api call to retrieve cluster-wide information is bound to a parameterized api.
Example: get_all_statistics, ideally it would be placed on vpool so /api/vpools/get_all_statistics
However, the current implementation does not allow this and one would need to provide an id: /api/vpool/<vpool_guid>/get_all_statistics
Placing it on a call with a <vpool_guid> makes i

[2017-12-14 14:20] wimpers commented on #1835
Removed Urgent label

[2017-12-14 15:18] jeroenmaelbrancke commented on #1820
It doesn't break things but it interrupt the Ansible module for installs.
This means if one controllers/volumedriver node has been installed the playbook failed because framework returns an exit code !=0 and stop the installation of other nodes.
You need to run the playbook 2 times in a row for each volumedriver node.

We only have this issue if we setup a global ovs setup above the storagenodes f

[2017-12-18 10:18] wimpers commented on #1857
Is this something you can/want to pickup now? How are you validating the big PR now? Manually?

[2017-12-18 10:18] wimpers commented on #1857
Can you add an estimate?

[2017-12-18 10:26] wimpers commented on #1859
Add call to get params for all vDisks per:
* (SR, vPool) combination

Call to be exposed on Storage Router with parameter vPool (if no parameter include all vPools).

[2017-12-18 10:41] wimpers commented on #1863
@jeroenmaelbrancke which version was this tested on?

@JeffreyDevloo  in the latest version we no longer do automatic detection, is this still an issue?

[2017-12-18 10:45] wimpers commented on #1864
Please see if we can  leverage Celery functionality for this instead of building our own.

[2017-12-18 10:52] #1866 closed, assigned to nobody

[2017-12-18 10:52] wimpers commented on #1866
We don't want autoamtically start refreshing pages/wizards.

[2017-12-18 13:31] JeffreyDevloo commented on #1866
This is a small and effortless change. It is the only wizard that does not refresh its current info atm

[2017-12-18 13:34] wimpers commented on #1866
@JeffreyDevloo so all other wizards auto refresh every x secs?

[2017-12-18 13:35] JeffreyDevloo commented on #1863
We still do automatic detection for asd-manager nodes. These are items registered in the config arakoon that we fetch so it is still a problem afaik

[2017-12-18 13:51] JeffreyDevloo commented on #1866
Those that require a specific field to be X or Y do

[2017-12-19 09:04] sjovdnbos opened #1901 "[DEVELOP] update succeeds but logs errors"
Traceback (most recent call last):
  File "/opt/OpenvStorage/ovs/lib/albamigration.py", line 224, in migrate_sdm
    alba_node.client.update_execute_migration_code()
  File "/opt/OpenvStorage/ovs/extensions/plugins/asdmanager.py", line 234, in update_execute_migration_code
    return self._call(requests.post, 'update/execute_migration_code')
  File "/opt/OpenvStorage/ovs/extensions/plugins/asdmana

[2017-12-19 13:42] JeffreyDevloo opened #1902 "Support head_dir"
## Feature description
The current ArakoonConfigObject do not take in a head_dir property. This can be set in the arakoon config though so we should support it

[2017-12-19 13:43] wimpers commented on #1902
What does this bring or solve?

[2017-12-19 13:47] JeffreyDevloo commented on #1902
The healthcheck checks the size of the partition where the head.db will go. This will allow the healthcheck to extract this info from the Framework (The healthcheck extract all other information from the Framework, only head_dir is missing )

[2017-12-19 13:58] JeffreyDevloo commented on #1902
This might be missing some context:
The reason for this ticket was https://github.com/openvstorage/openvstorage-health-check/issues/222. The collapse checking would have required the location of the head.db file (which is by default the tlog_dir unless a head_dir property is set)

[2017-12-20 09:56] ovstmoens opened #1905 "Attempting to remove an offline node from the cluster raises RuntimeError when there's a vPool running exclusively on said node"
On DEV-4N-199-211 environment I was trying to reproduce the error mentioned in https://github.com/openvstorage/operations/issues/25.

After powering off one of the nodes, I've marked the node offline in the GUI and tried to remove the node from the cluster via CLI:
[code]

/var/log/ovs/lib.log shows the following information:
[code]

[2017-12-20 11:25] ovstmoens commented on #1905
I don't know if this is a side effect from previous attempt to remove the node or not, but I've noticed there was a vPool running only on this particular node. After deleting the vPool the demote fails again further along the process with a different RuntimeError.

Output:
[code]
/var/log/ovs/lib.log:
[code]

[2017-12-20 12:49] wimpers commented on #1820
While at it, can we also fix https://github.com/openvstorage/alba-asdmanager/issues/308

[2017-12-20 15:15] sjovdnbos commented on #1871
fixed by #1907
package info: openvstorage-2.11.1-dev.1513782087.ea0b9f5

[2017-12-20 15:36] sjovdnbos commented on #1783
fixed in https://github.com/openvstorage/framework/pull/1906
package info: openvstorage_2.11.1-dev.1513782087.ea0b9f5-1_amd64.changes
caches package information and refreshes by default every 5 minutes

[2017-12-20 15:40] sjovdnbos opened #1908 "default function params"
Some function headers have default params such as
`def fun(x={}):`
`def fun(x=[]):`
This may lead to unpredictable behavior and is subawesome.

[2017-12-20 15:46] sjovdnbos commented on #1908
https://github.com/openvstorage/framework/pull/1900
package info: openvstorage-2.11.1-dev.1513783726.5853860
https://github.com/openvstorage/framework-alba-plugin/pull/543
package info: openvstorage-backend-1.11.0-dev.1513783836.cb71b4e
https://github.com/openvstorage/framework-extensions/pull/60
package info: openvstorage-extensions-0.3.0-dev.1513783962.09564b1

[2017-12-21 09:39] wimpers commented on #1901
@simonOpenV  between which versions do these errors  pop up?

[2017-12-21 09:42] wimpers commented on #1866
Re-opened as this is something @JeffreyDevloo  would like to fix and requires minimal effort.

[2017-12-21 10:47] wimpers commented on #1874
Possibly related to https://github.com/celery/celery/issues/3932

[2017-12-21 11:01] JeffreyDevloo commented on #1901
This is on the current development branch

[2017-12-21 13:07] wimpers commented on #1777
relates to https://github.com/openvstorage/framework/issues/1816 and https://github.com/openvstorage/framework/issues/1817

[2017-12-21 15:06] wimpers commented on #1863
Might be related to https://github.com/openvstorage/framework/issues/1905 and other issues reported in https://github.com/openvstorage/operations/issues/25

[2017-12-21 15:12] wimpers commented on #1879
Didn't we confirm this to be  a non-issue when using the API? Any more occurrences?

[2017-12-22 10:57] ovstmoens commented on #1905
The node where this issue occurred was the only node for vPool "myvpool02" which probably caused this error, on other nodes in this environment the issue did not occur.
It also doesn't occur when you remove the vPool manually first.

vPools running on a single node aren't exactly a real life use case so maybe it's not worth the time to make it possible but perhaps we could make the output a bit cl

[2017-12-22 11:10] ovstmoens opened #1909 "Replacing a failed node by a new node produces UnableToConnectException"
Issue was reported in https://groups.google.com/forum/#!topic/open-vstorage/UJ9O_SNh9Ps for OSE and has been reproduced in https://github.com/openvstorage/operations/issues/25 for EE.

It occurs when a node has failed and was removed and one tries to add a new node to the cluster with a different IP. It does not occur when the same IP as the failed node is used.

It looks like the cluster is tryin

[2017-12-22 13:27] wimpers commented on #1723
Assigning to @JeffreyDevloo as kevin is no longer with us .

[2017-12-22 13:29] wimpers commented on #1856
Assigning to @JeffreyDevloo as Kevin is no longer with us.

[2017-12-22 14:07] wimpers commented on #1876
Assigning to @JeffreyDevloo as Kevin is no longer with us.

What is the status of this one? Since there are packages shouldn't this be code_complete?

[2017-12-22 14:27] JeffreyDevloo commented on #1789
We would have review all parts of code on which we call volumedriver calls. The current RuntimeError we'd catch might not be enough.
I estimate it to be a day

[2017-12-22 14:40] JeffreyDevloo commented on #1859
This can already be done by requesting the contents of these items. Instead of a list of identifiers, you'd get the full serialized object
Example
[code]
All possible content requests can be found here:
https://github.com/openvstorage/ovs-documentation/blob/master/Administration/usingtheapi/README.md#get-apiresource

@wimpers @saelbrec Is this one of the properties you were after or is it somethin

[2017-12-22 14:45] wimpers commented on #1859
Since you can add query parameters, this is fine I believe. Re-open if needed.

[2017-12-22 14:45] #1859 closed, assigned to nobody

[2017-12-23 07:57] run283092610 opened #1910 "create vpools error"
hi
i met a question when i create vpools
how can i solve this problem
thanks

the message log
Dec 23 15:46:15 localhost gunicorn: 2017-12-23 08:46:15 52700 +0100 - localhost - 2832/140098847882608 - hybrids/storagedriver.py - fetch_statistics - 270 - ERROR - Error loading statistics_node from test-pool2k8aRVaFCTAB2GrBL: Python argument types in
Dec 23 15:46:15 localhost gunicorn: StorageRouterClie

[2017-12-26 15:01] jtorreke opened #1911 "Refreshing update information times out after 30 minutes when a node is offline fro scrubbing."
This step takes ages when a node is offline/unreachable (during framework upgrade from 2.9.5 to 2.9.9):

[code]

[2017-12-27 14:55] sjovdnbos commented on #1803
fixed in #1913
package info:

[2017-12-28 14:20] sjovdnbos opened #1915 "VDisk creation name validation doesnt work"
Tried to make a vdisk with name '2' or any other integer, could initalize creation only to receive an error afterwards

2 checks are faulty here:
- length of the name should be longer then 3 (as stated in the description)
- pure integers should either be allowed or mentioned in the description as invalid

[2017-12-28 15:40] jeroenmaelbrancke opened #1916 "Scrubber proxy not removed when finished."
After scrubbing some vdisks we see some inactive scrub proxies on the node.
The error message is following:

[code]

multiple scrub process in activating state:
[code]

I try to search for _Removing service_ on the celery.log but was not able to find any info about this. (logfiles are rotated).
At this point we do not have any logs of this problem.

We are using 2.9.9 on Nuvolat so i tried to sear

[2017-12-29 09:23] jeroenmaelbrancke commented on #1916
[code]

[2018-01-02 16:04] sjovdnbos commented on #1646
Fixed by #1917
Package information: openvstorage-2.11.1-dev.1514908145.ef56594

[2018-01-02 16:22] jeroenmaelbrancke opened #1918 "No clean up of the arakoon_config.ini and directories"
After deleting a cluster the arakoon directory still exists on the filesystem.
For the config arakoon the /opt/OpenvStorage/config/arakoon_config.ini is still present after deleting the whole cluster (not sure for one node).

[2018-01-02 16:28] wimpers commented on #1910
Can you still remove the vPool from the Storage Router and try again?

[2018-01-03 01:28] run283092610 commented on #1910
i have solve this problem thanks

[2018-01-03 08:05] #1910 closed, assigned to nobody

[2018-01-03 08:35] wimpers commented on #1896
Hi @run283092610 ,

what exactly is the issue?  I don't see any specific error in the logs you posted.  Is this still an issue?
Did you try running the health check?

[2018-01-03 14:11] sjovdnbos commented on #1850
Fixed in #1903
Package information: openvstorage-2.11.1-dev.1514987645.47f352b

[2018-01-03 14:52] sjovdnbos commented on #1871
This is now used for easier Travis unittesting in framework-alba-plugin
https://github.com/openvstorage/framework-alba-plugin/pull/544
Package information: openvstorage-backend-1.11.0-dev.1514990193.4bf1161

[2018-01-04 08:59] JeffreyDevloo opened #1920 "Scrubbing vdisks should reuse proxies where possible"
### Problem description
Since we changed the scrubbing proxy to be a uniquely generated uuid as name instead of something comfortable, we are no longer able to reuse a scrubbing proxy
This will give off some issues:
- Scrubbing 2 vdisks of the same vpool at the same time with the single scrub won't work (the second proxy would be deployed with the same port)
- More proxies would be deployed when s

[2018-01-04 10:48] JeffreyDevloo opened #1921 "Investigate generation of .servicee files"
## Problem description
Ops observed the following:
[code]
prior to the update
Note: the normal .service files are also present

The goal of this ticket is to checker whether this is something of our doing (Potential typo somewhere)

[2018-01-08 08:06] JeffreyDevloo commented on #1751
Related to https://github.com/openvstorage/framework/issues/1850

[2018-01-08 08:17] JeffreyDevloo commented on #1846
This is indeed intended behavior to keep the agent as robust as possible. Therefore closing this issue

[2018-01-08 08:17] #1846 closed, assigned to nobody

[2018-01-08 08:46] JeffreyDevloo commented on #1803
Putting this back to urgent as @dejonghb pointed out another flaw after it was merged
https://github.com/openvstorage/framework/pull/1913

EDIT: https://github.com/openvstorage/framework/pull/1914 has fixed this... I was too fast

[2018-01-08 09:55] JeffreyDevloo commented on #1751
Will be fixed by https://github.com/openvstorage/framework/pull/1922

[2018-01-08 10:02] JeffreyDevloo commented on #1865
@simonOpenV
https://github.com/openvstorage/framework/issues/1867 is related. The cleanup of that role should be done.
Can the DB role be removed now?

[2018-01-08 11:22] JeffreyDevloo opened #1923 "Capture more volumedriver event message"
## Problem description
The volumedriver emits certain events that we do not capture
@redlicha please provide us a list so we can handle them

[2018-01-08 12:58] JeffreyDevloo commented on #1916
The workers should tell you which part actually raised. it could be that stopping failed or the remove failed

[2018-01-08 13:26] JeffreyDevloo commented on #1888
Will be fixed by https://github.com/openvstorage/framework/pull/1924

[2018-01-08 13:33] jeroenmaelbrancke opened #1925 "Api call show available storagerouters"
If someone use the api for creating a vdisk.
How can they know if a storagerouter is down?
At this moment we don't have a call that tells us for vpool x give us all the available storagerouters where we can deploy a vdisk.

refence ticket: http://support.openvstorage.com/browse/OVSSUP-351

[2018-01-08 13:36] jeroenmaelbrancke opened #1926 "integrate ansible modules"
As requested from @JeffreyDevloo .
Take the ownership of all the ansible modules.

[2018-01-08 13:38] JeffreyDevloo commented on #1926
This would just mean that we would update the internal logic of these modules as they leverage on internal code
Otherwise Operations will be always be behind on certain releases

[2018-01-08 13:39] JeffreyDevloo commented on #1925
Could be done in conjunction with https://github.com/openvstorage/framework/issues/1514

[2018-01-08 13:40] JeffreyDevloo commented on #1915
Looks like the initial checking of the regex does not work. The name is translated as an int, not a string. Just casting it to a string should do the trick

[2018-01-08 13:41] JeffreyDevloo commented on #1898
@wimpers What is the benefit of this empty ticket?

[2018-01-08 13:42] wimpers commented on #1898
@JeffreyDevloo  this was created during the BAM and I was going to add some content afterwards.

@saelbrec any chance you still remember what needed to  be changed?

[2018-01-09 08:30] redlicha commented on #1923
Protobuf descriptions of the events:
* https://github.com/openvstorage/volumedriver/blob/dev/src/volumedriver/Events.proto
* https://github.com/openvstorage/volumedriver/blob/dev/src/volumedriver/VolumeDriverEvents.proto
* https://github.com/openvstorage/volumedriver/blob/dev/src/filesystem/FileSystemEvents.proto

The former provides a base message type that is extended by the latter two.

The gen

[2018-01-09 13:07] jeroenmaelbrancke opened #1927 "Tell us more about NoSectionError: No section: 'global'"
Version: 2.9.9-1

Could you please log more information of this stacktrace?
It would be nice to see which key doesn't have this section in the config.

For some reason an empty Arakoon directory was made on the configuration Arakoon without a config key.

[code]

available Arakoons:
[code]
one of them was empty:
[code]
After removing ovs/arakoon/ny2-hddbackend02_nsm_01 the NoSectionError was gone.

[2018-01-09 14:46] wimpers commented on #1901
@JeffreyDevloo  is this still an issue?

[2018-01-09 15:21] JeffreyDevloo commented on #1901
Yes, should still be tackled
Note: this does not impact anything. It's to track a development issue

[2018-01-09 15:26] JeffreyDevloo commented on #1805
@wimpers
This is a realistic case. The statsmonkey was known for breaking the update.
I estimate it to be 3 days of work to fix this

[2018-01-09 15:28] JeffreyDevloo commented on #1839
@wimpers
I'd estimate every update to be at least a weeks worth of testing/bugfixing
The impact of Django is rather high due to all decorators needing a visit
The impact of both Celery and Rabbitmq is currently unknown to me

[2018-01-09 15:29] JeffreyDevloo commented on #1857
No need to pick it up now as the PR is done completely by manual testing.
This would also just help us in future changes to the code

I'd suggest to add this once reconfigure vpool would land (as it might break the add_vpool a bit)
Estimation: 3days

[2018-01-09 15:36] JeffreyDevloo commented on #1542
@wimpers
I can't tell... There was a command which failed which means the SSHClient could connect to the node so I suppose not.
Either way it is something still to be verified what went wrong

[2018-01-10 10:58] JeffreyDevloo commented on #1921
Code inspection did not reveal anything that could generate .servicee files. This might have been a manual call. Clsoing

[2018-01-10 10:58] #1921 closed, assigned to nobody

[2018-01-10 11:12] wimpers commented on #1557
Back to BAM.

[2018-01-10 13:52] JeffreyDevloo commented on #1393
Trying to understand the current flow: it goes something like this:

When adding caching to the proxies (either fragment or block) we ask to reserve at least 1GiB for every proxy for every cache type
so 1 proxy with local frag caching --> 1 GiB
2 proxies with local frag caching --> 2 GiB
1 proxy with local frag + block caching --> 2 GiB
2 proxies with local frag + block caching --> 4 GiB

The sco

[2018-01-10 16:09] JeffreyDevloo commented on #1782
This issue was moved to openvstorage/framework-alba-plugin#545

[2018-01-10 16:09] #1782 closed, assigned to JeffreyDevloo

[2018-01-11 16:45] JeffreyDevloo commented on #1776
@wimpers
Any input on what way to implement? Plugin or Non-plugin

[2018-01-12 08:56] wimpers commented on #1776
Non-plugin

[2018-01-12 16:29] wimpers commented on #1393
Since it is  only an issue for local block/fragment cache and this isn't use; let's postpone to after J.

[2018-01-15 08:26] jeroenmaelbrancke commented on #1916
@JeffreyDevloo
What happens if the deployment of a scrubber failed?
Do you remove the service afterwards?

What we see in the celery.log

[code]

The alba log: (this occurs multiple times)
[code]

[2018-01-15 08:41] JeffreyDevloo commented on #1916
When an error occurs during the deployment of the scrubbing proxy, we will try and remove the service there

[2018-01-15 09:46] JeffreyDevloo commented on #1897
Would be fixed by:
- https://github.com/openvstorage/framework/pull/1899
- https://github.com/openvstorage/framework-alba-plugin/pull/542
- https://github.com/openvstorage/framework-iscsi-plugin/pull/39

[2018-01-16 10:21] wimpers commented on #1773
@JeffreyDevloo how much time would this take?

[2018-01-16 15:34] wimpers commented on #1916
@JeffreyDevloo  this is related to https://github.com/openvstorage/framework/issues/1920 ?

[2018-01-16 15:39] JeffreyDevloo commented on #1916
Yes, the exception seen here is also mentioned in that ticket but this one handles more about certain proxy files not being removed.
Both would be tackled at the same time though

[2018-01-16 16:28] wimpers commented on #1920
Please also patch on 2.9.x

[2018-01-16 17:26] jtorreke opened #1929 "The updates page reports a lower version of volumedriver than actually installed"
From the GUI
[code]
This is the dpkg output:

[code]

And the output from running volumedriver versions:

[code]

[2018-01-17 08:24] wimpers commented on #1875
@matthiasdeblock I believe the research has been done for this. Can I close this one?

[2018-01-17 08:30] matthiasdeblock commented on #1875
It has been investigated and implemented in our setup for external RabbitMQ.

@wimpers , will this be implemented in the framework as well for the internally managed RabbitMQ?

[2018-01-17 12:08] matthiasdeblock opened #1930 "Enable autoheal for RabbitMQ"
For the externally managed RabbitMQ cluster we have enabled autoheal.

Autoheal will fix partitioning issues from RabbitMQ when suffering a network outage or a downtime from one or more RabbitMQ node(s).

Adding ```{cluster_partition_handling, autoheal},``` to /etc/rabbitmq/rabbitmq.config.
https://github.com/openvstorage/framework/blob/0c62bdabca0f41f1b4f94285099d8141e6baf73c/ovs/lib/nodetype.py#

[2018-01-17 13:09] matthiasdeblock commented on #1930
PR https://github.com/openvstorage/framework/pull/1931

[2018-01-17 13:12] matthiasdeblock commented on #1875
Ticket to add autoheal: https://github.com/openvstorage/framework/issues/1930
PR for the change: https://github.com/openvstorage/framework/pull/1931

[2018-01-17 13:12] #1875 closed, assigned to matthiasdeblock

[2018-01-17 14:51] JeffreyDevloo opened #1933 "[Internal] Simplify scrubbing"
### Problem description
The current scrubbing flow works in a completely static context which means a lot of information is passed around which could be contained within an object instead. This could be changed to work with scrubber classes which contain all information and thus allow easier debugging / fixing

This will take the same approach as simplifying the vpool code (separate some code in n

[2018-01-17 16:22] JeffreyDevloo commented on #1920
Hmmm my initial estimate is not entirely correct.
The current scrub flow was meant to be primarily used by the scheduled tasks, which ensured only one would run at a given time
I have identified the following issues:
- Creating proxies could fail if different workers would be executing a scrub job at the same time for vdisks of the same vpool
- Every scrubbing job creates its own proxy, causing th

[2018-01-18 09:36] wimpers opened #1934 "Removed issue"
This ticket is to deploy a file system on top of vDisks from the gui. There are 2 types of file systems:
* Small FS: single instance FS on 1 vDisk
* Scale-out FS: scalable FS based on https://github.com/iNuron/filevstorage

https://docs.google.com/document/d/1cG5jLjqgcLQJeFFNmp10Dw0yFXMemlTXVWftet04iDM

[2018-01-18 09:37] sjovdnbos commented on #1751
Since #1922 is fixed, this may be fixed as well, @JeffreyDevloo ?

[2018-01-18 10:15] JeffreyDevloo opened #1935 "Look for potential issues in list caching"
### Problem description
@dejonghb had managed to create two vdisks which were not shown on the total overview of the vdisk page but they were shown on the vpool detail page

In short the overall list returned old results and the queried list showed the newest result

After a while the items resolved out of them selves (due to invalidation or expiration of the cache most likely)

[2018-01-18 10:58] sjovdnbos commented on #1786
Fixed by https://github.com/openvstorage/framework-extensions/pull/62
Packaging information: openvstorage-extensions-0.3.0-dev.1516272162.011d502

[2018-01-18 14:04] JeffreyDevloo commented on #1888
Fixed by #1924

[2018-01-18 14:05] JeffreyDevloo commented on #1751
Fixed by #1922

[2018-01-18 14:23] #1934 closed, assigned to nobody

[2018-01-18 14:58] matthiasdeblock opened #1936 "Store the creation date of a vdisk"
It might come in handy to store the creation date of a vdisk. If the logs are rotated, you are unable to know when the volume got created.

[2018-01-18 15:01] wimpers commented on #1936
Duplicate of https://github.com/openvstorage/framework/issues/1764. Re-open if you would disagree.

[2018-01-18 15:01] #1936 closed, assigned to nobody

[2018-01-18 15:25] sjovdnbos commented on #1915
Fixed in #1932

[2018-01-19 11:15] JeffreyDevloo commented on #1933
Picking this up now as the race conditions are worse than initially thought

[2018-01-19 14:28] sjovdnbos commented on #1865
@JeffreyDevloo Double checked and this problem does not pop up anymore.

Fixed as #1867 was fixed
Package information: package openvstorage-2.11.1-dev.1510675299.e88a327

[2018-01-22 09:35] sjovdnbos commented on #1349
Fixed in #1937
Package information: openvstorage-core_2.11.1-dev.1516612813.390cbf4-1_amd64.deb

[2018-01-22 16:18] JeffreyDevloo commented on #1849
This requires some re-structuring of our DAL logic. Currently a OSD can belong to one backend only.
We need to write a new junction table, and do some update logic

[2018-01-22 18:39] JeffreyDevloo opened #1939 "Investigate Arakoon as result backend for Celery"
### Problem description
Due to the recent events with tasks being lost, tasks not reaching the result backend etc
The problem lies with memcached most likely. (Stale connections, the way it is sharded, not distributed)

We should look into making a result backend client which uses the Pyrakoon instead

@wimpers @saelbrec Please provide your input

[2018-01-23 09:18] matthiasdeblock commented on #1939
When restarting, stopping or starting a memcached instance while running tasks consecutively I have noticed that the tasks are not providing back the results. It is timing out.

Tasks which was running:
[code]

Even after just restarting, stopping or starting I could reproduce the problem.

So, some seconds later (after a restart, stop or start of memcached) the task is timing out. This means that

[2018-01-23 09:23] matthiasdeblock commented on #1939
After checking the logs it looks like the task did got completed anyway:
[code]
Log:
[code]

[2018-01-23 13:29] matthiasdeblock commented on #1939
Started the same loop on the first node on pocops (10.100.200.10) with arakoon (ovsdb) as result backend.

[code]

[code]

[2018-01-23 13:30] JeffreyDevloo commented on #1939
Would be done by https://github.com/openvstorage/framework/pull/1940

[2018-01-24 07:28] sjovdnbos commented on #1852
Fixed by #1938
Package information: openvstorage-core_2.11.1-dev.1516777937.04bca97-1_amd64.deb

[2018-01-24 14:54] JeffreyDevloo commented on #1786
This issue was moved to openvstorage/framework-extensions#65

[2018-01-24 14:54] #1786 closed, assigned to nobody

[2018-01-24 15:04] JeffreyDevloo commented on #1613
This issue was moved to openvstorage/framework-extensions#66

[2018-01-24 15:04] #1613 closed, assigned to nobody

[2018-01-26 12:32] JeffreyDevloo commented on #1930
Part of the https://github.com/openvstorage/framework/releases/tag/2.11.1 release

[2018-01-26 12:32] #1930 closed, assigned to nobody

[2018-01-26 12:32] JeffreyDevloo commented on #1915
Part of the https://github.com/openvstorage/framework/releases/tag/2.11.1 release

[2018-01-26 12:32] #1915 closed, assigned to nobody

[2018-01-26 12:32] JeffreyDevloo commented on #1908
Part of the https://github.com/openvstorage/framework/releases/tag/2.11.1 release

[2018-01-26 12:32] #1908 closed, assigned to nobody

[2018-01-26 12:32] JeffreyDevloo commented on #1888
Part of the https://github.com/openvstorage/framework/releases/tag/2.11.1 release

[2018-01-26 12:32] #1888 closed, assigned to nobody

[2018-01-26 12:33] JeffreyDevloo commented on #1876
Part of the https://github.com/openvstorage/framework/releases/tag/2.11.1 release

[2018-01-26 12:33] #1876 closed, assigned to nobody

[2018-01-26 12:33] JeffreyDevloo commented on #1871
Part of the https://github.com/openvstorage/framework/releases/tag/2.11.1 release

[2018-01-26 12:33] #1871 closed, assigned to nobody

[2018-01-26 12:33] JeffreyDevloo commented on #1867
Part of the https://github.com/openvstorage/framework/releases/tag/2.11.1 release

[2018-01-26 12:33] #1867 closed, assigned to nobody

[2018-01-26 12:33] JeffreyDevloo commented on #1865
Part of the https://github.com/openvstorage/framework/releases/tag/2.11.1 release

[2018-01-26 12:33] #1865 closed, assigned to sjovdnbos

[2018-01-26 12:33] JeffreyDevloo commented on #1860
Part of the https://github.com/openvstorage/framework/releases/tag/2.11.1 release

[2018-01-26 12:33] #1860 closed, assigned to nobody

[2018-01-26 12:34] JeffreyDevloo commented on #1856
Part of the https://github.com/openvstorage/framework/releases/tag/2.11.1 release

[2018-01-26 12:34] #1856 closed, assigned to JeffreyDevloo

[2018-01-26 12:34] JeffreyDevloo commented on #1854
Part of the https://github.com/openvstorage/framework/releases/tag/2.11.1 release

[2018-01-26 12:34] #1854 closed, assigned to nobody

[2018-01-26 12:35] JeffreyDevloo opened #1946 "Display environment type on the support page"
### Enhancement description
https://github.com/openvstorage/framework/issues/1853 - the edition should be shown in the support page

[2018-01-26 12:35] JeffreyDevloo commented on #1853
Part of the https://github.com/openvstorage/framework/releases/tag/2.11.1 release

[2018-01-26 12:35] #1853 closed, assigned to sjovdnbos

[2018-01-26 12:36] JeffreyDevloo commented on #1852
Part of the https://github.com/openvstorage/framework/releases/tag/2.11.1 release

[2018-01-26 12:36] #1852 closed, assigned to nobody

[2018-01-26 12:36] JeffreyDevloo commented on #1850
Part of the https://github.com/openvstorage/framework/releases/tag/2.11.1 release

[2018-01-26 12:36] #1850 closed, assigned to nobody

[2018-01-26 12:36] JeffreyDevloo commented on #1840
Part of the https://github.com/openvstorage/framework/releases/tag/2.11.1 release

[2018-01-26 12:36] #1840 closed, assigned to nobody

[2018-01-26 12:36] JeffreyDevloo commented on #1836
Part of the https://github.com/openvstorage/framework/releases/tag/2.11.1 release

[2018-01-26 12:36] #1836 closed, assigned to nobody

[2018-01-26 12:36] JeffreyDevloo commented on #1833
Part of the https://github.com/openvstorage/framework/releases/tag/2.11.1 release

[2018-01-26 12:36] #1833 closed, assigned to nobody

[2018-01-26 12:36] JeffreyDevloo commented on #1803
Part of the https://github.com/openvstorage/framework/releases/tag/2.11.1 release

[2018-01-26 12:36] #1803 closed, assigned to nobody

[2018-01-26 12:36] JeffreyDevloo commented on #1783
Part of the https://github.com/openvstorage/framework/releases/tag/2.11.1 release

[2018-01-26 12:36] #1783 closed, assigned to nobody

[2018-01-26 12:36] JeffreyDevloo commented on #1751
Part of the https://github.com/openvstorage/framework/releases/tag/2.11.1 release

[2018-01-26 12:36] #1751 closed, assigned to nobody

[2018-01-26 12:36] JeffreyDevloo commented on #1735
Part of the https://github.com/openvstorage/framework/releases/tag/2.11.1 release

[2018-01-26 12:36] #1735 closed, assigned to nobody

[2018-01-26 12:37] JeffreyDevloo commented on #1700
Part of the https://github.com/openvstorage/framework/releases/tag/2.11.1 release

[2018-01-26 12:37] #1700 closed, assigned to wimpers, JeffreyDevloo

[2018-01-26 12:37] JeffreyDevloo commented on #1646
Part of the https://github.com/openvstorage/framework/releases/tag/2.11.1 release

[2018-01-26 12:37] #1646 closed, assigned to nobody

[2018-01-26 12:37] JeffreyDevloo commented on #1573
Part of the https://github.com/openvstorage/framework/releases/tag/2.11.1 release

[2018-01-26 12:37] #1573 closed, assigned to nobody

[2018-01-26 12:37] JeffreyDevloo commented on #1349
Part of the https://github.com/openvstorage/framework/releases/tag/2.11.1 release

[2018-01-26 12:37] #1349 closed, assigned to nobody

[2018-01-26 12:37] JeffreyDevloo commented on #1341
Part of the https://github.com/openvstorage/framework/releases/tag/2.11.1 release

[2018-01-26 12:37] #1341 closed, assigned to nobody

[2018-01-26 12:39] JeffreyDevloo opened #1947 "Test performance impact of the DAL query"
### Request description
https://github.com/openvstorage/framework/issues/1700 - the changes should be tested to see if they impact the DAL. My guess is that there is hardly impact (only a refetch of all item data when the underlying objects would change of the list)

[2018-01-29 13:37] wimpers opened #1949 "Support page doesn't show all installed packages"
As seen on 199.191

[code]

F.e. alba and backend package is missing

[2018-01-30 13:25] sjovdnbos commented on #1897
- Framework:  fixed by #1899, package information: openvstorage-2.12.0-dev.1517313757.e96a07f
- Framework alba-plugin: https://github.com/openvstorage/framework-alba-plugin/pull/542 , package information:  openvstorage-backend-1.12.0-dev.1517317588.d0d841d
- Framework iscsi-plugin: https://github.com/openvstorage/framework-iscsi-plugin/pull/39, package information: openvstorage-iscsi-plugin-0.4.0-

[2018-01-30 13:29] #1701 closed, assigned to delamonpansie, toolslive, dejonghb

[2018-01-30 13:33] openvstorage-ci commented on #1701
This issue was moved to openvstorage/alba_ee#236

[2018-01-30 14:03] JeffreyDevloo opened #1950 "Tlog multiplier is tied to the sco size and the first storagedriver config is used as validation"
### Problem description
When editing the tlog multiplier manually and the value is present in the mapping, another could be selected based on the sco-size
This ticket serves as a reminder to look into this when picking up the advanced config for storagedrivers

[2018-01-30 15:29] jeroenmaelbrancke opened #1951 "shrink/extend of vpool failed due to empty volumedriver config"
# Problem
Shrink/extend of vpools failed when an empty config exists in the config arakoon

If someone accidentally edit a config file that doesn't exists in the arakoon config an empty will be created.

If you edit a file via ovs config edit and you exit the file without changing/edit something a new file will be created.
[code]

Ignoring empty files would be great.

# Solved
Removed the empty co

[2018-01-30 16:32] JeffreyDevloo opened #1952 "Statsmonkey integration should only attempt to restart on master nodes"
### Problem description
Configuring the statsmonkey through the gui restarts all ovs-scheduled tasks. It does this by looping over all storagerouters.
The issue is that the scheduled tasks is only deployed on master nodes and so the restart sequence fails

[2018-01-30 17:08] wimpers opened #1953 "Extend vPool to additional storgae router selects wrong backend in the GUI"
Extended a vPool to node 2 with backend02 selected ion node 1. The wizard shows a disabled dropdown with backend 01 selected.  When deploying the right backend02 was selected.

![2018-01-30_17-28-26](https://user-images.githubusercontent.com/8392927/35579990-5a1dcd92-05e8-11e8-822f-e15d38b6fe39.png)

[2018-01-30 17:09] wimpers opened #1954 "Support page doesn't display IP of last storage node"
Support page doesn't display IP of last storage node
![2018-01-30_17-34-21](https://user-images.githubusercontent.com/8392927/35580202-b574a83c-05e8-11e8-8f03-cf0ce8f1d951.png)

[2018-02-01 09:20] wimpers opened #1955 "Option to configure email escalation from the GUI"
After discussion with @saelbrec en @jtorreke:

Under Administration > Support and a new section for monitoring
* URL(IP & Port) of checkMK API, login and passwd
* Email address(es) for escalation

[2018-02-05 10:24] jtorreke opened #1957 "Show iscsi-manager IP for iSCSI exposed vdisk"
When you expose a vDisk over iSCSI, you need to select an iSCSI manager. Afterwards, the IQN and ACL is shown in the GUI, but not the IP address of the iSCSI manager. You don't know where to connect to if you haven't written it down or know it by heart.

[2018-02-05 13:02] openvstorage-ci commented on #1957
This issue was moved to openvstorage/framework-iscsi-plugin#51

[2018-02-05 13:02] #1957 closed, assigned to nobody

[2018-02-05 14:15] dejonghb opened #1958 "GUI should at least warn when deleting vdisk that's in use"
The GUI knows a vdisk has an active edge connection but it does allow deleting it without any questions asked. It should at least give a warning to make sure the user knows what [s]he's doing.

[2018-02-05 14:24] JeffreyDevloo commented on #1958
Did you delete a disk that was still in use by accident? :)
Either way looks like a small one to fix in the GUI. The API side should not change imo

[2018-02-05 14:40] JeffreyDevloo commented on #1955
Small question. What is to be escalated?

[2018-02-05 14:41] dejonghb commented on #1958
This delete was on purpose (as scrubbing fails) and to see what would happen ;-)

[2018-02-05 14:59] wimpers commented on #1955
Events/Alerts. The email addresses need to be added to an checkMK instance

[2018-02-06 11:05] JeffreyDevloo commented on #1939
https://github.com/openvstorage/framework/issues/1773 might be necessary because local collapse does not shrink the size enough

[2018-02-06 13:16] wimpers commented on #1896
Closing down as no input received.

[2018-02-06 13:16] #1896 closed, assigned to nobody

[2018-02-07 09:40] jtorreke opened #1962 "Need to refresh vdisk GUI page before you can iSCSI expose"
When you just created a new vdisk and open the detail page, the iSCSI action button shows a rotating icon until you refresh the page manually. After the refresh, the action button pops up almost instantly.

[2018-02-07 10:57] JeffreyDevloo commented on #1962
My initial thought is that the plugin hooking is not firing when changes happen to the vDisk observable

[2018-02-07 10:59] JeffreyDevloo commented on #1939
Part of the https://github.com/openvstorage/framework/releases/tag/2.9.10 release

[2018-02-07 10:59] #1939 closed, assigned to nobody

[2018-02-07 10:59] JeffreyDevloo commented on #1933
Part of the https://github.com/openvstorage/framework/releases/tag/2.9.10 release

[2018-02-07 10:59] #1933 closed, assigned to JeffreyDevloo

[2018-02-07 10:59] JeffreyDevloo commented on #1920
Part of the https://github.com/openvstorage/framework/releases/tag/2.9.10 release

[2018-02-07 10:59] #1920 closed, assigned to JeffreyDevloo

[2018-02-07 10:59] JeffreyDevloo commented on #1916
Part of the https://github.com/openvstorage/framework/releases/tag/2.9.10 release

[2018-02-07 10:59] #1916 closed, assigned to JeffreyDevloo

[2018-02-07 12:38] JeffreyDevloo opened #1963 "Arakoon service files might have some issues"
### Problem description
Alot of the following logs:
[code]

[2018-02-07 12:39] JeffreyDevloo opened #1964 "Volumedriver service files might have some issues"
### Problem description
A lot of the following logs:
[code]

[2018-02-07 12:50] JeffreyDevloo commented on #1964
Contents changed from
[code]
To
[code]

[2018-02-07 12:58] JeffreyDevloo commented on #1964
Seems like the backslashes are giving off these logs. Not a real error but a minor annoyance
Systemd expects them to be escaped like \\

[2018-02-07 12:59] JeffreyDevloo commented on #1963
Systemd does not like the single \ and is giving the errors because of that (it escapes them properly)

[2018-02-07 14:05] JeffreyDevloo commented on #1678
Fixed by
- #1821
- https://github.com/openvstorage/framework-iscsi-plugin/pull/34
- https://github.com/openvstorage/framework-extensions/pull/63
- https://github.com/openvstorage/framework-alba-plugin/pull/534

Packaged in:
 - openvstorage_2.12.0-dev.1518011126.4cee8bc-1_amd64.deb
 - openvstorage-backend_1.12.0-dev.1518011188.e274a3d-1_amd64.deb
 - openvstorage-extensions_0.4.0-dev.1518010323.90e5

[2018-02-07 14:05] JeffreyDevloo commented on #1669
Fixed by
- #1821
- https://github.com/openvstorage/framework-iscsi-plugin/pull/34
- https://github.com/openvstorage/framework-extensions/pull/63
- https://github.com/openvstorage/framework-alba-plugin/pull/534

Packaged in:
 - openvstorage_2.12.0-dev.1518011126.4cee8bc-1_amd64.deb
 - openvstorage-backend_1.12.0-dev.1518011188.e274a3d-1_amd64.deb
 - openvstorage-extensions_0.4.0-dev.1518010323.90e5

[2018-02-07 14:05] JeffreyDevloo commented on #1658
Fixed by
- #1821
- https://github.com/openvstorage/framework-iscsi-plugin/pull/34
- https://github.com/openvstorage/framework-extensions/pull/63
- https://github.com/openvstorage/framework-alba-plugin/pull/534

Packaged in:
 - openvstorage_2.12.0-dev.1518011126.4cee8bc-1_amd64.deb
 - openvstorage-backend_1.12.0-dev.1518011188.e274a3d-1_amd64.deb
 - openvstorage-extensions_0.4.0-dev.1518010323.90e5

[2018-02-07 14:28] jeroenmaelbrancke opened #1965 "MDS leaked namespaces found on 2.9.9-1"
# Problem
There are still entries found on mds services where no master or slave is running.

[code]

disk info
[code]

mds info
[code]

# Packages
[code]

[2018-02-07 17:17] JeffreyDevloo opened #1966 "[Develop] HPRM configs can no longer be generated"
[code]

[2018-02-08 15:56] JeffreyDevloo opened #1968 "[Develop] Extending vPool via GUI not working. The first backend is always selected"
### Problem description
The first backend is presented in the GUI as teh backend to extend

[2018-02-08 16:29] JeffreyDevloo commented on #1965
Looks like https://github.com/openvstorage/framework/issues/1755 should have tackled this primarily. The real cause is still unknown though... (Logging would point out our next move)

[2018-02-09 07:37] wimpers commented on #1968
I guess this one duplicates https://github.com/openvstorage/framework/issues/1953

If not let me know.

[2018-02-09 07:37] #1953 closed, assigned to nobody

[2018-02-09 08:40] sjovdnbos commented on #1954
On what environment was this seen?  I checked:
- develop
- andes
- staging
- fargo
- my own 2 node (develop) env

and none of these showed this behaviour.

[2018-02-09 08:42] wimpers commented on #1954
Bighorn RC1 - 2.10.3

[2018-02-09 08:53] JeffreyDevloo commented on #1954
@simonOpenV it might only occur on environments who have separate ASD nodes. (The QA ones you might have checked would be hyperconverged)

[2018-02-09 10:37] wimpers commented on #1965
@jeroenmaelbrancke  does https://github.com/openvstorage/operations/blob/master/scripts/cleanupMDSServicesLeftovers.py clean up the leaked namespaces?

[2018-02-09 10:57] JeffreyDevloo commented on #1968
It is indeed a duplicate if that occurred on Develop.
Fixed by https://github.com/openvstorage/framework/pull/1969
Packaged in openvstorage-webapps_2.12.0-dev.1518099253.1133a90-1_amd64.deb

[2018-02-09 12:29] jeroenmaelbrancke commented on #1965
This is the one i use: https://github.com/openvstorage/operations/blob/master/scripts/check_mds_leaked_namespaces.py

[2018-02-12 15:20] sjovdnbos commented on #1949
Will be fixed by: https://github.com/openvstorage/framework-alba-plugin/pull/567
https://github.com/openvstorage/framework-iscsi-plugin/pull/54
https://github.com/openvstorage/framework/pull/1971

[2018-02-14 08:46] wimpers commented on #1965
Put to Roadmap as the amount of leaked namespaces is minimal and we have a script to detect and can clean them up.

[2018-02-14 09:11] wimpers commented on #1542
Might this be related to the SSH caching of the connections?

[2018-02-14 09:16] JeffreyDevloo commented on #1542
No, the execution of the command actually worked. If it would have been the cached services that was killed, we would see an EOFError instead

[2018-02-15 10:31] sjovdnbos commented on #1952
Fixed by: #1970

[2018-02-15 10:36] sjovdnbos commented on #1954
Fixed by https://github.com/openvstorage/framework-iscsi-plugin/pull/52

[2018-02-15 14:17] wimpers opened #1972 "Issue with autoscaling of workers in Celery - Use fixed amount of workers"
Instead of depending on autoscaling, which has [issues](http://tickets.openvstorage.com/browse/OVSSUP-360) deploy 2 ovs-worker services

Deploying celery without autoscaling can be done if you have multiple ovs-worker services.

[code]
worker_1

Change the ExecStart:

Do not copy the information from below or the workers will not start.

Remove the --autoscale option and add -n worker1@<hostname>

[2018-02-15 15:35] sjovdnbos opened #1974 "GUI support page doesn't show iscsi plugin name"
##Issue
The name of the iscsi plugin is not shown in the gui support page, where the version number is.

##solution
The i18n json does not contain the specified key.
![screenshot from 2018-02-15 16-34-07](https://user-images.githubusercontent.com/33058909/36264880-3ce0deb2-126e-11e8-8a05-0ad1bd0f01a7.png)

[2018-02-19 15:27] wimpers commented on #1972
To be defined: how many workers 4, 6?

[2018-02-20 08:08] sjovdnbos commented on #1974
Fixed by #1975

[2018-02-20 12:44] JeffreyDevloo opened #1976 "ArakoonResultBackend should allow DataObjects to be stored"
### Feature description
Using Arakoon as resultbackend made us discard pickling. Putting DataObjects on the current backend will default to using the kombu JSON serializer which will fail.
To counter this, we should store some extra descriptor information with it so we re-create the stored object.

However this method will also require some looking at our current API decorators. The TaskViewSet se

[2018-02-20 16:25] sjovdnbos opened #1977 "[develop] Update broken"
## Issue
Cannot update between develop releases.
2 node cluster, iscsi plugin and manager installed

## Logging
### initial logging message
[code]

[2018-02-22 08:44] wimpers commented on #1789
To be taken up in this ticket use the ClusterNotReachableException in  the ensure_safety in the MDSServiceController. All other items can be picked up later.

[2018-02-22 13:03] matthiasdeblock opened #1979 "Scrub tasks getting deleted from the result backend after 1 day"
Scrub tasks getting deleted from the result backend after 1 day.

Version:
[code]

Task:
[code]

Why not just implement it in a way that you do not touch running task ID's? Instead of setting a fixed time?

[2018-02-22 13:06] JeffreyDevloo commented on #1979
A bit more context to clarify why it is an urgent thing to fix:
A scrub job was running from 20 feb 10am. The cleanup for those entries that might to old happen every day at 4 am. It checks the lifetime of a task entry (1 day by default). So on 22feb 4am the check occurred, saw that the entry is older than a day and it removed it but the task was still running.

For longer-running jobs we should w

[2018-02-26 08:47] JeffreyDevloo opened #1980 "[2.9] The new extensions is not installed when updating"
### Problem description
The new openvstorage-extensions package is not installed when updating through the GUI.
The issue is that the control file is not explicitly requesting the newest version. (This has been tackled during the update in 2.10)

[2018-02-26 09:12] JeffreyDevloo commented on #1979
Fixed by https://github.com/openvstorage/framework/pull/1981
Release in https://github.com/openvstorage/framework/releases/tag/2.9.11
Packaged in openvstorage-core_2.9.11-1_amd64.deb

[2018-02-26 09:12] #1979 closed, assigned to JeffreyDevloo

[2018-02-26 09:12] JeffreyDevloo commented on #1980
Fixed by https://github.com/openvstorage/framework/pull/1978
Release in https://github.com/openvstorage/framework/releases/tag/2.9.11
Packaged in openvstorage-core_2.9.11-1_amd64.deb

[2018-02-26 09:12] #1980 closed, assigned to JeffreyDevloo

[2018-02-26 10:34] JeffreyDevloo opened #1982 "[2.9 +] Unable to update once ArakoonResultBackend was set"
### Problem description
Environments with the current implementation of the ArakoonResultBackend are unable to update their Framework. The issue has been traced back towards serializing. The update information is putting non-JSON serializable objects on the resultbackend which causes the task to fail.
(The types that are failing are: datetime, set)

Switching over to YAML format will resolve these

[2018-02-26 15:07] JeffreyDevloo commented on #1982
Fixed by: https://github.com/openvstorage/framework/pull/1983
Packaged in: openvstorage-core_2.9.12-1_amd64.deb
Released in: https://github.com/openvstorage/framework/releases/tag/2.9.12

[2018-02-26 15:07] #1982 closed, assigned to nobody

[2018-02-27 10:21] jeroenmaelbrancke commented on #1481
I see this on IITB atm.
I build a software raid 5 with 3 disks and the partition table was loop.
Not sure if this is something from mdadm or not...
[code]
[code]
raid 5 build:
[code]

md config:
[code]

[2018-03-01 09:58] JeffreyDevloo commented on #1952
Released in https://github.com/openvstorage/framework/releases/tag/2.11.3

[2018-03-01 09:58] #1952 closed, assigned to nobody

[2018-03-01 09:58] JeffreyDevloo commented on #1949
Released in https://github.com/openvstorage/framework/releases/tag/2.11.3

[2018-03-01 09:58] #1949 closed, assigned to nobody

[2018-03-01 10:01] JeffreyDevloo commented on #1954
Released in https://github.com/openvstorage/framework-iscsi-plugin/releases/tag/0.3.2

[2018-03-01 10:01] #1954 closed, assigned to nobody

[2018-03-01 10:01] JeffreyDevloo commented on #1974
Released in https://github.com/openvstorage/framework/releases/tag/2.11.4

[2018-03-01 10:01] #1974 closed, assigned to nobody

[2018-03-01 13:31] wimpers opened #1988 "Larger write buffer size: 50GB per vDisk"
Allow to set a bigger write buffer size than 10GB (max 50GB)

[2018-03-01 13:32] wimpers opened #1989 "Larger quota per vdisk"
Remove the cap of the quota per vDisk (now 1TB).

[2018-03-01 13:38] #1988 closed, assigned to nobody

[2018-03-01 13:40] wimpers commented on #1687
* In the easy mode:
  * max write buffer 20GB
  * In case of easy mode, make sure the  number_of_scos_in_tlog is set to 8 (or higher)
  * Enforce non_disposable_scos_factor >= 1,5. If smaller advise to either decrease SCOsize or increase volume writebuffer as a value to close to 1 would lead to choking.
* In case of the advanced mode remove the restriction on the the write buffer (basically anythi

[2018-03-01 15:20] JeffreyDevloo opened #1990 "Look into writing more modern JavaScript"
### Enhancement description
The front-end is currently written in an outdated JavaScript version (ES3). We should look into writing in ES6 and transpiler to port it back to ES3 or ES5. We could attempt an upgrade towards Aurelia (next version of Durandal)
This way we can write code faster as we currently have to keep outdated stuff in mind and look into polyfilling multiple newer features ourselve

[2018-03-01 15:27] wimpers commented on #1805
Framework maintains every plugin so no longer an issue and @JeffreyDevloo was a crybaby.

[2018-03-01 15:27] #1805 closed, assigned to sjovdnbos

[2018-03-01 16:04] sjovdnbos commented on #1989
Until further information is provided, this ticket can be put on hold, @wimpers .
The block cache and fragment cache that can be assigned to a vPool upon construction have no limiting upper size.

[2018-03-02 14:54] JeffreyDevloo opened #1991 "Saving a vdisk builds a huge sequence"
### Problem description
When saving a vdisk, a huge sequence is generated. (56MB!)

[code]
[code]
This error was given back by Arakoon because the sequence was too big. This should be looked into

Statistics of the environment:
- 76MB ovs-db size
- +-500 vdisks

[2018-03-05 14:24] wimpers commented on #1687
Decision by PM:
*  User can always enter 3 values
   * SCO Size (dropdown) (switch cluster size and sco size from place)
   * Volume Write Buffer (text field, no limitation for size)
   * SCOs per Tlog (default 8, text field which only accepts integer)
* Underneath the  non_disposable_scos_factor is shown as information
* In case the non_disposable_scos_factor is lower than 1.5, a warning message

[2018-03-05 14:51] JeffreyDevloo commented on #1687
`We always allow users to change all parameters.` except for ... :+1:

[2018-03-06 10:25] matthiasdeblock opened #1992 "Workers are getting killed with signal 15 after scaling down"
Workers are getting killed with signal 15 after scaling down

Celery version:
[code]

Openvstorage version:
[code]

Logs:
[code]

[2018-03-06 12:19] matthiasdeblock commented on #1992
Related to https://github.com/openvstorage/framework/issues/1972

[2018-03-07 08:24] wimpers opened #1993 "Remote proxy integration"
https://docs.google.com/document/d/1aeGu2FxVuCH3F41i2xYF_GexQxOlh2jLoF-Ck6WfpP8

[2018-03-07 10:38] jeroenmaelbrancke opened #1995 "Failed API return empty string"
When configuring a disk the API returns an empty string when failing...

[code]
[code]

[2018-03-07 15:48] JeffreyDevloo commented on #1995
What is the error the workers threw?
The automation-library is just reporting the possible error that was returned...

[2018-03-07 15:50] jeroenmaelbrancke commented on #1995
Jo De Boeck added a comment - 2 hours ago
I don't have them available anymore I did look around in those log files at the time and found nothing.

[2018-03-07 15:54] JeffreyDevloo commented on #1806
THis is most likely the dynamic routing firing off to quickly. The routing is currently sub-awesome on that behalf (the guarding to redirect to the login is also rather funky)

[2018-03-09 08:27] redlicha commented on #1687
Relevant volumedriver configuration (cf. `volumedriver_fs --config-help-markdown`):

* `volume_manager` section
  * `number_of_scos_in_tlog`: A SCO is non-disposable (dirty) while it's not marked as safely stored on the backend. Marking it as disposable only happens once the associated TLog is safely stored on the backend. Not dynamically reconfigurable.
  * `non_disposable_scos_factor`: Factor to

[2018-03-09 14:59] JeffreyDevloo commented on #1929
This is not a bug. The DTL services are also checked.
@wimpers this can be closed

[2018-03-09 15:20] #1929 closed, assigned to nobody

[2018-03-09 15:51] jeroenmaelbrancke opened #1996 "Refresh update page failed when arakoon_config.ini is not found"
# Problem
With external arakoons the arakoon_config.ini is only used for arakoons.
This means if we deploy our arakoons on a different node the Controllers/volumedriver nodes are not aware of this file and only have the arakoon_cacc.ini.

For example Nuvolat setup:

NY1SRV0001:
The arakoon_config.ini is used for the arakoons of NY1 (local backends).
The arakoon_cacc.ini is used for the global setu

[2018-03-12 10:38] wimpers commented on #1950
Fixed by https://github.com/openvstorage/framework/issues/1687

[2018-03-12 10:38] #1950 closed, assigned to nobody

[2018-03-13 10:12] wimpers commented on #1218
One option would be to store the topology in the config Arakoon.

This way the edge (and NBD for that matter) could use the stored model (topology, cost, ...) to select a suitable failover node in case the base URI doesn't function  or in case of HA. The volumedriver could also use this for HA events.

The cons are that the edge currently doesn't have an arakoon binding. It also leaves us a securi

[2018-03-13 12:54] wimpers commented on #1574
@JeffreyDevloo can this one be closed? Anything left todo?

[2018-03-13 13:23] matthiasdeblock commented on #1839
Gunicorn currently has a bug in deleting temporary files on the filesystem which are already gone from the directory metadata. These files are filling up the disk and can only be deleted when you restart the webapp-api.

PR Gunicorn: https://github.com/benoitc/gunicorn/pull/1428

This PR got merged in December 2017 but the latest Gunicorn release is from March 2017 so it is not yet possible to imp

[2018-03-13 13:50] jeroenmaelbrancke opened #1997 "Update info hanging RC1 -> RC2"
# Problem
I'm testing the update from bighorn-rc-1 to rc-2.
After refreshing the update page the loading information did not disappear.
![image](https://user-images.githubusercontent.com/2900612/37345458-4ee24628-26cd-11e8-8916-12ff3b5be068.png)

[code]

Since openvstorage version 2.11.1 the method get_update_information_core is deprecated and is no longer available on the UpdateController but the

[2018-03-14 09:20] jeroenmaelbrancke commented on #1839
Rabbitmq has a bug https://github.com/rabbitmq/rabbitmq-server/issues/714 between master and slaves (deadlocks). This has been fixed in 3.6.x.
Today GIG ended up with this scenario. See ticket http://support.openvstorage.com/browse/OVSSUP-429

[2018-03-14 09:50] sjovdnbos commented on #1997
The stacktrace provided by Jeroen is irrelevant. He used a deprecated api call ``` get_update_status ```, but this call is nowhere used in the framework 2.11 version.
What is messing up the update info page is failure of loading of the storagenodes info, this is all i know for now.

[2018-03-14 10:04] jeroenmaelbrancke commented on #1992
The problem is not solved if we disable autoscale on the workers.

[code]

[code]

[2018-03-14 13:04] sjovdnbos commented on #1997
The problem lies not in the update logic but in the gui (update page) hanging, but I am for the moment not able to solve the issue.

## Workaround:
``` UpdateController.merge_package_information() ```
Should return a dict like
[code]
Use these components and run on a master node:
``` ovs update component1,component2,...```
This should update all nodes.

[2018-03-14 14:38] matthiasdeblock opened #1998 "Package_information property is misleading"
The package information from a storagerouter is providing me an empty dict.

Function https://github.com/openvstorage/framework/blob/2.11.4/ovs/lib/generic.py#L275 is pointing to the function @ https://github.com/openvstorage/framework/blob/2.11.4/ovs/lib/update.py#L84 but this is not fetching the current packages as mentioned in the description of that function. Function @ https://github.com/open

[2018-03-14 15:26] matthiasdeblock commented on #1998
My point here is that the hook to 'get_package_info_cluster' is missing in the GenericController.
It was there in version 2.11.1: https://github.com/openvstorage/framework/blob/2.11.1/ovs/lib/generic.py#L599

It is also possible that something else got changed.

[2018-03-14 15:33] matthiasdeblock commented on #1998
This might also be an issue to update the cluster to bighorn-rc3 in the future.

[2018-03-14 16:42] wimpers commented on #1996
Also an issue on IITB.

[2018-03-14 19:16] JeffreyDevloo commented on #1574
There is no full integration yet. The code standards are not applied, update code is not checking the healthcheck and the healthcheck is still a plugin

[2018-03-15 11:01] jeroenmaelbrancke opened #1999 "Scrubber connects to the wrong proxy"
# Problem
On SV the scrubber from vpool data-sv-4-02 connects to a proxy of ss-sv4-01.
In the celery log the config that has been used for the proxy is
[code]

I cannot find any  error logs in the celery log that the proxy creation failed.
On The scrub logging the first x volumes failed with Connection refused:

[code]
After 5 minutes the other volumes errored with Namespace doesn't exists.
[code]

[2018-03-15 12:47] jeroenmaelbrancke commented on #1996
extra logs before the stracktrace:
[code]

[2018-03-16 09:29] wimpers opened #2000 "Arakoon cluster names are identical"
nuvolat@NY1SRV0005:~$ alba dev-extract-config --config arakoon://config/ovs/arakoon/ny1-hddbackend01-nsm_01/config?ini=%2Fmnt%2Fssd1%2Farakoon%2Fexternal_arakoon_cacc.ini | grep cluster
cluster = 54JvUoNRaeDhqqD3,FLM4OmtPuCivo528,N0RCG4vXgbP0w8LQ,hVEIul3TXTpCAWwg,wZ4GAcmR2MZl5x7S
cluster_id = ny1-hddbackend01-nsm_01

nuvolat@NY1SRV0005:~$ alba dev-extract-config --config arakoon://config/ovs/arako

[2018-03-16 11:57] JeffreyDevloo commented on #1999
**Answers to your questions:**
`So how do you guys check if a scrub proxy has been deployed and is running?
Do you only check if the port is online or do you check via the service manager if the process is running?`
We check the status in Systemd

These logs indicate that the scrubbing proxy was created by this job.
[code]

Since it could start, that means that the port was not in use. So either t

[2018-03-16 12:05] sjovdnbos commented on #2000
@wimpers In case Ops created these arakoons, this is not a framework issue

[2018-03-16 12:29] openvstorage-ci commented on #2000
This issue was moved to openvstorage/dev_ops#156

[2018-03-16 12:29] #2000 closed, assigned to nobody

[2018-03-16 13:04] jeroenmaelbrancke commented on #1999
Maybe because the workers are getting killed with a signal 15 (#1992)?

[2018-03-16 15:53] sjovdnbos opened #2001 "node_id changing when installing manager"
### case
I first installed the iscsi-manager
``` system().get_my_machine_id() ``` resulted in CPb9tClS0RAF2MsX
Next, I installed the asd-manager
```system().get_my_machine_id ``` resulted in 'vdlXHhUZ5Lp19Z8r'
Ultimately, I installed openvstorage-hc
```system().get_my_machine_id ``` resulted in 'ruUhfibE6UOBTdpa'

This last id, 'ruUhfibE6UOBTdpa' is the expected id: it is present in /etc/openvstor

[2018-03-16 16:35] JeffreyDevloo commented on #2001
This is intended behavior. The ASD-Manager, ISCSI-manager and the Framework itself are all separate products and thus have their own code.
Every product has a different file in which the ID gets stored and their implementation of the `System` class references that file.

[2018-03-19 08:15] wimpers commented on #1688
Closing this one down as won't fix as once we have Arakoon on RocksDB. copy-db-to-head no longer makes any sense.

[2018-03-19 08:15] #1688 closed, assigned to nobody

[2018-03-19 08:37] wimpers commented on #2001
I understand where this behaviour comes from.  I don't think on the other hand that it is a good idea that  a node_id changes based on packages you installed.  F.e. in the above the same code first returns  `CPb9tClS0RAF2MsX` and after installing the HC packages the same call results a different id `ruUhfibE6UOBTdpa`. This can be intended behaviour but it makes things very complex.

I believe a be

[2018-03-19 09:31] JeffreyDevloo commented on #1996
Update logging is stored under /var/log/ovs/update.log
All update related things are stored in this log file
[code]

[2018-03-19 11:03] JeffreyDevloo commented on #1996
The update code expects a Arakoon named 'config'. This should be 'cacc' though

[2018-03-19 13:18] JeffreyDevloo commented on #1998
Intended as there are errors when retrieving this information

[2018-03-19 13:44] matthiasdeblock commented on #1998
There where no errors while retrieving this information on RC2. It should show the installed packages but it can never gather them as function refresh_package_information() (https://github.com/openvstorage/framework/blob/2.11.4/ovs/lib/generic.py#L275) is never gathering the installed packages. Function refresh_package_information() is pointing to https://github.com/openvstorage/framework/blob/2.1

[2018-03-20 09:53] wimpers commented on #1972
Since the problem is not solved if we disable autoscale on the workers, I'm closing this one down with won't fix.

[2018-03-20 09:53] #1972 closed, assigned to nobody

[2018-03-20 16:13] JeffreyDevloo commented on #1996
To update from 2.11.1 to a later version, replace the /opt/OpenvStorage/lib/update.py with (the 'config' arakoon was renamed to 'cacc' in the file)
[code]

[2018-03-21 10:43] JeffreyDevloo opened #2006 "[Bighorn RC2] Support overview broken"
### Problem description
The package information and heartbeat data did not get displayed on the page

[code]

The Framework uses OrderedDicts for sorting purposes when retrieving packages/other info to use them further down the line (like in the update)
YAML can't encode the OrderedDict as it is not derived from the python dict in 2.7 (no issue in python 3.6)

[2018-03-21 12:58] JeffreyDevloo commented on #1998
The refresh package information only detects the changes of the packages.
This is the result when checking to update towards fwk-develop from Bighorn-rc2:

[code]

The flow that happens:
- https://github.com/openvstorage/framework/blob/2.11.4/ovs/lib/generic.py#L275 -> invoked through the API
- https://github.com/openvstorage/framework/blob/2.11.4/ovs/lib/update.py#L84 -> hook gets executed (fetch

[2018-03-21 13:13] JeffreyDevloo commented on #1999
Looks like the issue could be that a second scrub job would have deployed a new proxy and the older proxy (of the job for which you provided logging) might have died, causing the port to free up. This should all have happened in the 2 minute timewindow before the volumedriver was starting to scrub.

We should protect ourselves against this though.
The real question is why the proxy did not start/u

[2018-03-21 13:23] matthiasdeblock commented on #1998
Then I see 2 options:
* make sure the output show the installed packages if all updates are applied
* rename it to update_information...

[2018-03-21 13:23] JeffreyDevloo commented on #1998
@wimpers Your decision

[2018-03-21 14:20] matthiasdeblock commented on #1992
21/03 at 15:20 we had to restart the workers again in NY.

[2018-03-21 14:58] wimpers commented on #1998
I prefer option 1: always show installed packaged and if candidate packages exist, add them too. Set to minor but still want to fix it as it is confusing as hell.

[2018-03-21 15:22] jeroenmaelbrancke commented on #1992
21/03 at 16:22 we had to restart the workers again in NY2.

[2018-03-21 16:58] wimpers commented on #2006
Can this be moved to code complete or is there anything else todo?

[2018-03-22 09:40] matthiasdeblock commented on #1839
Digital Energy had the same rabbitmq issue as described in the comment above.

[2018-03-22 10:56] JeffreyDevloo commented on #2001
Please note that this is not the same system call. The ones for every product still return the same ID all the time. They are just different for the Framework, ASD-Manager and Iscsi-Manager
Todo:
get_my_machine_id() should point towards the same file for every product. This could be done in the openvstorage_extensions (as the system base class is located here)
add an additional get_my_product_id()

[2018-03-22 14:38] JeffreyDevloo commented on #2006
Fixed by #2008
Released in https://github.com/openvstorage/framework/releases/tag/2.11.5

[2018-03-22 14:38] #2006 closed, assigned to nobody

[2018-03-22 14:38] JeffreyDevloo commented on #1996
Fixed by #2002
Released in https://github.com/openvstorage/framework/releases/tag/2.11.5

[2018-03-22 14:38] #1996 closed, assigned to nobody

[2018-03-22 14:39] JeffreyDevloo commented on #1997
Fixed by #2003
Released in https://github.com/openvstorage/framework/releases/tag/2.11.5

[2018-03-22 14:39] #1997 closed, assigned to nobody

[2018-03-26 12:21] wimpers opened #2010 "Integrate ALBA recycle bin concept"
See https://github.com/openvstorage/alba_ee/issues/270#issuecomment-376144179

Set the default cleanup time to 30 days at install time.

[2018-03-26 14:15] jeroenmaelbrancke commented on #1992
25/03 at 16:14 we had to restart the workers again in NY.
26/03 at 16:15 we had to restart the workers again in NY.

[2018-03-26 14:43] toolslive opened #2011 "tab completion does not work if not root"
[code]

[2018-03-27 08:03] jeroenmaelbrancke opened #2012 "Updating framework result into updating iscsi plugin from rc1 -> rc2"
# Problem
On Centrilogic i updated FWK, Alba and Volumedriver from rc1 -> rc2.
ISCSI plugin is also installed on this environment and i was not sure if this was tested or not. So i unchecked the update for this plugin.
Found in the logs that ISCSI plugin was also been updated on the nodes while i ask not to do this.

# Logs
[update.log](https://github.com/openvstorage/framework/files/1850944/updat

[2018-03-27 08:13] JeffreyDevloo commented on #2012
THe iscsi-plugin is part of the Framework update. This is intended as all plugins need to work with the latest Framework version

[2018-03-27 08:25] jeroenmaelbrancke commented on #2012
So why do give the option on the update page to update/not update the plugin?
+Found out that the volumedrivers are not restarted via the gui.

[2018-03-27 08:45] matthiasdeblock opened #2013 "Automatically set the logging to debug level when updating cluster"
By default the logging for the framework components is set to 'info'. When you want to update the cluster, you need to manually change this to 'debug' if you want some logging when hitting the update button.

Setting the logging level to 'debug' is something the update process should need to configure. So, enable debug when starting the update process and disabling the debug level when finished.

[2018-03-27 09:12] JeffreyDevloo commented on #2012
The option points towards the iscsi-managers. The Framework models them as iscsi-nodes which come from the plugin.
There is a valid explanation. The naming just isn't that good :)

[2018-03-27 09:51] sjovdnbos opened #2014 "Install Paramiko race vs garbage collection"
### Description
New installs now and then result in a paramiko failure. Discussion with @JeffreyDevloo learned that this might be due to sys.exit calls:
[code]

### stacktrace
[code]

[2018-03-27 14:23] wimpers commented on #2013
Better solution would be that the update logs the necessary as INFO so you don't have to fiddle with the log settings.

[2018-03-27 14:27] jeroenmaelbrancke commented on #1992
27/03 at 16:26 we had to restart the workers again in NY.

[2018-03-28 07:04] sjovdnbos commented on #2001
### Fixed by
https://github.com/openvstorage/framework-extensions/pull/92

[2018-03-28 07:58] matthiasdeblock commented on #1992
Please keep in mind that scrub jobs are not completed and the backends are filling up:
![image](https://user-images.githubusercontent.com/14923932/38015709-ebade5fc-326c-11e8-9065-2abcaf22b9b9.png)

[2018-03-28 10:00] saelbrec commented on #1992
@matthiasdeblock or @jeroenmaelbrancke,
Can we investigate if failure in scrubbing turns out to be the culprit?
Please check the scrub logs for reasons of scrub failures that can be related to these worker failures.
If that's the case we should try to fix the issue why the scrubbing is failing and this worker issue will for this occurence auto-resolve itself.

[2018-03-28 10:03] matthiasdeblock commented on #1992
In my opinion there are 2 possible reasons why the workers are getting shot.
1) the autoscaling
2) something with the scrubbing.

I will look into it and try to get some more logging on failed scrubbing tasks.

[2018-03-28 11:15] JeffreyDevloo commented on #1992
Scrubber would a very weird one. If the scrubber sends a sigkill, only that one worker process would get killed, not the whole cluster

[2018-03-28 11:30] matthiasdeblock opened #2016 "NoneType error on mountpoint check while adding vpool"
Openvstorage 2.9.12-1

Error while extending vpool on a storagerouter which has a disk with mountpoint 'None'.

[code]

[2018-03-28 14:22] wimpers commented on #1992
@JeffreyDevloo  basically you are saying there are 2 problems at hand?
* Why did the first worker die.
* Why did all the rest of the workers  (even on other node) went down with it.

[2018-03-28 20:22] jeroenmaelbrancke commented on #1992
28/03 at 22:16 we had to restart the workers again in SV.

[2018-03-29 12:39] jeroenmaelbrancke opened #2018 "swagger ui not working with chrome version 65"
# Problem
With Chrome version 65 the swagger ui gives us a CORS error.

![image](https://user-images.githubusercontent.com/2900612/38089005-4101acd6-335e-11e8-9e2d-4387a1b952c7.png)

![image](https://user-images.githubusercontent.com/2900612/38089128-ab21da32-335e-11e8-8db1-42ca028382b1.png)

With the previous version of Chrome (64) we don't have this problem.

![image](https://user-images.githubu

[2018-03-30 13:29] JeffreyDevloo commented on #2018
Looks like no HTTP_META is sent with the preflight requests. We should just open the api/swagger.json for all domains instead of setting to the domain that  requested the resource

[2018-04-02 15:00] jeroenmaelbrancke commented on #1992
02/04 at 16:17 we had to restart the workers again in NY.

[2018-04-03 12:11] matthiasdeblock commented on #1992
Checked the logs of the workers and the time they went down I found an ArakoonNoMaster stacktrace on 3 nodes.

The warm shutdown got triggered at the same time.
[code]

Arakoon log ovsdb:
[code]

Stacktraces:
[code]

[code]

[code]

[2018-04-04 13:35] wimpers commented on #1839
DE had another instance of this http://tickets.openvstorage.com/browse/OVSSUP-453

[2018-04-04 13:55] wimpers commented on #1839
Note that 18.04 comes with RabbitMQ 3.6.10 so maybe better to with that version instead of 3.612 or 3.7.X.

[2018-04-04 14:07] JeffreyDevloo commented on #1037
Currently implementing this along the way. It provides a way for some static type checking.
Requirement: python-typing package which needs to be converted from pypi.

[2018-04-05 07:19] jeroenmaelbrancke commented on #1839
I'm running RabbitMQ 3.7.4-1 on my test environment.
[code]
See ansible role how to setup: https://github.com/openvstorage/setups/tree/qa/openvstorage/qa/VIR-18N-50.10/roles/externalRabbitMQ

[2018-04-06 08:21] JeffreyDevloo opened #2020 "Dynamic update"
### Feature description
The current Framework update requires all Framework related components to be down. The reason behind this is so that the whole clustered setup runs with the same version all at once to avoid:
- Database inconsistency
- Code inconsistency (celery workers would be running older code than another worker)

This ticket serves as a reminder that we should opt to make it dynamic,

[2018-04-06 08:47] wimpers commented on #2020
Duplicates https://github.com/openvstorage/framework/issues/1179 ?

[2018-04-06 12:02] JeffreyDevloo commented on #2020
@wimpers Indeed.

[2018-04-06 12:02] #2020 closed, assigned to nobody

[2018-04-06 13:03] sjovdnbos commented on #1977
Appeared to be a temporary issue, no problem anymore.

[2018-04-06 13:04] #1977 closed, assigned to nobody

[2018-04-06 14:18] JeffreyDevloo opened #2022 "Migrate Travis to Jenkins"
Allows for more customizing and use of internal, sensitive data in our jobs

[2018-04-09 08:38] JeffreyDevloo opened #2023 "Detect AWS disks"
### Problem description
The disks of an AWS node do not have any id associated with them. AWS ensures that the diskname stays the same.
The Framework is currently unable to work with only the diskname. We should detect and assume it is an AWS in that case.
For sync_disks logging: please see https://github.com/openvstorage/alba-asdmanager/issues/325

[2018-04-10 07:42] JeffreyDevloo commented on #2022
Opted for a rewrite of our Docker file to work with Travis secrets instead.

[2018-04-10 07:42] #2022 closed, assigned to JeffreyDevloo

[2018-04-10 07:43] JeffreyDevloo commented on #2011
Related to https://github.com/openvstorage/framework/issues/1817

[2018-04-12 12:31] JeffreyDevloo opened #2025 "[Develop] vdisk cache quota is broken"
vdiskcheckup: the way the quota info is fetched is faulty

2018-04-12 14:33:12 73800 +0200 - DEV-4N-199-191 - 2258/140569954739968 - lib/vdisk.py - vdisk_checkup - 29 - ERROR - Error when setting cache quotas
Traceback (most recent call last):
  File "/opt/OpenvStorage/ovs/lib/vdisk.py", line 150, in vdisk_checkup
    metadata = vpool.metadata['backend']['caching_info'].get(vdisk.storagerouter_gui

[2018-04-12 13:06] JeffreyDevloo commented on #1992
I have an assumption:
kill the memcached nodes on an envir and check the status of the workers.
the loss of the resultbackend might make them all go down?
EDIT: Might be this issue. This following log is seen:
[code]
So when the workers would be processing some tasks: exit 15, exited prematurely might be expected.

[2018-04-13 14:00] wimpers commented on #1902
The `head_dir` config might be removed in the meantime (if the move to RocksDB is finished https://github.com/openvstorage/arakoon/issues/128)

[2018-04-18 08:39] JeffreyDevloo opened #2027 "Allow longer vdisk names"
Team India is bumping into the vdisks 50 char constraint on Bighorn

[2018-04-19 14:17] jeroenmaelbrancke commented on #1992
19/04 at 16:16 we had to restart the workers again in NY.

[2018-04-19 15:49] JeffreyDevloo commented on #1451
Ticket is offloaded to the iscsi-manager

[2018-04-19 15:49] #1451 closed, assigned to nobody

[2018-04-20 15:06] JeffreyDevloo commented on #2027
Fixed by #2030
Packaged in openvstorage-core_2.12.0-dev.1524232601.13075b8-1_amd64.deb

[2018-04-23 13:17] #1947 closed, assigned to nobody

[2018-04-23 13:17] wimpers commented on #1947
Let's tackle this when there are complaints.

[2018-04-23 13:41] wimpers commented on #1687
@JeffreyDevloo didn't we implement this already. I believe I saw screenshots of
this.

[2018-04-23 14:07] JeffreyDevloo opened #2032 "Pagination won't move to different page when items are still loading"
Title explains it all.

[2018-04-23 14:12] JeffreyDevloo commented on #1687
No. The front-end side has the option to configure them, but that is currently disabled.
The API side of things has not be done

[2018-04-23 14:36] JeffreyDevloo commented on #2025
Fixed by #2031
Packaged in openvstorage-core_2.12.0-dev.1524492819.3d5c1e4-1_amd64.deb

[2018-04-23 15:18] wimpers commented on #1687
Can you put an estimate on the API side?

[2018-04-23 15:39] JeffreyDevloo opened #2033 "[Bighorn] VDisk overview shows vtemplates"
### Problem description
The vtemplate disks are not shown in the vdisk overview normally. They should be filtered out.

[2018-04-23 15:39] JeffreyDevloo commented on #2033
Tiny one to fix. The query was not hooked to the API since the introduction of the query.

[2018-04-24 07:50] JeffreyDevloo commented on #2033
Fixed by: https://github.com/openvstorage/framework/pull/2034
Packaged in: openvstorage-core_2.12.0-dev.1524554945.5e5ea9c-1_amd64.deb

[2018-04-24 08:13] jeroenmaelbrancke opened #2035 "Unable to shrink vpool when vtemplate has been created"
# Problem
When a vDisk has been set to a vTemplate the storagerouter, where the VDisk was running, thinks the volume is still there and we are unable to shrink the vpool for this particular storagerouter.

For example:

No vdisks are running on voldrv03
![image](https://user-images.githubusercontent.com/2900612/39174248-73b7f0ce-47a7-11e8-89e8-68732020da90.png)

vdisk has been created on voldrv03

[2018-04-26 13:26] JeffreyDevloo opened #2036 "Updating node_configs during cluster_registry_checkup only works for node_distance_map changes"
### Problem description
If any other key but 'node_distance_map' of a node config changes, the wrong action is taken (just an update of the current values)
If any other key would have changed, the config should be updated in two steps: remove the current entry and add the new one

[2018-04-27 14:31] matthiasdeblock opened #2037 "Option to deselect arakoon when upgrading the FWK through the GUI"
When upgrading the FWK through the GUI we must have the opportunity to deselect the arakoon package when the arakoons are externally managed.

On Nuvolat I had to roll-back the arakoon package after the FWK upgrade. The newly installed arakoon version wasn't compatible with the installed ALBA version.

**Suggestion**
Split the FWK upgrade in 2 parts. Arakoon and Open vStorage.

[2018-05-03 15:43] JeffreyDevloo opened #2040 "Handle the combined Alba/Arakoon package"
See https://github.com/openvstorage/alba_ee/issues/311

[2018-05-03 15:45] JeffreyDevloo commented on #1835
Tackling as the iscsi-ha changes require even more generic calls

[2018-05-03 15:58] JeffreyDevloo commented on #2037
Just a small thought. If Arakoon would get updated with another package (like Alba), the cluster would be in a mixed setup. But this can happen with the current update flow too so not that big of an issue...

[2018-05-03 16:08] JeffreyDevloo commented on #1861
The integration of the CLI in the Healthcheck might be a solution here.
Related PR: https://github.com/openvstorage/openvstorage-health-check/pull/447

[2018-05-04 02:54] run283092610 opened #2041 "how can i find client id and client secret"
hi
when i add vpool choose Use another Backend as Cache but i need to write client id and client secret how can i find this and how can i create it
thanks

[2018-05-04 07:44] wimpers commented on #2041
On the cluster where the backend is located that you want to add, go to Administration > User Mgmt .
Under OAuth 2 Clients for admin you can create a new client ID and secret with as roles Write, Read, Manage.

[2018-05-04 07:44] #2041 closed, assigned to nobody

[2018-05-04 08:20] JeffreyDevloo commented on #1835
Fixed by https://github.com/openvstorage/framework/pull/2039
Packaged in openvstorage-core_2.12.0-dev.1525420669.4a3f34e-1_amd64.deb

[2018-05-04 15:19] JeffreyDevloo opened #2044 "[Bighorn]Verify vdisk cache quota job failing"
[code]

[2018-05-04 15:26] wimpers commented on #2044
Somehow related to https://github.com/openvstorage/framework/issues/2025 ?

[2018-05-08 14:16] sjovdnbos commented on #2044
[code]
This one is frequently occurring too.

@wimpers The ticket you mentioned should have been fixed, as Jef labelled it```statecodecomplete```. The errors are related though, indeed.

[2018-05-08 14:38] sjovdnbos commented on #2044
### Fixed by:
https://github.com/openvstorage/framework/pull/2046
### Package information:
openvstorage-2.12.0-dev.1525789298.a515378

[2018-05-09 14:57] JeffreyDevloo commented on #2044
Released in https://github.com/openvstorage/framework/releases/tag/2.12.0
Packaged in openvstorage-core_2.12.0-1_amd64.deb

[2018-05-09 14:57] #2044 closed, assigned to nobody

[2018-05-09 14:57] JeffreyDevloo commented on #2033
Released in https://github.com/openvstorage/framework/releases/tag/2.12.0
Packaged in openvstorage-core_2.12.0-1_amd64.deb

[2018-05-09 14:57] #2033 closed, assigned to JeffreyDevloo

[2018-05-09 14:57] JeffreyDevloo commented on #2027
Released in https://github.com/openvstorage/framework/releases/tag/2.12.0
Packaged in openvstorage-core_2.12.0-1_amd64.deb

[2018-05-09 14:57] #2027 closed, assigned to JeffreyDevloo

[2018-05-09 14:58] JeffreyDevloo commented on #2025
Released in https://github.com/openvstorage/framework/releases/tag/2.12.0
Packaged in openvstorage-core_2.12.0-1_amd64.deb

[2018-05-09 14:58] #2025 closed, assigned to JeffreyDevloo

[2018-05-09 14:58] JeffreyDevloo commented on #2001
Released in https://github.com/openvstorage/framework/releases/tag/2.12.0
Packaged in openvstorage-core_2.12.0-1_amd64.deb

[2018-05-09 14:58] #2001 closed, assigned to sjovdnbos

[2018-05-09 14:58] JeffreyDevloo commented on #1968
Released in https://github.com/openvstorage/framework/releases/tag/2.12.0
Packaged in openvstorage-core_2.12.0-1_amd64.deb

[2018-05-09 14:58] #1968 closed, assigned to JeffreyDevloo

[2018-05-09 14:58] JeffreyDevloo commented on #1897
Released in https://github.com/openvstorage/framework/releases/tag/2.12.0
Packaged in openvstorage-core_2.12.0-1_amd64.deb

[2018-05-09 14:58] #1897 closed, assigned to nobody

[2018-05-09 14:58] JeffreyDevloo commented on #1835
Released in https://github.com/openvstorage/framework/releases/tag/2.12.0
Packaged in openvstorage-core_2.12.0-1_amd64.deb

[2018-05-09 14:58] #1835 closed, assigned to JeffreyDevloo

[2018-05-09 14:58] JeffreyDevloo commented on #1678
Released in https://github.com/openvstorage/framework/releases/tag/2.12.0
Packaged in openvstorage-core_2.12.0-1_amd64.deb

[2018-05-09 14:58] #1678 closed, assigned to JeffreyDevloo

[2018-05-09 14:58] JeffreyDevloo commented on #1669
Released in https://github.com/openvstorage/framework/releases/tag/2.12.0
Packaged in openvstorage-core_2.12.0-1_amd64.deb

[2018-05-09 14:58] #1669 closed, assigned to JeffreyDevloo

[2018-05-09 14:58] JeffreyDevloo commented on #1658
Released in https://github.com/openvstorage/framework/releases/tag/2.12.0
Packaged in openvstorage-core_2.12.0-1_amd64.deb

[2018-05-09 14:58] #1658 closed, assigned to JeffreyDevloo

[2018-05-14 10:45] JeffreyDevloo commented on #2010
Released in https://github.com/openvstorage/framework/releases/tag/2.12.0/https://github.com/openvstorage/framework-alba-plugin/releases/tag/1.12.0
Packaged in openvstorage-core_2.12.0-1_amd64.deb/openvstorage-backend-core_1.12.0-1_amd64.deb

[2018-05-14 10:45] #2010 closed, assigned to JeffreyDevloo

[2018-05-14 10:47] JeffreyDevloo commented on #1709
It could be that the exit code is actually 0, a clean shutdown.
We should set the restart to always instead of on failure to restart in all cases

[2018-05-16 13:21] JeffreyDevloo opened #2052 "Auto-refresh dynamics"
### Feature description
This feature is a responsive to big lists having longer-to-calculate dynamics. Retrieving a big list which serializes the dynamics of the object can take so long that the cached dynamics of that object have already expired. Fetching that same list again would thus result in re-calculating the dynamics.

There should be separate process which keeps on refreshing the dynamics

[2018-05-16 13:40] wimpers commented on #2052
This is what SIMF does:
contents=vpools,vdisks,info,_dynamics,_relations,snapshots,snapshot_ids,-statistics

[2018-05-16 14:01] JeffreyDevloo commented on #2052
For all vdisks (2.8k).

[2018-05-17 08:12] wimpers commented on #2052
Let's re-open this request once they hit that brick wall.

There are some voldrv tickets which might help here too
* https://github.com/openvstorage/volumedriver-ee/issues/34
* https://github.com/openvstorage/volumedriver/issues/366
* https://github.com/openvstorage/volumedriver/issues/332
* https://github.com/openvstorage/volumedriver/issues/325

[2018-05-17 08:14] #2052 closed, assigned to JeffreyDevloo

[2018-05-22 08:49] jeroenmaelbrancke opened #2054 "Scrubber config incorrect amount of proxies"
# Problem
The scrubber uses the config from an existing volumedriver and changes the ip and port of the proxy.
In the current setup we only deploy one scrubber proxy while the existing volumedriver have more than one proxy configured.

The suggestion is to deploy 4 scrubber proxies so the scrubber can blacklist some proxies if needed.

[2018-05-22 13:28] wimpers commented on #2037
Put to roadmap since there is a workaroud.

[2018-05-22 13:33] matthiasdeblock commented on #2037
It is an issue for alba. When the arakoons get restarted and the alba version has not the required arakoon, everything can go down.

Currently, after an upgrade, we need to rollback arakoon.

[2018-05-22 13:35] wimpers commented on #2036
Was the result of manual tweaking

[2018-05-22 13:42] wimpers commented on #2023
To be checked if boto might tackle this.

[2018-05-22 13:47] wimpers commented on #2018
Set to roadmap as there is a temp/internal fix

[2018-05-22 13:48] wimpers commented on #2016
Disk wasn't mounted.

[2018-05-22 13:49] wimpers commented on #2016
@matthiasdeblock any idea what was the context of the ticket? Anything special as to why the partition wasn't mounted?

[2018-05-22 13:51] wimpers commented on #2014
This is a dirty error, doesn't break anything.

[2018-05-22 13:54] wimpers commented on #2012
Just rename the confusing entry.

[2018-05-22 13:55] wimpers commented on #2011
Lot's of work if we need to fix this one

[2018-05-23 14:50] wimpers commented on #1712
We are moving away to external arakoons.

[2018-05-23 14:50] #1712 closed, assigned to saelbrec

[2018-05-23 14:58] wimpers commented on #1993
Re-open once required.

[2018-05-23 14:58] #1993 closed, assigned to wimpers

[2018-05-24 10:18] JeffreyDevloo opened #2057 "Volume creation should setup the full mds backend config"
### Problem description
After creating the volume: the mds_checkup code is ran to extend the mds backend config with mds slave information.
This can be problematic in the scenario where the mds_checkup would fail. Setting it correct initially could avoid some problems

[2018-05-24 12:13] JeffreyDevloo opened #2058 "Investigate support-agent memory consumption"
### Problem description
The support-agent seems to cumulate memory the longer it runs.
As seen of the Pocops envir: 3.5G memory in use. After restart this was 90MB

[2018-05-25 13:24] JeffreyDevloo opened #2059 "Allow scrubber to be configured with multiple proxies instead of a fixed 1"
### Enhancement
The scrubber should be configurable to deploy more than one scrub proxy for every vpool

[2018-05-25 13:30] JeffreyDevloo commented on #2059
We have opted for a configuration entry within config mgmt:
`/ovs/framework/hosts/INSERT STORAGEROUTER MACHINE ID/config|scrub_proxy_amount` can be set with an integer value. This controls how many proxies will be deployed for that machine. Defaults back to 1 when missing
Fixed by https://github.com/openvstorage/framework/pull/2056
Released in https://github.com/openvstorage/framework/releases/tag

[2018-05-25 13:30] #2059 closed, assigned to nobody

[2018-05-25 13:31] JeffreyDevloo commented on #2054
Number of proxies was moved to a different ticket: https://github.com/openvstorage/framework/issues/2059
Fixed by https://github.com/openvstorage/framework/pull/2056
Released in https://github.com/openvstorage/framework/releases/tag/2.9.13
Packaged in openvstorage-core_2.9.13-1_amd64.deb

[2018-05-25 13:31] #2054 closed, assigned to nobody

[2018-05-30 08:00] jeroenmaelbrancke opened #2062 "Scrubber logging - add volume id"
Is it possible to add the volume_id of a vdisk to the scrubber log?

For example:
[code]

We have all the information where the scrubber was deployed and where the vdisk is running but we do not know what the volume id is of the vdisk. We still need to interact with the ovs shell to know the volume id before we can tackle the problem.

[2018-05-30 12:22] JeffreyDevloo opened #2063 "Result backend - Handle master switches"
### Problem description
Once a upload fails on Arakoon, the resultbackend gives up instantly, causing the ovs-workers to stop.
The most frequent exception is the NoMaster which can be a temporarily thing.
There should be a retry period.

[2018-05-30 12:23] JeffreyDevloo opened #2064 "Disable vdisk snapshot deletion when the disk is scrubbed"
### Problem description
Removing snapshots while a vdisk is being scrubbed will make the scrubber fail.
The Framework should register which vdisk is being scrubbed at the moment and act accordingly

[2018-05-30 12:34] JeffreyDevloo commented on #2064
Taking it up so customers can rely on the Framework to might the right decisions instead of taking matters into their own hands

[2018-05-30 15:52] JeffreyDevloo commented on #2062
Taking it up together with changes related to https://github.com/openvstorage/framework/issues/2064

[2018-05-31 12:33] jeroenmaelbrancke opened #2065 "Update HC together with FWK"
# Problem
When updating OVS via the gui the healthcheck is still at an older version.
I would expect that this package would be updated together with framework.
Do not install HC if the packages has not been installed.

[2018-06-03 03:25] Seealso opened #2066 "How to Turn On and Off Automatic Virtual Disk Snapshots, My Version 2.10.3"

[2018-06-04 07:26] wimpers opened #2067 "Track latest scrub of a vDisk"
On the vDisk detail page,  display the latest scrub  results
*  Date/time of last scrub, last scrub task ID, failure or succcess
*  Date/time of last successful scrub  and task ID

[2018-06-04 12:11] JeffreyDevloo commented on #2067
Can it be taken up with https://github.com/openvstorage/framework/issues/2064?

[2018-06-05 07:17] JeffreyDevloo opened #2068 "Log stack deployment failures of scrubber"
[code]
went by unnoticed. Since no stack could be deployed no scrubbing was done. The scrubber exited without any errors.

[2018-06-05 07:47] wimpers opened #2069 "Framework should check for valid input from the config arakoon"
Currently the  framework gets the data from the config arakoon without checking if what comes from the config is somehow valid.

As an example the following issue made the scrubber fail as an `int` was stored while a `json` was expected
[code]

Maybe just extending  `Configuration.get(key=threads_key,` default=2)` with the type you expect would already be a step forward. If the key would not be of

[2018-06-05 07:50] JeffreyDevloo commented on #2069
It was more the case of `/ovs/framework/hosts/R7kxOqtCkMGphcXM/config|scrub_stack_threads` which means retrieve key scrub_stack_threads from this config entry. If the config entry is not a json, we'd get keyerrors (suboptimal)

[2018-06-05 07:52] wimpers commented on #2069
Sure, but if there is a key error , you would expect the default to become true?

[2018-06-05 08:08] JeffreyDevloo commented on #2066
Hi Seealso
There is currently no real straightforward way to disable automatic snapshots. Our snapshotting system does not cause any overhead so we'd never have thought on disabling it with an API call.
If you wish to disable automatic snapshotting, you need to change the scheduling interval of the task to 'null':
[code]
Editing this entry can be done using `ovs config set`. The inserted data must

[2018-06-05 08:22] #2066 closed, assigned to nobody

[2018-06-05 14:50] Seealso commented on #2066
Hello, thank you for your reply
My current virtual disk does not have an automatic snapshot. I hope to have this feature and can customize the interval. what do I need to do? @JeffreyDevloo

[2018-06-05 16:30] jtorreke opened #2070 "Make create_new vdisk timeout configurable"
At the moment, the create_new vdisk timeout is hardcoded to 30 seconds. A configurable value would be convenient as it currently takes 33-37 seconds to create a new volume.

I'll update the values to 120 seconds manually for now.

[2018-06-06 04:09] Seealso opened #2071 "VDisk Auto Snapshot Settings"
VDisk automatic snapshot settings Hello, thank you for your reply
My current virtual disk does not have an automatic snapshot. I hope to have this feature and can customize the interval. what do I need to do? and l   ovs config get  /ovs/framework/scheduling/celery  is null

[2018-06-06 06:04] wimpers opened #2072 "integrate Graphite statistics"
Integrate the  Graphite statistics for:
* Voldrv
* ALBA

parent of https://github.com/openvstorage/volumedriver-ee/issues/58
parent of #2085

[2018-06-06 08:34] JeffreyDevloo opened #2073 "Scrubber: allow priority changes"
### Feature description
The current scrubber does not allow the order of scrubbing to change. If a big scrub job was queued with all vdisks, you cannot ask for vDisk X to be scrubbed separately anymore as the scrubber will detect it was already scheduled.

[2018-06-06 08:50] JeffreyDevloo commented on #2071
Hi Seealso
Disabling snapshots can be done by:
[code]
Changing the interval can be done by:
[code]
The format of a scheduling entry is composed of all possible crontab scheduling options from celery (http://docs.celeryproject.org/en/latest/reference/celery.schedules.html#celery.schedules.crontab)
Accepted keywords: `minute`, `hour`, `day_of_week`, `day_of_month`, `month_of_year`

If no automatic s

[2018-06-06 09:26] Seealso opened #2074 "Why are Ubuntu and centos 7vdisk automatic snapshots different?"
My Ubuntu has automatic snapshots of virtual disks, why centos 7 does not have automatic snapshots of virtual disks, what do I need to do?

[2018-06-06 09:28] Seealso commented on #2071
My Ubuntu has automatic snapshots of virtual disks, why centos 7 does not have automatic snapshots of virtual disks, what do I need to do? Does it not support the centos7 system? @JeffreyDevloo

[2018-06-06 10:22] JeffreyDevloo commented on #2071
We only support Ubuntu 16.04. I can't assist you with the CentOS compatibility.

[2018-06-06 10:23] JeffreyDevloo commented on #2074
We only support Ubuntu 16.04. I can't assist you with the CentOS compatibility.
See https://github.com/openvstorage/framework/issues/2071

[2018-06-06 10:23] #2074 closed, assigned to nobody

[2018-06-07 04:12] yongshengma commented on #2074
Is it a big deal to enable automatic snapshot in CentOS 7 ?
maybe I can do some coding work on it if you give some clue.

[2018-06-07 15:42] wimpers opened #2076 "Update voldrv config for longer timeouts so we can survive scrub retries"
Integrate what falls out of https://github.com/openvstorage/operations/issues/116

[2018-06-07 15:45] wimpers opened #2077 "Change scrub proxy cache policy to cache on write (no cache on read)"
Change scrub proxy cache policy to cache on write (no cache on read) (Jeff)

[2018-06-07 15:46] wimpers opened #2078 "Remove FAIL FAST variable from Framework"
Remove FAIL FAST variable from Framework

[2018-06-07 20:22] redlicha opened #2079 "A volume's MDS slave should not be reconfigured as master if its state is unclear"
Cf. https://github.com/openvstorage/volumedriver/issues/353 : a slave was newly set up and while the initial TLog replay was still ongoing, the volume was already configured to use this slave as master, which forces it to wait for the rebuild to finish.

[2018-06-08 03:30] yongshengma commented on #1958
Vdisk can be deleted without warning when edge client is connecting to it.  Even worse the old target is still exposing to network and it becomes an extra and fake one if the same vdisk name is reused.

[2018-06-08 08:58] JeffreyDevloo commented on #2078
Fixed by https://github.com/openvstorage/framework/pull/2080
Packaged in openvstorage-core_2.9.14-1_amd64.deb
Released in https://github.com/openvstorage/framework/releases/tag/2.9.14

[2018-06-08 08:58] #2078 closed, assigned to JeffreyDevloo

[2018-06-08 08:59] JeffreyDevloo commented on #2077
Already part of the code: https://github.com/openvstorage/framework/blob/2.9.12/ovs/lib/storagerouter.py#L748

[2018-06-08 08:59] #2077 closed, assigned to JeffreyDevloo

[2018-06-08 09:02] JeffreyDevloo commented on #2076
Fixed by https://github.com/openvstorage/framework/pull/2080
Packaged in openvstorage-core_2.9.14-1_amd64.deb
Released in https://github.com/openvstorage/framework/releases/tag/2.9.14

### Usage
A new key was introduced:
ovs/vpools/VPOOL_GUID/scrub/tweaks which accepts a JSON format.
The JSON data can contain a `backend_connection_manager` of which the `backend_interface_retry_backoff_multiplier`,

[2018-06-08 09:02] #2076 closed, assigned to nobody

[2018-06-08 09:04] JeffreyDevloo opened #2081 "Scrubber - allow tweaking of lock lease"
### Enhancement description
The locked client accepts a parameter to tweak the lock lease duration. The Framework should allow it to be configured

[2018-06-08 09:07] JeffreyDevloo commented on #2081
Fixed by https://github.com/openvstorage/framework/pull/2080
Packaged in openvstorage-core_2.9.14-1_amd64.deb
Released in https://github.com/openvstorage/framework/releases/tag/2.9.14

### Usage
Two keys were introduced:
`/ovs/volumedriver/intervals` which configures the locked lease interval for all vpools
`ovs/vpools/VPOOL_GUID/scrub/tweaks` which configures the locked lease interval for a speci

[2018-06-08 09:07] #2081 closed, assigned to JeffreyDevloo

[2018-06-08 09:11] JeffreyDevloo commented on #2070
Fixed by https://github.com/openvstorage/framework/pull/2080
Packaged in openvstorage-core_2.9.14-1_amd64.deb
Released in https://github.com/openvstorage/framework/releases/tag/2.9.14

### Usage
A new key was introduced
`/ovs/volumedriver/timeouts`
It accept a JSON format. To change the timeout for create_volume: the key `create_volume` should be set

For example:
Generic:
[code]

[2018-06-08 09:11] #2070 closed, assigned to JeffreyDevloo

[2018-06-08 12:19] JeffreyDevloo opened #2084 "[Update] - Investigate why memcached was not restarted"
### Problem description
After updating the global cluster on Nuvolat, the memcached instances were only stopped, never restarted.
This caused the watcher framework to not start.

Only failure logging
[code]

[2018-06-08 13:52] JeffreyDevloo opened #2085 "[Scrubber] - Push statistics of scrub jobs"

[2018-06-08 15:54] JeffreyDevloo opened #2086 "[lib decorators] - Preserve function contexts within decorators"
Certain decorators do not have the functool.wraps around them. This means that certain information is lost when fetching the docstrings

[2018-06-11 07:17] JeffreyDevloo opened #2087 "[MDS] - MDS Checkup should look for slaves being too out-of-sync"
### Enhancement description
The mds checkup code should verify how far a slave is behind master. If it reaches a certain threshold of tlogs -> invoke a catchup for the slave.
The framework currently only catches-up if a new master must be set (so the master is local again)

The benefit is that on fail-over cases: the volumedriver won't need to replay so much and the fail-over will happen faster

[2018-06-11 09:13] #2071 closed, assigned to nobody

[2018-06-11 09:16] wimpers commented on #2072
* scrubber  stats https://github.com/openvstorage/framework/issues/2085

[2018-06-11 19:58] JeffreyDevloo opened #2088 "[API] - Log middleware exceptions"
Certain middleware functions are not logged in the webapp-api

[2018-06-13 01:00] Seealso opened #2089 "The automatic snapshot of vdisk is not executed, celery is not executed, and the time is set"

[2018-06-13 07:40] JeffreyDevloo commented on #2089
Too fully understand what is going wrong, I'd need an answer to the following questions:
- What OpenvStorage packages are you running (dpkg -l | grep openvstorage)
- What was the time set too (ovs config get /ovs/framework/scheduling/celery)
- Are the workers running (can be checked with the healthcheck: apt-get install openvstorage-health-check && ovs healthcheck ovs)
- Which OS are you using?
-

[2018-06-13 09:17] JeffreyDevloo commented on #2087
Might take a little longer than anticipated: the catching-up of slaves should happen asynchronously (non-blocking to the ensure_safety call). The volumedriver has no call implemented to see if a mds_checkup is happening so the Framework will have to register the metadata itself.

[2018-06-14 08:03] Seealso commented on #2089
Hello, thank you for your reply
**1. The OpenvStorage package I am running is**
[code]
**2. Set the time to**
[code]
**3. Whether the staff is running**
[code]
**4. Using `centos 7` operating system**
**5 machine log**

[code]
@JeffreyDevloo

[2018-06-14 08:15] JeffreyDevloo commented on #2089
Hi @Seealso

I'd like to check a few more things:
- Can you change the logging to 'DEBUG'? This is done using ovs config edit ovs/framework/logging
to get
[code]
- Are you able to create snapshots using the GUI?
![image](https://user-images.githubusercontent.com/17570109/41399598-0ab858d4-6fbb-11e8-97b6-cde696a7727f.png)
- Can you restart the ovs-scheduled-tasks.service and provide me the logging?

[2018-06-14 09:46] yongshengma commented on #2089
Hi @JeffreyDevloo

I'm using openvstorage on CentOS 7 and I got the same issue too.  For your last questions, I have the following to show you :
[code]

I'm able to create snapshot at using GUI.

Best regards,
Yongsheng

[2018-06-15 07:47] JeffreyDevloo commented on #2089
Hi @Seealso @yongshengma

What happens when you run the task manually? This can be done using the ipython shell
[code]
Please let me know if this is causing errors. If not, celery-beat is at fault here

[2018-06-15 10:09] yongshengma commented on #2089
Hi @JeffreyDevloo

In [1]: from ovs.lib.generic import GenericController

In [2]: GenericController.snapshot_all_vdisks()
2018-06-15 18:08:00 67900 +0800 - Node-35 - 22798/139878591817536 - lib/decorators.py - log_message - 0 - INFO - Ensure single DEFAULT mode - ID 1529057280_Z9nheyLv1p - Setting key ovs_ensure_single_ovs.generic.snapshot_all_vdisks
2018-06-15 18:08:00 68100 +0800 - Node-35 - 227

[2018-06-15 12:29] wimpers opened #2091 "The GUI mode sometimes reverts to undefined instead of the default full"
The GUI mode sometimes reverts to undefined instead of the default full.

http://<ip>/#undefined/<more stuff> instead of http://<ip>/#full/<more stuff>

It happens sometimes, not yet discovered why.

http://jira.openvstorage.com/browse/OVS-2748

[2018-06-19 11:31] matthiasdeblock commented on #1506
Moving a volume to a storagerouter with 0 volume potential should result in a warning/error without moving the volume to the new storagerouter which cannot start the volume as the potential is 0.

Currently the volume is getting moved which results in a non-running volume.

[2018-06-19 11:31] JeffreyDevloo opened #2094 "Update node distance map with a volume potential factor"
### Enhancement description
HA is currently done by the edge client which checks the node distance map.
When volumedriver instances can no longer hold any more volumes: it should not be eligible HA destination

[2018-06-19 13:01] wimpers commented on #2091
@simonOpenV  isn't this one fixed by your iSCSI changes?

[2018-06-19 13:17] wimpers commented on #2094
@redlicha does the voldrv still accept the new volume or does it fail straight away?

[2018-06-19 13:23] wimpers commented on #2072
For the time being OPS can set this up correctly.

[2018-06-19 13:24] redlicha commented on #2094
A "filled up" voldrv will become the new owner (if instructed by HA / the API), but actually starting the volume will fail due to resource shortage (most likely candidate: SCO cache cannot guarantee progress b/c there's not enough room to cover a TLog worth of SCOs).

[2018-06-19 13:26] wimpers commented on #2069
Closing this one. After discussion with @JeffreyDevloo there should be no fallback to default but it should raise as it does now. Manual mistake.

[2018-06-19 13:26] #2069 closed, assigned to nobody

[2018-06-19 13:32] wimpers commented on #2063
@toolslive what are the steps to handle these master switches. Can you provide input here please?

@openvstorage/operations  can you keep track on how many times this occurs?

[2018-06-19 13:34] wimpers commented on #2058
Might be caused by the persistent client (https://github.com/openvstorage/framework-extensions/issues/113)

[2018-06-19 13:36] wimpers commented on #2057
Closing as MDS_checkup should be more robust and we should monitor volumes which have a subawesome MDS setup.

[2018-06-19 13:36] #2057 closed, assigned to nobody

[2018-06-19 13:40] wimpers commented on #1999
Since this is a corner case, set to roadmap. Also, seen only once.

[2018-06-19 13:43] wimpers commented on #1582
@JeffreyDevloo  also saw this with vDisks

[2018-06-19 13:44] wimpers commented on #1991
Only seen once, let's re-open if we see it again.

[2018-06-19 13:46] wimpers commented on #1992
Since there is a workaround (disabling auto-scaling and workers restart automatically), closing this one down. Re-open if still an issue.

The result backend being gone might also have tricked this one.

[2018-06-19 13:47] #1992 closed, assigned to nobody

[2018-06-19 13:56] #1966 closed, assigned to nobody

[2018-06-19 13:57] wimpers commented on #1962
@simonOpenV  is this fixed?

[2018-06-19 15:31] jeroenmaelbrancke commented on #2063
For example:
https://172.17.16.27/monitor/check_mk/index.py?start_url=%2Fmonitor%2Fcheck_mk%2Fview.py%3Ffilled_in%3Dfilter%26_transid%3D1529422195%252F2342476655%26logtime_from%3D90%26logtime_from_range%3D86400%26logtime_until%3D%26logtime_until_range%3D3600%26logclass_filled%3D1%26logclass3%3Don%26logst_h0%3Don%26logst_h1%3Don%26logst_h2%3Don%26logst_s0%3Don%26logst_s1%3Don%26logst_s2%3Don%26logs

[2018-06-20 07:16] wimpers commented on #2094
@redlicha any reason why we not block the transfer of the ownership so the edge knows it selected the wrong one? I assume this has to do with the fact that you can move a volume but not start it and only started volumes are taking into account for volume potential? Maybe we can block the ownership move (leaving a force method)?

[2018-06-20 08:47] sjovdnbos commented on #1962
No longer appears to be a problem, so would be fixed by
#2093
openvstorage-2.13.0-dev.1529408893

[2018-06-20 08:47] redlicha commented on #2094
No, it's not about non-running volumes but the underlying assumption so far that HA will not be attempted to nodes that can't host more volumes based on the node distance map.

Adhoc I think it's possible to add an extra check of the local volume potential to voldrv before transferring (grabbing) the ownership (NB: the check is expensive in that it has to fetch the volume config from the backend.

[2018-06-20 08:50] sjovdnbos commented on #2091
This one seems to be fixed by framework hooking changes indeed.
#2093
openvstorage-2.13.0-dev.1529408893

[2018-06-20 09:01] wimpers commented on #2094
In my opinion this is abusing the node distance map.

[2018-06-20 09:46] JeffreyDevloo commented on #2087
Fixed by https://github.com/openvstorage/framework/pull/2092
Packaged in openvstorage-core_2.9.15-1_amd64.deb
Released in https://github.com/openvstorage/framework/releases/tag/2.9.15

[2018-06-20 09:46] #2087 closed, assigned to JeffreyDevloo

[2018-06-20 09:48] JeffreyDevloo commented on #2079
Fixed by https://github.com/openvstorage/framework/pull/2092
Packaged in openvstorage-core_2.9.15-1_amd64.deb
Released in https://github.com/openvstorage/framework/releases/tag/2.9.15

[2018-06-20 09:48] #2079 closed, assigned to JeffreyDevloo

[2018-06-22 08:08] jeroenmaelbrancke opened #2097 "Execute_scrub failed when vdisk could not be found"
# Problem
Executing a scrub process failed if a vdisk no longer exists.

command:
[code]

output:
[code]

[2018-06-25 07:55] jeroenmaelbrancke opened #2099 "Add syslogidentifier to the systemd service file"
This should solve https://github.com/openvstorage/dev_ops/issues/163

[2018-06-25 08:40] JeffreyDevloo commented on #2099
Looking into systemd: the `syslogidentifier` might explain why we are seeing the current logs on the rsyslog server.
There might be a rule we can adjust to always select the unitfile name instead of the name of the executable within the service

[code]

Further looking into it:
https://www.freedesktop.org/software/systemd/man/systemd.unit.html Systemd has specifiers. These are arguments which are

[2018-06-25 08:58] JeffreyDevloo commented on #2099
All templates should be updated with `SyslogIdentifier=%N` to resolve this issue.

[2018-06-25 12:12] JeffreyDevloo commented on #2097
Fixed by https://github.com/openvstorage/framework/pull/2096
Packaged in openvstorage-core_2.9.16-1_amd64.deb
Released in https://github.com/openvstorage/framework/releases/tag/2.9.16

[2018-06-25 12:12] #2097 closed, assigned to JeffreyDevloo

[2018-06-25 12:12] JeffreyDevloo commented on #2067
Fixed by https://github.com/openvstorage/framework/pull/2096
Packaged in openvstorage-core_2.9.16-1_amd64.deb
Released in https://github.com/openvstorage/framework/releases/tag/2.9.16

[2018-06-25 12:12] #2067 closed, assigned to JeffreyDevloo

[2018-06-25 12:12] JeffreyDevloo commented on #2064
Fixed by https://github.com/openvstorage/framework/pull/2096
Packaged in openvstorage-core_2.9.16-1_amd64.deb
Released in https://github.com/openvstorage/framework/releases/tag/2.9.16

[2018-06-25 12:12] #2064 closed, assigned to JeffreyDevloo

[2018-06-25 12:12] JeffreyDevloo commented on #2062
Fixed by https://github.com/openvstorage/framework/pull/2096
Packaged in openvstorage-core_2.9.16-1_amd64.deb
Released in https://github.com/openvstorage/framework/releases/tag/2.9.16

[2018-06-25 12:12] #2062 closed, assigned to JeffreyDevloo

[2018-06-25 15:52] sjovdnbos commented on #2012
#### Fixed by:
https://github.com/openvstorage/framework/pull/2100
openvstorage-core_2.13.0-dev.1529995953.7c95847

[2018-06-26 09:36] redlicha opened #2101 "Work around volumedriver lockup when removing MDS slaves of removed volumes"
https://github.com/openvstorage/volumedriver-ee/issues/79

After volume removal MDS slaves self-destruct once the absence of the backend namespace is detected (during the periodic backend poll). If at the same time an MDS slave is removed via the Python API there's a potential for a lockup.

[2018-06-26 09:37] redlicha commented on #2101
Ideally the fwk shouldn't have to remove MDS slaves at all after volume removal due to the self-destruction mechanism. It should check for abandoned MDS masters and remove these.

[2018-06-26 09:40] toolslive commented on #2063
So, looking at the pyrakoon code, you have a `Compat.ArakoonClient`.
That one lazily creates the needed connections (with backoff connection & master lookup logic)
when the master moved, or the master went down and the cluster is still reelecting one, it will
drop all connections. So it suffices to have a simple retry logic around your arakoon calls.

For all lookups (range, prefix, get, multiget,

[2018-06-26 09:49] redlicha commented on #2101
After discussion with @JeffreyDevloo : might be too rare an event to address this in the fwk?

[2018-06-26 09:52] JeffreyDevloo commented on #2101
Something to clear up:
- The Framework does not delete slaves when a volume is removed
- The Framework only messed around with MDS layout on the vdisk_checkup which is scheduled periodically or on resize/move event or by changing the vdisk parameters

What might have happened:
MDSCheckup was running as task A. On the delete_namespace the volume got removed in Task B.
The tasks were racing

[2018-06-26 14:45] jeroenmaelbrancke commented on #2063
Watcher framework logs:
[code]

[2018-06-26 15:43] openvstorage-ci opened #2102 "Pyrakoon not able to connect to cluster if one member is down"
_From @jeroenmaelbrancke on June 26, 2018 7:57_

# Problem
When one member of the Arakoon cluster is down the Pyrakoon is not able to find the master.

Error message of the pyrakoon client:
[code]

While a master was found on the arakoon:
[code]

_Copied from original issue: openvstorage/pyrakoon#17_

[2018-06-26 15:43] openvstorage-ci commented on #2102
_From @JeffreyDevloo on June 26, 2018 8:40_

Nodes in the ArakoonClientConfig:
[code]
Edit: the logged messages do not indicate anything. The client logs these as exception but it can handle them.

[2018-06-26 15:43] openvstorage-ci commented on #2102
_From @toolslive on June 26, 2018 11:38_

[code]

[code]

you get warnings,  but the master lookup succeeds.

[2018-06-26 15:43] openvstorage-ci commented on #2102
_From @toolslive on June 26, 2018 11:42_

@wimpers : probably needs to be moved to `framework`, it points to something else.

[2018-06-28 07:19] JeffreyDevloo opened #2106 "MDS Catchup has a long wind-up time"

[2018-06-28 07:20] JeffreyDevloo opened #2107 "MDS Catchup should limit the amount of replays to 1 per StorageDriver"

[2018-06-28 07:22] JeffreyDevloo commented on #2106
Fixed by #2105
Packaged in openvstorage-core_2.9.17-1_amd64.deb
Released in https://github.com/openvstorage/framework/releases/tag/2.9.17

[2018-06-28 07:22] #2106 closed, assigned to nobody

[2018-06-28 07:22] JeffreyDevloo commented on #2107
Fixed by #2105
Packaged in openvstorage-core_2.9.17-1_amd64.deb
Released in https://github.com/openvstorage/framework/releases/tag/2.9.17

[2018-06-28 07:22] #2107 closed, assigned to nobody

[2018-06-28 09:39] sjovdnbos opened #2109 "[develop] argparse framework watcher"
### problem
volumedriver and config watcher services cannot be run at the moment, due to the wrongly implemented argparse in the refactor of the watcher

### fix
Dont use a subparser, just use 2 fixed arguments

[2018-06-28 09:39] sjovdnbos commented on #2109
#### Fixed by
https://github.com/openvstorage/framework/pull/2108
#### Package info:
openvstorage-2.13.0-dev.1530181508.0382c9c

[2018-06-29 05:57] yongshengma opened #2111 "celery: IOError: [Errno 13] Permission denied: '/var/lock/ovs_flock_messaging'"
I'm using ovs on CentOS 7.4 and there's an error report:

Jun 29 12:29:30 Node-35 celery: 2018-06-29 12:29:30 60900 +0800 - Node-35 - 2242/140005497288512 - celery/celery_run.py - task_postrun_handler - 3 - ERROR - Caught error during post-run handler
Jun 29 12:29:30 Node-35 celery: Traceback (most recent call last):
Jun 29 12:29:30 Node-35 celery: File "/opt/OpenvStorage/ovs/celery_run.py", line

[2018-06-29 07:19] yongshengma commented on #2089
Hi @JeffreyDevloo

I would like to confirm my report to you on ` journalctl -u ovs-scheduled-tasks`.  I will replicate this issue.

A snapshot one hour is too long for me to wait, so I want to change the interval to 5 minutes, for example.  Is the following's value are correct?

ovs config get /ovs/framework/scheduling/celery
{
    "ovs.generic.snapshot_all_vdisks": {
        "hour": "*",

[2018-06-29 10:10] jeroenmaelbrancke opened #2112 "mds_safety timeout received after errors"
# Problem
I ran a manually mds_checkup on Nuvolat and ran into a timeout problem.
Restarting the ovs-workers did the trick to start the mds_checkup again.
After x amount mds checks i see following error messages and mds_checkup stopped with processing the other vdisks. (back to the timeout)

Before restarting the ovs-workers:
[code]

Error after restarting the ovs-workers:
[code]

# Versions
[code

[2018-06-29 10:38] yongshengma commented on #2089
I have repeated your suggestion again.  The same log was generated as those in previous posts.

[2018-06-29 11:31] JeffreyDevloo commented on #2089
Hi @yongshengma
Your input is invalid. To run it every 5 minutes it needs to be
[code]
Not specifying the hour is the same as hour: *. This means run every hour.

Best regards

[2018-07-02 11:57] JeffreyDevloo commented on #1991
Using the following code to hack my way into the sequence
[code]
I've 99% of the huge sequence are replace calls. This is coming from the DALObject invalidation on the must_exist=False.

All the keys to remove are coming from the list caching. Removing the outdated entries are only done of save/deletes of an object so the list can pile up until a new save happens.

[2018-07-02 13:23] JeffreyDevloo commented on #1991
@wimpers Should this get some higher priority?

[2018-07-03 08:56] yongshengma commented on #2089
In Fargo ubuntu 16, the celery version is `3.1.23 (Cipater)`; however in Centos 7.4, celery version is `4.1.0 (latentcall)`.  The class Scheduler has changed and the attribute `maybe_due` is gone.  Maybe we should just call `apply_async` directly?

[2018-07-03 09:26] JeffreyDevloo commented on #2089
@yongshengma
The Framework is only meant to work with 3.1.23 for the moment. Using a newer celery version might have unexpected results.
We ship this celery version from our own Ubuntu repository.

Thank you for the investigation but since the CentOS support was dropped, I won't be able to make any changes.

Best regards

[2018-07-03 10:05] yongshengma commented on #2089
OK. I got it.

[2018-07-04 08:08] jtorreke opened #2114 "Add vdisk: size gets overwritten too fast"
When trying to add a vdisk via the GUI, when you remove the 1 to create a 2GB disk, the 1 immediately gets put back. So you need to make it 12GB first, then remove the 1.

[2018-07-06 12:39] wimpers commented on #2085
after discussion with @jtorreke , can we add:
* status of the job (ok, failed)
* batch size - as in the number of disks requested to be scrubbed (if available)

[2018-07-06 12:43] jtorreke commented on #2085
* batch size
* number of successfully scrubbed vdisks
* number of failed vdisks

[2018-07-11 12:25] sjovdnbos commented on #2085
Fixed by:
#2115: openvstorage-2.13.0-dev.1531317306.2b53593
openvstorage/framework-extensions#137: openvstorage-extensions-0.4.2-dev.1531311919.0eeb480
openvstorage/framework-alba-plugin#601 :openvstorage-sdm_1.13.0-dev.1531316493.7a07f16

[2018-07-11 14:19] sjovdnbos commented on #2068
#### Fixed by:
https://github.com/openvstorage/framework/pull/2116
#### Package information:
openvstorage-2.13.0-dev.1531378769.7283a64

[2018-07-12 07:26] sjovdnbos commented on #2114
This happens because the observable (i.e. the size) should be a numeric value and  1 < x  < 65535. When removing the 1, no numeric value is entered and it defaults back to 1.

[2018-07-12 07:50] JeffreyDevloo commented on #2114
Yes, but you can delay it or make it update after keyup.

[2018-07-12 07:52] JeffreyDevloo commented on #2112
Something must have held up the lock.
The EnsureSafetyTimeout is raised when another task with the same parameters is still running.

[2018-07-12 07:53] JeffreyDevloo commented on #2111
Thanks @yongshengma, we will look into this issue if we pick up Centos again!

[2018-07-12 07:54] JeffreyDevloo commented on #2102
The errors that are spewed are handled by the client. Might have been crying wolf here or the majority was actually lost...

[2018-07-12 08:20] sjovdnbos commented on #2086
#### Fixed by:
#2118
#141

#### Package information:
openvstorage-2.13.0-dev.1531383139.d725c9e
openvstorage-extensions-0.4.2-dev.1531383165.cb0924f

[2018-07-12 11:53] JeffreyDevloo opened #2120 "[Bighorn] Changing vdisk configuration no longer possible"
### Problem description
#### GUI
The GUI no longer registers any changes within the configuration. Unable to save the current layout
#### API
[code]

[2018-07-12 11:58] sjovdnbos commented on #2099
#### Fixed by:
https://github.com/openvstorage/framework/pull/2119
https://github.com/openvstorage/iscsi-manager/pull/66
https://github.com/openvstorage/alba-asdmanager/pull/336
https://github.com/openvstorage/framework-extensions/pull/142

#### Package information:
openvstorage-2.13.0-dev.1531396881.e7fafc2
iscsi-manager-0.5.0-dev.1531397013.b21aff4
openvstorage-sdm-1.13.0-dev.1531397044.6031559

[2018-07-12 12:36] sjovdnbos commented on #2114
#### Fixed by:
https://github.com/openvstorage/framework/pull/2121
https://github.com/openvstorage/framework-alba-plugin/pull/602
#### Package information:
openvstorage-2.13.0-dev.1531406012.50e02de
openvstorage-backend-1.13.0-dev.1531406066.2ce723b

[2018-07-13 08:07] JeffreyDevloo commented on #2120
Fixed by https://github.com/openvstorage/framework/pull/2122
Packaged in openvstorage-core_2.13.0-dev.1531469136.9a2dda1-1_amd64.deb

[2018-07-13 11:10] redlicha opened #2123 "Support for fine-grained scrubbing"
As of ee-6.16.8, the volumedriver API exposes fine-grained retrieval of scrub work (start end end snapshot can be specified). This permits e.g. to prioritize scrubbing of large (= many overwrites) snapshots over smaller ones.

[2018-07-13 13:41] wimpers commented on #2089
Currently CentOS is out of scope so closing this one down with won't fix.

[2018-07-13 13:41] #2089 closed, assigned to nobody

[2018-07-13 13:42] wimpers commented on #2111
Currently CentOS is out of scope so closing this one down with won't fix.

[2018-07-13 13:42] #2111 closed, assigned to nobody

[2018-07-13 13:43] wimpers commented on #1848
@JeffreyDevloo might this be caused by a master switch. We haven't seen this anywhere else.

[2018-07-16 09:41] jtorreke commented on #1991
Just seen it on a GIG environment (UK redcentric), please put a higher priority on this.

[2018-07-17 12:14] JeffreyDevloo opened #2126 "Sync vdisk with reality code should also check parenthood"
### Enhancement description
The current sync does not account for any hierarchy. Certain clones could not be flagged as clones in the Framework if the sync created the vdisk for the clone. This leads to confusion and might mess up other paths too

[2018-07-18 12:46] JeffreyDevloo commented on #1991
Further investigation:
The main culprit for entries is found in the delete_snapshot code.
Every snapshot that gets removed adds a 2 new entries within arakoon: |parentsnapshot and |__all

The DataList is doing the intended thing but the pile increases with every delete_snapshot call.
The fix is to use delete_prefix instead of single replace calls. Documentation should also be added.

[2018-07-20 11:55] JeffreyDevloo commented on #1999
It was seen again

[2018-07-24 09:31] JeffreyDevloo commented on #2063
Fixed by https://github.com/openvstorage/framework/pull/2117
Packaged in openvstorage-core_2.9.18-1_amd64.deb
Released in github.com/openvstorage/framework/releases/tag/2.9.18
See also https://github.com/openvstorage/framework-extensions/issues/140

[2018-07-24 09:31] #2063 closed, assigned to JeffreyDevloo

[2018-07-31 15:13] JeffreyDevloo commented on #1991
Fixed by: https://github.com/openvstorage/framework/pull/2134
Still needs to be packaged

[2018-07-31 16:16] JeffreyDevloo commented on #1709
While testing I've noticed some behavior that might indicate this issue:
- Bring watcher down
    - Brings down web-api & workers
    - web-api in deactivating state & workers in inactive state
- Make sure watcher recovers
    - Workers were started
    - web-api is now inactive

Further looking into a fix.

[2018-08-01 10:00] JeffreyDevloo commented on #1709
# Test report
## Setup
The testing setup is as follows:
**test_main.service**: a simple overlooking service which can be bound onto by others (mimicks the watcher)
[code]
**test_component_1.service**: A simple component which binds onto the test_main (simulates either webapp-api or worker)
This service is controllable through files
[code]

**test_component_2.service**: A simple component which bin

[2018-08-02 12:55] jeroenmaelbrancke commented on #1506
@wimpers
When will this be implemented in andes-updates-4 and bighorn-rc-2?
Nuvolat struggles with this as they don't know where to deploy the vdisks.
SIMF deploys vdisks on random machines without the knowledge if there is space enough or not.

[2018-08-08 06:53] yongshengma opened #2140 "add a memo or comment for vdisk"
It would be useful to me if a vdisk has its memo or comment shown up and editable so that I'm able to know which vdisk is used for what.

[2018-08-08 06:55] sjovdnbos commented on #2040
Too be implemented when https://github.com/openvstorage/alba_ee/issues/424 is finished

[2018-08-08 08:48] sjovdnbos commented on #1789
MDSServiceController is fixed by:
https://github.com/openvstorage/framework/pull/2139
openvstorage-2.13.0-dev.1533718330.c309893

[2018-08-08 09:15] yongshengma opened #2141 "template's ownership"
Once a vdisk is set as a template, it can't be used as a vdisk any more.
In the vpool's directory, there'are bunch of vdisk.raws.  It's very nice that I can manipulate vdisk.raw and install a VM on it.  But I have to remember which one is a template that I shouldn't use for this operation.  Is a template really special or different from a vdisk?

[2018-08-08 09:28] yongshengma commented on #2141
about its ownership, i mean there's no way to move this template to another node.

[2018-08-08 10:17] yongshengma opened #2142 "web-ui doesn't show vdisks when a node goes down"
I have 3-node cluster.  When a node goes down, i can still access web-ui from  other nodes.  However, it's not easy for the UI to show vdisks and the content or list is often empty.  GET operation doesn't return anything and it looks hanging up.

[2018-08-08 11:35] JeffreyDevloo commented on #2141
Templates are not owned by a storagerouter. They are a read-only disk that can be used for cloning operations and that is available for cloning on all nodes.

[2018-08-08 11:37] JeffreyDevloo commented on #2142
Hi
Could you give us an overview of the packages that were installed (dpkg -l | grep openstorage).

Best regards

[2018-08-09 03:17] yongshengma commented on #2142
[code]

[2018-08-09 03:25] yongshengma commented on #2141
I do vm installation on cmd line by using virt-install, so there is chance to operate on this template, isn't it?

[2018-08-09 12:16] JeffreyDevloo opened #2143 "Propagate changes of ABM for remote local backends"
### Problem description
The ABM config is only fetched once from a remote local backend. The OSD abm info might get out of date if the abm changes in the local backend.

[2018-08-09 12:17] JeffreyDevloo commented on #2142
Hi
Do you see any Arakoon related errors in the webapi logging?
`journalctl -u ovs-webapp-api.service`
It could be that the Arakoon cluster is temporarily without a master and he might be electing a new one.

Best regards

[2018-08-13 08:37] JeffreyDevloo opened #2145 "Framework configuration information should be cached"
Frequently seeing `Too many open files: '/opt/OpenvStorage/config/framework.json'` when working with a number of threads

Aug 10 19:03:19 NY2SRV0003 ovs-workers[29462]: 2018-08-10 19:03:19 46400 -0400 - NY2SRV0003 - 29489/140349602002688 - lib/generic tasks scrub - 12244 - ERROR - Scrubber aea34e77-f22f-4837-a686-e085d55d49aa - vPool data-g-03 - StorageRouter NY1SRV1000 - Stack 0 - Scrubbing threa

[2018-08-13 09:04] JeffreyDevloo opened #2146 "Openvstorage id should be cached"
As seen in scrubber logs:
[code]

[2018-08-13 09:17] JeffreyDevloo opened #2147 "[Scrubber] Handle exceptions during work generation"
Scrubber failed during the work generation loop. This resulted in certain vpools being entirely skipped.
Stack threads that were deployed continued scrubbing and died of when they were done.
Scrubber failed with:
[code]

[2018-08-14 04:29] yongshengma commented on #2142
I have to wait some seconds, maybe 30s, but the vdisk list finally comes out.  If I go to other pages and come back, I have to wait some time again before it shows up.

`
Aug 14 12:20:06 test-2 gunicorn[2509]: 2018-08-14 06:20:06 16900 +0200 - test-2 - 3108/140622612104688 - hybrids/storagedriver.py - _edge_clients - 285 - ERROR - Error loading edge clients from pool-001PXP0lu82BYCjnaQ1
Aug 14 12:

[2018-08-14 04:48] yongshengma opened #2148 "why adding vpool can choose multiple IPs"
When I add or extend a vpool , I find both public ip and storage ip show up in the list widget `storage ip`.  This means I can choose either ip.

However, I selected only one specific ip for storage during asd manager setup.  What's the sense for vpool to use other ips?

[2018-08-14 08:00] JeffreyDevloo commented on #2148
Hi yongshengma

The asd-manager setup asks for an IP to use for API communications and a list of IPs for ASD communication.
The API is used to manage ASDs on that particular manager. The ASDs are listening on the IP that you specified during the setup.

The VPool wizard requests a storage ip. This IP is used for the data path. The IP used for the management path within a VPool is the cluster IP se

[2018-08-14 08:12] JeffreyDevloo commented on #2141
Hi yongshengma

The only operation that is possible on a template is reading. The most common use case for vtemplates is the use create base images with them. These images can be be cloned to quickly deploy virtual machines
For example:
- Install a Ubuntu 16.04 VM
- Set the bootdisk of this VM as a vtemplate.
    - The VM can no longer be used now since it went into read-only
- Create a clone of t

[2018-08-14 08:16] JeffreyDevloo commented on #2142
Hi yongshengma

Thank you for the feedback.
The GUI wants to display information that it needs from the volumedriver. It looks like certain management requests are taking too long to resolve because that volumedriver is down.
We will look into optimizing the GUI so the essential data can be retrieved first.

Best regards

[2018-08-14 08:18] JeffreyDevloo commented on #2140
Hi yongshengma

Thank you for the feedback.
This could indeed be a nice addition to the GUI. For the moment, you can organize vdisks with their name.

Best regards

[2018-08-15 03:49] yongshengma commented on #2141
Nice use!  Thanks.

[2018-08-15 04:58] yongshengma opened #2149 "can't remove a ASD node when its OS crashes"
I just got an issue.  A node's OS (ubuntu 16) has completely crashed due to several times power off.   I have no way to recover it at least now.  `Ovs remove node <ip>` doesn't work in this case.  I marked that node offline, moved vdisks to available nodes, shrinked vpool from that node and then tried to remove ASDs from backend.  However, I got stuck in the last step.  ASDs of that node are dark

[2018-08-16 07:48] wimpers commented on #1506
Back to BAM.

[2018-08-16 08:16] wimpers commented on #1999
Any idea what was going on earlier or do we have no clue why?

[2018-08-16 09:30] #2148 closed, assigned to nobody

[2018-08-16 09:34] #2141 closed, assigned to nobody

[2018-08-16 12:14] JeffreyDevloo commented on #1999
The configuration passed is based on port. There might be a particular scenario where the port points towards a proxy that got removed in meantime but the client was still able to connect.

The details are not clear yet but writing some extra tests around port allocation might expose the issue.

[2018-08-16 14:17] JeffreyDevloo opened #2150 "[GUI] Plugin loading should provide a shared data object when loading"
### Problem description
Sharing data with plugins is currently not done. This causes the plugin to re-fetch most information, doubling up the number of api requests.
This also means that the main framework views cannot adapt to plugin changes.

The activators that are being called should be filled with a separate data container which is instantiated by the main view to save bandwith and computing

[2018-08-17 06:31] yongshengma commented on #2149
This failed node has completely lost communication with other nodes.  I did try to add a new one but it tried to connect the failed IP .   It would be nice if `ovs` has a subcommand like `drop` for this case.   This looks like a severe issue because it prevents me from recovering the cluster.  Perhaps this is not trivial.

[2018-08-17 07:28] yongshengma commented on #2149
Say this is not trivial probably because data rebuild on live nodes have to be finished before failed node can be dropped.  Otherwise there should be some way to show the progress of data rebuild so that no data loss will occur when failed node has to be removed.

[2018-08-17 07:36] #1657 closed, assigned to saelbrec

[2018-08-17 07:39] wimpers commented on #2149
`ovs remove node <ip>` any specific error that popped up as that should work. Maybe related to https://github.com/openvstorage/framework/issues/1905 ?

[2018-08-17 08:08] wimpers commented on #2142
@JeffreyDevloo didn't https://github.com/openvstorage/framework/issues/1850 fix this ?

[2018-08-17 08:33] wimpers commented on #2145
Why not increasing the amount of allowed open files? Would also fix https://github.com/openvstorage/framework/issues/2146

[2018-08-17 08:45] JeffreyDevloo commented on #2145
It makes no sense to keep reading the file when it will never change.

[2018-08-17 08:45] JeffreyDevloo commented on #2142
No, it does not.
The GUI should go back to lazy loading certain fields to display the essential data faster.

[2018-08-17 08:53] JeffreyDevloo commented on #2149
Hi Yongshengma

Reviewing the code of the Fargo repository:
There are indeed a few errors that might pop up when trying to remove the node. The code checks if all ASDs are remove-able. This is never the case since the node is permanently removed.

Most if not all corner cases around this topic were already fixed in a more recent version Enterprise Edition of the Framework. (https://github.com/open

[2018-08-17 08:59] wimpers commented on #2149
After discussion with @JeffreyDevloo , closing this one down.

[2018-08-17 08:59] #2149 closed, assigned to nobody

[2018-08-17 13:11] wimpers commented on #2102
@JeffreyDevloo so what do you suggest? Close down with can't reproduce and re-open if we have more info?

[2018-08-17 14:23] JeffreyDevloo commented on #2102
I suggest to close it down as the exception logged is just the code that logs it while being able to handle them.
We could implement a new logging standard to log warnings (with stacktrace) when it is able to handle the exceptions to avoid the confusion.

[2018-08-17 14:32] wimpers commented on #2102
After discussion with @JeffreyDevloo closed. Re-open if we have more evidence.

[2018-08-17 14:32] #2102 closed, assigned to nobody

[2018-08-20 07:37] yongshengma opened #2152 "can't remove a router if its setup aborts unexpectedly"
I open this issue as new one because I think its scenario is different from #2149 .

I have finished installing and setting up 192.168.2.181 as the first storage router of cluster.  Then I installed 192.168.2.182 as the second router but have not set up yet.  Another guy was doing some weird thing on 192.168.2.182.  Then I ran `ovs setup ` but it failed with error:

[code]

I find it was caused by

[2018-08-20 07:44] wimpers commented on #2143
Should this not be moved to framework-alba-plugin?

[2018-08-20 08:20] JeffreyDevloo commented on #2143
It might have an impact on the vPool config when using remote backends.

[2018-08-20 08:32] yongshengma commented on #2152
That's weird.  I tested `ovs remove node` and met the error again

[code]

I find the node can't ssh itself by public key authentication after i ran `ovs remove node ... ` on it.

Before this error, I have ever failed to run `ovs remove node`  once, which output didn't give details.

[code]

[2018-08-20 14:59] JeffreyDevloo opened #2158 "[Result backend] Cleanup does not work"
### Problem description
The callback given to the ArakoonClient is not returning a transaction which causes the cleanup to fail.

[2018-08-20 15:55] JeffreyDevloo commented on #2152
Hi  yongshengma

Let's talk about the first snippet: I have a slight suspicion that the ssh-askpass package was removed (` ssh_askpass: exec(/usr/libexec/openssh/ssh-askpass): No such file or directory`). This is a dependency of the rpyc library that we are using. We use it to connect to a master node during the setup to distribute all public ssh keys.

Last snippet:
I've noticed `root@192.168.2.2

[2018-08-21 01:44] yongshengma commented on #2152
Hi JeffreyDevloo

The test env is gone and I need to setup a new one.  I will replicate it and give you updates.

Best regards

[2018-08-21 06:57] sjovdnbos commented on #2126
#### Will be fixed by:
https://github.com/openvstorage/framework/pull/2160
#### package information:
openvstorage-2.13.0-dev.1534845256.210ac3d

[2018-08-21 07:49] sjovdnbos commented on #2145
#### Fixed by:
https://github.com/openvstorage/framework/pull/2153

[2018-08-21 08:10] JeffreyDevloo opened #2161 "[MDS] Rebuild MDS servers to avoid IOerrors within clones"
### Problem description
Prior to volumedriver version ee-6.16.7, the MDS could cause some IOerrors due to whenever an address in the clone is read that erroneously refers to the parent as too much of the parent's tlogs were replayed.

Just an upgrade of the code is not sufficient to fix this issue. The whole MDS should be rebuilt. Rebuild sequence: create a new one, make it catch up, promote.

All

[2018-08-21 08:33] JeffreyDevloo commented on #2158
Fixed by https://github.com/openvstorage/framework/pull/2157
Packaged in openvstorage-core_2.9.20-1_amd64.deb
Released in https://github.com/openvstorage/framework/releases/tag/2.9.20

[2018-08-21 08:33] #2158 closed, assigned to nobody

[2018-08-21 08:33] JeffreyDevloo commented on #2147
Fixed by https://github.com/openvstorage/framework/pull/2159
Packaged in openvstorage-core_2.9.20-1_amd64.deb
Released in https://github.com/openvstorage/framework/releases/tag/2.9.20

[2018-08-21 08:33] #2147 closed, assigned to nobody

[2018-08-21 08:34] JeffreyDevloo commented on #2146
Fixed by #2153
Packaged in openvstorage-core_2.9.20-1_amd64.deb
Released in https://github.com/openvstorage/framework/releases/tag/2.9.20

[2018-08-21 08:34] #2146 closed, assigned to nobody

[2018-08-21 08:34] JeffreyDevloo commented on #2145
Fixed by #2153
Packaged in openvstorage-core_2.9.20-1_amd64.deb
Released in https://github.com/openvstorage/framework/releases/tag/2.9.20

[2018-08-21 08:34] #2145 closed, assigned to nobody

[2018-08-21 08:34] JeffreyDevloo commented on #1506
Partially fixed by https://github.com/openvstorage/framework/pull/2151
Packaged in openvstorage-core_2.9.20-1_amd64.deb
Released in https://github.com/openvstorage/framework/releases/tag/2.9.20 and https://github.com/openvstorage/framework/releases/tag/2.13.0

[2018-08-21 08:41] yongshengma commented on #2152
I have just finished a bunch of tests with 10+ snippets.  For those failed `remove node` operations, there're different errors for different snippets, for example in /var/log/ovs/lib.log :

[code]

More lines can be provided.   I have to mention one point here.  The snippets above were conducted with a non-complete cluster, which means there're only 2 nodes or incomplete 3rd one.

I also did some

[2018-08-22 08:13] JeffreyDevloo opened #2164 "[Result backend] Task keys should incorporate dates for prefixing support"
All task entries should have the date of today. The cleanup process can be much faster that way. It might even prove useful for archiving purposes

[2018-08-22 08:41] JeffreyDevloo commented on #2164
It does not seem to be possible.
Celery re-generates the key for every update it does to a task. If this generated key would include a date, it might return the wrong key (date of today instead of yesterday). Circumventing this with additional keys might prove fruitless.
Additionally: the state of the task needs to be inspected before removing it since on-going tasks are spared from removal.

[2018-08-22 08:41] #2164 closed, assigned to nobody

[2018-08-23 15:40] sjovdnbos commented on #2023
#### Rework done for sync disks:
https://github.com/openvstorage/framework-extensions/pull/169
https://github.com/openvstorage/framework/pull/2166
https://github.com/openvstorage/alba-asdmanager/pull/340/

[2018-08-27 15:26] wimpers commented on #1989
Will re-open if needed

[2018-08-27 15:26] #1989 closed, assigned to wimpers

[2018-08-27 15:27] wimpers commented on #1416
Back to BAM.

[2018-08-27 15:29] wimpers commented on #518
As Stefaan is no longer here, no input will be given.
Please re-open if needed.

[2018-08-27 15:29] #518 closed, assigned to saelbrec

[2018-08-28 08:11] JeffreyDevloo commented on #1991
Released in https://github.com/openvstorage/framework/releases/tag/2.9.20

[2018-08-28 08:11] #1991 closed, assigned to JeffreyDevloo

[2018-08-28 08:41] wimpers commented on #2058
@JeffreyDevloo isn't this one fixed as the related issue is fixed? I would advise to close and re-open if seen again?

[2018-08-28 08:54] JeffreyDevloo commented on #2126
Released in https://github.com/openvstorage/framework/releases/tag/2.13.0

[2018-08-28 08:54] #2126 closed, assigned to nobody

[2018-08-28 08:54] JeffreyDevloo commented on #2120
Released in https://github.com/openvstorage/framework/releases/tag/2.13.0

[2018-08-28 08:54] #2120 closed, assigned to JeffreyDevloo

[2018-08-28 08:54] JeffreyDevloo commented on #2091
Released in https://github.com/openvstorage/framework/releases/tag/2.13.0

[2018-08-28 08:54] #2091 closed, assigned to nobody

[2018-08-28 08:54] JeffreyDevloo commented on #1962
Released in https://github.com/openvstorage/framework/releases/tag/2.13.0

[2018-08-28 08:54] #1962 closed, assigned to nobody

[2018-08-28 08:55] JeffreyDevloo commented on #2114
Released in https://github.com/openvstorage/framework/releases/tag/2.13.0

[2018-08-28 08:55] #2114 closed, assigned to nobody

[2018-08-28 08:55] JeffreyDevloo commented on #2099
Released in https://github.com/openvstorage/framework/releases/tag/2.13.0

[2018-08-28 08:55] #2099 closed, assigned to nobody

[2018-08-28 08:55] JeffreyDevloo commented on #2086
Released in https://github.com/openvstorage/framework/releases/tag/2.13.0

[2018-08-28 08:55] #2086 closed, assigned to nobody

[2018-08-28 08:56] JeffreyDevloo commented on #2085
Released in https://github.com/openvstorage/framework/releases/tag/2.13.0

[2018-08-28 08:56] #2085 closed, assigned to nobody

[2018-08-28 08:56] JeffreyDevloo commented on #1789
Released in https://github.com/openvstorage/framework/releases/tag/2.13.0

[2018-08-28 08:56] #1789 closed, assigned to nobody

[2018-08-28 09:04] #2109 closed, assigned to nobody

[2018-08-28 09:05] JeffreyDevloo commented on #2012
Released in https://github.com/openvstorage/framework/releases

[2018-08-28 09:05] #2012 closed, assigned to nobody

[2018-08-28 09:05] JeffreyDevloo commented on #2068
Released in https://github.com/openvstorage/framework/releases/2.13.0

[2018-08-28 09:05] #2068 closed, assigned to nobody

[2018-08-28 10:07] jeroenmaelbrancke commented on #1999
It was seen again on Nuvolat:

proxy config:
[code]

Proxy error:
[code]

Namespace details:
[code]

The albamgr_cfg_url in the proxy config is not the one of vpool data-ny1-06 but from data-g-06.

[2018-08-28 14:18] sjovdnbos commented on #2023
#### Integration of AWS disk detection:
https://github.com/openvstorage/framework-extensions/pull/174
https://github.com/openvstorage/framework/pull/2171
https://github.com/openvstorage/alba-asdmanager/pull/344

#### Package information:
openvstorage-extensions-0.5.1-dev.1535465753.0b22789
openvstorage-2.13.2-dev.1535531480.5c5c63c
openvstorage-sdm-1.13.1-dev.1535531618.819f98a

[2018-08-28 16:13] JeffreyDevloo commented on #1999
Unable to determine which scrub job this was from and what config it got.
I'd need the proxy deployment logs:
[code]
And the backend config passed. The key for this backend config can be computed using the proxy name.
Example: ovs-albaproxy_ss-ny2-01_NY1SRV1000_f66d3c02-3748-4d3e-a989-6b5e0db1b235_scrub_0. This one shows the vpool name (ss-ny2-01), storagerouter name (NY1SRV1000) and the guid of t

[2018-08-29 09:08] sjovdnbos commented on #2040
After discussion with @jtorreke, we concluded that, after all, it would not be a good idea to change the template files and service files of the framework. This to let things be easily modifiable by OPS.
However, they will still need to point latestgreatest or any other alba version however to `/usr/bin/alba`, upon install.

Any thoughts, @toolslive ?

[2018-08-29 09:39] sjovdnbos opened #2174 "[aws] loop devices for EC2 instances"
### Problem
EC2 instances appear to have some loop devices attached. These devices have a filesystem on them already and can therefore not be used by the framework.
The framework explicitely needs to be able to work with these devices though.
![aws](https://user-images.githubusercontent.com/33058909/44779332-837cf180-ab7f-11e8-8965-b2b1c13ea054.png)
[code]

### Possible workaround

- Filter device

[2018-08-29 09:54] wimpers commented on #2174
We could also by default hide block devices which have a read-only FS (such as SquahsFS but there might be others). Add a https://fontawesome.com/icons/angle-double-down?style=solid icon to show all.

[2018-08-29 12:03] toolslive commented on #2040
why not use the environment ?
so not use `/usr/bin/alba` but `alba` (same for arakoon)
specific service files can still modify the environment (in casu `PATH`) to point to whatever flavour they need.

[2018-08-31 08:33] wimpers commented on #2040
After discussion with @simonOpenV and @jtorreke closing this one down as status is won't fix.

[2018-08-31 08:33] #2040 closed, assigned to nobody

[2018-08-31 13:40] sjovdnbos opened #2176 "Widget reaction time slow"
Following https://github.com/openvstorage/framework/issues/2114, reaction time was bumped and digit enter fields now react properly.
However, when entering digits via widgets or other places, these fields now do not react intuitively anymore.

Only entries to fix however were:
- amount of proxies in add new vPool + reconfigure vPool

[2018-08-31 14:18] sjovdnbos commented on #2176
#### Fixed by:
https://github.com/openvstorage/framework/pull/2177
#### Package information:
openvstorage-2.13.2-dev.1535725066.c1ebb58

[2018-09-03 09:01] jeroenmaelbrancke opened #2179 "[Andes updates 3] Adding a linked local BE fails"
#### Problem
Adding a local backend fails: loading of backends fails and redirects  _or_ reloads in the GUI wizard of add-vpool.

#### stacktrace
[code]
![image](https://user-images.githubusercontent.com/2900612/44977563-a8e77200-af68-11e8-8a0b-f9e93f8d31c1.png)

[2018-09-03 09:25] #1955 closed, assigned to nobody

[2018-09-03 09:26] wimpers commented on #1955
Currenly no longer a requirement. Re-open if needed.

[2018-09-03 12:24] JeffreyDevloo commented on #2179
Based on the logging above: an api call must have failed which caused the GUI to check if the API was still responding before failing over (https://github.com/openvstorage/framework/blob/2.9.21/webapps/frontend/lib/ovs/api.js#L91)
The logging above shows the GUI contacting all nodes within the cluster and failing: https://github.com/openvstorage/framework/blob/2.9.21/webapps/frontend/lib/ovs/gener

[2018-09-04 08:03] yongshengma commented on #1905
I got 'similar' issue even if I removed the vPool manually first.  I didn't keep the trackback, so that's why i say similar here.

[2018-09-04 13:44] wimpers commented on #2112
It is believed a second one was still ongoing. Re-open if it happens again.

[2018-09-04 13:44] #2112 closed, assigned to nobody

[2018-09-04 13:46] #2101 closed, assigned to nobody

[2018-09-04 13:53] wimpers commented on #1935
Can no longer reproduce. Re-open if it re-occurs.

[2018-09-04 13:53] #1935 closed, assigned to nobody

[2018-09-04 13:56] wimpers commented on #1557
Nothing to do.

[2018-09-04 13:56] #1557 closed, assigned to nobody

[2018-09-04 13:59] #1901 closed, assigned to nobody

[2018-09-04 14:00] wimpers commented on #1848
Fixed

[2018-09-04 14:00] #1848 closed, assigned to nobody

[2018-09-05 03:23] yongshengma opened #2180 "alba/asd nodes can't show up"
ASD nodes can't show up in backend detail page.  Some errors on two nodes:

[code]

[code]

[2018-09-05 07:57] JeffreyDevloo commented on #2180
Hi @yongshengma
My guess is that a control character slipped in either the 'partitions' or 'aliases' property of a disk on the ASD-Manager. (Either a `\n` or `\r` slipped in somewhere)
Could you provide me the output of `'lsblk' '--pairs' '--bytes' '--noheadings' '--exclude' '1,2,11' --output=KNAME,SIZE,MODEL,STATE,MAJ:MIN,FSTYPE,TYPE,ROTA,MOUNTPOINT,LOG-SEC,SERIAL` on that host?

As a work around

[2018-09-05 10:47] yongshengma commented on #2180
Hi @JeffreyDevloo

[code]

After modification to json.loads(data, strict=False),

[code]

[2018-09-05 12:46] JeffreyDevloo commented on #2180
Hi @yongshengma

Looks like the aliases might be corrupt as I found no issue when parsing the `lsblk` output.
To help us understand where it might have gone wrong: please provide the output of the following snippet:
[code]

To recover from this, you will need to wipe your database of these corrupt disk entries.
If you do not have any asds, you can reinstall the asd-manager using: `asd-manager remo

[2018-09-05 13:32] sjovdnbos commented on #1687
#### GUI changes:

- [x] add + reconfigure vpool: #2181

#### API changes:
- [ ] reconfigure api call

[2018-09-06 02:36] yongshengma commented on #2180
Hi @JeffreyDevloo

All ASDs of all 3 nodes can not be displayed, but i find that ASDs of the other 2 nodes' can be displayed if this problem node 'test-3' is shutdown.

Ran on node 'test-3',

[code]

[2018-09-06 07:58] JeffreyDevloo commented on #2180
Hi @yongshengma
I feel like the DB has corrupt entries. Both outputs looks fine... Have you tried the steps that I provided above on 'test-3'?

[2018-09-07 03:54] yongshengma commented on #2180
Could be corrupted as a weird network issue occurred, although not sure if they're related,  We just didn't know why 'test-3' lost network with any other nodes.  it resumed ok after rebooted.

[2018-09-07 03:55] yongshengma commented on #2180
I tried the steps that you provided above on 'test-3'.  It works.  ASDs show up.  Thanks!

[2018-09-07 04:30] yongshengma opened #2183 "KeyError: 'HTTP_X_REAL_IP' at very beginning of debug"
This is not a real issue that I should post here, but I really want to find a way to do some debug work.

I stop 'ovs-webapp-api.service' and then go to '/opt/OpenvStorage/webapps/api' to modify settings.py:
[code]
To start wsgi, run
`python ./manage.py runserver 0.0.0.0:8000`
and it gets ready.

I input `http://192.168.2.21:8000/` in a browser, then login page comes out and everything goes fine a

[2018-09-07 07:48] JeffreyDevloo commented on #2180
Hi @yongshengma
Not sure what caused the corruption but I'm glad that it got resolved :)

[2018-09-07 07:48] #2180 closed, assigned to nobody

[2018-09-07 07:57] JeffreyDevloo commented on #2183
Hi @yongshengma
Which browser are you using and are you tweaking anything of that browser?
The only browser that the Framework supports is an unmodified Google Chrome.

The `HTTP_X_REAL_IP` header is a header that all browsers add when making requests towards the server. This header contains the IP of the current user.
The Framework tracks the IP of the user to enforce certain rate limiting.

Edit

[2018-09-07 08:55] yongshengma commented on #2183
Hi @JeffreyDevloo

Thanks for hints.  It's gone.  The solution is to change the runserver port to 8002 and still send requests to nginx like `https://192.168.2.21`.  Then it's working!  The cause might be HTTP_X_REAL_IP header was lost if not going through nginx.  The gunicorn uses 8002 port all the time, so I needn't modify related config.
 Appreciate again!

[2018-09-07 09:03] yongshengma commented on #2183
i'm using both Chrome and Firefox without tweaking.

[2018-09-10 15:24] JeffreyDevloo commented on #1991
The workaround for non 2.9.20+ releases is:
[code]

[2018-09-11 14:12] JeffreyDevloo opened #2185 "[Scrubbing] - Investigate file descriptor usage"
Scrubbing on big environments seem to randomly fail due to file descriptors running out. The Framework should try to optimize wherever possible

[2018-09-11 15:25] JeffreyDevloo commented on #2185
## Tracking the FDs
### Environment:
3 storagerouters
### Script
[code]
### FD output
Count of all the FDs during scrubbing. The rise is clearly visible
[code]
Full fd log:
[fd_full.txt](https://github.com/openvstorage/framework/files/2371580/fd_full.txt)
### Worker logging
[code]

[2018-09-11 15:51] redlicha opened #2186 "Scrubbing: rotate log files inbetween scrub jobs"
Logrotate does not work  with the scrubber as it works behind its back (IOW the scrubber keeps on using the open file descriptor of a file that's been unlinked by logrotate), and having the scrubber rotate the log itself might not lead to the desired results (a quick review suggests that the scrubber can configured to rotate the log file at midnight but only if the scrubber is running at that time

[2018-09-12 12:53] wimpers commented on #2183
Issue was found and is outside OVS

[2018-09-12 12:53] #2183 closed, assigned to nobody

[2018-09-13 14:10] JeffreyDevloo commented on #2023
Released in https://github.com/openvstorage/framework/releases/tag/2.13.2

[2018-09-13 14:10] #2023 closed, assigned to nobody

[2018-09-13 14:10] JeffreyDevloo commented on #2176
Released in https://github.com/openvstorage/framework/releases/tag/2.13.2

[2018-09-13 14:10] #2176 closed, assigned to nobody

[2018-09-20 12:51] JeffreyDevloo commented on #2179
After some refactoring and pondering about this ticket:
- Relaying api call that timeout should not trigger the reload immediately. A validation should first be done to the current host
- Failing over could be done more gracefully

[2018-09-21 07:16] yongshengma commented on #652
Has this issue been fixed as in #260 ?

After shutting down a node (ovs04), the storage routers are no longer shown in the GUI. Tried to remove that node (ovs04) with the command "ovs remove nodes 10.100.197.4" without any success. Received the output below.

[2018-09-21 08:11] JeffreyDevloo commented on #652
Hi @yongshengma
Please create a ticket with the issue that you are facing together with the appropriate logging. We might be able to help you if we have an understanding of what problem you are facing

Best regards
Jeffrey Devloo

[2018-09-25 02:45] yongshengma opened #2197 "remove online node - ERROR: 'PyrakoonClient' object has no attribute 'identifier'"
I got an error when I removed an online node.  It didn't abort but continued until successful message returned.  Everything also looks OK on GUI and that node is gone except another node has warning for a few minutes.

[code]

[code]

[2018-09-25 04:06] yongshengma commented on #2197
BTW, i conducted a test on removing an offline node by using `remove node <ip>` command.  It works fine!

However, I found DTL states  of some vdisks' are in red.  I also found the preset didn't switch to an usable policy for two nodes (only one alba-asd per node).  After i manually switched the policy order by moving 2-dup ahead, the DTL states became green.  The policies I defined : (1, 1, 1, 2)

[2018-09-25 06:47] yongshengma opened #2198 "some vdisks' DTLs in red after remove an offline node"
i conducted a test on removing an offline node by using `remove node <ip>` command.  It works fine!

However, I found DTL states  of some vdisks' are in red.  I also found the preset didn't switch to an usable policy for two nodes (only one alba-asd per node).  After i manually switched the policy order by moving 2-dup ahead, the DTL states became green.  The policies I defined : (1, 1, 1, 2), (1,

[2018-09-25 07:05] yongshengma commented on #2198
Then I re-installed and setup the third node.  'ovs setup' went well except that an error was popped at the end.

[code]
Then I did necessary role assignment to hard drives.

Then I goto backend to add this ASD node, but it pops out window saying "Replace node" and "`Node YfW7EpsyoP2VR0E0wpe07GpysyHBxkzm with IP 192.168.2.23 already exists and will be replaced by this node when proceeding.`"   . 1

[2018-09-25 07:15] JeffreyDevloo commented on #2197
Hi @yongshengma
Which Framework version are you using? I can't seem to find any code pointing to self.identifier within the try of the pyrakoon
You can patch this using self._identifer instead of self.identifer in that part of the code as identifier is a 'private' property
Best regards

[2018-09-25 08:11] yongshengma commented on #2197
Hi @JeffreyDevloo

This is Fargo version.
[code]

I will take a try on your suggestion later.

[2018-09-25 08:25] yongshengma commented on #2197
Yes, it's obviously a bug in code.  _identifer  is defined instead of identifer.

[code]

[2018-09-25 08:58] JeffreyDevloo commented on #2198
HI @yongshengma
The error is known and benign: https://github.com/openvstorage/framework/issues/2014
The managers register themselves within the configuration arakoon. When removing a node which is offline, this configuration entry is never cleaned up.
You won't be able to add the node since the credentials have changed because of a reinstall.
You can remove the old asdmanager entry using:
[code]

[2018-09-25 09:15] yongshengma commented on #2198
It works.  Thanks!

[2018-09-25 09:23] JeffreyDevloo commented on #2198
Closing the ticket down as this works as it should:
- Removing a node brings down a DTL host
- Framework notices it, says DTL requires a checkup
- Framework schedules a DTL checkup at some point
- DTL is fine again (2 hosts instead of 3)

[2018-09-25 09:23] #2198 closed, assigned to nobody

[2018-09-26 04:14] yongshengma opened #2199 "Could not determine the Arakoon master node"
I shutdown all 3 nodes in an order of Node-3, Node-2 and then Node-1.  Then I powered on them in a reverse order with Node-1 as the first.  However I find ovs services can't start up on this host.

[code]

[code]

Ovs services on the first host were not able to start up until I powered on the other 2 nodes.  It seems arakoon master node is on the 2nd or 3rd host.

How can I check arakoon node stat

[2018-09-26 07:59] jeroenmaelbrancke commented on #1999
Found another problem with the scrub proxies.
I started a scrub process for vpool data-g-03 and saw following error messages in the scrubber.log:
[code]

So i had a look if each proxy was running properly:
[code]

But when i had a look on which ports these proxies were running:
[code]

None of them use port 26203... which is strange...

All the process were running since September 25 with another

[2018-09-26 10:54] toolslive commented on #2199
first you can check if the arakoon processes are running using pgrep
[code]
then you can check the master with
[code]
There's also the possibility of inspecting the statistics:
[code]
the last line shows, for each node in the arakoon cluster, the I counter. Some nodes may be lagging.

[2018-09-27 10:41] jtorreke opened #2200 "Add a scheduled task to rebalance vdisks across an environment"
Would it be possible to add a scheduled task to rebalance the amount of vdisks across an environment. After a restart of a volumedriver or storagerouter, vdisks tend to be unevenly distributed. Maybe take the volume potential into account and use that for weights?

[2018-09-28 03:51] yongshengma commented on #2199
It helps! Thanks!

[2018-09-28 13:11] #2199 closed, assigned to nobody

[2018-09-30 03:47] yongshengma opened #2201 "cannot remove a node that has vtemplate"
A node can not be removed if there's vtemplate on it or owned by it let's say.  Is there any workaround to remove this node?

Related issue might be #2035 .

[2018-10-01 12:42] JeffreyDevloo commented on #2201
Hi @yongshengma
vTemplates are read-only volumes. To read from them, they'd have to be running _somewhere_.
The GUI currently doesn't support moving vTemplates across different nodes.
The API and the controllers do. (API: /vdisks/GUID/move, data being {'target_storagerouter_guid': GUID}). Controller: VDiskController.move)
 Here is a small script to move all vtemplates to a different storagerouter

[2018-10-01 12:48] JeffreyDevloo commented on #2201
I'll keep this ticket open:
The vtemplate section in the GUI should allow the disk to get moved to a different host.

[2018-10-08 04:16] yongshengma commented on #2201
Nice! Thanks!

[2018-10-10 07:29] sjovdnbos opened #2203 "[develop] can't create vPool"
### Problem
Currently, I can't create a vPool anymore. Most probably introduced by the most recent GUI rework.

### Screenshots
![screenshot from 2018-10-10 09-28-05](https://user-images.githubusercontent.com/33058909/46719752-04df9d80-cc6f-11e8-9051-f9184be99648.png)
![screenshot from 2018-10-10 09-28-22](https://user-images.githubusercontent.com/33058909/46719753-04df9d80-cc6f-11e8-8f2f-741af323

[2018-10-10 08:32] #2203 closed, assigned to JeffreyDevloo

[2018-10-11 07:01] sjovdnbos opened #2206 "[develop] update in gui results in undefined"
After updating within the current develop, I am redirected towards `https://<ip>/undefined` instead of refreshing of the page, as it used to do

[2018-10-11 07:54] JeffreyDevloo commented on #2206
The GUI will try to failover to a different node if the API is becoming unresponsive.
The redirection can occur but fetchen the plugin metadata might fail which is causing the undefined.

[2018-10-12 13:59] JeffreyDevloo commented on #2206
Fixed by https://github.com/openvstorage/framework/pull/2207

[2018-10-12 13:59] #2206 closed, assigned to JeffreyDevloo

[2018-10-16 09:42] yongshengma opened #2208 "Error during rabbitMQ test on node"
i have a 2-node cluster.  I powered them off one by one last week. However, some ovs services can't activate.  Same on both nodes:

[code]

Some errors:

[code]

I checked rabbitmq on both nodes and they both look OK:

[code]

[code]

This cluster had 3 nodes before.  Last week I removed a node, or say the first node, from this cluster and therefore there are only 2 nodes now.  I can't boot up the

[2018-10-16 09:59] yongshengma commented on #2208
[code]

[2018-10-22 15:47] JeffreyDevloo commented on #2179
Fixed by https://github.com/openvstorage/framework/pull/2207

[2018-10-24 12:56] KevinHun opened #2209 "Reconfigure vpool error"
When trying to reconfigure a storage router for a vPool (vPools -> vpool -> management actions -> Actions (reconfigure))
nothing happens and all other buttons get disabled.
[code]

[2018-10-29 08:52] sjovdnbos opened #2211 "[Develop] ClusterNotReachableException not shown in GUI"
### Problem
When trying to make a vDisk on current develop, voldrv could not be reached. The Gui showed however:
![screenshot from 2018-10-29 09-51-19](https://user-images.githubusercontent.com/33058909/47638911-3eb20e80-db60-11e8-84da-766fd2adb4ad.png)

### Logging:
[code]

This ticket is to tackle that the error handling should be shown in the GUI

[2018-10-29 09:13] JeffreyDevloo opened #2212 "Get rid of config duplicates"
ABM configs are fetched each time a remote  backend is selected for a vpool.
This creates a lot of duplicates in the long run and it is totally avoidable.
It would also be easier to sync up the configs than in its current state.

[2018-10-30 09:59] JeffreyDevloo opened #2213 "Use the python arakoon client to manage clusters iso the cmdline"
Referring to https://github.com/openvstorage/arakoon-ee/tree/1.9-ee/pylabs
Might not be usable (different setup layout)

[2018-11-05 08:55] yongshengma opened #2214 "asds cannot be claimed after a node is removed and then added in"
Hi,

I got an issue after a node was removed from cluster.  This ticket's title is not accurate enough at this moment.

Lets's say A, B and C are three nodes of the cluster.  They were installed and setup in the order of A, B and C.  I did the following:
1. removed node A when it's offline
2. re-installed OS on A
3. configured network with the same IP as before removed
4. installed ovs
5. ovs setu

[2018-11-05 10:42] yongshengma commented on #2214
my all nodes are physical servers.

[2018-11-06 03:52] yongshengma commented on #2214
I find there's no alba maintenance running on this node.

Claiming ASDs still doesn't work after I paste alba maintenance cmd line according to JeffreyDevloo's suggestion in #1703 .

[2018-11-06 09:07] redlicha opened #2215 "Sub-snapshot cloning integration"
* info about intervals supporting clone creation: `StorageRouterClient.timestamp_intervals`
* actual clone creation: `StorageRouterClient.create_sub_snapshot_clone`
cf. https://github.com/openvstorage/volumedriver-ee/issues/135

[2018-11-06 09:11] JeffreyDevloo commented on #2214
Do you have logging from the ovs-workers? I'd like to follow the trail on this one.
The task name is `alba.add_units`.

Best regards

Jeffrey Devloo

[2018-11-06 10:15] yongshengma commented on #2214
Attached log from `journalctl -u ovs-workers`.  I clicked `claim` again just now, so the newest 10 minutes should be your interest.   i didn't see alba.add_units in it.
[workers.zip](https://github.com/openvstorage/framework/files/2552628/workers.zip)

[2018-11-06 10:17] yongshengma commented on #2214
`Nov  6 10:28:40 NODE-181 gunicorn[3563]: 2018-11-06 03:28:40 85200 +0100 - NODE-181 - 4073/140101558844304 - extensions/api - 34 - INFO - [albabackends.add_units] - 83f524a7-2642-41ae-86f8-b068be3322f1 - [] - {"pk": "02d3b439-4688-42c7-b33a-c6a81844da92"} - {"cookies": {"csrftoken": "vDDLVeCu2ZPidZRrRRqNNxTlYiToESE5", "sessionid": "tyq5w0mw1fww6bt0hzlinr7cv3461xpl"}, "meta": {"HTTP_AUTHORIZATION"

[2018-11-06 10:24] JeffreyDevloo commented on #2058
Indeed fixed by clearing transactions.

[2018-11-06 10:24] #2058 closed, assigned to nobody

[2018-11-06 10:32] JeffreyDevloo commented on #1995
Not enough information. Closing this down.

[2018-11-06 10:32] #1995 closed, assigned to nobody

[2018-11-06 10:37] JeffreyDevloo commented on #1898
Not enough information.

[2018-11-06 10:37] #1898 closed, assigned to nobody

[2018-11-06 10:53] JeffreyDevloo commented on #2035
Solution is to make vtemplates movable.

[2018-11-07 09:57] yongshengma commented on #2214
I reinstalled and set up a cluster and replicated this issue.  I removed an offline node and reinstalled OS+OVS.

I noticed the following on newly added node:

No arakoon under roles' drive's mount point.
[code]

some services are missing (no inactive or activating):
[code]
not like other nodes:
[code]

Attached new logs of ovs-workers and syslog.
Best regards,

[181.zip](https://github.com/openvs

[2018-11-07 15:42] JeffreyDevloo commented on #2214
Hi yongshengma

Try to grep for add_units on all nodes within the cluster. The distributed nature of the ovs-workers might execute a task on a host different from where you sent the API call to.

The 'missing' services look to be volumedriver and abm/nsm service. Volumedriver related services are only added once you extend the vpool to the new host.
The ovsdb arakoon is not deployed on the DB role

[2018-11-08 06:07] yongshengma commented on #2214
Yes, I find related info on another node as what you said.
grep add_units /var/log/syslog

[code]

[2018-11-08 06:24] yongshengma commented on #2214
Yes, abm/nsm services are up when i monitor today.

[2018-11-08 10:27] yongshengma commented on #2214
I just noticed a message

`Nov  8 11:44:56 Node-182 alba[23162]: 2018-11-08 11:44:56 066588 +0800 - Node-182 - 23162/0000 - alba/proxy - 13125 - info - connect_with failed: 192.168.2.181 8602 None Net_fd.TCP (fd:31): (Unix.Unix_error "Connection refused" connect ""); backtrace:; Raised at file "format.ml" (inlined), line 239, characters 35-52; Called from file "format.ml", line 465, characters 8-3

[2018-11-12 10:22] sjovdnbos commented on #2200
After discussion with @JeffreyDevloo , it is concluded that this is not a good idea.
This might cause more harm then good, as failures of this task can be tedious to handle.

[2018-11-12 10:24] JeffreyDevloo commented on #2200
We need a proper foundation for job logging first. That we are able to handle failures better.

[2018-11-15 16:22] sjovdnbos commented on #2211
#### Fixed by:
https://github.com/openvstorage/framework/pull/2217
 #### Package information:
openvstorage-webapps_2.13.4-dev.1542299609.9f2a9b3-1_amd64.deb

[2018-11-15 16:35] #2211 closed, assigned to nobody

[2018-11-23 15:04] sjovdnbos opened #2220 "[GUI] Add vPool with remote backend"
### Problem
When providing information on the remote backend, the refresh button is not shown.
This leads to situations where you have to fold and unfold the remote config fields again

### Logging
[code]

## Edit:
### Problem
Regarding possible side effects of this bug, the reload button did appear while it was missing first.
Along with the missing button, as can be seen in the screenshots, `be1`

[2018-12-05 15:46] sjovdnbos commented on #2212
### Should be fixed by:
https://github.com/openvstorage/framework-extensions/pull/192
https://github.com/openvstorage/framework-extensions/pull/193
https://github.com/openvstorage/framework/pull/2223

[2018-12-07 14:18] jtorreke opened #2224 "List clones of a vdisk in the GUI"
When you open a vdisk in the GUI, is it possible to show a list of clones of that vdisk?

[2018-12-10 14:47] OVSchristophe opened #2225 "add remote resource --> port 443 should be filled in by default in stead of 80"
add remote resource -->   port 443 should be filled in by default in stead of 80
![selection_053](https://user-images.githubusercontent.com/45066628/49739731-e14aca80-fc92-11e8-93bd-12b5667c0ef0.png)

[2018-12-10 14:52] JeffreyDevloo commented on #2225
Fixed by https://github.com/openvstorage/framework/pull/1821 which is part of the 2.13.3 release

[2018-12-10 14:52] #2225 closed, assigned to nobody

[2018-12-10 14:56] OVSchristophe opened #2226 "There is no "ovs --version" parameter forseen."
There is no "ovs --version" parameter forseen.

![image](https://user-images.githubusercontent.com/45066628/49740215-0ee44380-fc94-11e8-9c70-ab51973dcd6a.png)

[2018-12-10 15:19] OVSchristophe opened #2227 "selecting previous, makes you lose your already entered remote settings"
selecting previous, makes you lose your already entered remote settings
See image

![image](https://user-images.githubusercontent.com/45066628/49741634-1e18c080-fc97-11e8-9b26-50118006a4f3.png)

[2018-12-10 16:37] JeffreyDevloo commented on #2227
Fixed by #1821 which is part of the 2.13.3 release

[2018-12-10 16:37] #2227 closed, assigned to nobody

[2018-12-11 08:55] sjovdnbos commented on #2226
There is indeed no `--version`  option as for now.
If you want to know version information of a node:
[code]
Reworking the CLI is on our to-do list, and if requested, this option may be introduced then.

[2018-12-12 10:37] JeffreyDevloo opened #2229 "Unusual error when deleting vdisks. Storagerouter could not be found"
[code]

[2018-12-12 10:38] JeffreyDevloo opened #2230 "Configuration: add typing information to avoid client knowing if its raw or not"
Possible solutions:
- add item suffix (easiest)
- add metdata key with type (requires managing two keys)
- Wrap in json always with key being type, value being the thing to save (least performant)

All of them require update code once implemented

[2018-12-12 12:12] toolslive commented on #2230
I interpret the first solution as "suffix the value" and then there's an alternative in suffixing a type marker in the key.

[2018-12-19 15:43] toolslive opened #2231 "ASDs added into ABM with IPs that are not served by ASD server"
[code]
So the asd only listens on `172.17.7.33` but the ABM tells us
[code]
The `172.17.23.33` ip address will never be usable. Alba works around this, but constantly nags with `Connection refused`. Something went wrong during installation/configuration

[2018-12-26 08:36] jtorreke opened #2233 "Stream has been closed - during scrubbing"
As I've got no clue on how to start this, I'll park it here for future analysis.

[code]

[2018-12-26 09:06] jtorreke commented on #2233
I found the issue:

[code]

The scrubbing node was rebooted in the mean time.

[2018-12-26 09:06] #2233 closed, assigned to nobody

[2018-12-26 17:35] OVSchristophe opened #2237 "failed to remove an unavailable asd"
![image](https://user-images.githubusercontent.com/45066628/50452463-8673cd00-093a-11e9-83c2-64ade399e97a.png)

2018-12-26 18:33:48 76500 +0100 - ChristopheOVS_1 - 20882/140094905251584 - celery/celery.worker.strategy - 1735 - INFO - Received task: albanode.reset_asd[fcb8c6ce-beb9-46da-a7a8-6a06431a57e1]
2018-12-26 18:33:48 80300 +0100 - ChristopheOVS_1 - 13281/140094905251584 - lib/ensure single

[2018-12-31 10:23] sjovdnbos commented on #2230
I have been attempting to implement the suffix-value method,
A major drawback of this method is that the content of a config json is not easily changeable anymore, for example via `ovs config get`. This could be circumvented by adding some more functionality in the CLI that adapts the config in place for readability. This ofcourse implies some loss of performance (which is the whole point of this

[2019-01-09 14:37] JeffreyDevloo commented on #2143
Fixed by https://github.com/openvstorage/framework/pull/2223

[2019-01-09 15:50] sjovdnbos commented on #2230
### Fixed by:
https://github.com/openvstorage/framework/pull/2240
openvstorage-2.13.5-dev.1547566044.24f9650
https://github.com/openvstorage/alba-asdmanager/pull/359
openvstorage-sdm-1.13.3-dev.1547471285.01ead9f
https://github.com/openvstorage/framework-extensions/pull/200:
package information: openvstorage-extensions-0.5.3-dev.1547563500.a480de7
https://github.com/openvstorage/framework-alba-plu

[2019-01-09 16:29] JeffreyDevloo commented on #2179
Packaged in https://github.com/openvstorage/framework/releases/tag/2.13.4

[2019-01-09 16:29] #2179 closed, assigned to nobody

[2019-01-11 13:34] JeffreyDevloo opened #2241 "[Scrubber] Keepalive mechanism to invalidate the registration"
A small entry can be kept for every scrubber which every scrubber updates. After a certain lease period, another scrubber can cleanup the old scrubbers registrations and continue itself

[2019-01-15 09:31] JeffreyDevloo opened #2242 "[Logger] Do not enforce the file and enable/disable logging on the fly"
The Framework current logging sets up a filehandler for every logger instantiated. This is just plain wrong.
It enforces:
- The file to be preset (which is created as root 99% of the times)
- A new FileHandler (you cannot chose which file to use)
- Not using the default logger inheritance as every logger is on the same level

We should migrate to a logger system where all entrance points configure

[2019-01-15 15:18] JeffreyDevloo commented on #2220
Fixed by https://github.com/openvstorage/framework/pull/2228

[2019-01-16 14:16] sjovdnbos commented on #2226
As a rework of the CLI is in develop, this ticket was solved too.

Fixed by:
#2243
openvstorage-2.13.5-dev.1547649411.8c99925
openvstorage/framework-extensions#201
openvstorage-extensions-0.5.3-dev.1547647787.2afa2c6

[2019-01-17 13:33] JeffreyDevloo opened #2244 "KeyError on sorting disks"
API request:
[code]
[code]

Most likely introduced by https://github.com/openvstorage/framework/issues/2221

[2019-01-18 08:58] sjovdnbos commented on #1911
I investigated this with the information provided, but this issue is not present in current develop.
This was most probably fixed by the update rework introduced in bighorn.
We also do not want to backport this.

[2019-01-18 08:58] #1911 closed, assigned to nobody

[2019-01-23 10:51] JeffreyDevloo opened #2248 "Relation DataList shouldn't cache results post query"
If the DataList generated to represent the relation between objects is queried, it'll cache results under the relational key, causing mismatches.

[2019-01-24 07:51] yongshengma commented on #2214
I find it's not always true that asds cannot be claimed after a node is removed, reinstalled and added in.  Most of time they can be claimed and then everything works.  But sometimes it doesn't work and asds cannot be claimed even on a new node which means IP and hostname are totally new.

[2019-01-24 08:03] yongshengma commented on #2214
`[albabackends.add_osds]`

Jan 24 15:31:23 NODE-3 gunicorn: 2019-01-24 08:31:23 54000 +0100 - NODE-3 - 2657/139807204896592 - api/decorators.py - new_function - 138 - INFO - [albabackends.add_osds] - 17805a67-f2ce-426c-9323-b699faa472c7 - [] - {"pk": "7dcb2c30-3cb5-4cd9-85c4-92f27e4468b8"} - {"cookies": {"csrftoken": "In8uYjduj9i1qO4amQQ79CMi3nviUqJD", "sessionid": "obnmkapfq9wm4ns9ii1xu59jdcpxbwk

[2019-01-24 08:20] yongshengma commented on #2214
Hi JeffreyDevloo ,
I just noticed that the code I'm using has difference.  The URL for claiming is the following on my node:
`/api/alba/backends/7dcb2c30-3cb5-4cd9-85c4-92f27e4468b8/add_osds/?timestamp=1548300223638
`
which is `add_osds` instead of `add_units`.

I think you were asking to search `albabackends.add_units` , but I'm sure I got the same issue In original F version.

[2019-01-24 08:32] toolslive commented on #2214
there are some things you can check:
1) are the ASDs you  want to claim present in the output of the `list-available-osds` command ?
  `$> alba list-available-osds --config <abm-url>`
2) are the ASDS up and running ? (the connection refused error message hints that this is not the case)
3) can you claim the asds via the command line ?

[2019-01-24 09:14] yongshengma commented on #2214
Hi toolslive,
Any clue about abm-url ?  An example would be nice.

[2019-01-24 09:24] toolslive commented on #2214
it's an arakoon with the role of abm, so
[code]
so the abm's url for that alba is
`arakoon://config/ovs/arakoon/ny1-hddbackend01-abm/config?ini=%2Fmnt%2Fssd1%2Farakoon%2Fexternal_arakoon_cacc.ini`
it's needed when you want to do things with that backend (add namespaces, delete namespaces, add osds, claim osds, purge osds, ....)

Mind: Your environment might have multiple backends and not all nodes

[2019-01-24 09:29] yongshengma commented on #2214
Nice,  very nice!  I have only one backend so far.

[code]
192.168.0.49 is the target node I'm struggling on ASD claiming.  There should be 4 hard drives and so asds.

[2019-01-24 09:49] toolslive commented on #2214
you can add it via the cli
`alba add-osd --help`
(to add an asd, you will need its `host` and `port` , the  `abm-url` for the backend)
After you've add it, you can list it with `list-available-osds', and you can claim it (via the cli).

[2019-01-24 09:51] toolslive commented on #2214
normally, ASDs are discovered by alba components (maintenance, proxies) via UDP multicast.
But this multicast does not always work because of network (configuration) issues.

[2019-01-24 10:06] yongshengma commented on #2214
Just cannot play around add-osd.

`alba add-osd -h 10.10.10.9 -p 8600 --config arakoon://config/ovs/arakoon/ceng-abm/config?ini=%2Fopt%OpenvStorage%2Fconfig%2Farakoon_cacc.ini
`

I believe something missing.  For example, how to assign OSD id ?

[code]
all right.

[2019-01-24 10:13] yongshengma commented on #2214
[code]
Cool ! Appreciate!

[2019-01-24 10:21] JeffreyDevloo commented on #2214
Hi Yongshengma

The underlying commands is what the Framework also invokes. I'm still interested why the claiming was unsuccessful in the first place.
If you'd ever find yourself back in the situation, please provide me the worker logging and I'll look into it.

Best regards

[2019-01-24 10:26] yongshengma commented on #2214
Hi JeffreyDevloo

Sure.  No problem.

The `add-osd` didn't provide an option to specify an `osd id`, did it?  Does it look for only one available each time?

[2019-01-24 10:32] toolslive commented on #2214
there are 2 id's in this context.
`osd_id` :  this is the number the abm gives the osd when it's added (it just increases)
`long_id` : this is the world wide unique identifier of the osd. The osd creates this when launched for the first time (and it will communicate this when you connect to it)

[2019-01-24 10:44] toolslive commented on #2214
ftr, which alba version, and which framework version is this?

[2019-01-25 03:51] yongshengma commented on #2214
alba version
[code]

framework version
openvstorage-backend-core-1.10.2_dev.248ae6a
openvstorage-hc-1.10.2_dev.248ae6a
openvstorage-core-2.10.3_dev.b57ccf4
openvstorage-backend-webapps-1.10.2_dev.248ae6a
openvstorage-2.10.3_dev.b57ccf4
openvstorage-extensions-0.2.2_dev.461c67b
openvstorage-webapps-2.10.3_dev.b57ccf4
openvstorage-sdm-1.10.1_dev.936e27e
openvstorage-backend-1.10.2_dev.248ae6a

    t

[2019-01-25 04:00] yongshengma commented on #2214
The previous claiming issue still exists even if I powered off network switch and powered it on.  I just used cli to claim osds one by one.

However I got a new issue afterwards.  When I extended the vpool to this node, the action failed and gave error:

`Jan 25 11:29:17 NODE-3 celery: 2019-01-25 11:29:1707400  +0800 - NODE-3 - 42057/140345664415552 - celery/log.py - log - 109 - ERROR - Task ovs.s

[2019-01-25 06:22] yongshengma commented on #2214
Two more info before :

[code]
It tries to connect host='192.168.0.41', but this host has been removed and the NEW node is not this IP any more.  It looks like the old endpoint is still hiding somewhere.

[2019-01-25 10:49] JeffreyDevloo commented on #2248
The relation datalist are constructed by populating the _guids upon fetching the relation list. It caches its results but it does not fetch the result from the cache.
This currently circumvents the potential issue but its not something we're proud of. Still some work to do

[2019-01-26 09:52] yongshengma commented on #2214
Hi @JeffreyDevloo

Attached logs are from F version.  You will find 3 nodes' logs: 192.168.2.31, 192.168.2.32, 192.168.2.33.  Cluster was set up in this order.

Steps I did:
- shutdown 192.168.2.31  (first installed node)
- removed  it; success
- reinstalled 192.168.2.31
- ovs setup
- assigned roles
- added ASD node
- initialized drives ; success
- claimed osds; spinning forever

Continue :
- clai

[2019-01-31 10:11] JeffreyDevloo opened #2252 "VDisk statistics should include the unit of time used"
The volumedriver statistics are converted into different keys without the unit of time in it

For example:
`backend_read_request_usecs` becomes `backend_read_latency`

[2019-02-15 13:50] JeffreyDevloo opened #2260 "Hook loading does not allow relative importing"
All 'plugin' alike systems within the framework use imp.load and check for decorator metadata to load in the dynamic configurable function.
Because imp.load loads a single file, not a module, relative importing is not possible.

I'd recommend loading plugins differently: specifying plugin directories for all types and loading them using`importlib`

[2019-02-18 14:10] JeffreyDevloo opened #2261 "New config management changes keys but does not regenerate any services"
The key is now config.ini
[code]

Maintenance service (just an example)
[code]
Maintenance config:
[code]
The albamgr_cfg_url is `arakoon://config/ovs/arakoon/backend-abm/config?ini=%2Fopt%2FOpenvStorage%2Fconfig`. Not .ini

[2019-02-18 14:52] JeffreyDevloo opened #2262 "New config management ruins ovs config edit"
[code]

[code]

The paramater raw=True has been ignored. It should still be specifiable for this example.

[2019-02-19 13:36] JeffreyDevloo commented on #2242
Fixed by https://github.com/openvstorage/framework/pull/2251

[2019-02-19 13:36] JeffreyDevloo commented on #2013
Fixed by https://github.com/openvstorage/framework/pull/2251

[2019-02-19 13:37] JeffreyDevloo commented on #1777
Fixed by: https://github.com/openvstorage/framework/pull/2251

[2019-02-19 15:17] sjovdnbos commented on #2262
### Fixed by:
https://github.com/openvstorage/framework-extensions/pull/207

[2019-02-19 15:17] #2262 closed, assigned to sjovdnbos

[2019-02-19 15:20] sjovdnbos commented on #2261
### Fixed by:
https://github.com/openvstorage/alba-asdmanager/pull/360
https://github.com/openvstorage/framework-alba-plugin/pull/634
### Package information:
openvstorage-backend-1.13.3-dev.1550735674.9318a8a
openvstorage-sdm-1.13.4-dev.1550735718.176b4d2

[2019-02-19 18:00] JeffreyDevloo commented on #2231
Looks like a configuration error. The asd-manager was configured with both IPs.

[2019-02-20 09:21] sjovdnbos commented on #2261
After update, maintenance config now looks like:
[code]

[2019-02-20 15:09] JeffreyDevloo commented on #1582
Highly likely it got fixed by https://github.com/openvstorage/framework/pull/2134

[2019-02-20 17:54] #2231 closed, assigned to nobody

[2019-02-20 17:55] JeffreyDevloo commented on #2241
We've had a few encounters where restarting all ovs-workers did not invalidate the queue.
It'd be best to re-iterate the invalidaton mechanic

[2019-02-21 07:56] #2261 closed, assigned to nobody

[2019-02-21 10:21] redlicha commented on #1923
Some more info on the `VolumeDriverErrorCode`s
* `Unknown`: (unused) placeholder
* `ReadFromDisposableSCO`: error reading data from a disposable SCO in the SCO cache (I/O error on device?) Will trigger SCO cache mountpoint offlining.
* `ReadFromNonDisposableSCO`: error reading data from a non-disposable SCO  in the SCO cache (I/O Error on device?). Will trigger SCO cache mountpoint offlining and t

[2019-02-21 10:50] sjovdnbos commented on #2252
### Fixed by:
https://github.com/openvstorage/framework/pull/2264
openvstorage-2.13.5-dev.1550755876.e9ac92d

[2019-02-21 13:31] #2252 closed, assigned to nobody

[2019-02-21 13:33] sjovdnbos commented on #2248
### Fixed by:
https://github.com/openvstorage/framework/pull/2249

[2019-02-22 14:41] JeffreyDevloo opened #2265 "Being scrubbed dynamic does not refresh the scrubbing information property"
The dynamic function does not reload the self.scrubbing_information property. This leads to the dynamic making no sense as it keeps using cached information.

The current work-around is to discard all changes which triggers a reload from the backend before calling the being_scrubbed

[2019-02-26 16:09] sjovdnbos commented on #2260
implementation of importlib fixed by:

https://github.com/openvstorage/framework-extensions/pull/209
https://github.com/openvstorage/framework/pull/2266

Package information:
openvstorage-2.13.5-dev.1551342559.9291142

[2019-02-27 17:17] JeffreyDevloo commented on #2237
Needs to be verified if it still occurs after https://github.com/openvstorage/framework-alba-plugin/issues/431

[2019-03-01 09:30] JeffreyDevloo opened #2269 "[DAL] Redo hybrids"
The DataObject hybrids work by using metaclasses. This means that they are only resolvable when instantiating one as opposed to having a complete definition out of the box.
Having these dynamic classes slows down the overal development process as there is no type hinting by the IDE, requires learning all properties by heart and making it overall a pain the make changes to the DAL.

The DataObject

[2019-03-01 10:04] sjovdnbos commented on #2260
Aftermath brought update issues.
### Fixed by:
https://github.com/openvstorage/framework/pull/2268
https://github.com/openvstorage/framework-extensions/pull/211

[2019-03-07 09:55] JeffreyDevloo opened #2271 "[MDS safety] Certain volumes have lesser safety than expected"
Certain volumes on the Nuvolat environment are only having one mds entry in their metadata backend config while their should be at a minimum of 2.

The only thing that I can think about is that the master switches and the old master is removed first from the config. Leaving only the single slave behind. The next step is normally configuring the local master with its slave but if an exception occur

[2019-03-07 15:43] sjovdnbos commented on #2265
### Fixed by:
https://github.com/openvstorage/framework/pull/2272
### Package information:
openvstorage-2.13.5-dev.1551973510.5476c6f

[2019-03-07 16:56] sjovdnbos commented on #2014
### Should be fixed by:
https://github.com/openvstorage/alba-asdmanager/pull/361

[2019-03-08 09:09] JeffreyDevloo commented on #2161
This is only necessary in the field.

[2019-03-11 08:33] sjovdnbos commented on #2088
### Fixed by:
https://github.com/openvstorage/framework-alba-plugin/pull/636
https://github.com/openvstorage/framework/pull/2273
https://github.com/openvstorage/framework/pull/2274
https://github.com/openvstorage/framework-iscsi-plugin/pull/85

### Packaging info:
openvstorage-2.13.5-dev.1552299890.591bd38
openvstorage-iscsi-plugin-0.5.2-dev.1552300029.a7f0143
openvstorage-backend-1.13.3-dev.15522

[2019-03-12 13:54] sjovdnbos commented on #2016
### Fixed by:
https://github.com/openvstorage/framework/pull/2276

[2019-03-12 15:21] JeffreyDevloo opened #2277 "Pyrakoon calls taking a lot of time"
We frequently observe 'Pyrakoon call get took ...` in the webapp-api log.

Further observation lead to:
[code]
We can increase the number of api workers to avoid the lock (as it is process bound).
However a more permanent fix is to migrate to a lock-less client

[2019-03-13 07:19] toolslive commented on #2277
or pool the clients, or load balance the traffic (you typically have 2 nodes running the API).

The other problem is that gunicorn doesn't balance the work well. the first worker to respond gets the work....
but our work is IO bound and not CPU bound, so having work will not keep 1 worker to enter the race for more work. In practice, there's 1 worker that wins 80% of the race for new work.

[2019-03-18 16:27] JeffreyDevloo opened #2278 "[Migrate] Full mds checkup is not needed"
When a migrate occurs, a full mds checkup is not needed as it will hold up the lock too long.
The mds checkup should only be scheduled when:
- Extending a vpool
- Shrinking a vpool
- Periodically
as it is quite a heavy lifter. It
- Creates new MDS services when overloaded or a storagerouter has none
- Removes MDS services when no longer required
- Run the safety ensurer for all vdisks

In the even

[2019-03-18 16:27] JeffreyDevloo commented on #2278
Fixed by https://github.com/openvstorage/framework/pull/2254/files

[2019-03-18 16:27] #2278 closed, assigned to nobody

[2019-03-19 17:28] #2161 closed, assigned to nobody

[2019-03-19 17:29] JeffreyDevloo commented on #2277
Has been fixed by https://github.com/openvstorage/framework-extensions/pull/215. The bulk of the time is spent acquiring a lock because of the single client.

[2019-03-19 17:30] #2277 closed, assigned to nobody

[2019-03-20 08:52] sjovdnbos commented on #1514
### Should be fixed by:
https://github.com/openvstorage/framework/pull/2280

[2019-03-20 10:29] sjovdnbos commented on #1925
### Fixed by:
https://github.com/openvstorage/framework/pull/2280

[2019-03-21 13:07] sjovdnbos commented on #1514
For now: only `Running` and `failure` are implemented. There is no information per std known in the fwk at this moment regarding `installing` or `deleting` per storagedriver. If this is needed in the future, volumedriver calls will be needed for this information.

[2019-03-22 14:44] gabhijit opened #2281 "Developer Getting Started"
Is there a 'Developer Getting Started' guide?

Basically what I am looking at is - how to get started with the code on a developer's laptop, (it's okay if I have to create multiple VMs). I looked at the Installation Guide. But that's really an overkill to actually have a 2U Server to just getting started.

[2019-03-27 09:12] sjovdnbos commented on #1927
### Fixed by:
https://github.com/openvstorage/framework-extensions/pull/218

### Package information:
openvstorage-extensions-0.1.9

[2019-03-29 14:06] sjovdnbos commented on #1497
### Tested version: rabbitmq-server: 3.7.14-1
depends on:  20.x

Tested on 3N develop cluster.

### Update:
[code]
So i updated all nodes at once. Rolling upgrade was not tested, as discussed with @jtorreke

### Results
This works fine, fusemountpoint communication is still intact.

[2019-04-04 15:43] JeffreyDevloo opened #2286 "Refresh package information does unneccesary loading"
Observed on Nuvolat:
[code]

Looks like its coming from the loop:
https://github.com/openvstorage/framework/blob/develop/ovs/lib/generic.py#L306

Hooks are fetched from the local files, it shouldn't be executed for every storagerouter

[2019-04-09 09:05] yongshengma commented on #2214
Hi @toolslive

What's the alba command for reverse operations?  I mistakenly took away a hard drive running as an ASD and the data has been wiped out.  This caused framework-alba-plugin UI hanging.  I think I have to remove this ASD from backend. Should I use `alba asd-delete` first and then `purge-osd`? What does the key required by `asd-delete` look like?

Best regards,
Yongsheng

[2019-04-09 18:53] toolslive commented on #2214
no. `asd-delete` allows you to delete a key value pair from an asd. This is *NOT* what you need.
you just need to have maintenance running and call
[code]

The `<long-id>` you need can be retrieved via `alba list-osds ...`
After that call, the ASD will eventually be removed from the cluster.

[2019-04-10 15:30] KevinHun opened #2287 "Scrubber crashes after a while: "stream has been closed""
Problem at gig.
When doing scrubbing we get following stacktrace in the worker log:

`2019-04-10 14:19:15 23500 +0000 - mr4-stor-01 - 16074/140273606706944 - lib/generic tasks scrub - 1656 - INFO - Scrubber e7bd729c-4aa3-49d7-b3d6-77673fbf1a7d - vPool data01 - StorageRouter mr4-stor-04 - Stack 2 - Removing services ovs-albaproxy_data01_mr4-stor-04_e1d0801
7-2d88-4f83-9a6e-4ee7a875afc3_scrub_0
2019